::ng-deep table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: bold;
  background-color: #16a184;
  color: white;
}
.m-portlet__head-text{
  font-size: 1.2em;
  margin-top: -1em;
}
.buttons_position {
  margin-top: -4.1em;
}

mat-header-cell {
  /* padding: 0px; */
  text-align: center;
  background: #16a184;
  justify-content: center;
  color: white;
  border: none;
  font-size: 14px;
}
mat-footer-row, mat-row {
  max-height: 3.3em !important;
}
.highlight {
  background: #f9f9f9;
}
.mat-cell,
.mat-footer-cell {
  font-size: 14px;
  justify-content: center;
}
.margin_buttons {
  margin: 1em 1em 0 0;
}
.mat-column-sn {
  flex: 0 0 10% !important;
}
.mat-column-select {
  flex: 0 0 5% !important;
}
.mat-column-appStatus {
  flex: 0 0 20% !important;
}
.mat-column-leaveReason {
  flex: 0 0 39% !important;
  justify-content: left;
  padding-left: 4em;
}
.mat-column-leaveType {
  flex: 0 0 10% !important;
}
