<m-portlet [options]="{enableSticky: true}">
    <div mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Leave Approval
            </h3>
        </div>
    </div>
    <ng-container mPortletBody>
        <table #dataTable class="display" style="width:100%">

        </table>
    </ng-container>
</m-portlet>

<!-- <ng-container mPortletBody>
    <div class="m-portlet">
        <div class="m-portlet__body m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-12">
                    <div class="m-widget14">
                        <ng-container mPortletHeadTitle>
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                  Leave Approval Report
                                </h3>
                            </div>
                        </ng-container>
                        <hr /><br />

                        <table #dataTable class="display" style="width:100%">

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="col-xl-12" *ngIf="showProcessing" align="center">
            <img src="assets/app/media/img/processing/loading.gif">
        </div>
</ng-container> -->

<div mPortletBody *ngIf="showDistrictWise">
    <div class="m-portlet">
        <div class="m-portlet__body m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-12">
                    <div class="m-widget14">
                        <ng-container mPortletHeadTitle>
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    District Wise Leave Approval Report
                                </h3>
                            </div>
                        </ng-container>
                        <hr /><br />

                        <table #dataTable2 class="display" style="width:100%">

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</div>

<div mPortletBody *ngIf="showUserWise">
    <div class="m-portlet">
        <div class="m-portlet__body m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-12">
                    <div class="m-widget14">
                        <ng-container mPortletHeadTitle>
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    User Wise Leave Approval Report
                                </h3>
                            </div>
                        </ng-container>
                        <hr /><br />

                        <div>
                            <form [formGroup]="leaveApproveForm">
                                <mat-table [dataSource]="dataSource4" matSort #sort2="matSort" formArrayName="formArray"
                                    #MatTable>
                                    <div matColumnDef="select">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            <mat-checkbox class="check-boxes" (change)="$event ? masterToggle() : null"
                                                [checked]="selection.hasValue() && isAllSelected()"
                                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                                            </mat-checkbox>&nbsp;&nbsp;
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row;let i=index" [formGroupName]="i">
                                            <mat-checkbox class="check-boxes" formControlName="checked" (click)="$event.stopPropagation()"
                                                (change)="getSelectionValue($event,i,row)"
                                                [checked]="selection.isSelected(row)">
                                            </mat-checkbox>&nbsp;&nbsp;
                                        </mat-cell>
                                    </div>

                                    <ng-container matColumnDef="sn">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;SN.
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="requestDate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Request Date
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element">{{element.requestDate | date}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="appStatus">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Approval Status
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.appStatus.toUpperCase()}} </mat-cell>
                                    </ng-container>
                                    <!-- <ng-container matColumnDef="status">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Status
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
                                    </ng-container> -->

                                    <div matColumnDef="leaveType">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Leave Type
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element; let i=index" [formGroupName]="i">
                                            <mat-form-field style="width: 97%">
                                                <mat-select formControlName="leaveType">
                                                    <mat-option *ngFor="let leave of leaveTypes" [value]=leave.value>
                                                        {{leave.viewValue}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </mat-cell>
                                    </div>
                                    <ng-container matColumnDef="leaveReason">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Leave Reason
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.leaveReason}} </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns3; sticky: true"></mat-header-row>
                                    <mat-row [ngClass]="{'highlight': index%2 == 1}"
                                        *matRowDef="let row; columns: displayedColumns3;let index = index"></mat-row>
                                </mat-table>
                                <mat-paginator #paginator3 [length]="dataSource4?.data?.length || 0"
                                    [pageSizeOptions]="[5, 20, 50, 100]" [pageSize]="20" showFirstLastButtons>
                                </mat-paginator>
                                <div class="row buttons_position">
                                    <div class="col-lg-6">
                                        <button mat-raised-button color="primary" [disabled]="disableApprovalBtn" class="margin_buttons"
                                            (click)="approveLeave()">Approve
                                            Leave</button>
                                        <!-- <button mat-raised-button color="primary" class="dlt" class="margin_buttons"
                                            [disabled]="disableDeleteBtn" (click)="deleteLeave()">Delete Leave</button> -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</div>