<m-portlet [options]="{enableSticky: true}">
    use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Broadcast Message
            </h3>
        </div>
    </ng-container>
     <ng-container mPortletBody>

        <form [formGroup]='broadcastMessageForm' class="m-form m-form--label-align-left- m-form--state-"
            (ngSubmit)="submitRecords()">
                <div class="m-portlet__body">
                    <div class="row" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'">
                        <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 ">
                            <div class="m-form__section m-form__section--first">
                                <div class="form-group m-form__group row" [hidden]=!showAdminAndMGRLevelFilter>

                                    <div class="col-lg-3 m-form__group-sub">
                                        <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub" *ngIf="showState">
                                        <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent></m-state>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub" *ngIf="showDistrict">
                                        <m-district [check]=true (valueChange)="getDistrictValue($event)"
                                            #callDistrictComponent></m-district>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                                        <m-designation (valueChange)="getDesignation($event)" #callDesignationComponent
                                            [check]=true></m-designation>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                                        <m-employee [check]=true (valueChange)="getEmployeeValue($event)"
                                            #callEmployeeComponent></m-employee>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput formControlName="Subject" placeholder="Subject">
                                            <mat-error>Subject is required!!!</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub">
                                        <m-fromdate (valueChange)="getValidDate($event)" [required]="true" #validity #callFromdateComponent></m-fromdate>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <textarea matInput formControlName="Message" cdkTextareaAutosize 
                                            #autosize="cdkTextareaAutosize"
                                            cdkAutosizeMinRows="1"
                                            cdkAutosizeMaxRows="5"
                                                placeholder="Message"></textarea>
                                                <mat-error>Message is required!!!</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3">

                                        <button mat-raised-button color="accent"
                                            [disabled]="!broadcastMessageForm.valid"><span><i
                                                    class="la la-check"></i></span>Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="row">
                        <div class="col-xl-12 ">
                            <div class="m-form__section m-form__section--first">
                                <div class="form-group m-form__group row">
                                    
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-form__actions m-form__actions">
                        <div class="row">
                            <div class="col-lg-5"></div>
                            
                        </div>
                    </div> -->
                </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
        </ng-container>
        </m-portlet>
        <m-portlet>
        <!-- <br /><br /> -->


        <ng-container mPortletHeadTitle >
            <div [hidden]="!show" class="m-portlet__head-title" >
                <h3 class="m-portlet__head-text">
                    View Broadcast Message Details
                </h3>
            </div>
        </ng-container>
        
        <ng-container mPortletBody>

        <div class="table-container mat-elevation-z8">
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-form-field class="mat-form-fields">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input matInput (keyup)="applyFilter($event.target.value)"
                    placeholder="Search..">
            </mat-form-field>
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>&nbsp;&nbsp;
                    </th>
                    <td mat-cell *matCellDef="let row;let i=index">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>&nbsp;&nbsp;
                    </td>
                </ng-container>
                <ng-container matColumnDef="sn">
                    <th mat-header-cell *matHeaderCellDef>SN.</th>
                    <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef>State Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.state.stateName}} </td>
                </ng-container>
                <ng-container matColumnDef="district">
                    <th mat-header-cell *matHeaderCellDef>District Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.district.districtName}} </td>
                </ng-container>
                <ng-container matColumnDef="userInfo">
                    <th mat-header-cell *matHeaderCellDef>User Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.userInfo.name}} </td>
                </ng-container>
                <ng-container matColumnDef="subject">
                    <th mat-header-cell *matHeaderCellDef> Subject </th>
                    <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
                </ng-container>
                <ng-container matColumnDef="message">
                    <th mat-header-cell *matHeaderCellDef> Message </th>
                    <td mat-cell *matCellDef="let element"> {{element.message}} </td>
                </ng-container>
                <ng-container matColumnDef="validity">
                    <th mat-header-cell *matHeaderCellDef>Validity </th>
                    <td mat-cell *matCellDef="let element"> {{element.validity | date}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3 m-form__group-sub">
                <!-- <label class="form-control-label">&nbsp; </label> -->
                <button mat-raised-button color="accent" (click)="deleteMessage()"
                    [disabled]=false>Delete
                </button>
            </div>
        </div>
    </ng-container> 
 </m-portlet> 


 