
fieldset {
    width: 100%;
    margin: 10px;
    padding: 20px;
	border:1px solid #999;
	border-radius:8px;
	box-shadow:0 0 10px #999;
}
legend {
	background:#fff;
}
::ng-deep .m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text {

    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
   // font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}table {
	width: 100%;
}

.table-container {
	height: 400px;
	overflow: auto;
}


tr:nth-of-type(odd) { 
	background: #eee; 
}

th { 
    padding: 0px; 
    text-align: center;
    background: #16a184;
    color: rgb(255, 255, 255); 
    border: 1px solid #ccc; 

}

td { 
    padding: 0px; 
    border: 1px solid #ccc; 
    text-align: center; 
}

.mat-column-select {
    overflow: initial;
}
.mat-form-fields {
    font-size: 14px;
    width: 20%;
  }
  ::ng-deep .form-control {

    border-color: rgb(92, 89, 89);
    color: #6d6f79;

}
::ng-deep .input-group .input-group-append > .input-group-text, .input-group .input-group-prepend > .input-group-text {

    border-color: #16a184;
    background-color: #16a184;
    color: #fafafa;
    font-weight: 200;

}

.m-aside-left.m-aside-left--skin-dark {

    background-color: darkslateblue;

}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 0px;
    width: 1%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
th.mat-header-cell {
    text-align: center;
    white-space: pre;
    font-size: medium;
}