<div class="px-4 py-5">
    <div class="d-flex justify-content-between">
            <h1 mat-dialog-title>View Tour Program</h1>
            <div>
                <button mat-raised-button (click)="onNoClick()" color="accent" tabindex="-1">Cancel</button>
            </div>
        </div>
    <div mat-dialog-content>
        <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="teamTPFilter" (ngSubmit)="showReport()">
            <!--begin: Form Body -->
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
    
                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">* Month:</label>
                                    <m-month (valueChange)="getMonth($event)" #callMonthComponent></m-month>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">* Year:</label>
                                    <m-year (valueChange)="getYear($event)" #callYearComponent></m-year>
                                </div>
    
    
                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">&nbsp;</label>
                                    <div class="m-form__control">
                                        <button mat-raised-button color="accent" [disabled]="!teamTPFilter.valid">
                                            <span>
                                                <i class="la la-check"></i>
                                            </span>View Report</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="px-5 mt-3">
            <table #userDataTable class="display" style="width:100%">
        
            </table>
        </div>
    
    </div>
    
   
</div>