<m-portlet [options]="{enableSticky: true}">
	<!-- use ng-container[mPortletHeadTitle] for the title -->
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				Mark In and Mark Out Report
			</h3>
		</div>
	</ng-container>
	<div mPortletHeadTools>
		<div>
			<mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
		</div>
	</div>
	<div mPortletBody [hidden]="!isToggled">
		<form [formGroup]='loginDetailForm' class="m-form m-form--label-align-left" (ngSubmit)="generateReport()">

			<div class="m-portlet__body">
				<div class="row">
					<div class="col-xl-12 ">
						<div class="m-form__section m-form__section--first">
							<div class="form-group m-form__group row">
								<div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
									<m-division (valueChange)="getDivisionValue($event)" [check]=true #callDivisionComponent>
									</m-division>
								</div>

								<div class="col-lg-3 m-form__group-sub">
									<m-designation [check]=false (valueChange)="getDesignation($event)" #callDesignationComponent></m-designation>
								</div>
								<div class="col-lg-3 m-form__group-sub">
									<m-employee [check]=false (valueChange)="getEmployee($event)" #callEmployeeComponent></m-employee>
								</div>

								<div class="col-lg-3 m-form__group-sub">
									<m-status [check]=false (valueChange)="getStatusValue($event)" #callStatusComponent></m-status>
								</div>

								<div class="col-lg-3 m-form__group-sub">
									<m-month #monthComponent (valueChange)="getFromDate($event)"></m-month>
								</div>
								<div class="col-lg-3 m-form__group-sub">
									<m-year #yearComponent (valueChange)="getToDate($event)"></m-year>
								</div>
								<div class="col-lg-3 m-form__group-sub">
									<label class="form-control-label">&nbsp; </label>
									<button mat-raised-button color="accent" [disabled]="!loginDetailForm.valid"><span><i class="la la-check"></i></span>Generate
										Report</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="m-portlet__foot m-portlet__foot--fit">
			</div>
		</form>
	</div>
</m-portlet>
<ng-container>
	<div class="col-xl-12" *ngIf="showProcessing" align="center">
		<img src="assets/app/media/img/processing/loading.gif">
	</div>
</ng-container>

<div mPortletBody *ngIf="isShowReport">
	<div class="m-portlet">
		<div class="m-portlet__body m-portlet__body--no-padding">
			<div class="row m-row--no-padding m-row--col-separator-xl">
				<div class="col-xl-12">
					<div class="m-widget14">
						<ng-container mPortletHeadTitle>
							<div class="m-portlet__head-title">
								<h3 class="m-portlet__head-text">
									Mark In and Mark Out Details
								</h3>
							</div>
						</ng-container>
						<hr /><br />
						<table #dataTable class="display" style="width:100%">

						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
