<m-portlet [options]="{enableSticky: true}">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Sent Mail
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletBody>
        <h3>{{mailStatus}}</h3>
        <mat-accordion>
            <ng-container *ngFor="let in of inboxMail; let $index = index">
                <mat-expansion-panel [expanded]="showDiv == $index">
                    <mat-expansion-panel-header style="background-color:#ebedf2">
                        <mat-panel-title>
                            <span style="white-space: nowrap; width: 180px; overflow: hidden; text-overflow: ellipsis; "> {{extractNameFromArray(in?.To)}}</span>
                        </mat-panel-title>
                        <mat-panel-description>
                            <div class="mat-panel-description">
                                <!-- <span> {{getSomeText('subject',in?.subject,in?.message)}}</span> -->
                                <span style="white-space: nowrap; width: 350px; overflow: hidden; text-overflow: ellipsis; "> {{in?.Subject}} - <span>{{in?.Message | htmlToPlainText}}</span></span>
                                <span> {{in?.MailDateTime | date:'medium'}}</span>
                            </div>
                        </mat-panel-description>

                    </mat-expansion-panel-header>

                    <div class="row">
                        <div class="col-12 margin-top-10">
                            <span><b> From :</b></span>
                            <span> {{in?.fromName}}({{in?.fromUserDesignation}}) - {{in?.fromUserDistrict}}</span>
                        </div>
                        <div class="col-12 margin-top-10">
                            <span><b> To   :</b></span>
                            <span> {{extractNameFromArray(in?.To)}}</span>

                        </div>
                        <div class="col-12 margin-top-10">
                            <span><b> CC   :</b></span>
                            <span> {{extractNameFromArray(in?.CC)}}</span>

                        </div>
                        <div class="col-12 margin-top-10">
                            <span><b> BCC   :</b></span>
                            <span> {{extractNameFromArray(in?.BCC)}}</span>

                        </div>
                        <div class="col-12 margin-top-10">
                            <span><b> Date :</b></span>
                            <span> {{in?.MailDateTime | date:'medium'}}</span>
                        </div>
                        <div class="col-12 margin-top-10">
                            <span><b> Subject :</b></span>
                            <span> {{in?.Subject}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div style="border-style: ridge;border-radius: 5px; margin-top: 10px;">
                                <p style="margin-top: 10px;padding: 5px" [innerHTML]="in?.Message"></p>
                            </div>
                        </div>
                        <div class="col-12" style="margin-top: 10px">
                            <div *ngFor="let attachment of in.attachments" style="border-style: ridge;border-radius: 5px; margin-top: 10px; display: flex;
                             background-color: #ebedf2; justify-content: space-between">
                                <span style="margin-left: 5px; font-weight: bold">
                                 <a href="javascript:void(0)" (click)='downloadAttachment(attachment)'> {{attachment.originalFileName}}</a>
                              </span>
                                <span style="margin-right: 5px;margin-left: 5px; cursor: pointer;"><i class="fa fa-download" data-toggle="tooltip" title="Download Attachment!" aria-hidden="true" (click)=downloadAttachment(attachment)></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px">
                        <div class="col-12" align="right">
                            <button type="button" class="btn btn-warning py-1 px-2" (click)="Reply(in, $index)"><span><i class="fa fa-reply" aria-hidden="true"></i></span>&nbsp; Reply</button> &nbsp;&nbsp;
                            <button type="button" class="btn btn-warning py-1 px-2" (click)="ReplyAll(in, $index)"><span><i class="fa fa-reply-all" aria-hidden="true"></i></span>&nbsp; Reply All</button> &nbsp;&nbsp;
                            <button type="button" class="btn btn-warning py-1 px-2" (click)="Forward(in, $index)">Forward&nbsp;<span><i class="fa fa-forward" aria-hidden="true"></i></span></button>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px" *ngIf="showDiv===$index">

                        <div class="col-12">
                            <mat-form-field style="width:100%;">
                                <mat-chip-list #chipListTo aria-label="To">
                                    <mat-chip *ngFor="let usr of toUsers" [selectable]="selectable" [removable]="removable" (removed)="remove(usr)">
                                        {{usr?.name}}({{usr?.designation}}){{usr?.district}}
                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                    </mat-chip>
                                    <input [readonly]="inputTypeReadOnly" placeholder="To" #toUserInput [formControl]="ToCtrl" [matAutocomplete]="autoTo" [matChipInputFor]="chipListTo" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
                                    <button *ngIf="currentUser.userInfo[0].designationLevel != '1'" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="openDialog('To')">
                                      <mat-icon>filter_list</mat-icon>
                                  </button>
                                </mat-chip-list>
                                <mat-autocomplete #autoTo="matAutocomplete" (optionSelected)="selected($event)">
                                    <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                                        {{user?.name}}({{user?.designation}}){{user?.district}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-form-field style="width:100%;">
                                <mat-chip-list #chipListCC aria-label="CC">
                                    <mat-chip *ngFor="let usr of ccUsers" [selectable]="selectableCC" [removable]="removableCC" (removed)="removeCC(usr)">
                                        {{usr?.name}}({{usr?.designation}}){{usr?.district}}
                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                    </mat-chip>
                                    <input [readonly]="inputTypeReadOnly" placeholder="CC" #ccUserInput [formControl]="ccCtrl" [matAutocomplete]="autoCC" [matChipInputFor]="chipListCC" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addCC($event)">
                                    <button *ngIf="currentUser.userInfo[0].designationLevel != '1'" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="openDialog('CC')">
                                          <mat-icon>filter_list</mat-icon>
                                  </button>
                                </mat-chip-list>
                                <mat-autocomplete #autoCC="matAutocomplete" (optionSelected)="selectedCC($event)">
                                    <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                                        {{user?.name}}({{user?.designation}}){{user?.district}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-form-field style="width:100%;">
                                <mat-chip-list #chipListBCC aria-label="BCC">
                                    <mat-chip *ngFor="let usr of bccUsers" [selectable]="selectableBCC" [removable]="removableBCC" (removed)="removeBCC(usr)">
                                        {{usr?.name}}({{usr?.designation}}){{usr?.district}}
                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                    </mat-chip>
                                    <input [readonly]="inputTypeReadOnly" placeholder="BCC" #bccUserInput [formControl]="bccCtrl" [matAutocomplete]="autoBCC" [matChipInputFor]="chipListBCC" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addBCC($event)">
                                    <button *ngIf="currentUser.userInfo[0].designationLevel != '1'" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="openDialog('BCC')">
                                      <mat-icon>filter_list</mat-icon>
                                  </button>
                                </mat-chip-list>
                                <mat-autocomplete #autoBCC="matAutocomplete" (optionSelected)="selectedBCC($event)" multiple="true">
                                    <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                                        {{user?.name}}({{user?.designation}}){{user?.district}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>

                        <div class="col-12">
                            <quill-editor [styles]="{ height: '200px' }" [formControl]="mailBody"></quill-editor>
                        </div>
                        <div class="col-12" style="margin-top: 10px">
                            <div *ngFor='let url of urls' style="border-style: ridge;border-radius: 5px; margin-top: 10px; display: flex;
                             background-color: #ebedf2; " class="align-items-center">
                                <span style="margin-left: 5px; font-weight: bold">{{url.name}}</span>

                                <span class="ml-auto">
                                  <div class="progress" style="width: 150px">
                                      <div class="progress-bar" role="progressbar" [style.width.%]="url.fileUploaded" aria-valuenow="url.fileUploaded" aria-valuemin="0" aria-valuemax="100">{{url.fileUploaded}}%</div>
                                  </div>
                              </span>
                                <span style="margin-right: 5px;margin-left: 5px; cursor: pointer;"><i class="fa fa-window-close" aria-hidden="true" (click)=deleteAttachment(url)></i></span>
                            </div>
                        </div>


                        <div class="col-12" align="right" style="margin-top:15px">
                            <input type='file' (change)="onSelectFile($event)" #selectFile style="display: none" multiple>
                            <button class='btn btn-primary btn-sm p-1' title="Attach Files" (click)="selectFile.click()"><i class='fa fa-paperclip'></i></button>&nbsp;&nbsp;
                            <button type="button" class="btn btn-warning py-1 px-2" (click)="Send(in, $index)"> Send &nbsp;<span><i class="fa fa-paper-plane" aria-hidden="true"></i></span></button> &nbsp;&nbsp;
                            <button type="button" class="btn btn-warning py-1 px-2" (click)="SaveAsDraft(in, $index)"> Save As Draft &nbsp;<span><i class="fa fa-save" aria-hidden="true"></i></span></button> &nbsp;&nbsp;
                        </div>

                    </div>
                </mat-expansion-panel>
            </ng-container>
        </mat-accordion>

    </ng-container>
</m-portlet>