.example-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: unset;
}

//  / Zebra striping /
tr:nth-of-type(odd) {
    background: #eee;
}

th {
    padding: 10px;
    text-align: center;
    background: #16a184;
    color: rgb(235, 235, 235);
    position: sticky;
    top: 0;
}

td {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    width: 200px;
    font-weight: 400;
}

.mat-header-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
}

th.mat-column-sno,
td.mat-column-sno {
    width: 50px;
}

::ng-deep table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: bold;
    background-color: #16a184;
    color: white;
}

tr.row-2 th,
tr.row-3 th {
    position: sticky;
    top: 40.5px;
}

tr.row-3 th {
    top: 81.5px;
}