<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Manager Wise SSS Report
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='mgrJointForm' class="m-form m-form--label-align-left" (ngSubmit)="generateReport()">
            <div class="m-portlet__body">
                <!-- <div class="row">

                  <div class="col-lg-3 m-form__group-sub">
                      <mat-radio-group formControlName="type" (click)="getDesignationList()">
                          <mat-radio-button value="monthly" [checked]='true'>Monthly</mat-radio-button>
                           <mat-radio-button value="yearly">Yearly</mat-radio-button>
                      </mat-radio-group>
                  </div>
              </div> -->
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">

                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                                    <m-division (valueChange)="getDivisionValue($event)" [check]=true #callDivisionComponent>
                                    </m-division>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-designation #callDesignationComponent (valueChange)="getDesignationLevel($event)" [check]="check"></m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-status [check]="false" (valueChange)="getStatus($event)" #callStatusComponent>
                                    </m-status>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-employee #callEmployeeComponent (valueChange)="getEmployee($event)" [check]="isMultipleEmp"></m-employee>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">&nbsp; </label>
                                    <button mat-raised-button color="accent" [disabled]="!mgrJointForm.valid"><span><i
                                                class="la la-check"></i></span>Generate
                                        Report</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>
<div *ngIf="isShowReport">
    <m-portlet>
        <!-- use ng-container[mPortletHeadTitle] for the title -->
        <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Manager Wise SSS Report
                </h3>
            </div>
        </ng-container>
        <div mPortletHeadTools>
            <button mat-raised-button color="accent" (click)="this.exporttoExcel();">
                <span>
                    <i class="la la-download"></i>
                </span>Download</button>
        </div>
        <div mPortletBody>
            <div style="overflow-x:auto; max-height: 32rem;" class="mat-elevation-z8">
                <table class="table-responsive-sm" id="tableId1">
                    <thead class="border black solid 1px;">
                        <tr>
                            <th rowspan="3">MGR Name</th>
                            <th rowspan="3">Headquarter</th>
                            <th rowspan="3">Designation</th>
                            <th colspan="9" style="text-align: center" *ngFor="let month of dynamicTableHeader">{{month}}</th>
                        </tr>
                        <tr class="row-2">
                            <ng-container *ngFor="let month of dynamicTableHeader">
                                <th colspan="1">Opening Balance</th>
                                <th colspan="2">Receipt</th>
                                <th colspan="2">Sales Return</th>
                                <th colspan="2">Sales</th>
                                <th colspan="2">Closing Balance</th>
                            </ng-container>
                        </tr>
                        <tr class="row-3">
                            <ng-container *ngFor="let month of dynamicTableHeader">
                                <!-- <th>Qty</th> -->
                                <th>Val</th>
                                <th>Qty</th>
                                <th>Val</th>
                                <th>Qty</th>
                                <th>Val</th>
                                <th>Qty</th>
                                <th>Val</th>
                                <th>Qty</th>
                                <th>Val</th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let d of data">
                            <!-- <pre>{{data|json}}</pre> -->
                            <td>
                                {{d.managerName}}
                            </td>
                            <td>
                                {{d.districtName}}
                            </td>
                            <td>
                                {{d.designation}}
                            </td>
                            <ng-container *ngFor="let sales of d.data">
                                <!-- <td>
                                    {{'----'}}
                                </td> -->
                                <td>
                                    {{sales.opening | number : '.2-2'}}
                                </td>

                                <td>
                                    {{sales.totalPrimaryQty | number : '.2-2'}}
                                </td>
                                <td>
                                    {{sales.totalPrimaryAmt | number : '.2-2'}}
                                </td>

                                <td>
                                    {{sales.totalSaleReturnQty | number : '.2-2'}}
                                </td>
                                <td>
                                    {{sales.totalSaleReturnAmt | number : '.2-2'}}
                                </td>


                                <td>
                                    {{sales.totalSecondrySaleQty | number : '.2-2'}}
                                </td>
                                <td>
                                    {{sales.totalSecondrySaleAmt | number : '.2-2'}}
                                </td>
                                <td>
                                    {{sales.closing | number : '.2-2'}}
                                </td>
                                <td>
                                    {{sales.closingAmt | number : '.2-2'}}
                                </td>
                            </ng-container>
                        </tr>
                        <!-- <tr>
                            <td colspan="3" style="color: black;font-weight: 900;">
                                Grand Total
                            </td>
                            <ng-container *ngFor="let month of monthARRAY">
                                <td>
                                    {{getGrandTotalForopening(month) | number : '.2-2'}}
                                </td>
                                <td>
                                    {{getGrandTotalForsaleReturn(month) | number : '.2-2'}}
                                </td>
                                <td>
                                    {{getGrandTotalForPrimary(month) | number : '.2-2'}}
                                </td>
                                <td>
                                    {{getGrandTotalForSales(month) | number : '.2-2'}}
                                </td>
                                <td>
                                    {{getGrandTotalForClosing(month) | number : '.2-2'}}
                                </td>
                            </ng-container>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </m-portlet>
</div>

<div class="col-xl-12" *ngIf="showProcessing" align="center">
    <img src="assets/app/media/img/processing/loading.gif">
</div>