<m-portlet [options]="{enableSticky: true}">
	<!-- use ng-container[mPortletHeadTitle] for the title -->
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				Holiday Master
			</h3>
		</div>
	</ng-container>

	<ng-container mPortletBody>

		<form [formGroup]='holidayForm' class="m-form m-form--label-align-left" (ngSubmit)="submitHoliday()">
			<div class="m-portlet__body">
				<div class="row">
					<div class="col-xl-12 ">
						<div class="m-form__section m-form__section--first">
							<div class="form-group m-form__group row">
                <div class="col-lg-4 m-form__group-sub">
                  <mat-form-field style="width: 100%;">
                      <mat-label>Holiday Date</mat-label>
                      <input matInput [matDatepicker]="pickerDOB" formControlName='holidayDate' placeholder="Holiday Date">
                      <mat-datepicker-toggle matSuffix [for]="pickerDOB"></mat-datepicker-toggle>
                      <mat-datepicker #pickerDOB></mat-datepicker>
                  </mat-form-field>
              </div>
								<div class="col-lg-4 m-form__group-sub">
									<mat-form-field style="width: 100%;">
                      <mat-label>Holiday</mat-label>
										<input matInput formControlName="holiday" placeholder="Holiday*">
									</mat-form-field>
								</div>

								<div class="col-lg-3 m-form__group-sub">
									<label class="form-control-label">&nbsp; </label>
									<button mat-raised-button color="accent" [disabled]="!holidayForm.valid"><span><i class="la la-check"></i></span>Create
										Holiday</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</form>
	</ng-container>



</m-portlet>