<mat-form-field class="mat-form-field-fluid">
  <mat-label>Select Year</mat-label>

  <mat-select placeholder="Select Year" [(ngModel)]="selectedYear"  multiple={{check}} required (selectionChange)='changedValue($event.value)' >
    <mat-option *ngFor="let year of yearList" [value]="year"> {{year}}  </mat-option>
  </mat-select>

  <mat-error>Year is required!!!</mat-error>
</mat-form-field>
