<div class="container mb-4">
	<div class="row">
		<div class="col-12 col-sm-6 col-md-3" style="cursor: pointer;" (click)="getStateWiseData('Primary','table')"
			[ngClass]="{ 'selected': 'Primary' == selectedItem }">
			<div class="card my-card has-background-gradient-teal">
				<div class="my-auto mx-auto">
					<span class="fa fa-rupee-sign my-icon py-3 px-4"></span>
				</div>
				<div class="my-auto px-4">
					<h4 class="mb-1">Primary</h4>
					<h3>{{ primarySale | number:'1.0-0'}}</h3>
				</div>
			</div>
		</div>

		<div class="col-12 col-sm-6 col-md-3" style="cursor: pointer;" (click)="getStateWiseData('Collection','table')"
			[ngClass]="{ 'selected': 'Collection' == selectedItem }">
			<div class="card my-card has-background-gradient-blue">
				<div class="my-auto mx-auto">
					<span class="fa fa-rupee-sign my-icon py-3 px-4"></span>
				</div>
				<div class="my-auto px-4">
					<h4 class="mb-1">Collection</h4>
					<h3>{{ collection | number:'1.0-0' }}</h3>
				</div>

			</div>
		</div>

		<div class="col-12 col-sm-6 col-md-3" style="cursor: pointer;" (click)="getStateWiseData('Outstanding','table')"
			[ngClass]="{ 'selected': 'Outstanding' == selectedItem }">
			<div class="card my-card has-background-gradient-orange">
				<div class="my-auto mx-auto">
					<span class="fa fa-rupee-sign my-icon py-3 px-4"></span>
				</div>
				<div class="my-auto px-4">
					<h4 class="mb-1">Outstanding</h4>
					<h3>{{ outstanding | number:'1.0-0' }}</h3>
				</div>
			</div>
		</div>

		<div class="col-12 col-sm-6 col-md-3" style="cursor: pointer;" (click)="getStateWiseData('SalesReturn','table')"
			[ngClass]="{ 'selected': 'SalesReturn' == selectedItem }">
			<div class="card my-card has-background-gradient-green">
				<div class="my-auto mx-auto">
					<span class="fa fa-rupee-sign my-icon py-3 px-4"></span>
				</div>
				<div class="my-auto px-4">
					<h4 class="mb-1">Sales Return</h4>
					<h3>{{ salesReturn | number:'1.0-0' }}</h3>
					<!--<h2>66,604</h2>-->
				</div>
			</div>
		</div>

	</div>
</div>

<ng-container>
	<div class="col-xl-12" *ngIf="isShowProcessingState" align="center">
		<img src="assets/app/media/img/processing/loading.gif">
	</div>
</ng-container>
<m-portlet [options]="{enableSticky: false}" [hidden]="!showStateWiseDiv">
	<div mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text labelFont">
				STATE WISE {{headerSaleType | uppercase}}
			</h3>
		</div>
	</div>
	<div mPortletHeadTools>
		<div class="row">
			<div class="col-lg" *ngIf="selectedItem=='Primary' || selectedItem=='SalesReturn'">
				<mat-slide-toggle [checked]="isToggledProduct" (change)="toggleProduct($event)">Product Wise
				</mat-slide-toggle>
			</div>
			<div class="col-lg" *ngIf="!productStatus">
				<mat-slide-toggle [checked]="isToggledState" (change)="toggleFilterState($event)">Show Graph Only
				</mat-slide-toggle>
			</div>
		</div>
	</div>
	<div mPortletBody>
		<div class="row">
			<div style="min-width: 310px; height: 450px; max-width: 600px; margin: 0 auto;overflow: auto;"
				class="col-6 mat-elevation-z8 p-3" #StatewiseDataTable
				*ngIf="(isToggledState==false)&&(productStatus==false)">
				<!-- <table #StatewiseDataTable class="display" style="width:100%"></table> -->
				<div>
					<mat-form-field style="width: 90%" appearance="outline">
						<mat-label>Search...</mat-label>
						<input matInput (keyup)="applyFilterState($event)" placeholder="Search..." #input />
					</mat-form-field>
					<span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
						style="float: right;" class="col-sm-1" (click)="exporttoExcelState()"><i
							class="fa fa-file-excel" style="cursor:pointer; color: red;font-size: 2em;margin-top: 12px;"
							aria-hidden="true"></i></span>
				</div>
				<table mat-table [dataSource]="dataSource">
					<ng-container matColumnDef="stateName">
						<th class="header name-column" mat-header-cell *matHeaderCellDef>
							<span>State</span>
						</th>
						<td mat-cell *matCellDef="let request">{{request.StateName}}</td>
						<td mat-footer-cell class="total" *matFooterCellDef> TOTAL </td>
					</ng-container>

					<ng-container matColumnDef="amount">
						<th class="header name-column" mat-header-cell *matHeaderCellDef>
							<span>Amount</span>
						</th>
						<td mat-cell *matCellDef="let request">
							<button mat-button (click)="getHQWiseData(request,'table',selectedItem)">{{request.amount |
								currency:'INR'}}</button>
						</td>
						<td mat-footer-cell class="total" *matFooterCellDef> {{totalState | currency:'INR'}} </td>
					</ng-container>
					<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
					<tr mat-row *matRowDef="let request; columns: columnsToDisplay"></tr>
					<tr mat-footer-row *matFooterRowDef="columnsToDisplay; sticky: true"></tr>
				</table>
			</div>
			<div style="min-width: 310px; height: 450px; max-width: 1000px; margin: 0 auto;overflow: auto;"
				class="col-12 mat-elevation-z8 p-3" #StatewiseProductDataTable
				*ngIf="productStatus==true && isToggledState == false">
				<!-- <table #StatewiseDataTable class="display" style="width:100%"></table> -->
				<div>
					<mat-form-field style="width: 90%" appearance="outline">
						<mat-label>Search...</mat-label>
						<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search..." #input />
					</mat-form-field>
					<span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
						style="float: right;" class="col-sm-1" (click)="exporttoExcelStateProduct()"><i
							class="fa fa-file-excel" style="cursor:pointer; color: red;font-size: 2em;margin-top: 12px;"
							aria-hidden="true"></i></span>
				</div>
				<table mat-table [dataSource]="productDatasource" id="tableId1">
					<ng-container matColumnDef="stateName">
						<th class="header name-column" mat-header-cell *matHeaderCellDef>
							<span>State</span>
						</th>
						<td mat-cell *matCellDef="let request"><button mat-button
							(click)="getHQWiseProductData(request,'graph',selectedItem)">{{request.StateName}}
						</button></td>
						<td mat-footer-cell class="total" *matFooterCellDef> TOTAL </td>
					</ng-container>

					<ng-container matColumnDef="ProductName">

						<th class="header name-column" mat-header-cell *matHeaderCellDef>
							<span>Product Name</span>
						</th>
						<td mat-cell *matCellDef="let request">{{request.ProductName}}</td>
						<td mat-footer-cell class="total" *matFooterCellDef> --- </td>

					</ng-container>

					<ng-container matColumnDef="amount">
						<th class="header name-column" mat-header-cell *matHeaderCellDef>
							<span>Amount</span>
						</th>
						<td mat-cell *matCellDef="let request">{{request.amount | currency:'INR'}}</td>
						<td mat-footer-cell class="total" *matFooterCellDef> {{totalAmount | currency:'INR'}} </td>
					</ng-container>

					<ng-container matColumnDef="qty">
						<th class="header name-column" mat-header-cell *matHeaderCellDef>
							<span>Qty</span>
						</th>
						<td mat-cell *matCellDef="let request">{{request.qty}}</td>
						<td mat-footer-cell class="total" *matFooterCellDef>{{totalQty | number:'1.0-3'}}</td>
					</ng-container>

					<ng-container matColumnDef="itemRate">
						<th class="header name-column" mat-header-cell *matHeaderCellDef>
							<span>Item Rate</span>
						</th>
						<td mat-cell *matCellDef="let request">{{request.itemRate}}</td>
						<td mat-footer-cell class="total" *matFooterCellDef> --- </td>
					</ng-container>

					<ng-container matColumnDef="creditValue">
						<th class="header name-column" mat-header-cell *matHeaderCellDef>
							<span>Itemwise Value</span>
						</th>
						<td mat-cell *matCellDef="let request">{{request.itemRate*request.qty | number:'1.0-3'}}</td>
						<td mat-footer-cell class="total" *matFooterCellDef> {{itemwiseTotalValue | number:'1.0-3'}} </td>
						
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="columnsToDisplay1"></tr>
					<tr mat-row *matRowDef="let request; columns: columnsToDisplay1"></tr>
					<tr mat-footer-row *matFooterRowDef="columnsToDisplay1; sticky: true"></tr>
				</table>
			</div>
			<div id="stateWiseGraph" *ngIf="!productStatus" style="min-width: 310px; height: 450px;max-width: 800px; margin: 0 auto"
				class="{{colMdState}}">
			</div>
		</div>
	</div>
</m-portlet>
<ng-container>
	<div class="col-xl-12" *ngIf="isShowProcessingHq" align="center">
		<img src="assets/app/media/img/processing/loading.gif">
	</div>
</ng-container>
<div #hqTable>
	<m-portlet [options]="{enableSticky: false}" [hidden]="!showHQWiseDiv" #hq>
		<div mPortletHeadTitle>
			<div class="m-portlet__head-title">
				<h3 class="m-portlet__head-text labelFont" [hidden]="productStatus">
					HEADQUARTER WISE {{headerSaleType | uppercase}} ({{headerStateName | uppercase}})
				</h3>
				<h3 class="m-portlet__head-text labelFont" [hidden]="!productStatus">HEADQUARTER WISE PRODUCT REPORT
					{{headerSaleType | uppercase}} </h3>
			</div>
		</div>
		<div mPortletHeadTools>
			<div *ngIf="!productStatus">
				<mat-slide-toggle [checked]="isToggledHq" (change)="toggleFilterHq($event)">Show Graph Only
				</mat-slide-toggle>
			</div>
		</div>
		<div mPortletBody>
			<div class="row">
				<div style="min-width: 310px; height: 450px; max-width: 600px; margin: 0 auto;overflow: auto;"
					class="col-6 mat-elevation-z8 p-3" #HqwiseDataTable *ngIf="!isToggledHq && (productStatus==false)">
					<div>
						<mat-form-field style="width: 90%" appearance="outline">
							<mat-label>Search...</mat-label>
							<input matInput (keyup)="applyFilterHq($event)" placeholder="Search..." #input />
						</mat-form-field>
						<span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
							style="float: right;" class="col-sm-1" (click)="exporttoExcelHq()"><i
								class="fa fa-file-excel"
								style="cursor:pointer; color: red;font-size: 2em;margin-top: 12px;"
								aria-hidden="true"></i></span>
					</div>
					<table mat-table [dataSource]="dataSourceHq" id="tableId2">

						<ng-container matColumnDef="Headquater">
							<th class="header name-column" mat-header-cell *matHeaderCellDef>
								<span>Headquarter</span>
							</th>
							<td mat-cell *matCellDef="let request">{{request.Headquater}}</td>
							<td mat-footer-cell class="total" *matFooterCellDef> TOTAL </td>
						</ng-container>

						<ng-container matColumnDef="stateName">
							<th class="header name-column" mat-header-cell *matHeaderCellDef>
								<span>State</span>
							</th>
							<td mat-cell *matCellDef="let request">{{request.stateName}}</td>
							<td mat-footer-cell class="total" *matFooterCellDef> --- </td>
						</ng-container>

						<ng-container matColumnDef="amount">
							<th class="header name-column" mat-header-cell *matHeaderCellDef>
								<span>Amount</span>
							</th>
							<td mat-cell *matCellDef="let request">
								<button mat-button
									(click)="getPartyWiseData(request,'table',selectedItem)">{{request.amount |
									currency:'INR'}}</button>
								<!-- {{request.amount}} -->
							</td>
							<td mat-footer-cell class="total" *matFooterCellDef> {{totalHq | currency:'INR'}} </td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="columnsToDisplayHq"></tr>
						<tr mat-row *matRowDef="let request; columns: columnsToDisplayHq"></tr>
						<tr mat-footer-row *matFooterRowDef="columnsToDisplayHq; sticky: true"></tr>
					</table>
				</div>
				<div style="min-width: 310px; height: 450px; max-width: 1000px; margin: 0 auto;overflow: auto;"
					class="col-12 mat-elevation-z8 p-3" #HqwiseProductDataTable
					*ngIf="!isToggledHq && (productStatus==true)">

					<div>
						<mat-form-field style="width: 90%" appearance="outline">
							<mat-label>Search...</mat-label>
							<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search..." #input />
						</mat-form-field>
						<span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
							style="float: right;" class="col-sm-1" (click)=" exporttoExcelHeadquarterProduct()"><i
								class="fa fa-file-excel"
								style="cursor:pointer; color: red;font-size: 2em;margin-top: 12px;"
								aria-hidden="true"></i></span>
					</div>
					<table mat-table [dataSource]="dataSourceHq1" id="tableId2">

						<ng-container matColumnDef="Headquater">
							<th class="header name-column" mat-header-cell *matHeaderCellDef>
								<span>Headquarter</span>
							</th>
							<td mat-cell *matCellDef="let request"><button mat-button
								(click)="getPartyWiseProductData(request,'table',selectedItem)">{{request.Headquater}}</button></td>
							<td mat-footer-cell class="total" *matFooterCellDef> TOTAL </td>
						</ng-container>

						<ng-container matColumnDef="ProductName">
							<th class="header name-column" mat-header-cell *matHeaderCellDef>
								<span>Product Name</span>
							</th>
							<td mat-cell *matCellDef="let request">{{request.ProductName}}</td>
							<td mat-footer-cell class="total" *matFooterCellDef> --- </td>
						</ng-container>

						<ng-container matColumnDef="amount">
							<th class="header name-column" mat-header-cell *matHeaderCellDef>
								<span>Amount</span>
							</th>
							<td mat-cell *matCellDef="let request">{{request.amount |currency:'INR'}}</td>
							<td mat-footer-cell class="total" *matFooterCellDef> {{totalAmountHq | currency:'INR'}}
							</td>
						</ng-container>

						<ng-container matColumnDef="qty">
							<th class="header name-column" mat-header-cell *matHeaderCellDef>
								<span>Qty</span>
							</th>
							<td mat-cell *matCellDef="let request">{{request.qty}}</td>
							<td mat-footer-cell class="total" *matFooterCellDef>{{totalQtyHq | number:'1.0-3'}}</td>
						</ng-container>
	
						<ng-container matColumnDef="itemRate">
							<th class="header name-column" mat-header-cell *matHeaderCellDef>
								<span>Item Rate</span>
							</th>
							<td mat-cell *matCellDef="let request">{{request.itemRate}}</td>
							<td mat-footer-cell class="total" *matFooterCellDef> --- </td>
						</ng-container>
	
						<ng-container matColumnDef="creditValue">
							<th class="header name-column" mat-header-cell *matHeaderCellDef>
								<span>Itemwise Value</span>
							</th>
							<td mat-cell *matCellDef="let request">{{request.itemRate*request.qty | number:'1.0-3'}}</td>
							<td mat-footer-cell class="total" *matFooterCellDef> {{itemwiseTotalValueHq | number:'1.0-3'}} </td>
							
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="columnsToDisplayHq1"></tr>
						<tr mat-row *matRowDef="let request; columns: columnsToDisplayHq1"></tr>
						<tr mat-footer-row *matFooterRowDef="columnsToDisplayHq1; sticky: true"></tr>
					</table>
				</div>
				<div id="HqWiseGraph" *ngIf="!productStatus" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"
					class="{{colMdHq}}">
				</div>
			</div>
		</div>
	</m-portlet>
</div>
<ng-container>
	<div class="col-xl-12" *ngIf="isShowProcessingParty" align="center">
		<img src="assets/app/media/img/processing/loading.gif">
	</div>
</ng-container>
<div #partyTable>
	<m-portlet [options]="{enableSticky: false}" [hidden]="!showPartyWiseDiv">
		<div mPortletHeadTitle>
			<div class="m-portlet__head-title">
				<h3 class="m-portlet__head-text labelFont">
					STOCKIST WISE {{headerSaleType | uppercase}} ({{headerHqName | uppercase}} )
				</h3>
			</div>
		</div>
		<div mPortletHeadTools>
			<div *ngIf="!productStatus">
				<mat-slide-toggle [checked]="isToggledHq" (change)="toggleFilterParty($event)">Show Graph Only
				</mat-slide-toggle>
			</div>
		</div>
		<div mPortletBody>
			<div class="row">
				<div style="min-width: 310px; height: 450px; max-width: 600px; margin: 0 auto ;overflow: auto;"
					class="col-6 mat-elevation-z8 p-3" #PartywiseDataTable
					*ngIf="!isToggledParty && (productStatus==false)">
					<!-- <table #PartywiseDataTable class="display" style="width:100%">
	
					</table> -->
					<div>
						<mat-form-field style="width: 90%" appearance="outline">
							<mat-label>Search...</mat-label>
							<input matInput (keyup)="applyFilterParty($event)" placeholder="Search..." #input />
						</mat-form-field>
						<span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
							style="float: right;" class="col-sm-1" (click)="exportToExcelParty()"><i
								class="fa fa-file-excel"
								style="cursor:pointer; color: red;font-size: 2em;margin-top: 12px;"
								aria-hidden="true"></i></span>
					</div>
					<table mat-table [dataSource]="dataSourceParty">

						<ng-container matColumnDef="PartyName">
							<th class="header name-column" mat-header-cell *matHeaderCellDef>
								<span>Party</span>
							</th>
							<td mat-cell *matCellDef="let request">{{request.PartyName}}</td>
							<td mat-footer-cell class="total" *matFooterCellDef> TOTAL </td>
						</ng-container>

						<ng-container matColumnDef="hqName">
							<th class="header name-column" mat-header-cell *matHeaderCellDef>
								<span>Headquarter</span>
							</th>
							<td mat-cell *matCellDef="let request">{{request.hqName}}</td>
							<td mat-footer-cell class="total" *matFooterCellDef> --- </td>
						</ng-container>

						<ng-container matColumnDef="amount">
							<th class="header name-column" mat-header-cell *matHeaderCellDef>
								<span>Amount</span>
							</th>
							<td mat-cell *matCellDef="let request">
								{{request.amount | currency:'INR'}}
								<!-- {{request.amount}} -->
							</td>
							<td mat-footer-cell class="total" *matFooterCellDef> {{totalParty | currency:'INR'}} </td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="columnsToDisplayParty"></tr>
						<tr mat-row *matRowDef="let request; columns: columnsToDisplayParty"></tr>
						<tr mat-footer-row *matFooterRowDef="columnsToDisplayParty; sticky: true"></tr>
					</table>
				</div>

				<div style="min-width: 310px; height: 450px; max-width: 1000px; margin: 0 auto ;overflow: auto;"
					class="col-12 mat-elevation-z8 p-3" *ngIf="!isToggledParty && (productStatus==true)">
					<div>
						<mat-form-field style="width: 90%" appearance="outline">
							<mat-label>Search...</mat-label>
							<input matInput (keyup)="applyFilterParty($event)" placeholder="Search..." #input />
						</mat-form-field>
						<span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
							style="float: right;" class="col-sm-1" (click)="exporttoExcelPartyProduct()"><i
								class="fa fa-file-excel"
								style="cursor:pointer; color: red;font-size: 2em;margin-top: 12px;"
								aria-hidden="true"></i></span>
					</div>
					<table mat-table [dataSource]="dataSourceParty1" id="tableId3">

						<ng-container matColumnDef="PartyName">
							<th class="header name-column" mat-header-cell *matHeaderCellDef>
								<span>Party</span>
							</th>
							<td mat-cell *matCellDef="let request">{{request.PartyName}}</td>
							<td mat-footer-cell class="total" *matFooterCellDef> TOTAL </td>
						</ng-container>

						<ng-container matColumnDef="ProductName">
							<th class="header name-column" mat-header-cell *matHeaderCellDef>
								<span>ProductName</span>
							</th>
							<td mat-cell *matCellDef="let request">{{request.ProductName}}</td>
							<td mat-footer-cell class="total" *matFooterCellDef> --- </td>
						</ng-container>

						<ng-container matColumnDef="amount">
							<th class="header name-column" mat-header-cell *matHeaderCellDef>
								<span>Amount</span>
							</th>
							<td mat-cell *matCellDef="let request">
								{{request.amount | currency:'INR'}}
								<!-- {{request.amount}} -->
							</td>
							<td mat-footer-cell class="total" *matFooterCellDef> {{totalParty | currency:'INR'}} </td>
						</ng-container>

						<ng-container matColumnDef="qty">
							<th class="header name-column" mat-header-cell *matHeaderCellDef>
								<span>Qty</span>
							</th>
							<td mat-cell *matCellDef="let request">{{request.qty}}</td>
							<td mat-footer-cell class="total" *matFooterCellDef>{{totalQtyParty | number:'1.0-3'}}</td>
						</ng-container>
	
						<ng-container matColumnDef="itemRate">
							<th class="header name-column" mat-header-cell *matHeaderCellDef>
								<span>Item Rate</span>
							</th>
							<td mat-cell *matCellDef="let request">{{request.itemRate}}</td>
							<td mat-footer-cell class="total" *matFooterCellDef> --- </td>
						</ng-container>
	
						<ng-container matColumnDef="creditValue">
							<th class="header name-column" mat-header-cell *matHeaderCellDef>
								<span>Itemwise Value</span>
							</th>
							<td mat-cell *matCellDef="let request">{{request.itemRate*request.qty | number:'1.0-3'}}</td>
							<td mat-footer-cell class="total" *matFooterCellDef> {{itemwiseTotalValueParty | number:'1.0-3'}} </td>
							
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="columnsToDisplayParty1"></tr>
						<tr mat-row *matRowDef="let request; columns: columnsToDisplayParty1"></tr>
						<tr mat-footer-row *matFooterRowDef="columnsToDisplayParty1; sticky: true"></tr>
					</table>
				</div>

				<div id="PartyWiseGraph" *ngIf="!productStatus" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"
					class="{{colMdParty}}">
				</div>
			</div>
		</div>
	</m-portlet>
</div>