<mat-form-field class="mat-form-field-fluid">
    <!-- <mat-select placeholder="Select Status"  required (selectionChange)='changedValue($event.value)' (ngModelChange)="onChange($event)" multiple={{check}}> -->
		<!-- <mat-select placeholder="Select Status" [(ngModel)]="selectedVal"  required (selectionChange)='changedValue($event.value)' (ngModelChange)="onChange($event)" multiple={{check}}>
		<mat-option *ngFor="let status of statusDetails" [value]="status.id">
            {{status.statusName}}
        </mat-option>
    </mat-select> -->

<mat-select required (selectionChange)="changedValue($event.value)"  [(ngModel)]="selectedObjects" required placeholder="Select Status" multiple={{check}} [compareWith]="comparer" >

		<mat-option *ngFor="let status of statusDetails" [value]="status.id">
            {{status.statusName}}
        </mat-option>
	</mat-select>

	<mat-error>Program Type is Required !</mat-error>


</mat-form-field>
