<mat-form-field class="mat-form-field-fluid">
    <mat-select [(ngModel)]="selectedType" placeholder="Select Type" required (selectionChange)='changedValue($event.value)'>
        <mat-option *ngFor="let type of typeArray" [value]="type.value">
            {{type.key}}
        </mat-option>

    </mat-select>
    <mat-error>Type is required!!!</mat-error>

</mat-form-field>