<m-portlet [options]="{enableSticky: true}">
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Tag Location Filter
      </h3>
    </div>
  </ng-container>
  <div mPortletHeadTools>
    <div>
      <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
  </div>
  <div mPortletBody [hidden]="!isToggled">
    <form [formGroup]="mapFilterForm" class="m-form m-form--label-align-left" (ngSubmit)="getAllProviders()">
      <div class="m-portlet__body">
        <div class="row">
          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">
                <div class="col-lg-3 m-form__group row" [hidden]="!isShowDivision">
                  <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent>
                  </m-division>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <m-state (valueChange)="getStateValue($event)" [check]="check" #callStateComponent>
                  </m-state>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <m-district #districtComponent (valueChange)="getDistrictValue($event)" [check]="check">
                  </m-district>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <m-employee #employeeComponent (valueChange)="getUserId($event)" [check]="check">
                  </m-employee>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <button mat-raised-button color="primary" [disabled]="!mapFilterForm.valid">
                    Show Providers
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-portlet__foot m-portlet__foot--fit">
      </div>
    </form>
  </div>
</m-portlet>

<!-- To view the total tagged and Untagged Providers -->
<div class="row mb-5">
  <div class="col-lg-6" *ngIf="showRMPCount">
    <mat-card>
      <div class="mat-header">
        <h4 class="fontclass">
          <span class="count1">{{RMPCount}}</span> {{this.currentUser.company.lables.doctorLabel}}s are remaining to be
          tagged
        </h4>
      </div>
      <a (click)="getProviderForTagging('RMP')" style="cursor: pointer; text-decoration: none;">
        <div class=" m--font-info center-text fontclass">
          <span class="material-icons">add</span>
          Click HERE
        </div>
      </a>
    </mat-card>
  </div>
  <div class="col-lg-6" *ngIf="showDrugCount">
    <mat-card>
      <div class="mat-header">
        <h4 class="fontclass">
          <span class="count2">{{drugCount}}</span> {{this.currentUser.company.lables.vendorLabel}}s are remaining to be
          tagged
        </h4>
      </div>

      <a (click)="getProviderForTagging('Drug')" style="cursor: pointer; text-decoration: none;">
        <div class=" m--font-info center-text fontclass">
          <span class="material-icons">add</span>
          Click HERE
        </div>
      </a>
    </mat-card>
  </div>
</div>

<div *ngIf="showProviderDetail">
  <m-portlet>
    <ng-container mPortletHeadTitle>
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Provider Details
        </h3>
      </div>

      <div mPortletHeadTools style="float: right; margin-left: 20px;">
        <div>
         <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
           (click)="exportAsExcel()"><i class="fa fa-file-excel"
            style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i></span>
        </div>
    </div>

    </ng-container>
    <ng-container mPortletBody>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search..." #input>
      </mat-form-field>
        <form>
          <div class="example-container mat-elevation-z8" id="tableId1" #TABLE style="overflow-y: hidden;">
            <table mat-table [dataSource]="dataSource" class="table-striped"  matSort>

              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="sn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </th>
                <td mat-cell *matCellDef="let element; let i = index;">
                  {{i+1}} </td>
              </ng-container>

              <ng-container matColumnDef="providerName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element?.providerName !== '' ? element?.providerName : '---'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="providerCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
                <td mat-cell *matCellDef="let element"> {{element?.providerCode !== '' ? element?.providerCode : '---'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="specialization">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Specialization </th>
                <td mat-cell *matCellDef="let element">
                  {{element?.specialization !== '' ? element?.specialization : '---'}} </td>
              </ng-container>
              <ng-container matColumnDef="degree">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Degree </th>
                <td mat-cell *matCellDef="let element"> {{element.degree ? element?.degree : '---'}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
            <div class="row buttons_position">
              <div class="col-lg-6" *ngIf="rl !== 1">
                <button mat-raised-button color="primary" [disabled]="selection.selected.length == 0"
                  (click)="getSearchAddress()">Next <mat-icon>
                    arrow_forward</mat-icon> </button>
              </div>
            </div>
        </form>
    </ng-container>
  </m-portlet>
</div>

<div *ngIf="showSearchAddress">
  <m-portlet>
    <ng-container mPortletHeadTitle>
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Tag Location
        </h3>
      </div>
    </ng-container>
    <ng-container mPortletBody>
      <div class="example-container">
        <form>
          <div class="row">

            <div class="col-md-3">
              <mat-form-field>
                <input matInput placeholder="Enter Address" (change)="getAddress($event)">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <button mat-raised-button color="accent" (click)="getLocation()"><span><i class="la la-check"></i></span>
                Get
                Location
              </button>
            </div>
          </div>
        </form>
      </div>
    </ng-container>
    <ng-container mPortletBody>
      <div #map class="mat-elevation-z8 mt-4" style="width:100%;height:400px"></div>
    </ng-container>

  </m-portlet>
</div>


<div class="col-xl-12" *ngIf="showProcessing" align="center">
  <mat-spinner strokeWidth="4" [diameter]="60"></mat-spinner>
</div>