table {
  width: 100%;
  border: 1px solid #ccc; 
}

thead, tbody, tr, td, th { display: block; }

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 50px;
  background: #16a184;
  color: rgb(235, 235, 235); 
  text-align: center;
  border: 1px solid #ccc; 

}

tbody {
  height: 500px;
  overflow-y: auto;
  border: 1px solid #ccc; 

}

tbody td, thead th {
  word-wrap: normal;
  float: left;
  //text-align: center;

}
ul {
  list-style-type: none;
}
tr {
  font-size: 13px;


}
table tr.highlight {
  background-color: rgb(238, 78, 78) !important;
  color: #ffffff;
}