tr:nth-of-type(odd) {
    background: #eee;
}

ul {
    list-style-type: none;
}

td {
    text-align: center;
}

th {
    position: sticky;
    top: 0;
    z-index: 1;
}
.thColor th {
    color: #575962;
    background: white;
}

table tr.highlight {
    background-color: #ffcdd28a;
    color: #575962;
}

.foo {
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.red {
    background: #ffcdd28a;
}

.align_left {
    float: left;
    padding-left: 1em;
}
.table_bottom {
    padding-bottom: 1em;
}
.jointWorkDetails {
    margin-top: 2em;
    margin-bottom: 2em;
    padding-right: 15px;
    padding-left: 15px;
}
.m-portlet__head-text {
    color: #575962;
}

.DCRDelayedtableData {
    td {
        text-align: center;
        padding: 0.7em;
        color: #2e3035;
        font-weight: 400;
    }
}
.DCRDelayedTH {
    th {
        padding: 0.7em;
    }
}
.jointWorkDays {
    color: #3f51b5 !important;
    font-weight: 800 !important;
}
