<m-portlet [options]="{enableSticky: true}">
    <div mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                DCR Consolidate Summary
            </h3>
        </div>
    </div>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='dcrForm' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewRecords()">
            <div class="m-portlet__body">
                <div class="row col-lg-12" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'">
                    <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
                </div>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row" [hidden]=!showAdminAndMGRLevelFilter>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                                    <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent>
                                    </m-division>
                                    <!-- <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type> -->
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showState">
                                    <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                                    </m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showDistrict">
                                    <m-district [check]=true (valueChange)="getDistrictValue($event)"
                                        #callDistrictComponent></m-district>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                                    <m-designation (valueChange)="getDesignation($event)" #callMonthComponent
                                        [check]=true></m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                                    <m-employee [check]=true (valueChange)="getEmployeeValue($event)"
                                        #callEmployeeComponent></m-employee>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-status (valueChange)="getStatusValue($event)" [check]="true" #setStatus>
                                    </m-status>
                                </div>


                                <!-- <div class="col-lg-3 m-form__group-sub">
                                    <mat-form-field style="width:100%;">
                                        <mat-select placeholder="Select Status" formControlName='status' multiple={{check}}>
                                            <mat-option [value]="true">
                                                Active
                                            </mat-option>
                                            <mat-option [value]="false">
                                                InActive
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
								</div> -->

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent" [disabled]="!dcrForm.valid"><span><i
                                                class="la la-check"></i></span> View
                                        Status</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>

    </div>
</m-portlet>
<!-- <ng-container mPortletHeadTitle *ngIf="showReport">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    DCR Consolidate Report
                </h3>
            </div>
        </ng-container>
        <div class="example-container mat-elevation-z8" *ngIf="showReport">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="UserName">
                    <th mat-header-cell *matHeaderCellDef> Employee Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.UserName}} </td>
                </ng-container>
                <ng-container matColumnDef="UserDesignation">
                    <th mat-header-cell *matHeaderCellDef> &nbsp;&nbsp;&nbsp;Employee Designation </th>
                    <td mat-cell *matCellDef="let element"> {{element.UserDesignation}} </td>
                </ng-container>
                <ng-container matColumnDef="totalDCR">
                    <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp; Total DCR </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalDCR}} </td>
                </ng-container>
                <ng-container matColumnDef="RMPCount">
                    <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp; {{this.currentUser.company.lables.doctorLabel}} Met Count </th>
                    <td mat-cell *matCellDef="let element"> {{element.RMPCount}} </td>
                </ng-container>
                <ng-container matColumnDef="doctorPOB">
                    <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp; {{this.currentUser.company.lables.doctorLabel}} POB </th>
                    <td mat-cell *matCellDef="let element"> {{element.doctorPOB}} </td>
                </ng-container>
                <ng-container matColumnDef="DrugStoreCount">
                    <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp; {{this.currentUser.company.lables.vendorLabel}} / {{this.currentUser.company.lables.stockistLabel}} Met Count </th>
                    <td mat-cell *matCellDef="let element"> {{element.DrugStoreCount}} </td>
                </ng-container>
                <ng-container matColumnDef="vendorPOB">
                    <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp;{{this.currentUser.company.lables.vendorLabel}} / {{this.currentUser.company.lables.stockistLabel}} POB </th>
                    <td mat-cell *matCellDef="let element"> {{element.vendorPOB}} </td>
                </ng-container>
                <ng-container matColumnDef="userId">
                    <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp;</th>
                    <td mat-cell *matCellDef="let element"> <a href="javascript:void(0);" (click)="getDateWise(element.userId)" class="btn btn-warning" role="button"> View Detail </a></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div> -->


<ng-container mPortletBody *ngIf="showReport">
    <div class="m-portlet">
        <div class="m-portlet__body m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-12">
                    <div class="m-widget14">
                        <ng-container mPortletHeadTitle>
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    DCR DFGHConsolidate Report
                                </h3>
                            </div>
                        </ng-container>
                        <hr /><br />

                        <table #dataTable class="display" style="width:100%">

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container mPortletBody *ngIf="showDateWiseDCRReport">
    <div class="m-portlet">
        <div class="m-portlet__body m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-12">
                    <div class="m-widget14">
                        <div mPortletHeadTitle>
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    DCR Date Wise Report
                                </h3>
                            </div>
                        </div>
                        <hr /><br />

                        <div #target *ngIf="showDateWiseDCRReport">
                            <!-- <m-user-dcrdetail #callUserDetailDCR></m-user-dcrdetail>-->
                            <div mPortletBody>
                                <!-- <ng-container mPortletHeadTitle *ngIf="showDateWiseDCRReport">
                                            <div class="m-portlet__head-title">
                                                <h3 class="m-portlet__head-text">
                                                    DCR Date Wise Report
                                                </h3>
                                            </div>
                                        </ng-container> -->
                                <ng-container mPortletHeadTitle *ngIf="showDateWiseDCRReport">
                                    <div class="row" [hidden]="!showDateWiseDCRReport">
                                        <div class="col" style="margin-top: 7px;">
                                            <p class="foo red"> </p>&nbsp; <span
                                                style="font-weight:600;">Deviated</span>
                                        </div>
                                        <div class="col">
                                            <span matTooltip="Print" matTooltipPosition="above"
                                                aria-label="Displays a tooltip" (click)="onPreviewClick()"><i
                                                    class="fa fa-print"
                                                    style="cursor:pointer; float: right; color: blue;font-size: 2em;"
                                                    aria-hidden="true"></i></span>

                                            <span matTooltip="Export To Excel" matTooltipPosition="above"
                                                aria-label="Displays a tooltip" style="float: right;"
                                                (click)="exporttoExcel()"><i class="fa fa-file-excel"
                                                    style="cursor:pointer; color: green;font-size: 2em;"
                                                    aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                </ng-container>
                                <div id="tableId1">
                                    <div class="row pb-3" [hidden]="!showDateWiseDCRReport">
                                        <div class="col-lg-12 mt-3">
                                            <table class="display" style="width:100%">
                                                <tr class="">
                                                    <th style="background: #ffdf7e;
                                                    color: black;" colspan="2">DCR Delayed Status</th>
                                                </tr>
                                                <!-- <tr>
                                                    <td width="10%">Locked Date</td>
                                                    <td width="10%">1,2,3</td>

                                                </tr>
                                                <tr>
                                                    <td width="10%">Released Date</td>
                                                    <td width="10%">1,2,3</td>
                                                </tr>  -->
                                            </table>
                                        </div>
                                        <div class="col-lg-6">
                                            <table class="display" style="width:100%">
                                                <thead>
                                                    <tr class="DCRDelayedTH" style="background: #16a184;">
                                                        <th class="align_left" width="10%">Attendance Details</th>
                                                        <th width="10%">Total</th>

                                                    </tr>
                                                </thead>
                                                <tbody class="DCRDelayedtableData">
                                                    <tr>
                                                        <td class="align_left" width="10%">Meeting</td>
                                                        <td width="10%">{{getCountByStatus("Meeting")}}</td>

                                                    </tr>
                                                    <tr>
                                                        <td class="align_left" width="10%">Holiday</td>
                                                        <td width="10%">{{getCountByStatus("Holiday")}}</td>

                                                    </tr>
                                                    <tr>
                                                        <td class="align_left" width="10%">Field Work</td>
                                                        <td width="10%">{{getCountByStatus("Working")}}</td>

                                                    </tr>
                                                    <tr>
                                                        <td class="align_left" width="10%">
                                                            {{this.currentUser.company.lables.vendorLabel}} Work</td>
                                                        <td width="10%">{{getSumByKey('DrugStoreCount')}}</td>

                                                    </tr>
                                                    <tr>
                                                        <td class="align_left" width="10%">Stockist Work</td>
                                                        <td width="10%">{{getSumByKey('stockistCount')}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align_left" width="10%">Transit</td>
                                                        <td width="10%">{{getCountByStatus('Transit')}}</td>

                                                    </tr>
                                                    <tr>
                                                        <td class="align_left" width="10%">Other</td>
                                                        <td width="10%">{{getCountByStatus('Other')}}</td>

                                                    </tr>
                                                    <tr>
                                                        <td class="align_left" width="10%">Total No of Dates</td>
                                                        <td width="10%">{{dataSources?.length}}</td>

                                                    </tr>

                                                    <tr>
                                                        <td class="align_left" width="10%">Total No of Doctors Met </td>
                                                        <td width="10%"> {{getSumByKey('RMPCount')}} </td>

                                                    </tr>

                                                    <tr>
                                                        <td class="align_left" width="10%">Total No of
                                                            {{this.currentUser.company.lables.vendorLabel}} Met </td>
                                                        <td width="10%"> {{getSumByKey('DrugStoreCount')}} </td>

                                                    </tr>

                                                    <tr>
                                                        <td class="align_left" width="10%">Total No of Stockist Met
                                                        </td>
                                                        <td width="10%"> {{getSumByKey('stockistCount')}} </td>

                                                    </tr>


                                                    <tr>
                                                        <td class="align_left" width="10%">Unlisted Doctor POB
                                                        </td>
                                                        <td width="10%">{{getSumByKey('unlistedDoctorPOB')}}</td>

                                                    </tr>
                                                    <tr>
                                                        <td class="align_left" width="10%">Unlisted
                                                            {{this.currentUser.company.lables.vendorLabel}} POB
                                                        </td>
                                                        <td width="10%">{{getSumByKey('unlistedVendorPOB')}}</td>

                                                    </tr>
                                                    <tr>
                                                        <td class="align_left" width="10%">Unlisted
                                                            {{this.currentUser.company.lables.stockistLabel}} POB
                                                        </td>
                                                        <td width="10%">{{getSumByKey('unlistedStockistPOB')}}</td>

                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <!-- <pre>{{dataSources| json}}</pre> -->
                                        <div class="col-lg-6">
                                            <table class="display" style="width:100%">
                                                <thead>
                                                    <tr class="DCRDelayedTH" style="background: #16a184;">
                                                        <th class="align_left" width="10%">Call Details</th>
                                                        <th width="10%">Total</th>

                                                    </tr>
                                                </thead>
                                                <tbody class="DCRDelayedtableData">


                                                    <tr>
                                                        <td class="align_left" width="10%">No of Unlisted Doctor Met
                                                        </td>
                                                        <td width="10%">{{getSumByKey('unlistedRMPcount')}}</td>

                                                    </tr>
                                                    <tr>
                                                        <td class="align_left" width="10%">No of Unlisted
                                                            {{this.currentUser.company.lables.vendorLabel}} Met
                                                        </td>
                                                        <td width="10%">{{getSumByKey('unlistedDrugcount')}}</td>

                                                    </tr>
                                                    <tr>
                                                        <td class="align_left" width="10%">No of Unlisted
                                                            {{this.currentUser.company.lables.stockistLabel}} Met
                                                        </td>
                                                        <td width="10%">{{getSumByKey('unlistedStockistcount')}}</td>

                                                    </tr>
                                                    <tr>
                                                        <td class="align_left" width="10%">Total Doctor Call Average
                                                        </td>
                                                        <td width="10%">{{getAverage('RMPCount',dataSources?.length)}}
                                                        </td>

                                                    </tr>


                                                    <tr>
                                                        <td class="align_left" width="10%">Total
                                                            {{this.currentUser.company.lables.vendorLabel}} Call Average
                                                        </td>
                                                        <td width="10%">
                                                            {{getAverage('DrugStoreCount',dataSources?.length)}}
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td class="align_left" width="10%">Total Stockist Call Average
                                                        </td>
                                                        <td width="10%">
                                                            {{getAverage('stockistCount',dataSources?.length)}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align_left" width="10%">Total UnListed Doctor Call
                                                            Average</td>
                                                        <td width="10%">
                                                            {{getAverage('unlistedRMPcount',dataSources?.length)}} </td>

                                                    </tr>
                                                    <tr>
                                                        <td class="align_left" width="10%">Total UnListed
                                                            {{this.currentUser.company.lables.vendorLabel}} Call
                                                            Average</td>
                                                        <td width="10%">
                                                            {{getAverage('unlistedDrugcount',dataSources?.length)}}
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td class="align_left" width="10%">Total UnListed Stockist Call
                                                            Average</td>
                                                        <td width="10%">
                                                            {{getAverage('unlistedStockistcount',dataSources?.length)}}
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td class="align_left" width="10%">No of TP Deviation</td>
                                                        <td width="10%">{{getkeysCount('deviateReason')}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align_left" width="10%">No of Joint Work Days</td>
                                                        <td class="jointWorkDays" width="10%">
                                                            {{getJointWork()?.dcvVisited}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align_left" width="10%">Joint Work Call Average</td>
                                                        <td width="10%">{{getJointWork()?.avg | number:'1.0-2'}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align_left" width="10%">
                                                            {{this.currentUser.company.lables.doctorLabel}} POB value
                                                        </td>
                                                        <td width="10%">{{getSumByKey('doctorPOB')}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align_left" width="10%">
                                                            {{this.currentUser.company.lables.vendorLabel}} POB value
                                                        </td>
                                                        <td width="10%">{{getSumByKey('drugPOB')}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align_left" width="10%">
                                                            {{this.currentUser.company.lables.stockistLabel}} POB value
                                                        </td>
                                                        <td width="10%">{{getSumByKey('stkPOB')}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align_left" width="10%">Combined Doctor
                                                            {{this.currentUser.company.lables.vendorLabel}} POB value
                                                        </td>
                                                        <td width="10%">
                                                            {{getSumByKey('drugPOB')+getSumByKey('doctorPOB')}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align_left" width="10%">Total POB value</td>
                                                        <td width="10%">
                                                            {{getSumByKey('stkPOB')+getSumByKey('drugPOB')+getSumByKey('doctorPOB')}}
                                                        </td>
                                                    </tr>



                                                </tbody>
                                            </table>
                                        </div>

                                        <div *ngIf="isDataSources1Empty == true" class="col-lg-12 jointWorkDetails">
                                            <table class="display table-responsive" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th width="10%">Joint Work Details</th>
                                                        <th width="10%">Total Days</th>
                                                        <th width="10%">Visit date</th>
                                                        <th width="10%">Total Calls</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="DCRDelayedtableData" *ngFor="let worker of dataSources1">
                                                        <td class="jointWorkDays" width="10%">
                                                            {{worker._id.jointWorkWith.Name}}</td>
                                                        <td>{{worker.dcrDate.length}}</td>
                                                        <td width="10%">
                                                            <span *ngFor="let d of worker.dcrDate; let $last = last">
                                                                {{ d | date:'EEE, MMM dd, yyyy' }}
                                                                <span *ngIf="!$last">,</span>
                                                            </span>
                                                        </td>
                                                        <td width="10%"> {{worker.totalCalls?.length}}</td>

                                                    </tr>
                                                </tbody>
                                                <!-- <tfoot>
                                                    <tr>
                                                        <th colspan="2">TOTAL</th>
                                                        <th>12</th>
                                                    </tr>
                                                </tfoot> -->
                                            </table>
                                        </div>
                                    </div>
                                    <br>
                                    <div style="overflow: auto; width :100%; max-height: 90vh;">
                                        <table class="display">
                                            <thead>
                                                <tr>
                                                    <th width="10%">S.No.</th>
                                                    <th width="10%"> Date </th>
                                                    <th width="10%"> Name </th>
                                                    <th width="10%"> Manager Name </th>
                                                    <th width="10%"> Working Status </th>
                                                    <th width="10%"> Day Start </th>
                                                    <th width="10%"> Day End </th>
                                                    <!-- -----------------------GOURAV Start-------------------------------------------- -->
                                                    <th width="35%"
                                                        *ngIf="dataSources[0].patchWiseReporting == true; else second">
                                                        Patch Visits
                                                        <!-- {{this.currentUser.company.lables.areaLabel}} -->
                                                    </th>
                                                    <ng-template #second>
                                                        <th width="35%">Area</th>
                                                    </ng-template>
                                                    <!-- ------------------------------Gourav End------------------------------------- -->
                                                    <th width="15%"> Joint Work With </th>
                                                    <!-- <th width="15%"> Joint Calls </th>  TODO-->
                                                    <th width="10%"> Listed
                                                        {{this.currentUser.company.lables.doctorLabel}}
                                                        Met </th>
                                                    <th width="10%"> UnListed
                                                        {{this.currentUser.company.lables.doctorLabel}} Met </th>

                                                        <th width="10%"> Total
                                                            {{this.currentUser.company.lables.doctorLabel}}
                                                            Met </th>

                                                    <th width="10%" [hidden]='!peterSergical'>Digital Meeting
                                                        {{this.currentUser.company.lables.doctorLabel}} Met Count </th>
                                                    <th width="10%" [hidden]='!peterSergical'>Over the call Meeting
                                                        {{this.currentUser.company.lables.doctorLabel}} Met</th>
                                                    <th width="10%" [hidden]='!peterSergical'>Inperson Visit
                                                        {{this.currentUser.company.lables.doctorLabel}} Met Count </th>



                                                   
                                                    <th *ngIf="isPOBExist" width="10%" [hidden]='peterSergical'> Listed
                                                        {{this.currentUser.company.lables.doctorLabel}} POB </th>

                                                    <th *ngIf="isPOBExist" width="10%" [hidden]='peterSergical'> UnListed
                                                        {{this.currentUser.company.lables.doctorLabel}} POB </th>

                                                    <th *ngIf="isPOBExist" width="10%" [hidden]='peterSergical'> Total
                                                        {{this.currentUser.company.lables.doctorLabel}} POB </th>




                                                    <th width="10%" [hidden]='peterSergical'> Listed
                                                        {{this.currentUser.company.lables.vendorLabel}}
                                                        Met </th>
                                                    <th width="10%" [hidden]='peterSergical'> UnListed
                                                        {{this.currentUser.company.lables.vendorLabel}} Met </th>


                                                    <th width="10%"> Total
                                                        {{this.currentUser.company.lables.vendorLabel}}
                                                        Met </th>
                                                    <th width="10%" [hidden]='!peterSergical'>Digital Meeting
                                                        {{this.currentUser.company.lables.vendorLabel}} Met Count </th>
                                                    <th width="10%" [hidden]='!peterSergical'>Over the call Meeting
                                                        {{this.currentUser.company.lables.vendorLabel}} Met</th>
                                                    <th width="10%" [hidden]='!peterSergical'>Inperson Visit
                                                        {{this.currentUser.company.lables.vendorLabel}} Met Count </th>



                                                    <th *ngIf="isPOBExist" width="10%" [hidden]='peterSergical'> Listed
                                                        {{this.currentUser.company.lables.vendorLabel}} POB </th>

                                                    <th *ngIf="isPOBExist" width="10%" [hidden]='peterSergical'> UnListed
                                                        {{this.currentUser.company.lables.vendorLabel}} POB </th>

                                                    <th *ngIf="isPOBExist" width="10%">
                                                        Total {{this.currentUser.company.lables.vendorLabel}}
                                                        POB </th>

                                                    <th [hidden]='peterSergical'>
                                                        Combined {{this.currentUser.company.lables.doctorLabel}}
                                                        {{this.currentUser.company.lables.vendorLabel}} POB
                                                    </th>




                                                    <th width="10%" [hidden]='peterSergical'> Listed
                                                        {{this.currentUser.company.lables.stockistLabel}}
                                                        Met </th>
                                                    <th width="10%" [hidden]='peterSergical'> UnListed
                                                        {{this.currentUser.company.lables.stockistLabel}} Met </th>
                                                    <th width="10%"> Total
                                                        {{this.currentUser.company.lables.stockistLabel}}
                                                        Met </th>

                                                    <th width="10%" [hidden]='!peterSergical'>Digital Meeting
                                                        {{this.currentUser.company.lables.stockistLabel}} Met Count </th>
                                                    <th width="10%" [hidden]='!peterSergical'>Over the call Meeting
                                                        {{this.currentUser.company.lables.stockistLabel}} Met</th>
                                                    <th width="10%" [hidden]='!peterSergical'>Inperson Visit
                                                        {{this.currentUser.company.lables.stockistLabel}} Met Count </th>




                                                    <th *ngIf="isPOBExist" width="10%"> Listed
                                                        {{this.currentUser.company.lables.stockistLabel}} POB </th>

                                                    <th *ngIf="isPOBExist" width="10%"> UnListed
                                                        {{this.currentUser.company.lables.stockistLabel}} POB </th>

                                                    <th *ngIf="isPOBExist" width="10%">
                                                        Total {{this.currentUser.company.lables.stockistLabel}}
                                                        POB </th>

                                                    <!-- <th width="10%"> {{this.currentUser.company.lables.vendorLabel}} Met
                                                    </th>
                                                    <th width="10%"> {{this.currentUser.company.lables.stockistLabel}}
                                                        Met
                                                    </th> -->

                                                    <th width="10%" [hidden]='!peterSergical'> Total Hopital Manager Met </th>
                                                    <th width ="10%" [hidden]='!peterSergical'>Digital Meeting Hospital Manager Met</th>
                                                    <th width ="10%" [hidden]='!peterSergical'>Over The Call Meeting Hospital Manager Met</th>
                                                    <th width ="10%" [hidden]='!peterSergical'> Inperson Visit Hospital Manager Met</th>
                                                    <th width="10%" [hidden]='!peterSergical'> Total Purchase Manager Met</th>
                                                    <th width ="10%" [hidden]='!peterSergical'>Digital Meeting Purchase Manager Met</th>
                                                    <th width ="10%" [hidden]='!peterSergical'>Over The Call Purchase Manager Met</th>
                                                    <th width ="10%" [hidden]='!peterSergical'>Inperson Visit Purchase Manager Met</th>
                                                    <th width="10%"> Remarks </th>
                                                    <th width="10%"> Delete DCR </th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr *ngFor="let l of dataSources ; let i=index; " align="center"
                                                    [ngClass]="{'highlight' : l.deviateReason != undefined }">
                                                    <td width="10%">{{ i+1 }} </td>
                                                    <td nowrap width="10%"> <button mat-button color="accent"
                                                            style="color: #3f51b5;"
                                                            (click)="getDCRInfo(l.dcrId)">{{l.dcrDate
                                                            | date:'EEE, MMM d, y'}} </button></td>
                                                    <!-- <td nowrap width="10%"> <a (click)="getDCRInfo(l.dcrId)"
                                                                style="cursor: pointer;color: blue;">{{l.dcrDate
                                                        | date}} </a></td> -->
                                                    <td width="10%">{{l.userName}} </td>
                                                    <td width="10%">{{l.managerName}} </td>

                                                    <td width="10%">
                                                        <font class="font-weight-bold" color="Red"
                                                            *ngIf="l.workingStatus=='Holiday' || l.workingStatus=='Leave'">
                                                            {{l.workingStatus}}</font>
                                                        <font class="font-weight-bold" color="Green"
                                                            *ngIf="l.workingStatus!='Holiday' &&  l.workingStatus!='Leave'">
                                                            {{l.workingStatus}}</font>
                                                    </td>
                                                    <td width="10%">{{l.punchDate | date: 'EEE, d MMM, y h:mm:ss a' :
                                                        'UTC'}}</td>
                                                    <td width="10%">{{l.timeOut | date: 'EEE, d MMM, y h:mm:ss a' :
                                                        'UTC'}}</td>

                                                    <!-- ----------------------------GOURAV ----------------------------------- -->
                                                    <td width="10%"
                                                        *ngIf="l.VisitPatch || l.patchWiseReporting==true;else elseSection">
                                                        {{l.VisitPatch}}
                                                    </td>

                                                    <ng-template #elseSection>
                                                        <ul>
                                                            <li *ngFor="let n of l.visitedBlock">
                                                                {{n.from}} -- {{n.to}}
                                                            </li>
                                                        </ul>
                                                    </ng-template>
                                                    <!-- ----------------------------GOURAV------------------------------------- -->
                                                    <!-- <td width="35%" #elseSection>
                                                        <ul>
                                                            <li *ngFor="let n of l.visitedBlock">
                                                                {{n.from}} -- {{n.to}}
                                                            </li>
                                                        </ul>
                                                    </td> -->

                                                    <td *ngIf="l.workingStatus=='Working'" width="15%">
                                                        <ul>
                                                            <li *ngFor="let n of l.jointWork">
                                                                {{n.Name}}
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <!-- <td width="10%">{{l.RMPCount}} </td> -->
                                                    <td *ngIf="l.workingStatus!='Working'" width="15%"> ---- </td>
                                                    <td width="10%">{{l.listedCount}} </td>
                                                    <td width="10%">{{l.unlistedRMPcount}} </td>
                                                    <td width="10%">{{l.RMPCount}} </td>
                                                    <td width="10%" [hidden]='!peterSergical'>{{l.phoneOrderRMPCount}}</td>
                                                    <td width="10%" [hidden]='!peterSergical'>{{l.digitalMarketingRMPCount}}</td>
                                                    <td width="10%" [hidden]='!peterSergical'>{{l.RMPCount - (l.phoneOrderRMPCount +
                                                        l.digitalMarketingRMPCount)}}</td>
                                                    

                                                    <td *ngIf="isPOBExist" width="10%" [hidden]='peterSergical'>{{l.listedDoctorPOB}} </td>

                                                    <td *ngIf="isPOBExist" width="10%" [hidden]='peterSergical'>{{l.unlistedDoctorPOB}} </td>
                                                    <td *ngIf="isPOBExist" width="10%" [hidden]='peterSergical'>{{l.doctorPOB}} </td>
                                                    <td width="10%" [hidden]='peterSergical'>{{l.listedDrugCount}}</td>
                                                    <td width="10%" [hidden]='peterSergical'>{{l.unlistedDrugcount}}</td>

                                                    <td width="10%">{{l.DrugStoreCount}}</td>
                                                    <td width="10%" [hidden]='!peterSergical'>{{l.phoneOrderDrugCount}}</td>
                                                    <td width="10%" [hidden]='!peterSergical'>{{l.digitalMarketingDrugCount}}</td>
                                                    <td width="10%" [hidden]='!peterSergical'>{{l.DrugStoreCount - (l.phoneOrderDrugCount +
                                                        l.digitalMarketingDrugCount)}}</td>
                                                    <!-- <td>{{getSumByKey('listedDrugCount')}}</td>
                                                    <td>{{getSumByKey('unlistedDrugcount')}}</td>
                                                    <td>{{getSumByKey('DrugStoreCount')}}</td> -->
                                                    <td *ngIf="isPOBExist" width="10%" [hidden]='peterSergical'> {{l.listedVendorPOB}}</td>
                                                    <td *ngIf="isPOBExist" width="10%" [hidden]='peterSergical'> {{l.unlistedVendorPOB}}</td>
                                                    <td *ngIf="isPOBExist" width="10%"> {{l.drugPOB}}</td>
                                                    <td width="10%" [hidden]='peterSergical'>{{l.doctorPOB + l.drugPOB}}</td>

                                                    <td width="10%" [hidden]='peterSergical'>{{l.listedStockistCount}}</td>
                                                    <td width="10%" [hidden]='peterSergical'>{{l.unlistedStockistcount}}</td>
                                                    <td width="10%">{{l.stockistCount}}</td>
                                                    <td width="10%" [hidden]='!peterSergical'>{{l.digitalMarketingStockistCount}}</td>
                                                    <td width="10%" [hidden]='!peterSergical'>{{l.phoneOrderStockistCount}}</td>
                                                    <td width="10%" [hidden]='!peterSergical'>{{l.listedStockistCount -
                                                        (l.digitalMarketingStockistCount + l.phoneOrderStockistCount)}}
                                                    </td>
                                                    
                                                    <!-- <td  width="10%">{{getSumByKey('listedStockistCount')}}</td>
                                                    <td  width="10%">{{getSumByKey('unlistedStockistcount')}}</td>
                                                    <td  width="10%">{{getSumByKey('stockistCount')}}</td> -->



                                                    <!-- <td width="10%"> {{l.DrugStoreCount}}</td>
                                                    <td width="10%"> {{l.stockistCount}}</td> -->

                                                    <td *ngIf="isPOBExist" width="10%"> {{l.listedStockistPOB}}</td>
                                                    <td *ngIf="isPOBExist" width="10%"> {{l.unlistedStockistPOB}}</td>
                                                    <td *ngIf="isPOBExist" width="10%"> {{l.stkPOB}}</td>
                                                    <td width="10%" [hidden]='!peterSergical'>{{l.hospitalManagment}}</td>
                                                    <td width="10%" [hidden]='!peterSergical'>{{l.digitalMarketinghospitalManagementCount}}</td>
                                                    <td width="10%" [hidden]='!peterSergical'>{{l.phoneOrderhospitalManagementCount}}</td>
                                                    <td width="10%" [hidden]='!peterSergical'>{{l.hospitalManagment - (l.digitalMarketinghospitalManagementCount + l.phoneOrderhospitalManagementCount)}}</td>
                                                    <td width="10%" [hidden]='!peterSergical'>{{l.purchaseManager}}</td>
                                                    <td width="10%" [hidden]='!peterSergical'>{{l.digitalMarketingpurchaseManagerCount}}</td>
                                                    <td width="10%" [hidden]='!peterSergical'>{{l.phoneOrderpurchaseManagerCount}}</td>
                                                    <td width="10%" [hidden]='!peterSergical'>{{l.purchaseManager - (l.digitalMarketingpurchaseManagerCount + l.phoneOrderpurchaseManagerCount)}}</td>
                                                    <td width="10%"> {{l.remarks}}</td>
                                                    <td width="10%">

                                                        <button mat-icon-button color="warn" (click)="deleteDCR(l)">
                                                            <mat-icon>delete_outline</mat-icon>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th [attr.colspan]="colspanValue">TOTAL</th>
                                                    <th>{{getSumByKey('listedCount')}}</th>
                                                    <th>{{getSumByKey('unlistedRMPcount')}}</th>
                                                    <th >{{getSumByKey('RMPCount')}}</th>
                                                    <th width ="10%" [hidden]='!peterSergical'>{{getSumByKey('phoneOrderRMPCount')}}</th>
                                                    <th width ="10%" [hidden]='!peterSergical'>{{getSumByKey('digitalMarketingRMPCount')}}</th>
                                                    <th [hidden]='!peterSergical'></th>
                                                    
                                                    

                                                    <th *ngIf="isPOBExist" [hidden]='peterSergical'>{{getSumByKey('listedDoctorPOB')}}</th>

                                                    <th *ngIf="isPOBExist" [hidden]='peterSergical'>{{getSumByKey('unlistedDoctorPOB')}}</th>
                                                    <th *ngIf="isPOBExist" [hidden]='peterSergical'>{{getSumByKey('doctorPOB')}}</th>



                                                    <th [hidden]='peterSergical'>{{getSumByKey('listedDrugCount')}}</th>
                                                    <th [hidden]='peterSergical'>{{getSumByKey('unlistedDrugcount')}}</th>
                                                    <th>{{getSumByKey('DrugStoreCount')}}</th>
                                                    <th [hidden]='!peterSergical'></th>
                                                    <th [hidden]='!peterSergical'></th>
                                                    <th [hidden]='!peterSergical'></th>


                                                    <th *ngIf="isPOBExist" width="10%" [hidden]='peterSergical'>
                                                        {{getSumByKey('listedVendorPOB')}}</th>
                                                    <th *ngIf="isPOBExist" width="10%">
                                                        {{getSumByKey('unlistedVendorPOB')}}</th>
                                                    <th *ngIf="isPOBExist" width="10%"> {{getSumByKey('drugPOB')}}</th>
                                                    <th [hidden]='peterSergical'>  {{getSumByKey('drugPOB')+getSumByKey('doctorPOB')}}</th>



                                                    <th [hidden]='peterSergical'>{{getSumByKey('listedStockistCount')}}</th>
                                                    <th [hidden]='peterSergical'>{{getSumByKey('unlistedStockistcount')}}</th>
                                                    <th>{{getSumByKey('stockistCount')}}</th>
                                                    <th [hidden]='!peterSergical'></th>
                                                    <th [hidden]='!peterSergical'></th>
                                                    <th [hidden]='!peterSergical'></th>



                                                    <th *ngIf="isPOBExist">{{getSumByKey('listedStockistPOB')}}</th>
                                                    <th *ngIf="isPOBExist">{{getSumByKey('unlistedStockistPOB')}}</th>
                                                    <th *ngIf="isPOBExist">{{getSumByKey('stkPOB')}}</th>
                                                    <th width ="10%" [hidden]='!peterSergical'>{{getSumByKey('hospitalManagment')}}</th>
                                                    <th width ="10%" [hidden]='!peterSergical'>{{getSumByKey('digitalMarketinghospitalManagementCount')}}</th>
                                                    <th width ="10%" [hidden]='!peterSergical'>{{getSumByKey('phoneOrderhospitalManagementCount')}}</th>
                                                    <th width ="10%" [hidden]='!peterSergical'> {{(getSumByKey('hospitalManagment')-(getSumByKey('digitalMarketinghospitalManagementCount')+getSumByKey('phoneOrderhospitalManagementCount')))}}</th>
                                                    <th width ="10%" [hidden]='!peterSergical'>{{getSumByKey('purchaseManager')}}</th>
                                                    <th width ="10%" [hidden]='!peterSergical'>{{getSumByKey('digitalMarketingpurchaseManagerCount')}}</th>
                                                    <th width ="10%" [hidden]='!peterSergical'>{{getSumByKey('phoneOrderpurchaseManagerCount')}}</th>
                                                    <th width ="10%" [hidden]='!peterSergical'>{{(getSumByKey('purchaseManager') - (getSumByKey('digitalMarketingpurchaseManagerCount')+getSumByKey('phoneOrderpurchaseManagerCount')))}}</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="m-separator m-separator--dashed m-separator--lg"></div> -->

    <div class="mat-elevation-z8" [hidden]="showDCRSummary">
        <m-user-complete-dcrinfo #callUserCompleteDCR [hidden]="showDCRSummary"></m-user-complete-dcrinfo>
    </div>
</ng-container>
<div class="col-xl-12 showProcessing" *ngIf="showProcessing" align="center">
    <!-- <img src="assets/app/media/img/processing/loading.gif"> -->
    <mat-spinner strokeWidth="3" [diameter]="60"></mat-spinner>
</div>