<ng-container *ngFor="let item of list; let $index = index" >
	<div class="d-flex justify-content-between px-2 py-1" [ngClass]="L ? 'bg-light' : 'bg-grey'">
    <div>
      <mat-checkbox  (change)="checkboxChecked($event, $index, item)" #checkbox [(ngModel)]="item.checked">{{
        item.label
      }}</mat-checkbox>
    </div>
    <!-- <div *ngIf="item?.actions?.length">
      <mat-checkbox (change)="checkboxChecked(); actionCheck($event, item)" class="ml-3" [(ngModel)]="action.checked" *ngFor="let action of item?.actions">{{
          action.label
        }}</mat-checkbox>
    </div> -->
	</div>
	<div class="pl-4" *ngIf="item?.children?.length">
		<m-nested-list [L]="1" [(list)]="item.children"></m-nested-list>
	</div>
</ng-container>
