<m-portlet [options]="{enableSticky: true}">
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
			Edit Product Sub Group Details
			</h3>
		</div>
	</ng-container>
	<ng-container mPortletBody>
		<form [formGroup]='EditProductSubGroup' class="m-form m-form--label-align-left" >

      <div class="row">
          <mat-form-field appearance="outline"  class="col-lg-5" style="width:100%;" floatLabel="always" >
            <mat-label>State Name</mat-label>
            <input matInput [value]="data.value.stateName" readonly>
          </mat-form-field>

          <mat-form-field appearance="outline"  class="col-lg-5" style="width:100%;" floatLabel="always" >
            <mat-label>Group Name</mat-label>
            <input matInput formControlName="productSubGroupName" placeholder="Enter Name" value={{data.value.productSubGroupName}} #input>
            <!-- <input matInput [value]="data.value.productGroupName"> -->
          </mat-form-field>
          
          <button style="margin-top: 10px; height:50%;" mat-raised-button color="accent" (click)="editGroupName()">Edit Group</button>
          
          <button style="margin-bottom: 11px; height: 30%; margin-top: 5px;  margin-left: 14px;" mat-mini-fab color="accent" (click)="getProducts(data)"><mat-icon>add</mat-icon></button>

      </div>
      <div class="row">
      <mat-form-field style="width: 100%;" class="col-lg-5" *ngIf="showNewProduct">
        <mat-select formControlName="selecteddata" placeholder="Select Product" required (selectionChange)='changedValue($event.value)' multiple={{check}}>
          <mat-option *ngFor="let product of productData" [value]="product"  >
            {{product.productName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
     
    </div>


            <div *ngFor="let data of productInfo.ProductInfo">
                <div class="row">
                    <mat-form-field appearance="outline"  class="col-lg-4" style="width:100%;" floatLabel="always" >
                    <mat-label>Product Name</mat-label>
                        <input matInput [value]="data.productName" readonly>
                    </mat-form-field>
                    <mat-form-field appearance="outline"  class="col-lg-2" style="width:100%;" floatLabel="always" >
                      <mat-label>PTR</mat-label>
                          <input matInput [value]="data.ptr" readonly>
                      </mat-form-field>
                      <mat-form-field appearance="outline"  class="col-lg-2" style="width:100%;" floatLabel="always" >
                        <mat-label>PTW</mat-label>
                            <input matInput [value]="data.ptw" readonly>
                        </mat-form-field>
                        <mat-form-field appearance="outline"  class="col-lg-2" style="width:100%;" floatLabel="always" >
                          <mat-label>MRP</mat-label>
                              <input matInput [value]="data.mrp" readonly>
                          </mat-form-field>
                     <button style="margin-top: 10px; height:50%" mat-raised-button color="warn" (click)="remove(data)">Remove</button>
                </div>
            </div>

            <div mat-dialog-actions>
              <button mat-raised-button color="accent" [mat-dialog-close]="1" (click)="addNewProduct(data)">Save</button>
              <button mat-raised-button (click)="onNoClick()" color="warn" tabindex="-1">Cancel</button>

          </div>
 
		</form>
	</ng-container>
</m-portlet>
