<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Expense Report
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">

        <form [formGroup]='ConsolidatedExpenseFilter' class="m-form m-form--label-align-left- m-form--state-"  (ngSubmit)="viewRecords()">
            <div class="m-portlet__body">
                <div class="row col-lg-12" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'">
                    <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
                </div>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showType">
                                    <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                                    <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent></m-division>
                                </div>

                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showState">
                                    <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent></m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDistrict">
                                    <m-district [check]=true (valueChange)="getDistrictValue($event)" #callDistrictComponent></m-district>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showLookingForFilter">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-select placeholder="Looking For *" formControlName="lookingFor" (valueChange)="Deduction_ClaimedFilter($event)">
                                            <mat-option value="consolidated">Consolidated</mat-option>
                                            <mat-option value="employeeWise">Employee Wise</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-select placeholder="Claimed / Deduction *" formControlName="lookingForClaim_Ded">
                                            <mat-option value="claimed">Claimed</mat-option>
                                            <mat-option value="deduction">Deduction</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                               		<div class="col-lg-3 m-form__group-sub" [hidden]="!showDesignation">
                                    <m-designation [check]=false (valueChange)="getDesignation($event)"
                                        #callDesignationComponent></m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showEmployee">
                                    <m-employee [check]=true (valueChange)="getEmployee($event)"
                                        #callEmployeeComponent></m-employee>
								</div>


                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showStatus">
                                    <m-status [check]=false (valueChange)="getStatusValue($event)" #callStatusComponent></m-status>
                                </div>

                                <!-- <div class="col-lg-3 m-form__group-sub" [hidden]="!showEmployee">
                                    <m-employee [check]=true (valueChange)="getEmployeeValue($event)" #callEmployeeComponent></m-employee>
                                </div> -->

                                <div class="col-lg-3 m-form__group-sub">
                                    <mat-form-field class="custom-mat-range-datepicker">
                                        <input matInput [max]="currentDate" [matRangeDatepicker]="resultPicker" formControlName="dateRange" placeholder="From - To Date *" (valueChange)="hideTable()">
                                        <mat-datepicker-toggle matSuffix [for]="resultPicker"></mat-datepicker-toggle>
                                        <mat-range-datepicker #resultPicker [rangeMode]="true">
                                        </mat-range-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent" [disabled]="!ConsolidatedExpenseFilter.valid" ><span><i
                                              class="la la-check"></i></span>View Status</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>


<ng-container>
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</ng-container>
<m-portlet [options]="{enableSticky: true}" [hidden]="!showTableData">
    <!-- <m-portlet [options]="{enableSticky: true}"> -->

    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Expense Detail
            </h3>
        </div>
    </ng-container>

    <ng-container mPortletBody>
        <div class="col-xl-12">
            <table #expenseTable class="display" style="width:100%">
            </table>
        </div>
    </ng-container>
</m-portlet>
