<m-portlet [options]="{enableSticky: true}">
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle>
      <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
             State Wise {{header}} Sale Report
          </h3>
      </div>
  </ng-container>
<!-- 
<ng-container>
  <div class="col-xl-12" *ngIf="showProcessing" align="center">
      <img src="assets/app/media/img/processing/loading.gif">
  </div>
</ng-container> -->

<ng-container mPortletBody >
  <div>
      <table class="GeneratedTable" id="tableId1">
          <table align="center">
          <thead>
              <tr>
                  <th rowspan="2">State Name</th>
                  <th rowspan="2">Amount</th>
              </tr>
       
          </thead>

          <tbody>
              <tr *ngFor="let d of data; let $index = index">
                  <td>
                      {{d?.state}}
                  </td>

                  <td>
                    <a (click)="getHQWiseSale('collection')" > {{d?.amount}}</a>
                  </td>
              </tr>
          </tbody>
        </table>
        <br>
        <br>
        <table *ngIf="showHQTable">
                <thead>
                    <tr>
                        <th rowspan="2">State Name</th>
                        <th rowspan="2">Headquarter Name</th>
                        <th rowspan="2">Amount</th>
                    </tr>
             
                </thead>
      
                <tbody>
                    <tr *ngFor="let d of HqData; let $index = index">
                        <td>
                                  {{d?.state}}
                        </td>
                        <td>
                                {{d?.headquarter}}
                        </td>
      
                        <td>
                          <a (click)="getHQWiseSale(header)" > {{d?.amount}}</a>
                        </td>
                    </tr>
                </tbody>
        </table>
      </table>


  </div>
  <br>
                  <!-- <div align="center">
                          <button mat-raised-button color="accent" (click)="this.exporttoExcel();">
                              <span>
                                  <i class="la la-download"></i>
                              </span>Download</button>
                      </div> -->
</ng-container>
