
.example-container {
    display: flex;
      flex-direction: column;
      height: 400px;
      width: 100%;
      overflow: auto;
  }
  
  
  table {
      width: 1000px;
  }
   /* Zebra striping */
   tr:nth-of-type(odd) { 
      background: #eee; 
    }
    th { 
      padding: 5px; 
      text-align: center;
      background: #16a184;
      color: rgb(235, 235, 235); 
    }
    td{ 
      padding: 5px; 
      border: 1px solid #ccc; 
      text-align: center; 
      width: 100px;
    }
  
    .mat-header-cell {
      padding: 0;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      text-align: center;
  }
  
  th.mat-column-sno,
  td.mat-column-sno{
      width: 30px;
  }


::ng-deep table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: bold;
    background-color: #16a184;
    color: white;
}

