<m-portlet [options]="{enableSticky: true}">
  <div mPortletHeadTitle>
    <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
            ON/Off Provider location
        </h3>
    </div>
</div>
<div mPortletHeadTools>
  <div>
      <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
  </div>
</div>
<div mPortletBody [hidden]="!isToggled" >
  <form [formGroup]='locationForm' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewRecords()">
      <div class="m-portlet__body">
          <div class="row col-lg-12" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'">
              <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
          </div>
          <div class="row">
              <div class="col-xl-12 ">
                  <div class="m-form__section m-form__section--first">
                      <div class="form-group m-form__group row">
                         <div class="col-lg-3 m-form__group-sub">
                            <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                        </div> 
                          <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                              <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent>
                              </m-division>
                          </div>
                          <div class="col-lg-3 m-form__group-sub" *ngIf="showState">
                              <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                              </m-state>
                          </div>
                          <div class="col-lg-3 m-form__group-sub" *ngIf="showDistrict">
                            <m-district [check]=true (valueChange)="getDistrictValue($event)"
                                #callDistrictComponent></m-district>
                        </div>
                          <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                              <m-designation (valueChange)="getDesignation($event)" #callMonthComponent
                                  [check]=true></m-designation>
                          </div>
                          <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                              <m-employee [check]=true (valueChange)="getEmployeeValue($event)"
                                  #callEmployeeComponent></m-employee>
                          </div>
                          <div class="col-lg-3 m-form__group-sub">
                              <m-status  [check]="false" #setStatus>
                              </m-status>
                         </div>
                          <!-- <div class="col-lg-3 m-form__group-sub">
                              <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                          </div>
                          <div class="col-lg-3 m-form__group-sub">
                              <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                          </div> -->
                          <div class="col-lg-3 m-form__group-sub">
                              <button mat-raised-button color="accent" [disabled]="!locationForm.valid"><span><i
                                          class="la la-check"></i></span> View
                                  Report</button> </div>
                      </div>
                  </div>
              </div>
          </div>.   
      </div>
      <div class="m-portlet__foot m-portlet__foot--fit">
      </div>
  </form>

</div>

</m-portlet>

<div [hidden]=!showTotalMasterData>
<div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource2">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null"
                [checked]="selection.isSelected(element)"></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="stateName">
            <th mat-header-cell *matHeaderCellDef>State Name </th>
            <td mat-cell *matCellDef="let element"> {{element?.stateName}} </td>
          </ng-container>
          <ng-container matColumnDef="districtName">
            <th mat-header-cell *matHeaderCellDef>District Name </th>
            <td mat-cell *matCellDef="let element"> {{element?.districtName}} </td>
          </ng-container>
          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef>User Name </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
          </ng-container>
          <ng-container matColumnDef="giveAccess">
            <th mat-header-cell *matHeaderCellDef>Button Enable </th>
            <td mat-cell *matCellDef="let element"> {{element.isUpdateGeoLoc == true ? 'Yes' : 'No'}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    
      <br>
      <div class="row">
        <div class="col-lg-3 m-form__group-sub">
          <label class="form-control-label">&nbsp; </label>
          <button mat-raised-button color="accent" (click)="changeStatus(selection.selected)"
            [disabled]="!selection.selected">Change Status
          </button>
        </div>
      </div>
</div>

<div class="col-xl-12 showProcessing" *ngIf="showProcessing" align="center">
    <mat-spinner strokeWidth="3" [diameter]="60"></mat-spinner>
</div>
