<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Designation Creation
        </h3>
      </div>
    </ng-container>
  
    <ng-container mPortletBody>
  
      <form [formGroup]='designationForm' class="m-form m-form--label-align-left" (ngSubmit)="submitdesignation()">
        <div class="m-portlet__body">
          <div class="row">
            <div class="col-xl-12 ">
              <div class="m-form__section m-form__section--first">
                <div class="form-group m-form__group row">
  
                  <div class="col-lg-3 m-form__group-sub">
                    <mat-form-field>
                      <!-- formControlName="giftName" -->
                      <mat-label>Designation Name</mat-label>
                      <input formControlName="designation" matInput />
                    </mat-form-field>
                  </div>
  
                  <div class="col-lg-3 m-form__group-sub">
                    <mat-form-field>
                      <!-- formControlName="giftCode" -->
                      <mat-label>Designation Level</mat-label>
                      <input matInput type="number" formControlName="designationLevel" placeholder="Designation Level">
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3 m-form__group-sub">
                    <mat-form-field>
                      <!-- formControlName="giftCode" -->
                      <mat-label>Full Name</mat-label>
                      <input matInput formControlName="fullName" placeholder="Full Name">
                    </mat-form-field>
                  </div>
               

                  <div class="col-lg-3 m-form__group-sub">
                    <button mat-raised-button color="primary" [disabled]="!designationForm.valid">Create Designation</button>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </form>
    </ng-container>
  </m-portlet>