<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <div mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Target Report
            </h3>
        </div>
    </div>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]="target" class="m-form m-form--label-align-left- m-form--state-">
            <div class="m-portlet__body">

                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <!-- <div class="col-lg-2 m-form__group-sub" [hidden]=!showStateReportType>
                                    <mat-radio-button class="form-control-label" (change)="reportType('Statewise')"
                                        name="reportTypeName">
                                        * State wise
                                    </mat-radio-button>
                                </div> -->
                                <div class="col-lg-2 m-form__group-sub"
                                    *ngIf="this.currentUser.company.target.targetInfo=='Headquarterwise'||this.currentUser.company.target.targetInfo=='all'">
                                    <mat-radio-button class="form-control-label" [checked]=checkedVarHq
                                        (change)="reportType('Headquarterwise')" name="reportTypeName"
                                        value="Headquarterwise">
                                        * {{this.currentUser.company.lables.hqLabel}} wise
                                    </mat-radio-button>
                                </div>
                                <div class="col-lg-2 m-form__group-sub"
                                    *ngIf="this.currentUser.company.target.targetInfo=='Employeewise'||this.currentUser.company.target.targetInfo=='all'">
                                    <mat-radio-button class="form-control-label" [checked]=checkedVarEmp
                                        (change)="reportType('Employeewise')" name="reportTypeName"
                                        value="Employeewise">
                                        * User wise
                                    </mat-radio-button>
                                </div>
                                <div class="col-lg-2 m-form__group-sub" [hidden]=!stateFilterForStatewise>
                                    <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                                    </m-state> 
                                </div>
                                <div class="col-lg-2 m-form__group-sub" [hidden]=!stateFilter>
                                    <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent2>
                                    </m-state>
                                </div>
                                <div class="col-lg-2 m-form__group-sub" [hidden]=!districtFilter>
                                    <m-district [check]=true (valueChange)="getDistrictValue($event)"
                                        #callDistrictComponent></m-district>
                                </div>
                                <div class="col-lg-2 m-form__group-sub" [hidden]=!districtFilterForMulti>
                                    <m-district [check]=true (valueChange)="getDistrictValue($event)"
                                        #callDistrictComponentAgainForMulti></m-district>
                                </div>
                                <div class="col-lg-2 m-form__group-sub" [hidden]=!employeeFilter>
                                    <!-- <mat-form-field style="width: 100%;">
                                        <mat-select placeholder="Select Employee" required formControlName="userInfo"
                                            (selectionChange)='setEmployeeDetail($event.value)' multiple=true>
                                            <div class="d-flex mb-1 sticky-top">
                                                <button class="mat-primary fill text-sm button button2" (click)="selectAll(employeeSelect, userIds)"
                                                    *ngIf="check==true && userIds?.length > 5">
                                                    Select All
                                                </button>
                                                <button class="mat-accent fill text-sm button button3" (click)="deselectAll(employeeSelect)"
                                                    *ngIf="check==true && userIds?.length > 5">
                                                    Deselect All
                                                </button>
                                            </div> 
                                            <mat-option *ngFor="let employee of userData" [value]="employee.userId">
                                                {{employee.name}}<b> - ({{employee.designation}})</b>
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>Employee is required!!!</mat-error> -->

                                        <m-employee [check]=true (valueChange)=setEmployeeDetail($event) #callEmployeeComponent></m-employee>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-2 m-form__group-sub"
                                    *ngIf="this.currentUser.company.target.targetDuration=='Quarterly'||this.currentUser.company.target.targetDuration=='all'">
                                    <mat-radio-button class="form-control-label" name="yearlyTypeName"
                                        [checked]="checkedVarQuarterly" (change)="yearlyType('Quarterly')"
                                        value="Quarterly">
                                        * Quarterly
                                    </mat-radio-button>
                                </div>
                                <div class="col-lg-2 m-form__group-sub"
                                    *ngIf="this.currentUser.company.target.targetDuration=='Monthly'||this.currentUser.company.target.targetDuration=='all'">
                                    <mat-radio-button class="form-control-label" name="yearlyTypeName"
                                        [checked]="checkedVarMonthly" (change)="yearlyType('Monthly')" value="Monthly">
                                        * Monthly
                                    </mat-radio-button>
                                </div>
                                <div class="col-lg-2 m-form__group-sub"
                                    *ngIf="this.currentUser.company.target.targetDuration=='Yearly'||this.currentUser.company.target.targetDuration=='all'">
                                    <mat-radio-button class="form-control-label" name="yearlyTypeName"
                                        [checked]="checkedVarYearly" (change)="yearlyType('Yearly')" value="Yearly">
                                        * Yearly
                                    </mat-radio-button>
                                </div>
                                <div class="col-lg-2 m-form__group-sub" [hidden]=!quarterly>
                                    <mat-form-field>
                                        <mat-select placeholder="Select Quarter" formControlName="quarterType"
                                            (selectionChange)="getQuarter($event.value)">
                                            <mat-option *ngFor="let Quarter of Quarters" [value]="Quarter.value">
                                                {{Quarter.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 m-form__group-sub" [hidden]=!showYearFilter>
                                    <m-year (valueChange)="getYear($event)" #callYearComponent></m-year>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-2 m-form__group-sub"
                                    *ngIf="this.currentUser.company.target.targetType=='productwise'||this.currentUser.company.target.targetType=='all'">
                                    <mat-radio-button class="form-control-label" name="targetSubmitTypeName"
                                        [checked]=checkedVarProduct (change)="targetSubmitType('productwise')"
                                        value="productwise">
                                        * Product Wise
                                    </mat-radio-button>
                                </div>
                                <div class="col-lg-2 m-form__group-sub"
                                    *ngIf="this.currentUser.company.target.targetType=='amountwise'||this.currentUser.company.target.targetType=='all'">
                                    <mat-radio-button class="form-control-label" name="targetSubmitTypeName"
                                        [checked]=checkedVarAmount (change)="targetSubmitType('amountwise')"
                                        valueS="amountwise">
                                        * Amount Wise
                                    </mat-radio-button>
                                </div>
                                <div class="col-lg-2 m-form__group-sub">
                                    <button mat-raised-button color="accent" [disabled]="!target.valid"
                                        (click)="viewTargetDetail()"><span><i class="la la-check"></i></span>View
                                        Target
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>
<div *ngIf="showViewReport">
    <m-portlet>
        <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Target View Product Wise
                </h3>

                <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
                style="float: right;" class="col-sm-1" (click)="exporttoExcel()"><i class="fa fa-file-excel"
                    style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i></span>

                <span matTooltip="Print" matTooltipPosition="above" aria-label="Displays a tooltip"
                (click)="onPreviewClick()"><i class="fa fa-print"
                    style="cursor:pointer; color: blue;font-size: 2em;"
                    aria-hidden="true"></i></span>


            </div>
        </ng-container>
        
           

        
        <ng-container mPortletBody>
            <div class="row">
                <div class="col-xl-12">
                    <div style="overflow:auto; max-height: 26rem;" id="tableId1">
                        <table >
                            <thead>
                                <tr>
                                    <th *ngIf="showStateName">State</th>
                                    <th *ngIf="showEmpName">User Name</th>
                                    <th *ngIf="showHQName">Headquarter Name</th>
                                    <th>Product Name</th>
                                    <th>Group</th>
                                    <th *ngIf="firstQuarter">Jan</th>
                                    <th *ngIf="firstQuarter">Feb</th>
                                    <th *ngIf="firstQuarter">March</th>
                                    <th *ngIf="secondQuarter">April</th>
                                    <th *ngIf="secondQuarter">May</th>
                                    <th *ngIf="secondQuarter">June</th>
                                    <th *ngIf="thirdQuarter">July</th>
                                    <th *ngIf="thirdQuarter">Aug</th>
                                    <th *ngIf="thirdQuarter">Sep</th>
                                    <th *ngIf="fourthQuarter">Oct</th>
                                    <th *ngIf="fourthQuarter">Nov</th>
                                    <th *ngIf="fourthQuarter">Dec</th>
                                    <th *ngIf="yearlyTarget">Quantity</th>
                                    <th>TOTAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of dataSource.obj1">
                                    <td *ngIf="showStateName">
                                        {{data.stateName}}
                                    </td>
                                    <td *ngIf="showEmpName">
                                        {{data.empName}}
                                    </td>
                                    <td *ngIf="showHQName">
                                        {{data.districtName}}
                                    </td>
                                    <td>
                                        {{data.productName}}
                                    </td>
                                    <td>
                                        {{data?.group}}
                                    </td>
                                    <ng-container *ngFor="let dd of data.targetQty">
                                        <td>{{dd}}</td>
                                    </ng-container>
                                    <td><b>{{data.totalQty}}</b></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><b>TOTAL</b></td>
                                    <td *ngIf="firstQuarter"><b>{{dataSource.totalJan}}</b></td>
                                    <td *ngIf="firstQuarter"><b>{{dataSource.totalFeb}}</b></td>
                                    <td *ngIf="firstQuarter"><b>{{dataSource.totalMar}}</b></td>
                                    <td *ngIf="secondQuarter"><b>{{dataSource.totalApr}}</b></td>
                                    <td *ngIf="secondQuarter"><b>{{dataSource.totalMay}}</b></td>
                                    <td *ngIf="secondQuarter"><b>{{dataSource.totalJune}}</b></td>
                                    <td *ngIf="thirdQuarter"><b>{{dataSource.totalJuly}}</b></td>
                                    <td *ngIf="thirdQuarter"><b>{{dataSource.totalAug}}</b></td>
                                    <td *ngIf="thirdQuarter"><b>{{dataSource.totalSep}}</b></td>
                                    <td *ngIf="fourthQuarter"><b>{{dataSource.totalOct}}</b></td>
                                    <td *ngIf="fourthQuarter"><b>{{dataSource.totalNov}}</b></td>
                                    <td *ngIf="fourthQuarter"><b>{{dataSource.totalDec}}</b></td>
                                    <td *ngIf="yearlyTarget"><b>{{dataSource.yearlyQty}}</b></td>
                                    <td><b>{{dataSource.totalJan+dataSource.totalFeb+dataSource.totalMar+dataSource.totalApr+dataSource.totalMay+dataSource.totalJune+dataSource.totalJuly+dataSource.totalAug+dataSource.totalSep+dataSource.totalOct+dataSource.totalNov+dataSource.totalDec+dataSource.yearlyQty}}</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ng-container>
    </m-portlet>
</div>
<div *ngIf="showViewReportAmountwise">
    <m-portlet>
        <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Target View Amount Wise
                </h3>
                <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
                style="float: right;" class="col-sm-1" (click)="exportAsService()"><i class="fa fa-file-excel"
                    style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i></span>
              
                    <span matTooltip="Print" matTooltipPosition="above" aria-label="Displays a tooltip"
                    (click)="onPreviewAmountClick()"><i class="fa fa-print"
                        style="cursor:pointer; color: blue;font-size: 2em;"
                        aria-hidden="true"></i></span>
        
                  
            </div>
        </ng-container>
        <ng-container  mPortletBody>
            <div class="row"   >
                <div class="col-xl-12">
                    <div style="overflow:auto; max-height: 26rem;" id="tableId2">
                        <table >
                            <thead>
                                <tr>
                                    <th *ngIf="showStateName">State</th>
                                    <th *ngIf="showEmpName">User Name</th>
                                    <th *ngIf="showHQName">Headquarter Name</th>
                                    <th *ngIf="firstQuarter">Jan</th>
                                    <th *ngIf="firstQuarter">Feb</th>
                                    <th *ngIf="firstQuarter">March</th>
                                    <th *ngIf="secondQuarter">April</th>
                                    <th *ngIf="secondQuarter">May</th>
                                    <th *ngIf="secondQuarter">June</th>
                                    <th *ngIf="thirdQuarter">July</th>
                                    <th *ngIf="thirdQuarter">Aug</th>
                                    <th *ngIf="thirdQuarter">Sep</th>
                                    <th *ngIf="fourthQuarter">Oct</th>
                                    <th *ngIf="fourthQuarter">Nov</th>
                                    <th *ngIf="fourthQuarter">Dec</th>
                                    <th *ngIf="yearlyTarget">Quantity</th>
                                    <th>TOTAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of dataSourceAmtwise.obj1">
                                    <td *ngIf="showStateName">
                                        {{data.stateName}}
                                    </td>
                                    <td *ngIf="showEmpName">
                                        {{data.empName}}
                                    </td>
                                    <td *ngIf="showHQName">
                                        {{data.districtName}}
                                    </td>
                                    <ng-container *ngFor="let dd of data.targetQty">
                                        <td>{{dd}}</td>
                                    </ng-container>
                                    <td><b>{{data.totalQty}}</b></td>
                                </tr>
                                <tr>
                                    <td><b>TOTAL</b></td>
                                    <td *ngIf="firstQuarter"><b>{{dataSourceAmtwise.totalJan}}</b></td>
                                    <td *ngIf="firstQuarter"><b>{{dataSourceAmtwise.totalFeb}}</b></td>
                                    <td *ngIf="firstQuarter"><b>{{dataSourceAmtwise.totalMar}}</b></td>
                                    <td *ngIf="secondQuarter"><b>{{dataSourceAmtwise.totalApr}}</b></td>
                                    <td *ngIf="secondQuarter"><b>{{dataSourceAmtwise.totalMay}}</b></td>
                                    <td *ngIf="secondQuarter"><b>{{dataSourceAmtwise.totalJune}}</b></td>
                                    <td *ngIf="thirdQuarter"><b>{{dataSourceAmtwise.totalJuly}}</b></td>
                                    <td *ngIf="thirdQuarter"><b>{{dataSourceAmtwise.totalAug}}</b></td>
                                    <td *ngIf="thirdQuarter"><b>{{dataSourceAmtwise.totalSep}}</b></td>
                                    <td *ngIf="fourthQuarter"><b>{{dataSourceAmtwise.totalOct}}</b></td>
                                    <td *ngIf="fourthQuarter"><b>{{dataSourceAmtwise.totalNov}}</b></td>
                                    <td *ngIf="fourthQuarter"><b>{{dataSourceAmtwise.totalDec}}</b></td>
                                    <td *ngIf="yearlyTarget"><b>{{dataSourceAmtwise.yearlyQty}}</b></td>
                                    <td><b>{{dataSourceAmtwise.totalJan+
                                        dataSourceAmtwise.totalFeb+
                                        dataSourceAmtwise.totalMar+
                                        dataSourceAmtwise.totalApr+
                                        dataSourceAmtwise.totalMay+
                                        dataSourceAmtwise.totalJune+
                                        dataSourceAmtwise.totalJuly+
                                        dataSourceAmtwise.totalAug+
                                        dataSourceAmtwise.totalSep+
                                        dataSourceAmtwise.totalOct+
                                        dataSourceAmtwise.totalNov+
                                        dataSourceAmtwise.totalDec+
                                        dataSourceAmtwise.yearlyQty}}</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ng-container>
    </m-portlet>
</div>