<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Contact Us
            </h3>
        </div>
    </ng-container>

    <ng-container mPortletBody>
        <h4 style="text-align: center;"><span style="color: #004444;">For any Technical Assistance, kindly email us at : </span> <strong><i class="la la-envelope"></i>&nbsp; <a href="mailto:support@etech-services.com">support@etech-services.com</a></strong></h4>
        <h4 style="text-align: center;"><span style="color: #004444;">OR</span></h4>
        <h4 style="text-align: center;"><span style="color: #004444;">Call us on : </span> <strong> <i class='la la-phone'></i>&nbsp;+91-9212277333, +91-9310310200, 0124-4104142</strong></h4>
    </ng-container>
</m-portlet>