<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Fare Rate Card
            </h3>
        </div>
    </ng-container>
    <!-- Form Generation -->
    <ng-container mPortletBody>
        <form [formGroup]="frcForm" class="m-form m-form--label-align-left- m-form--state" (ngSubmit)="createFRC()">
            <div class="row">
                <div class="col-xl-12 ">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-3" [hidden]="!isShowDivision">
                                <m-division (valueChange)="getDivision($event)" [check]=true></m-division>
                            </div>
                            <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowState">
                                <m-state (valueChange)="getStateValue($event)" [check]=true></m-state>
                            </div>
                            <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDistrict">
                                <m-district (valueChange)="setDistrictValue($event)" [check]=true></m-district>
                            </div>
                            <div class="col-lg-3" [hidden]="!isShowDesignation">
                                <m-designation (valueChange)="getDesignation($event)" [setValue]="designation"
                                    [check]=true></m-designation>
                            </div>
                            <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowEmployees">
                                <m-employee (valueChange)="setEmployees($event)" [check]=true></m-employee>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-form__section m-form__section--first" formArrayName="data">
                <div class="form-group m-form__group row" *ngFor="let item of data.controls; let pointIndex=index"
                    [formGroupName]="pointIndex">
                    <fieldset>
                        <legend>Fare Rate Card Designation</legend>
                        <div class="row">
                            <div class="col-lg-3">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input type="number" matInput formControlName="fromDistance"
                                        placeholder="From Distance in KM">
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input type="number" matInput formControlName="toDistance"
                                        placeholder="To Distance in KM">
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3">
                                <mat-form-field class="mat-form-field-fluid">
                                    <mat-select (selectionChange)="setPlaceholder($event)"
                                        formControlName="allounceToBeGet" placeholder="Allowance To Be Get">
                                        <mat-option value="KM Wise">KM Wise</mat-option>
                                        <mat-option value="Lumsum">Lumsum</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3">
                                <mat-form-field class="mat-form-field-fluid">
                                    <mat-select formControlName="applicableTo" multiple
                                        placeholder="Select Applicable To">
                                        <mat-option value="hq">HQ</mat-option>
                                        <mat-option value="ex">Ex</mat-option>
                                        <mat-option value="out">Out</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input type="number" matTooltip="Travelling Allowance Per KM" matInput
                                        formControlName="rate" [placeholder]="placeHolderForTA">
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3" [hidden]="!isShowCategory">
                                <m-dacategory (valueChange)="setCategoryValue($event,pointIndex)"
                                    [placeholder]="placeHolderForFRC"></m-dacategory>
                            </div>
                            <div class="col-lg-3" [hidden]="!isShowFRCCode">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input matInput formControlName="frcCode" placeholder="Enter FRC Code">
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3">
                                <mat-form-field class="mat-form-field-fluid">
                                    <textarea matInput formControlName="description" cdkTextareaAutosize
                                        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                                        placeholder="Enter Description"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-1">
                                <button *ngIf="data.length>1" mat-mini-fab color="warn" (click)="deleteFRC(pointIndex)">
                                    <mat-icon class="dlt-button">delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button color="accent" mat-mini-fab (click)="addMoreFRC()">
                            <mat-icon class="add-button">add icon</mat-icon>
                        </button>
                        <!--<button type="button" mat-raised-button color="accent" (click)="addMoreFRC()">Add More FRC</button>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button mat-raised-button [disabled]="!frcForm.valid" color="primary">Create FRC</button>
                </div>
            </div>

        </form>
    </ng-container>
</m-portlet>
<ng-container>
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</ng-container>
<ng-container>
    <!-- <div class="table-container mat-elevation-z8"> -->
    <!-- <table #table class="display"> -->
    <!-- <table #table mat-table [dataSource]="dataSource" matSort> -->
    <!-- <ng-container matColumnDef="sn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>SN.</th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
            </ng-container> -->

    <!-- <ng-container matColumnDef="divisionName" *ngIf="isShowDivision">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Division </th>
                <td mat-cell *matCellDef="let element"> {{element?.divisionMaster?.divisionName}} </td>
            </ng-container> -->

    <!-- <ng-container matColumnDef="designation" *ngIf="isShowDesignation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Designation </th>
                <td mat-cell *matCellDef="let element"> {{element?.designation}} </td>
            </ng-container>

            <ng-container matColumnDef="fromDistance">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;From Distance </th>
                <td mat-cell *matCellDef="let element"> {{element.fromDistance}} </td>
            </ng-container>

            <ng-container matColumnDef="toDistance">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;To Distance </th>
                <td mat-cell *matCellDef="let element"> {{element.toDistance}} </td>
            </ng-container>

            <ng-container matColumnDef="allounceToBeGet">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Allowance To Be Get </th>
                <td mat-cell *matCellDef="let element"> {{element?.allounceToBeGet}} </td>
            </ng-container>

            <ng-container matColumnDef="applicableTo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Applicable To </th>
                <td mat-cell *matCellDef="let element"> {{element?.applicableTo | uppercase}} </td>
            </ng-container>

            <ng-container matColumnDef="rate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp; Fare </th>
                <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Description </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="frcCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;FRC Code </th>
                <td mat-cell *matCellDef="let element"> {{element.frcCode}} </td>
            </ng-container>

            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef>
                    Loading data...
                </mat-footer-cell>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row> -->
    <!-- </table> -->

    <!----------------nipun(17-01-2020)-->
    <div class="m-portlet">
        <div class="m-portlet__body m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-12">
                    <div class="m-widget14">

                        <!-- <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Companies Details
                                    </h3>
                                </div> -->

                        <hr /><br />
                        <table #table class="display" style="width:100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <mat-paginator [pageSizeOptions]=[5,20,50,100] [pageSize]="20" showFirstLastButtons></mat-paginator>
            <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
                <mat-progress-spinner color="primary" mode="indeterminate">
                </mat-progress-spinner>
            </mat-card> -->

    <!-- </div> -->
    <!----------------nipun(17-01-2020)-->
</ng-container>