<!-- <li class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width" m-dropdown-toggle="click" m-dropdown-persistent="true"> -->
	<a href="javascript:void(0);" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">
		<span class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small m-badge--danger"
			[ngClass]="animateBlink">{{notificationCount}}</span>
	
		<span class="m-nav__link-icon" [ngClass]="animateShake">
			<span class="m-nav__link-icon-wrapper">
				<i class="flaticon-alarm"></i>
			</span>
		</span>
	</a>
	<div class="m-dropdown__wrapper">
		<span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
		<div class="m-dropdown__inner">
			<div class="m-dropdown__header m--align-center"
				style="background: url(./assets/app/media/img/misc/notification_bg.jpg); background-size: cover;">
				<span class="m-dropdown__header-title">
					{{notificationCount}} New Notifications
				</span>
				<div class="row">
					<span class="col-6 m-dropdown__header-subtitle">
						{{birthdayNotificationCount}} Birthdays
					</span>
					<span class="col-6 m-dropdown__header-subtitle">
						{{anniNotificationCount}} Anniversaries
					</span>
				</div>
			</div>
			<div class="m-dropdown__body">
				<div class="m-dropdown__content">
					<!-- <mat-tab-group>
						<mat-tab label="Alerts">
							<perfect-scrollbar style="height: 250px;">
								<m-list-timeline [type]="'alert'"></m-list-timeline>
							</perfect-scrollbar>
						</mat-tab>
						<mat-tab label="Events">
							<perfect-scrollbar style="height: 250px;">
								<m-list-timeline [type]="'event'"></m-list-timeline>
							</perfect-scrollbar>
						</mat-tab>
						<mat-tab label="Logs">
							<perfect-scrollbar style="height: 250px;">
								<m-list-timeline [type]="'log'"></m-list-timeline>
							</perfect-scrollbar>
						</mat-tab>
					</mat-tab-group> -->
	
					<mat-tab-group mat-stretch-tabs (selectedTabChange)="tabChange($event)" [selectedIndex]="0">
						<mat-tab label="Birthday">
							<perfect-scrollbar style="height: 250px;">
								<div *ngIf="birthdayToday.length > 0">
									<div class="pyro">
										<div class="before"></div>
										<div class="after"></div>
									</div>
									<div class="birthdayBanner">
										<img src="../../../../../../assets/app/media/img/HB1.png" alt="">
									</div>
									<div *ngFor="let bday of birthdayToday">
										<div class="wrapper d-flex justify-content-center align-items-center bg-light mb-4">
											<div class="mat-elevation-z8" style="width: 600px;">
												<div class="card-body">
													<div class="row">
														<div class="col-3">
															<img src="../../../../../../assets/app/media/img/balloons.png" alt=""
																class="img-fluid">
														</div>
														<div class="col-9">
															<h5 class="card-title">{{bday.name}}</h5>
															<h6 class="card-subtitle text-muted mb-2">
																<span style="color: #f36980 !important"> {{bday.type | titlecase}}</span>, {{bday.hq}} ({{bday.state}})
															</h6>
															<h6 class="card-subtitle text-muted mb-2">Mobile : {{bday.mobile}}</h6>
															<h6 class="card-subtitle text-muted mb-2">Employee Name : {{bday.mrrname}} - {{bday.districts}}</h6>
	
															<p class="card-text">Happy Birthday !!!🎂🎁🎈</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div *ngIf="birthdayToday.length == 0">
									<div class="wrapper d-flex justify-content-center align-items-center bg-light mb-4">
										<div class="mat-elevation-z8" style="width: 600px;">
											<div class="card-body">
												<div class="row">
													<div class="col-12 text-center">
														<h5 class="card-title">OOPS!!</h5>
														<h6 class="card-subtitle text-muted mb-2">No Birthdays today.</h6>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-12 showProcessing" *ngIf="showProcessing" align="center">
									<mat-spinner strokeWidth="3" [diameter]="60"></mat-spinner>
								</div>
							</perfect-scrollbar>
						</mat-tab>
						<mat-tab label="Anniversary">
							<perfect-scrollbar style="height: 250px;">
								<div *ngIf="anniversaryToday.length == 0">
									<div class="wrapper d-flex justify-content-center align-items-center bg-light mb-4">
										<div class="mat-elevation-z8" style="width: 600px;">
											<div class="card-body">
												<div class="row">
													<div class="col-12 text-center">
														<h5 class="card-title">OOPS!!</h5>
														<h6 class="card-subtitle text-muted mb-2">No Anniversaries today.
														</h6>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div *ngIf="anniversaryToday.length > 0">
									<div class="pyro">
										<div class="before"></div>
										<div class="after"></div>
									</div>
									<div class="anniversaryBanner">
										<img src="../../../../../../assets/app/media/img/HA1.png" alt="">
									</div>
									<div *ngFor="let item of anniversaryToday">
										<div class="wrapper d-flex justify-content-center align-items-center bg-light mb-4">
											<div class="mat-elevation-z8" style="width: 600px;">
												<div class="card-body">
													<div class="row">
														<div class="col-3">
															<img src="../../../../../../assets/app/media/img/firework.png" alt=""
																class="img-fluid">
														</div>
														<div class="col-9">
															<h5 class="card-title">{{item.name}}</h5>
															<h6 class="card-subtitle text-muted mb-2">
																<span style="color: #f36980 !important">{{item.type | titlecase}}</span>, {{item.hq}} ({{item.state}})
															</h6>
															<h6 class="card-subtitle text-muted mb-2">Mobile : {{item.mobile}}</h6>
															<p class="card-text">Happy Anniversary !!! 🎂🎁🎈</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-12 showProcessing" *ngIf="showProcessing" align="center">
									<mat-spinner strokeWidth="3" [diameter]="60"></mat-spinner>
								</div>
							</perfect-scrollbar>
						</mat-tab>
					</mat-tab-group>
	
	
				</div>
			</div>
		</div>
	</div>
	<!-- </li> -->