<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                SSS Consolidate Performance Wise
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='sssConsolidate' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewRecords()">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="col-xl-12 form-group m-form__group row">
                                <div class="m-form__group-sub" [hidden]=!showGeoReportType>
                                    <mat-radio-button class="form-control-label" (change)="reportType('Geographical')" value="Geographical">
                                        * Geographical
                                    </mat-radio-button>
                                </div>
                                <div class="m-form__group-sub" [hidden]=!showEmpReportType>
                                    <mat-radio-button class="form-control-label" (change)="reportType('Employeewise')" value="Employeewise">
                                        * Employeewise
                                    </mat-radio-button>
                                </div>
                                <div class="m-form__group-sub" [hidden]=!showStokistReportType>
                                    <mat-radio-button class="form-control-label" (change)="reportType('Stokistwise')" value="Stokistwise">
                                        * Stockistwise
                                    </mat-radio-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">

                                <div class="col-lg-3 m-form__group-sub" [hidden]=!typeFilter>
                                    <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!stateFilter>
                                    <m-state (valueChange)="getStateValue($event)" [check]=false #callStateComponent></m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!districtFilter>
                                    <m-district [check]=true (valueChange)="getEmployeeValue($event)" #callDistrictComponent></m-district>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!employeeFilter>
                                    <m-employee [check]=true (valueChange)="getStockists($event)" #callEmployeeComponent></m-employee>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!stokistFilter>
                                    <div class="m-form__control">
                                        <m-mapped-stockist (valueChange)="setStockistValue($event)" #callMappedStockistComponent [check]=true></m-mapped-stockist>
                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-month (valueChange)="getMonth($event)" #callMonthComponent></m-month>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-year (valueChange)="getYear($event)" #callYearComponent></m-year>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent" [disabled]="!sssConsolidate.valid"><span><i
                                              class="la la-check"></i></span>View
                                      Status</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>


    </div>
</m-portlet>

<div *ngIf="showReport">
    <m-portlet>
        <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    SSS Consolidate Report
                </h3>
            </div>
        </ng-container>
        <div mPortletHeadTools>

        </div>
        <div mPortletBody>
            <div style="width:100% ; overflow:auto;  ">
                <table #dataTable class="display" style="width:100%">
                    <tfoot>
                        <tr>
                            <th>Total:</th>
                            <th *ngIf="showStockistDoctorInTable"></th>
                            <th *ngIf="showStockistDoctorInTable"></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </m-portlet>
</div>

<div class="col-xl-12" *ngIf="showProcessing" align="center">
    <mat-spinner strokeWidth="3" [diameter]="60"></mat-spinner>
</div>