<m-portlet>
  <div mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        {{this.currentUser.company.lables.stockistLabel}} Visit Report
      </h3>
    </div>
  </div>
  <div mPortletHeadTools>
    <div>
      <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
  </div>

  <div mPortletBody>
    <form [formGroup]='stokistForm' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewRecords()">
      <div class="m-portlet__body">
        <div class="row" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'">
          <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
        </div>
        <div class="row">
          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">
                <div class="col-lg-3 m-form__group-sub">
                  <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                </div>

                <div class="col-lg-3 m-form__group-sub" [hidden]="!isDivisionExist">
                  <m-division (valueChange)="getDivisionValue($event)" [check]=true #callDivisionComponent>
                  </m-division>
                </div>

                <div class="col-lg-3 m-form__group-sub" *ngIf="showState">
                  <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent></m-state>
                </div>

                <div class="col-lg-3 m-form__group-sub" [hidden]="!showHq">
                  <m-district [check]=true (valueChange)="getDistrictValue($event)" #callDistrictComponent></m-district>
                </div>

                <div class="col-lg-3 m-form__group-sub" [hidden]="!showEmployee">
                  <m-designation [check]=true (valueChange)="getDesignation($event)" [check]=false
                    #callDesignationComponent></m-designation>
                </div>

                <div class="col-lg-3 m-form__group-sub" [hidden]="!showEmployee">
                  <m-employee [check]=true (valueChange)="getEmployeeValue($event)" #callEmployeeComponent></m-employee>
                </div>

                <div class="col-lg-3 m-form__group-sub">
                  <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                </div>

                <div class="col-lg-3 m-form__group-sub">
                  <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                </div>

                <div class="col-lg-3 m-form__group-sub">
                  <button mat-raised-button color="accent" [disabled]="!stokistForm.valid"><span><i
                        class="la la-check"></i></span> View Status</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</m-portlet>