<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Missed {{this.currentUser.company.lables.doctorLabel}}/{{this.currentUser.company.lables.vendorLabel}}
                Report
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='untouchedProviderFilter' class="m-form m-form--label-align-left- m-form--state-"
            (ngSubmit)="viewRecords()">
            <div class="m-portlet__body">
                <div class="row" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'">
                    <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
                </div>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">

                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showType">
                                    <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                                    <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent>
                                    </m-division>
                                </div>

                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showState">
                                    <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                                    </m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDistrict">
                                    <m-district [check]=true (valueChange)="getDistrictValue($event)"
                                        #callDistrictComponent></m-district>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showArea">
                                    <m-area [check]=true (valueChange)="getAreaValue($event)" #callAreaComponent>
                                    </m-area>
                                </div>

                                <!-- <div class="col-lg-3 m-form__group-sub" [hidden]="!showDesignation">
                                    <m-designation [check]=false (valueChange)="getDesignation($event)"
                                        #callDesignationComponent></m-designation>
								</div> -->

								<!-- <div class="col-lg-3 m-form__group-sub" [hidden]="!showDesignation">
                                    <m-designation [check]=false (valueChange)="getDesignation($event)"
                                        #callDesignationComponent></m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showEmployee">
                                    <m-employee [check]=true (valueChange)="getEmployee($event)"
                                        #callEmployeeComponent></m-employee>
								</div> -->




								<div class="col-lg-3 m-form__group-sub" [hidden]="!showDesignation">
                                    <m-designation [check]=false (valueChange)="getDesignation($event)"
                                        #callDesignationComponent></m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showEmployee">
                                    <m-employee [check]=true (valueChange)="getEmployeeValue($event)"
                                        #callEmployeeComponent></m-employee>
								</div>

                                <div class="col-lg-3 m-form__group-sub" >
                                    <m-status [check]=true (valueChange)="getStatusValue($event)" #callStatusComponent>
                                    </m-status>
                                </div>

                                <!-- <div class="col-lg-3 m-form__group-sub" [hidden]="!showEmployee">
                                    <m-employee [check]=true (valueChange)="getEmployeeValue($event)"
                                        #callEmployeeComponent></m-employee>
                                </div> -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <mat-radio-group formControlName="viewFor" (change)="setTableHeading($event)">
                                        <mat-radio-button value="RMP">{{this.currentUser.company.lables.doctorLabel}}
                                        </mat-radio-button>
                                        <mat-radio-button *ngIf="!otherLabel" value="Drug">
                                            {{this.currentUser.company.lables.vendorLabel}}&nbsp;/&nbsp;{{this.currentUser.company.lables.stockistLabel}}
                                        </mat-radio-button>
                                        <mat-radio-button *ngIf="otherLabel" value="Drug">{{otherLabel}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showCategory">
                                    <m-category [categorySelected]="selectedCategory"
                                        (valueChange)="getCategory($event)" #callMefComponent></m-category>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent"
                                        [disabled]="!untouchedProviderFilter.valid"><span><i
                                                class="la la-check"></i></span> View Status</button> </div>
                            </div>

                        </div>
                    </div>
                </div>




            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>

<ng-container>
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</ng-container>

<m-portlet [options]="{enableSticky: true}" [hidden]="!showUntouchedProviderDetails">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Missed {{dataViewFor}} Detail
            </h3>
        </div>
    </ng-container>

    <ng-container mPortletBody>

        <div class="col-xl-12">
            <table #untouchedDataTable class="display" style="width:100%">
            </table>
        </div>

    </ng-container>
</m-portlet>
