<m-portlet>
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        App Version View
      </h3>
    </div>
  </ng-container>

  <div mPortletHeadTools>
    <div>
      <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
  </div>

  <ng-container mPortletBody>
    <form [formGroup]='dcrStatus' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)='getRecords()'>
      <div class="m-portlet__body">

        <div class="row">
          <div class="col-xl-12">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">
              

                <div class="col-lg-3 m-form__group-sub" [hidden]='!showDivisionFilter'>
                  <m-division (valueChange)="getDivisionValue($event)" [check]=true #callDivisionComponent>
                  </m-division>
                </div> 

                <div class="col-lg-3 m-form__group-sub" [hidden]='!employeeFilter'>
                  <m-designation (valueChange)="getDesignation($event)" [check]=true #callDesignationComponent>
                  </m-designation>
                </div> <!-- designation FILTER -->

                <div class="col-lg-3 m-form__group-sub" [hidden]='!employeeFilter'>
                  <m-employee (valueChange)="getEmployee($event)" [check]=true #callEmployeeComponent>
                  </m-employee>
                </div> <!-- Employee FILTER -->



                <div class="col-lg-3 m-form__group-sub">
                  <button mat-raised-button color="accent" [disabled]="!dcrStatus.valid"><span><i
                        class="la la-check"></i></span>View Details</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</m-portlet>

<ng-container>
  <div class="m-portlet"[hidden]="!show" >
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-xl-12">
          <div class="m-widget14">



  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Filter">
  </mat-form-field>
  <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
                style="float: right;" class="col-sm-1" (click)="exporttoExcel()"><i class="fa fa-file-excel"
                    style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i></span>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" id="tableId1">
     
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>  Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> State Name </th>
        <td mat-cell *matCellDef="let element"> {{element.stateName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> App Version </th>
        <td mat-cell *matCellDef="let element"> {{element.appCurrentVersion}} </td>
      </ng-container>
      <!-- Weight Column -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef>Model</th>
        <td mat-cell *matCellDef="let element"> {{element.model}} </td>
      </ng-container>
      <!-- Weight Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Division Name </th>
        <td mat-cell *matCellDef="let element"> {{element.divisionName}} </td>
      </ng-container>
      <ng-container matColumnDef="districtName">
        <th mat-header-cell *matHeaderCellDef> District Name </th>
        <td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
      </ng-container>
      <!-- Symbol Column -->
     
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
   
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20,100,250,500,1000]"
  showFirstLastButtons 
  aria-label="Select page of periodic elements">
  </mat-paginator>
  <div class="row">
   
  </div>


  </div>
</div></div></div></div></ng-container>


<div class="col-xl-12" *ngIf="showProcessing" align="center">
  <img src="assets/app/media/img/processing/loading.gif">
</div>