<mat-form-field style="width: 100%;">
    <input matInput [(ngModel)]='date' [matDatepicker]="pickerStart" placeholder="Choose From Date" (dateChange)="yourFunction($event.value)" [required]="required" readonly disabled="false">
    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
    <mat-datepicker #pickerStart></mat-datepicker>
    <mat-error>From Date is required</mat-error>
</mat-form-field>