<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                View Tour Program
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <!-- use ng-container[mPortletHeadTools] for the top right toolbar content -->

    <!-- use ng-container[mPortletBody] for the body content -->
    <div mPortletBody [hidden]="!isToggled">
        <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="teamTPFilter" (ngSubmit)="showReport()">
            <!--begin: Form Body -->
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="m-form__control">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-select placeholder="Select View For" formControlName="viewFor" (ngModelChange)="showEmployeeFilter($event)">
                                                <mat-option value="teamTP" *ngIf="currentUser.userInfo[0].designationLevel =='0' || currentUser.userInfo[0].designationLevel >'1'">Team TP</mat-option>
                                                <mat-option value="self" *ngIf="currentUser.userInfo[0].designationLevel!='0'">Self </mat-option>
											</mat-select>
                                            <mat-error *ngIf="viewFor.hasError('required')">Please select View For</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                                    <m-division (valueChange)="getDivisionValue($event)" [check]=false #callDivisionComponent>
                                    </m-division>
                                </div>

                                <div class="col-lg-3 m-form__group-sub" *ngIf="isDesignationFilterView">
                                    <m-designation [check]=false (valueChange)="getDesignation($event)" #callDesignationComponent></m-designation>

                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="isDesignationFilterView">
                                    <m-employee (valueChange)="getEmployees($event)" #callEmployeeComponent [check]=false></m-employee>

                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-month (valueChange)="getMonth($event)" #callMonthComponent></m-month>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-year (valueChange)="getYear($event)" #callYearComponent></m-year>
                                </div>


                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="m-form__control">
                                        <button mat-raised-button color="accent" [disabled]="!teamTPFilter.valid">
                                            <span>
                                                <i class="la la-check"></i>
                                            </span>View Report</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>

<m-portlet [options]="{enableSticky: true}" *ngIf="showTPDetails">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-">
            <h3 class="m-portlet__head-text">title
                Tour Program Detail
            </h3>
        </div>
    </ng-container>
	<div mPortletHeadTools>
        <div class="col">
            <span matTooltip="Print" matTooltipPosition="above" aria-label="Displays a tooltip"
            (click)="onPreviewClick()"><i class="fa fa-print"
                style="cursor:pointer; color: blue;font-size: 2em;"
                aria-hidden="true"></i></span>

            <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
                style="float: right;" class="col-sm-1" (click)="exporttoExcel()"><i class="fa fa-file-excel"
                    style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i></span>
        </div>
    </div>

    <div mPortletBody id="tableId1">
    <ng-container mPortletBody>
         
        <div style="margin: -1em 0 2em 0;">
            <table class="display" style="width:100%" >
                <thead>
                    <tr class="thColor">
                        <th width="10%">Submission Date :</th>
                        <th width="10%">Approval Date :</th>
                        <th width="10%">Approved By :</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="10%">{{tpSubmittionDate | date }}</td>
                        <td width="10%">{{tpApprovalDate | date }}</td>
                        <td width="10%">{{tpApprovedBy}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="example-container mat-elevation-z8" style="overflow: auto;" >

            <table mat-table [dataSource]="dataSource" #MatTable >
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
                <ng-container matColumnDef="submittedActivity">
                    <th mat-header-cell *matHeaderCellDef>Submitted Activity </th>
                    <td mat-cell *matCellDef="let element"> {{element.submittedActivity}} </td>
                </ng-container>
                <ng-container matColumnDef="apprvActivity">
                    <th mat-header-cell *matHeaderCellDef>Aprroved Activity </th>
                    <td mat-cell *matCellDef="let element"> {{element.apprvActivity}} </td>
                </ng-container>
                <ng-container matColumnDef="submittedArea">
                    <th mat-header-cell *matHeaderCellDef>Submitted {{this.currentUser.company.lables.areaLabel}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.submittedArea}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Employee Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.workWithPlan ? element.workWithPlan:'---'}} </td>
                </ng-container>
                <ng-container matColumnDef="approvedArea">
                    <th mat-header-cell *matHeaderCellDef>Approved {{this.currentUser.company.lables.areaLabel}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.approvedArea}} </td>
                </ng-container>
                <ng-container matColumnDef="submittedDoctor">
                    <th mat-header-cell *matHeaderCellDef> Submitted {{this.currentUser.company.lables.doctorLabel}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.submittedDoctor}} </td>
                </ng-container>
                <ng-container matColumnDef="apprvDoctor">
                    <th mat-header-cell *matHeaderCellDef> Approved {{this.currentUser.company.lables.doctorLabel}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.apprvDoctor}} </td>
                </ng-container>
                <ng-container matColumnDef="submittedChemist">
                    <th mat-header-cell *matHeaderCellDef> Submitted {{this.currentUser.company.lables.vendorLabel}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.submittedChemist}} </td>
                </ng-container>
                <ng-container matColumnDef="approvedChemists">
                    <th mat-header-cell *matHeaderCellDef> Approved {{this.currentUser.company.lables.vendorLabel}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.approvedChemists}} </td>
                </ng-container>
                <ng-container matColumnDef="submittedRemark">
                    <th mat-header-cell *matHeaderCellDef> Submitted Remark</th>
                    <td mat-cell *matCellDef="let element"> {{element.submittedRemark}} </td>
                </ng-container>
                <ng-container matColumnDef="apprvRemark">
                    <th mat-header-cell *matHeaderCellDef> Approved Remark</th>
                    <td mat-cell *matCellDef="let element"> {{element.apprvRemark}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator #paginator [length]="dataSource?.data?.length || 0"
            [pageSizeOptions]="[5, 10, 50]" [pageSize]="10" showFirstLastButtons>
        </mat-paginator>
        </div>
    </ng-container>
    </div>
</m-portlet>

<ng-container>
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</ng-container>
