<div class="m-portlet__head-title">
    <div class="row">
        <div class="col-lg-6">
            <h6 class="m-portlet__head-text">
                Submission Date : {{tpSubmittionDate}}
            </h6>
        </div>
        <div class="col-lg-6" align="right" *ngIf="isShowSendForApproval">
            <button (click)="sendForApproval()" mat-raised-button color="warn">Send For Approval</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <h6 class="m-portlet__head-text">
                Approval Date : {{tpApprovalDate}}, Approved By : {{tpApprovedBy}}
            </h6>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" *ngIf="showMsgString">
            <h6 [ngStyle]="{color:isColor}">{{msgString}}</h6>
        </div>
    </div>
    <br />
    <div class="example-container mat-elevation-z8">

        <table class="tableWidth" mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions &nbsp;&nbsp;&nbsp;</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="accent" (click)="editTP(element)"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button color="warn" (click)="deleteTP(element)"><mat-icon>delete</mat-icon></button>

                </td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>
            <ng-container matColumnDef="submittedActivity">
                <th mat-header-cell *matHeaderCellDef>Submitted Activity </th>
                <td mat-cell *matCellDef="let element"> {{element.submittedActivity}} </td>
            </ng-container>
            <ng-container matColumnDef="apprvActivity">
                <th mat-header-cell *matHeaderCellDef>Aprroved Activity </th>
                <td mat-cell *matCellDef="let element"> {{element.apprvActivity}} </td>
            </ng-container>
            <ng-container matColumnDef="submittedArea" >
                <th mat-header-cell *matHeaderCellDef>Submitted {{this.currentUser.company.lables.areaLabel}} </th>
                <td mat-cell *matCellDef="let element"> {{element.submittedArea}} </td>
            </ng-container>
            <ng-container matColumnDef="approvedArea">
                <th mat-header-cell *matHeaderCellDef>Approved {{this.currentUser.company.lables.areaLabel}} </th>
                <td mat-cell *matCellDef="let element"> {{element.approvedArea}} </td>
            </ng-container>
            <ng-container matColumnDef="submittedDoctor">
                <th mat-header-cell *matHeaderCellDef> Submitted {{this.currentUser.company.lables.doctorLabel}} </th>
                <td mat-cell *matCellDef="let element"> {{element.submittedDoctor}} </td>
            </ng-container>
            <ng-container matColumnDef="apprvDoctor">
                <th mat-header-cell *matHeaderCellDef> Approved {{this.currentUser.company.lables.doctorLabel}}</th>
                <td mat-cell *matCellDef="let element"> {{element.apprvDoctor}} </td>
            </ng-container>
            <ng-container matColumnDef="submittedChemist">
                <th mat-header-cell *matHeaderCellDef> Submitted {{this.currentUser.company.lables.vendorLabel}} </th>
                <td mat-cell *matCellDef="let element"> {{element.submittedChemist}} </td>
            </ng-container>
            <ng-container matColumnDef="approvedChemists">
                <th mat-header-cell *matHeaderCellDef> Approved {{this.currentUser.company.lables.vendorLabel}}</th>
                <td mat-cell *matCellDef="let element"> {{element.approvedChemists}} </td>
            </ng-container>
            <ng-container matColumnDef="submittedRemark">
                <th mat-header-cell *matHeaderCellDef> Submitted Remark</th>
                <td mat-cell *matCellDef="let element"> {{element.submittedRemark}} </td>
            </ng-container>
            <ng-container matColumnDef="apprvRemark">
                <th mat-header-cell *matHeaderCellDef> Approved Remark</th>
                <td mat-cell *matCellDef="let element"> {{element.apprvRemark}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>