table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.table-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    overflow: auto;
}

.tableWidth {
    width: 2300px;
}

.mat-column-select {
    overflow: initial;
}

.example-container {
    height: 450px;
    overflow: auto;
    font-size: 10%;
}

table {
    width: 100%;
}


/* Zebra striping */

tr:nth-of-type(odd) {
    background: #eee;
}

th {
    padding: 6px;
    text-align: center;
    background: #16a184;
    color: rgb(235, 235, 235);
}

td,
th {
    padding: 0px;
    border: 1px solid #ccc;
    text-align: center;
}

.mat-header-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
}

th.mat-column-date,
td.mat-column-date {
    width: 130px;
}

th.mat-column-submittedActivity,
td.mat-column-submittedActivity {
    width: 150px;
}

th.mat-column-apprvActivity,
td.mat-column-apprvActivity {
    width: 150px;
}

th.mat-column-submittedArea,
td.mat-column-submittedArea {
    width: 300px;
}

th.mat-column-approvedArea,
td.mat-column-approvedArea {
    width: 300px;
}

th.mat-column-submittedDoctor,
td.mat-column-submittedDoctor {
    width: 300px;
}

th.mat-column-apprvDoctor,
td.mat-column-apprvDoctor {
    width: 300px;
}

th.mat-column-submittedChemist,
td.mat-column-submittedChemist {
    width: 300px;
}

th.mat-column-approvedChemists,
td.mat-column-approvedChemists {
    width: 300px;
}

th.mat-column-submittedRemark,
td.mat-column-submittedRemark {
    width: 150px;
}

th.mat-column-apprvRemark,
td.mat-column-apprvRemark {
    width: 180px;
}

th.mat-column-actions,
td.mat-column-actions {
    width: 150px;
}