<mat-form-field style="width: 100%;">
  <input matInput [matDatepicker]="pickerStart" placeholder="Choose To Date"  (dateChange)="yourFunction($event.value)" readonly disabled="false">
  <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
  <mat-datepicker  #pickerStart></mat-datepicker>
</mat-form-field>