<m-portlet>
  <div mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        STP Creation
      </h3>
    </div>
  </div>

  <div mPortletHeadTools>
    <div>
      <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
  </div>

  <div mPortletBody>
    <form [formGroup]='stpForm' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewRecords()">


      <div class="row">
        <div class="col-xl-12 ">
          <div class="m-form__section m-form__section--first">
            <div class="form-group m-form__group row">

              <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                <m-division (valueChange)="getDivisionValue($event)" [check]="false" #callDivisionComponent>
                </m-division>
              </div>

              <div class="col-lg-3 m-form__group-sub">
                <m-designation (valueChange)="getDesignation($event)" [check]='false' #callDesignationComponent>
                </m-designation>
              </div>

              <!-- <div class="col-lg-3 m-form__group-sub">
                <m-employee [check]='false' (valueChange)="getEmployeeValue($event)" #callEmployeeComponent>
                </m-employee>
              </div> -->

              <div *ngIf="EmployeeFilter" class="col-lg-3 m-form__group-sub">
                <mat-form-field style="width: 100%;">
                  <mat-label>Employee Name</mat-label>
                  <mat-select (valueChange)="getEmployeeValue($event)" #singleSelect>
                    <div class="d-flex mb-1 sticky-top" style="height: 3rem;background: #fff;">
                      <input id='textBox' class="form-control" matInput [formControl]='serchText' autocomplete='off'
                        placeholder="Search..." />
                    </div>

                    <mat-option *ngFor="let emp of filteredData | async" [value]="emp">
                      {{emp.name}} --- {{emp.district.districtName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div *ngIf="!EmployeeFilter" class="col-lg-3 m-form__group-sub">
                <mat-form-field style="width: 100%;">
                  <mat-label>Employee Name</mat-label>
                  <mat-select (valueChange)="getEmployeeValue($event)">
                    <mat-option *ngFor="let emp of employee" [value]="emp">
                      {{emp.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <fieldset>
                <legend>Create STP</legend>
                <div class="form-group m-form__group row" style="margin-left: 10px;">
                  <!-- <div class="col-lg">
                  <form [formGroup]="dataArraySection">
                    <div *ngFor="let data of dataArraySection.get('data1')">
                      <div [formGroup]="data">
                        <div class="form-groups">
                          <div class="row">
                            <div class="col-lg" style="display: flex;">

                              <div style="padding: 2px;">
                                <mat-form-field>
                                  <mat-label>From Area</mat-label>
                                  <mat-select placeholder="Select {{this.currentUser.company.lables.areaLabel}}*"
                                    formControlName="fromArea">
                                    <mat-option *ngFor="let area of areas" value="{{area.areaId}}">
                                      {{area.areaName}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>

                              <div style="padding: 2px;">
                                <mat-form-field>
                                  <mat-label>To Area</mat-label>
                                  <mat-select placeholder="Select {{this.currentUser.company.lables.areaLabel}}*"
                                    formControlName="toArea">
                                    <mat-option *ngFor="let area of areas" value="{{area.areaId}}">
                                      {{area.areaName}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>

                              <div style="padding: 2px;">
                                <mat-form-field>
                                  <mat-label>Station</mat-label>
                                  <input matInput placeholder="Station Type" formControlName='station'>
                                </mat-form-field>
                              </div>

                              <div style="padding: 2px;">
                                <mat-form-field>
                                  <mat-label>Distance</mat-label>
                                  <input matInput placeholder="Distance" formControlName='distance'>
                                </mat-form-field>
                              </div>

                            </div>
                            <div class="col">
                              <button *ngIf="dataArraySection.controls['data1'].length > 1" mat-mini-fab color="warn"
                                (click)="deleteData(pointIndex)">
                                <mat-icon class="dlt-button">-</mat-icon>
                              </button><br /><br />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-sm-2">
                  <button mat-mini-fab color="accent" (click)="addMoreData()">+</button>
                </div> -->
                  <div class="col-lg-3 m-form__group-sub">
                    <mat-form-field>
                      <mat-label>From Area</mat-label>
                      <mat-select placeholder="Select {{this.currentUser.company.lables.areaLabel}}*"
                        (valueChange)='getFromArea($event)'>
                        <mat-option *ngFor="let area of areas" [value]="area">
                          {{area.areaName}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-lg-3 m-form__group-sub">
                    <mat-form-field>
                      <mat-label>To Area</mat-label>
                      <mat-select placeholder="Select {{this.currentUser.company.lables.areaLabel}}*"
                        (valueChange)='getToArea($event)'>
                        <mat-option *ngFor="let area of areas" [value]="area">
                          {{area.areaName}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-lg-3 m-form__group-sub">
                    <mat-form-field>
                      <mat-label>Type</mat-label>
                      <mat-select placeholder="Select {{this.currentUser.company.lables.areaLabel}}*"
                        formControlName="station">
                        <mat-option *ngFor="let area of type" [value]="area">
                          {{area}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-lg-3 m-form__group-sub">
                    <mat-form-field>
                      <mat-label>FRC</mat-label>
                      <mat-select placeholder="FRC type" formControlName="frc">
                        <mat-option *ngFor="let data of frcData" [value]="data.id">
                          {{data.frcCode}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-lg-3 m-form__group-sub">
                    <mat-form-field>
                      <mat-label>Distance</mat-label>
                      <input matInput placeholder="Distance" formControlName='distance' [value]="inputValue">
                    </mat-form-field>
                  </div>

                  <div class="col-lg-3 m-form__group-sub">
                    <mat-form-field>
                      <mat-label>Frequency Visit</mat-label>
                      <input matInput placeholder="Frequency Visit" formControlName='frequencyVisit'
                        [value]='inputValue'>
                    </mat-form-field>
                  </div>
                </div>

              </fieldset>
            </div>
            <div class="col-lg-3 m-form__group-sub">
              <button mat-raised-button color="accent" [disabled]="!stpForm.valid"><span><i
                    class="la la-check"></i></span> Add STP</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</m-portlet>

<ng-container class="mat-elevation-z8" *ngIf="!isToggled">

  <!-- Manager Hierarchy Table -->
  <mat-card *ngIf="managerTable">
    <ng-container mPortletHeadTools>
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Team STP Records
        </h3>
      </div>
    </ng-container>

    <div class="table-container mat-elevation-z8" style="overflow: auto; max-height: 35rem; border-radius: 4px;">
      <table mat-table [dataSource]="dataSource2" matSort class="mat-elevation-z8">

        <!-- <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle1() : null" [checked]="selection1.hasValue() && isAllSelected1()"
              [indeterminate]="selection1.hasValue() && !isAllSelected1()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection1.toggle(row) : null"
              [checked]="selection1.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container> -->

        <!-- serial No Column -->
        <ng-container matColumnDef="sn">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
        </ng-container>

        <ng-container matColumnDef="eName">
          <th mat-header-cell *matHeaderCellDef> Employee Name </th>
          <td mat-cell *matCellDef="let element"> {{element.userInfo.name}} </td>
        </ng-container>

        <!-- From Area Column -->
        <ng-container matColumnDef="fromArea">
          <th mat-header-cell *matHeaderCellDef> From Area </th>
          <td mat-cell *matCellDef="let element"> {{element.fromArea.areaName}} </td>
        </ng-container>

        <!-- To Area Column -->
        <ng-container matColumnDef="toArea">
          <th mat-header-cell *matHeaderCellDef> To Area </th>
          <td mat-cell *matCellDef="let element"> {{element.toArea.areaName}} </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.type | uppercase}} </td>
        </ng-container>

        <!-- Distance -->
        <ng-container matColumnDef="distance">
          <th mat-header-cell *matHeaderCellDef> Distance </th>
          <td mat-cell *matCellDef="let element"> {{element.distance}} </td>
        </ng-container>

        <!-- frequency Visit -->
        <ng-container matColumnDef="fVisit">
          <th mat-header-cell *matHeaderCellDef> Frequency Visit </th>
          <td mat-cell *matCellDef="let element"> {{element.frequencyVisit}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Edit Details</th>
          <td mat-cell *matCellDef="let row;let i=index"> <button mat-button color="accent"
              (click)="editStpManager($event,i,row)">
              <i class="material-icons" style="color: #f44336;">edit</i></button> </td>
        </ng-container>

        <ng-container matColumnDef="addStp">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;ADD</th>
          <td mat-cell *matCellDef="let row;let i=index"> <button mat-mini-fab color="accent"
              aria-label="Example icon button with a plus one icon" (click)="addManagerSTP($event,i,row)"
              [disabled]='row.disableButton'>
              <mat-icon>+</mat-icon>
            </button> </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
      </table>
    </div>
    <!-- <div class="row">
      <div class="col-lg-12 dtl-btn">
        <button mat-raised-button color="primary" [disabled]="disableDeleteBtn" (click)="deleteSTP()">Delete
          STP</button>
      </div>
    </div> -->
  </mat-card>

  <!-- Own STP Table -->
  <mat-card *ngIf="stpTable">
    <ng-container mPortletHeadTools>
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          STP Data
        </h3>
      </div>
    </ng-container>

    <div class="table-container mat-elevation-z8" style="overflow: auto; max-height: 35rem; border-radius: 4px;">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox class="h-check-box" (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()">
            </mat-checkbox>&nbsp;&nbsp;
          </th>
          <td mat-cell *matCellDef="let row;let i=index">
            <mat-checkbox (click)="getSelectionValue($event,i,row)" [checked]="selection.isSelected(row)">
            </mat-checkbox>&nbsp;&nbsp;
          </td>
        </ng-container>

        <!-- serial No Column -->
        <ng-container matColumnDef="sn">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
        </ng-container>

        <!-- From Area Column -->
        <ng-container matColumnDef="fromArea">
          <th mat-header-cell *matHeaderCellDef> From Area </th>
          <td mat-cell *matCellDef="let element"> {{element.fromArea.areaName}} </td>
        </ng-container>

        <!-- To Area Column -->
        <ng-container matColumnDef="toArea">
          <th mat-header-cell *matHeaderCellDef> To Area </th>
          <td mat-cell *matCellDef="let element"> {{element.toArea.areaName}} </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.type | uppercase}} </td>
        </ng-container>

        <!-- Distance -->
        <ng-container matColumnDef="distance">
          <th mat-header-cell *matHeaderCellDef> Distance </th>
          <td mat-cell *matCellDef="let element"> {{element.distance}} </td>
        </ng-container>

        <!-- frequency Visit -->
        <ng-container matColumnDef="fVisit">
          <th mat-header-cell *matHeaderCellDef> Frequency Visit </th>
          <td mat-cell *matCellDef="let element"> {{element.frequencyVisit}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Edit Details</th>
          <td mat-cell *matCellDef="let row;let i=index">
            <button mat-button color="accent" (click)="editStp($event,i,row)">
              <i class="material-icons" style="color: #f44336;">edit</i></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="row">
      <div class="col-lg-12 dtl-btn">
        <button mat-raised-button color="primary" [disabled]="disableDeleteBtn" (click)="deleteSTP()">Delete
          STP</button>
      </div>
    </div>
  </mat-card>
</ng-container>