

.mat-error {
    display: block;
    font-size: 12px;
}

fieldset {
    width: 100%;
    margin: 10px;
    padding: 20px;
	border:1px solid #999;
	border-radius:8px;
	box-shadow:0 0 10px #999;
}
legend {
	display: flex;
    justify-content: center;
    border: 1px solid #bababa;
    border-radius: 15px;
    background: #46a284;
    color: #515151;
    background-color: white;
    box-shadow: 0px 0px 5px 2px #bcbcbc;
}

#textBox{
    border: none;
	//color: white;
	padding: 10px 22px;
	//text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 100%;
    position: absolute;
    z-index: 1;
}
// .add-button {
//     margin: 3px 0px 0px 6px;
// }
// .dlt-button {
//     margin-top: 3px;
// }


// tr:nth-of-type(odd) { 
// 	background: #eee; 
// }

