<mat-form-field style="width: 100%;">
    <mat-select [placeholder]="placeholder" required (selectionChange)='changedValue($event.value)' [(value)]="selected">
        <mat-option *ngFor="let category of categories" [value]="category">
            {{category}}
        </mat-option>
    </mat-select>
</mat-form-field>