<m-portlet [options]="{enableSticky: true}">

    <div mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Approve Tour Program
            </h3>
        </div>
    </div>

    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>

    <div mPortletBody [hidden]="!isToggled">
        <!-- <div class="m-portlet_foot m-portlet_foot--fit">
        </div> -->
        <form [formGroup]='tpApprovalFilter' class="m-form m-form--label-align-left- m-form--state-"
            (ngSubmit)="showReport()">

            <div class="m-portlet__body">

                <div class="row">
                    <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
                </div>

                <div class="row">

                    <div class="col-lg-3  m-form__group-sub">
                        <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                    </div>
                    <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                        <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent>
                        </m-division>
                    </div>
                    <div class="col-lg-3  m-form__group-sub" *ngIf="showState">
                        <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent></m-state>
                    </div>

                    <div class="col-lg-3  m-form__group-sub" *ngIf="showDistrict">
                        <m-district [check]=true (valueChange)="getDistrictValue($event)" #callDistrictComponent>
                        </m-district>
                    </div>

                    <div class="col-lg-3 m-form__group-sub">
                        <div class="m-form__control">
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-select placeholder="Is Submitted?" formControlName="submitted" (selectionChange)="submittedStatus($event.value)" multiple required>
                                    <mat-option value="Yes">Yes</mat-option>
                                    <mat-option value="No">No</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-lg-3  m-form__group-sub" *ngIf="showDesignation">
                        <m-designation [check]=false (valueChange)="getDesignation($event)" #callMonthComponent>
                        </m-designation>
                    </div>

                    <div class="col-lg-3  m-form__group-sub" *ngIf="showStatus">
                        <m-status [check]=false (valueChange)="getStatusValue($event)" #callStatusComponent></m-status>
                    </div>

                    <div class="col-lg-3  m-form__group-sub" *ngIf="showEmployee" >
                        <m-employee [check]=true (valueChange)="getEmployeeValue($event)" #callEmployeeComponent>
                        </m-employee>
                    </div>

                  
                   

                    <div class="col-lg-3 m-form__group-sub">
                        <m-month (valueChange)="getMonth($event)" #callMonthComponent></m-month>
                    </div>

                    <div class="col-lg-3 m-form__group-sub">
                        <m-year (valueChange)="getYear($event)" #callYearComponent></m-year>
                    </div>

                    <div class="col-lg-3 m-form__group-sub">
                        <button mat-raised-button color="accent" [disabled]="!tpApprovalFilter.valid"><span><i
                                    class="la la-check"></i></span>View Status</button>
                    </div>

                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>

    </div>
</m-portlet>


<m-portlet [options]="{enableSticky: true}" *ngIf="showTPDetails">
    <div mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Tour Program Detail
            </h3>
        </div>
    </div>

    

    
    <div mPortletBody>
      
        <div class="example-container mat-elevation-z8">

            <ng-container>
                <div >
                    <div style="float: right;">
                        <!-- <button mat-stroked-button (click)='PrintTableFunction()'>Print</button> -->
                       
                        <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
                            (click)="exporttoExcel()"><i class="fa fa-file-excel"
                                style="cursor:pointer; color: green;font-size: 2em;margin-left: 1.5rem;"
                                aria-hidden="true"></i></span>
                    </div>
        
        
                </div>
           
            <table mat-table class="table-responsive" [dataSource]="dataSource" id="tableId1" >
                
                <ng-container matColumnDef="stateName">
                    <th mat-header-cell *matHeaderCellDef>State Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.stateName}} </td>
                </ng-container>

                <!-- designation Column -->
                <ng-container matColumnDef="districtName">
                    <th mat-header-cell *matHeaderCellDef>{{this.currentUser.company.lables.hqLabel}} Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef > Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- designation Column -->
                <ng-container matColumnDef="designation">
                    <th mat-header-cell *matHeaderCellDef> Designation </th>
                    <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
                </ng-container>

                <!-- submit Column -->
                <ng-container matColumnDef="submitted">
                    <th mat-header-cell *matHeaderCellDef> Submitted </th>
                    <td mat-cell *matCellDef="let element"><span *ngIf="element.submitted == 'Yes' && element.approved == 'No'">
                              <a href="javascript:void(0);" (click)="getTPInDetail(element.userId,'submitted',element.name)">{{element.submitted}}</a>
                       </span>
                        <span *ngIf="element.submitted == 'Yes' && element.approved == 'Yes'">
                           {{element.submitted}}
                     </span>
                        <span *ngIf="element.submitted == 'No'">
                            {{element.submitted}}
                       </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="submittedDate">
                    <th mat-header-cell *matHeaderCellDef> Submittion Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.submittedDate}} </td>
                </ng-container>
                <ng-container matColumnDef="approved">
                    <th mat-header-cell *matHeaderCellDef> Approved </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.approved == 'Yes'">
                            <a href="javascript:void(0);" (click)="getTPInDetail(element.userId,'approved',element.name)">{{element.submitted}}</a>
                     </span>
                        <span *ngIf="element.approved == 'No'">
                          {{element.approved}}
                     </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="approvedDate">
                    <th mat-header-cell *matHeaderCellDef> Approved Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.approvedDate}} </td>
                </ng-container>
                <ng-container matColumnDef="rejectionMsg">
                    <th mat-header-cell *matHeaderCellDef> Rejection Messgae</th>
                    <td mat-cell *matCellDef="let element"> {{element.rejectionMsg}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
       
       
        </ng-container>
    </div>

    </div>

</m-portlet>


<m-portlet [options]="{enableSticky: true}" *ngIf="showCompleteTPDetails">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <div mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Tour Program Detail
            </h3>
        </div>
    </div>

    <!-- use ng-container[mPortletHeadTools] for the top right toolbar content -->

    <!-- use ng-container[mPortletBody] for the body content -->
    <div mPortletBody>
        <div class="m-portlet__head-title">
            <h5 class="m-portlet__head-text">
                {{employeeNameWithStatus}}
            </h5>
        </div>
        <div class="example-container mat-elevation-z8">
            <table mat-table class="table-responsive" [dataSource]="dataSourceForTPInDetail">
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
                <ng-container matColumnDef="submittedActivity" *ngIf="showSubmiitedColumn">
                    <th mat-header-cell *matHeaderCellDef>Submitted Activity </th>
                    <td mat-cell *matCellDef="let element"> {{element?.submittedActivity}} </td>
                </ng-container>
                <ng-container matColumnDef="submittedArea" *ngIf="showSubmiitedColumn">
                    <th mat-header-cell *matHeaderCellDef>Submitted {{this.currentUser.company.lables.areaLabel}} </th>
                    <td mat-cell *matCellDef="let element"> {{element?.submittedArea}} </td>
                </ng-container>
                <ng-container matColumnDef="submittedDoctor" *ngIf="showSubmiitedColumn">
                    <th mat-header-cell *matHeaderCellDef> Submitted {{this.currentUser.company.lables.doctorLabel}} </th>
                    <td mat-cell *matCellDef="let element"> {{element?.submittedDoctor}} </td>
                </ng-container>
                <ng-container matColumnDef="submittedChemist" *ngIf="showSubmiitedColumn">
                    <th mat-header-cell *matHeaderCellDef> Submitted {{this.currentUser.company.lables.vendorLabel}} </th>
                    <td mat-cell *matCellDef="let element"> {{element?.submittedChemist}} </td>
                </ng-container>
                <ng-container matColumnDef="submittedRemark" *ngIf="showSubmiitedColumn">
                    <th mat-header-cell *matHeaderCellDef> Submitted Remark</th>
                    <td mat-cell *matCellDef="let element"> {{element?.submittedRemark}} </td>
                </ng-container>
                <ng-container matColumnDef="apprvActivity" *ngIf="showApprovedColumn">
                    <th mat-header-cell *matHeaderCellDef> Approved Activity</th>
                    <td mat-cell *matCellDef="let element"> {{element?.apprvActivity}} </td>
                </ng-container>
                <ng-container matColumnDef="approvedArea" *ngIf="showApprovedColumn">
                    <th mat-header-cell *matHeaderCellDef> Approved {{this.currentUser.company.lables.areaLabel}}</th>
                    <td mat-cell *matCellDef="let element"> {{element?.approvedArea}} </td>
                </ng-container>
                <ng-container matColumnDef="workWith">
                    <th mat-header-cell *matHeaderCellDef> Joint workWith Plan</th>
                    <td mat-cell *matCellDef="let element"> {{element?.workWithPlan || '-----'}} </td>
                </ng-container>
                <ng-container matColumnDef="apprvDoctor" *ngIf="showApprovedColumn">
                    <th mat-header-cell *matHeaderCellDef> Approved {{this.currentUser.company.lables.doctorLabel}}</th>
                    <td mat-cell *matCellDef="let element"> {{element?.apprvDoctor}} </td>
                </ng-container>
                <ng-container matColumnDef="approvedChemists" *ngIf="showApprovedColumn">
                    <th mat-header-cell *matHeaderCellDef> Approved {{this.currentUser.company.lables.vendorLabel}}</th>
                    <td mat-cell *matCellDef="let element"> {{element?.approvedChemists}} </td>
                </ng-container>
                <ng-container matColumnDef="apprvRemark" *ngIf="showApprovedColumn">
                    <th mat-header-cell *matHeaderCellDef> Approved Remark</th>
                    <td mat-cell *matCellDef="let element"> {{element?.apprvRemark}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsForTPDetail; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsForTPDetail;"></tr>
            </table>

        </div>
        <br>
        <div class="m-portlet__foot m-portlet__foot--fit">
            <br>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4" *ngIf="showApproveButton">
                        <button (click)="rejetctStatus(false)" mat-raised-button color="warn">
							<span>
								<i class="la la-check"></i>
								<span>Reject Tour Program</span>
							</span>
                        </button>

                    </div>
                <div class="col-lg-4" *ngIf="showApproveButton">
                    <button (click)="updateStatus(true)" class="btn btn-primary m-btn m-btn--icon m-btn--wide m-btn--air m-btn--custom">
							<span>
								<i class="la la-check"></i>
								<span>Approve Tour Program</span>
							</span>
                        </button>

                    </div>
                <div class="col-lg-4" *ngIf="!showApproveButton">
                    <button mat-raised-button color="warn" (click)="rejetctStatus(false)">
                                        <span>
                                            <i class="la la-check"></i>
                                            <span>DisApproved Tour Program</span>
                                        </span>
                                    </button> </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </div>
</m-portlet>
