<mat-form-field style="width: 100%;">
    <mat-label>Select {{type}} Employee</mat-label>
    <mat-select [(ngModel)]="selectedValue" [compareWith]="equals" placeholder="Select Employee"
        [(value)]="selectedValue" [required]='required' (selectionChange)='changedValue($event.value)'
        multiple={{check}} #employeeSelect="ngModel">

        <!-- <b *ngIf="check==true && userIds?.length > 5">  &nbsp; </b> -->
        <div class="d-flex mb-1 sticky-top">
            <button class="mat-primary fill text-sm button button2" (click)="selectAll(employeeSelect, userIds)"
                *ngIf="check==true && userIds?.length > 5">
                Select All
            </button>
            <!-- <b *ngIf="check==true && userIds?.length > 5">  &nbsp; </b> -->
            <button class="mat-accent fill text-sm button button3" (click)="deselectAll(employeeSelect)"
                *ngIf="check==true && userIds?.length > 5">
                Deselect All
            </button>
        </div>

        <mat-option *ngFor="let employee of userData" [value]="employee.userId">
            {{employee.name}}
        </mat-option>
    </mat-select>
    <mat-error>Employee name is required!!!</mat-error>
</mat-form-field>