.button2 {
	background-color: rgb(48, 167, 131);
}
.button3 {
	background-color: #cc5d55;
}
.button {
	border: none;
	color: white;
	padding: 10px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 50%;
}
