<mat-list-item class="primary-imenu-item" role="listitem">
    <mat-form-field class="mat-form-field-fluid">
        <mat-select [(ngModel)]="stateSelected" [compareWith]="equals" placeholder="Select State"
            required (selectionChange)='changedValue($event.value)' multiple={{check}} #stateSelect="ngModel">
            <!-- <b *ngIf="check==true && stateIdsLength > 5"> &nbsp; </b> -->
            <div class="d-flex mb-1 sticky-top">
                <button class="mat-primary fill text-sm button button2" (click)="selectAll(stateSelect, stateIds)"
                    *ngIf="check==true">
                    Select All
                </button>
                <!-- <b *ngIf="check==true && stateIdsLength > 5"> &nbsp; </b> -->
                <button class="mat-accent fill text-sm button button3" (click)="deselectAll(stateSelect)"
                    *ngIf="check==true">
                    Deselect All
                </button>
            </div>
            <mat-option *ngFor="let state of stateData" [value]="state.id">
                {{state.stateName}}
            </mat-option>
        </mat-select>
        <mat-error>State is required!!!</mat-error>

    </mat-form-field>
</mat-list-item>