<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Daily Call Report
            </h3>
        </div>
    </ng-container>

    <!-- use ng-container[mPortletHeadTools] for the top right toolbar content -->


    <!-- use ng-container[mPortletBody] for the body content -->
    <ng-container mPortletBody>
        <form class="m-form m-form--label-align-left- m-form--state-" id="m_form">
            <!--begin: Form Body -->
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">* State:</label>

                                    <div class="m-form__control">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-select placeholder="Select State" [formControl]="stateModel" required (ngModelChange)="getEmployees($event)">
                                                <mat-option *ngFor="let state of stateList" [value]="state">
                                                    {{state.stateName}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="stateModel.hasError('required')">Please choose an State</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">* Employee:</label>

                                    <div class="m-form__control">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-select placeholder="Select Employee"  required>
                                                <mat-option *ngFor="let hq of districtList" [value]="hq">
                                                    {{hq.districtName}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="headquarterModel.hasError('required')">Please choose an Headquarter</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>From Date</mat-label>
                                        <input matInput [matDatepicker]="fromDate" formControlName='From Date' placeholder="From Date">
                                        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                                        <mat-datepicker #fromDate></mat-datepicker>
                                    </mat-form-field>

                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>To Date</mat-label>
                                        <input matInput [matDatepicker]="toDate" formControlName='To Date' placeholder="To Date">
                                        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                                        <mat-datepicker #toDate></mat-datepicker>
                                    </mat-form-field>

                                </div>

                            </div>


                        </div>

                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions">
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-6">
                            <button mat-raised-button color="accent"><span><i class="la la-check"></i></span>View Status</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="m-separator m-separator--dashed m-separator--lg"></div>
        <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Tour Program Status
                </h3>
            </div>
        </ng-container>
        <div class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- designation Column -->
                <ng-container matColumnDef="designation">
                    <th mat-header-cell *matHeaderCellDef> Designation </th>
                    <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
                </ng-container>

                <!-- submit Column -->
                <ng-container matColumnDef="submit">
                    <th mat-header-cell *matHeaderCellDef> Submitted </th>
                    <td mat-cell *matCellDef="let element"> {{element.submit}} </td>
                </ng-container>
                <ng-container matColumnDef="submitDate">
                    <th mat-header-cell *matHeaderCellDef> Submittion Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.submitDate}} </td>
                </ng-container>
                <ng-container matColumnDef="apprv">
                    <th mat-header-cell *matHeaderCellDef> Approved </th>
                    <td mat-cell *matCellDef="let element"> {{element.apprv}} </td>
                </ng-container>
                <ng-container matColumnDef="apprvDate">
                    <th mat-header-cell *matHeaderCellDef> Approved Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.apprvDate}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>
    </ng-container>
</m-portlet>