<m-portlet [options]="{enableSticky: true}">
	<!-- use ng-container[mPortletHeadTitle] for the title -->
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				Location Tracker Report
			</h3>
		</div>
	</ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
	<div mPortletBody [hidden]="!isToggled">
		<form [formGroup]="mapFilterForm" class="m-form m-form--label-align-left" (ngSubmit)="generateReport()">
			<div class="m-portlet__body">
				<div class="row">
					<div class="col-xl-12 ">
						<div class="m-form__section m-form__section--first">
							<div class="form-group m-form__group row">
							
								<div class="col-lg-3 m-form__group-sub" >
									<m-state (valueChange)="getStateValue($event)" [check]="check">
									</m-state>
								</div>
								<div class="col-lg-3 m-form__group-sub" >
									<m-district #districtComponent (valueChange)="getDistrictValue($event)" [check]="check">
									</m-district>
								</div>
								<div class="col-lg-3 m-form__group-sub" >
									<m-employee #employeeComponent (valueChange)="getUserId($event)" [check]="check">
									</m-employee>
								</div>
								<div class="col-lg-3 m-form__group-sub" >
                                    <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
								</div>
								<div class="col-lg-3 m-form__group-sub" >
										<button mat-raised-button color="primary" [disabled]="!mapFilterForm.valid">
											Generate Report
										</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="m-portlet__foot m-portlet__foot--fit">
            </div>
		</form>
	</div>
</m-portlet>
<!-- <ng-container mPortletBody>
	<div class="m-portlet__body" >
		<div class="row">
			<div class="col-xl-12 ">
				<div class="m-form__section m-form__section--first">
					<div class="form-group m-form__group row" >
						<div class="col-lg-6 m-form__group-sub">
						</div>
						<div class="col-lg-6 m-form__group-sub" *ngIf="isShowReport">
							<h6 class="approveStatus">Approved By Manager: {{approveByMgr}} &nbsp; Approved By Admin : {{approveByAdmin}}</h6>
						</div>
						<div class="col-lg-12 m-form__group-sub">
							<table #dataTable class="display nowrap order-column table table-striped table-bordered">
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</ng-container> -->

<div #map style="width:100%;height:400px"></div>

<ng-container>
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</ng-container> 