<m-portlet [options]="{enableSticky: true}">
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle>
      <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
              Gift Edit Form
          </h3>
      </div>
  </ng-container>
  <ng-container mPortletBody>
      <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="giftEditForm">
        
          <br>
          <div class="row">
              <div class="m-form__heading">
                  <h3 class="m-form__heading-title">Gift Information</h3>
              </div>

          </div>

          <div class="row">
              <div class="col-xl-12 ">
                  <div class="m-form__section m-form__section--first">
                      <div class="form-group m-form__group row">
                          
                          <div class="col-lg-3 m-form__group-sub">
                              <mat-form-field style="width:100%;">
                                  <mat-label>Gift Name</mat-label>
                                  
                                  <input matInput required formControlName="giftName" placeholder="Name" value={{data.obj.giftName}}>
                                  <mat-error>Gift Name is required!!!</mat-error>

                              </mat-form-field>
                          </div>
                          <div class="col-lg-3 m-form__group-sub">
                              <mat-form-field style="width:100%;">
                                  <mat-label>Gift Code</mat-label>
                                  <input matInput formControlName="giftCode" placeholder="Code" value={{data.obj.giftCode}}>

                              </mat-form-field>
                          </div>
                          <div class="col-lg-3 m-form__group-sub">
                            <mat-form-field style="width:100%;">
                                <mat-label>Gift Cost</mat-label>
                                <input matInput (keypress)="numberOnly($event)" formControlName="giftCost" placeholder="Cost" value={{data.obj.giftCost}}>

                            </mat-form-field>
                        </div>
                          

                      </div>
                  </div>

              </div>

          </div>
         
          <div mat-dialog-actions>
            <button mat-button  [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
            <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    
          </div>
      </form>
  </ng-container>
</m-portlet>