table.GeneratedTable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #080808;
    border-style: solid;
    color: #0e0e0ef2;
    font-weight: 400;
}

table.GeneratedTable td,
table.GeneratedTable th {
    border-width: 1px;
    border-color: #a5a5a5;
    border-style: solid;
    padding: 0.6em 1em;
}

table.GeneratedTable thead {
    background-color: #16a184;
}

.nameStyle{
    color: #3f51b5;font-weight: 600;text-align: left;
}
.select-all{
    margin: 5px 17px;
  }