<div class="row text-center">
  <div class="col-md-3">
    <div class="btn-group">
      <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Previous
      </div>
      <div class="btn btn-c-m" mwlCalendarToday [(viewDate)]="viewDate">
        Current Month
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-3 text-center">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-6">

    <!-- <div *ngIf="currentUser.company.isDivisionExist">
      <mat-form-field class="mat-form-field-fluid">
        <mat-select placeholder="Select Division" (selectionChange)='getDivisionVal($event.value)' multiple="false">
          <mat-option *ngFor="let division of divisionData" [value]="division.divisionId">
            {{division.divisionName}}
          </mat-option>
        </mat-select>
        <mat-error>Division is required!!!</mat-error>
      </mat-form-field>
    </div> -->

    <mat-form-field style="width:50%; padding-right: 7px;">
      <mat-label>Select Designation</mat-label>
      <mat-select placeholder="Select Designation" [(ngModel)]="selec_Desig_Obj" (selectionChange)="getDesignation($event.value)">
        <mat-option [value]="">Select Designation</mat-option>
        <mat-option *ngFor="let designation of designations" [value]="designation">
          {{designation.designation}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="width:50%;">
      <mat-label>Select Employee</mat-label>
      <mat-select placeholder="Select Employee" [(ngModel)]="selectedEmp" (selectionChange)="getEmployee($event.value)">
        <mat-option [value]="'All'">All</mat-option>
        <mat-option *ngFor="let emp of availEmp" [value]="emp.userId">
          {{emp.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

</div>
<br />
<div *ngIf="showEmpty">
  <mwl-calendar-month-view [viewDate]="viewDate" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)" [cellTemplate]="customCellTemplate">
  </mwl-calendar-month-view>
</div>
<div *ngIf="!showEmpty">
  <div *ngIf="events$ | async; else loading; let events">
    <div [ngSwitch]="option">
      <div class="row text-center" *ngSwitchCase="'Month'">
        <div class="col-md-12 table-responsive" *ngIf="selectedEmp !== 'All'">
          <table class="table"
            *ngIf="this.currentUser.userInfo[0].designationLevel==1 || this.userIdDetail!=='' && this.userIdDetail!='Self' && this.userIdDetail!='All'">
            <tr>
              <td style="background-color: #00deafc9 !important;color:#000000;"><span
                  class="cal-day-badge">&nbsp;Submitted DCR&nbsp;</span></td>&nbsp;
              <td style="background-color: #ffb4b4 !important;color:#000000;"><span class="cal-day-badge">&nbsp;Locked
                  DCR&nbsp; </span></td>&nbsp;
              <td style="background-color: #f7f735c2 !important;color:#000000;"><span
                  class="cal-day-badge">&nbsp;Pending DCR &nbsp;</span></td>&nbsp;
              <!-- <td style="background-color: #adadad !important;color:#000000;"><span class="cal-day-badge">&nbsp;Holiday &nbsp;</span></td>&nbsp; -->
              <td style="background-color: #86ff00bd !important;color:#000000;"><span
                  class="cal-day-badge">&nbsp;Meeting &nbsp;</span></td>&nbsp;
              <td style="background-color: #adadad !important;color:#000000;"><span class="cal-day-badge">&nbsp;Leave
                  &nbsp;</span></td>&nbsp;
              <td style="background-color: #008c0047 !important;color:#000000;"><span
                  class="cal-day-badge">&nbsp;Transit &nbsp;</span></td>&nbsp;
              <td style="background-color: #4998fff1 !important;color:#000000;"><span class="cal-day-badge">&nbsp;Other
                  &nbsp;</span></td>&nbsp;
            </tr>
          </table>
        </div>


        <div class="col-md-12 table-responsive" *ngIf="selectedEmp == 'All'">
          <table class="table"
            *ngIf="(this.currentUser.userInfo[0].designationLevel!=1 && (this.userIdDetail=='' || this.userIdDetail=='All' || this.userIdDetail==undefined))">
            <tr>
              <td style="background-color: goldenrod;color:#FFFFFF;"><span class="cal-day-badge">&nbsp;Total
                  DCR&nbsp;</span></td>&nbsp;
              <td style="background-color: rgb(204, 96, 57);color:#FFFFFF;"><span class="cal-day-badge"> &nbsp;Working
                  DCR&nbsp; </span></td>&nbsp;
              <td style="background-color: rgb(99, 121, 194);color:#FFFFFF;"><span class="cal-day-badge">&nbsp; View By
                  Manager &nbsp;</span></td>&nbsp;
              <td style="background-color: rgb(54, 161, 90);color:#FFFFFF;"><span class="cal-day-badge">&nbsp;
                  {{currentUser.company.lables.doctorLabel}} Visited &nbsp;</span></td>&nbsp;
              <td style="background-color: rgb(185, 89, 185);color:#FFFFFF;"><span class="cal-day-badge">&nbsp;
                  {{currentUser.company.lables.vendorLabel}} Visited &nbsp;</span></td>&nbsp;
              <td style="background-color: rgb(78, 171, 247);color:#FFFFFF;"><span class="cal-day-badge">&nbsp; POB
                  &nbsp;</span></td>
            </tr>
          </table>
        </div>
        <div class="calander-container col-lg-12 col-md-12 col-sm-12">
          <div class="inner" style="border: solid 1px #bbaeae;">


            <mwl-calendar-month-view *ngSwitchCase="'Month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
              [activeDayIsOpen]="activeDayIsOpen" (beforeViewRender)="beforeMonthViewRender($event)"
              (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
              (eventTimesChanged)="eventTimesChanged($event)" [cellTemplate]="customCellTemplate" class="col-lg-12">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view *ngSwitchCase="'Week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
              (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"
              class="col-lg-12">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view *ngSwitchCase="'Day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
              (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"
              class="col-lg-12">
            </mwl-calendar-day-view>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>

  <div class="day-box" *ngFor="let data of day.events">
    <div *ngIf="selectedEmp !== 'All'">
      <div
        *ngIf="( data.meta.film.doctorCall != 0 )||( data.meta.film.onlyVendorCall != 0 )||( data.meta.film.onlyStockistCall != 0 )">
        <div> {{currentUser.company.lables.doctorLabel}}:
          {{data.meta.film.doctorCall}}</div>
        <div> {{currentUser.company.lables.vendorLabel}}: {{data.meta.film.onlyVendorCall}}</div>
        <div> {{currentUser.company.lables.stockistLabel}}: {{data.meta.film.onlyStockistCall}}</div>
        <div *ngIf = "isGoheathy"> {{currentUser.company.lables.otherType[0].label}} : {{data.meta.film.dairyFarmers}}</div>
        <div> Total POB: {{data.meta.film.productPob.toFixed(2)}}</div>
        <div *ngIf="isAlenVision"> Total SOB: {{data.meta.film.SOB.toFixed(2)}}</div>
      </div>
      <div *ngIf="data.meta.film.holidayDCR[0]">
        <div>Holiday</div>
      </div>
      <div *ngIf="data.meta.film.leaveDCR[0]">
        <div>Leave</div>
      </div>
      <div *ngIf="data.meta.film.meetingDCR[0]">
        <div>Meeting</div>
      </div>
      <div *ngIf="data.meta.film.other[0]">
        <div>other</div>
      </div>
      <div *ngIf="data.meta.film.transit[0]">
        <div>Transit</div>
      </div>
    </div>
    <div *ngIf="selectedEmp == 'All'">
      <!-- <small *ngFor="let data of day.events"> -->
      <span class="rcorners2"
        *ngIf="day.badgeTotal > 0 && (this.currentUser.userInfo[0].rL==0 || this.currentUser.userInfo[0].rL>1) && (this.userId=='All' || this.userId=='' || this.userId==undefined) "
        style="background-color: goldenrod;"> {{ data.meta.film.totalDCR }}</span>
      <span class="rcorners2"
        *ngIf="day.badgeTotal > 0 && (this.currentUser.userInfo[0].rL==0 || this.currentUser.userInfo[0].rL>1) && (this.userId=='All' || this.userId=='' || this.userId==undefined)"
        style="background-color: rgb(204, 96, 57);">{{ data.meta.film.workingDCR }}</span>
      <span class="rcorners2"
        *ngIf="day.badgeTotal > 0 && (this.currentUser.userInfo[0].rL==0 || this.currentUser.userInfo[0].rL>1) && (this.userId=='All' || this.userId=='' || this.userId==undefined)"
        style="background-color: rgb(99, 121, 194);">0</span>
      <span class="rcorners2"
        *ngIf="day.badgeTotal > 0 && (this.currentUser.userInfo[0].rL==0 || this.currentUser.userInfo[0].rL>1) && (this.userId=='All' || this.userId=='' || this.userId==undefined)"
        style="background-color: rgb(54, 161, 90);"> {{ data.meta.film.doctorCall }}</span>
      <span class="rcorners2"
        *ngIf="day.badgeTotal > 0 && (this.currentUser.userInfo[0].rL==0 || this.currentUser.userInfo[0].rL>1) && (this.userId=='All' || this.userId=='' || this.userId==undefined)"
        style="background-color: rgb(185, 89, 185);"> {{ data.meta.film.vendorCall }}</span>

      <span class="rcorners2"
        *ngIf="day.badgeTotal > 0 && (this.currentUser.userInfo[0].rL==0 || this.currentUser.userInfo[0].rL>1) && (this.userId=='All' || this.userId=='' || this.userId==undefined)"
        style="background-color: rgb(78, 171, 247);">{{ data.meta.film.productPob }}</span>
      <!-- </small> -->
    </div>
  </div>
</ng-template>

<ng-template #loading>
  <div *ngIf="!showEmpty" class="loader">
    <div class="text-center">
      <i class="fa fa-spin fa-spinner fa-5x"></i>
      <br> Loading ...
    </div>
  </div>
</ng-template>

<div class="row">
  <div class="col-lg-12 table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Total {{currentUser.company.lables.doctorLabel}} Visited</th>
          <th>Total {{currentUser.company.lables.doctorLabel}} call Avg.</th>
          <th>Total {{currentUser.company.lables.vendorLabel}} Visited</th>
          <th>Total {{currentUser.company.lables.vendorLabel}} call Avg.</th>
          <th>Total {{currentUser.company.lables.stockistLabel}} Visited</th>
          <th>Total {{currentUser.company.lables.stockistLabel}} call Avg.</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{totalDCR}}</td>
          <td>{{TotalDoctorCallAvg.toFixed(2)}}</td>
          <td>{{totalChemistsVisited}}</td>
          <td>{{TotalChemistCallAvg.toFixed(2)}}</td>
          <td>{{totalStockistsVisited}}</td>
          <td>{{TotalStockistCallAvg.toFixed(2)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>