h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

.day-box{
  margin: auto;
  // margin-bottom: 10px;
  div{
    font-weight: bold;
    font-family: verdana,arial,helvetica,sans-serif;
    // border-radius: 6px;
    // padding: 0px 4px;
    font-size: 12px;
  }
}
.loader{
  background: #efefef;
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-c-m{
  color: #2c2c2c;
  background-color: transparent;
  background-image: none;
  border-color: #c2c2c2
}
.rcorners2 {
  margin-top: 3px;
  display: inline-block;
  padding: 5px 7px;
  font-size: 13px;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
  margin: 6px;
}

::ng-deep {
  .cal-month-view {
    .cal-header{
      background-color: #dedede !important;
    }
    .cal-cell-top{
      min-height: 48px;
    }
    .cal-event-title:hover{
      text-decoration: none !important;
    }
    .cal-header:hover{
      background-color: #dedede !important;
    }
  }
}

::ng-deep .odd-cell1 {  //pendingDCR
  background-color: #f7f735c2 !important;
} 
::ng-deep .odd-cell2 {  //locked DCR
  background-color: #ffb4b4 !important;
} 
::ng-deep .odd-cell3 {  //holiday
  // background-color: #adadad !important;
  color: #f9831f !important;
} 
::ng-deep .odd-cell4 {  //meeting
  background-color: #86ff00bd !important;
} 
::ng-deep .odd-cell5 {  //leave
  background-color: #adadad !important;
  // background-color: #eb8128 !important;
} 
::ng-deep .odd-cell6 {  //submitted DCR
  background-color: #00deafc9 !important;
}
::ng-deep .odd-cell7 {  //other
  background-color: #4998fff1 !important;
} 
::ng-deep .odd-cell8 {
  background-color: #fffdf3c9 !important;
} 
::ng-deep .odd-cell9 { //transit
  background-color: #008c0047 !important;
} 
::ng-deep .odd-cell10 { //if selecte employee is all
  background-color: #edf5fff1 !important
} 
@media (max-width: 530px){
  .calander-container{
    width: 430px !important;
    overflow: scroll !important;
    .inner{
      width: 430px !important;
    }
  }
} 