<div class="form-container">
  <div class="d-flex justify-content-between">
    <h1 mat-dialog-title>Edit DA</h1>
  </div>
  <div mat-dialog-content>
    <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="fgDA">

      <div class="row">
        <div class="col-xl-12 ">
          <div class="m-form__section m-form__section--first">
            <div class="form-group m-form__group row">
              <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="display: inline-block;">
                  <mat-label>HQ DA</mat-label>
                  <input type="text" matInput required formControlName="daHQ" placeholder="" >
                </mat-form-field>
              </div>
              <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="display: inline-block;">
                  <mat-label>EX DA</mat-label>
                  <input type="text" matInput required formControlName="daEX" placeholder="" >
                </mat-form-field>
              </div>
              <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="display: inline-block;">
                  <mat-label>OUT DA</mat-label>
                  <input type="text" matInput required formControlName="daOUT" placeholder="" >
                </mat-form-field>
              </div>
              <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="display: inline-block;">
                  <mat-label>Mobile Allowance</mat-label>
                  <input type="text" matInput required formControlName="mobileAllowance" placeholder="" >
                </mat-form-field>
              </div>
              <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="display: inline-block;">
                  <mat-label>Net Allowance</mat-label>
                  <input type="text" matInput required formControlName="netAllowance" placeholder="" >
                </mat-form-field>
              </div>
              <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="display: inline-block;">
                  <mat-label>Special Allowance</mat-label>
                  <input type="text" matInput required formControlName="specialAllowance" placeholder="" >
                </mat-form-field>
              </div>
          
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="buttton-container">
    <span class="buttons mr-4">
      <button mat-raised-button color="accent"  (click)="updateAndCloseDA()" >Save</button>
    </span>
    
    <span class="buttons">
      <button mat-raised-button (click)="closeModel(false)" color="accent" 
        tabindex="3">Cancel</button>
    </span>
  </div>
</div>