<mat-form-field class="mat-form-field-fluid">

	<!-- <mat-select placeholder="Select Month" [(ngModel)]="selectedVal"  required (selectionChange)='changedValue($event.value)'> -->

		<mat-select placeholder="Select Month" [(ngModel)]="selectedVal" required multiple={{check}} (selectionChange)='changedValue($event.value)'>
    <mat-option *ngFor="let month of monthList"   [value]="month.monthValue"> {{month.monthName}} </mat-option>
  </mat-select>




  <mat-error>Month is required!!!</mat-error>
</mat-form-field>
