<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Provider Modify Form
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletBody>
        <form [formGroup]='modifyProvider' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="modifyProviderForm()">
            <div class="row">
                <div class="col-xl-12 ">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-2 m-form__group-sub">
                                <mat-radio-button class="form-control-label" [checked]='true' (change)="reportType('doctor')" name="reportTypeName">
                                    * {{this.currentUser.company.lables.doctorLabel}}
                                </mat-radio-button>
                            </div>
                            <div class="col-lg-2 m-form__group-sub">
                                <mat-radio-button class="form-control-label" (change)="reportType('vendor')" name="reportTypeName">
                                    * {{this.currentUser.company.lables.vendorLabel}} / {{this.currentUser.company.lables.stockistLabel}}
                                </mat-radio-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div *ngIf="currentUser.userInfo[0].rL===0" class="col-lg-3 m-form__group-sub">
                                    <m-state (valueChange)="getStateValue($event)" [check]=false #callStateComponent></m-state>
                                </div>
                                <div *ngIf="currentUser.userInfo[0].rL===0" class="col-lg-3 m-form__group-sub">
                                    <div class="m-form__control">
                                        <m-district (valueChange)="getDistrictValue($event)" #callDistrictComponent
                                            [check]=false></m-district>
                                    </div>
                                </div>
                                <div *ngIf="currentUser.userInfo[0].rL===0" class="col-lg-3 m-form__group-sub">
                                    <div class="m-form__control">
                                        <m-employee (valueChange)="getEmployees($event)" #callEmployeeComponent
                                            [check]=false></m-employee>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-xl-12 ">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-3">
                                <mat-form-field style="width:100%">
                                    <mat-select placeholder="Select {{this.currentUser.company.lables.areaLabel}}" formControlName="areaOutside" (selectionChange)="getProvider($event.value)" multiple>
                                        <mat-option *ngFor="let areaaa of areas" value="{{areaaa.areaId}}">{{areaaa.areaName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3">
                                <mat-form-field style="width:100%">
                                    <mat-select placeholder="Select Provider" formControlName="provider" (selectionChange)="getEditFormInfo($event.value)">
                                        <mat-option *ngFor="let provider of providers" value="{{provider._id}}">{{provider.providerName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body" [hidden]=!showDoctorForm>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <mat-select placeholder="Select {{this.currentUser.company.lables.areaLabel}}" [(value)]="areaSelected" formControlName="area">
                                            <mat-option *ngFor="let area of areas" value="{{area.areaId}}">{{area.areaName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <input type="text" matInput formControlName="doctorCode" placeholder="{{this.currentUser.company.lables.doctorLabel}} Code">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <input type="text" matInput formControlName="doctorName" placeholder="{{this.currentUser.company.lables.doctorLabel}} Name *">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <input type="number" matInput formControlName="aadhar" placeholder="Aadhar Number">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <input type="number" matInput formControlName="phoneNum" placeholder="Phone Number">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <mat-select placeholder="Category *" formControlName="category">
                                            <mat-option *ngFor="let categorys of category" value="{{categorys}}">
                                                {{categorys}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <mat-select placeholder="Degree *" formControlName="degree">
                                            <mat-option *ngFor="let degrees of degree" value="{{degrees}}">
                                                {{degrees}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <mat-select placeholder="Specialization *" formControlName="specialization">
                                            <mat-option *ngFor="let specializations of specialization" value="{{specializations}}">
                                                {{specializations}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <input type="text" matInput formControlName="address" placeholder=" Address *">
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <mat-select placeholder="address" formControlName="address" (selectionChange)="getEditFormInfo($event.value)">
                                            <mat-option *ngFor="let address of address">{{address}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div> -->
                             
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-4">
                                    <h5><b>Additional Info</b></h5><br>
                                    <input type="checkbox" class="example-margin" formControlName="familyInfo" (change)="getAdditionalInfo('family',$event.target.checked)">Family Info<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" [hidden]=!showFamilyInfo>
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <input type="text" matInput formControlName="spouseName" placeholder="Spouse Name">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <mat-form-field style="width: 100%;">
                                        <input matInput [matDatepicker]="pickerStart" placeholder="Birth Date" formControlName="spouseBirthDate" readonly disabled="false">
                                        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerStart></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <input type="text" matInput formControlName="spouseProfession" placeholder="Spouse Profession">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!--    <div class="row" [hidden]=!showFamilyInfo>
            <div class="col-xl-12 ">
              <div class="m-form__section m-form__section--first">
                <h6><b>Child Info</b></h6>
                <div class="col-xl-12 ">
                  <div class="m-form__section m-form__section--first" formArrayName="data">
                    <div class="form-group m-form__group row" *ngFor="let item of data.controls; let pointIndex=index"
                      [formGroupName]="pointIndex">
                      <div class="col-lg-1">
                        <br />
                        <h5>{{pointIndex+1}}. </h5>
                      </div>
                      <div class="col-lg-2">
                        <mat-form-field style="width:100%">
                          <input type="text" matInput formControlName="childName" placeholder="Child Name">
                        </mat-form-field>
                      </div>
                      <div class="col-lg-2">
                        <mat-form-field style="width:100%">
                          <input type="number" matInput formControlName="age" placeholder="Age">
                        </mat-form-field>
                      </div>
                      <div class="col-lg-1">
                        <button *ngIf="data.length>1" mat-mini-fab color="warn" (click)="deleteChildInfo(pointIndex)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                      <div class="col-lg-1">
                        <button type="button" color="accent" mat-mini-fab (click)="addMoreChild()">
                          <mat-icon>add icon</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
            
                </div>
              </div>
            </div>
          </div>-->
                <div class="row">
                    <div class="col-xl-12 ">
                        <input type="checkbox" class="example-margin" formControlName="otherInfo" (change)="getAdditionalInfo('other',$event.target.checked)">Other Info
                        <div class="m-form__section m-form__section--first" [hidden]=!showOtherInfo>
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub">
                                    <mat-form-field style="width: 100%;">
                                        <input matInput [matDatepicker]="pickerStart1" placeholder="Birth Date" formControlName="birthDateOtherInfo" readonly disabled="false">
                                        <mat-datepicker-toggle matSuffix [for]="pickerStart1"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerStart1></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <mat-form-field style="width: 100%;">
                                        <input matInput [matDatepicker]="pickerStart2" placeholder="Anniversary Date" formControlName="annyDate" readonly disabled="false">
                                        <mat-datepicker-toggle matSuffix [for]="pickerStart2"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerStart2></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2">
                                    <mat-form-field style="width:100%">
                                        <input type="number" matInput formControlName="frequencyVisit" placeholder="Frequency Visit">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2">
                                    <mat-form-field style="width:100%">
                                        <input type="text" matInput formControlName="contactPerson" placeholder="Contact Person">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2">
                                    <mat-form-field style="width:100%">
                                        <input type="number" matInput formControlName="businessPotential" placeholder="Business Potential">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row" [hidden]=!showOtherInfo>
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <input type="email" matInput formControlName="email" placeholder="Email">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <mat-select placeholder="Focus Product" multiple formControlName="focusProduct">
                                            <mat-option *ngFor="let focusProduct of products" value="{{focusProduct.id}}">
                                                {{focusProduct.productName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <input type="number" matInput formControlName="licence" placeholder="Licence No.">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- <div class="row" [hidden]=!showOtherInfo>
            <div class="col-xl-12 ">
              <div class="m-form__section m-form__section--first">
                <h6><b>Clinical Info</b></h6>
                <div class="m-form__section m-form__section--first" formArrayName="data1">
                  <div class="form-group m-form__group row" *ngFor="let item1 of data1.controls; let pointIndex1=index"
                    [formGroupName]="pointIndex1">
                    <div class="col-lg-1">
                      <br />
                      <h5>{{pointIndex1+1}}. </h5>
                    </div>
                    <div class="col-lg-2">
                      <mat-form-field style="width:100%">
                        <input type="text" matInput formControlName="address" placeholder="Address">
                      </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                      <mat-form-field style="width:100%">
                        <input type="text" matInput formControlName="city" placeholder="City">
                      </mat-form-field>
                    </div>
                    <div class="col-lg-3">
                      <mat-form-field style="width:100%">
                        <mat-select placeholder="Set Time" formControlName="daysInfo">
                          <mat-option *ngFor="let setTimes of setTime" value="{{setTimes.value}}">
                            {{setTimes.value}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-lg-1">
                      <button *ngIf="data1.length>1" mat-mini-fab color="warn" (click)="deleteTimeInfo(pointIndex1)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                    <div class="col-lg-1">
                      <button type="button" color="accent" mat-mini-fab (click)="addMoreTime()">
                        <mat-icon>add icon</mat-icon>
                      </button>
                    </div>
                    <div class="col-lg-3">
                      <mat-form-field>
                        <input matInput placeholder="From Time" formControlName="fromTime" [owlDateTimeTrigger]="dt1"
                          [owlDateTime]="dt1">
                        <mat-icon matSuffix>timer</mat-icon>
                        <owl-date-time [pickerType]="'timer'" #dt1></owl-date-time>
                      </mat-form-field>
                    </div>
                    <div class="col-lg-3">
                      <mat-form-field>
                        <input matInput placeholder="To Time" formControlName="toTime" [owlDateTimeTrigger]="dt2"
                          [owlDateTime]="dt2">
                        <mat-icon matSuffix>timer</mat-icon>
                        <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>-->

                <br>

            </div>
            <div class="m-portlet__body" [hidden]=!showVendorForm>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <mat-select placeholder="Select {{this.currentUser.company.lables.areaLabel}}" formControlName="area">
                                            <mat-option *ngFor="let area of areas" value="{{area.areaId}}">{{area.areaName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <mat-select placeholder="Type *" formControlName="type">
                                            <mat-option *ngFor="let types of type" value="{{types.id}}">
                                                {{types.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <input type="text" matInput formControlName="doctorCode" placeholder="{{this.currentUser.company.lables.vendorLabel}} / {{this.currentUser.company.lables.stockistLabel}} Code">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <input type="text" matInput formControlName="doctorName" placeholder="{{this.currentUser.company.lables.vendorLabel}} / {{this.currentUser.company.lables.stockistLabel}} Name *">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <input type="number" matInput formControlName="phoneNum" placeholder="Phone Number">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <input type="text" matInput formControlName="aadhar" placeholder="Aadhar Number">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-4">
                                    <h5><b>Additional Info</b></h5><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 ">
                        <input type="checkbox" class="example-margin" formControlName="otherInfo" (change)="getAdditionalInfoVendor('other',$event.target.checked)">Other Info
                        <div class="m-form__section m-form__section--first" [hidden]=!showOtherInfoVendor>
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <input type="text" matInput formControlName="ownerName" placeholder="Owner Name">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <mat-form-field style="width: 100%;">
                                        <input matInput [matDatepicker]="pickerStart3" placeholder="Owner DOB" formControlName="ownerDob" readonly disabled="false">
                                        <mat-datepicker-toggle matSuffix [for]="pickerStart3"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerStart3></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <mat-form-field style="width: 100%;">
                                        <input matInput [matDatepicker]="pickerStart4" placeholder="Owner DOA" formControlName="ownerDoa" readonly disabled="false">
                                        <mat-datepicker-toggle matSuffix [for]="pickerStart4"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerStart4></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <mat-form-field style="width: 100%;">
                                        <input matInput [matDatepicker]="pickerStart5" placeholder="Shop DOA" formControlName="shopDoa" readonly disabled="false">
                                        <mat-datepicker-toggle matSuffix [for]="pickerStart5"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerStart5></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row" [hidden]=!showOtherInfoVendor>
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <input type="text" matInput formControlName="venAddress" placeholder="Address">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <input type="text" matInput formControlName="venCity" placeholder="City">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <input type="email" matInput formControlName="email" placeholder="Email">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <input type="text" matInput formControlName="pancard" placeholder="Pan Card">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row" [hidden]=!showOtherInfoVendor>
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <input type="text" matInput formControlName="gst" placeholder="GST Number">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <input type="text" matInput formControlName="licence" placeholder="Licence No.">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <mat-select placeholder="Category" formControlName="category">
                                            <mat-option *ngFor="let categorys of category" value="{{categorys}}">
                                                {{categorys}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div [hidden]=!showFormButton>
                <div class="m-form__actions m-form__actions">
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-6">
                            <button mat-raised-button color="accent" [disabled]="!modifyProvider.valid"><span><i
                      class="la la-check"></i></span>Modify
                </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </ng-container>
</m-portlet>