<m-portlet [options]="{enableSticky: true}">
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Lock Open
      </h3>
    </div>
  </ng-container>

  <ng-container mPortletBody>
    <form [formGroup]='LockOpenForm' class="m-form m-form--label-align-left">
      <div class="m-portlet__body">
        <!-- <div class="row">
          <div class="col-xl-12">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">
                <div class="col-lg-2 m-form__group-sub">
                  <mat-radio-button class="form-control-label" Name="day" (change)="lockOpenCategory('day')" checked>
                    *Days Wise
                  </mat-radio-button>
                </div>
                <div class="col-lg-2 m-form__group-sub">
                  <mat-radio-button class="form-control-label" Name="date" (change)="lockOpenCategory('date')">
                    *Date Wise
                  </mat-radio-button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br><br> -->

        <div class="row">
          <div class="col-xl-12">
            <div class="m-form__section m-form__section--first">
              <div class=" col-lg-12 form-group m-form__group row">

                <div class="form__group-sub">
                  <mat-radio-button class="form-control-label" (change)="lockOpenType('state')" Name="type">
                    *State
                  </mat-radio-button>
                </div>

                <div class="form__group-sub">
                  <mat-radio-button class="form-control-label" (change)="lockOpenType('Headquarter')" Name="type">
                    *Headquarter
                  </mat-radio-button>
                </div>

                <div class="form__group-sub">
                  <mat-radio-button class="form-control-label" (change)="lockOpenType('designation')" Name="type">
                    *Designation
                  </mat-radio-button>
                </div>

                <div class="m-form__group-sub">
                  <mat-radio-button class="form-control-label" (change)="lockOpenType('employee')" Name="type">
                    *Employee
                  </mat-radio-button>
                </div>

                <div class="m-form__group-sub">
                  <mat-radio-button class="form-control-label" (change)="lockOpenType('delayedDcr')" Name="type">
                    *Delayed DCR
                  </mat-radio-button>
                </div>

              </div>


            </div>
          </div>
        </div>

        <br>
        <div class="row" [hidden]=!showFilters>
          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">
                <div class="col-lg-2 m-form__group-sub" [hidden]=!showState>
                  <m-state [stateSelected]="selectedStates" [check]="true" (valueChange)="getStateValue($event)">
                  </m-state>
                </div>
                <div class="col-lg-3 m-form__group-sub" [hidden]=!showHq>
                  <m-district (valueChange)="getDistrictValue($event)" #callDistrictComponent [check]=true></m-district>
                </div>
                <div class="col-lg-2 m-form__group-sub" [hidden]=!showDes>
                  <m-designation (valueChange)="getDesignation($event)" #callMonthComponent [check]=true>
                  </m-designation>
                </div>
                <div class="col-lg-2 m-form__group-sub" [hidden]=!showEmp>
                  <m-employee [check]=true (valueChange)="getEmployeeValue($event)" #callEmployeeComponent></m-employee>
                </div>
                <!--
                <div class="col-lg-3 m-form__group-sub" [hidden]=!showDiv>
                <m-division [check]=true (valueChange)="getDivisionValue($event)" #callDivisionComponent></m-division>
                </div> -->


                <div class="col-lg-4 m-form__group-sub" [hidden]=!showValidInput>
                  <!-- <mat-form-field style="width:100%;">
                    <input matInput type="number" (keypress)="numberOnly($event)" required
                      formControlName="lockingPeriod"  [(ngModel)]="textLockOpen" placeholder="Enter Locking Period" value="">
                  </mat-form-field> -->

                  <!-- *ngIf="radioData=='day';else second" -->
                  <mat-form-field style="width:100%;">
                    <input matInput type="number" (keypress)="numberOnly($event)" required
                      formControlName="lockingPeriod" [(ngModel)]="textLockOpen" placeholder="Enter Locking Period"
                      value="">
                  </mat-form-field>
                  <!-- <ng-template #second>
                    <div class="row">
                      <div class="col-sm-9">
                        <form [formGroup]="dataArraySection">
                          <div *ngFor="let data of dataArraySection.get('data1').controls">
                            <div [formGroup]="data">
                              <div class="form-groups">
                                <div class="row">
                                  <div class="col">
                                    <mat-form-field>
                                      <input matInput [matDatepicker]="fromDate1" placeholder="Choose Date"
                                        (dateChange)="getFromDate($event)" formControlName="calenderData">
                                      <mat-datepicker-toggle matSuffix [for]="fromDate1"></mat-datepicker-toggle>
                                      <mat-datepicker #fromDate1></mat-datepicker>
                                      <mat-error>Enter Locking Period</mat-error>
                                    </mat-form-field>
                                  </div>
                                  <div class="col">
                                    <button *ngIf="dataArraySection.controls['data1'].length > 1" mat-mini-fab
                                      color="warn" (click)="deleteData(pointIndex)">
                                      <mat-icon class="dlt-button">-</mat-icon>
                                    </button><br /><br />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="col-sm-2">
                        <button mat-mini-fab color="accent" (click)="addMoreData()">+</button>
                      </div>
                    </div>
                  </ng-template> -->

                </div>

                <div class="col-lg-3 m-form__group-sub" formArrayName="lockOpenDateData"
                  *ngFor="let lockOpen of LockOpenForm.controls.lockOpenDateData?.value;let pointIndex=index"
                  [hidden]=!showDate>
                  <mat-form-field style="width: 100%;">
                    <input matInput [matDatepicker]="pickerStart" placeholder="Choose Lock Open Date"
                      (dateChange)="yourFunction($event.value)" #lockDate readonly>
                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStart></mat-datepicker>
                  </mat-form-field>
                </div>

                <!-- <div class="col-lg-1" [hidden]=!showDelButton>
                <button *ngIf="data.length>1" mat-mini-fab color="warn" (click)="deleteLocks(pointIndex)">
                <mat-icon>delete</mat-icon>
                </button>
                </div> -->
                <div class="col-lg-2" [hidden]=!showAddIcon>
                  <button type="button" color="accent" mat-mini-fab (click)="addMoreLockOpenDate()">
                    <mat-icon>add icon</mat-icon>
                  </button>
                </div>
                <div class="col-lg-2 m-form__group-sub">
                  <label class="form-control-label">&nbsp; </label>
                  <!-- [disabled]="!LockOpenForm.valid" -->
                  <button mat-raised-button color="accent" [hidden]=!aa
                    [disabled]="!LockOpenForm.valid && !dataArraySection.valid"
                    (click)="SubmitLockOpenDetails()"><span><i class="la la-check"></i></span>Update locking
                    period</button>

                </div>
                <div>
                  <button mat-raised-button color="accent" [hidden]=!bb (click)="getDelayedValue()">Released
                    period</button>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

    </form>

    <div class="m-portlet" [hidden]="!showReport">
      <div class="m-portlet__body m-portlet__body--no-padding">
        <div class="row m-row--no-padding m-row--col-separator-xl">
          <div class="col-xl-12">
            <div class="m-widget14">

              <ng-container mPortletHeadTitle>
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Delayed DCR
                  </h3>
                </div>
              </ng-container>
              <hr /><br />
              <div class="table-container mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">

                  <ng-container matColumnDef="sn">
                    <th mat-header-cell *matHeaderCellDef>SN.</th>
                    <td mat-cell *matCellDef="let element; let i = index;"> {{element.sn}} </td>
                  </ng-container>

                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                      </mat-checkbox>Release All
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(element) : null" [checked]="selection.isSelected(element)">
                      </mat-checkbox>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="fieldForceName">
                    <th mat-header-cell *matHeaderCellDef>FieldForce Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.fieldForceName}} </td>

                  </ng-container>
                  <ng-container matColumnDef="hq">
                    <th mat-header-cell *matHeaderCellDef>HeadQuater </th>
                    <td mat-cell *matCellDef="let element"> {{element.hq}} </td>

                  </ng-container>
                  <ng-container matColumnDef="designation">
                    <th mat-header-cell *matHeaderCellDef> Designation </th>
                    <td mat-cell *matCellDef="let element"> {{element.designation}} </td>

                  </ng-container>
                  <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef>State </th>
                    <td mat-cell *matCellDef="let element"> {{element.state}} </td>
                  </ng-container>

                  <ng-container matColumnDef="lastDcr">
                    <th mat-header-cell *matHeaderCellDef>Last DCR Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.lastDcr}} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
              <br>
              <div class="row" [hidden]=!showReleaseButton>
                <div class="col-lg-3 m-form__group-sub">
                  <label class="form-control-label">&nbsp; </label>
                  <button mat-raised-button color="accent" (click)="releaseButton(selection.selected)"
                    [disabled]="!selection.selected">Release
                  </button>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>


    <ng-container>
      <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
      </div>
    </ng-container>
  </ng-container>

</m-portlet>