<div class="example-container" style="margin: 0 11px;" *ngIf="showSelectedPatches">
  <form [formGroup]="EditPatchForm">
    <mat-form-field>
      <mat-label>Group Name</mat-label>
      <input matInput formControlName="patchName" placeholder="Enter Name" value={{data.data.patchName}} #input>
    </mat-form-field>
    <button mat-raised-button color="accent" style="margin-left: 60px;" [disabled]="" (click)="updatePatchName()">Update
      Patch Name<mat-icon>
        offline_pin</mat-icon> </button>
    <div class="example-container">
      <div style="max-height: 25rem; overflow: auto;">
        <table mat-table [dataSource]="dataSource2" class="table-striped" matSort>
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle1() : null"
                [checked]="selection1.hasValue() && isAllSelected1()"
                [indeterminate]="selection1.hasValue() && !isAllSelected1()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection1.toggle(row) : null"
                [checked]="selection1.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="sn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </th>
            <td mat-cell *matCellDef="let element; let i = index;">
              {{(paginator1.pageIndex) * paginator1.pageSize + (1 + i)}} </td>
          </ng-container>

          <ng-container matColumnDef="providerName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element?.providerName !== '' ? element?.providerName : '---'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="providerType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
            <td mat-cell *matCellDef="let element"> {{element?.providerType !== '' ? element?.providerType : '---'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="providerCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Area</th>
            <td mat-cell *matCellDef="let element"> {{element?.areaName !== '' ? (element?.areaName): '---'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="specialization">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Specialization </th>
            <td mat-cell *matCellDef="let element">
              {{element?.specialization !== '' ? element?.specialization : '---'}} </td>
          </ng-container>
          <ng-container matColumnDef="degree">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Degree </th>
            <td mat-cell *matCellDef="let element"> {{element.degree ? element?.degree : '---'}} </td>
          </ng-container>
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
            <td mat-cell *matCellDef="let element"> {{element.category ? element?.category : '---'}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>
      </div>
      <div>
        <mat-paginator #paginator1 [length]="dataSource2?.length || 0" [pageSizeOptions]="[5, 10, 20, 50,100]"
          [pageSize]="50" showFirstLastButtons>
        </mat-paginator>
        <div class="row buttons_position">
          <div class="col-lg-6" *ngIf="rl !== 1">
            <button mat-raised-button color="warn" [disabled]="" (click)="removePatch(element)">Remove Patch<mat-icon>
                delete</mat-icon> </button>
          </div>
          <div class="col-lg-6" *ngIf="rl !== 1">
            <button mat-mini-fab color="primary" [disabled]="" (click)="craeteMorePatch()">
              <mat-icon>
                add
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="example-container" style="margin: 0 11px;" *ngIf="showData">
  <mat-form-field>
    <mat-label>Search Provider</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search..." #input>
  </mat-form-field>
  <div class="example-container ">
    <div style="max-height: 25rem; overflow: auto;">
      <table mat-table [dataSource]="dataSource" class="table-striped" matSort>
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="sn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </th>
          <td mat-cell *matCellDef="let element; let i = index;">
            {{(paginator.pageIndex) * paginator.pageSize + (1 + i)}} </td>
        </ng-container>

        <ng-container matColumnDef="providerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element?.providerName !== '' ? element?.providerName : '---'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="providerType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
          <td mat-cell *matCellDef="let element"> {{element?.providerType !== '' ? element?.providerType : '---'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="patch">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Assigned Patch Name </th>
          <td mat-cell *matCellDef="let element"> {{element?.patch !== '' ? element?.patch : '---'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="providerCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Area</th>
          <td mat-cell *matCellDef="let element"> {{element?.areaName !== '' ? (element?.areaName): '---'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="specialization">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Specialization </th>
          <td mat-cell *matCellDef="let element">
            {{element?.specialization !== '' ? element?.specialization : '---'}} </td>
        </ng-container>
        <ng-container matColumnDef="degree">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Degree </th>
          <td mat-cell *matCellDef="let element"> {{element.degree ? element?.degree : '---'}} </td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
          <td mat-cell *matCellDef="let element"> {{element.category ? element?.category : '---'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div>
      <mat-paginator #paginator [length]="dataSource?.length || 0" [pageSizeOptions]="[5, 10, 20, 50,100]"
        [pageSize]="50" showFirstLastButtons>
      </mat-paginator>
      <div class="row buttons_position">
        <div class="col-lg-6" *ngIf="rl !== 1">
          <button mat-raised-button color="primary" [disabled]="" (click)="createPatch()">Update Patch<mat-icon>
              add_task</mat-icon> </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-12" *ngIf="showProcessing" align="center">
  <mat-spinner strokeWidth="4" [diameter]="60"></mat-spinner>
</div>