<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Stockist Wise Manager Report
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='stockistWiseSaleForm' class="m-form m-form--label-align-left" (ngSubmit)="generateReport()">
            <div class="m-portlet__body">

            <div class="row">
                <div class="col-lg-3 m-form__group-sub">
                    <mat-radio-group class="d-flex" formControlName="type" (change)="getType($event.value)" >
                        <mat-radio-button value="StockistWise">Stockist Wise</mat-radio-button>
                        <mat-radio-button value="ProductWise">Product Wise</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 ">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                                <m-division (valueChange)="getDivisionValue($event)" [check]=false #callDivisionComponent>
                                </m-division>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <m-designation #designationComponent (valueChange)="getDesignationLevel($event)" [check]="false"></m-designation>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <m-status [check]="isStatus" (valueChange)="getStatus($event)" #callStatusComponent></m-status>
                            </div>

                            <div class="col-lg-3 m-form__group-sub">
                                <m-employee #employeeComponent (valueChange)="getEmployee($event)" [check]="false"></m-employee>
                            </div>

                            <div class="col-lg-3 m-form__group-sub" [hidden]="!showProductFilter">
                                <mat-form-field class="mat-form-field-fluid">
                                    <mat-select placeholder="Select Product" formControlName="product" multiple="true" (selectionChange)="getProduct($event.value)" #select>
                                        <mat-option [value]="0" (click)="toggleAllSelection()" style="background-color: #16a184;
                                            color: white;">Select All</mat-option>
                                        <mat-option *ngFor="let d of data" [value]="d">
                                            {{d.productName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <label class="form-control-label">&nbsp; </label>
                                <button mat-raised-button color="accent" [disabled]="!stockistWiseSaleForm.valid"><span><i
                                                class="la la-check"></i></span> Generate
                                        Report</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>
<ng-container>
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</ng-container>
<ng-container mPortletBody *ngIf="showReport">
    <div style="overflow-x:auto; height: 400px;">
        <table class="table-responsive-sm" id="tableId1" border="2" style="border-color: white">
            <thead>
                <tr>
                    <th>State</th>
                    <th>Headquarter</th>
                    <th>Stockist</th>
                    <th style="text-align: center" *ngFor="let month of dynamicTableHeader">{{month}}</th>
                    <th colspan="month?.length" style="text-align: center">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of data; let $index = index">
                    <td>
                        {{d.stateName}}
                    </td>
                    <td>
                        {{d.hqName}}
                    </td>
                    <td>
                        {{d.stockistName}}
                    </td>
                    <ng-container *ngFor="let dd of d.data">
                        <td>{{dd}}</td>
                    </ng-container>
                    <td>{{d.totalAmt}}</td>


                </tr>
            </tbody>
        </table>


    </div>
    <br>
    <div align="center">
        <button mat-raised-button color="accent" (click)="this.exporttoExcel();">
            <span>
                <i class="la la-download"></i>
            </span>Download</button>
    </div>
</ng-container>
<ng-container mPortletBody *ngIf="showReportProductWise">
    <div style="overflow-x:auto; height: 400px;">
        <table class="table-responsive-sm" id="tableId1" border="2" style="border-color: white">
            <thead>
                <tr>
                    <th rowspan="2">State</th>
                    <th rowspan="2">Headquarter</th>
                    <th [attr.colspan]="dynamicTableProduct?.length" style="text-align: center" *ngFor="let month of dynamicTableHeader">{{month}}</th>
                    <th rowspan="2" [attr.colspan]="dynamicTableProduct?.length" style="text-align: center">Total</th>
                </tr>
                <tr>
                    <ng-container *ngFor="let month of dynamicTableHeader">
                        <th class="border" *ngFor="let product of dynamicTableProduct">{{product}}</th>
                    </ng-container>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of dataProductWise; let $index = index">
                    <td>
                        {{d._id.stateName}}
                    </td>
                    <td>
                        {{d._id.districtName}}
                    </td>
                    <!-- <pre>{{d.data| json}}</pre> -->
                    <ng-container *ngFor="let month of dynamicTableHeader;">
                        <td class="border" *ngFor="let product of dynamicTableProduct;index as i">{{getCelData(month, product, d.data,i)}}</td>
                    </ng-container>
                    <td>{{(d.totalAmt).toFixed(2)}}</td>

                </tr>
            </tbody>
        </table>


    </div>
    <br>
    <div align="center">
        <button mat-raised-button color="accent" (click)="this.exporttoExcel();">
            <span>
                <i class="la la-download"></i>
            </span>Download</button>
    </div>
</ng-container>
