<mat-list-item class="primary-imenu-item" role="listitem">
  <mat-form-field style="width: 100%;">
    <mat-label>Select Category</mat-label>
    <mat-select [(ngModel)]="categorySelected" placeholder="Select Category" required
      (selectionChange)='changedValue($event.value)' multiple={{check}}>
      <div class="d-flex mb-1 sticky-top">
        <button class="mat-primary fill text-sm button button2" (click)="selectAll()" *ngIf="categoryLength > 1">
          Select All
        </button>
        <button class="mat-accent fill text-sm button button3" (click)="deselectAll()" *ngIf="categoryLength > 1">
          Deselect All
        </button>
      </div>
      <mat-option *ngFor="let category of this.currentUser.company.category" [value]="category">
        {{category}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-list-item>