<m-portlet [options]="{enableSticky: true}">
	<!-- use ng-container[mPortletHeadTitle] for the title -->
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				Standard Tour Program Details
			</h3>
		</div>
	</ng-container>
	<div mPortletHeadTools>
		<div>
			<mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
		</div>
	</div>
	<div mPortletBody [hidden]="!isToggled">
		<form [formGroup]="stpDetailsForm" class="m-form m-form--label-align-left" (ngSubmit)="generateReport()">
			<div class="m-portlet__body">
				<div class="row">
					<div class="col-xl-12 ">
						<div class="m-form__section m-form__section--first">
							<div class="form-group m-form__group row">
								<div class="col-lg-3 m-form__group-sub" *ngIf="currentUser.userInfo[0].rL>1">
									<mat-radio-group formControlName="type" (change)="getType($event)">
										<mat-radio-button value="Self">Self STP</mat-radio-button>
										<mat-radio-button value="Team">Team STP</mat-radio-button>
									</mat-radio-group>
								</div>
								<div class="col-lg-3 m-form__group-sub"
									*ngIf="this.stpDetailsForm.value.type==='Team' || this.currentUser.userInfo[0].rL===0">
									<m-state (valueChange)="getStateValue($event)" [check]="check">
									</m-state>
								</div>
								<div class="col-lg-3 m-form__group-sub"
									*ngIf="this.stpDetailsForm.value.type==='Team' || this.currentUser.userInfo[0].rL===0">
									<m-district #districtComponent (valueChange)="getDistrictValue($event)"
										[check]="check">
									</m-district>
								</div>

								<div class="col-lg-3 m-form__group-sub"
									*ngIf="this.stpDetailsForm.value.type==='Team' || this.currentUser.userInfo[0].rL===0">
									<m-employee #employeeComponent (valueChange)="getUserId($event)" [check]="check">
									</m-employee>
								</div>
								<div class="col-lg-3 m-form__group-sub">
									<button mat-raised-button color="accent" [disabled]="!stpDetailsForm.valid">STP
										Details</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
		</form>
	</div>
</m-portlet>

<ng-container class="mat-elevation-z8">
	<mat-card *ngIf="isShowData">

		<div mPortletHeadTools>
			<div>
				<span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
					style="float: right;" class="col-sm-1" (click)="exporttoExcel()"><i class="fa fa-file-excel"
						style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i></span>
			</div>
		</div>

		<div class="table-container mat-elevation-z8">
			<table class="table-responsive" #table mat-table [dataSource]="dataSource2" matSort  id="tableId1">
				<ng-container matColumnDef="select" >
					<th mat-header-cell *matHeaderCellDef>
						<mat-checkbox class="h-check-box" (change)="$event ? masterToggle() : null"
							[checked]="selection.hasValue() && isAllSelected()">
						</mat-checkbox>&nbsp;&nbsp;
					</th>
					<td mat-cell *matCellDef="let row;let i=index">
						<mat-checkbox (click)="getSelectionValue($event,i,row)" [checked]="selection.isSelected(row)">
						</mat-checkbox>&nbsp;&nbsp;
					</td>
				</ng-container>
				<ng-container matColumnDef="sn">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>SN.</th>
					<td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
				</ng-container>

				<ng-container matColumnDef="fromArea">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;From
						{{currentUser.company.lables.areaLabel}}
					</th>
					<td mat-cell *matCellDef="let element"> {{element.fromArea.areaName}} </td>
				</ng-container>

				<ng-container matColumnDef="toArea">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;To
						{{currentUser.company.lables.areaLabel}}</th>
					<td mat-cell *matCellDef="let element"> {{element.toArea.areaName}} </td>
				</ng-container>

				<ng-container matColumnDef="type">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Type</th>
					<td mat-cell *matCellDef="let element"> {{element.type | uppercase}} </td>
				</ng-container>

				<ng-container matColumnDef="distance">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Distance</th>
					<td mat-cell *matCellDef="let element"> {{element.distance}} </td>
				</ng-container>
				<ng-container matColumnDef="freqVisit">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Freq Visit</th>
					<td mat-cell *matCellDef="let element"> {{element.freqVisit}} </td>
				</ng-container>

				<ng-container matColumnDef="appByMgr">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Manager Approved?</th>
					<td mat-cell *matCellDef="let element"> {{element.appByMgr === '' ? 'No' : 'Yes'}} </td>
				</ng-container>
				<ng-container matColumnDef="appByAdm">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Admin Approved?</th>
					<td mat-cell *matCellDef="let element"> {{element.appByAdm === '' ? 'No' : 'Yes'}} </td>
				</ng-container>
				<ng-container matColumnDef="submissionDate">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Submission Date</th>
					<td mat-cell *matCellDef="let element"> {{element.createdAt | date}} </td>
				</ng-container>
				<ng-container matColumnDef="mgrAppDate">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Manager Approved Date</th>
					<td mat-cell *matCellDef="let element">
						{{element.appByMgr === '' ? '---' : element.mgrAppDate | date}} </td>
				</ng-container>
				<ng-container matColumnDef="finalAppDate">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Admin Approved Date</th>
					<td mat-cell *matCellDef="let element">
						{{element.appByAdm === '' ? '---' : element.finalAppDate | date}} </td>
				</ng-container>
				<ng-container matColumnDef="edit">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Edit Details</th>
					<td mat-cell *matCellDef="let row;let i=index"> <button mat-button color="accent"
							(click)="editStp($event,i,row)">
							<i class="material-icons" style="color: #f44336;">edit</i></button> </td>
				</ng-container>
				<ng-container matColumnDef="loading">
					<mat-footer-cell *matFooterCellDef>
						Loading data...
					</mat-footer-cell>
				</ng-container>
				<tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
				<mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource2!=null}"></mat-footer-row>
			</table>
			<mat-paginator [pageSizeOptions]=[5,10,20,50] [pageSize]="10" showFirstLastButtons></mat-paginator>
			<mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
				<mat-progress-spinner color="primary" mode="indeterminate">
				</mat-progress-spinner>
			</mat-card>
		</div>
		<div class="row">
			<div class="col-lg-12 dtl-btn">
				<button mat-raised-button color="primary" [disabled]="disableDeleteBtn" (click)="deleteSTP()">Delete
					STP</button>
			</div>
		</div>
	</mat-card>
</ng-container>

<div class="col-xl-12" *ngIf="showProcessing" align="center">
    <img src="assets/app/media/img/processing/loading.gif">
</div>
