
tr:nth-of-type(odd) {
	background: #eee;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 24px !important;
}

.dtl-btn {
	margin: 36px 0px 0px 0px;
}
