<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Category Wise Secondary Sale
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='form' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewRecords()">
            <div class="m-portlet__body">

                <div class="row" [hidden]="!showReportType">
                    <div class="col-lg-12 ">
                        <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">

                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showType">
                                    <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                                    <m-division (valueChange)="getDivisionValue($event)" [check]=true #callDivisionComponent>
                                    </m-division>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showState">
                                    <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                                    </m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDistrict">
                                    <m-district [check]=true (valueChange)="getDistrictValue($event)" #callDistrictComponent></m-district>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDesignation" *ngIf="isShowTeamInfo">
                                    <m-designation [check]=false (valueChange)="getDesignation($event)" #callDesignationComponent></m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showEmployee" *ngIf="isShowTeamInfo">
                                    <m-employee [check]=true (valueChange)="getEmployeeValue($event)" #callEmployeeComponent></m-employee>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <mat-form-field class="custom-mat-range-datepicker">
                                        <input matInput [max]="currentDate" [matRangeDatepicker]="resultPicker" formControlName="dateRange" placeholder="From - To Date" (valueChange)="hideTable()">
                                        <mat-datepicker-toggle matSuffix [for]="resultPicker"></mat-datepicker-toggle>
                                        <mat-range-datepicker #resultPicker [rangeMode]="true">
                                        </mat-range-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent" [disabled]="!form.valid"><span><i
                                                class="la la-check"></i></span>View
                                        Status</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>

<ng-container>
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</ng-container>
<div *ngIf="showReport">
    <m-portlet>
        <ng-container mPortletHeadTitle>
            <div class="m-port let__head-title">
                <h3 class="m-portlet__head-text">
                    Category Wise Secondary Sale Report
                </h3>
            </div>
        </ng-container>
        <ng-container mPortletBody>
            <div style="overflow-x:auto; max-height:22rem" class="mat-elevation-z8">
                <table class="GeneratedTable" id="tableId1">
                    <thead>
                        <tr>
                            <!-- <th *ngIf="showDivisionFilter" rowspan="2">Division</th> -->
                            <th rowspan="3">Category Type</th>
                            <th rowspan="3">Product Name</th>
                            <th rowspan="3">ERP Code</th>
                            <th rowspan="3">Package Size</th>
                            <th colspan="2" style="text-align: center" *ngFor="let month of dynamicTableHeader">{{month}}
                            </th>
                            <!-- <th colspan="16" style="text-align: center">Total</th> -->
                        </tr>
                        <tr class="row-2">
                            <ng-container *ngFor="let month of dynamicTableHeader">
                                <th colspan="2">Sales Qty</th>
                            </ng-container>
                        </tr>
                        <tr class="row-3">
                            <ng-container *ngFor="let month of dynamicTableHeader">
                                <th>Qty</th>
                                <th>Value</th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of data.reverse(); let $index = index" [style.background-color]="d.productType== 'Total' ? '#e6d450' : 'white'">
                            <!-- <td *ngIf="showDivisionFilter">{{d.divisionName}}</td> -->
                            <td [style.font-weight]="d.productType== 'Total' ? 'bold' :''">
                                {{d.productType}}
                            </td>
                            <td [style.font-weight]="d.productType== 'Total' ? 'bold' :''">
                                {{d.productName}}
                            </td>
                            <td>
                                .....
                            </td>
                            <td [style.font-weight]="d.productType== 'Total' ? 'bold' :''">
                                {{d.productPackageSize}}
                            </td>
                            <ng-container *ngFor="let dd of d.data">
                                <td [style.font-weight]="d.productType== 'Total' ? 'bold' :''">
                                    {{dd.qty}}
                                </td>
                                <td [style.font-weight]="d.productType== 'Total' ? 'bold' :''">
                                    {{dd.value}}
                                </td>
                            </ng-container>
                    </tbody>
                </table>


            </div>
        </ng-container>
    </m-portlet>
</div>