<mat-form-field style="width: 100%;">
    <mat-label>Select Employee</mat-label>
    <mat-select placeholder="Select Employee" required (selectionChange)='changedValue($event.value)' multiple={{check}}>
      <mat-option *ngFor="let employee of userData" [value]="employee"  >
        {{employee.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  