<mat-form-field style="width: 100%;">
  <mat-select [(ngModel)]="selecteddata" placeholder="Select Provider" required (selectionChange)='changedValue($event.value)' multiple={{check}}>
    <mat-option *ngFor="let provider of providerData" [value]="provider"  >
      {{provider.providerName}}
    </mat-option>
  </mat-select>
</mat-form-field>
