<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                {{this.currentUser.company.lables.doctorLabel}} Visit Report
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='dcrForm' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewRecords()">
            <div class="m-portlet__body">
                <div class="row" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'">
                    <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
                </div>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row" [hidden]=!showAdminAndMGRLevelFilter>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                                    <m-division (valueChange)="getDivisionValue($event)" [check]=true
                                        #callDivisionComponent>
                                    </m-division>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showState">
                                    <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                                    </m-state>
                                </div>

                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDistrict">
                                    <m-district [check]=true (valueChange)="getDistrictValue($event)"
                                        #callDistrictComponent></m-district>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showEmployee">
                                    <m-designation (valueChange)="getDesignation($event)" #callDesignationComponent>
                                    </m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showEmployee">
                                    <m-employee [check]=true (valueChange)="getEmployeeValue($event)"
                                        #callEmployeeComponent></m-employee>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-category (valueChange)="getCategory($event)" #callMefComponent></m-category>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent" [disabled]="!dcrForm.valid"><span><i
                                                class="la la-check"></i></span>View Status</button> </div>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>

<ng-container>
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</ng-container>

<m-portlet [hidden]="!showReport">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                {{this.currentUser.company.lables.doctorLabel}} Visit Details
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
        style="float: right;" class="col-sm-1" (click)="exportToExcel()"><i class="fa fa-file-excel"
            style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i></span>
    </div>

    <ng-container mPortletBody>
        <div style="overflow:auto; width:100%;">
             <table #dataTable class="display" style="width:100%">

            </table>
        </div>



    </ng-container>
</m-portlet>
