<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                View Provider Details
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletBody>
        <form [formGroup]='viewProvider' class="m-form m-form--label-align-left- m-form--state-"
            (ngSubmit)="getProviderDetails(1)">
            <div class="row">
                <div class="col-xl-12 ">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-2 m-form__group-sub">
                                <mat-radio-button class="form-control-label" [checked]='true'
                                    (change)="reportType('doctor')" name="reportTypeName">
                                    * {{this.currentUser.company.lables.doctorLabel}}
                                </mat-radio-button>
                            </div>
                            <div class="col-lg-2 m-form__group-sub">
                                <mat-radio-button class="form-control-label" (change)="reportType('vendor')"
                                    name="reportTypeName">
                                    * {{this.currentUser.company.lables.vendorLabel}} /
                                    {{this.currentUser.company.lables.stockistLabel}}
                                </mat-radio-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div *ngIf="currentUser.userInfo[0].rL===0" class="col-lg-3 m-form__group-sub">
                                    <m-state (valueChange)="getStateValue($event)" [check]=false></m-state>
                                </div>
                                <div *ngIf="currentUser.userInfo[0].rL===0" class="col-lg-3 m-form__group-sub">
                                    <div class="m-form__control">
                                        <m-district (valueChange)="getDistrictValue($event)" #callDistrictComponent
                                            [check]=false></m-district>
                                    </div>
                                </div>
                                <div *ngIf="currentUser.userInfo[0].rL===0" class="col-lg-3 m-form__group-sub">
                                    <div class="m-form__control">
                                        <m-employee (valueChange)="getEmployees($event)" #callEmployeeComponent
                                            [check]=false></m-employee>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <mat-select #selectArea placeholder="Select {{this.currentUser.company.lables.areaLabel}}"
                                        (selectionChange)="setArea($event.value)" multiple formControlName="area">
                                            <mat-option [value]="0" (click)="toggleAllSelectionForHQ()" style="background-color: #16a184;
                                            color: white;">Select All</mat-option>
                                            <mat-option *ngFor="let area of areas" value="{{area.areaId}}">
                                                {{area.areaName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <mat-select placeholder="Select Status"
                                            (selectionChange)="setArea($event.value)" formControlName="viewStatus">
                                            <mat-option *ngFor="let viewStatuss of viewStatus"
                                                value="{{viewStatuss.id}}">
                                                {{viewStatuss.value}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3">
                                    <button mat-raised-button color="accent" [disabled]="!viewProvider.valid"><span><i
                                                class="la la-check"></i></span>View
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </ng-container>
</m-portlet>
<br>
<ng-container>
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</ng-container>
<m-portlet [options]="{enableSticky: true}" *ngIf="isShowProvider">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title row">
            <div class="col-lg-8">
                <h3 class="m-portlet__head-text">
                    Provider Details
                </h3>    
            </div>
            <div class="col-lg-4">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Doctor">
                </mat-form-field>
            </div>
        </div>
    </ng-container>
    

    <ng-container mPortletBody *ngIf="isShowPendingForApprovalAndDeletionForDoctor">
        <div class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceT">
                <ng-container matColumnDef="sno">
                    <th mat-header-cell *matHeaderCellDef> Sr.No. </th>
                    <td mat-cell *matCellDef="let row;let i = index;">{{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="blockName">
                    <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.areaLabel}} Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.blockName}} </td>
                </ng-container>

                <ng-container matColumnDef="providerName">
                    <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.doctorLabel}} Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.providerName}} </td>
                </ng-container>
                <ng-container matColumnDef="providerCode">
                    <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.doctorLabel}} Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.providerCode}} </td>
                </ng-container>
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef> Category </th>
                    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                </ng-container>
                <ng-container matColumnDef="dateOfBirth">
                    <th mat-header-cell *matHeaderCellDef> date Of Birth </th>
                    <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
                </ng-container>
                <ng-container matColumnDef="degree">
                    <th mat-header-cell *matHeaderCellDef> Degree </th>
                    <td mat-cell *matCellDef="let element"> {{element.degree}} </td>
                </ng-container>
                <ng-container matColumnDef="specialization">
                    <th mat-header-cell *matHeaderCellDef> Specialization </th>
                    <td mat-cell *matCellDef="let element"> {{element.specialization}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </ng-container>
    <ng-container mPortletBody *ngIf="isShowPendingForApprovalAndDeletionForVendor">
        <div class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceT">
                <ng-container matColumnDef="sno">
                    <th mat-header-cell *matHeaderCellDef> Sr.No. </th>
                    <td mat-cell *matCellDef="let row;let i = index;">{{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="blockName">
                    <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.areaLabel}} Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.blockName}} </td>
                </ng-container>

                <ng-container matColumnDef="providerName">
                    <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.vendorLabel}} /
                        {{this.currentUser.company.lables.stockistLabel}} Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.providerName}} </td>
                </ng-container>
                <ng-container matColumnDef="providerCode">
                    <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.vendorLabel}} /
                        {{this.currentUser.company.lables.stockistLabel}} Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.providerCode}} </td>
                </ng-container>
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef> Category </th>
                    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                </ng-container>
                <ng-container matColumnDef="dateOfBirth">
                    <th mat-header-cell *matHeaderCellDef> date Of Birth </th>
                    <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
            </table>
        </div>
    </ng-container>
    <ng-container mPortletBody *ngIf="isShowDoctorForDelete">
        <div class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceT">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(element) : null"
                            [checked]="selection.isSelected(element)"></mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="sno">
                    <th mat-header-cell *matHeaderCellDef> Sr.No. </th>
                    <td mat-cell *matCellDef="let row;let i = index;">{{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="blockName">
                    <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.areaLabel}} Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.blockName}} </td>
                </ng-container>

                <ng-container matColumnDef="providerName">
                    <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.doctorLabel}} Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.providerName}} </td>
                </ng-container>
                <ng-container matColumnDef="providerCode">
                    <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.doctorLabel}} Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.providerCode}} </td>
                </ng-container>
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef> Category </th>
                    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                </ng-container>
                <ng-container matColumnDef="dateOfBirth">
                    <th mat-header-cell *matHeaderCellDef> date Of Birth </th>
                    <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
                </ng-container>
                <ng-container matColumnDef="degree">
                    <th mat-header-cell *matHeaderCellDef> Degree </th>
                    <td mat-cell *matCellDef="let element"> {{element.degree}} </td>
                </ng-container>
                <ng-container matColumnDef="specialization">
                    <th mat-header-cell *matHeaderCellDef> Specialization </th>
                    <td mat-cell *matCellDef="let element"> {{element.specialization}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3 m-form__group-sub">
                <label class="form-control-label">&nbsp; </label>
                <button mat-raised-button color="warn" (click)="deleteProvider(selection._selected)"
                    [disabled]="!selection._selected">InActive
                </button>
            </div>
        </div>
    </ng-container>
    <ng-container mPortletBody *ngIf="isShowDoctorForApprove">
        <div class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource01">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle1() : null"
                            [checked]="selection1.hasValue() && isAllSelected1()"
                            [indeterminate]="selection1.hasValue() && !isAllSelected1()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection1.toggle(element) : null"
                            [checked]="selection1.isSelected(element)"></mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="sno">
                    <th mat-header-cell *matHeaderCellDef> Sr.No. </th>
                    <td mat-cell *matCellDef="let row;let i = index;">{{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="blockName">
                    <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.areaLabel}} Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.blockName}} </td>
                </ng-container>

                <ng-container matColumnDef="providerName">
                    <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.doctorLabel}} Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.providerName}} </td>
                </ng-container>
                <ng-container matColumnDef="providerCode">
                    <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.doctorLabel}} Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.providerCode}} </td>
                </ng-container>
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef> Category </th>
                    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                </ng-container>
                <ng-container matColumnDef="dateOfBirth">
                    <th mat-header-cell *matHeaderCellDef> date Of Birth </th>
                    <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
                </ng-container>
                <ng-container matColumnDef="degree">
                    <th mat-header-cell *matHeaderCellDef> Degree </th>
                    <td mat-cell *matCellDef="let element"> {{element.degree}} </td>
                </ng-container>
                <ng-container matColumnDef="specialization">
                    <th mat-header-cell *matHeaderCellDef> Specialization </th>
                    <td mat-cell *matCellDef="let element"> {{element.specialization}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3 m-form__group-sub">
                <label class="form-control-label">&nbsp; </label>
                <button mat-raised-button color="accent" (click)="approveProvider(selection1._selected)"
                    [disabled]="!selection1._selected">Active
                </button>
            </div>
        </div>
    </ng-container>
    <ng-container mPortletBody *ngIf="isShowVendorForDelete">
        <div class="example-container mat-elevation-z8">
            <table mat-table matSort [dataSource]="dataSource02">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle2() : null"
                            [checked]="selection.hasValue() && isAllSelected2()"
                            [indeterminate]="selection2.hasValue() && !isAllSelected2()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection2.toggle(element) : null"
                            [checked]="selection2.isSelected(element)"></mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="sno">
                    <th mat-header-cell *matHeaderCellDef> Sr.No. </th>
                    <td mat-cell *matCellDef="let row;let i = index;">{{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="blockName">
                    <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.areaLabel}} Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.blockName}} </td>
                </ng-container>

                <ng-container matColumnDef="providerName">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                        {{this.currentUser.company.lables.vendorLabel}} /
                        {{this.currentUser.company.lables.stockistLabel}} Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.providerName}} </td>
                </ng-container>
                <ng-container matColumnDef="providerCode">
                    <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.vendorLabel}} /
                        {{this.currentUser.company.lables.stockistLabel}} Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.providerCode}} </td>
                </ng-container>
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef> Category </th>
                    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                </ng-container>
                <ng-container matColumnDef="dateOfBirth">
                    <th mat-header-cell *matHeaderCellDef> date Of Birth </th>
                    <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
            </table>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3 m-form__group-sub">
                <label class="form-control-label">&nbsp; </label>
                <button mat-raised-button color="warn" (click)="deleteProvider(selection2._selected)"
                    [disabled]="!selection2._selected">InActive
                </button>
            </div>
        </div>
    </ng-container>
    <ng-container mPortletBody *ngIf="isShowVendorForApprove">
        <div class="example-container mat-elevation-z8">
            <table mat-table matSort [dataSource]="dataSource03">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle3() : null"
                            [checked]="selection3.hasValue() && isAllSelected3()"
                            [indeterminate]="selection3.hasValue() && !isAllSelected3()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection3.toggle(element) : null"
                            [checked]="selection3.isSelected(element)"></mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="sno">
                    <th mat-header-cell *matHeaderCellDef> Sr.No. </th>
                    <td mat-cell *matCellDef="let row;let i = index;">{{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="blockName">
                    <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.areaLabel}} Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.blockName}} </td>
                </ng-container>

                <ng-container matColumnDef="providerName">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                        {{this.currentUser.company.lables.vendorLabel}} /
                        {{this.currentUser.company.lables.stockistLabel}} Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.providerName}} </td>
                </ng-container>
                <ng-container matColumnDef="providerCode">
                    <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.vendorLabel}} /
                        {{this.currentUser.company.lables.stockistLabel}} Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.providerCode}} </td>
                </ng-container>
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef> Category </th>
                    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                </ng-container>
                <ng-container matColumnDef="dateOfBirth">
                    <th mat-header-cell *matHeaderCellDef> date Of Birth </th>
                    <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
            </table>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3 m-form__group-sub">
                <label class="form-control-label">&nbsp; </label>
                <button mat-raised-button color="accent" (click)="approveProvider(selection3._selected)"
                    [disabled]="!selection3._selected">Active
                </button>
            </div>
        </div>
    </ng-container>
</m-portlet>