<!-- <div>
  <div>Companies details</div> -->
  <!-- <table class="tg" style="table-layout: fixed; width: 405px">
    <colgroup>
        <col style="width: 147px">
        <col style="width: 87px">
        <col style="width: 78px">
    </colgroup>
    <tr>
        <th class="tg-6zbl">Company Name</th>
        <th class="tg-6zbl">Max Users</th>
        <th class="tg-6zbl">Status</th>
        <th class="tg-6zbl">Change Status</th>
    </tr>
    <tr *ngFor="let data of masterCompanyData; index as i">
      <td class="tg-xldj">{{data.name}}</td>
      <td class="tg-xldj">{{data.maxUser}}</td>
      <td class="tg-xldj">{{data.status? "Active": "In-active"}}</td>
      <td class="tg-xldj button" [ngClass]="{'active-button':!data.status,'deactive-button': data.status }"><a (click)="changeCompanyStatus(data.status ,i)">{{(data.status)?"Deactivate": "Activate"}}</a></td>
    </tr>
</table> -->
<!-- <table #companyDataTable class="display" style="width:100%"></table>
</div> -->
<div class="m-portlet" >
    <div class="m-portlet__body m-portlet__body--no-padding">
        <div class="row m-row--no-padding m-row--col-separator-xl">
            <div class="col-xl-12">
                <div class="m-widget14">
                    
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Companies Details
                            </h3>
                        </div>
                   
                    <hr /><br />
                    <table #companyDataTable class="display" style="width:100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>