// table {
//     border-collapse: collapse;
//   }
  
  table, th, td {
    border: 1px solid grey;
  }

.button {
    cursor: pointer;
    text-align: center;
}
.deactive-button {
    background: #fd6565;
    
}

.active-button {
    background: #029a02;
}
tr {
    height: 42px;
}
.tg {
    border-collapse: collapse;
    border-spacing: 0;
}
.tg .tg-6zbl {
    background-color: #036400;
    color: #ffffff;
    border-color: inherit;
    text-align: left
}
.tg .tg-xldj {
    border-color: inherit;
    text-align: left
}
::ng-deep table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: bold;
    background-color: #16a184;
    color: white;
}