<m-portlet [options]="{enableSticky: true}">
    <div mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                {{this.currentUser.company.lables.areaLabel}} Creation
            </h3>
        </div>
    </div>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='areaForm' class="" (ngSubmit)="createArea()">
            <div class="m-portlet__body">

                <div class="row">

                    <div *ngIf="currentUser.userInfo[0].rL===0 || currentUser.userInfo[0].rL>1" class="col-lg-3">
                        <m-state (valueChange)="getStateValue($event)" [check]=false #callStateComponent></m-state>
                    </div>

                    <div *ngIf="currentUser.userInfo[0].rL===0 || currentUser.userInfo[0].rL>1" class="col-lg-3 ">
                        <m-district (valueChange)="getDistrictValue($event)" #callDistrictComponent [check]=false>
                        </m-district>
                    </div>

                    <div *ngIf="currentUser.userInfo[0].rL===0 || currentUser.userInfo[0].rL>1" class="col-lg-3 ">
                        <m-employee (valueChange)="getEmployees($event)" #callEmployeeComponent [check]=false>
                        </m-employee>
                    </div>

                    <div class="col-lg-3 ">
                        <mat-form-field style="width: 100% !important;">
                            <input matInput formControlName="areaName" required
                                placeholder="{{this.currentUser.company.lables.areaLabel}} Name">
                            <mat-error>{{this.currentUser.company.lables.areaLabel}} Name is required!!!</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-3 ">
                        <mat-form-field style="width: 100% !important;">
                            <input matInput formControlName="areaCode"
                                placeholder="{{this.currentUser.company.lables.areaLabel}} Code">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3 ">
                        <mat-form-field style="width: 100% !important;">
                            <mat-select formControlName="type" required
                                placeholder="{{this.currentUser.company.lables.areaLabel}} Type">
                                <mat-option *ngFor="let area of areaTypes" [value]="area">
                                    {{area}}
                                </mat-option>
                            </mat-select>
                            <mat-error>{{this.currentUser.company.lables.areaLabel}} Type is required!!!</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3 ">
                        <button mat-raised-button color="accent" [disabled]="!areaForm.valid"><span><i
                                    class="la la-check"></i></span>Create
                            {{this.currentUser.company.lables.areaLabel}}</button>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>

<div mPortletBody>
    <div class="row" [hidden]=!showAreaList>
        <div class="col-xl-12">
            <ng-container mPortletHeadTitle>
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        {{this.currentUser.company.lables.areaLabel}} List
                    </h3>
                    <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
                    style="float: right;" class="col-sm-1" (click)="exporttoExcel()"><i class="fa fa-file-excel"
                        style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i></span>
                </div>

               
                   
            </ng-container>
            <div class="table-container mat-elevation-z8"  id="tableId1">
                <table mat-table [dataSource]="myAreas">

                    <ng-container matColumnDef="stateName" *ngIf="currentUser.userInfo[0].rL === 0">
                        <th mat-header-cell *matHeaderCellDef>State Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.stateName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="districtName">
                        <th mat-header-cell *matHeaderCellDef>{{this.currentUser.company.lables.hqLabel}} Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="userName">
                        <th mat-header-cell *matHeaderCellDef>User Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="areaName">
                        <th mat-header-cell *matHeaderCellDef>{{this.currentUser.company.lables.areaLabel}} Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.areaName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef>Type </th>
                        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Status </th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Edit </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="accent" (click)="editArea(element)">
                                <mat-icon>create</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action1">
                        <th mat-header-cell *matHeaderCellDef> Delete </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="warn" (click)="deleteAreaMapping(element)">
                                <mat-icon>delete_outline</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

            </div>

        </div>

    </div>
</div>