<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Stock-Sales & Statement Filter
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <!-- use ng-container[mPortletHeadTools] for the top right toolbar content -->

    <!-- use ng-container[mPortletBody] for the body content -->
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='sssForm' class="m-form m-form--label-align-left- m-form--state" (ngSubmit)="submitSSS()">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div [hidden]=!showState class="col-lg-3 m-form__group-sub">
                                    <m-state (valueChange)="getStateValue($event)" [check]=false></m-state>
                                </div>
                                <div [hidden]=!showDistrict class="col-lg-3 m-form__group-sub">
                                    <div class="m-form__control">
                                        <m-district (valueChange)="getDistrictValue($event)" #callDistrictComponent
                                            [check]=false></m-district>
                                    </div>
                                </div>

                                <div [hidden]=!showEmployee class="col-lg-3 m-form__group-sub">
                                    <div class="m-form__control">
                                        <m-employee (valueChange)="getStockists($event)" #callEmployeeComponent [check]=false></m-employee>
                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="m-form__control">
                                        <m-mapped-stockist (valueChange)="setStockistValue($event)"
                                            #callMappedStockistComponent [check]=false></m-mapped-stockist>
                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-month (valueChange)="getMonth($event)" #callMonthComponent></m-month>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-year (valueChange)="getYear($event)" #callYearComponent></m-year>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-4 m-form__group-sub">
                                    <mat-radio-button class="form-control-label" (change)="saleType('primarySale')"
                                        >
                                        * Primary Sale
                                    </mat-radio-button>
                                    <mat-radio-button class="form-control-label" (change)="saleType('returnSale')"
                                       >
                                        * Sale Return
                                    </mat-radio-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-4 m-form__group-sub">
                                    <label class="form-control-label">* Invoice Number:</label>
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Invoice Number" formControlName="invoiceNo"
                                            (change)="getInvoiceNum($event)" value=0>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4 m-form__group-sub">
                                    <label class="form-control-label">* Invoice Date:</label>
                                    <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div><label class="form-control-label">&nbsp; </label></div>
                                    <button mat-raised-button color="accent" [disabled]="!sssForm.valid"><span><i class="la la-check"></i></span>Submit
                                        SSS</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>

<m-portlet [options]="{enableSticky: false}" *ngIf="isShowSSSForm">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Stock-Sales & Statement Submission Form
            </h3>
        </div>
    </ng-container>

    <ng-container mPortletBody>
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-xl-12 ">
                    <form [formGroup]="form" class="m-form m-form--label-align-left- m-form--state" (ngSubmit)="submit()">
                        <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
                            <button type="submit" class="btn btn-primary submit-button" [disabled]="!form.valid">Submit</button>
                        </formly-form>
                    </form>
                </div>
            </div>
        </div>
    </ng-container>
</m-portlet>