<div class="form-container">
  <div class="d-flex justify-content-between">
    <h1 mat-dialog-title>Edit STP</h1>
  </div>
  <div mat-dialog-content>
    <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="fg">

      <div class="row">
        <div class="col-xl-12 ">
          <div class="m-form__section m-form__section--first">
            <div class="form-group m-form__group row">
              <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="display: inline-block;">
                  <mat-label>From Area</mat-label>
                  <input type="text" matInput required formControlName="fromArea" placeholder="" readonly>
                </mat-form-field>
              </div>
              <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="display: inline-block;">
                  <mat-label>To Area</mat-label>
                  <input type="text" matInput required formControlName="toArea" placeholder="" readonly>
                </mat-form-field>
              </div>
              <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="display: inline-block;"> 
                  <mat-label>Type</mat-label>
                  <mat-select placeholder="" formControlName="type">
                      <mat-option *ngFor="let type of stpType" [value]="type.value">{{type.viewValue}}</mat-option>
                  </mat-select>
              </mat-form-field>
              </div>
              <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="display: inline-block;"> 
                  <mat-label>FRC Code</mat-label>
                  <mat-select placeholder="" formControlName="frc">
                      <mat-option *ngFor="let type of frc" [value]="type.id">{{type.frcCode}} -
                        {{type.applicableTo.toUpperCase()}}</mat-option>
                  </mat-select>
              </mat-form-field>
              </div>
              
              <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="display: inline-block;">
                  <mat-label>Distance</mat-label>
                  <input matInput required formControlName="distance" placeholder="Enter new Distance" >
                </mat-form-field>
              </div>
              <!-- <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="display: inline-block;">
                  <mat-label>Applicable To</mat-label>
                  <input matInput required formControlName="applicableTo" placeholder="">
                </mat-form-field>
              </div> -->
              <!-- <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="display: inline-block;">
                  <mat-label>Fare</mat-label>
                  <input type="number" matInput required formControlName="rate" placeholder="">
                </mat-form-field>
              </div> -->
              <!-- <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="display: inline-block;">
                  <mat-label>Description</mat-label>
                  <input matInput required formControlName="description" placeholder="">
                </mat-form-field>
              </div> -->
              <!-- <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="display: inline-block;">
                  <mat-label>FRC Code</mat-label>
                  <input matInput required formControlName="frcCode" placeholder="">
                </mat-form-field>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="buttton-container">
    <span class="buttons">
      <button mat-raised-button color="accent" (click)="updateAndClose()" [disabled]="!fg.valid || disableSaveBtn">Save</button>
    </span>
    <span class="buttons">
      <button mat-raised-button (click)="closeModel(false)" color="accent" 
        tabindex="-1">Cancel</button>
    </span>
  </div>
</div>