
<m-portlet [options]="{enableSticky: true}">
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
            Patch Creation Form
        </h3>
    </div>
</ng-container>
<ng-container mPortletBody>
  <form [formGroup]="PatchForm" (ngSubmit)="getPatchesDetails()">
    <div class="row">
      <div class="col-lg-3 " [hidden]="!isShowDivision">
        <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent>
        </m-division>
      </div>
      <div class="col-lg-3 ">
        <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
        </m-state>
      </div>
      <div class="col-lg-3">
        <m-district [check]=true (valueChange)="getDistrictValue($event)" #callDistrictComponent></m-district>
      </div>
      <div class="col-lg-3 ">
        <m-designation (valueChange)="getDesignation($event)" #callDesignationComponent [check]=true>
        </m-designation>
      </div>
      <div class="col-lg-3 ">
        <m-employee [check]=false (valueChange)="getEmployeeValue($event)" #callEmployeeComponent></m-employee>
      </div>
      <!-- <div class="col-lg-3 ">
        <m-status (valueChange)="getStatusValue($event)" [check]="true" #setStatus>
        </m-status>
      </div> -->
      <div class="col-md-3">
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </div>
    <div class="m-portlet__foot m-portlet__foot--fit">
    </div>
  </form>
</ng-container>

</m-portlet>

<div  *ngIf="showAlreadyCreatedPatches">
  <m-portlet>
    <ng-container mPortletHeadTitle>
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Patch Details
        </h3>
      </div>
    </ng-container>
    <ng-container mPortletBody>
    <div class="example-container mat-elevation-z8">
      <div class="example-container mat-elevation-z8">
        <form [formGroup]="AlreadyPatchForm">
          <div style="max-height: 25rem; overflow: auto;">
            <table mat-table [dataSource]="dataSource2" class="table-striped" matSort>
              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> Edit </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="editPacthes(element)">
                        <mat-icon>create</mat-icon>
                    </button>
                </td>
            </ng-container>
              <ng-container matColumnDef="sn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </th>
                <td mat-cell *matCellDef="let element; let i = index;">
                  {{(paginator1.pageIndex) * paginator1.pageSize + (1 + i)}} </td>
              </ng-container>

              <ng-container matColumnDef="patchName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element?.patchName !== '' ? element?.patchName : '---'}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns2;"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>
          </div>
          <div>
            <mat-paginator #paginator1 [length]="dataSource2?.length || 0" [pageSizeOptions]="[5, 10, 20, 50]"
              [pageSize]="5" showFirstLastButtons>
            </mat-paginator>
             <div class="row buttons_position">
              <div class="col-lg-6" >
                <button mat-raised-button color="primary" [disabled]="" (click)="getProvider()">Create More<mat-icon>
                  add_task</mat-icon> </button>
              </div>
            </div> 
          </div>
        </form>
      </div>
      </div>
    </ng-container>
  </m-portlet>
</div>


<div  *ngIf="showProviderDetail">
  <m-portlet>
    <ng-container mPortletHeadTitle>
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          {{this.currentUser.company.lables.doctorLabel}} / {{this.currentUser.company.lables.vendorLabel}} /
                {{this.currentUser.company.lables.stockistLabel}} Details
        </h3>
      </div>
    </ng-container>
    <ng-container mPortletBody>
      <div class="example-container mat-elevation-z8">
        <form [formGroup]="PatchProviderForm">
      <mat-form-field>
        <mat-label>Search Provider</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search..." #input>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter Group Name</mat-label>
        <input matInput  formControlName="patchName" placeholder="Enter Name" #input>
      </mat-form-field>
      <div class="example-container mat-elevation-z8">
          <div style="max-height: 25rem; overflow: auto;">
            <table mat-table [dataSource]="dataSource" class="table-striped" matSort>
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="sn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </th>
                <td mat-cell *matCellDef="let element; let i = index;">
                  {{(paginator.pageIndex) * paginator.pageSize + (1 + i)}} </td>
              </ng-container>

              <ng-container matColumnDef="providerName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element?.providerName !== '' ? element?.providerName : '---'}}
                </td>
              </ng-container>
              <ng-container matColumnDef="providerType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                <td mat-cell *matCellDef="let element"> {{element?.providerType !== '' ? element?.providerType : '---'}}
                </td>
              </ng-container>
              <ng-container matColumnDef="patch">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Assigned Patch Name </th>
                <td mat-cell *matCellDef="let element"> {{element?.patch !== '' ? element?.patch : '---'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="providerCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Area</th>
                <td mat-cell *matCellDef="let element"> {{element?.areaName !== '' ? (element?.areaName): '---'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="specialization">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Specialization </th>
                <td mat-cell *matCellDef="let element">
                  {{element?.specialization !== '' ? element?.specialization : '---'}} </td>
              </ng-container>
              <ng-container matColumnDef="degree">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Degree </th>
                <td mat-cell *matCellDef="let element"> {{element.degree ? element?.degree : '---'}} </td>
              </ng-container>
              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                <td mat-cell *matCellDef="let element"> {{element.category ? element?.category : '---'}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div>
            <mat-paginator #paginator [length]="dataSource?.length || 0" [pageSizeOptions]="[5, 10, 20, 50,100]"
              [pageSize]="50" showFirstLastButtons>
            </mat-paginator>
             <div class="row buttons_position">
              <div class="col-lg-6" *ngIf="rl !== 1">
                <button mat-raised-button color="warn" [disabled]="" (click)="craetePatch()">Create Patch<mat-icon>
                  add_task</mat-icon> </button>
              </div>
            </div> 
          </div>
      </div>
      </form>
      </div>
    </ng-container>
  </m-portlet>
</div>

<div class="col-xl-12" *ngIf="showProcessing" align="center">
  <mat-spinner strokeWidth="4" [diameter]="60"></mat-spinner>
</div>
<div class="row mb-5">
  <div class="col-lg-6" *ngIf="ifProvidersNotPatched">
    <mat-card>
      <div class="mat-header">
        <h4 class="fontclass">
          No Providers Linked with Patches
        </h4>
      </div>
        <a (click)="getProvider()" style="cursor: pointer; text-decoration: none;">
          <div class=" m--font-info center-text fontclass">
            <span class="material-icons">add</span>
            Click HERE
          </div>
        </a>
    </mat-card>
  </div>
</div>


