<m-portlet [options]="{enableSticky: true}">
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        POB Report Stockist Wise
      </h3>
    </div>

  </ng-container>
  <div mPortletHeadTools>
    <div>
      <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
  </div>
  <div mPortletBody [hidden]="!isToggled">
    <form [formGroup]='POBForm' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewRecords()">
      <div class="m-portlet__body">
        <div class="row" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'">
          <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
      </div>
        <div class="row">
          <!-- <div class="row col-lg-12">
            <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
          </div> -->

          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">

                <div class="col-lg-3 m-form__group-sub">
                  <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                </div>
               
                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                  <m-division (valueChange)="getDivisionValue($event)" [check]=true #callDivisionComponent>
                  </m-division><!-- DIVISION Filter -->
                </div>

                <div class="col-lg-3 m-form__group-sub" *ngIf="showState">
                  <!-- State -->
                  <m-state (valueChange)="getStateValue($event)" [check]=false #callStateComponent>
                  </m-state>
                </div>
                

                <div class="col-lg-3 m-form__group-sub" [hidden]='!showDistrict'>
                  <m-district [check]=true (valueChange)="getDistrictValue($event)" #callDistrictComponent></m-district>
                </div><!-- Headquarter -->

                <div class="col-lg-3 m-form__group-sub" [hidden] = "!showEmployee">
                  <m-designation [check]=false (valueChange)="getDesignation($event)" #callDesignationComponent>
                  </m-designation><!-- Designation Filter -->
                </div>
                <div class="col-lg-3 m-form__group-sub" >
                  <m-status [check]=false (valueChange)="getStatusValue($event)" #callStatusComponent>
                  </m-status><!-- Status Filter -->
                </div>
                <div class="col-lg-3 m-form__group-sub" [hidden] = "!showEmployee">
                  <m-employee [check]=false (valueChange)="getEmployeeValue($event)" #callEmployeeComponent>
                  </m-employee><!-- Employee Filter -->
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="showForMGROnly" [hidden] = "!showEmployee">
                  <mat-form-field style="width: 100%;">
                    <mat-label>Select Team</mat-label>
                    <mat-select placeholder="Select Option" (selectionChange)='getTeamType($event.value)'>
                      <mat-option value="withTeam">
                        With Team
                      </mat-option>
                      <mat-option value="withourTeam">
                        Without Team
                      </mat-option>
                    </mat-select>
                  </mat-form-field><!-- Team Or WithOut TEam -->
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="showForTeamSelectionOnly" [hidden] = "!showEmployee">
                  <mat-form-field style="width: 100%;">
                    <mat-label>Select Team</mat-label>
                    <mat-select #selectVal placeholder="Select Employee"
                      (selectionChange)='getHierachyData($event.value)' multiple>
                      <mat-option [value]="0" (click)="toggleAllSelectionForHQ()" style="background-color: #16a184;
                      color: white;">Select All</mat-option>
                      <mat-option *ngFor="let user of hierarchyResult" [value]="user">
                        {{user.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error>Employee name is required!!!</mat-error>
                  </mat-form-field><!-- Team List -->
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                </div><!--  FROM DATE -->
                <div class="col-lg-3 m-form__group-sub">
                  <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                </div> <!-- To Date -->
                <div class="col-lg-3 m-form__group-sub">
                  <button mat-raised-button color="accent" [disabled]="!POBForm.valid"><span><i
                        class="la la-check"></i></span>View Record</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="m-portlet__foot m-portlet__foot--fit">
      </div>
    </form>
  </div>
</m-portlet>

<ng-container>
  <div class="col-xl-12" *ngIf="showProcessing" align="center">
    <img src="assets/app/media/img/processing/loading.gif">
  </div>
</ng-container>

<div mPortletBody *ngIf="showData">
  <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip" class="col-sm-1"
    (click)="exporttoExcel()"><i class="fa fa-file-excel" style="cursor:pointer; color: green;font-size: 2em;"
      aria-hidden="true"></i></span>
</div>
<div class="example-container" style="margin: 0 11px;" *ngIf="showData">

  <div style="max-height: 35rem; overflow: auto;">
    <table mat-table [dataSource]="dataSource" class="table-striped" matSort id="tableId1">
      <ng-container matColumnDef="sn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </th>
        <td mat-cell *matCellDef="let element; let i = index;">
          {{(paginator.pageIndex) * paginator.pageSize + (1 + i)}} </td>
      </ng-container>

      <ng-container matColumnDef="employeeCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Code</th>
        <td mat-cell *matCellDef="let element"> {{element?.employeeCode !== '' ? element?.employeeCode : "---"}}
        </td>
      </ng-container>

      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
        <td mat-cell *matCellDef="let element"> {{element?.userName !== '' ? element?.userName : "---"}}
        </td>
      </ng-container>
      <ng-container matColumnDef="hq">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Headquarter </th>
        <td mat-cell *matCellDef="let element"> {{element?.district !== '' ? element?.district : "---"}}
        </td>
      </ng-container>
      <ng-container matColumnDef="statusDated">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status Dated</th>
        <td mat-cell *matCellDef="let element"> {{element?.statusDate !== '' ? element?.statusDate : "---"}}
        </td>
      </ng-container>
      <ng-container matColumnDef="designation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation</th>
        <td mat-cell *matCellDef="let element"> {{element?.designation !== '' ? element?.designation : "---"}}
        </td>
      </ng-container>
      <ng-container matColumnDef="dateOfJoining">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Of Joining</th>
        <td mat-cell *matCellDef="let element"> {{element?.dateOfJoining !== '' ? element?.dateOfJoining : "---"}}
        </td>
      </ng-container>




      <ng-container matColumnDef="TC">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>TC</th>
        <td mat-cell *matCellDef="let element"> {{element?.totalCallsLastDate !== '' ? (element?.totalCallsLastDate):
          0}}
        </td>
      </ng-container>

      <ng-container matColumnDef="PC">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PC </th>
        <td mat-cell *matCellDef="let element">
          {{element?.productiveCallsLastDate !== '' ? element?.productiveCallsLastDate : 0}} </td>
      </ng-container>

      <ng-container matColumnDef="AreaName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Visiting Area</th>
        <td mat-cell *matCellDef="let element">
          <ul style="list-style-type: none;">
            <li *ngFor="let Area of element.Area">
              {{Area ? Area : '---'}}
            </li>
          </ul>
        </td>
      </ng-container>




      <ng-container matColumnDef="TotalWorkingCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Working Days </th>
        <td mat-cell *matCellDef="let element">
          {{element?.TotalWorkingCount.length !== '' ? element?.TotalWorkingCount.length : 0}} </td>
      </ng-container>

      <ng-container matColumnDef="POB">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> POB </th>
        <td mat-cell *matCellDef="let element"> {{element.totalLastDatePOB ? element?.totalLastDatePOB : 0}} </td>
      </ng-container>
      <ng-container matColumnDef="stockistForwarded">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Stockist Forwarded </th>
        <td mat-cell *matCellDef="let element">
          <ul style="list-style: none;" *ngFor="let data of element.stockistName">
            <li>{{data.providerName}}-{{data.pob}}</li>
          </ul>
        </td>
      </ng-container>
      <ng-container matColumnDef="SOB">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> SOB</th>
        <td mat-cell *matCellDef="let element"> {{element.totalLastDateSOB ? element?.totalLastDateSOB : 0}} </td>
      </ng-container>


      <ng-container matColumnDef="totalTC">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Progressive Calls </th>
        <td mat-cell *matCellDef="let element"> {{element.totalCalls ? element?.totalCalls : 0}} </td>
      </ng-container>
      <ng-container matColumnDef="totalPC">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Progressive Productive Calls </th>
        <td mat-cell *matCellDef="let element"> {{element.productiveCalls ? element?.productiveCalls : 0}} </td>
      </ng-container>
      <ng-container matColumnDef="totalPOB">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total POB </th>
        <td mat-cell *matCellDef="let element"> {{element.totalPOB ? element?.totalPOB : 0}} </td>
      </ng-container>
      <ng-container matColumnDef="totalSOB">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total SOB </th>
        <td mat-cell *matCellDef="let element"> {{element.totalSOB ? element?.totalSOB : 0}} </td>
      </ng-container>

      <ng-container matColumnDef="stockistDetails">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Stockist Details </th>
        <td mat-cell *matCellDef="let element">
          <ul style="list-style: none;" *ngFor="let data of element.stockistNameWithPOB">
            <li>{{data.providerName}}-{{data.pob}}</li>
          </ul>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div>
    <mat-paginator #paginator [length]="dataSource?.length || 0" [pageSizeOptions]="[5, 10, 20, 50,100]" [pageSize]="50"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</div>