<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Standard Tour Program
            </h3>
        </div>
    </ng-container>

	<ng-container mPortletBody>
		<form [formGroup]="stpForm" class="m-form m-form--label-align-left" (ngSubmit)="createSTP()">
			<fieldset>
				<legend>&nbsp;&nbsp;&nbsp;STP Creation Form</legend>
				<div class="m-portlet__body">
					<div class="row">
						<div class="col-xl-12 ">

                        </div>
                        <div class="col-xl-12 ">
                            <div class="m-form__section m-form__section--first" formArrayName="data">
                                <div class="form-group m-form__group row" *ngFor="let item of data.controls; let pointIndex=index" [formGroupName]="pointIndex">
                                    <div class="col-lg-1">
                                        <br />
                                        <h5>{{pointIndex+1}}. </h5>
                                    </div>
                                    <div class="col-lg-2">
                                        <mat-form-field style="width:100%">
                                            <mat-select formControlName="fromArea" placeholder="Select From">
                                                <mat-option *ngFor="let area of areas" value="{{area.areaId}}">{{area.areaName}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-2">
                                        <mat-form-field style="width:100%">
                                            <mat-select formControlName="toArea" placeholder="Select To">
                                                <mat-option *ngFor=" let area of areas" value="{{area.areaId}}">{{area.areaName}}</mat-option>
                                            </mat-select>
                                            <mat-error>
                                                <span *ngIf="isTouched(pointIndex) && hasError(pointIndex)">STP already exists!!!</span>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-2">
                                        <mat-form-field style="width:100%">
                                            <mat-select formControlName="type" placeholder="Select Type">
                                                <mat-option value="HQ">HQ</mat-option>
                                                <mat-option value="EX">Ex</mat-option>
                                                <mat-option value="OUT">Out</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-2">
                                        <mat-form-field style="width:100%">
                                            <input type="number" matInput formControlName="distance" placeholder="Enter Distance in KM">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-2">
                                        <mat-form-field style="width:100%">
                                            <input type="number" matInput formControlName="freqVisit" placeholder="Enter Freq. Visit">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-1">
                                        <button *ngIf="data.length>1" mat-mini-fab color="warn" (click)="deleteSTP(pointIndex)">
											<mat-icon>delete</mat-icon>
										</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="button" color="accent" mat-mini-fab (click)="addMoreSTP()">
											<mat-icon>add icon</mat-icon>
										</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="row">
                <div class="col-xl-12 ">
                    <div class="m-form__section m-form__section--first">
                        <button mat-raised-button color="primary" [disabled]="!stpForm.valid">
							Create STP
						</button>
                    </div>
                </div>
            </div>
        </form>
    </ng-container>
</m-portlet>

<ng-container>
    <mat-card>
        <div class="table-container mat-elevation-z8">

            <table #table mat-table [dataSource]="dataSource2" matSort> 

                <ng-container matColumnDef="sn">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>SN.</th>
                    <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                </ng-container>

                <ng-container matColumnDef="fromArea">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;From {{currentUser.company.lables.areaLabel}}
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.fromArea.areaName}} </td>
                </ng-container>

                <ng-container matColumnDef="toArea">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;To {{currentUser.company.lables.areaLabel}}
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.toArea.areaName}} </td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.type | uppercase}} </td>
                </ng-container>

                <ng-container matColumnDef="distance">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Distance </th>
                    <td mat-cell *matCellDef="let element"> {{element.distance}} </td>
                </ng-container>
                <ng-container matColumnDef="freqVisit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Freq Visit </th>
                    <td mat-cell *matCellDef="let element"> {{element.freqVisit}} </td>
                </ng-container>

                <ng-container matColumnDef="appByMgr">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Manager Approved? </th>
                    <td mat-cell *matCellDef="let element"> {{element.appByMgr === '' ? 'No' : 'Yes'}} </td>
                </ng-container>
                <ng-container matColumnDef="appByAdm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Admin Approved? </th>
                    <td mat-cell *matCellDef="let element"> {{element.appByAdm === '' ? 'No' : 'Yes'}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;&nbsp;&nbsp;Action </th>
                    <td mat-cell *matCellDef="let element" >
                        <button mat-icon-button color="accent"  [disabled]="element.appByAdm !== ''" (click)="openDialog(element)">
							<mat-icon>launch</mat-icon>
						</button>
                        <!-- <button mat-icon-button color="warn">
							<mat-icon>delete</mat-icon>
						</button> -->
                    </td>
                </ng-container>

                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef>
                        Loading data...
                    </mat-footer-cell>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource2!=null}"></mat-footer-row>
            </table>
            <mat-paginator [pageSizeOptions]=[5,20,50,100] [pageSize]="20" showFirstLastButtons></mat-paginator>
            <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
                <mat-progress-spinner color="primary" mode="indeterminate">
                </mat-progress-spinner>
            </mat-card>
        </div>
    </mat-card>
</ng-container>