<mat-form-field class="mat-form-field-fluid">
    <mat-select [(ngModel)]="selected" placeholder="Select Division" [required]="required" (selectionChange)='changedValue($event.value)' multiple={{check}}>
        <mat-option *ngFor="let division of divisionData" [value]="division.divisionId">
            {{division.divisionName}}
        </mat-option>
    </mat-select>
    <mat-error>Division is required!!!</mat-error>

</mat-form-field>