<mat-form-field style="width: 100%;">
  <mat-select [(ngModel)]="selecteddata" placeholder="Select Product" required (selectionChange)='changedValue($event.value)' multiple={{check}}>
    <mat-option *ngFor="let product of productData" [value]="product"  >
      {{product.productName}}
    </mat-option>
  </mat-select>
</mat-form-field>
