<m-portlet [options]="{enableSticky: true}">
  <div mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        TP Lock Open Report
      </h3>
    </div>
  </div>
  <div mPortletHeadTools>
    <div>
      <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
  </div>
  <div mPortletBody [hidden]="!isToggled">
    <form [formGroup]='tpLockOpenForm' class="m-form m-form--label-align-left- m-form--state-"
      (ngSubmit)="viewRecords()">
      <div class="m-portlet__body">
        <div class="row col-lg-12" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'">
          <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
        </div>
        <div class="row">
          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">
                <div class="col-lg-3 m-form__group-sub">
                  <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                </div>
                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                  <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent>
                  </m-division>
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="showState">
                  <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                  </m-state>
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="showDistrict">
                  <m-district [check]=true (valueChange)="getDistrictValue($event)" #callDistrictComponent></m-district>
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                  <m-designation (valueChange)="getDesignation($event)" #callMonthComponent [check]=true>
                  </m-designation>
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                  <m-employee [check]=true (valueChange)="getEmployeeValue($event)" #callEmployeeComponent></m-employee>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <m-status (valueChange)="getStatusValue($event)" [check]="false" #setStatus>
                  </m-status>
                </div>
                <!-- <div class="col-lg-3 m-form__group-sub">
                            <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                        </div>
                        <div class="col-lg-3 m-form__group-sub">
                            <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                        </div> -->
                <div class="col-lg-3 m-form__group-sub">
                  <button mat-raised-button color="accent" [disabled]="!tpLockOpenForm.valid"><span><i
                        class="la la-check"></i></span> View
                    Report</button> </div>
              </div>
            </div>
          </div>
        </div>.
      </div>
      <div class="m-portlet__foot m-portlet__foot--fit">
      </div>
    </form>

  </div>

</m-portlet>


<div *ngIf="showLockOpenReport">
  <m-portlet [options]="{enableSticky: true}">
    <div mPortletHeadTitle>
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          TP Lock Open Report
        </h3>
      </div>
    </div>
    <ng-container mPortletBody>
      <table #dataTable class="display" style="width:100%">

      </table>
    </ng-container>
  </m-portlet>
</div>

<div class="col-xl-12 showProcessing" *ngIf="showProcessing" align="center">
  <mat-spinner strokeWidth="3" [diameter]="60"></mat-spinner>
</div>