<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Product List
            </h3>
        </div> 
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='productForm' class="m-form m-form--label-align-left- m-form--state"
            (ngSubmit)="getProducts()">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                                    <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent>
                                    </m-division>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                                    </m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent" [disabled]="!productForm.valid"><span><i
                                                class="la la-check"></i></span>Get
                                        Products
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>

    </div>
</m-portlet>


<ng-container mPortletBody *ngIf="showProductDetails">
    <div class="m-portlet">
        <div class="m-portlet__body m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-12">
                    <div class="m-widget14">
                        <ng-container mPortletHeadTitle>
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Product Details
                                </h3>
                            </div>
                        </ng-container>
                        <hr /><br />
                        <ng-container>
                            <div class="row">
                                <div class="col">
                                    <span matTooltip="Export Product List" matTooltipPosition="above"
                                        aria-label="Displays a tooltip" style="float: right;" class="ml-1"
                                        (click)="exportToExcel()"><i class="fa fa-file-excel"
                                            style="cursor:pointer; color: green;font-size: 2em;"
                                            aria-hidden="true"></i></span>
                                    <mat-form-field>
                                        <mat-label>Filter</mat-label>
                                        <input matInput (keyup)="applyFilter($event.target.value)"
                                            placeholder="Search Products">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="mat-elevation-z8" style="height: 32rem; overflow:auto;" #TABLE>
                                <table mat-table [dataSource]="dataSource"  id="tableId2">
                                    <ng-container matColumnDef="edit">
                                        <th mat-header-cell *matHeaderCellDef> Edit </th>
                                        <td mat-cell *matCellDef="let element">
                                            <button mat-icon-button color="primary" (click)="editProducts(element)">
                                                <mat-icon>create</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="delete">
                                        <th mat-header-cell *matHeaderCellDef> Delete </th>
                                        <td mat-cell *matCellDef="let element">

                                            <button mat-icon-button color="warn" (click)="deleteProducts(element)">
                                                <mat-icon>delete_outline</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="prdsn">
                                        <th mat-header-cell *matHeaderCellDef>S.No.</th>
                                        <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Division">
                                        <th mat-header-cell *matHeaderCellDef>Division</th>
                                        <td mat-cell *matCellDef="let element"> {{element.divisionName}} </td>
                                    </ng-container>
                                 
                                    <ng-container matColumnDef="state">
                                        <th mat-header-cell *matHeaderCellDef>State</th>
                                        <td mat-cell *matCellDef="let element"> {{element.stateName}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="productName">
                                        <th mat-header-cell *matHeaderCellDef> Product Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.productName}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="code">
                                        <th mat-header-cell *matHeaderCellDef> Product Code </th>
                                        <td mat-cell *matCellDef="let element"> {{element.productCode}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="type">
                                        <th mat-header-cell *matHeaderCellDef> Product Type </th>
                                        <td mat-cell *matCellDef="let element"> {{element.productType}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="shortName">
                                        <th mat-header-cell *matHeaderCellDef> Product Short Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.productShortName}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="packageSize">
                                        <th mat-header-cell *matHeaderCellDef> Product Package Size </th>
                                        <td mat-cell *matCellDef="let element"> {{element.productPackageSize}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="samplePackageSize">
                                        <th mat-header-cell *matHeaderCellDef> Sample Package Size </th>
                                        <td mat-cell *matCellDef="let element"> {{element.samplePackageSize}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="ptr">
                                        <th mat-header-cell *matHeaderCellDef> PTR </th>
                                        <td mat-cell *matCellDef="let element"> {{element.ptr}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="ptw">
                                        <th mat-header-cell *matHeaderCellDef> PTW </th>
                                        <td mat-cell *matCellDef="let element"> {{element.ptw}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="mrp">
                                        <th mat-header-cell *matHeaderCellDef> MRP</th>
                                        <td mat-cell *matCellDef="let element">{{element.mrp}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="sampleRate">
                                        <th mat-header-cell *matHeaderCellDef> Sample Rate</th>
                                        <td mat-cell *matCellDef="let element"> {{element.sampleRate}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="includeRate">
                                        <th mat-header-cell *matHeaderCellDef>Include Rate</th>
                                        <td mat-cell *matCellDef="let element">{{element.includeVat}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                    <tr mat-row [ngClass]="{'highlight': index%2 == 1}"
                                        *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>

                        </ng-container>

                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<div class="col-xl-12" *ngIf="showProcessing" align="center">
    <img src="assets/app/media/img/processing/loading.gif">
</div>