<h1 mat-dialog-title style="margin: 0px">{{header}}</h1>
<hr style="margin-top: 0px">
<!-- <pre>{{blockForm.value|json}}</pre> -->
<form [formGroup]="blockForm">
    <div mat-dialog-content>
        <div class="row">
            <div class="col-md-8" *ngIf="data.callingFor=='Block'">
                <mat-form-field class="w-100">
                    <mat-label>Block Reason </mat-label>
                    <textarea matInput formControlName="blockReason" placeholder="Enter Block Reason"></textarea>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                &nbsp;
                <mat-form-field class="w-100">
                    <mat-label>Date Of Block</mat-label>
                    <input matInput [matDatepicker]="pickerDOB" readonly (click)="pickerDOB.open()" placeholder="Date of Block" formControlName="blockDate">
                    <mat-datepicker-toggle matSuffix [for]="pickerDOB"></mat-datepicker-toggle>
                    <mat-datepicker #pickerDOB></mat-datepicker>
                </mat-form-field>
            </div>
            <!-- <div class="col-md-4">
                &nbsp;
                <mat-form-field class="w-100">
                    <mat-label>Date Of Release</mat-label>
                    <input matInput [matDatepicker]="pickerDOR" readonly (click)="pickerDOR.open()" placeholder="Date of Release" formControlName="releaseDate">
                    <mat-datepicker-toggle matSuffix [for]="pickerDOR"></mat-datepicker-toggle>
                    <mat-datepicker #pickerDOR></mat-datepicker>
                </mat-form-field>
            </div> -->
        </div>
    </div>

    <div mat-dialog-content *ngIf="data.designationLevel>1">
        <div class="row">
            <div class="col-md-12">
                <mat-card style="overflow-x: auto">
                    <table width="100%" cellpadding="4" border="1">
                        <thead style="font-weight: bold;background-color: #16a184;color: white;">
                            <td>State</td>
                            <td> {{currentUser.company.lables.hqLabel}}</td>
                            <td>Field Force Name</td>
                            <td>Designation</td>
                            <td>Reporting To</td>
                        </thead>
                        <tbody>
                            <ng-container formArrayName="teamData" *ngFor="let team of blockForm.get('teamData').controls; let i=index">
                                <ng-container [formGroupName]='i'>
                                    <tr>
                                        <td>{{team.value.stateName}}</td>
                                        <td>{{team.value.districtName}}</td>
                                        <td>{{team.value.name}}</td>
                                        <td>{{team.value.designation}}</td>
                                        <td>
                                            <mat-form-field class="mat-form-field-fluid" class="w-100">
                                                <mat-select placeholder="Reporting To" formControlName="newManagerId">
                                                    <mat-option>None</mat-option>
                                                    <mat-option *ngFor="let mgr of onlyManager" value="{{mgr.userId}}" selected="mgr == 'Marking'">{{mgr.name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </mat-card>
            </div>
        </div>
    </div>

    <div mat-dialog-actions>
        <button mat-raised-button class="mr-2" (click)="onNoClick()">Close</button>
        <button mat-raised-button color="primary" (click)="submitForm()" cdkFocusInitial [disabled]="!blockForm.valid">{{buttonLabel}}</button>
    </div>
</form>