<div *ngIf="showCountWiseDetails">
  <m-portlet [options]="{enableSticky: true}">
    <div mPortletHeadTitle>
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Sponsorship Approval User Wise
        </h3>
      </div>
    </div>
    <ng-container mPortletBody>
      <table #dataTable class="display" style="width:100%">

      </table>
    </ng-container>
  </m-portlet>
</div>

<div *ngIf="showSponsorshipDetails">
  <m-portlet>
    <ng-container mPortletHeadTitle>
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          {{providerInfo?.name}}
        </h3>
      </div>
    </ng-container>
    <ng-container mPortletHeadTools>

      <h3 class="mPortletHeadTools">
        District: {{providerInfo?.district}}
      </h3>

    </ng-container>
    <ng-container mPortletBody>
      <mat-form-field>
        <mat-label>Search Client</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search..." #input>
      </mat-form-field>
      <div class="example-container mat-elevation-z8">
        <form [formGroup]="sponsorshipForm">
          <div style="overflow:auto; max-height: 27rem;">
            <table mat-table [dataSource]="dataSource" formArrayName="sponsorshipArray" class="table-striped" matSort
              #sort="matSort">

              <!-- <div matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox class="check-boxes" (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>&nbsp;&nbsp;
                </th>
                <td mat-cell *matCellDef="let row;let i=index" [formGroupName]="i">
                  <mat-checkbox class="check-boxes" formControlName="checked" (click)="$event.stopPropagation()"
                    (change)="getSelectionValue($event,i,row)" [checked]="selection.isSelected(row)">
                  </mat-checkbox>&nbsp;&nbsp;
                </td>
              </div> -->

              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row; let i=index" [formGroupName]="row.index">
                  <mat-checkbox formControlName="checked" (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="sn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{element.index+1}} </td>
              </ng-container>

              <ng-container matColumnDef="providerName" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="z-index"> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.providerInfo ? element.providerInfo.providerName : '---'}}
                </td>
              </ng-container>
              <ng-container matColumnDef="appAndDisAppByMgr">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Approved By Manager </th>
                <td mat-cell *matCellDef="let element">
                  {{element.managerInfo ? element.managerInfo.name : '---'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="dateOfProposal">
                <th mat-header-cell *matHeaderCellDef> Date Of Proposal </th>
                <td mat-cell *matCellDef="let element"> {{element?.dateOfProposal | date }} </td>
              </ng-container>
              <ng-container matColumnDef="dateOfActivity">
                <th mat-header-cell *matHeaderCellDef> Date Of Activity </th>
                <td mat-cell *matCellDef="let element"> {{element?.dateOfActivity | date }} </td>
              </ng-container>
              <ng-container matColumnDef="appAndDisAppMgrDate">
                <th mat-header-cell *matHeaderCellDef> Date Of Approval </th>
                <td mat-cell *matCellDef="let element">
                  {{(element?.appAndDisAppMgrDate) ? (element.appAndDisAppMgrDate  | date) : '---'}} </td>
              </ng-container>
              <ng-container matColumnDef="kindOfCRM"  *ngIf="! this.currentUser.company.validation.hasOwnProperty('CRMModuleProposalWise')">
                <th mat-header-cell *matHeaderCellDef> Kind Of CRM </th>
                <td mat-cell *matCellDef="let element;" [formGroupName]="element.index">
                  <mat-form-field [floatLabel]="'never'">
                    <mat-select formControlName="kindOfCRM" placeholder="Kind Of CRM">
                      <mat-option *ngFor="let crm of kindOfCRM" [value]=crm.value>
                        {{crm.viewValue}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="modeOfPayment"  *ngIf="! this.currentUser.company.validation.hasOwnProperty('CRMModuleProposalWise')">
                <th mat-header-cell *matHeaderCellDef> Mode Of Payment </th>
                <td mat-cell *matCellDef="let element;" [formGroupName]="element.index">
                  <mat-form-field [floatLabel]="'never'">
                    <mat-select formControlName="modeOfPayment" placeholder="Mode Of Payment">
                      <mat-option *ngFor="let mode of modeOfPayment" [value]=mode.value>
                        {{mode.viewValue}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                <td mat-cell *matCellDef="let element">
                  {{element.providerInfo ? element.providerInfo.category : '---'}} </td>
              </ng-container>
              <ng-container matColumnDef="specialization">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Specialization </th>
                <td mat-cell *matCellDef="let element">
                  {{element.providerInfo ? element.providerInfo.specialization : '---'}} </td>
              </ng-container>
              <ng-container matColumnDef="qualification">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Qualification </th>
                <td mat-cell *matCellDef="let element">
                  {{element.providerInfo ? element.providerInfo.degree : '---'}} </td>
              </ng-container>
              <ng-container matColumnDef="degree">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Degree </th>
                <td mat-cell *matCellDef="let element"> {{element.providerInfo ? element.providerInfo.degree : '---'}} </td>
              </ng-container>
              <ng-container matColumnDef="codeOfActivity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Activity Code </th>
                <td mat-cell *matCellDef="let element"> {{element.codeOfActivity }}
                </td>
              </ng-container>
              <ng-container matColumnDef="typeOfActivity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Activity Type </th>
                <td mat-cell *matCellDef="let element"> {{element.activity }}
                </td>
              </ng-container>

              <ng-container matColumnDef="enteredActivity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Entered Activity </th>
                <td mat-cell *matCellDef="let element"> {{element.enterActivity}}
                </td>
              </ng-container>

              <ng-container matColumnDef="investmentType"  *ngIf="! this.currentUser.company.validation.hasOwnProperty('CRMModuleProposalWise')">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Investment Type </th>
                <td mat-cell *matCellDef="let element"> {{element.investmentType | uppercase }}
                </td>
              </ng-container>
              <ng-container matColumnDef="expenseAmount" *ngIf="rl == 0">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Expense </th>
                <td mat-cell *matCellDef="let element">
                  {{element?.expense}}
                </td>
              </ng-container>
              <ng-container matColumnDef="noOfDoctorsInTheActivity" *ngIf="rl == 0">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No of Doctors </th>
                <td mat-cell *matCellDef="let element">
                  {{element?.noOfDoctors}}
                </td>
              </ng-container>
              <ng-container matColumnDef="investmentAmount" *ngIf="rl == 2 &&  !this.currentUser.company.validation.hasOwnProperty('CRMModuleProposalWise')">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Investment Amount </th>
                <td mat-cell *matCellDef="let element">
                  {{element?.investmentAmount}} 
                </td>
              </ng-container>

              <ng-container matColumnDef="investmentAmount" *ngIf="rl == 0 &&  !this.currentUser.company.validation.hasOwnProperty('CRMModuleProposalWise')">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Investment Amount </th>
                <td mat-cell *matCellDef="let element" [formGroupName]="element.index">
                  <mat-form-field>
                    <input matInput formControlName="investmentAmount">
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="expectedBusiness">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Expected Business </th>
                <td mat-cell *matCellDef="let element"> {{element.expectedBusiness ? element?.expectedBusiness : '---'}}
                </td>
              </ng-container>
              <ng-container matColumnDef="lastYearInvestment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Year Business </th>
                <td mat-cell *matCellDef="let element">
                  {{element.lastYearInvestment ? element?.lastYearInvestment : '---'}} </td>
              </ng-container>
              <ng-container matColumnDef="month">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Month </th>
                <td mat-cell *matCellDef="let element"> {{getMonthName(element.month) | uppercase}} </td>
              </ng-container>
              <ng-container matColumnDef="year">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
                <td mat-cell *matCellDef="let element"> {{element.year ? element?.year : '---'}} </td>
              </ng-container>
              <ng-container matColumnDef="investmentMonth">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Investment Month </th>
                <td mat-cell *matCellDef="let element"> {{getMonthName(element.investmentMonth) | uppercase}}
                </td>
              </ng-container>
              <ng-container matColumnDef="monthOfNextInvestment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Month Of Next Investment </th>
                <td mat-cell *matCellDef="let element">
                  {{getMonthName(element.monthOfNextInvestment) | uppercase}} </td>
              </ng-container>
              <ng-container matColumnDef="paidTo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Paid To </th>
                <td mat-cell *matCellDef="let element" [formGroupName]="element.index">
                  <mat-form-field [floatLabel]="'never'">
                    <input matInput formControlName="paidTo" placeholder="Paid To">
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="billNum">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Bill No. </th>
                <td mat-cell *matCellDef="let element" [formGroupName]="element.index">
                  <mat-form-field [floatLabel]="'never'">
                    <input matInput formControlName="billNum" placeholder="Bill Number">
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="approvalStatusByMgr">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Approved By Mgr </th>
                <td mat-cell *matCellDef="let element"
                  [ngClass]="(element.approvalStatusByMgr == 'approved') ? 'approved' : 'pending'">
                  {{element.approvalStatusByMgr | uppercase}} </td>
              </ng-container>
              <ng-container matColumnDef="approvalStatusByAdmin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Approved By Admin </th>
                <td mat-cell *matCellDef="let element"
                  [ngClass]="(element.approvalStatusByAdmin == 'approved') ? 'approved' : 'pending'">
                  {{element.approvalStatusByAdmin | uppercase}} </td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status + '' | uppercase}} </td>
              </ng-container>
              <ng-container matColumnDef="remarks">
                <th mat-header-cell *matHeaderCellDef> Remarks </th>
                <td mat-cell *matCellDef="let element" [formGroupName]="element.index">
                  <mat-form-field [floatLabel]="'never'">
                    <input matInput placeholder="Remarks" formControlName="remarks">
                  </mat-form-field>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div>
            <mat-paginator #paginator [length]="dataSource?.data?.length || 0" [pageSizeOptions]="[5, 10, 20, 50]"
              [pageSize]="5" showFirstLastButtons>
            </mat-paginator>
            <div class="row buttons_position">
              <div class="col-lg-6 d-flex">
                <button mat-raised-button color="primary" class="mr-3" [disabled]=""
                  (click)="approveSponsorshipRequest()">Approve</button>
                <button mat-raised-button color="warn" [disabled]="" (click)="denySponsorshipRequest()">Deny</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </ng-container>
  </m-portlet>
</div>

<div class="col-xl-12" *ngIf="showProcessing" align="center">
  <mat-spinner strokeWidth="4" [diameter]="60"></mat-spinner>
</div>