.mPortletHeadTools {
	display: flex;
	align-items: center;
	font-size: 1.3rem;
	font-weight: 500;
	font-family: Roboto;
	margin: 0;
	padding: 0;
	color: #575962;
}
table {
	width: 100%;
}

::ng-deep .mat-header-row,
th {
	background: #16a184 !important;
	.mat-header-cell {
		color: #f9f8f8 !important;
		font-size: larger !important;
		letter-spacing: 0.8px !important;
		font-weight: 500 !important;
		text-align: center !important;
		border: 2px solid #f9f8f8 !important;
	}
}

td.mat-cell {
	font-size: 15px !important;
	font-weight: 400 !important;
	letter-spacing: 0.5px !important;
	text-align: center !important;
	// border: 1px solid #16a083b3  !important;
}
.buttons_position {
	margin: -3.5em 0em 1em 0em;
}

.mat-form-field {
	font-size: 14px;
	width: 100%;
    // position: relative;
	// top: 1rem;
}

::ng-deep table.dataTable tbody td {
	font-size: 15px !important;
	font-weight: 400 !important;
	letter-spacing: 0.5px !important;
	color: black;
}
::ng-deep table.dataTable thead th {
	color: #f9f8f8 !important;
	font-size: larger !important;
	letter-spacing: 0.2px !important;
	font-weight: 500 !important;
	text-align: center !important;
	border: 1px solid #f9f8f8 !important;
}
::ng-deep .mat-sort-header-arrow {
	color: #e1efec !important;
	opacity: 0.8 !important;
}
::ng-deep .mat-sort-header-container {
	display: inline-flex !important;
}
.approved {
	color: #16a184;
}
.pending {
	color: #f4516c;
}
::ng-deep .z-index {
	z-index: 301 !important;
}
@media (max-width: 768px) {
	.buttons_position {
		margin: 0em 0em 0em 0em;
		padding: 1rem 0;
	}
	button {
		width: 50%;
	}
}
