<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                STP Approval
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>

    <div mPortletBody [hidden]="!isShowDivision || !isToggled">
        <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="stpDivForm" (ngSubmit)="showReport()">
            <!--begin: Form Body -->
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                                    <m-division (valueChange)="getDivisionValue($event)" [check]=true #callDivisionComponent>
                                    </m-division>
                                </div>
                                
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent" [disabled]="!stpDivForm.valid"><span><i class="la la-check"></i></span>View Status</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <div mPortletBody [hidden]="!isShowStatwise || !isToggled">
        <h4>{{message}}</h4>
        <div class="mat-elevation-z8">
            <mat-table [dataSource]="dataSource" matSort #sort="matSort" matSortActive="ID" matSortDirection="asc">
                <ng-container matColumnDef="sn">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>S.No.</mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </mat-cell>

                </ng-container>
                <div matColumnDef="divisionName" [hidden]="!isDivisionExist">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Division </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.divisionName}} </mat-cell>
                </div>
                <ng-container matColumnDef="stateName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>State </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <a href="javascript:void(0);" style="color: #3f51b5; cursor:pointer;font-weight: 600;"
                            (click)="getUserWiseSTPApprovalReq(element)">{{element.stateName}}</a>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="districtName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>District </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.districtName}} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="userRequest">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> # of Users STP approval Request
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.request}} </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row [ngClass]="{'highlight': index%2 == 1}"
                    *matRowDef="let row; columns: displayedColumns;let index = index"></mat-row>
                <!-- <ng-container matColumnDef="loading">
                        <mat-footer-cell *matFooterCellDef>
                            Loading data...
                        </mat-footer-cell>
                    </ng-container> -->
                <!-- <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}">
                    </mat-footer-row> -->

            </mat-table>
            <mat-paginator #paginator [length]="dataSource?.data?.length || 0" [pageSizeOptions]="[5, 20, 50, 100]"
                [pageSize]="20" showFirstLastButtons></mat-paginator>
            <!-- <mat-card  style="display: flex; justify-content: center; align-items: center">
                    <mat-progress-spinner color="primary" mode="indeterminate">
                    </mat-progress-spinner>
                </mat-card> -->

        </div>

    </div>
</m-portlet>

<div mPortletBody [hidden]="!isShowUserwise" class="paddingDiv" #table2>

    <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource1" matSort #sort1="matSort">

            <ng-container matColumnDef="sn">
                <mat-header-cell *matHeaderCellDef mat-sort-header>S.No.</mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </mat-cell>

            </ng-container>

            <div matColumnDef="divisionName" [hidden]="!isDivisionExist">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Division </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.divisionName}} </mat-cell>
            </div>

            <ng-container matColumnDef="stateName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>State </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.stateName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="districtName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>District </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.districtName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> <a href="javascript:void(0);"
                        style="color: #3f51b5; cursor:pointer;font-weight: 600;"
                        (click)="getSTPApprovalReq(element)">{{element.name}}</a>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="designation">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Designation </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.designation}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="userRequest">
                <mat-header-cell *matHeaderCellDef mat-sort-header> # of STP approval Request
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.request}} </mat-cell>
            </ng-container>

            <!-- <ng-container matColumnDef="loading">
                        <mat-footer-cell *matFooterCellDef>
                            Loading data...
                        </mat-footer-cell>
                    </ng-container> -->
            <mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></mat-header-row>
            <mat-row [ngClass]="{'highlight': index%2 == 1}"
                *matRowDef="let row; columns: displayedColumns1;let index = index"></mat-row>

            <!-- <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource1!=null}">
                    </mat-footer-row> -->
        </mat-table>
        <mat-paginator #paginator1 [length]="dataSource1?.data?.length || 0" [pageSizeOptions]="[5,20,50,100]"
            [pageSize]="20" showFirstLastButtons></mat-paginator>
        <!-- <mat-card  style="display: flex; justify-content: center; align-items: center">
                    <mat-progress-spinner color="primary" mode="indeterminate">
                    </mat-progress-spinner>
                </mat-card> -->

    </div>

</div>
<div mPortletBody class="mt-4 paddingDiv" [hidden]="!isShowfilter" #table3>
    <div class="mat-elevation-z8" style="padding: 1.2em 0;">
        <mat-form-field class="col-sm-3">
            <mat-select #select [(ngModel)]="stpType_" placeholder="Select Type" (selectionChange)='changedValue($event.value)' multiple>
                <mat-option #allStpTypeSelected [value]="0" (click)="toggleAllSelection()" style="background-color: #16a184;
                color: white;">Select All</mat-option>
                <mat-option *ngFor="let type of stpType" [value]="type.value" (click)="selectSingle()">{{type.viewValue}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-sm-3">
            <mat-select [(ngModel)]="frcType_" placeholder="Select FRC Code" (selectionChange)='changedFRCValue($event.value)'>
                <mat-option *ngFor="let type of types" value={{type.id}}>{{type.frcCode}} ({{type.applicableTo}})</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
            style="float: right;" class="col-sm-1" (click)="exportToExcel()"><i class="fa fa-file-excel"
                style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i></span> -->

        <div [hidden]="!isShowSTPRequest">
            <form [formGroup]="stpApproveForm">
                <div>
                    <mat-table [dataSource]="dataSource2" matSort #sort2="matSort" formArrayName="formarray" #tableExport>
                        <div matColumnDef="select">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                                <mat-checkbox class="check-boxes" (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row;let i=index" [formGroupName]="i">
                                <mat-checkbox class="check-boxes" formControlName="id"
                                    (click)="$event.stopPropagation()" (change)="getSelectionValue($event,i,row)"
                                    [checked]="selection.isSelected(row)">
                                </mat-checkbox>
                            </mat-cell>
                        </div>

                        <ng-container matColumnDef="sn">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>S.No.</mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </mat-cell>
                        </ng-container>
                        <!-- ---------------------------------nipun (09-01-2020)start  added user name in stp approval table -->
                        <!-- <ng-container matColumnDef="userName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>User Name
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.userInfo.name}} </mat-cell>
                        </ng-container> -->
                        <!-- ---------------------------------nipun (09-01-2020)end   -->
                        <ng-container matColumnDef="fromArea">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>From
                                {{currentUser.company.lables.areaLabel}}
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{(element?.fromArea?.areaName)? element?.fromArea?.areaName: '--'}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="toArea">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>To
                                {{currentUser.company.lables.areaLabel}}
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{(element?.toArea?.areaName)? element?.toArea?.areaName: '--'}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="stpActivity">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Activity</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{(element && element.stpActivity)? (element.stpActivity): '--'}}
                            </mat-cell>
                        </ng-container>

                        <div matColumnDef="type">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Type </mat-header-cell>
                            <!-- <td mat-cell *matCellDef="let element"> {{element.type | uppercase}} </td> -->
                            <mat-cell *matCellDef="let element; let i=index" [formGroupName]="i">
                                <mat-form-field style="width: 97%">
                                    <mat-select formControlName="type">
                                        <mat-option value="HQ">HQ</mat-option>
                                        <mat-option value="OUT">OUT</mat-option>
                                        <mat-option value="EX">EX</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-cell>
                        </div>

                        <div matColumnDef="distance">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Distance </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i=index" [formGroupName]="i">
                                <!-- <mat-form-field floatLabel="never" style="margin-top: 2%;margin-right: 2%;margin-left: 2%;"> -->
                                <mat-form-field floatLabel="never" style="width: 97%">
                                    <input type="number" formControlName="distance" matInput
                                        placeholder="Enter Distance in KM">
                                </mat-form-field>
                                <!-- <input type="number" matInput formControlName="distance" placeholder="Enter Distance in KM"> -->
                            </mat-cell>
                        </div>
                        <ng-container matColumnDef="freqVisit">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Freq Visit
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.freqVisit}} </mat-cell>
                        </ng-container>




                        <!-- <div *ngIf="currentUser.userInfo[0].designationLevel===0" matColumnDef="frcCode">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> FRC Code </mat-header-cell>

                            <mat-cell *matCellDef="let element; let i=index" [formGroupName]="i">
                                <mat-form-field floatLabel="never" style="width: 97%">
                                    <mat-select placeholder="Select FRC Code" formControlName="frcId">
                                        <mat-option *ngFor="let type of types" value={{type.id}}>{{type.frcCode}} -
                                            {{type.applicableTo.toUpperCase()}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-cell>
                        </div> -->






                        <ng-container matColumnDef="appByMgr">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Approved By Mgr
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.appByMgr.length>0?"Yes":"No"}} </mat-cell>
                        </ng-container>


                        <!-- <ng-container matColumnDef="loading">
                            <mat-footer-cell *matFooterCellDef>
                                Loading data...
                            </mat-footer-cell>
                        </ng-container> -->
                        <mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></mat-header-row>
                        <mat-row [ngClass]="{'highlight': index%2 == 1}"
                            *matRowDef="let row; columns: displayedColumns2;let index = index"></mat-row>

                        <!-- <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource2!=null}">
                        </mat-footer-row> -->
                    </mat-table>
                    <mat-paginator #paginator2 [length]="dataSource2?.data?.length || 0"
                        [pageSizeOptions]="[5, 20, 50, 100]" [pageSize]="20" showFirstLastButtons></mat-paginator>
                    <!-- <mat-card  style="display: flex; justify-content: center; align-items: center">
                        <mat-progress-spinner color="primary" mode="indeterminate">
                        </mat-progress-spinner>
                    </mat-card> -->

                </div><br />
                <div class="row buttons_position">
                    <div class="col-lg-6">
                        <button mat-raised-button color="primary" [disabled]="disableApprovalBtn"
                            (click)="approveSTP()">Approve STP</button>
                        <button mat-raised-button color="primary" class="dlt" [disabled]="disableDeleteBtn"
                            (click)="deleteSTP()">Delete STP</button>
                        <!-- <button mat-raised-button color="accent" [disabled]="!stpApproveForm.valid"><span><i class="la la-check"></i></span>Approve
            STP</button> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>