.highlight {
  background: #eee;
}

.mat-cell {
  justify-content: center;
}
.mat-header-cell {
  justify-content: center !important;
}
mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type{
  justify-content: flex-start !important;
}
.mat-column-sn {
  flex: 0 0 7% !important;
}
.mat-column-select {
    flex: 0 0 5% !important;
}
.mat-column-fromArea {
    flex: 0 0 15% !important;
}
.mat-column-toArea {
    flex: 0 0 15% !important;
}
.mat-column-appByMgr {
    flex: 0 0 10% !important;
}


.mat-column-select {
    overflow: initial;
}
.dlt {
  margin: 0px 0px 0px 29px;
}

.buttons {
  display: content !important;
}
.check-boxes {
    position: relative;
    top: 9px;
    right: 10px;
}
.mat-table {
  overflow: auto;
  max-height: 28em;
}

.paddingDiv{
  background: #fff;
  padding: 2em;
}
.buttons_position{
  padding: 0 1.4em;
  margin-top: -4.8em;
}