<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Manager Joint Working Report
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">

        <form [formGroup]='mgrJointForm' class="m-form m-form--label-align-left" (ngSubmit)="generateReport()">

            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-lg-3 m-form__group-sub">
                            <mat-radio-group formControlName="type" style="white-space: pre;" (change)="getDesignationList($event)">
                                    <mat-radio-button value="monthly">Monthly</mat-radio-button>
                                    <mat-radio-button value="trerritoryWise">Territory Wise</mat-radio-button>
                                </mat-radio-group>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">

                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                                    <m-division (valueChange)="getDivisionValue($event)" [check]=true #callDivisionComponent>
                                    </m-division>
                                </div>
                                <!-- <div class="col-lg-3 m-form__group-sub">
                                    <m-designation #callDesignationComponent (valueChange)="getDesignationLevel($event)" [check]="check"></m-designation>
								</div> -->

								<div class="col-lg-3 m-form__group-sub">
                                    <m-designation [check]=false (valueChange)="getDesignation($event)"
                                        #callDesignationComponent></m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-employee [check]=false (valueChange)="getEmployee($event)"
                                        #callEmployeeComponent></m-employee> 
								</div>


                                <div class="col-lg-3 m-form__group-sub">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>Select Team</mat-label>
                                        <mat-select placeholder="Select Employee" (selectionChange)='getHierachyData($event.value)' multiple>
                                            <mat-option *ngFor="let user of hierarchyResult" [value]="user">
                                                {{user.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>Employee name is required!!!</mat-error>
                                    </mat-form-field>
                                </div>
                                

								<!-- <div class="col-lg-3 m-form__group-sub">
                                    <m-status class="checkbox-margin" [check]=false
                                        (valueChange)="getStatusValue($event)"></m-status>
                                </div> -->


								<div class="col-lg-3 m-form__group-sub" >
                                    <m-status [check]=false (valueChange)="getStatusValue($event)" #callStatusComponent></m-status>
                                </div>

                                <div class="col-lg-3 m-form__group-sub" *ngIf="isMonthlyWise">
                                    <m-month   #monthComponent (valueChange)="getMonth($event)"></m-month>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="isMonthlyWise">
                                    <m-year  #yearComponent (valueChange)="getYear($event)"></m-year>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="isTerritoryWise">
                                    <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="isTerritoryWise">
                                    <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">&nbsp; </label>
                                    <button mat-raised-button color="accent" [disabled]="!mgrJointForm.valid"><span><i
                                                class="la la-check"></i></span>Generate
                                        Report</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>

<div class="col-xl-12" *ngIf="showProcessing" align="center">
    <img src="assets/app/media/img/processing/loading.gif">
</div>

<div class="m-portlet" [hidden]="!isShowReport">
    <div class="m-portlet__body m-portlet__body--no-padding">
        <div class="row m-row--no-padding m-row--col-separator-xl">
            <div class="col-xl-12">
                <div class="m-widget14">
                   
                    <table #mgrDataTableOBJ1 class="display" style="width:100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------------------------Rahul Choudhary------------------------------------------>
<br>

<div *ngIf="showReportTrerritoryWise">
    <m-portlet>
        <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Manager Joint Working Report
                </h3>
            </div>
        </ng-container>
        <div mPortletHeadTools>
                <button mat-raised-button color="accent" (click)="this.exporttoExcel();">
                    <span>
                        <i class="la la-download"></i>
                    </span>Download</button>
        </div>
        <div mPortletBody>
            <div style="overflow-x:auto; height: 400px;">
                <table class="table w-100" id="tableId1">
                    <thead>
                        <tr>
                            <th rowspan="2">S.No.</th>
                            <th rowspan="2">MR Name</th>
                            <th rowspan="2">Area Name</th>
                            <th style="text-align: center" *ngFor="let month of dynamicTableHeader">{{month}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of data; let i = index">
                            <td>{{i+1}}</td>
                            <td>
                                {{d.userName}}
                            </td>
                            <td>
                                {{d.areaName}}
                            </td>
                            <td style="text-align: center" *ngFor="let dd of d.data">{{dd}}</td>
                        </tr>
                    </tbody>
                </table>
        
        
            </div>
        </div>
    </m-portlet>
</div>

<div class="col-xl-12" *ngIf="showProcessingVisit" align="center">
    <img src="assets/app/media/img/processing/loading.gif">
</div>

<div class="m-portlet" *ngIf="isShowReportVisit">
    <div class="m-portlet__body m-portlet__body--no-padding">
        <div class="row m-row--no-padding m-row--col-separator-xl">
            <div class="col-xl-12">
                <div class="m-widget14">
                    
                    <table #mgrDataTableOBJ2 class="display" style="width:100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
