<div mPortletBody>
  <div class="m-portlet">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-xl-12">
          <div class="m-widget14">
            <ng-container mPortletHeadTitle>
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text" style="color: #120e63d1;
                              font-size: large;">
                  Employee Leave Details
                </h3>
              </div>
            </ng-container>
            <mat-form-field>
              <mat-label>Search</mat-label>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Employee">
            </mat-form-field>
            <div>
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="sn">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element;index as i"> {{i+1}} </td>
                </ng-container>

                <ng-container matColumnDef="username">
                  <th mat-header-cell *matHeaderCellDef> Employee Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.emploeeName }}</td>
                </ng-container>

                <ng-container matColumnDef="districtName">
                  <th mat-header-cell *matHeaderCellDef> District Name </th>
                  <td mat-cell *matCellDef="let element">  {{element.districtName}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let element">YES</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-12" align="center" *ngIf="showProcessing">
    <img src="assets/app/media/img/processing/loading.gif">
  </div>
</div>