input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
   
}


.tr {
    background-color: #16a184;
    color: white;
    //border: black;
    //border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.input {
  width: 100px;
  background-color: #4CAF50;
  color: white;
  padding: 6px 20px;
  margin: 0px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.example-container {
    height: 400px;
    overflow: auto;
    font-size: 10%;
}

table {
    width: 100%;
}
 /* Zebra striping */
 tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    padding: 10px; 
    text-align: center;
    background: #16a184;
    color: rgb(235, 235, 235); 
  }
  td{ 
    padding: 5px; 
    border: 1px solid #ccc; 
    text-align: center; 
  }

  .mat-header-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
}
.mat-radio-button {
  margin-top: 1rem !important;
}