<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <div mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Target Submission
            </h3>
        </div>
    </div>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='target' class="m-form m-form--label-align-left- m-form--state-"
            (ngSubmit)="viewTargetDetail()">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-2 m-form__group-sub"
                                    *ngIf="this.currentUser.company.target.targetInfo=='Employeewise'||this.currentUser.company.target.targetInfo=='all'">
                                    <mat-radio-button class="form-control-label" [checked]=checkedVarEmp
                                        (change)="reportType('Employeewise')" name="reportTypeName"
                                        value="Employeewise">
                                        * User wise
                                    </mat-radio-button>
                                </div>
                                <div class="col-lg-2 m-form__group-sub"
                                    *ngIf="this.currentUser.company.target.targetInfo=='Headquarterwise'||this.currentUser.company.target.targetInfo=='all'">
                                    <mat-radio-button class="form-control-label" [checked]=checkedVarHq
                                        (change)="reportType('Headquarterwise')" name="reportTypeName">
                                        * {{this.currentUser.company.lables.hqLabel}} wise
                                    </mat-radio-button>
                                </div>
                                <!--<div class="col-lg-6 m-form__group-sub"
                                *ngIf="this.currentUser.company.target.targetInfo=='Headquarterwise'||this.currentUser.company.target.targetInfo=='all' && this.currentUser.company.target.enableForMgr.onlyForHqWise==true">
                                <input type="checkbox" (change)="getManagerFlag($event.target.checked)" /><b>Include Individual MGR
                                </b>
                            </div>-->
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!stateFilter>
                                    <m-state (valueChange)="getStateValue($event)" [check]=false #callStateComponent>
                                    </m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!districtFilter>
                                    <m-district [check]=false (valueChange)="getDistrictValue($event)"
                                        #callDistrictComponent>
                                    </m-district>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!districtFilterForMulti>
                                    <m-district [check]=true (valueChange)="getDistrictValue($event)"
                                        #callDistrictComponentAgainForMulti>
                                    </m-district>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!employeeFilter>
                                    <mat-form-field style="width: 100%;">
                                        <!-- <mat-label>Select Employee</mat-label> -->
                                        <mat-select placeholder="Select Employee" formControlName="userInfo" required
                                            (selectionChange)='setEmployeeDetail($event.value)' multiple=true>
                                            <mat-option *ngFor="let employee of userData" [value]="employee.userId">
                                                {{employee.name}}<b> - ({{employee.designation}})</b>
                                            </mat-option>
                                        </mat-select>
                                        <mat-error> Employee is required!!!</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-2 m-form__group-sub"
                                    *ngIf="this.currentUser.company.target.targetDuration=='Quarterly'||this.currentUser.company.target.targetDuration=='all'">
                                    <mat-radio-button class="form-control-label" [checked]=checkedVarQuarterly
                                        name="yearlyTypeName" (change)="yearlyType('Quarterly')">
                                        * Quarterly
                                    </mat-radio-button>
                                </div>
                                <div class="col-lg-2 m-form__group-sub"
                                    *ngIf="this.currentUser.company.target.targetDuration=='Monthly'||this.currentUser.company.target.targetDuration=='all'">
                                    <mat-radio-button class="form-control-label" [checked]=checkedVarMonthly
                                        name="yearlyTypeName" (change)="yearlyType('Monthly')">
                                        * Monthly
                                    </mat-radio-button>
                                </div>
                                <div class="col-lg-2 m-form__group-sub"
                                    *ngIf="this.currentUser.company.target.targetDuration=='Yearly'||this.currentUser.company.target.targetDuration=='all'">
                                    <mat-radio-button class="form-control-label" [checked]=checkedVarYearly
                                        name="yearlyTypeName" (change)="yearlyType('Yearly')">
                                        * Yearly
                                    </mat-radio-button>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!quarterly>
                                    <mat-form-field>
                                        <mat-select placeholder="Select Quarter" formControlName="quarterType"
                                            (valueChange)="getQuarter($event)">
                                            <mat-option *ngFor="let Quarter of Quarters" [value]="Quarter.value">
                                                {{Quarter.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <!--<div class="col-lg-3 m-form__group-sub" [hidden]=!showMonthFilter>
                  <m-month (valueChange)="getMonth($event)" #callMonthComponent></m-month>
                </div>-->
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!showYearFilter>
                                    <m-year (valueChange)="getYear($event)" #callYearComponent></m-year>
                                </div>

                                <!-- <div class="col-lg-3 m-form__group-sub" [hidden]=!showYearFilter>
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-label>Select Year</mat-label>

                                        <mat-select placeholder="Select Year" 
                                             required (selectionChange)='getYear($event)'>
                                            <mat-option *ngFor="let year of yearList" [value]="year"> {{year}}
                                            </mat-option>
                                        </mat-select>

                                        <mat-error>Year is required!!!</mat-error>
                                    </mat-form-field>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-2 m-form__group-sub"
                                    *ngIf="this.currentUser.company.target.targetType=='amountwise'||this.currentUser.company.target.targetType=='all'">
                                    <mat-radio-button class="form-control-label" [checked]=checkedVarAmount
                                        name="targetSubmitTypeName" (change)="targetSubmitType('amountwise')">
                                        * Amount Wise
                                    </mat-radio-button>
                                </div>
                                <div class="col-lg-2 m-form__group-sub"
                                    *ngIf="this.currentUser.company.target.targetType=='productwise'||this.currentUser.company.target.targetType=='all'">
                                    <mat-radio-button class="form-control-label" [checked]=checkedVarProduct
                                        name="targetSubmitTypeName" (change)="targetSubmitType('productwise')">
                                        * Product Wise
                                    </mat-radio-button>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!groupSelectField>
                                    <mat-form-field>
                                        <mat-select placeholder="Select Group" (valueChange)="getGroupProduct($event)">
                                            <mat-option *ngFor="let Group of Groups" [value]="Group.value">
                                                {{Group.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!groupName>
                                    <mat-form-field>
                                        <mat-select placeholder="Select Group" (valueChange)="getGroup($event)">
                                            <mat-option *ngFor="let GroupNames of GroupName" [value]="GroupNames.name">
                                                {{GroupNames.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent" [disabled]="!target.valid"><span><i
                                                class="la la-check"></i></span>Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>
<br>

<m-portlet [options]="{enableSticky: false}" *ngIf="isShowTargetDetail">
    <ng-container mPortletHeadTitle *ngIf="isShowTargetDetail">
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Target Submission Form
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletBody *ngIf="isShowTargetDetailProductwise">
        <form [formGroup]="target1" (ngSubmit)="submitTargetProductwise()">
            <div style="overflow: auto;">
                <table class="table table-striped tableWidth" formArrayName="resultList">
                    <thead>
                        <tr class="tr">
                            <th>Product</th>
                            <th *ngIf="firstQuarter">Jan</th>
                            <th *ngIf="firstQuarter">Feb</th>
                            <th *ngIf="firstQuarter">March</th>
                            <th *ngIf="secondQuarter">April</th>
                            <th *ngIf="secondQuarter">May</th>
                            <th *ngIf="secondQuarter">June</th>
                            <th *ngIf="thirdQuarter">July</th>
                            <th *ngIf="thirdQuarter">Aug</th>
                            <th *ngIf="thirdQuarter">Sep</th>
                            <th *ngIf="fourthQuarter">Oct</th>
                            <th *ngIf="fourthQuarter">Nov</th>
                            <th *ngIf="fourthQuarter">Dec</th>
                            <th *ngIf="yearlyTarget">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of productListForSingle; let i = index" [formGroupName]=i>
                            <td>
                                <!--<input class="input" type="text" disabled formControlName="productName" [value]="item.productName">-->
                                <b>{{item.productName}}</b>
                            </td>
                            <td *ngIf="firstQuarter">
                                <input type="number" formControlName="Jan" [value]="item.Jan">
                            </td>
                            <td *ngIf="firstQuarter">
                                <input type="number" formControlName="Feb" [value]="item.Feb">
                            </td>
                            <td *ngIf="firstQuarter">
                                <input type="number" formControlName="March" [value]="item.March">
                            </td>
                            <td *ngIf="secondQuarter">
                                <input type="number" formControlName="April" [value]="item.April">
                            </td>
                            <td *ngIf="secondQuarter">
                                <input type="number" formControlName="May" [value]="item.May">
                            </td>
                            <td *ngIf="secondQuarter">
                                <input type="number" formControlName="June" [value]="item.June">
                            </td>
                            <td *ngIf="thirdQuarter">
                                <input type="number" formControlName="July" [value]="item.July">
                            </td>
                            <td *ngIf="thirdQuarter">
                                <input type="number" formControlName="Aug" [value]="item.Aug">
                            </td>
                            <td *ngIf="thirdQuarter">
                                <input type="number" formControlName="Sep" [value]="item.Sep">
                            </td>
                            <td *ngIf="fourthQuarter">
                                <input type="number" formControlName="Oct" [value]="item.Oct">
                            </td>
                            <td *ngIf="fourthQuarter">
                                <input type="number" formControlName="Nov" [value]="item.Nov">
                            </td>
                            <td *ngIf="fourthQuarter">
                                <input type="number" formControlName="Dec" [value]="item.Dec">
                            </td>
                            <td *ngIf="yearlyTarget">
                                <input type="number" formControlName="quantity" [value]="item.quantity">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-3 m-form__group-sub">
                    <label class="form-control-label">&nbsp; </label>
                    <button mat-raised-button color="accent"><span><i class="la la-check"></i></span>Submit</button>
                </div>
            </div>
        </form>
    </ng-container>
    <ng-container mPortletBody *ngIf="isShowTargetDetailAmountwise">
        <form [formGroup]="target2" (ngSubmit)="submitTargetAmountwise()">
            <div style="overflow: auto;">
                <table class="table table-striped tableWidth" formArrayName="resultList1">
                    <thead>
                        <tr>
                            <th *ngIf="firstQuarter">Jan</th>
                            <th *ngIf="firstQuarter">Feb</th>
                            <th *ngIf="firstQuarter">March</th>
                            <th *ngIf="secondQuarter">April</th>
                            <th *ngIf="secondQuarter">May</th>
                            <th *ngIf="secondQuarter">June</th>
                            <th *ngIf="thirdQuarter">July</th>
                            <th *ngIf="thirdQuarter">Aug</th>
                            <th *ngIf="thirdQuarter">Sep</th>
                            <th *ngIf="fourthQuarter">Oct</th>
                            <th *ngIf="fourthQuarter">Nov</th>
                            <th *ngIf="fourthQuarter">Dec</th>
                            <th *ngIf="yearlyTarget">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of productListForSingleAmountwise; let i = index" [formGroupName]=i>
                            <td *ngIf="firstQuarter">
                                <input type="number" formControlName="Jan" [value]="item.Jan">
                            </td>
                            <td *ngIf="firstQuarter">
                                <input type="number" formControlName="Feb" [value]="item.Feb">
                            </td>
                            <td *ngIf="firstQuarter">
                                <input type="number" formControlName="March" [value]="item.March">
                            </td>
                            <td *ngIf="secondQuarter">
                                <input type="number" formControlName="April" [value]="item.April">
                            </td>
                            <td *ngIf="secondQuarter">
                                <input type="number" formControlName="May" [value]="item.May">
                            </td>
                            <td *ngIf="secondQuarter">
                                <input type="number" formControlName="June" [value]="item.June">
                            </td>
                            <td *ngIf="thirdQuarter">
                                <input type="number" formControlName="July" [value]="item.July">
                            </td>
                            <td *ngIf="thirdQuarter">
                                <input type="number" formControlName="Aug" [value]="item.Aug">
                            </td>
                            <td *ngIf="thirdQuarter">
                                <input type="number" formControlName="Sep" [value]="item.Sep">
                            </td>
                            <td *ngIf="fourthQuarter">
                                <input type="number" formControlName="Oct" [value]="item.Oct">
                            </td>
                            <td *ngIf="fourthQuarter">
                                <input type="number" formControlName="Nov" [value]="item.Nov">
                            </td>
                            <td *ngIf="fourthQuarter">
                                <input type="number" formControlName="Dec" [value]="item.Dec">
                            </td>
                            <td *ngIf="yearlyTarget">
                                <input type="number" formControlName="quantity" [value]="item.quantity">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-3 m-form__group-sub">
                    <label class="form-control-label">&nbsp; </label>
                    <button mat-raised-button color="accent"><span><i class="la la-check"></i></span>Submit</button>
                </div>
            </div>
        </form>
    </ng-container>
</m-portlet>

<ng-container mPortletHeadTitle *ngIf="showViewReport">
    <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
            Target View Productwise
        </h3>
    </div>
</ng-container>
<div class="example-container mat-elevation-z8" *ngIf="showViewReport">
    <table mat-table [dataSource]="dataSource1">
        <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef> Product Name </th>
            <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
        </ng-container>
        <!--<ng-container matColumnDef="productRate">
      <th mat-header-cell *matHeaderCellDef> Product Rate </th>
      <td mat-cell *matCellDef="let element"> {{element.productRate}} </td>
    </ng-container>-->
        <ng-container matColumnDef="jan">
            <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp; Jan </th>
            <td mat-cell *matCellDef="let element"> {{element.jan}} </td>
        </ng-container>
        <ng-container matColumnDef="feb">
            <th mat-header-cell *matHeaderCellDef> Feb </th>
            <td mat-cell *matCellDef="let element"> {{element.feb}} </td>
        </ng-container>
        <ng-container matColumnDef="march">
            <th mat-header-cell *matHeaderCellDef> March</th>
            <td mat-cell *matCellDef="let element"> {{element.march}} </td>
        </ng-container>
        <ng-container matColumnDef="april">
            <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp; April </th>
            <td mat-cell *matCellDef="let element"> {{element.april}} </td>
        </ng-container>
        <ng-container matColumnDef="may">
            <th mat-header-cell *matHeaderCellDef> May</th>
            <td mat-cell *matCellDef="let element"> {{element.may}} </td>
        </ng-container>
        <ng-container matColumnDef="june">
            <th mat-header-cell *matHeaderCellDef> June</th>
            <td mat-cell *matCellDef="let element"> {{element.june}} </td>
        </ng-container>
        <ng-container matColumnDef="july">
            <th mat-header-cell *matHeaderCellDef> July</th>
            <td mat-cell *matCellDef="let element"> {{element.july}} </td>
        </ng-container>
        <ng-container matColumnDef="aug">
            <th mat-header-cell *matHeaderCellDef> Aug</th>
            <td mat-cell *matCellDef="let element"> {{element.aug}} </td>
        </ng-container>
        <ng-container matColumnDef="sep">
            <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp; Sep</th>
            <td mat-cell *matCellDef="let element"> {{element.sep}} </td>
        </ng-container>
        <ng-container matColumnDef="oct">
            <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp; Oct</th>
            <td mat-cell *matCellDef="let element"> {{element.oct}} </td>
        </ng-container>
        <ng-container matColumnDef="nov">
            <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp; Nov</th>
            <td mat-cell *matCellDef="let element"> {{element.nov}} </td>
        </ng-container>
        <ng-container matColumnDef="dec">
            <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp;Dec</th>
            <td mat-cell *matCellDef="let element"> {{element.dec}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
    </table>
</div>

<ng-container mPortletHeadTitle *ngIf="showViewReportamountwise">
    <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
            Target View Amountwise
        </h3>
    </div>
</ng-container>
<div class="example-container mat-elevation-z8" *ngIf="showViewReportamountwise">
    <table mat-table [dataSource]="dataSource2">
        <ng-container matColumnDef="hqName">
            <th mat-header-cell *matHeaderCellDef> Headquarter Name </th>
            <td mat-cell *matCellDef="let element"> {{element.hqName}} </td>
        </ng-container>
        <!--<ng-container matColumnDef="productRate">
      <th mat-header-cell *matHeaderCellDef> Product Rate </th>
      <td mat-cell *matCellDef="let element"> {{element.productRate}} </td>
    </ng-container>-->
        <ng-container matColumnDef="jan">
            <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp; Jan </th>
            <td mat-cell *matCellDef="let element"> {{element.jan}} </td>
        </ng-container>
        <ng-container matColumnDef="feb">
            <th mat-header-cell *matHeaderCellDef> Feb </th>
            <td mat-cell *matCellDef="let element"> {{element.feb}} </td>
        </ng-container>
        <ng-container matColumnDef="march">
            <th mat-header-cell *matHeaderCellDef> March</th>
            <td mat-cell *matCellDef="let element"> {{element.march}} </td>
        </ng-container>
        <ng-container matColumnDef="april">
            <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp; April </th>
            <td mat-cell *matCellDef="let element"> {{element.april}} </td>
        </ng-container>
        <ng-container matColumnDef="may">
            <th mat-header-cell *matHeaderCellDef> May</th>
            <td mat-cell *matCellDef="let element"> {{element.may}} </td>
        </ng-container>
        <ng-container matColumnDef="june">
            <th mat-header-cell *matHeaderCellDef> June</th>
            <td mat-cell *matCellDef="let element"> {{element.june}} </td>
        </ng-container>
        <ng-container matColumnDef="july">
            <th mat-header-cell *matHeaderCellDef> July</th>
            <td mat-cell *matCellDef="let element"> {{element.july}} </td>
        </ng-container>
        <ng-container matColumnDef="aug">
            <th mat-header-cell *matHeaderCellDef> Aug</th>
            <td mat-cell *matCellDef="let element"> {{element.aug}} </td>
        </ng-container>
        <ng-container matColumnDef="sep">
            <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp; Sep</th>
            <td mat-cell *matCellDef="let element"> {{element.sep}} </td>
        </ng-container>
        <ng-container matColumnDef="oct">
            <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp; Oct</th>
            <td mat-cell *matCellDef="let element"> {{element.oct}} </td>
        </ng-container>
        <ng-container matColumnDef="nov">
            <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp; Nov</th>
            <td mat-cell *matCellDef="let element"> {{element.nov}} </td>
        </ng-container>
        <ng-container matColumnDef="dec">
            <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp;Dec</th>
            <td mat-cell *matCellDef="let element"> {{element.dec}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>
</div>