<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Sample Issue Details
            </h3>
        </div>
    </ng-container>

    <ng-container mPortletBody>

        <form [formGroup]='viewsampleIssue' class="m-form m-form--label-align-left" (ngSubmit)="get()">
            <div class="m-portlet__body">

                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-state (valueChange)="getStateValue($event)" [check]=false></m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-district [check]=true  #callDistrictComponent></m-district>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-designation (valueChange)="getDesignation($event)" #callDesignationComponent
                                        [check]=true></m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-employee [check]=true (valueChange)="getEmployeeValue($event)"
                                        #callEmployeeComponent></m-employee>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-month (valueChange)="getMonth($event)" #callMonthComponent></m-month>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-year (valueChange)="getYear($event)" #callYearComponent></m-year>
                                </div>
                                <br>
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent"
                                        [disabled]="!viewsampleIssue.valid"><span><i class="la la-check"></i></span> View
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-container>
</m-portlet>

<m-portlet [options]="{enableSticky: true}" *ngIf="showProductsStateWise">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Issued Product Details
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div class="col">
            <span matTooltip="Print" matTooltipPosition="above" aria-label="Displays a tooltip"
            (click)="onPreviewClick()"><i class="fa fa-print"
                style="cursor:pointer; color: blue;font-size: 2em;"
                aria-hidden="true"></i></span>

            <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
                style="float: right;" class="col-sm-1" (click)="exporttoExcel()"><i class="fa fa-file-excel"
                    style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i></span>
        </div>
    </div>

    <ng-container mPortletBody >

        <div class="example-container mat-elevation-z8" id="tableId1">

            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef> State </th>
                    <td mat-cell *matCellDef="let element"> {{element.state}} </td>
                </ng-container>

                <ng-container matColumnDef="headquarter">
                    <th mat-header-cell *matHeaderCellDef> Headquarter </th>
                    <td mat-cell *matCellDef="let element"> {{element.headquarter}} </td>
                </ng-container>

                <ng-container matColumnDef="employeeName">
                    <th mat-header-cell *matHeaderCellDef> Employee Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
                </ng-container>

                <!-- designation Column -->
                <ng-container matColumnDef="productName">
                    <th mat-header-cell *matHeaderCellDef> Product Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
                </ng-container>

                <ng-container matColumnDef="productCode">
                    <th mat-header-cell *matHeaderCellDef> Product Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.productCode}} </td>
                </ng-container>
                <ng-container matColumnDef="issuedDate">
                    <th mat-header-cell *matHeaderCellDef>Issued Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.issuedDate}} </td>
                </ng-container>


                <ng-container matColumnDef="openingStock">
                    <th mat-header-cell *matHeaderCellDef> Opening Stock </th>
                    <td mat-cell *matCellDef="let element"> {{element.openingStock}} </td>
                </ng-container>

                <ng-container matColumnDef="receipt">
                    <th mat-header-cell *matHeaderCellDef> Receipt</th>
                    <td mat-cell *matCellDef="let element"> {{element.receipt}} </td>
                </ng-container>

                <ng-container matColumnDef="totalStock">
                    <th mat-header-cell *matHeaderCellDef> Total Stock</th>
                    <td mat-cell *matCellDef="let element"> {{element.totalStock}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


            </table>
            <mat-paginator [pageSizeOptions]=[5,20,50,100] [pageSize]="20" showFirstLastButtons></mat-paginator>
            <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
                <mat-progress-spinner color="primary" mode="indeterminate">
                </mat-progress-spinner>
            </mat-card>

        </div>
    </ng-container>
</m-portlet>


<!-- <div class="col-xl-12" *ngIf="showProcessing" align="center">
    <img src="assets/app/media/img/processing/loading.gif">
</div> -->