
<div mPortletBody *ngIf="showUserWise">
  <div class="m-portlet">
      <div class="m-portlet__body m-portlet__body--no-padding">
          <div class="row m-row--no-padding m-row--col-separator-xl">
              <div class="col-xl-12">
                  <div class="m-widget14">
                      <ng-container mPortletHeadTitle>
                          <div class="m-portlet__head-title">
                              <h3 class="m-portlet__head-text" style="color: #120e63d1;
                              font-size: large;">
                                Employee Login Details
                              </h3>
                          </div>
                      </ng-container>
                        <mat-form-field>
                          <mat-label>Search</mat-label>
                          <input matInput (keyup)="applyFilter($event.target.value)"
                              placeholder="Search Employee">
                         </mat-form-field>
                         <div style="max-height: 25rem; overflow: auto;">
                            <mat-table [dataSource]="dataSource" matSort class="table-striped" #MatTable>
                                <ng-container matColumnDef="sn">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;SN.
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element; let i = index;"> 
                                        {{paginator.pageSize * paginator.pageIndex +i + 1 }} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="username">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Employee Name
                                  </mat-header-cell>
                                  <mat-cell *matCellDef="let element"> {{element.emploeeName.toUpperCase()}} </mat-cell>
                              </ng-container>
                                <ng-container matColumnDef="districtName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;District Name
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element">{{element.districtName}} </mat-cell>
                                </ng-container>
                             
                                <ng-container matColumnDef="totalWorkingDay">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;DCR Submitted
                                  </mat-header-cell>
                                  <mat-cell *matCellDef="let element"> YES </mat-cell>
                              </ng-container>
                              
                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                                <mat-row [ngClass]="{'highlight': index%2 == 1}"
                                    *matRowDef="let row; columns: displayedColumns;let index = index"></mat-row>
                            </mat-table>
                           
                        </div>
                        <mat-paginator #paginator [length]="dataSource?.data?.length || 0"
                        [pageSizeOptions]="[5, 20, 50, 100]" [pageSize]="20" showFirstLastButtons>
                       </mat-paginator>
                        
                  </div>
              </div>
          </div>
      </div>
  </div>
 
  <div class="col-xl-12" *ngIf="showProcessing" align="center">
      <img src="assets/app/media/img/processing/loading.gif">
  </div>
</div>
