<!-- *************************************GOURAV 29-04-2021*********************************************** -->

<m-portlet>
    <div mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Hierarchy Mapping
            </h3>
        </div>
    </div>

    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>

    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='hierarchyForm' class="m-form m-form--label-align-left- m-form--state" (ngSubmit)='getData()'>
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                                    <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent>
                                    </m-division>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-state [check]=true (valueChange)="getStateValue($event)" #callStateComponent>
                                    </m-state>
                                </div>
                                <!-- Area -->

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-designation #designationComponent (valueChange)="getDesignation($event)"
                                        [check]="false"></m-designation>
                                </div>
                                <!-- Designation Section -->

                                <!-- <div class="col-lg-3 m-form__group-sub">
                                    <m-employee (valueChange)="getEmployees($event)" #callEmployeeComponent [check]=false></m-employee>
                                </div>
                                Employee or Manager -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">&nbsp; </label>
                                    <button mat-raised-button color="accent" [disabled]="!hierarchyForm.valid"><span><i
                                                class="la la-check"></i></span>Get
                                        Employee</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</m-portlet>

<ng-container *ngIf="showData">
    <div class="row">
        <div class="col-xl-6" >
            <ng-container mPortletHeadTitle>
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Employee List
                    </h3>
                </div>
            </ng-container>
            <div class="table-container mat-elevation-z8">
                <ng-container mPortletBody>
                    <div id="tableId1">
                        <table mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(element) : null"
                                        [checked]="selection.isSelected(element)"></mat-checkbox>
                                </td>
                            </ng-container>
                           
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef>Name
                                </th>
                                <td mat-cell *matCellDef="let element">{{element.name}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="designation">
                                <th mat-header-cell *matHeaderCellDef>Designation
                                </th>
                                <td mat-cell *matCellDef="let element">{{desig}}
                                </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="state">
                                <th mat-header-cell *matHeaderCellDef >State
                                </th>
                                <td mat-cell *matCellDef="let element">{{element.state.stateName}}
                                </td>
                            </ng-container>


                            <tr mat-header-row class="header" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </ng-container>
            </div>
            
        </div>
        <div class="col-xl-6">
            <ng-container mPortletHeadTitle>
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Managers
                    </h3>
                </div>
            </ng-container>
             <div class="table-container mat-elevation-z8" style="overflow: auto;">
                <!-- <ng-container mPortletBody> -->
                    <div id="tableId1">
                        <table mat-table [dataSource]="dataSource1">
                            <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef class="header-data"> Select </th>
                                    <!-- <mat-checkbox (change)="$event ? masterToggle1() : null"
                                        [checked]="selection1.hasValue() && isAllSelected1()"
                                        [indeterminate]="selection1.hasValue() && !isAllSelected1()">
                                    </mat-checkbox> -->
                                
                                <td mat-cell *matCellDef="let element">
                                    <mat-radio-button (click)="primaryClick(element)"
                                    [checked]="primaryContact == element" ></mat-radio-button>
                                </td>
                            </ng-container>
                    
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef class="header-data"> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="designation">
                                <th mat-header-cell *matHeaderCellDef class="header-data" > Designation </th>
                                <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
                            </ng-container>
                            <ng-container matColumnDef="state">
                                <th mat-header-cell *matHeaderCellDef class="header-data" > State </th>
                                <td mat-cell *matCellDef="let element"> {{element.stateName}} </td>
                            </ng-container>
                            
                            <tr mat-header-row class="header" *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                        </table>
                    </div>
                <!-- </ng-container> -->
            </div>
            <div class="row">
                <div class="col-lg-3 m-form__group-sub">
                    <label class="form-control-label">&nbsp; </label>
                    <button mat-raised-button color="accent"
                        (click)="createHierarchy(selection._selected,primaryContact)"
                        [disabled]="!selection._selected"> Map Hierarchy</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container >
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</ng-container>


<!-- *************************************GOURAV 29-04-2021*********************************************** -->