<m-portlet [options]="{enableSticky: true}">
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Target and SSS Sales Headquarterwise
      </h3>
    </div>
  </ng-container>
  <ng-container mPortletBody>
    <form [formGroup]="DumpPrimaryandSecondary">
      <div class="row">
        <div class="col-lg-3 ">
          <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent>
          </m-division>
        </div>
        <div class="col-lg-3 m-form__group-sub">
          <mat-form-field class="mat-form-field-fluid">
            <mat-select #select formControlName="stateInfo" placeholder="Select State" required
              (selectionChange)='getStateValue($event.value)' multiple="true">
              <!-- <mat-option [value]="0" (click)="toggleAllSelection()" style="background-color: #16a184;
              color: white;">Select All</mat-option> -->
              <mat-option *ngFor="let state of stateData" [value]="state">
                {{state.stateName}}
              </mat-option>
            </mat-select>
            <mat-error>State is required!!!</mat-error>
          </mat-form-field>
        </div> <!-- State Data Multiple Select -->

        <div class="col-lg-3 m-form__group-sub">
          <mat-form-field class="mat-form-field-fluid">
            <mat-select #selectHQ formControlName="districtInfo" placeholder="Select Headquater" required
              (selectionChange)='getDistrictValue($event.value)' multiple="true">
              <mat-option [value]="0" (click)="toggleAllSelectionForHQ()" style="background-color: #16a184;
              color: white;">Select All</mat-option>
              <mat-option *ngFor="let district of HqData" [value]="district">
                {{district.districtName}}
              </mat-option>
            </mat-select>
            <mat-error>Headquater is required!!!</mat-error>
          </mat-form-field>
        </div><!-- HQ -->

        <div class="col-lg-3 m-form__group-sub">
          <m-month (valueChange)="getMonth($event)" #callMonthComponent></m-month>
        </div>
        <div class="col-lg-3 m-form__group-sub">
          <m-year (valueChange)="getYear($event)" #callYearComponent></m-year>
        </div>

        <br>
        <br>

        <div class="col-md-3">
          <button mat-raised-button color="primary"
            [disabled]="isDisabledBtn || !DumpPrimaryandSecondary.valid || div || month"
            (click)="getsssDetails()">Generate Excel</button>
        </div>
        <div class="col-md-3" *ngIf="showTable">
          <button mat-raised-button color="accent" (click)="exportTable()">
            <span>
              <i class="la la-download"></i>
            </span>Download Excel</button>
        </div>

        <div class="position-relative d-inline-block" *ngIf="showProcessing">
          <div class="grey-spinner">
            <mat-progress-spinner class="position-absolute" mode="determinate" [strokeWidth]="4" [diameter]="85"
              [value]="100">
            </mat-progress-spinner>
          </div>
          <mat-progress-spinner color="primary" mode="determinate" [strokeWidth]="4" [diameter]="85"
            [value]="progressValue">
          </mat-progress-spinner>
          <div class="position-absolute" style="
          													top: 50%;
          													left: 50%;
          													transform: translate(
          														-50%,
          														-50%
          													);
          												">
            {{progressValue}}%
          </div>
        </div>
      </div>

    </form>

  </ng-container>
</m-portlet>