
.grey-spinner ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
	stroke: #ccc;
}

.question-sidebar h5{
    font-size: 15px;
    padding: 5px 0px;
  }
  .no-questions button{
      margin: 2px -8px;
  }