input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 50px;
}


.tr {
    background-color: #16a184;
    color: white;
    border-collapse: collapse;
    padding: 5px;
}

.input {
  width: 100px;
  background-color: #4CAF50;
  color: white;
  padding: 6px 20px;
  margin: 0px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

 /* Zebra striping */
 tr:nth-of-type(odd) { 
    background: #eee; 
  }
