<m-portlet [options]="{enableSticky: true}">
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Sample and Gift Modify
      </h3>
    </div>
  </ng-container>
  <div mPortletHeadTools>
    <div>
      <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
  </div>
  <div mPortletBody [hidden]="!isToggled">
    <form [formGroup]='editSampleAndGift' class="m-form m-form--label-align-left- m-form--state-"
      (ngSubmit)="viewSampleAndGiftDetail()">
      <div class="m-portlet__body">
        <!--<div class="row">
          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">
                <div class="col-lg-2 m-form__group-sub" [hidden]=!showEmpReportType>
                  <mat-radio-button class="form-control-label" [checked]='true' (change)="reportType('Employeewise')"
                    name="reportTypeName" [value]="Employeewise">
                    * User wise
                  </mat-radio-button>
                </div>
                <div class="col-lg-2 m-form__group-sub" [hidden]=!showStateReportType>
                  <mat-radio-button class="form-control-label" (change)="reportType('Statewise')" name="reportTypeName">
                    * State wise
                  </mat-radio-button>
                </div>
                <div class="col-lg-2 m-form__group-sub" [hidden]=!showHqReportType>
                  <mat-radio-button class="form-control-label" (change)="reportType('Headquarterwise')"
                    name="reportTypeName">
                    * {{this.currentUser.company.lables.hqLabel}} wise
                  </mat-radio-button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>-->
        <div class="row">
          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">
                <div class="col-lg-3 m-form__group-sub" [hidden]=!stateFilter>
                  <m-state (valueChange)="getStateValue($event)" [check]=false #callStateComponent>
                  </m-state>
                </div>
                <div class="col-lg-3 m-form__group-sub" [hidden]=!districtFilter>
                  <m-district [check]=false (valueChange)="getEmployeeValue($event)" #callDistrictComponent>
                  </m-district>
                </div>
                <div class="col-lg-3 m-form__group-sub" [hidden]=!districtFilterForMulti>
                  <m-district [check]=true (valueChange)="getEmployeeValue($event)" #callDistrictComponentAgainForMulti>
                  </m-district>
                </div>
                <div class="col-lg-3" [hidden]=!designationFilterForUserwiseOnly>
                  <mat-form-field>
                    <mat-select placeholder="Select Designation" formControlName='designation'
                      (valueChange)="getEmployeeValue($event)">
                      <mat-option *ngFor="let designation of designationData"
                        [value]="designation._id.designationLevel">
                        {{designation._id.designation}}
                      </mat-option>
                    </mat-select>
                    <!--<mat-error>Designation is required!!!</mat-error>-->
                  </mat-form-field>
                </div>
                <div class="col-lg-3" [hidden]=!designationFilter>
                  <mat-form-field>
                    <mat-select placeholder="Select Designation" formControlName='designation'>
                      <mat-option *ngFor="let designation of designationData"
                        [value]="designation._id.designationLevel">
                        {{designation._id.designation}}
                      </mat-option>
                    </mat-select>
                    <!--<mat-error>Designation is required!!!</mat-error>-->
                  </mat-form-field>
                </div>
                <div class="col-lg-3 m-form__group-sub" [hidden]=!employeeFilter>
                  <m-employee [check]=true (valueChange)="setEmployeeDetail($event)" #callEmployeeComponent>
                  </m-employee>
                </div>
                <div class="col-lg-3 m-form__group-sub mt-3" [hidden]=!moduleType>
                  <mat-radio-button class="form-control-label" name="moduleTypeName"
                    (change)="moduleSubmitType('sample')">
                    * Sample
                  </mat-radio-button>
                  <mat-radio-button class="form-control-label" name="moduleTypeName"
                    (change)="moduleSubmitType('gift')">
                    * Gift
                  </mat-radio-button>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <button mat-raised-button color="accent" [disabled]="!editSampleAndGift.valid"><span><i
                        class="la la-check"></i></span>Edit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="m-portlet__foot m-portlet__foot--fit">
      </div>
    </form>
  </div>
</m-portlet>
<br>
<m-portlet [options]="{enableSticky: false}" *ngIf="isShowIssueSample">
  <ng-container mPortletHeadTitle *ngIf="isShowIssueSample">

    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Modify {{this.editSampleAndGift.value.moduleTypeName}} Form
      </h3>
    </div>
    <div class="m-portlet__head-title">
      <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
        style="float: right;" class="col-sm-1" (click)="exportToExcel()"><i class="fa fa-file-excel"
          style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i>
      </span>
    </div>
  </ng-container>
  <ng-container mPortletBody *ngIf="isShowIssueSample">
    <form [formGroup]="sample" (ngSubmit)="modifySample()">
      <table class="table table-striped tableWidth table-responsive" formArrayName="resultList" id="tableId1">
        <thead>
          <tr class="tr">
            <th>Sr.No.</th>
            <th>State</th>
            <th>Headquarter</th>
            <th>User</th>
            <th>{{this.editSampleAndGift.value.moduleTypeName}}</th>
            <th>opening</th>
            <th>receipt</th>
            <th>balance</th>
            <th>Last Issue Date</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let item of productListForSample; let i = index" [formGroupName]=i>
            <td>
              {{i+1}}
            </td>
            <td>
              <b>{{item.stateName}}</b>
            </td>
            <td>
              <b>{{item.districtName}}</b>
            </td>
            <td>
              <b>{{item.userName}}</b>
            </td>
            <td>
              <b>{{item.productName}}</b>
            </td>
            <td>
              <b>{{item.opening}}</b>
            </td>
            <td>
              <input type="number" formControlName="receipt" [value]="item.receipt">
            </td>
            <td>
              <b>{{item.balance}}</b>
            </td>
            <td>
              <b>{{item.issueDate}}</b>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-lg-3 m-form__group-sub">
          <label class="form-control-label">&nbsp; </label>
          <button mat-raised-button color="accent"><span><i class="la la-check"></i></span>Modify
            {{this.editSampleAndGift.value.moduleTypeName}}</button>
        </div>
      </div>
    </form>
  </ng-container>
</m-portlet>
<m-portlet [options]="{enableSticky: false}" *ngIf="isShowIssueGift">
  <ng-container mPortletHeadTitle *ngIf="isShowIssueGift">
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Modify {{this.editSampleAndGift.value.moduleTypeName}} Form
      </h3>
    </div>
  </ng-container>
  <ng-container mPortletBody *ngIf="isShowIssueGift">
    <div class="m-portlet__head-title">

      <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
        style="float: right;" class="col-sm-1" (click)="exportToExcel1()"><i class="fa fa-file-excel"
          style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i></span>
    </div>

    <form [formGroup]="gift" (ngSubmit)="modifyGift()">
      <table class="table table-striped tableWidth" formArrayName="resultList1" id="tableID">
        <thead>
          <tr class="tr">
            <th>Sr.No.</th>
            <th>State</th>
            <th>Headquarter</th>
            <th>User</th>
            <th>{{this.editSampleAndGift.value.moduleTypeName}}</th>
            <th>opening</th>
            <th>receipt</th>
            <th>balance</th>
            <th>Last Issue Date</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let item of productListForGift; let i = index" [formGroupName]=i>
            <td>
              {{i+1}}
            </td>
            <td>
              <b>{{item.stateName}}</b>
            </td>
            <td>
              <b>{{item.districtName}}</b>
            </td>
            <td>
              <b>{{item.userName}}</b>
            </td>
            <td>
              <b>{{item.productName}}</b>
            </td>
            <td>
              <b>{{item.opening}}</b>
            </td>
            <td>
              <input type="number" formControlName="receipt" [value]="item.receipt">
            </td>
            <td>
              <b>{{item.balance}}</b>
            </td>
            <td>
              <b>{{item.issueDate}}</b>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-lg-3 m-form__group-sub">
          <label class="form-control-label">&nbsp; </label>
          <button mat-raised-button color="accent"><span><i class="la la-check"></i></span>Modify
            {{this.editSampleAndGift.value.moduleTypeName}}</button>
        </div>
      </div>
    </form>
  </ng-container>
</m-portlet>