<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                {{this.currentUser.company.lables.hqLabel}} Creation
            </h3>
        </div>
    </ng-container>


    <!-- use ng-container[mPortletHeadTools] for the top right toolbar content -->
    <ng-container mPortletHeadTools>
        <div>
            <label class="form-control-label">&nbsp; </label>
            <a mat-raised-button color="accent" routerLink="/master/district"><i class="material-icons">
                    arrow_back
                </i> Back</a>
        </div>
    </ng-container>

    <!-- use ng-container[mPortletBody] for the body content -->
    <ng-container mPortletBody>
        <form [formGroup]='districtForm' class="m-form m-form--label-align-left- m-form--state"
            (ngSubmit)="createDistrict()">
            <div class="m-portlet__body">

                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub">
                                    <!--<label class="form-control-label">* State:</label>-->
                                    <m-state [check]=false (valueChange)="getStateValue($event)"></m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <mat-form-field>
                                        <input matInput formControlName="districtName" placeholder="District Name">

                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">&nbsp; </label>
                                    <button mat-raised-button color="accent" [disabled]="!districtForm.valid"><span><i
                                                class="la la-check"></i></span>Create District</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-container>
</m-portlet>