<!--begin::Signin-->
<!--<div class="m-login__signin">-->
<div class="m-login__title">
    <h3 translate="AUTH.LOGIN.TITLE">Login Account</h3>
</div>

<m-auth-notice></m-auth-notice>

<!-- <mat-error>{{error1}}</mat-error> -->

<!--begin::Form-->
<form class="m-login__form m-form" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
<div class="m-login__title" [hidden]="!isShowInvalid">
    <!-- <h4 style="color:red;">Invalid Login Credentials.</h4> -->
</div>

    <div class="form-group">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" name="username" placeholder="Username" autocomplete="on"
                [(ngModel)]="model.username" #username="ngModel" required>
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput minlength="2" type="password" name="password" placeholder="Password" autocomplete="off"
                [(ngModel)]="model.password" #password="ngModel" #passwordInput required>
            <button class="viewHidePassword" type="button" (click)="
                        passwordInput.type == 'text'
                            ? (passwordInput.type = 'password')
                            : (passwordInput.type = 'text')
                    ">
                <ng-container [ngSwitch]="passwordInput.type == 'text'">
                    <i *ngSwitchCase="false" class="fas fa-eye"></i>
                    <i *ngSwitchCase="true" class="fas fa-eye-slash"></i>
                </ng-container>
            </button>
        </mat-form-field>
    </div>
    <div class="m-login__action m-login__action--fit">
        <!--   <a href="javascript:;" (click)="forgotPasswordPage($event)" class="m-link">
            <span translate="AUTH.GENERAL.FORGOT_BUTTON">Forgot Password?</span>
        </a>-->
        <m-spinner-button [options]="spinner" (click)="submit()">{{'AUTH.LOGIN.BUTTON' | translate}}</m-spinner-button>
    </div>
</form>
<!--end::Form-->

<!--begin::Action-->

<!--end::Action-->

<!--begin::Divider-->
<div class="m-login__form-divider">
    <div class="m-divider" style="font-weight:600; color:rgba(39, 34, 34, 0.61)">
        <span></span>
        <span style="font-weight:600; color:rgba(39, 34, 34, 0.61)">Need Assistance ?</span>
        <span></span>
    </div>
</div>
<!--end::Divider-->

<!--begin::Options-->
<div class="m-login__options">
    <!-- <a href="javascript:;" mat-raised-button color="primary">
        <span>
					<i class="fab fa-facebook-f"></i>&nbsp;
					<span>Facebook</span>
        </span>
    </a>

    <a href="javascript:;" mat-raised-button color="accent">
        <span>
					<i class="fab fa-twitter"></i>&nbsp;
					<span>Twitter</span>
        </span>
    </a>

    <a href="javascript:;" mat-raised-button color="warn">
        <span>
					<i class="fab fa-google"></i>&nbsp;
					<span>Google</span>
        </span>
    </a> -->

    <div class="row">
        <!-- <span class="col-12" style="font-size: 20px;color: #67666e;font-weight: 500">
            For assistance :
        </span> -->
        <span class="col-12 pt-2" style="font-size: 15px;color: #67666e;">
            <i class="fa fa-phone" style="vertical-align: center"></i> &nbsp;+91-9310310200, +91-9212277333,
            0124-4104143
        </span>
        <span class="col-12 pt-2" style="font-size: 15px;color: #67666e;">
            <i class="fa fa-envelope" style="vertical-align: center"></i> &nbsp;support@etech-services.com
        </span>
    </div>
</div>
<!--end::Options-->
<!--</div>-->
<!--end::Signin-->