:host {
	.mat-form-field {
		width: 100%;
	}
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    display: flex !important;
}
.viewHidePassword {
    display: flex;
    background: transparent;
    border: transparent;
    border-radius: .25rem;
}