<m-portlet [options]="{enableSticky: true}">
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Division Creation
      </h3>
    </div>
  </ng-container>
  <div mPortletHeadTools>
    <div>
        <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
</div>
  <div mPortletBody [hidden]="!isToggled">
    <form [formGroup]='divisionForm' class="m-form m-form--label-align-left" (ngSubmit)="createDivision()">
      <div class="m-portlet__body">
        <div class="row">
          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">

                <div class="col-lg-3 m-form__group-sub">
                  <mat-form-field>
                    <input matInput formControlName="divisionName" placeholder="Division Name*">
                  </mat-form-field>
                </div>

                <div class="col-lg-3 m-form__group-sub">
                  <!-- <label class="form-control-label">&nbsp; </label> -->
                  <button mat-raised-button color="accent" [disabled]="!divisionForm.valid"><span><i
                        class="la la-check"></i></span>&nbsp;Create New Division</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-portlet__foot m-portlet__foot--fit">
      </div>
    </form>
  </div>

</m-portlet>

<div class="m-portlet">
  <div class="m-portlet__body m-portlet__body--no-padding">
    <div class="row m-row--no-padding m-row--col-separator-xl">
      <div class="col-xl-12">
        <div class="m-widget14">
          <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Division Details
              </h3>
            </div>
          </ng-container>
          <hr /><br />

          <table #divisionDataTable class="display" style="width:100%">

          </table>
        </div>
      </div>
    </div>
  </div>
</div>