<!-- <h2>Component under maintainence</h2> -->

<m-portlet [options]="{enableSticky: true}">

    
  <div mPortletHeadTitle>
      <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
              View Station Details
          </h3>
      </div>
  </div>
  <div mPortletHeadTools>
      <div>
          <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
      </div>
  </div>
  <div mPortletBody [hidden]="!isToggled">
      <form [formGroup]='stationDataForm' class="m-form m-form--label-align-left- m-form--state-"
          (ngSubmit)="viewRecords()">
          <div class="m-portlet__body">
            
              <div class="row">
                  <div class="col-xl-12 ">
                      <div class="m-form__section m-form__section--first">
                          <div class="form-group m-form__group row">
                              <div class="col-lg-3 m-form__group-sub">
                                  <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                              </div>
                              <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                                  <m-designation (valueChange)="getDesignation($event)" #callMonthComponent
                                      [check]=true></m-designation>
                              </div>
                              <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                                  <m-employee [check]=true (valueChange)="getEmployeeValue($event)"
                                      #callEmployeeComponent></m-employee>
                              </div>
                              <!-- <div class="col-lg-3 m-form__group-sub">
                                  <m-status (valueChange)="getStatusValue($event)" [check]="false" #setStatus>
                                  </m-status>
                              </div> -->
                              <div class="col-lg-3 m-form__group-sub">
                                  <button mat-raised-button color="accent" [disabled]="!stationDataForm.valid"><span><i
                                              class="la la-check"></i></span> View
                                      Report</button> </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="m-portlet__foot m-portlet__foot--fit">
          </div>
      </form>

  </div>

</m-portlet>


<div *ngIf="showTotalMasterData">
    <m-portlet >
      <ng-container mPortletBody>

        <div class="row" style=" right: 100px;">
            <div class="col" style ="width:1400px" >
                Total Doctor : {{totalDOctorCOunt}}
            
            </div>
            <div class="col" style ="width:1400px">
                Total Chemist : {{totalChemistCount}} 
            
            </div>
            <div class="col" style ="width:1400px">
                Total Stockist : {{totalStockistCount}} 
            </div>

            <br>
            <br>
            
            </div>
          <table #dataTable class="display" style="width:180%">

          </table>
      </ng-container>
    </m-portlet>
 
</div>

<div class="col-xl-12 showProcessing" *ngIf="showProcessing" align="center">
  <mat-spinner strokeWidth="3" [diameter]="60"></mat-spinner>
</div>