<m-portlet>
  <div mPortletHeadTitle>
      <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
              CHANNEL FORM DETAILS
          </h3>
      </div>
  </div>
 <div>
     <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
      </div>
   <div mPortletBody [hidden]="!isToggled">
  <form [formGroup]='ChannelFormGroup' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewRecords()">
          <div class="m-portlet__body">
   <div class="row">
          <div class="col-xl-12">
              <div class="m-form__section m-form__section--first">
                  <div class="form-group m-form__group row" [hidden]=!showFilter>

                    <div class="col-lg-3 m-form__group-sub">
                      <m-designation (valueChange)="getDesignation($event)" #callMonthComponent
                          [check]=true></m-designation>
                  </div>

              <div class="col-lg-3 m-form__group-sub" >
              <m-employee [check]=true (valueChange)="getEmployeeValue($event)"
                          #callEmployeeComponent></m-employee>
                  </div>
                  
                      <div class="col-lg-3 m-form__group-sub">
                          <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                      </div>
                      <div class="col-lg-3 m-form__group-sub">
                          <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                      </div>
                      <div class="col-lg-3 m-form__group-sub">
                          <button mat-raised-button color="accent" [disabled]="!ChannelFormGroup.valid"><span><i
class="la la-check"></i></span> Get Details</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
      </form>

  </div>
</m-portlet>

<div class="col-xl-12 showProcessing" *ngIf="showProcessing" align="center">
    <!-- <img src="assets/app/media/img/processing/loading.gif"> -->
    <mat-spinner strokeWidth="3" [diameter]="60"></mat-spinner>
</div>

<ng-container mPortletBody >
    <div class="m-portlet" [hidden]="!showformReport" >
        <div class="m-portlet__body m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-12">
                    <div class="m-widget14">
                        <ng-container mPortletHeadTitle>
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                   CHANNEL FORM Report
                                </h3>
                            </div>
                        </ng-container>
                        <hr /><br />
                    <div>
                        <span matTooltip="Export Selected Tab" matTooltipPosition="left"
                                        aria-label="Displays a tooltip" style="float: right;margin-left: 1.5rem;"
                                        class="ml-1" (click)="exportToExcel()"><i class="fa fa-file-excel"
                                            style="cursor:pointer; color: green;font-size: 2em;"
                                            aria-hidden="true"></i></span>
                     </div>
                     <br><br>
                           <div #table1 id="table1">
                    
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-responsive">

                    <!-- Position Column -->
                            <ng-container matColumnDef="SNo">
                              <th mat-header-cell *matHeaderCellDef> S.No </th>
                              <td mat-cell *matCellDef="let element;let i=index">{{i+1}}  </td>
                            </ng-container>
               
                            <ng-container matColumnDef="NameofEmployee">
                                <th mat-header-cell *matHeaderCellDef> Name of Employee </th>
                                <td mat-cell *matCellDef="let element">{{element.user.name}} </td>
                              </ng-container>
                          
                            <!-- Name Column -->
                            <ng-container matColumnDef="NameofProspective">
                              <th mat-header-cell *matHeaderCellDef> Name of Prospective </th>
                              <td mat-cell *matCellDef="let element">{{element.nameOfProspectiveClient?element.nameOfProspectiveClient:'---'}} </td>
                            </ng-container>
                          
                            <ng-container matColumnDef="CCLocationResponse">
                              <th mat-header-cell *matHeaderCellDef> CC Location Response </th>
                              <td mat-cell *matCellDef="let element"> {{element.response?element.response:'---'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="SdAmount">
                                <th mat-header-cell *matHeaderCellDef> SD Amount </th>
                                <td mat-cell *matCellDef="let element"> {{element.SdAmount?element.SdAmount:'---'}} </td>
                              </ng-container>

                              <ng-container matColumnDef="RTGSNo">
                                <th mat-header-cell *matHeaderCellDef>RTGS No.</th>
                                <td mat-cell *matCellDef="let element"> {{element.RTGSNumber?element.RTGSNumber:'---'}} </td>
                              </ng-container>

                              <ng-container matColumnDef="Feedback">
                                <th mat-header-cell *matHeaderCellDef> feedback</th>
                                <td mat-cell *matCellDef="let element"> {{element.feedback?element.feedback:'---'}} </td>
                              </ng-container>
                              <ng-container matColumnDef="Submitted Date">
                                <th mat-header-cell *matHeaderCellDef> Submitted Date</th>
                                <td mat-cell *matCellDef="let element"> {{element.createdAt | date}} </td>
                              </ng-container>
                          
                             
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                          
                    </div>
                   
                          <!-- <mat-paginator [pageSizeOptions]="[5,10,20]" aria-label="Select page of element"></mat-paginator> -->

                          <mat-paginator [pageSizeOptions]="[5,10,20,40,80,160,320,640,1280]" aria-label="Select page of Element"></mat-paginator>
 
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>