<mat-radio-group>
    <mat-radio-button value="Geographical" (click)="changedValue('Geographical')" [checked]='true'>Geographical</mat-radio-button>
    <mat-radio-button value="Hierarachy" (click)="changedValue('Hierarachy')">Hierarchical</mat-radio-button>
</mat-radio-group>