<div [hidden]="rl == 1">
  <m-portlet>
    <ng-container mPortletHeadTitle>
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Sponsorship Filter
        </h3>
      </div>
    </ng-container>
    <ng-container mPortletBody>
      <form [formGroup]="providerSponsorshipForm" (ngSubmit)="getProvidersCount()">
        <div class="row">
          <div class="col-lg-3 " [hidden]="!isShowDivision">
            <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent>
            </m-division>
          </div>
          <div class="col-lg-3 ">
            <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
            </m-state>
          </div>
          <div class="col-lg-3">
            <m-district [check]=true (valueChange)="getDistrictValue($event)" #callDistrictComponent></m-district>
          </div>
          <div class="col-lg-3 ">
            <m-designation (valueChange)="getDesignation($event)" #callDesignationComponent [check]=true>
            </m-designation>
          </div>
          <div class="col-lg-3 ">
            <m-employee [check]=true (valueChange)="getEmployeeValue($event)" #callEmployeeComponent></m-employee>
          </div>
          <div class="col-lg-3 ">
            <m-status (valueChange)="getStatusValue($event)" [check]="true" #setStatus>
            </m-status>
          </div>
          <div class="col-md-3">
            <button mat-raised-button color="primary">Submit</button>
          </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
        </div>
      </form> 
    </ng-container>
  </m-portlet>
</div>

<div class="row mb-5">
  <div class="col-lg-6" *ngIf="showRMPCount">
    <mat-card>
      <div class="mat-header">
        <h4 class="fontclass">
          <span class="count">{{RMPCount}}</span> Doctors are remaining to link with CRM
        </h4>
      </div>
      <a (click)="getProviderForLinking('RMP')" style="cursor: pointer; text-decoration: none;">
        <div class=" m--font-info center-text fontclass">
          <span class="material-icons">add</span>
          Click HERE
        </div>
      </a>
    </mat-card>
  </div>
  <div class="col-lg-6" *ngIf="showDrugCount">
    <mat-card>
      <div class="mat-header">
        <h4 class="fontclass">
          <span class="count">{{drugCount}}</span> Chemists are remaining to link with CRM
        </h4>
      </div>

      <a (click)="getProviderForLinking('Drug')" style="cursor: pointer; text-decoration: none;">
        <div class=" m--font-info center-text fontclass">
          <span class="material-icons">add</span>
          Click HERE
        </div>
      </a>
    </mat-card>
  </div>
</div>

<div *ngIf="showProviderDetail">
  <m-portlet>
    <ng-container mPortletHeadTitle>
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Provider Details
        </h3>
      </div>
    </ng-container>
    <ng-container mPortletBody>
      <mat-form-field>
        <mat-label>Search Client</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search..." #input>
      </mat-form-field>
      <div class="example-container mat-elevation-z8">
        <form>
          <div style="    max-height: 25rem;
          overflow: auto;">
            <table mat-table [dataSource]="dataSource" class="table-striped" matSort>

              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="sn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </th>
                <td mat-cell *matCellDef="let element; let i = index;">
                  {{(paginator.pageIndex) * paginator.pageSize + (1 + i)}} </td>
              </ng-container>

              <ng-container matColumnDef="providerName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element?.providerName !== '' ? element?.providerName : '---'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="providerCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
                <td mat-cell *matCellDef="let element"> {{element?.providerCode !== '' ? (element?.providerCode | titlecase): '---'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="specialization">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Specialization </th>
                <td mat-cell *matCellDef="let element">
                  {{element?.specialization !== '' ? element?.specialization : '---'}} </td>
              </ng-container>
              <ng-container matColumnDef="degree">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Degree </th>
                <td mat-cell *matCellDef="let element"> {{element.degree ? element?.degree : '---'}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div>
            <mat-paginator #paginator [length]="dataSource?.data?.length || 0" [pageSizeOptions]="[5, 10, 20, 50]"
              [pageSize]="5" showFirstLastButtons>
            </mat-paginator>
            <div class="row buttons_position">
              <div class="col-lg-6" *ngIf="rl == 1">
                <button mat-raised-button color="primary" [disabled]="" (click)="updateProviderCrmStatus()">Link With
                  CRM</button>
              </div>
              <div class="col-lg-6" *ngIf="rl !== 1">
                <button mat-raised-button color="primary" [disabled]="" (click)="getSponsorshipForm()">Next <mat-icon>
                    arrow_forward</mat-icon> </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </ng-container>
  </m-portlet>
</div>

<div *ngIf="showSponsorshipTable">
  <m-portlet>
    <ng-container mPortletHeadTitle>
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Sponsorship Form
        </h3>
      </div>
    </ng-container>
    <ng-container mPortletBody>
      <div class="example-container mat-elevation-z8">
        <form [formGroup]="providerSponsorshipForm">
          <div style="overflow-y: hidden;">
            <table mat-table [dataSource]="dataSource2" formArrayName="sponsorshipArray">
              <ng-container matColumnDef="sn">
                <th mat-header-cell *matHeaderCellDef> S.No. </th>
                <td mat-cell *matCellDef="let element"> {{element.index + 1}} </td>
              </ng-container>

              <ng-container matColumnDef="providerName" sticky >
                <th mat-header-cell *matHeaderCellDef class="z-index"> Name </th>
                <td mat-cell *matCellDef="let element">
                  {{element?.providerName !== '' ? (element?.providerName | titlecase) : '---'}} </td>
              </ng-container>

              <ng-container matColumnDef="providerCode">
                <th mat-header-cell *matHeaderCellDef> Code </th>
                <td mat-cell *matCellDef="let element">
                  {{element?.providerCode !== '' ? (element?.providerCode | titlecase) : '---'}} </td>
              </ng-container>

              <ng-container matColumnDef="investmentType">
                <th mat-header-cell *matHeaderCellDef> Investment Type </th>
                <td mat-cell *matCellDef="let element" [formGroupName]="element.index">
                  <mat-form-field [floatLabel]="'never'">
                    <mat-select formControlName="investmentType" placeholder="Investment Type">
                      <mat-option *ngFor="let investment of investmentTypes" [value]=investment.value>
                        {{investment.viewValue}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="kindOfCRM">
                <th mat-header-cell *matHeaderCellDef> Kind Of CRM </th>
                <td mat-cell *matCellDef="let element" [formGroupName]="element.index">
                  <mat-form-field [floatLabel]="'never'">
                    <mat-select formControlName="kindOfCRM" placeholder="Kind Of CRM">
                      <mat-option *ngFor="let crm of kindOfCRM" [value]=crm.value>
                        {{crm.viewValue}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="modeOfPayment">
                <th mat-header-cell *matHeaderCellDef> Mode Of Payment </th>
                <td mat-cell *matCellDef="let element" [formGroupName]="element.index">
                  <mat-form-field [floatLabel]="'never'">
                    <mat-select formControlName="modeOfPayment" placeholder="Mode Of Payment">
                      <mat-option *ngFor="let mode of modeOfPayment" [value]=mode.value>
                        {{mode.viewValue}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="investmentAmount">
                <th mat-header-cell *matHeaderCellDef> Investment Amount </th>
                <td mat-cell *matCellDef="let element" [formGroupName]="element.index">
                  <mat-form-field [floatLabel]="'never'">
                    <input matInput placeholder="Investment Amount" placeholder="Investment Amount"
                      formControlName="investmentAmount">
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="month">
                <th mat-header-cell *matHeaderCellDef> Month </th>
                <td mat-cell *matCellDef="let element" [formGroupName]="element.index">
                  <m-month (valueChange)="getMonth($event,element.index)" #callMonthComponent></m-month>
                </td>
              </ng-container>
              <ng-container matColumnDef="year">
                <th mat-header-cell *matHeaderCellDef> Year </th>
                <td mat-cell *matCellDef="let element" [formGroupName]="element.index">
                  <m-year (valueChange)="getYear($event,element.index)" #callYearComponent></m-year>
                </td>
              </ng-container>
              <ng-container matColumnDef="investmentMonth">
                <th mat-header-cell *matHeaderCellDef> Investment Month </th>
                <td mat-cell *matCellDef="let element" [formGroupName]="element.index">
                  <m-month (valueChange)="getinvestmentMonth($event,element.index)" #callMonthComponent></m-month>
                </td>
              </ng-container>
              <ng-container matColumnDef="expectedBusiness">
                <th mat-header-cell *matHeaderCellDef> Expected Business During Investment </th>
                <td mat-cell *matCellDef="let element" [formGroupName]="element.index">
                  <mat-form-field [floatLabel]="'never'">
                    <input matInput placeholder="Expected Business" formControlName="expectedBusiness">
                  </mat-form-field>
                </td>
              </ng-container>

              <ng-container matColumnDef="monthOfNextInvestment">
                <th mat-header-cell *matHeaderCellDef> Expected Month of Next Investment </th>
                <td mat-cell *matCellDef="let element" [formGroupName]="element.index">
                  <m-month (valueChange)="getMonthOfNextInvestment($event,element.index)" #callMonthComponent>
                  </m-month>
                </td>
              </ng-container>
              <ng-container matColumnDef="lastYearInvestment">
                <th mat-header-cell *matHeaderCellDef> Last Year Investment </th>
                <td mat-cell *matCellDef="let element" [formGroupName]="element.index">
                  <mat-form-field [floatLabel]="'never'">
                    <input matInput placeholder="Last Year Investment" formControlName="lastYearInvestment">
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="paidTo">
                <th mat-header-cell *matHeaderCellDef> Paid To </th>
                <td mat-cell *matCellDef="let element" [formGroupName]="element.index">
                  <mat-form-field [floatLabel]="'never'">
                    <input matInput formControlName="paidTo" placeholder="Paid To">
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="billNum">
                <th mat-header-cell *matHeaderCellDef> Bill No. </th>
                <td mat-cell *matCellDef="let element" [formGroupName]="element.index">
                  <mat-form-field [floatLabel]="'never'">
                    <input matInput formControlName="billNum" placeholder="Bill Number">
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="remarks">
                <th mat-header-cell *matHeaderCellDef> Remarks </th>
                <td mat-cell *matCellDef="let element" [formGroupName]="element.index">
                  <mat-form-field [floatLabel]="'never'">
                    <input matInput placeholder="Remarks" formControlName="remarks">
                  </mat-form-field>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>
          </div>
          <div>
            <mat-paginator #paginator [length]="dataSource2?.data?.length || 0" [pageSizeOptions]="[5, 10, 20, 50]"
              [pageSize]="5" showFirstLastButtons>
            </mat-paginator>
            <div class="row buttons_position">
              <div class="col-lg-6">
                <button mat-raised-button color="primary" [disabled]="" (click)="submitCrmSponsorship()">Submit
                  Sponsorship</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </ng-container>
  </m-portlet>
</div>

<div class="col-xl-12" *ngIf="showProcessing" align="center">
  <mat-spinner strokeWidth="4" [diameter]="60"></mat-spinner>
</div>