html * {
	-webkit-font-smoothing: antialiased;
}

// h4 {
// 	margin: 2rem 0rem 1rem;
// }

/**
* table Style
*/
table {
	width: 100%;
}
::ng-deep .mat-header-row,
th {
	background: #16a184 !important;
	.mat-header-cell {
		color: #f9f8f8 !important;
		font-size: larger !important;
		letter-spacing: 0.8px !important;
		font-weight: 500 !important;
		text-align: center !important;
		border: 2px solid #f9f8f8 !important;
	}
}

td.mat-cell {
	font-size: 15px !important;
	font-weight: 400 !important;
	letter-spacing: 0.5px !important;
	text-align: center !important;
	// border: 1px solid #16a083b3  !important;
}
.buttons_position {
	margin: -3.5em 0em 1em 0em;
}

/**
* Mat cards
*/
mat-card {
	.mat-header {
		display: flex;
		justify-content: center;
		padding: 2rem 1rem;
	}
}
.mat-card {
	padding: 0px !important;
	// padding-top: 2em !important;
}
.fontclass {
	color: #87878a;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.m--font-info {
	margin-bottom: 0;
	color: #ffffff !important;
	font-weight: 500;
	font-size: 15px;
	background: #16a184;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttons_position {
	margin: -3.5em 0em 1em 0em;
}

.count {
	font-size: 2.5rem;
	font-weight: bold;
	color: #16a184;
}
.mat-form-field {
	font-size: 14px;
	width: 100%;
}

::ng-deep .mat-sort-header-arrow {
	color: #e1efec !important;
	opacity: 0.8 !important;
}
::ng-deep .mat-sort-header-container {
	display: inline-flex !important;
}

::ng-deep .z-index {
	z-index: 301 !important;
}
@media (max-width: 768px) {
	.buttons_position {
		margin: 0em 0em 0em 0em;
		padding: 1rem 0;
	}
	button {
		width: 100%;
	}
}
