<div class="mat-elevation-z8">
	<div>
		<img
			src="./assets/app/media/img/banner/mr-ask-plus-banner.jpg"
			alt="mraskplus"
			width="100%" style="padding: 1.5rem;"
		/>
	</div>
	<div>
		<h4 class="text-justify" style="color: #3c3f54;padding: 0 2rem 1.5rem 2rem;">
			This feature is not available in your current version. To Know more about MR ASK+ please contact us at :
			<b><a href="mailto:support@etech-services.com">support@etech-services.com</a></b> or <b>+91 9999805584</b>.
		</h4>
	</div>
</div>
