<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Tour Program Deviation Report
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <!-- use ng-container[mPortletHeadTools] for the top right toolbar content -->

    <!-- use ng-container[mPortletBody] for the body content -->
    <div mPortletBody [hidden]="!isToggled">
        <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="tpDeviationFilter"
            (ngSubmit)="showReport()">
            <!--begin: Form Body -->
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="m-form__control">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-select placeholder="Select View For" formControlName="viewFor"
                                                (ngModelChange)="showEmployeeFilter($event)">
                                                <mat-option value="teamTPDeviation"
                                                    *ngIf="currentUser.userInfo[0].designationLevel =='0' || currentUser.userInfo[0].designationLevel >'1'">
                                                    Team TP Deviation</mat-option>
                                                <mat-option value="self"
                                                    *ngIf="currentUser.userInfo[0].designationLevel!='0'">Self
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                                    <m-division (valueChange)="getDivisionValue($event)" [check]=false
                                        #callDivisionComponent>
                                    </m-division>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="isDesignationFilterView">
                                    <m-designation [check]=false (valueChange)="getDesignation($event)"
                                        #callDesignationComponent></m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="isDesignationFilterView">
                                    <m-employee (valueChange)="getEmployees($event)" #callEmployeeComponent
                                        [check]=false></m-employee>

                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-month (valueChange)="getMonth($event)" #callMonthComponent></m-month>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-year (valueChange)="getYear($event)" #callYearComponent></m-year>
                                </div>


                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent" [disabled]="!tpDeviationFilter.valid">
                                        <span><i class="la la-check"></i></span> View Report</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>


<m-portlet [options]="{enableSticky: true}" *ngIf="showTPDeviationDetails">
    <!-- use ng-container[mPortletHeadTitle] for the title -->

    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Tour Program Deviation Detail
            </h3>
        </div>

    </ng-container>

    <!-- use ng-container[mPortletHeadTools] for the top right toolbar content -->
    <ng-container mPortletHeadTools>
        <div class="foo grey" style=" font-weight: bold;">{{NoDeviationCount}}</div><b>No Deviation</b>&nbsp;&nbsp;
        <div class="foo blue" style=" font-weight: bold;">{{AdditionalVisitedCount}}</div><b>Additional
            Visited</b>&nbsp;&nbsp;
        <div class="foo red" style=" font-weight: bold;">{{DeviatedCount}} </div><b>Deviated</b>
    </ng-container>
    <!-- use ng-container[mPortletBody] for the body content -->
    <div mPortletHeadTools>
        <div class="col">
            <span matTooltip="Print" matTooltipPosition="above" aria-label="Displays a tooltip"
                (click)="onPreviewClick()"><i class="fa fa-print" style="cursor:pointer; color: blue;font-size: 2em;"
                    aria-hidden="true"></i></span>

        </div>
    </div>

    <div mPortletBody id="tableId1">
        <ng-container mPortletBody>

            <div class="example-container mat-elevation-z8" style="overflow: auto;">

                <table mat-table [dataSource]="dataSource" #mytable matSort ngxMatTableExporter [cdkTable]="mytable"
                    [exporterButton]="exportButton" sheetName="sheet1" fileName="TP Deviation Report">

                    <ng-container matColumnDef="Headquarter">
                        <th mat-header-cell *matHeaderCellDef> Headqaurter </th>
                        <td mat-cell *matCellDef="let element"
                            [style.background-color]="'#' + element.tpDeviationColor">
                            {{element?.districtNameData[0]}} </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="reportDate">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element"
                            [style.background-color]="'#' + element.tpDeviationColor">
                            {{element?.reportDate}} </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="dcrSubmissionDate">
                        <th mat-header-cell *matHeaderCellDef>DCR Punch Date </th>
                        <td mat-cell *matCellDef="let element"
                            [style.background-color]="'#' + element.tpDeviationColor">
                            {{element?.dcrSubmissionDate}} </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="plannedActivity">
                        <th mat-header-cell *matHeaderCellDef>Planned Activity </th>
                        <td mat-cell *matCellDef="let element"
                            [style.background-color]="'#' + element.tpDeviationColor">
                            {{element?.plannedActivity}} </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="plannedArea">
                        <th mat-header-cell *matHeaderCellDef>Planned {{this.currentUser.company.lables.areaLabel}}
                        </th>
                        <td mat-cell *matCellDef="let element"
                            [style.background-color]="'#' + element.tpDeviationColor">
                            {{element?.plannedArea}} </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="areaHqData">
                        <th mat-header-cell *matHeaderCellDef>Actual {{this.currentUser.company.lables.areaLabel}}
                            Headquarter Worked
                        </th>
                        <td mat-cell *matCellDef="let element"
                            [style.background-color]="'#' + element.tpDeviationColor">
                            <ul>
                                <li *ngFor="let val of element.areaHqData">{{val && val[0] && val[0].district &&
                                    val[0].district.districtName ? val[0].district.districtName : '---' }}
                                    --- To ---
                                    {{val && val[1] && val[1].district && val[1].district.districtName ?
                                    val[1].district.districtName : '---'}}
                                </li>
                            </ul>
                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="actualVisitedArea">
                        <th mat-header-cell *matHeaderCellDef>Actual {{this.currentUser.company.lables.areaLabel}}
                            Worked
                        </th>
                        <td mat-cell *matCellDef="let element"
                            [style.background-color]="'#' + element.tpDeviationColor">
                            {{element?.actualVisitedArea}} </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="workWith">
                        <th mat-header-cell *matHeaderCellDef> Work With </th>
                        <td mat-cell *matCellDef="let element"
                            [style.background-color]="'#' + element.tpDeviationColor">
                            {{element?.workWith}} </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="tpDeviationStatus">
                        <th mat-header-cell *matHeaderCellDef> TP Deviation Status</th>
                        <td mat-cell *matCellDef="let element"
                            [style.background-color]="'#' + element.tpDeviationColor">
                            {{element?.tpDeviationStatus}} </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="actualActivity">
                        <th mat-header-cell *matHeaderCellDef> Visit Status </th>
                        <td mat-cell *matCellDef="let element"
                            [style.background-color]="'#' + element.tpDeviationColor">
                            {{element?.actualActivity}} </td>
                        <td mat-footer-cell *matFooterCellDef> Total </td>
                    </ng-container>
                    <ng-container matColumnDef="visitedDoctor">
                        <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.doctorLabel}} Visit
                        </th>
                        <td mat-cell *matCellDef="let element"
                            [style.background-color]="'#' + element.tpDeviationColor">
                            {{element?.visitedDoctor}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{totalDoctorVisited}} </td>
                    </ng-container>
                    <ng-container matColumnDef="visitedChemist">
                        <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.vendorLabel}} Visit
                        </th>
                        <td mat-cell *matCellDef="let element"
                            [style.background-color]="'#' + element.tpDeviationColor">
                            {{element?.visitedChemist}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{totalVendorVisited}} </td>
                    </ng-container>
                    <ng-container matColumnDef="visitedStockist">
                        <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.stockistLabel}} Visit
                        </th>
                        <td mat-cell *matCellDef="let element"
                            [style.background-color]="'#' + element.tpDeviationColor">
                            {{element?.visitedStockist}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{totalStockistVisited}} </td>
                    </ng-container>

                    <!--
                <ng-container matColumnDef="tpDeviationColor">
                    <th mat-header-cell *matHeaderCellDef> Color</th>
                    <td mat-cell *matCellDef="let element" [style.background-color]="'#' + element.tpDeviationColor"> {{element.tpDeviationColor}} </td>
                </ng-container>
            -->

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                </table>
                <mat-paginator #paginator [length]="dataSource?.data?.length || 0" [pageSizeOptions]="[5, 10, 50]"
                    [pageSize]="10" showFirstLastButtons>
                </mat-paginator>

            </div>
            <br>
            <div align="center">
                <button mat-raised-button color="accent" #exportButton>
                    <span>
                        <i class="la la-download"></i>
                    </span>Download</button>
            </div>


        </ng-container>
    </div>
</m-portlet>

<ng-container>
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</ng-container>