*{
    list-style-type: none;
}

.foo {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    padding: 4px 36px 22px 15px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.grey {
    background: #ebebe0;
}

.blue {
    background: #cce6ff;
}

.red {
    background: #ffcccc;
}

tr.mat-footer-row {
    font-weight: bold;
}

.mat-table-sticky {
    border-top: 1px solid #e0e0e0;
}
