<m-portlet [options]="{enableSticky: true}">
  <div mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        {{currentUser.company.lables.doctorLabel+'  '+currentUser.company.lables.vendorLabel}} Linking Report
      </h3>
    </div>
  </div>
  <div mPortletBody>
    <div class="row"> 
      <div class="col-lg-3" [hidden]="hideDivisionFilter">
        <m-division (valueChange)="getDivisionValue($event)" [check]=true [required]=false #callDivisionComponent>
        </m-division>
      </div>
      <div class="col-lg-3">
        <m-designation [check]=false (valueChange)="getDesignation($event)" [required]=false #callDesignationComponent></m-designation>
      </div>
      <div class="col-lg-3">
        <m-employee [check]=false (valueChange)="getEmployee($event)" [required]=false #callEmployeeComponent></m-employee>
      </div>
    </div>
  </div>
</m-portlet>

<m-portlet [options]="{enableSticky: true}" *ngIf="loader == 2 ">
  <div mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        {{currentUser.company.lables.doctorLabel+'  '+currentUser.company.lables.vendorLabel}} Linked Details
      </h3>
    </div>
  </div>
  <div mPortletHeadTools>
    <div style="float: right;">
      <!-- <button mat-stroked-button (click)='PrintTableFunction()'>Print</button> -->
      <span matTooltip="Print" matTooltipPosition="above" aria-label="Displays a tooltip"
        (click)="PrintTableFunction()"><i class="fa fa-print"
          style="cursor:pointer; color: blue;font-size: 2em;margin-right: 5px;" aria-hidden="true"></i></span>
      <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
        style="float: right;" (click)="exporttoExcel()"><i class="fa fa-file-excel"
          style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i></span>
    </div>
  </div>
  <div mPortletBody>
    <div class="row">
      <div class="col-lg-5">
        <mat-form-field>
          <!-- <mat-label>Filter</mat-label> -->
          <input matInput (keyup)="applyFilter($event)" placeholder="Search Doctor Wise">
        </mat-form-field>
      </div>
    </div>
    <div id="tabledivId1">
    <table mat-table [dataSource]="dataSource" id="tableId1">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> S No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
      </ng-container>
      <ng-container matColumnDef="doctor">
        <th mat-header-cell *matHeaderCellDef> {{currentUser.company.lables.doctorLabel}} </th>
        <td mat-cell *matCellDef="let element"> {{element.doctorName}} </td>
      </ng-container>
      <ng-container matColumnDef="chemists">
        <th mat-header-cell *matHeaderCellDef>{{currentUser.company.lables.vendorLabel+'s'}} </th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-list >
            <mat-chip *ngFor="let el of element.chemistList" [removable]="removable"
            (removed)="remove(element, el)">
              {{el.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>
      <!-- <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
    </table>
  </div>
    <div *ngIf="dataSource?.length === 0 && loader == 2 ">No records found</div>
    <mat-paginator #paginator [pageSizeOptions]=[5,20,50,100] [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</m-portlet>

<div class="loader" *ngIf="loader < 2">
  <img src="assets/app/media/img/processing/loading.gif" >
</div>
