<m-portlet [options]="{enableSticky: true}">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                {{this.currentUser.company.lables.areaLabel}} Edit Form
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletBody>
        <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="editAreaForm">
            <div class="row">
                <div class="col-xl-12 ">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group m-form__group row">

                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>{{this.currentUser.company.lables.areaLabel}} Name</mat-label>
                                    <input matInput required formControlName="areaName" placeholder="Name"
                                        value={{data.obj.areaName}}>
                                    <mat-error>{{this.currentUser.company.lables.areaLabel}} Name is required!!!
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>{{this.currentUser.company.lables.areaLabel}} Code</mat-label>
                                    <input matInput formControlName="areaCode" placeholder="Code"
                                        value={{data.obj.areaCode}}>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field>
                                    <mat-select formControlName="type" placeholder="Area Type">
                                        <mat-option *ngFor="let area of areaTypes" [value]="area">
                                            {{area}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div mat-dialog-actions>
                <button mat-raised-button color="accent" [disabled]="!editAreaForm.valid" [mat-dialog-close]="1"
                    (click)="saveEditedData()">Save</button>
                <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
            </div>
        </form>
    </ng-container>
</m-portlet>