<script src="/home/lenovo/PraveenWorkspace/GitProject/Git/mrreporting-webapp/src/assets/amchart/plugins/export/libs/FileSaver.js/FileSaver.js" type="text/javascript"></script>

<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Employee Attendance Report
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='attendanceForm' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewRecords()">
            <div class="m-portlet__body">
                <div class="row" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'">
                    <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
                </div>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row" [hidden]=!showAdminAndMGRLevelFilter>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                                    <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent></m-division>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showState">
                                    <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent></m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showDistrict">
                                    <m-district [check]=true (valueChange)="getDistrictValue($event)" #callDistrictComponent></m-district>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                                    <m-designation (valueChange)="getDesignation($event)" #callMonthComponent></m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                                    <m-employee [check]=true (valueChange)="getEmployeeValue($event)" #callEmployeeComponent></m-employee>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-month (valueChange)="getMonth($event)" #callMonthComponent></m-month>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-year (valueChange)="getYear($event)" #callYearComponent></m-year>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent" [disabled]="!attendanceForm.valid"><span><i class="la la-check"></i></span>View Status</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </form>


    </div>

</m-portlet>


<ng-container mPortletBody *ngIf="showReport">
    <div class="m-portlet">
        <div class="m-portlet__body m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-12">
                    <div class="m-widget14">
                        <ng-container mPortletHeadTitle>
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Attendance Detail
                                </h3>
                            </div>
                        </ng-container>
                        <hr /><br />
                        <div>
                            <table class="GeneratedTable table-responsive" id="tableId1">
                                <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th *ngIf="isShowDivision">Division</th>
                                        <th>State Name</th>
                                        <th>District Name</th>
                                        <th>Designation</th>
                                        <th >Name</th>
                                        <th *ngFor="let column of columns">{{column}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of dataSource ; let i=index">
                                        <td>
                                            {{i+1}}
                                        </td>
                                        <td *ngIf="isShowDivision">{{data.divisionName}}</td>
                                        <td>
                                            {{data.stateName}}
                                        </td>
                                        <td>
                                            {{data.districtName}}
                                        </td>
                                        <td>
                                            {{data.designation}}
                                        </td>
                                        <td >
                                            {{data.name}}
                                        </td>
                                        <ng-container *ngFor="let date of data.dateArray">
                                            <td *ngIf="date.sunday == true &&( date.dayPlan==false ||date.dayPlan=='--') " style="background-color:rgb(247, 147, 122);"><b> Sun</b></td>
                                            <td *ngIf="date.sunday == true &&( date.dayPlan!=false && date.dayPlan!='--')" style="background-color:rgb(52, 224, 17);"><b>Yes</b></td>
                                            <td *ngIf="date.sunday == false &&( date.dayPlan== '--')"> ----</td>
                                            <td *ngIf="date.sunday == false &&( date.dayPlan== false)"><b>No</b></td>
                                            <td *ngIf="date.sunday == false &&( date.dayPlan== true)"><button mat-raised-button color="accent"  (click)="getUserattendence(data,date)">Yes</button></td>
                                        </ng-container>
                                    </tr>
            
                                </tbody>
                            </table>
                            <br>
            
                        </div>
                        <div align="center">
                            <button mat-raised-button color="accent" (click)="exporttoExcel();">
                                <span>
                                    <i class="la la-download"></i>
                                </span>Download</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- user attendence report ---mahender  -->


</ng-container>



<ng-container mPortletBody *ngIf="showDCRSummary">
    <div class="m-portlet">
        <div class="m-portlet__body m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-12">
                    <div class="m-widget14">
                        <div mPortletHeadTitle>
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Attendance Report
                                </h3>
                                <br>
                                <div class="col-lg-12 jointWorkDetails">
                                    <table class="display table-responsive" style="width:100%">
                                        <thead>
                                            <tr >
                                                <th width="10%">Date</th>
                                                <th width="10%">Provider Name</th>
                                                <th width="10%">AreaName</th>
                                                <th width="10%">Providertype</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            <tr *ngFor="let item of resultprovider;">
                                                <td class="jointWorkDays" width="10%">{{item.date}}</td>
                                                <td>{{item.Name}}</td>
                                                <td width="10%">{{item.areaName}}</td>
                                                <td width="10%">{{item.providerType}}</td>

                                            </tr>
                                        </tbody>
                                        <!-- <tfoot>
                                            <tr>
                                                <th colspan="2">TOTAL</th>
                                                <th>12</th>
                                            </tr>
                                        </tfoot> -->
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>



<div class="col-xl-12" *ngIf="showProcessing" align="center">
    <img src="assets/app/media/img/processing/loading.gif">
</div>
