<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-grid--hor-tablet-and-mobile m-login m-login--6"
    id="m_login">
    <div class="m-grid__item   m-grid__item--order-tablet-and-mobile-2 m-grid m-grid--hor m-login__aside"
        style="background-image: url(assets/app/media/img/bg/bg-7.jpg); background-position: center center; background-size: cover ;opacity: 0.8;">
        <div class=" m-grid__item ">
            <div class="m-login__logo ">
                <a href="# ">
                    <img src="./assets/app/media/img/logos/logo-4.png ">
                </a>
            </div>
        </div>

        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver ">
            <div class="m-grid__item m-grid__item--middle ">
                <span class="m-login__title ">
                    <!-- Finally, A Software that makes Perfect Business Sense. -->
                    <span class="tw" #tw2> </span><span #tw3></span>
                </span>
                <span class="m-login__subtitle ">
                                    <!-- <span class="m-login__subtitle ">MR Reporting from E-tech.</span> -->

                    <span class="tw" #tw></span>
                </span>
            </div>
        </div>

        <div class="m-grid__item ">
            <div class="m-login__info ">
                <div class="m-login__section ">
                    <a href="javascript:; " class="m-link ">&copy; {{today | date:'yyyy'}} MR Reporting</a>
                </div>
                <div class="m-login__section ">
                    <a href="javascript:; " class="m-link ">Privacy</a>
                    <a href="javascript:; " class="m-link ">Legal</a>
                    <a href="javascript:; " class="m-link ">Contact</a>
                </div>
            </div>
        </div>
    </div>

    <div class="m-grid__item m-grid__item--fluid m-grid__item--order-tablet-and-mobile-1 m-login__wrapper ">

        <!--begin::Body-->
        <div class="m-login__body ">
            <m-login *ngIf="action==='login' " [(action)]="action "></m-login>


            <m-forgot-password *ngIf="action==='forgot-password' " [(action)]="action "></m-forgot-password>
        </div>
        <!--end::Body-->
    </div>
</div>