tr:nth-of-type(odd) {
    background: #eee;
}

th {
    z-index: 1;
}

table.GeneratedTable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #080808;
    border-style: solid;
    color: #0e0e0ef2;
    font-weight: 400;
}

table.GeneratedTable td,
table.GeneratedTable th {
    border-width: 1px;
    border-color: #a5a5a5;
    border-style: solid;
    padding: 0.6em 1em;
    position: sticky;
    top: 0;
}

table.GeneratedTable thead {
    background-color: #16a184;
}