<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Secondary Sales Status Report
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='salesStatusForm' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewRecords()">
            <div class="m-portlet__body">
                <!-- <div class="row" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'"> -->
                <div class="row col-xl-12">
                    <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
                </div>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row" [hidden]=!showAdminAndMGRLevelFilter>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                                    <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent>
                                    </m-division>
                                    <!-- <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type> -->
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showState">
                                    <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                                    </m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showDistrict">
                                    <m-district [check]=true (valueChange)="getDistrictValue($event)" #callDistrictComponent></m-district>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                                    <m-designation (valueChange)="getDesignation($event)" #callMonthComponent [check]=true>
                                    </m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                                    <m-employee [check]=true (valueChange)="getEmployeeValue($event)" #callEmployeeComponent></m-employee>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-month (valueChange)="getMonth($event)" #callMonthComponent></m-month>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-year (valueChange)="getYear($event)" #callYearComponent></m-year>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent" [disabled]="!salesStatusForm.valid"><span><i class="la la-check"></i></span>View
                                        Status</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>



    </div>
</m-portlet>

<div *ngIf="showReport">
    <m-portlet>
        <!-- use ng-container[mPortletHeadTitle] for the title -->
        <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Secondary Sales Status Report
                </h3>
            </div>
        </ng-container>
        <div mPortletHeadTools>
            <button mat-raised-button color="accent" (click)="exporttoExcel();">
                <span>
                    <i class="la la-download"></i>
                </span>Download</button>
        </div>
        <div mPortletBody>
            <div style="max-height: 400px;overflow:auto;" id="tableId1">
                <table class="GeneratedTable">
                    <thead>
                        <tr>
                            <th *ngIf="isShowDivision" rowspan="2">Division</th>
                            <th rowspan="2">Employee Name</th>
                            <th rowspan="2">Stockiest Name</th>
                            <th rowspan="2">Status</th>
                            <th rowspan="2">Submission Date</th>

                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let d of data; let $index = index">
                            <td *ngIf="isShowDivision">{{d.divisionName}}</td>
                            <td>
                                {{d.userName}}
                            </td>
                            <td>
                                {{d.partyName}}
                            </td>
                            <td>
                                {{d.status}}
                            </td>
                            <td>
                                {{d.createdAt == "-----" ? d.createdAt : d.createdAt | date}}
                            </td>


                        </tr>
                    </tbody>
                </table>


            </div>

        </div>
    </m-portlet>
</div>

<div class="col-xl-12" *ngIf="showProcessing" align="center">
    <img src="assets/app/media/img/processing/loading.gif">
</div>