<div class="container">

  <div class="d-flex justify-content-between">
    <h1 mat-dialog-title>Assign {{doctorData.labels.chemistLabel}}/{{doctorData.labels.stockistLabel}} to {{doctorData.doctorDetails.providerName}}</h1>
  </div>

  <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="fg">
    <div class="row">
      <div class="col-xl-12 ">
        <div class="m-form__section m-form__section--first">
          <div class="form-group m-form__group row">
            <div class="col-lg-6 m-form__group-sub">
              <mat-form-field style="width:100%;">
                <mat-select placeholder="Select {{doctorData.labels.chemistLabel}}" multiple=true  [(ngModel)]="selectedChemist"
                  (selectionChange)=selectChemist($event) formControlName="chemist">
                  <mat-option *ngFor="let item of doctorData.chemistList" [value]="item.id">
                    {{item.providerName}}&nbsp;--&nbsp;{{item.address}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-6 m-form__group-sub">
              <mat-form-field style="width:100%;">
                <mat-select placeholder="Select {{doctorData.labels.stockistLabel}}" multiple=true [(ngModel)]="selectedStockist"
                  (selectionChange)=selectStockist($event) formControlName="stockist">
                  <mat-option *ngFor="let item of doctorData.stockistList" [value]="item.id" >
                    {{item.providerName}}&nbsp;--&nbsp;{{item.address}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

<<<<<<< HEAD
  <button mat-raised-button class="btn" (click)="Update()" color="accent" tabindex="-1">Save</button>
=======
  <button mat-raised-button class="btn" (click)="Update()" color="accent"  tabindex="-1">Save</button>
>>>>>>> 0e29dda61b00a4b50916755c632fc50878322fae
  <button mat-raised-button class="btn" (click)="closeModel()" color="accent"  tabindex="-1">Cancel</button>

</div>