<m-portlet>
  <div mPortletHeadTitle>
    <h3 class="m-portlet__head-text">
      Excel Report
    </h3>
  </div>
  <div mPortletHeadTitle>
    <div>
      <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
  </div>
  <div mPortletBody>
    <form [formGroup]='excelForm' (ngSubmit)='viewRecords()'>
      <div class="m-portlet__body">
        <div class="row col-lg-12">
          <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">
                <div class="col-lg-3 m-form__group-sub"><!-- Type -->
                  <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="isShowDivision"><!-- division -->
                  <mat-form-field class="mat-form-field-fluid">
                    <mat-select placeholder="Select Division" required formControlName='division' (selectionChange)='getDivisionValue($event.value)' multiple=true>
                      <!-- <mat-option [value]="0" (click)="toggleAllSelection()" style="background-color: #16a184;
                      color: white;">Select All</mat-option>   -->
                      <mat-option *ngFor="let division of divisionData" [value]="division.divisionId">
                            {{division.divisionName}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Division is required!!!</mat-error>
                </mat-form-field>
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="showState"><!-- State -->
                  <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                  </m-state>
                </div>
                <div class="col-lg-3 m-form__group-sub" [hidden]='!showDistrict'><!-- HQ -->
                  <m-district [check]=true (valueChange)="getDistrictValue($event)" #callDistrictComponent></m-district>
                </div><!-- Headquarter -->
                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                  <m-designation (valueChange)="getDesignation($event)" #callDesignationComponent
                      [check]=true></m-designation>
                </div><!-- Designation -->
                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                  <m-employee [check]=true (valueChange)="getEmployeeValue($event)"
                      #callEmployeeComponent></m-employee>
                </div><!-- Employee -->
                <div class="col-lg-3 m-form__group-sub"><!-- Calender -->
                  <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                </div>
                <div class="col-lg-3 m-form__group-sub"><!-- calender -->
                  <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <button mat-raised-button color="accent" [disabled]="!excelForm.valid"><span><i
                              class="la la-check"></i></span> View
                      Excel Sheet</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</m-portlet>