.under_process{
    background: white;
    height: calc(100vh - 190px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 600;
    p{
        color: #02b181;
    }
}