<m-portlet [options]="{enableSticky: true}">
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        MR Stockist Mapped Report
      </h3>
    </div>
  </ng-container>
  <div mPortletHeadTools>
    <div>
        <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
</div> 
  <!-- use ng-container[mPortletHeadTools] for the top right toolbar content -->

  <!-- use ng-container[mPortletBody] for the body content -->
  <div mPortletBody [hidden]="!isToggled">
    <form [formGroup]='viewForm' class="m-form m-form--label-align-left- m-form--state" (ngSubmit)="viewRecords()">
      <div class="m-portlet__body">
        <div class="row">
          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">
                <div class="col-lg-3 m-form__group-sub">
                  <m-state [check]=false (valueChange)="getStateValue($event)"></m-state>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <m-district [check]=true (valueChange)="getEmployeeListDistrictsBasis($event)" #callDistrictComponent></m-district>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <m-employee [check]=true (valueChange)="getEmployeeValue($event)" #callEmployeeComponent></m-employee>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <button mat-raised-button color="accent" [disabled]="!viewForm.valid"><span><i class="la la-check"></i></span>View
                    Status</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</m-portlet>

<div *ngIf="isShowUserStokistMapped">
  <m-portlet>
    <ng-container mPortletHeadTitle>
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Stockist Mapped Detail
        </h3>
      </div>
    </ng-container>
    <ng-container mPortletBody>
      <div class="row">
        <div class="col-xl-12" >
          <div class="table-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null"
                    [checked]="selection.isSelected(element)"></mat-checkbox>
                </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="districtName">
                <th mat-header-cell *matHeaderCellDef>District Name </th>
                <td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="stockistName">
                <th mat-header-cell *matHeaderCellDef>Stockist Name </th>
                <td mat-cell *matCellDef="let element"> {{element.stockistName}} </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="userName">
                <th mat-header-cell *matHeaderCellDef>User Name </th>
                <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div>
              <mat-paginator #paginator [length]="dataSource?.data?.length || 0" [pageSizeOptions]="[5, 10, 20, 50]"
                [pageSize]="5" showFirstLastButtons>
              </mat-paginator>
            </div>
          </div>
          <div class="m-separator m-separator--dashed m-separator--lg"></div>
          <div class="row">
            <div class="col-lg-3 m-form__group-sub">
              <label class="form-control-label">&nbsp; </label>
              <button mat-raised-button color="accent" (click)="delete(selection._selected)" [disabled]="!selection._selected">Delete
                Stockists</button>
            </div>
          </div>
        </div>
  
      </div>
    </ng-container>
  </m-portlet>
</div>