<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Target Vs Achievement
            </h3>
        </div>
    </ng-container>

    <!-- use ng-container[mPortletHeadTools] for the top right toolbar content -->

    <!-- use ng-container[mPortletBody] for the body content -->
    <ng-container mPortletBody>
        <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="TvsAFilter" (ngSubmit)="showReport()">
            <!--begin: Form Body -->
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub" [hidden]="hideState">
                                    <label class="form-control-label">* State: </label>
                                    <m-state (valueChange)="getStateValue($event)" [check]=false></m-state>
                                </div>

                                <div class="col-lg-3 m-form__group-sub" [hidden]="hideDistrict">
                                    <label class="form-control-label">* {{this.currentUser.company.lables.hqLabel}} :</label>
                                    <div class="m-form__control">
                                        <m-district [check]=true (valueChange)="getDistrictValue($event)" #callDistrictComponent></m-district>
                                    </div>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">* Month:</label>
                                    <m-month (valueChange)="getMonth($event)" #callMonthComponent></m-month>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">* Year:</label>
                                    <m-year (valueChange)="getYear($event)" #callYearComponent></m-year>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">&nbsp;</label>
                                    <button mat-raised-button color="accent" [disabled]="!TvsAFilter.valid"><span><i class="la la-check"></i></span>View Data</button>
                                </div>

                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </form>

    </ng-container>
</m-portlet>

<ng-container>
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</ng-container>

<m-portlet *ngIf="showTable">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Target Vs Achievement Details
            </h3>
        </div>
    </ng-container>
   
    <div mPortletHeadTools>
        <div>
            <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
                style="float: right;" class="col-sm-1" (click)="exporttoExcel()"><i class="fa fa-file-excel"
                    style="cursor:pointer; color: rgb(9, 175, 9);font-size: 2em;" aria-hidden="true"></i></span>
        </div>
    </div>

    <ng-container mPortletBody>
        

        <div class="example-container mat-elevation-z8" style="overflow: auto;">

            <table mat-table [dataSource]="dataSource" id="tableId1">
                <ng-container matColumnDef="districtName">
                    <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.hqLabel}} </th>
                    <td mat-cell *matCellDef="let element"> {{element?.districtName}} </td>
                    <td mat-footer-cell *matFooterCellDef><b> Total</b> </td>

                </ng-container>
                <ng-container matColumnDef="target">
                    <th mat-header-cell *matHeaderCellDef> Target </th>
                    <td mat-cell *matCellDef="let element"> {{element?.target}} </td>
                    <td mat-footer-cell *matFooterCellDef><b>{{totalTarget}}</b> </td>

                </ng-container>
                <ng-container matColumnDef="primary">
                    <th mat-header-cell *matHeaderCellDef> Primary </th>
                    <td mat-cell *matCellDef="let element"> {{element?.primary}} </td>
                    <td mat-footer-cell *matFooterCellDef><b> {{totalPrimary}}</b> </td>

                </ng-container>
                <ng-container matColumnDef="secondary">
                    <th mat-header-cell *matHeaderCellDef> Secondary </th>
                    <td mat-cell *matCellDef="let element"> {{element?.secondary}}</td>
                    <td mat-footer-cell *matFooterCellDef><b> {{totalSecondary}}</b> </td>

                </ng-container>
                <ng-container matColumnDef="perAchAmt">
                    <th mat-header-cell *matHeaderCellDef> Achienemet % </th>
                    <td mat-cell *matCellDef="let element"> {{element?.perAchAmt}} %</td>
                    <td mat-footer-cell *matFooterCellDef><b> {{totalachienemetPercentage}} %</b> </td>

                </ng-container>
                <ng-container matColumnDef="clossing">
                    <th mat-header-cell *matHeaderCellDef> Clossing </th>
                    <td mat-cell *matCellDef="let element"> {{element?.clossing}}</td>
                    <td mat-footer-cell *matFooterCellDef><b> {{totalClossing}}</b> </td>

                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>

            </table> 

        </div>
    </ng-container>
</m-portlet>