<form [formGroup]="form">
    <mat-horizontal-stepper #matHorizontalStepper #stepper>
        <mat-step *ngFor="let step of steps; let index = index; let last = last;">
            <ng-template matStepLabel>{{ step.label }}</ng-template>
            <formly-form [form]="form.at(index)" [model]="model" [fields]="step.fields" [options]="options[index]">
            </formly-form>
            <br/>
            
    <ng-container mPortletHeadTitle  *ngIf="last">
      <br/>
   
    <div style="margin-left: 10px;margin-right: 10px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 mat-dialog-title align="left">Manager Investment Preview </h1>
                </div>
                
            </div>
     
  
    </div>
  
    <hr/>
  </ng-container>
  <mat-dialog-content class="mat-typography"  *ngIf="last">
  <ng-container mPortletBody>
  
  
    <div class="row example-card" style="background-color: #16a184;height: 33px;margin-left: 10px;margin-right: 10px;">
        <h4 style="color: rgb(235, 235, 235)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Manager Investment Basic Info </h4>
    </div>
    <div class="row">
        <br/>
    </div>
    <div class="row example-card" style="margin-left: 10px;margin-right: 10px;">
  
      <div class="col-lg-3 m-form__group-sub">
          <label class="form-control-label"> Submission Date : &nbsp;</label> {{dataSource.submissionDate | date:"dd-mm-yyy"}}
      </div>
        
        <div class="col-lg-3 m-form__group-sub">
            <label class="form-control-label">Remarks :  &nbsp; </label>
            <span *ngIf="dataSource.remarks!=undefined">{{dataSource.remarks}}</span>
        </div>
        <div class="row">
            <br/> <br/><br/>
        </div>
  
        <div class="col-lg-3 m-form__group-sub">
            <label class="form-control-label">
                        Work With : &nbsp;</label>
           <ul class="ul">
                <li *ngFor="let l of dataSource.jointWork" class="li">
                    {{l.Name}}
                </li>
            </ul>
        </div>
  
        <div class="col-lg-6 m-form__group-sub">
            <label class="form-control-label">{{this.currentUser.company.lables.areaLabel}} :  &nbsp;</label>
            <ol class="ol">
                <li *ngFor="let l of dataSource.visitedBlock">
                    {{l.from}} --- {{l.to}}
                </li>
            </ol>
        </div>
  
  
    </div>
  
  
  
  
    <div class="m-separator m-separator--dashed m-separator--lg"></div>
  
  
  
    <mat-tab-group >
         <mat-tab label="{{this.currentUser.company.lables.doctorLabel}}">
            <div class="example-container mat-elevation-z8">
                <table align="center" class="table table-striped div">
                    <thead>
  
                        <tr class="tr">
                            <th> {{this.currentUser.company.lables.doctorLabel}} Name </th>
                            <th> Joint Work With </th>
                            <th> Product Detail </th>
                            <th> Product POB </th>
                            <th> Total POB </th>
                            <th> Gift Detail </th>
                            <th> Gift Values </th>
                            <th> Remarks </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let l of dataSource.info" align="center">
                            <td *ngIf="l.providerType=='RMP'"> {{l.providerinfo.providerName}} </td>
                            <td *ngIf="l.providerType=='RMP'">
                                <ol>
                                    <li *ngFor="let n of l.jointWorkWithId">
                                        {{n.Name}}
                                    </li>
                                </ol>
  
                            </td>
                            
                            <td *ngIf="l.providerType=='RMP'">
                                <ol>
                                    <li *ngFor="let n of l.productDetails">
                                        {{n.productName}} --- {{n.productSold}}--- {{n.productFreeQty}}
                                    </li>
                                </ol>
                            </td>
                            <td *ngIf="l.providerType=='RMP'">
                              <ol>
                                  <li *ngFor="let n of l.productDetails">
                                      {{n.pob.toFixed(2)}} 
                                  </li>
                              </ol>
                          </td>
                            <td *ngIf="l.providerType=='RMP'">
                              <ol>
                                  <li *ngFor="let n of l.productDetails">
                                      {{n.pob.toFixed(2)}}
                                  </li>
                              </ol>
                          </td>
                            <td *ngIf="l.providerType=='RMP'">
                                <ol>
                                    <li *ngFor="let n of l.giftDetails">
                                        {{n.giftName}} --- {{n.giftQty}}
                                    </li>
                                </ol>
                            </td>
                            <td *ngIf="l.providerType=='RMP'">
                              <ol>
                                  <li *ngFor="let n of l.giftDetails">
                                      {{n.giftPrice}}
                                  </li>
                              </ol>
                          </td>
                            <td *ngIf="l.providerType=='RMP' && dataSource.remarks!=undefined"> {{l.remarks}} </td>
                        </tr>
                    </tbody>
                </table>
  
            </div>
  
        </mat-tab>
        <mat-tab label="{{this.currentUser.company.lables.vendorLabel}}">
            <div class="example-container mat-elevation-z8">
                <table align="center" class="table div">
                    <tr class="tr">
                        <!--  <th>{{this.currentUser.company.lables.areaLabel}} Name </th>-->
                        <th>{{this.currentUser.company.lables.vendorLabel}} Name</th>
                        <th>Product Detail</th>
                        <th>POB </th>
                        <th>Gift Details </th>
                        <th> Remarks </th>
                    </tr>
                    <tr *ngFor="let l of dataSource.info" align="center">
                       <!--   <td *ngIf="l.providerType=='Drug' && l.block!=undefined"> {{l.block.areaName}} </td> -->
                        <td *ngIf="l.providerType=='Drug'"> {{l.providerinfo.providerName}} </td>
                           <td *ngIf="l.providerType=='Drug'">
                            <table>
                                <tr *ngFor="let n of l.productDetails">
                                    <td>  {{n.productName}} --- {{n.productSold}}--- {{n.productFreeQty}}</td>
                                </tr>
                            </table>
                        </td>
                        <td *ngIf="l.providerType=='Drug'">
                          <table>
                              <tr *ngFor="let n of l.productDetails">
                                  <td> {{n.pob.toFixed(2)}}</td>
                              </tr>
                          </table>
                      </td>
                      <td *ngIf="l.providerType=='Drug'">
                          <ol>
                              <li *ngFor="let n of l.giftDetails">
                                  {{n.giftName}} --- {{n.giftQty}}
                              </li>
                          </ol>
                      </td>
                        <td *ngIf="l.providerType=='Drug'"> {{l.remarks}} </td>
                    </tr>
                </table>
  
            </div>
  
        </mat-tab>
        <mat-tab label="{{this.currentUser.company.lables.stockistLabel}}">
            <div class="example-container mat-elevation-z8">
                <table align="center" class="table div">
                    <tr class="tr">
                        <!--  <th>{{this.currentUser.company.lables.areaLabel}} Name </th>-->
  
                        <th>{{this.currentUser.company.lables.vendorLabel}} Name</th>
                        <th>Product Detail</th>
                        <th>POB</th>
                        <th>Gift Details</th>
                        <th> Remarks </th>
                    </tr>
                    <tr *ngFor="let l of dataSource.info" align="center">
                       <!--   <td *ngIf="l.providerType=='Stockist' && l.block!=undefined"> {{l.block.areaName}} </td> -->
                        <td *ngIf="l.providerType=='Stockist'"> {{l.providerinfo.providerName}} </td>
                        <td *ngIf="l.providerType=='Stockist'">
                            <table>
                                <tr *ngFor="let n of l.productDetails">
                                    <td>  {{n.productName}} --- {{n.productSold}}--- {{n.productFreeQty}}</td>
                                </tr>
                            </table>
                        </td>
                        <td *ngIf="l.providerType=='Stockist'">
                          <table>
                              <tr *ngFor="let n of l.productDetails">
                                  <td>  {{n.pob.toFixed(2)}} </td>
                              </tr>
                          </table>
                      </td>
                        <td *ngIf="l.providerType=='Stockist'"> {{l.remarks}} </td>
                    </tr>
                </table>
  
            </div>
  
        </mat-tab>
        
    </mat-tab-group>
  </ng-container>
  </mat-dialog-content>
  <br>
            <div>
                <button *ngIf="index !== 0" matStepperPrevious class="btn btn-primary" type="button" (click)="prevStep(index)" style="background-color: blue">Back</button>&nbsp;&nbsp;
                <button *ngIf="!last" class="btn btn-primary" type="button" [disabled]="!form.at(index).valid" (click)="nextStep(index,stepper)">Next</button>&nbsp;&nbsp;
                  <button *ngIf="last" class="btn btn-primary" [disabled]="!form.valid" (click)="submit(stepper)">Final Submit</button>
            </div>
        </mat-step>
  
    </mat-horizontal-stepper>
  
  </form>