<!-- <m-portlet [options]="{enableSticky: true}">
     use ng-container[mPortletHeadTitle] for the title
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                User's List
            </h3>
        </div>
    </ng-container>

     use ng-container[mPortletHeadTools] for the top right toolbar content -->

<!-- use ng-container[mPortletBody] for the body content
    <ng-container mPortletBody
        <form [formGroup]='userForm' class="m-form m-form--label-align-left- m-form--state" (ngSubmit)="getUsers()">

            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">

                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                                    <m-division (valueChange)="getDivisionValue($event)" [check]=true #callDivisionComponent>
                                    </m-division>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent></m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">&nbsp; </label>
                                    <button mat-raised-button color="accent" [disabled]="!userForm.valid"><span><i class="la la-check"></i></span>Get
										User's</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-container>
</m-portlet>



<div class="m-portlet" [hidden]="!isShowUsersInfo">
    <div class="m-portlet__body m-portlet__body--no-padding">
        <div class="row m-row--no-padding m-row--col-separator-xl">
            <div class="col-xl-12">
                <div class="m-widget14">
                    <ng-container mPortletHeadTitle>
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                User Details
                            </h3>
                        </div>
                    </ng-container>
                    <hr /><br />

                    <table #userDataTable class="display" style="width:100%">

                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->

<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                User List
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <!-- use ng-container[mPortletHeadTools] for the top right toolbar content -->

    <!-- use ng-container[mPortletBody] for the body content -->
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='userForm' class="m-form m-form--label-align-left- m-form--state" (ngSubmit)="getUsers()">
            <div class="m-portlet__body">
                <div class="row" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'">
                    <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
                </div>
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row" [hidden]=!showAdminAndMGRLevelFilter>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                                    <m-division (valueChange)="getDivisionValue($event)" [check]=true
                                        #callDivisionComponent>
                                    </m-division>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showState">
                                    <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                                    </m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showDistrict">
                                    <m-district [check]=true (valueChange)="getDistrictValue($event)"
                                        #callDistrictComponent></m-district>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                                    <m-designation (valueChange)="getDesignation($event)" #callMonthComponent
                                        [check]=true></m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                                    <m-employee [check]=true (valueChange)="getEmployeeValue($event)"
                                        #callEmployeeComponent></m-employee>
                                </div>
                                <!-- <div class="col-lg-3 m-form__group-sub">
                                    <mat-form-field style="width:100%;">
                                        <mat-select placeholder="Select Status" formControlName='status'>
                                            <mat-option [value]="true">
                                                Active
                                            </mat-option>
                                            <mat-option [value]="false">
                                                InActive
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
								</div> -->


							<!-- *************************Umesh 13-05-2020	*************************** -->

								 <div class="col-lg-3 m-form__group-sub" >
                                    <m-status [check]=true (valueChange)="getStatusValue($event)" #callStatusComponent></m-status>
                                </div>


                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent" ><span><i
                                                class="la la-check"></i></span>Get
                                        Users</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>



<div class="m-portlet" [hidden]="!isShowUsersInfo">
    <div class="m-portlet__body m-portlet__body--no-padding">
        <div class="row m-row--no-padding m-row--col-separator-xl">
            <div class="col-xl-12">
                <div class="m-widget14">
                    <ng-container mPortletHeadTitle>
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                User Creation Form
                            </h3>
                        </div>
                    </ng-container>
                    <div mPortletHeadTools>
                        <div class="m-portlet__head-data">
                            <h4 class="m-portlet__head-text" align="right" >Total Active Users : {{currentActiveUsers}}</h4><br />
                            <h4 class="m-portlet__head-text" align="right">Total Inactive Users : {{currentInactiveUsers}}</h4>
                        </div>
                    </div>
                    <hr /><br />

                    <table #userDataTable class="display" style="width:100%">

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

 <div class="col-xl-12" *ngIf="showProcessing" align="center">
    <img src="assets/app/media/img/processing/loading.gif">
</div>
