<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                POB Report
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='pobForm' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewRecords()">
            <div class="m-portlet__body">
                <div class="row col-xl-12" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'">
                    <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
                </div>
                <div class="col-xl-12 ">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group m-form__group row" [hidden]=!showAdminAndMGRLevelFilter>

                            <div class="col-lg-3 m-form__group-sub">
                                <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                            </div>
                            <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                                <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent>
                                </m-division>
                            </div>
                            <div class="col-lg-3 m-form__group-sub" *ngIf="showState">
                                <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                                </m-state>
                            </div>
                            <div class="col-lg-3 m-form__group-sub" *ngIf="showDistrict">
                                <m-district [check]=true (valueChange)="getDistrictValue($event)"
                                    #callDistrictComponent></m-district>
                            </div>
                            <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                                <m-designation (valueChange)="getDesignation($event)" #callMonthComponent [check]=true>
                                </m-designation>
                            </div>
                            <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                                <m-employee [check]=true (valueChange)="getEmployeeValue($event)"
                                    #callEmployeeComponent></m-employee>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <button mat-raised-button color="accent" [disabled]="!pobForm.valid"><span><i
                                            class="la la-check"></i></span>View Status</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>


    </div>
</m-portlet>

<div *ngIf="showReport">
    <m-portlet>
        <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    POB Report
                </h3>
            </div>
        </ng-container>
        <ng-container mPortletHeadTools>
            <span matTooltip="Print" matTooltipPosition="above" aria-label="Displays a tooltip"
            (click)="onPreviewClick()"><i class="fa fa-print"
            style="float: right;" style="cursor:pointer; color: blue;font-size: 2em;"
                aria-hidden="true"></i></span>



            <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
                style="float: right;" (click)="exporttoExcel()"><i class="fa fa-file-excel"
                    style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i></span>
        </ng-container>
        <ng-container mPortletBody>
            <div style="overflow-x:auto; height: 400px;"  id="tabledivId1">
                <table class="table-responsive-sm" id="tableId1">
                    <thead>
                        <tr>
                            <th rowspan="2">S.No.</th>
                            <th *ngIf="isShowDivision" rowspan="2">Division</th>
                            <th rowspan="2">Employee Name</th>
                            <th rowspan="2">Headquater</th>
                            <th rowspan="2">Designation</th>
                            <th colspan="5" style="text-align: center" *ngFor="let month of dynamicTableHeader">
                                {{month}}</th>
                            <!-- <th colspan="16" style="text-align: center">Total</th> -->
                        </tr>
                        <tr>

                            <ng-container *ngFor="let month of dynamicTableHeader">
                                <th>{{this.currentUser.company.lables.doctorLabel}}</th>
                                <th>{{this.currentUser.company.lables.vendorLabel}}</th>
                                <th>{{this.currentUser.company.lables.stockistLabel}}</th>
                                <th>Phone Order</th>
                                <th>Total</th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of data; let i = index">
                            <td>{{i+1}}</td>
                            <td *ngIf="isShowDivision">{{d.divisionName}}</td>
                            <td>
                                {{d.userName}}
                            </td>
                            <td>
                                {{d.headquater}}
                            </td>
                            <td>
                                {{d.userDesignation}}
                            </td>

                            <ng-container *ngFor="let dd of d.pob">
                                <td>
                                    <a *ngIf="dd.docpob > 0" class='btn btn-outline-success' style="color: #3f51b5; cursor:pointer;font-weight: 600; 
                                    font-size: 1.19rem;"
                                        (click)="getProviderDetail(['RMP',false],d.userId,dd.month,dd.year)">
                                        {{dd.docpob.toFixed(2)}}
                                    </a>
                                    <a *ngIf="dd.docpob == 0">
                                        {{dd.docpob.toFixed(2)}}
                                    </a>
                                </td>
                                <td>
                                    <a *ngIf="dd.venpob > 0" class='btn btn-outline-success' style="color: #3f51b5; cursor:pointer;font-weight: 600; 
                                    font-size: 1.19rem;"
                                        (click)="getProviderDetail(['Drug',false],d.userId,dd.month,dd.year)">
                                        {{dd.venpob.toFixed(2)}}
                                    </a>
                                    <a *ngIf="dd.venpob == 0">
                                        {{dd.venpob.toFixed(2)}}
                                    </a>
                                </td>
                                <td>
                                    <a *ngIf="dd.stockistPob > 0" class='btn btn-outline-success' style="color: #3f51b5; cursor:pointer;font-weight: 600; 
                                    font-size: 1.19rem;"
                                        (click)="getProviderDetail(['Stockist',false],d.userId,dd.month,dd.year)">
                                        {{dd.stockistPob.toFixed(2)}}
                                    </a>
                                    <a *ngIf="dd.stockistPob == 0">
                                        {{dd.stockistPob.toFixed(2)}}
                                    </a>
                                </td>
                                <td>
                                    <a *ngIf="dd.phoneOrderPob > 0" class='btn btn-outline-success' style="color: #3f51b5; cursor:pointer;font-weight: 600; 
                                    font-size: 1.19rem;"
                                        (click)="getProviderDetail(['RMP','Drug','Stockist',true],d.userId,dd.month,dd.year)">
                                        {{dd.phoneOrderPob.toFixed(2)}}
                                    </a>
                                    <a *ngIf="dd.phoneOrderPob == 0">
                                        {{dd.phoneOrderPob.toFixed(2)}}
                                    </a>
                                </td>
                                <td style="color: #060606 !important;
                                line-height: 1.25 !important;
                                font-weight: 600;
                                font-size: larger;">

                                    {{(dd.docpob + dd.venpob + dd.stockistPob + dd.phoneOrderPob).toFixed(2)}}

                                </td>
                            </ng-container>


                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4"></td>
                            <td>{{totalDocpob.toFixed(2)}}</td>
                            <td>{{totalvenpob.toFixed(2)}}</td>
                            <td>{{totalstockistPob.toFixed(2)}}</td>
                            <td>{{totalphoneOrderPob.toFixed(2)}}</td>
                            <td>{{totalPob.toFixed(2)}}</td>
                        </tr>
                    </tfoot>
                </table>


            </div>
        </ng-container>
    </m-portlet>
</div>

<div *ngIf="showProviderDetails">
    <m-portlet>
        <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Provider's Detailed Report
                </h3>
            </div>
        </ng-container>
        <ng-container mPortletBody>
            <div style="overflow:auto; width:100%;">
                <table #dataTable class="display" style="width:100%">

                </table>
            </div>
        </ng-container>
    </m-portlet>
</div>
<div *ngIf="showProductDetailsReport">
    <m-portlet>
        <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Product Details Report
                </h3>
            </div>
        </ng-container>
        <ng-container mPortletHeadTools>
            <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
                style="float: right;" (click)="exportProductDetails()"><i class="fa fa-file-excel"
                    style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i></span>
        </ng-container>
        <ng-container mPortletBody>
            <div style="overflow-x:auto; height: 400px;">
                <table class="table-responsive-sm" id="tableProductDetails" style="width:100%">
                    <thead>
                        <tr>
                            <th rowspan="2">S.No.</th>
                            <th colspan="5" style="text-align: center">
                                Product Details</th>
                        </tr>
                        <table>
                            <thead>
                                <tr>
                                    <th style="width: 20%;">Product Name</th>
                                    <th style="width: 20%;">Product Quantity</th>
                                    <th style="width: 20%;">Product Price</th>
                                    <th style="width: 20%;">Available Stock</th>
                                    <th style="width: 20%;">POB</th>
                                </tr>
                            </thead>
                        </table>
                    </thead>

                    <tr *ngFor="let data of dataSource2; let i = index">
                        <td>{{i+1}}</td>
                        <ng-container *ngFor="let product of data.productDetails">

                            <table>
                                <tbody>
                                    <tr>
                                        <td>{{product?.productName ? product?.productName : '---'}}</td>
                                        <td>{{product?.productQuantity ? product?.productQuantity : '---'}}</td>
                                        <td>{{product?.productPrice? product?.productPrice : '---'}}</td>
                                        <td>{{product?.availableStock? product?.availableStock: '---'}}</td>
                                        <td>{{product?.pob? product?.pob: '---'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-container>
                    </tr>
                </table>


            </div>
        </ng-container>
    </m-portlet>
</div>
<ng-container>
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</ng-container>