
  table {
      width: 1100px;
  }
   /* Zebra striping */
   tr:nth-of-type(odd) { 
      background: #eee; 
    }
    th { 
      padding: 10px; 
      text-align: center;
      background: #16a184;
      color: rgb(235, 235, 235); 
      border: 1px solid white;
    }
    td{ 
      padding: 5px; 
      border: 1px dotted #929292; 
      text-align: center; 
      width: 200px;
      color: #292828;
      font-size: 1.05rem;
      font-weight: 400;
    }
  
    .mat-header-cell {
      padding: 0;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      text-align: center;
  }
  
  th.mat-column-sno,
  td.mat-column-sno{
      width: 50px;
  }

  .btn {
    border: none !important;
    padding: 0.5rem 1.15rem !important;
    font-size: 1.19rem !important;
    line-height: 1.25 !important; 
    border-radius: .25rem !important;
    transition: color 0.5s cubic-bezier(0.31, 0.76, 0.17, 0.01), background-color 0.5s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  }
  tfoot tr td {
    color: #060606 !important;
    line-height: 1.25 !important;
    font-weight: 600;
    font-size: larger;
  }
