<m-portlet [options]="{enableSticky: true}">

    <div mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Product Creation Form
            </h3>
        </div>
    </div>

    <div mPortletBody>
        <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="productCreationForm"
            (ngSubmit)="showReport()">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">

                                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                                    <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent>
                                    </m-division>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                                    </m-state>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="m-form__heading">
                        <h3 class="m-form__heading-title">Product Information</h3>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-3 m-form__group-sub">
                        <mat-form-field style="width:100%;">
                            <mat-label>Product Name</mat-label>
                            <input matInput required formControlName="productName" placeholder="Name" value="">
                            <mat-error>Product Name is required!!!</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-3 m-form__group-sub">
                        <mat-form-field style="width:100%;">
                            <mat-label>Product Code</mat-label>
                            <input matInput formControlName="productCode" placeholder="Code" value="">
                        </mat-form-field>
                    </div>

                    <div class="col-lg-3 m-form__group-sub">
                        <mat-form-field style="width:100%;">
                            <mat-label>Product Type</mat-label>
                            <input matInput formControlName="productType" placeholder="Type" value="">
                        </mat-form-field>
                    </div>

                    <div class="col-lg-3 m-form__group-sub">
                        <mat-form-field style="width:100%;">
                            <mat-label>Product Short Name</mat-label>
                            <input matInput formControlName="productShortName" placeholder="Short Name" value="">
                        </mat-form-field>
                    </div>

                    <div class="col-lg-3 m-form__group-sub">
                        <mat-form-field style="width:100%;">
                            <mat-label>Product Package Size</mat-label>
                            <input matInput formControlName="productPackageSize" placeholder="Package Size" value="">
                        </mat-form-field>
                    </div>

                    <div class="col-lg-3 m-form__group-sub">
                        <mat-form-field style="width:100%;">
                            <mat-label>Sample Package Size</mat-label>
                            <input matInput formControlName="samplePackageSize" placeholder="Sample Package Size"
                                value="">
                        </mat-form-field>
                    </div>

                </div>

                <br>

                <div class="row">
                    <div class="m-form__heading">
                        <h3 class="m-form__heading-title">Product Rate Information</h3>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-3 m-form__group-sub">
                        <mat-form-field style="width:100%;">
                            <mat-label>PTW</mat-label>
                            <input matInput  type="number" formControlName="ptw" placeholder="PTW" value=""
                            pattern="^\d*(\.\d{0,2})?$">
                            <mat-error>PTW is required!!!</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-3 m-form__group-sub">
                        <mat-form-field style="width:100%;">
                            <mat-label>PTR</mat-label>
                            <input matInput formControlName="ptr" placeholder="PTR" value=""
                            pattern="^\d*(\.\d{0,2})?$">
                            <mat-error>PTR is required!!!</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-3 m-form__group-sub">
                        <mat-form-field style="width:100%;">
                            <mat-label>MRP</mat-label>
                            <input matInput required formControlName="mrp" placeholder="MRP" value=""
                            pattern="^\d*(\.\d{0,2})?$">
                            <mat-error>MRP is required!!!</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-3 m-form__group-sub">
                        <mat-form-field style="width:100%;">
                            <mat-label>Sample Rate</mat-label>
                            <input matInput formControlName="sampleRate" placeholder="Sample Rate" value="">
                        </mat-form-field>
                    </div>

                    <div class="col-lg-3 m-form__group-sub">
                        <mat-form-field style="width:100%;">
                            <mat-label>Include VAT</mat-label>
                            <input matInput formControlName="includeVat" placeholder="Include VAT" value="">
                        </mat-form-field>
                    </div>

                </div>
            </div>

            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions">
                    <div class="row">
                        <div class="col-lg-3">
                            <button mat-raised-button [disabled]="!productCreationForm.valid" color="accent"><span><i
                                        class="la la-check"></i></span>Submit Product</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</m-portlet>