
.example-container {
  display: flex;
	flex-direction: column;
	height: 400px;
	width: 100%;
	overflow: auto;
}


table {
	width: 3000px;
}
 /* Zebra striping */
 tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    padding: 10px; 
    text-align: center;
    background: #16a184;
    color: rgb(235, 235, 235); 
  }
  td{ 
    padding: 5px; 
    border: 1px solid #ccc; 
    text-align: center; 
    width: 200px;
  }

  .mat-header-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
}

th.mat-column-sno,
td.mat-column-sno{
	width: 50px;
}

