<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                MEF Tracker Report
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletBody>
        <form [formGroup]='viewMEF' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewMEFDetail()">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-2 m-form__group-sub" [hidden]=!showEmpReportType>
                                    <mat-radio-button class="form-control-label" [checked]='true' (change)="reportType('Employeewise')" name="reportTypeName" value="Employeewise">
                                        * User wise
                                    </mat-radio-button>
                                </div>
                                <div class="col-lg-2 m-form__group-sub" [hidden]=!showMgrSelfReportType>
                                    <mat-radio-button class="form-control-label" [checked]='false' (change)="mgrSelf('self')" name="reportTypeName">
                                        * Self
                                    </mat-radio-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">

                                <div class="col-lg-3" [hidden]=!designationFilterForUserwiseOnly>
                                    <mat-form-field>
                                        <mat-label>Select Designation</mat-label>
                                        <mat-select placeholder="Select Deaignation" formControlName='designation' (valueChange)="getEmployeeValue($event)">
                                            <mat-option *ngFor="let designation of designationData" [value]="designation._id.designationLevel">
                                                {{designation._id.designation}}
                                            </mat-option>
                                        </mat-select>
                                        <!--<mat-error>Designation is required!!!</mat-error>-->
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!designationFilterForMgr>
                                    <m-designation #designationComponent (valueChange)="getMgrEmployee($event)" [check]="false">
                                    </m-designation>
                                </div>
                                <div class="col-lg-3" [hidden]=!designationFilter>
                                    <mat-form-field>
                                        <mat-label>Select Designation</mat-label>
                                        <mat-select placeholder="Select Deaignation" formControlName='designation'>
                                            <mat-option *ngFor="let designation of designationData" [value]="designation._id.designationLevel">
                                                {{designation._id.designation}}
                                            </mat-option>
                                        </mat-select>
                                        <!--<mat-error>Designation is required!!!</mat-error>-->
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!employeeFilter>
                                    <m-employee [check]=true (valueChange)="setEmployeeDetail($event)" #callEmployeeComponent>
                                    </m-employee>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">* From Date:</label>
                                    <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">* To Date:</label>
                                    <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-form__actions m-form__actions">
                    <div class="row">
                        <div class="col-xl-12 ">
                            <div class="m-form__section m-form__section--first">
                                <div class="form-group m-form__group row">
                                    <div class="col-lg-5">
                                        &nbsp;
                                    </div>
                                    <div class="col-lg-3">
                                        <button mat-raised-button color="accent" [disabled]="!viewMEF.valid"><span><i
                          class="la la-check"></i></span>View
                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </ng-container>
</m-portlet>
<br>
<m-portlet [options]="{enableSticky: true}" *ngIf="isShowMefTracker">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                MEF Tracker Report
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletBody>
        <div class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="sno">
                    <th mat-header-cell *matHeaderCellDef> Sr.No. </th>
                    <td mat-cell *matCellDef="let row;let i = index;">{{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef> User </th>
                    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                </ng-container>
                <ng-container matColumnDef="areaName">
                    <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.areaLabel}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.areaName}} </td>
                </ng-container>
                <ng-container matColumnDef="providerName">
                    <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.doctorLabel}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.providerName}} </td>
                </ng-container>
                <ng-container matColumnDef="mefDate">
                    <th mat-header-cell *matHeaderCellDef> MEF Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.mefDate}} </td>
                </ng-container>
                <ng-container matColumnDef="focusProduct">
                    <th mat-header-cell *matHeaderCellDef> Focus Product </th>
                    <td mat-cell *matCellDef="let element"> {{element.focusProduct}} </td>
                </ng-container>
                <ng-container matColumnDef="visitDates">
                    <th mat-header-cell *matHeaderCellDef> Met</th>
                    <td mat-cell *matCellDef="let element"> {{element.visitDates}} </td>
                </ng-container>
                <ng-container matColumnDef="competitorProduct">
                    <th mat-header-cell *matHeaderCellDef> Compititor Product He is using</th>
                    <td mat-cell *matCellDef="let element"> {{element.competitorProduct}} </td>
                </ng-container>
                <ng-container matColumnDef="productDiscussed">
                    <th mat-header-cell *matHeaderCellDef> Code and Name of our Product Discussed</th>
                    <td mat-cell *matCellDef="let element"> {{element.productDiscussed}} </td>
                </ng-container>
                <ng-container matColumnDef="drProductProblem">
                    <th mat-header-cell *matHeaderCellDef>What is the problem Dr. is facing with Comp. Product</th>
                    <td mat-cell *matCellDef="let element"> {{element.drProductProblem}} </td>
                </ng-container>
                <ng-container matColumnDef="problemSolnToDr">
                    <th mat-header-cell *matHeaderCellDef>What solution I have given by telling our product</th>
                    <td mat-cell *matCellDef="let element"> {{element?.solnGivenBySenior}} </td>
                </ng-container>
                <ng-container matColumnDef="doctorFeedback">
                    <th mat-header-cell *matHeaderCellDef>What is Drs feedback/qery about our product</th>
                    <td mat-cell *matCellDef="let element"> {{element.doctorFeedback}} </td>
                </ng-container>
                <ng-container matColumnDef="isQuerySolnGiven">
                    <th mat-header-cell *matHeaderCellDef>Have I given him solution to his query?</th>
                    <td mat-cell *matCellDef="let element"> {{element.isQuerySolnGiven}} </td>
                </ng-container>
                <ng-container matColumnDef="querySoln">
                    <th mat-header-cell *matHeaderCellDef>If then specified reason</th>
                    <td mat-cell *matCellDef="let element"> {{element?.querySoln}} </td>
                </ng-container>
                <ng-container matColumnDef="seniorHelp">
                    <th mat-header-cell *matHeaderCellDef>What help I need from Senior</th>
                    <td mat-cell *matCellDef="let element"> {{element?.seniorHelp}} </td>
                </ng-container>
                <ng-container matColumnDef="isInformToSenior">
                    <th mat-header-cell *matHeaderCellDef>Have I informed him?</th>
                    <td mat-cell *matCellDef="let element"> {{element?.isInformToSenior}} </td>
                </ng-container>
                <ng-container matColumnDef="isSolnFromSenior">
                    <th mat-header-cell *matHeaderCellDef>Has Senior given solution?</th>
                    <td mat-cell *matCellDef="let element"> {{element?.isSolnFromSenior}} </td>
                </ng-container>
                <ng-container matColumnDef="solnGivenBySenior">
                    <th mat-header-cell *matHeaderCellDef>Solution given?</th>
                    <td mat-cell *matCellDef="let element"> {{element?.solnGivenBySenior}} </td>
                </ng-container>
                <ng-container matColumnDef="quoteGiven">
                    <th mat-header-cell *matHeaderCellDef>Quotation Given?</th>
                    <td mat-cell *matCellDef="let element"> {{element.quoteGiven}} </td>
                </ng-container>
                <ng-container matColumnDef="quoteDate">
                    <th mat-header-cell *matHeaderCellDef>Quotation Date</th>
                    <td mat-cell *matCellDef="let element"> {{element?.quoteDate}} </td>
                </ng-container>
                <ng-container matColumnDef="quoteStatus">
                    <th mat-header-cell *matHeaderCellDef>Quotation Status</th>
                    <td mat-cell *matCellDef="let element"> {{element?.quoteStatus}} </td>
                </ng-container>
                <ng-container matColumnDef="quoteOthers">
                    <th mat-header-cell *matHeaderCellDef>Quotation Others</th>
                    <td mat-cell *matCellDef="let element"> {{element?.quoteOthers}} </td>
                </ng-container>
                <ng-container matColumnDef="conversionDone">If not Reason
                    <th mat-header-cell *matHeaderCellDef>Conversion Done?</th>
                    <td mat-cell *matCellDef="let element"> {{element.conversionDone}} </td>
                </ng-container>
                <ng-container matColumnDef="conversionNoReason">
                    <th mat-header-cell *matHeaderCellDef>If not Reason</th>
                    <td mat-cell *matCellDef="let element"> {{element.conversionNoReason}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </ng-container>
</m-portlet>