<m-portlet >
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Leave Status
      </h3>
    </div>
  </ng-container>

  <div mPortletHeadTools>
    <div>
      <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
  </div>

  <ng-container mPortletBody *ngIf="isToggled">
    <form [formGroup]='LeaveStatusForm' class="m-form m-form--label-align-left- m-form--state-"
      (ngSubmit)='getRecords()'>
      <div class="m-portlet__body">
        <div class="row">
          <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
        </div>

        <div class="row">
          <div class="col-xl-12">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">
                <div class="col-lg-3 m-form__group-sub">
                  <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>

                  <!-- <mat-form-field style="width:100%">
                    <mat-label>Type</mat-label>
                    <mat-select (selectionChange)="getReportType($event.value)">
                      <mat-option *ngFor="let type of typeList" [value]="type">{{type}}</mat-option>
                    </mat-select>
                  </mat-form-field> -->

                </div> <!-- TYPE FILTER -->
                
               <!--  <div class="col-lg-3 m-form__group-sub" *ngIf='!typeFilter'>
                  
                  <mat-form-field  style="width:100%">
                    <mat-label>Type</mat-label>
                    <mat-select (selectionChange)="getReportType($event.value)">
                      <mat-option *ngFor="let type of typeList1" [value]="type">{{type}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->

                <div class="col-lg-3 m-form__group-sub" [hidden]='!showDivisionFilter'>
                  <m-division (valueChange)="getDivisionValue($event)" [check]=true #callDivisionComponent>
                  </m-division>
                </div> <!-- DIVIDION FILTER -->

                <div class="col-lg-3 m-form__group-sub" [hidden]='!stateFilter'>
                  <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                  </m-state>
                </div> <!-- STATE FILTER -->

                <div class="col-lg-3 m-form__group-sub" [hidden]='!showHeadquarter'>
                  <m-district (valueChange)="getDistrict($event)" [check]=true #callDistrictComponent>
                  </m-district>
                </div> <!-- HeadQuarter FILTER -->

                <div class="col-lg-3 m-form__group-sub" [hidden]='!employeeFilter'>
                  <m-designation (valueChange)="getDesignation($event)" [check]=true #callDesignationComponent>
                  </m-designation>
                </div> <!-- designation FILTER -->

                <div class="col-lg-3 m-form__group-sub" [hidden]='!employeeFilter'>
                  <m-employee (valueChange)="getEmployee($event)" [check]=true #callEmployeeComponent>
                  </m-employee>
                </div> <!-- Employee FILTER -->

                <div class="col-lg-3 m-form__group-sub">
                  <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                </div><!-- FromDate Filter -->

                <div class="col-lg-3 m-form__group-sub">
                  <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                </div><!-- ToDate Filter  -->

                <div class="col-lg-3 m-form__group-sub">
                  <button mat-raised-button color="accent" [disabled]="!LeaveStatusForm.valid"><span><i
                        class="la la-check"></i></span>View Details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</m-portlet>

<ng-container *ngIf="!isToggled">
  <div class="m-portlet">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-xl-12">
          <div class="m-widget14">
            <ng-container mPortletHeadTitle>
              <div class="m-portlet__head-title">

                <h3 class="m-portlet__head-text">
                  Leave Status
                </h3>
                <br />
                
              </div>
            </ng-container>
            <div mPortletBody>
              <div class="table">
                <div class="mat-elevation-z8" id="tableId1">
                  <table mat-table [dataSource]='dataSource'>

                    <ng-container matColumnDef="S.No">
                      <th mat-header-cell *matHeaderCellDef> No. </th>
                      <td mat-cell *matCellDef="let element; index as i"> {{i+1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="dcrDate">
                      <th mat-header-cell *matHeaderCellDef> DCR Date </th>
                      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="punch">
                      <th mat-header-cell *matHeaderCellDef> LogIn Date </th>
                      <td mat-cell *matCellDef="let element"> {{element.logIn}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="reason">
                      <th mat-header-cell *matHeaderCellDef> Cause Of Leave </th>
                      <td mat-cell *matCellDef="let element"> {{element.leaveReason}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="leaveType">
                      <th mat-header-cell *matHeaderCellDef> Leave Type </th>
                      <td mat-cell *matCellDef="let element"> {{element.leavetype}} </td>
                    </ng-container>

                    <ng-container matColumnDef="appByAdmin">
                      <th mat-header-cell *matHeaderCellDef> Approve By Admin </th>
                      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>

                    <ng-container matColumnDef="appByMgr">
                      <th mat-header-cell *matHeaderCellDef> Approve By Manager </th>
                      <td mat-cell *matCellDef="let element"> {{element.appByMgr? element.appByMgr : '---'}} </td>
                    </ng-container>

                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-container>