.table{
    max-width: 85rem;
    max-height: 50rem;
    overflow: auto;
}

table{
    border-radius: 5px;
    margin-left: 2rem;
}
td,tr{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 15px;
    color: rgb(26, 24, 24);
    border-bottom: solid 1px rgba(255,255,255,0.1);
    border: solid 1px black;
    text-align: center;
    
}
th{
    border-top: solid 1px rgba(119, 255, 101, 0.918);
}