<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Product Stockist Wise Qty Value Wise Secondary Sale
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='stockistWiseSaleForm' class="m-form m-form--label-align-left" (ngSubmit)="generateReport()">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                                    <m-division (valueChange)="getDivisionValue($event)" [check]=true #callDivisionComponent>
                                    </m-division>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-designation #designationComponent (valueChange)="getDesignationLevel($event)" [check]="false"></m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-status [check]="false" (valueChange)="getStatus($event)" #callStatusComponent></m-status>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-employee #employeeComponent (valueChange)="getEmployee($event)" [check]="false"></m-employee>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">&nbsp; </label>
                                    <button mat-raised-button color="accent" [disabled]="!stockistWiseSaleForm.valid"><span><i
                                              class="la la-check"></i></span>Generate
                                      Report</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>

<div *ngIf="showReport">
    <m-portlet>
        <!-- use ng-container[mPortletHeadTitle] for the title -->
        <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Product Stockist Wise Qty Value Wise Secondary Sale Report
                </h3>
            </div>
        </ng-container>
        <div mPortletHeadTools>
            <button mat-raised-button color="accent" (click)="exporttoExcel()">
                <span>
                    <i class="la la-download"></i>
                </span>Download</button>
        </div>
        <div mPortletBody>
            <div style="overflow-x:auto; max-height: 32rem;" class="mat-elevation-z8">
                <table class="table-responsive-sm" id="tableId1">
                    <thead>
                        <tr>
                            <th class="border" [attr.rowspan]="3">Product Name</th>
                            <th class="border" [attr.colspan]="dynamicTableStockist?.length*2" style="text-align: center" *ngFor="let month of dynamicTableHeader">{{month}}</th>
                            <!-- <th colspan="month?.length" style="text-align: center">Total</th> -->
                        </tr>
                        <tr>
                            <ng-container *ngFor="let month of dynamicTableHeader">
                                <th class="border" [attr.colspan]="2" *ngFor="let stockist of dynamicTableStockist">{{stockist}}</th>
                            </ng-container>
                        </tr>
                        <tr>
                            <ng-container *ngFor="let month of dynamicTableHeader">
                                <ng-container *ngFor="let stockist of dynamicTableStockist">
                                    <th class="border">Qty</th>
                                    <th class="border">Value</th>
                                </ng-container>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of data; let $index = index">
                            <td>
                                {{d.productName}}
                            </td>
                            <ng-container *ngFor="let month of dynamicTableHeader">
                                <ng-container *ngFor="let stockist of dynamicTableStockist">
                                    <td class="border">{{getCelData(month, stockist, d.data, 'totalSecondrySaleQty')}}</td>
                                    <td class="border">{{getCelData(month, stockist, d.data, 'totalSecondrySaleAmt')}}</td>
                                </ng-container>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </m-portlet>
</div>

<ng-container mPortletBody *ngIf="showReportProductWise">
    <div style="overflow-x:auto; height: 400px;">
        <table class="table-responsive-sm" id="tableId1">
            <thead>
                <tr>
                    <th rowspan="2">State</th>
                    <th rowspan="2">Headquarter</th>
                    <th [attr.colspan]="dynamicTableProduct?.length" style="text-align: center" *ngFor="let month of dynamicTableHeader">{{month}}</th>
                    <th rowspan="2" [attr.colspan]="dynamicTableProduct?.length" style="text-align: center">Total</th>
                </tr>
                <tr>
                    <ng-container *ngFor="let month of dynamicTableHeader">
                        <th class="border" *ngFor="let product of dynamicTableProduct">{{product}}</th>
                    </ng-container>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of dataProductWise; let $index = index">
                    <td>
                        {{d._id.stateName}}
                    </td>
                    <td>
                        {{d._id.districtName}}
                    </td>
                    <ng-container *ngFor="let month of dynamicTableHeader">
                        <td class="border" *ngFor="let product of dynamicTableProduct">{{getCelData(month, product, d.data)}}</td>
                    </ng-container>
                    <td>{{d.totalAmt}}</td>

                </tr>
            </tbody>
        </table>


    </div>
    <br>
    <div align="center">
        <button mat-raised-button color="accent" (click)="this.exporttoExcel();">
          <span>
              <i class="la la-download"></i>
          </span>Download</button>
    </div>
</ng-container>

<div class="col-xl-12" *ngIf="showProcessing" align="center">
    <img src="assets/app/media/img/processing/loading.gif">
</div>