<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Expense Report
            </h3>
        </div>
    </ng-container>

    <ng-container mPortletBody>
        <form [formGroup]="expenseFilterForm" class="m-form m-form--label-align-left" (ngSubmit)="generateReport()">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-4 m-form__group-sub" *ngIf="currentUser.userInfo[0].rL>1">
                                    <br />
                                    <mat-radio-group formControlName="type" (change)="getType($event)">
                                        <mat-radio-button value="Self">Self Expense</mat-radio-button>
                                        <mat-radio-button value="Team">Team Expense</mat-radio-button>
                                    </mat-radio-group>

                                </div>
                                <div class="col-lg-4 m-form__group-sub" [hidden]="!isShowDivision">
                                    <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent>
                                    </m-division>
                                    <!-- <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type> -->
                                </div>
                                <div class="col-lg-4 m-form__group-sub" *ngIf="expenseFilterForm.value.type==='Team' || currentUser.userInfo[0].rL===0">
                                    <m-state (valueChange)="getStateValue($event)" [check]="check" #callStateComponent>
                                    </m-state>
                                </div>
                                <div class="col-lg-4 m-form__group-sub" *ngIf="expenseFilterForm.value.type==='Team' || currentUser.userInfo[0].rL===0">
                                    <m-district #districtComponent (valueChange)="getDistrictValue($event)" [check]="check">
                                    </m-district>
                                </div>
                                <div class="col-lg-4 m-form__group-sub" *ngIf="expenseFilterForm.value.type==='Team' || currentUser.userInfo[0].rL===0">
                                    <m-employee #employeeComponent (valueChange)="getUserId($event)" [check]="check">
                                    </m-employee>
                                </div>

                                <div class="col-lg-4">
                                    <m-month (valueChange)="getMonthValue($event)"></m-month>
                                </div>
                                <div class="col-lg-4">
                                    <m-year (valueChange)="getYearValue($event)"></m-year>
                                </div>
                                <div class="col-lg-4">
                                    <div class="m-form__section m-form__section--first">
                                        <button mat-raised-button color="primary" [disabled]="!expenseFilterForm.valid">
											Generate Report
										</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-container>
</m-portlet>
<ng-container mPortletBody>
    <div class="m-portlet__body">
        <div class="row">
            <div class="col-xl-12 ">
                <div class="m-form__section m-form__section--first">
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6 m-form__group-sub">
                        </div>
                        <div class="col-lg-6 m-form__group-sub" *ngIf="isShowReport">
                            <h6 class="approveStatus">Approved By Manager: {{approveByMgr}} &nbsp; Approved By Admin : {{approveByAdmin}}</h6>
                        </div>
                        <div class="col-lg-12 m-form__group-sub">
                            <table #dataTable class="display nowrap order-column table table-striped table-bordered">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-container>


<ng-container mPortletBody>
    <div class="m-portlet__body">
        <div class="row">
            <div class="col-xl-12 ">
                <div class="m-form__section m-form__section--first">
                    <div class="form-group m-form__group row" *ngIf="isShowReport">

                        <div class="col-lg-4 m-form__group-sub"></div>
                        <div class="col-lg-4 m-form__group-sub">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="color:white">Description</th>
                                        <th style="color:white">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mobile</td>
                                        <td>{{(dataSourceFixed && dataSourceFixed[0] && dataSourceFixed[0]?.mobileAllowance)? (dataSourceFixed[0]?.mobileAllowance): '---'}}</td>
                                    </tr>
                                    <tr>
                                        <td>Net Allowance</td>
                                        <td>{{(dataSourceFixed && dataSourceFixed[0] && dataSourceFixed[0]?.netAllowance)? (dataSourceFixed[0]?.netAllowance) : '---'}}</td>
                                    </tr>
                                    <tr style="font-weight: bold;">
                                        <td>Grand Total</td>
										<!-- <td>{{total}}</td> -->
										<td>{{(total).toFixed()}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-4 m-form__group-sub"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-container>
