ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

li {

	background-repeat: no-repeat;
	background-position: 100% .4em;
	padding-right: .6em;
}

.dot {
	height: 15px;
	width: 15px;
	background-color: #4eabf7;
	border-radius: 50%;
	display: inline-block;
}

.dot1 {
	height: 15px;
	width: 15px;
	background-color: #b959b9;
	border-radius: 50%;
	display: inline-block;
}

.dot2 {
	height: 15px;
	width: 15px;
	background-color: #cc6039;
	border-radius: 50%;
	display: inline-block;
}

.approveStatus {
	text-align: right;
	margin-right:10px;
	color:#e53935;
}

table {
    width: 100%;
}


/* Zebra striping */

tr:nth-of-type(odd) {
    background: #eee;
}

th {
    padding: 6px;
    text-align: center;
    background: #16a184;
    color: rgb(0, 0, 0);
}

td,
th {
    padding: 0px;
    border: 1px solid #ccc;
	text-align: center;
	white-space: nowrap;
}

.mat-header-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
}

::ng-deep table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: bold;
    background-color: #16a184;
    color: white;
}