<mat-form-field style="width: 100%;">
  <mat-select [(ngModel)]="selecteddata" placeholder="Select Product Group" required (selectionChange)='changedValue($event.value)' multiple={{check}}>
    <mat-option *ngFor="let group of productGroupData" [value]="group"  >
      {{group.groupName}}
    </mat-option>
  </mat-select>
</mat-form-field>
