<m-portlet [options]="{enableSticky: true}">
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Specialty Wise Doctor Count
      </h3>
    </div>
  </ng-container>
  <div mPortletHeadTools>
    <div>
      <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
  </div>
  <div mPortletBody [hidden]="!isToggled">

    <form [formGroup]='swdcForm' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewRecords()">
      <div class="m-portlet__body">
        <div class="row mb-2 col-xl-12" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'">
          <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
        </div>
        <div class="row">
          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row" [hidden]=!showAdminAndMGRLevelFilter>

                <div class="col-lg-3 m-form__group-sub">
                  <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                </div>
                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                  <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent></m-division>
                  <!-- <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type> -->
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="showState">
                  <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent></m-state>
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="showDistrict">
                  <m-district [check]=true (valueChange)="getDistrictValue($event)" #callDistrictComponent></m-district>
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                  <m-designation (valueChange)="getDesignation($event)" #callMonthComponent [check]=true>
                  </m-designation>
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                  <m-employee [check]=true (valueChange)="getEmployeeValue($event)" #callEmployeeComponent></m-employee>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <mat-form-field style="width:100%;">
                    <mat-select formControlName="providerType" (selectionChange)="getSpecialty($event.value)"
                      placeholder="Provider Type *">
                      <mat-option *ngFor="let Specialization of specializations" [value]="Specialization.value">
                        {{Specialization.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <button mat-raised-button color="accent" [disabled]="!swdcForm.valid">
                    <span><i class="la la-check"></i></span>View Status</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="row">
            <div class="col-lg-3 m-form__group-sub">
              <mat-form-field style="width:100%;">
                <mat-label class="form-control-label">* Data:</mat-label>
                <mat-select formControlName="specialtyDatavalue"     placeholder="specialtyDatavalue" >
                  <mat-option *ngFor="let val of data" [value]="val">
                    {{val}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div> -->

      </div>
      <div class="m-portlet__foot m-portlet__foot--fit">
      </div>
    </form>



  </div>
</m-portlet>


<div class="m-portlet" [hidden]="!showReport">
  <div class="m-portlet__body m-portlet__body--no-padding">
    <div class="row m-row--no-padding m-row--col-separator-xl">
      <div class="col-xl-12">
        <div class="m-widget14">
          <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                {{dataSource}} Doctor Count
              </h3>
            </div>

          </ng-container>
          <hr /><br />

          <table #dataTable class="display" style="width:100% ">

            <!-- <tfoot> 
                    <tr>
                        <th>Total:</th>
                         <th></th>
                         <th></th>
                        <th *ngFor="let d of data"></th>
                         
                  </tr>
                </tfoot> -->
          </table>



        </div>
      </div>
    </div>
  </div>

</div>










<ng-container>
  <div class="col-xl-12" *ngIf="showProcessing" align="center">
      <img src="assets/app/media/img/processing/loading.gif">
  </div>
</ng-container> 












<!-- <div class="m-separator m-separator--dashed m-separator--lg"></div>

    <ng-container mPortletHeadTitle *ngIf="showDateWiseDCRReport">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Specialty Wise Doctor Count
        </h3>
      </div>
      <div class="foo red"> </div>Deviated
    </ng-container>
    <br>
    <div [hidden]="!showDateWiseDCRReport">
       <m-user-dcrdetail #callUserDetailDCR></m-user-dcrdetail>


      <table class="display" style="width:100%">
        <thead>
          <tr>
            <th width="10%"> Date </th>
            <th width="10%"> Working Status </th>
            <th width="35%"> Visited {{this.currentUser.company.lables.areaLabel}} </th>
            <th width="15%"> Joint Work With </th>
            <th width="10%"> {{this.currentUser.company.lables.doctorLabel}} Met </th>
            <th width="10%"> {{this.currentUser.company.lables.doctorLabel}} POB </th>
            <th width="10%"> {{this.currentUser.company.lables.vendorLabel}} /
              {{this.currentUser.company.lables.stockistLabel}} Met </th>
            <th width="10%"> {{this.currentUser.company.lables.vendorLabel}} /
              {{this.currentUser.company.lables.stockistLabel}} POB </th>
            <th width="10%"> Remarks </th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of dataSources" align="center" [ngClass]="{'highlight' : l.deviateReason != undefined }">
            <td nowrap width="10%"> <a (click)="getDCRInfo(l.dcrId)"
                style="cursor: pointer;color: blue;">{{l.dcrDate | date}} </a></td>
            <td width="10%">
              <font color="Red" *ngIf="l.workingStatus=='Holiday' || l.workingStatus=='Leave'">{{l.workingStatus}}
              </font>
              <font color="Green" *ngIf="l.workingStatus!='Holiday' &&  l.workingStatus!='Leave'">{{l.workingStatus}}
              </font>
            </td>
            <td width="35%">
              <ul>
                <li *ngFor="let n of l.visitedBlock">
                  {{n.from}} -- {{n.to}}

                </li>
              </ul>
            </td>
            <td *ngIf="l.workingStatus=='Working'" width="15%">
              <ul>
                <li *ngFor="let n of l.jointWork">
                  {{n.Name}}
                </li>
              </ul>
            </td>
            <td *ngIf="l.workingStatus!='Working'" width="15%"> ---- </td>
            <td width="10%">{{l.RMPCount}} </td>
            <td width="10%">{{l.doctorPOB}} </td>
            <td width="10%"> {{l.DrugStoreCount}}</td>
            <td width="10%"> {{l.vendorPOB}}</td>

            <td width="10%"> {{l.remarks}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="m-separator m-separator--dashed m-separator--lg"></div>

    <br>
    <div class="mat-elevation-z8" [hidden]="showDCRSummary">
      <m-user-complete-dcrinfo #callUserCompleteDCR [hidden]="showDCRSummary"></m-user-complete-dcrinfo>
    </div> -->