<m-portlet [options]="{ enableSticky: true }">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                DCR Report {{ this.currentUser.company.lables.doctorLabel }}/{{
                this.currentUser.company.lables.vendorLabel
                }}
                Wise
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="DCRViewDOctorWiseForm"
            (ngSubmit)="showReport()">
            <!-- <pre>{{dataSource}}</pre> -->
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                                    <m-division (valueChange)="getDivisionValue($event)" [check]="false"
                                        #callDivisionComponent>
                                    </m-division>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-designation [check]="false" (valueChange)="getDesignation($event)"
                                        #callDesignationComponent></m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <!-- <m-employee (valueChange)="getEmployees($event)" #callEmployeeComponent
                                        [check]="true"></m-employee> -->

                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-select formControlName="employeeId" placeholder="Select Employee" required
                                            multiple="true">
                                            <mat-option *ngFor="let employee of userData" [value]="employee.userId">
                                                {{employee.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>Employee is required!!!</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent" [disabled]="
											!DCRViewDOctorWiseForm.valid
										">
                                        <span><i class="la la-check"></i></span>View Report
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit"></div>
        </form>
    </div>
</m-portlet>

<div id="tableId12">
    <div [hidden]="!showGeoReportType" *ngFor="let data of dataSource">
        <m-portlet>
            <ng-container mPortletHeadTitle>
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        <span width="10%" style="
								color: #3e51b5;
								font-size: bold;
								font-weight: 700;
							">
                            DCR Date: {{ data.dcrDate | date }}
                        </span>
                    </h3>
                </div>
            </ng-container>
            <ng-container mPortletHeadTools>
                <div class="col-lg-12" align="right" [hidden]="!showGeoReportType" style="z-index: 1">
                    <span class="mr-2" matTooltip="Print" matTooltipPosition="above" aria-label="Displays a tooltip"
                        (click)="onPreviewClick()"><i class="fa fa-print" style="
								float: right;
								cursor: pointer;
								color: blue;
								font-size: 2em;
							" aria-hidden="true"></i></span>

                    <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
                        style="float: right" (click)="exporttoExcel()"><i class="fa fa-file-excel" style="
								cursor: pointer;
								color: green;
								font-size: 2em;
							" aria-hidden="true"></i></span>
                </div>
            </ng-container>
            <ng-container mPortletBody class="mt-5">
                <!-- <br> -->
                <div class="col-lg-12">
                    <div style="margin: 1em 0">
                        <table class="display table table-responsive" style="width: 100%">
                            <thead>
                                <tr>
                                    <th width="10%">DCR Date :</th>
                                    <th width="10%">Day Wise Remarks :</th>
                                    <th width="10%">Visited Area :</th>
                                    <th width="10%">User Name :</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="10%" style="
											color: #3e51b5;
											font-size: bold;
											font-weight: 700;
										">
                                        {{ data.dcrDate | date }}
                                    </td>
                                    <td width="10%">
                                        {{
                                        data?.remarks
                                        ? (data?.remarks | titlecase)
                                        : "---"
                                        }}
                                    </td>
                                    <td width="10%" style="text-align: -webkit-center">
                                        <ul style="list-style: none">
                                            <li *ngFor="
													let blocks of data?.visitedBlock
												">
                                                <span>{{ blocks?.from }} ---
                                                    {{ blocks?.to }}</span>
                                            </li>
                                        </ul>
                                    </td>
                                    <!-- <td width="10%" style="text-align: -webkit-center;">
                            <tbody #tbody10>
                                <tr *ngFor="let blocks of data?.visitedBlock;">
                                    <td>{{ blocks?.from }} --- {{ blocks?.to }}</td>
                                </tr>
                            </tbody>
                            </td> -->
                                    <td width="10%">
                                        {{ data.userInfo?.name }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <table id="tableId1"  [hidden]="!tdata" >
                            <thead>
                                <tr>
                                    <td>Date</td>
                                    <td>Name</td>
                                    <td>Costomer Name</td>
                                    <td>Costomer Type</td>
                                    <td>Working Address</td>
                                    <td>Time In</td>
                                    <td>Time Out</td>
                                    <td>Remarks</td>
                                </tr>
                            </thead>
                            <tr *ngFor="let data of dataSource;">  
                                <td #tdata >
                                    {{data.dcrDate}}
                                </td>
                                <td #tdata >
                                    {{data.info[0].block.areaName}}
                                </td>
                                <td #tdata >
                                    {{data.info[0].providerinfo.providerName}}
                                </td>



                                <td #tdata >
                                    <ng-container *ngIf="data.info[0].providerType == 'RMP' else second" >
                                        {{currentUser.company.lables.doctorLabel}}
                                    </ng-container>

                                    <ng-template #second>
                                        <ng-container *ngIf="data.info[0].providerType == 'RMP' else third" >
                                            {{currentUser.company.lables.vendorLabel}}
                                        </ng-container>
                                    </ng-template>

                                    <ng-template #third>{{data.info[0].providerType}}</ng-template>                                      
                                </td>



                                <td #tdata >
                                    {{data.info[0].workingAddress}}
                                </td>
                               
                                <td #tdata >
                                    {{data.info[0].totalSession.timeIn}}
                                </td>
                                <td #tdata >
                                    {{data.info[0].totalSession.timeOut}}
                                </td>
                                <td #tdata >
                                    {{data.info[0].remarks}}
                                </td> 
                            </tr>
                        </table> -->
                    </div>
                    <ng-container>
                        <div>
                            <table class="display table table-responsive mb-5 datatable" style="width: 100%"
                                [hidden]="!tbody1.innerText" *ngIf="data?.workingStatus == 'Working'">
                                <thead>
                                    <tr class="bg-primary text-white">
                                        <th>S no.</th>
                                        <th style="color: #ffed01;"> {{this.currentUser.company.lables.doctorLabel}}
                                            Name </th>
                                        <th> Battery Percentage </th>
                                        <th> {{this.currentUser.company.lables.areaLabel}} Name </th>
                                        <th> Working Address </th>
                                        <th> Joint Work With </th>
                                        <th> Detailing Status </th>
                                        <th> POB</th>
                                        <th> Sample Placed </th>
                                        <th> Product Placed </th>
                                        <th> Call Punch Date </th>
                                        <th> Clinical Address </th>
                                        <th> Phone Order </th>

                                        <th> Reminder Call </th>
                                        <th> Time In </th>
                                        <th> Time Out </th>
                                        <th> Remarks</th>

                                    </tr>
                                </thead>
                                <tbody #tbody1>
                                    <ng-container *ngFor="
											let infor of filterDoctorInfor(
												data.info
											);
											let i = index
										">
                                        <ng-container *ngIf="infor?.providerType == 'RMP'">
                                            <!-- <tr>
                                                                            <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1">{{infor?.providerinfo?.providerName}}</td>
                                    
                                                                        </tr> -->
                                            <tr *ngFor="
													let joint of infor?.jointWorkWithId;
													let $first = first
												">
                                                <td [attr.rowspan]="
														infor?.jointWorkWithId
															?.length
													" *ngIf="$first">
                                                    {{ i + 1 }}
                                                </td>
                                                <td [attr.rowspan]="
														infor?.jointWorkWithId
															?.length
													" *ngIf="$first">
                                                    {{
                                                    infor?.providerinfo
                                                    ?.providerName
                                                    }}
                                                </td>
                                                <td [attr.rowspan]="
														infor?.jointWorkWithId
															?.length
													" *ngIf="$first" [ngStyle]="
														infor?.batteryPer >= 20
															? {
																	'background-color':
																		'#16a184',
																	color:
																		'#ffffff'
															  }
															: {
																	'background-color':
																		'#fbd3c7'
															  }
													">
                                                    {{
                                                    infor?.batteryPer
                                                    ? infor?.batteryPer +
                                                    "%"
                                                    : "---"
                                                    }}
                                                </td>
                                                <td [attr.rowspan]="
														infor?.jointWorkWithId
															?.length
													" *ngIf="$first">
                                                    {{ infor?.block?.areaName }}
                                                </td>
                                                <td [attr.rowspan]="
														infor?.jointWorkWithId
															?.length
													" *ngIf="$first">
                                                    {{ infor?.workingAddress }}
                                                </td>
                                                <td>{{ joint.Name }}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length" *ngIf="$first">
                                                    {{(infor?.detailingDone === true) ? 'Yes' : 'No'}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length" *ngIf="$first">
                                                    {{infor?.productPob}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length" *ngIf="$first">
                                                    {{infor?.sampleQty}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length" *ngIf="$first">
                                                    {{infor?.purchasedQty}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length" *ngIf="$first">
                                                    {{infor?.punchDate | date}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length" *ngIf="$first">
                                                    {{infor?.clinicalAddress ? (infor?.clinicalAddress | titlecase ) :
                                                    '---'}}
                                                </td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length" *ngIf="$first">
                                                    {{infor?.phoneOrder === true ? 'Yes' : 'No'}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length" *ngIf="$first">
                                                    {{infor?.reminder === true ? 'Yes' : 'No'}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length" *ngIf="$first">
                                                    {{infor?.totalSession?.timeIn | date:'h:mm:ss a' : 'UTC'}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length" *ngIf="$first">
                                                    {{infor?.totalSession?.timeOut | date:'h:mm:ss a' : 'UTC'}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length" *ngIf="$first">
                                                    {{infor?.remarks ? (infor?.remarks | titlecase) : '---'}}</td>

                                            </tr>
                                            <tr *ngIf="
													!infor?.jointWorkWithId
														?.length
												">
                                                <td>{{ i + 1 }}</td>
                                                <td>
                                                    {{
                                                    infor?.providerinfo
                                                    ?.providerName
                                                    }}
                                                </td>
                                                <td [ngStyle]="
														infor?.batteryPer >= 20
															? {
																	'background-color':
																		'#16a184',
																	color:
																		'#ffffff'
															  }
															: {
																	'background-color':
																		'#fbd3c7'
															  }
													">
                                                    {{
                                                    infor?.batteryPer
                                                    ? infor?.batteryPer +
                                                    "%"
                                                    : "---"
                                                    }}
                                                </td>
                                                <td>
                                                    {{ infor?.block?.areaName }}
                                                </td>
                                                <td>
                                                    {{ infor?.workingAddress }}
                                                </td>
                                                <td></td>
                                                <td>{{(infor?.detailingDone === true) ? 'Yes' : 'No'}}</td>
                                                <td>{{infor?.productPob}}</td>
                                                <td>{{infor?.sampleQty}}</td>
                                                <td>{{infor?.purchasedQty}}</td>
                                                <td>{{infor?.punchDate | date}}</td>
                                                <td> {{infor?.clinicalAddress ? (infor?.clinicalAddress | titlecase ) :
                                                    '---'}}
                                                </td>
                                                <td> {{infor?.phoneOrder === true ? 'Yes' : 'No'}}</td>
                                                <td> {{infor?.reminder }}</td>
                                                <td>{{infor?.totalSession?.timeIn | date:'h:mm:ss a' : 'UTC'}}</td>
                                                <td>{{infor?.totalSession?.timeOut | date:'h:mm:ss a' : 'UTC'}}</td>
                                                <td>{{infor?.remarks ? (infor?.remarks | titlecase) : '---'}}</td>
                                            </tr>

                                            <!-- <tr *ngFor="let product of infor?.productDetails; let $first = first">
                                                                            <td>{{ product.productName }}</td>
                                                                            <td>{{ product.productQuantity }}</td>
                                                                            <td>{{ product.productPrice }}</td>
                                                                            <td>{{ product.pob }}</td>
                                                                            <td [attr.rowspan]="infor?.productDetails?.length + 1" *ngIf="$first">{{infor?.callObjective}}</td>
                                                                        </tr> -->
                                        </ng-container>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <table class="display table table-responsive mb-5 datatable" style="width: 100%"
                                [hidden]="!tbody2.innerText" *ngIf="data?.workingStatus == 'Working'">
                                <thead>
                                    <tr class="bg-primary text-white">
                                        <th>S no.</th>
                                        <th style="color: #ffed01;"> {{this.currentUser.company.lables.vendorLabel}}
                                            Name </th>
                                        <th> Battery Percentage </th>
                                        <th> {{this.currentUser.company.lables.areaLabel}} Name </th>
                                        <th> Working Address </th>
                                        <th> Joint Work With </th>
                                        <th> Call Objective </th>
                                        <th> Detailing Status </th>
                                        <th> POB</th>
                                        <th> Sample Placed </th>
                                        <th> Product Placed </th>
                                        <th> Call Punch Date </th>
                                        <th> Clinical Address </th>
                                        <th> Phone Order </th>
                                        <th> Reminder Call </th>
                                        <th> Time In </th>
                                        <th> Time Out </th>
                                        <th> Remarks</th>

                                    </tr>
                                </thead>
                                <tbody #tbody2>
                                    <ng-container *ngFor="
											let infor of filterDrugInfor(
												data.info
											);
											let i = index
										">
                                        <ng-container *ngIf="
												infor?.providerType == 'Drug'
											">
                                            <tr>
                                                <td [attr.rowspan]="
														infor?.jointWorkWithId
															?.length + 1
													">
                                                    {{ i + 1 }}
                                                </td>
                                                <td [attr.rowspan]="
														infor?.jointWorkWithId
															?.length + 1
													">
                                                    {{
                                                    infor?.providerinfo
                                                    ?.providerName
                                                    }}
                                                </td>
                                                <td [attr.rowspan]="
														infor?.jointWorkWithId
															?.length + 1
													" [ngStyle]="
														infor?.batteryPer >= 20
															? {
																	'background-color':
																		'#16a184',
																	color:
																		'#ffffff'
															  }
															: {
																	'background-color':
																		'#fbd3c7'
															  }
													">
                                                    {{
                                                    infor?.batteryPer
                                                    ? infor?.batteryPer +
                                                    "%"
                                                    : "---"
                                                    }}
                                                </td>
                                                <ng-container *ngIf="
														!infor?.jointWorkWithId
															?.length
													">
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{
                                                        infor?.block
                                                        ?.areaName
                                                        }}
                                                    </td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{
                                                        infor?.workingAddress
                                                        }}
                                                    </td>
                                                    <td></td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{
                                                        infor?.callObjective
                                                        }}
                                                    </td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{
                                                        infor?.detailingDone ===
                                                        true
                                                        ? "Yes"
                                                        : "No"
                                                        }}
                                                    </td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{ infor?.productPob }}
                                                    </td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{ infor?.sampleQty }}
                                                    </td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{
                                                        infor?.purchasedQty
                                                        }}
                                                    </td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{
                                                        infor?.punchDate
                                                        | date
                                                        }}
                                                    </td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{
                                                        infor?.clinicalAddress
                                                        ? (infor?.clinicalAddress
                                                        | titlecase)
                                                        : "---"
                                                        }}
                                                    </td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{
                                                        infor?.phoneOrder ===
                                                        true
                                                        ? "Yes"
                                                        : "No"
                                                        }}
                                                    </td>
                                                    <td [attr.rowspan]="
                                                    infor
                                                        ?.jointWorkWithId
                                                        ?.length + 1
                                                ">
                                                        {{
                                                        infor?.reminder }}
                                                    </td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{
                                                        infor?.totalSession
                                                        ?.timeIn
                                                        | date
                                                        : "h:mm:ss a"
                                                        : "UTC"
                                                        }}
                                                    </td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{
                                                        infor?.totalSession
                                                        ?.timeOut
                                                        | date
                                                        : "h:mm:ss a"
                                                        : "UTC"
                                                        }}
                                                    </td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{
                                                        infor?.remarks
                                                        ? (infor?.remarks
                                                        | titlecase)
                                                        : "---"
                                                        }}
                                                    </td>
                                                    <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1">
                                                        {{infor?.phoneOrder === true ? 'Yes' : 'No'}}</td>
                                                    <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1">
                                                        {{infor?.reminder }}</td>
                                                    <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1">
                                                        {{infor?.totalSession?.timeIn | date:'h:mm:ss a' : 'UTC'}}</td>
                                                    <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1">
                                                        {{infor?.totalSession?.timeOut | date:'h:mm:ss a' : 'UTC'}}</td>
                                                    <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1">
                                                        {{infor?.remarks ? (infor?.remarks | titlecase) : '---'}}</td>
                                                </ng-container>
                                            </tr>
                                            <tr *ngFor="
													let joint of infor?.jointWorkWithId;
													let $first = first
												">
                                                <td [attr.rowspan]="
														infor?.jointWorkWithId
															?.length + 1
													" *ngIf="$first">
                                                    {{ infor?.block?.areaName }}
                                                </td>
                                                <td [attr.rowspan]="
														infor?.jointWorkWithId
															?.length + 1
													" *ngIf="$first">
                                                    {{ infor?.workingAddress }}
                                                </td>
                                                <td>{{ joint.Name }}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1">
                                                    {{infor?.callObjective}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1" *ngIf="$first">
                                                    {{(infor?.detailingDone === true) ? 'Yes' : 'No'}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1" *ngIf="$first">
                                                    {{infor?.productPob}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1" *ngIf="$first">
                                                    {{infor?.sampleQty}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1" *ngIf="$first">
                                                    {{infor?.purchasedQty}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1" *ngIf="$first">
                                                    {{infor?.punchDate | date}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1" *ngIf="$first">
                                                    {{infor?.clinicalAddress ? (infor?.clinicalAddress | titlecase ) :
                                                    '---'}}
                                                </td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1" *ngIf="$first">
                                                    {{infor?.phoneOrder === true ? 'Yes' : 'No'}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1" *ngIf="$first">
                                                    {{infor?.reminder }}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1" *ngIf="$first">
                                                    {{infor?.totalSession?.timeIn | date:'h:mm:ss a' : 'UTC'}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1" *ngIf="$first">
                                                    {{infor?.totalSession?.timeOut | date:'h:mm:ss a' : 'UTC'}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1" *ngIf="$first">
                                                    {{infor?.remarks ? (infor?.remarks | titlecase) : '---'}}</td>

                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <table class="display table table-responsive mb-5" style="width: 100%"
                                [hidden]="!tbody3.innerText" *ngIf="data?.workingStatus == 'Working'">
                                <thead>
                                    <tr class="bg-primary text-white">
                                        <th>S no.</th>
                                        <th style="color: #ffed01;"> {{this.currentUser.company.lables.stockistLabel}}
                                            Name </th>
                                        <th> Battery Percentage </th>
                                        <th> {{this.currentUser.company.lables.areaLabel}} Name </th>
                                        <th> Working Address </th>
                                        <th> Joint Work With </th>
                                        <th> Call Objective </th>
                                        <th> Detailing Status </th>
                                        <th> POB</th>
                                        <th> Sample Placed </th>
                                        <th> Product Placed </th>
                                        <th> Call Punch Date </th>
                                        <th> Clinical Address </th>
                                        <th> Phone Order </th>
                                        <th> Reminder Call </th>
                                        <th> Time In </th>
                                        <th> Time Out </th>
                                        <th> Remarks</th>

                                    </tr>
                                </thead>
                                <tbody #tbody3>
                                    <ng-container *ngFor="
											let infor of filterStockistInfor(
												data.info
											);
											let i = index
										">
                                        <ng-container *ngIf="
												infor?.providerType ==
												'Stockist'
											">
                                            <tr>
                                                <td [attr.rowspan]="
														infor?.jointWorkWithId
															?.length + 1
													">
                                                    {{ i + 1 }}
                                                </td>
                                                <td [attr.rowspan]="
														infor?.jointWorkWithId
															?.length + 1
													">
                                                    {{
                                                    infor?.providerinfo
                                                    ?.providerName
                                                    }}
                                                </td>
                                                <td [attr.rowspan]="
														infor?.jointWorkWithId
															?.length + 1
													" [ngStyle]="
														infor?.batteryPer >= 20
															? {
																	'background-color':
																		'#16a184',
																	color:
																		'#ffffff'
															  }
															: {
																	'background-color':
																		'#fbd3c7'
															  }
													">
                                                    {{
                                                    infor?.batteryPer
                                                    ? infor?.batteryPer +
                                                    "%"
                                                    : "---"
                                                    }}
                                                </td>
                                                <ng-container *ngIf="
														!infor?.jointWorkWithId
															?.length
													">
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{
                                                        infor?.block
                                                        .areaName
                                                        }}
                                                    </td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{
                                                        infor?.workingAddress
                                                        }}
                                                    </td>
                                                    <td></td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{
                                                        infor?.callObjective
                                                        }}
                                                    </td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{
                                                        infor?.detailingDone ===
                                                        true
                                                        ? "Yes"
                                                        : "No"
                                                        }}
                                                    </td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{ infor?.productPob }}
                                                    </td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{ infor?.sampleQty }}
                                                    </td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{
                                                        infor?.purchasedQty
                                                        }}
                                                    </td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{
                                                        infor?.punchDate
                                                        | date
                                                        }}
                                                    </td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{
                                                        infor?.clinicalAddress
                                                        ? (infor?.clinicalAddress
                                                        | titlecase)
                                                        : "---"
                                                        }}
                                                    </td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{
                                                        infor?.phoneOrder ===
                                                        true
                                                        ? "Yes"
                                                        : "No"
                                                        }}
                                                    </td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{
                                                        infor?.reminder
                                                        }}
                                                    </td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{
                                                        infor?.totalSession
                                                        ?.timeIn
                                                        | date
                                                        : "h:mm:ss a"
                                                        : "UTC"
                                                        }}
                                                    </td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{
                                                        infor?.totalSession
                                                        ?.timeOut
                                                        | date
                                                        : "h:mm:ss a"
                                                        : "UTC"
                                                        }}
                                                    </td>
                                                    <td [attr.rowspan]="
															infor
																?.jointWorkWithId
																?.length + 1
														">
                                                        {{
                                                        infor?.remarks
                                                        ? (infor?.remarks
                                                        | titlecase)
                                                        : "---"
                                                        }}
                                                    </td>
                                                    <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1">
                                                        {{infor?.phoneOrder === true ? 'Yes' : 'No'}}</td>

                                                    <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1">
                                                        {{infor?.reminder}}</td>

                                                    <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1">
                                                        {{infor?.totalSession?.timeIn | date:'h:mm:ss a' : 'UTC'}}</td>
                                                    <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1">
                                                        {{infor?.totalSession?.timeOut | date:'h:mm:ss a' : 'UTC'}}</td>
                                                    <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1">
                                                        {{infor?.remarks ? (infor?.remarks | titlecase) : '---'}}</td>
                                                </ng-container>
                                            </tr>
                                            <tr *ngFor="
													let joint of infor?.jointWorkWithId;
													let $first = first
												">
                                                <td [attr.rowspan]="
														infor?.jointWorkWithId
															?.length + 1
													" *ngIf="$first">
                                                    {{ infor?.block?.areaName }}
                                                </td>
                                                <td [attr.rowspan]="
														infor?.jointWorkWithId
															?.length + 1
													" *ngIf="$first">
                                                    {{ infor?.workingAddress }}
                                                </td>
                                                <td>{{ joint.Name }}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1">
                                                    {{infor?.callObjective}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1" *ngIf="$first">
                                                    {{(infor?.detailingDone === true) ? 'Yes' : 'No'}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1" *ngIf="$first">
                                                    {{infor?.productPob}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1" *ngIf="$first">
                                                    {{infor?.sampleQty}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1" *ngIf="$first">
                                                    {{infor?.purchasedQty}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1" *ngIf="$first">
                                                    {{infor?.punchDate | date}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1" *ngIf="$first">
                                                    {{infor?.clinicalAddress ? (infor?.clinicalAddress | titlecase ) :
                                                    '---'}}
                                                </td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1" *ngIf="$first">
                                                    {{infor?.phoneOrder === true ? 'Yes' : 'No'}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1">
                                                    {{infor?.reminder }}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1" *ngIf="$first">
                                                    {{infor?.totalSession?.timeIn | date:'h:mm:ss a' : 'UTC'}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1" *ngIf="$first">
                                                    {{infor?.totalSession?.timeOut | date:'h:mm:ss a' : 'UTC'}}</td>
                                                <td [attr.rowspan]="infor?.jointWorkWithId?.length + 1" *ngIf="$first">
                                                    {{infor?.remarks ? (infor?.remarks | titlecase) : '---'}}</td>

                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <table class="table table-responsive" style="width: 100%"
                                *ngIf="data?.workingStatus != 'Working'" [hidden]="!tbody4.innerText">
                                <tbody #tbody4>
                                    <td></td>
                                    <td>
                                        <strong>--{{
                                            data?.workingStatus
                                            }}--</strong>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </ng-container>
                    <div class="m-portlet__foot m-portlet__foot--fit" style="margin: 2em 0"></div>
                </div>

                <!-- </table> -->
            </ng-container>
        </m-portlet>
    </div>
</div>
<div class="col-xl-12" *ngIf="showProcessing" align="center">
    <img src="assets/app/media/img/processing/loading.gif" />
</div>