<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Headquarter Wise Stock and Sales Report
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='sssForm' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewRecords()">
            <div class="m-portlet__body">
                <div class="row col-lg-12" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'">
                    <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
                </div>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row" [hidden]=!showAdminAndMGRLevelFilter>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                                    <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent>
                                    </m-division>
                                    <!-- <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type> -->
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showState">
                                    <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                                    </m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showDistrict">
                                    <m-district [check]=true (valueChange)="getDistrictValue($event)" #callDistrictComponent></m-district>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                                    <m-designation (valueChange)="getDesignation($event)" #callMonthComponent [check]=true></m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                                    <m-employee [check]=true (valueChange)="getEmployeeValue($event)" #callEmployeeComponent></m-employee>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent" [disabled]="!sssForm.valid"><span><i
                                                class="la la-check"></i></span>View
                                        Report</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>
<div *ngIf="showReport">
    <m-portlet>
        <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Primary-Stock and Sales Report
                </h3>
            </div>
        </ng-container>
        <div mPortletHeadTools>
            <div align="right">
                <button mat-raised-button color="accent" (click)="exporttoExcel()">
                    <span>
                        <i class="la la-download"></i>
                    </span>Download</button>
            </div>
        </div>
        <div mPortletBody>
            <div style="overflow-x:auto;" class="mat-elevation-z2">
                <table class="table table-bordered table-responsive-sm" id="tableId1">
                    <thead>
                        <tr>
                            <th>S.N.</th>
                            <th>State</th>
                            <th>Headquarter</th>
                            <th style="text-align: center" *ngFor="let month of dynamicTableHeader">{{month}}</th>
                            <th colspan="month?.length" style="text-align: center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of data; let i = index">
                            <td>
                                {{i+1}}
                            </td>
                            <td>
                                {{d.stateName}}
                            </td>
                            <td>
                                {{d.hqName}}
                            </td>
                            <ng-container *ngFor="let dd of d.data">
                                <td>{{dd}}</td>
                            </ng-container>
                            <td>
                                {{d.totalAmt}}
                            </td>

                        </tr>

                    </tbody>
                </table>


            </div>
        </div>
    </m-portlet>
</div>


<div class="col-xl-12" *ngIf="showProcessing" align="center">
    <img src="assets/app/media/img/processing/loading.gif">
</div>