<m-portlet [options]="{enableSticky: true}">
  <div mPortletHeadTitle>
      <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
              Investment Summary
          </h3>
      </div>
  </div>
  <div mPortletHeadTools>
      <div>
          <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
      </div>
  </div>
  <div mPortletBody [hidden]="!isToggled" >
      <form [formGroup]='investmentForm' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewRecords()">
          <div class="m-portlet__body">
              <div class="row col-lg-12">
                  <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
              </div>
              <div class="row">
                  <div class="col-xl-12 ">
                      <div class="m-form__section m-form__section--first">
                          <div class="form-group m-form__group row" [hidden]=!showAdminAndMGRLevelFilter>

                              <div class="col-lg-3 m-form__group-sub">
                                  <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                              </div>
                              <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                                  <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent>
                                  </m-division>
                                  <!-- <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type> -->
                              </div>
                              <div class="col-lg-3 m-form__group-sub" *ngIf="showState">
                                  <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                                  </m-state>
                              </div>
                              <div class="col-lg-3 m-form__group-sub" *ngIf="showDistrict">
                                  <m-district [check]=true (valueChange)="getDistrictValue($event)"
                                      #callDistrictComponent></m-district>
                              </div>
                              <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                                  <m-designation (valueChange)="getDesignation($event)" #callMonthComponent
                                      [check]=true></m-designation>
                              </div>
                              <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                                  <m-employee [check]=true (valueChange)="getEmployeeValue($event)"
                                      #callEmployeeComponent></m-employee>
                              </div>
                              <div class="col-lg-3 m-form__group-sub">
                                  <m-status (valueChange)="getStatusValue($event)" [check]="true" #setStatus>
                                  </m-status>
              </div>
                              <div class="col-lg-3 m-form__group-sub">
                                  <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                              </div>
                              <div class="col-lg-3 m-form__group-sub">
                                  <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                              </div>
                              <div class="col-lg-3 m-form__group-sub">
                                  <button mat-raised-button color="accent" [disabled]="!investmentForm.valid"><span><i
                                              class="la la-check"></i></span> View
                                      Status</button> </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
          <div class="m-portlet__foot m-portlet__foot--fit">
          </div>
      </form>

  </div>
</m-portlet>


<ng-container mPortletBody *ngIf="showReport">
  <div class="m-portlet">
      <div class="m-portlet__body m-portlet__body--no-padding">
          <div class="row m-row--no-padding m-row--col-separator-xl">
              <div class="col-xl-12">
                  <div class="m-widget14">
                      <ng-container mPortletHeadTitle>
                          <div class="m-portlet__head-title">
                              <h3 class="m-portlet__head-text">
                                  Investment Summary Report
                              </h3>
                          </div>
                      </ng-container>
                      <hr /><br />

                      <table #dataTable class="display" style="width:100%">

                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</ng-container>


<!-- <ng-container mPortletBody *ngIf="showDateWiseDCRReport">
    <div class="m-portlet">
        <div class="m-portlet__body m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-12">
                    <div class="m-widget14">
                        <div mPortletHeadTitle>
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Investment Details Date Wise Report
                                </h3>
                            </div>
                        </div>
                        <hr /><br />

                        <div #target *ngIf="showDateWiseDCRReport">
                            <div mPortletBody id="tableId1">
                                <ng-container mPortletHeadTitle *ngIf="showDateWiseDCRReport">
                                    <div class="row" [hidden]="!showDateWiseDCRReport">
                                        <div class="col">
                                            <span matTooltip="Export To Excel" matTooltipPosition="above"
                                                aria-label="Displays a tooltip" style="float: right;"
                                                (click)="exporttoExcel()"><i class="fa fa-file-excel"
                                                    style="cursor:pointer; color: green;font-size: 2em;"
                                                    aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                </ng-container>

                                <div class="row pb-3" [hidden]="!showDateWiseDCRReport">
                                    <div style="overflow: auto; width :100%; max-height: 90vh;">
                                        <table class="display">
                                            <thead>
                                                <tr>
                                                    <th width="10%">S.No.</th>
                                                    <th width="10%"> Date </th>
                                                    <th width="10%"> Name </th>
                                                    <th width="35%"> Visited {{this.currentUser.company.lables.areaLabel}}
                                                    </th>
                                                    <th width="15%"> Joint Work With </th>
                                                    <th width="15%"> Product Details </th>
                                                    <th width="15%"> Gift Details </th>
                                                    <th width="10%"> Total {{this.currentUser.company.lables.doctorLabel}}
                                                        Met </th>
                                                        <th *ngIf="isPOBExist" width="10%"> Total
                                                            {{this.currentUser.company.lables.doctorLabel}} POB </th>
                                                    <th width="10%"> {{this.currentUser.company.lables.vendorLabel}} Met
                                                    </th>
                                                    <th width="10%"> {{this.currentUser.company.lables.stockistLabel}} Met
                                                    </th>
    
                                                    <th *ngIf="isPOBExist" width="10%">
                                                        {{this.currentUser.company.lables.vendorLabel}} /
                                                        {{this.currentUser.company.lables.stockistLabel}} POB </th>
                                                    <th width="10%"> Remarks </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let l of dataSources ; let i=index; " align="center">
                                                    <td  width="10%">{{  i+1 }} </td>
                                                    <td nowrap width="10%"> <button mat-button color="accent"
                                                            style="color: #3f51b5;" (click)="getInfo(l.investmentId)">{{l.submissionDate
                                                            | date}} </button></td>
                                                   
                                                    <td width="10%">{{l.userName}} </td>
                                                    <td width="35%">
                                                        <ul>
                                                            <li *ngFor="let n of l.visitedBlock">
                                                                {{n.from}} -- {{n.to}}
                                                            </li>
                                                        </ul>
                                                    </td>
    
                                                    <td width="15%">
                                                        <ul>
                                                            <li *ngFor="let n of l.jointWork">
                                                                {{n.Name}}
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td width="35%">
                                                        <ul>
                                                            <li *ngFor="let k of l.productDetails">
                                                                <tr *ngFor="let n of k">
                                                                    <td>  {{n.productName}} --- {{n.productSold}} --- {{n.productFreeQty}}</td>
                                                                </tr>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td width="35%">
                                                        <ul>
                                                            <li *ngFor="let k of l.giftDetails">
                                                                <tr *ngFor="let n of k">
                                                                    <td>  {{n.giftName}} --- {{n.giftQty}}</td>
                                                                </tr>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td width="10%">{{l.RMPCount}} </td>
                                                    <td *ngIf="isPOBExist" width="10%">{{l.doctorPOB.toFixed(2)}} </td>
                                                    <td width="10%"> {{l.DrugStoreCount}}</td>
                                                    <td width="10%"> {{l.stockistCount}}</td>
                                                    <td *ngIf="isPOBExist" width="10%"> {{l.vendorPOB.toFixed(2)}}</td>
                                                    <td width="10%"> {{l.remarks}}</td>
                                                    
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


</div>
</div>
                        </div>
                        </div>
                    </div>
                   </div>
                   </div>
                   </ng-container> -->

                   <!-- <mat-dialog-content class="mat-typography"  *ngIf="FinalView">
                    <ng-container mPortletBody>
                      <div class="row example-card" style="background-color: #16a184;height: 33px;margin-left: 10px;margin-right: 10px;">
                          <h4 style="color: rgb(235, 235, 235)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Manager Investment Basic Info </h4>
                      </div>
                      <div class="row">
                          <br/>
                      </div>
                      <div class="row example-card" style="margin-left: 10px;margin-right: 10px;">
                    
                        <div class="col-lg-3 m-form__group-sub">
                            <label class="form-control-label"> Submission Date : &nbsp;</label> {{invstmentdataSource.submissionDate | date}}
                        </div>
                          <div class="col-lg-3 m-form__group-sub">
                              <label class="form-control-label">Remarks :  &nbsp; </label>
                              <span *ngIf="invstmentdataSource.remarks!=undefined">{{invstmentdataSource.remarks}}</span>
                          </div>
                          <div class="row">
                              <br/> <br/><br/>
                          </div>
                    
                          <div class="col-lg-3 m-form__group-sub">
                              <label class="form-control-label">
                                          Work With : &nbsp;</label>
                             <ul class="ul">
                                  <li *ngFor="let l of invstmentdataSource.jointWork" class="li">
                                      {{l.Name}}
                                  </li>
                              </ul>
                          </div>
                    
                          <div class="col-lg-6 m-form__group-sub">
                              <label class="form-control-label">{{this.currentUser.company.lables.areaLabel}} :  &nbsp;</label>
                              <ol class="ol">
                                  <li *ngFor="let l of invstmentdataSource.visitedBlock">
                                      {{l.from}} --- {{l.to}}
                                  </li>
                              </ol>
                          </div>
                      </div>
                      <div class="m-separator m-separator--dashed m-separator--lg"></div>
                      <mat-tab-group >
                           <mat-tab label="{{this.currentUser.company.lables.doctorLabel}}">
                              <div class="example-container mat-elevation-z8">
                                  <table align="center" class="table table-striped div">
                                      <thead>
                    
                                          <tr class="tr">
                                             <th> {{this.currentUser.company.lables.doctorLabel}} Name </th>
                                              <th> Joint Work With </th>
                                              <th> Product Detail </th>
                                              <th> POB </th>
                                              <th> Gift Detail </th>
                                              <th> Remarks </th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor="let l of invstmentdataSource.info" align="center">
                                              <td *ngIf="l.providerType=='RMP'"> {{l.providerinfo.providerName}} </td>
                                              <td *ngIf="l.providerType=='RMP'">
                                                  <ol>
                                                      <li *ngFor="let n of l.jointWorkWithId">
                                                          {{n.Name}}
                                                      </li>
                                                  </ol>
                    
                                              </td>
                                              
                                              <td *ngIf="l.providerType=='RMP'"> 
                                                  <ol>
                                                      <li *ngFor="let n of l.productDetails">
                                                          {{n.productName}} --- {{n.productSold}}--- {{n.productFreeQty}}
                                                      </li>
                                                  </ol>
                                              </td>
                                              <td *ngIf="l.providerType=='RMP'">
                                                <ol>
                                                    <li *ngFor="let n of l.productDetails">
                                                        {{n.pob.toFixed(2)}}
                                                    </li>
                                                </ol>
                                            </td>
                                              <td *ngIf="l.providerType=='RMP'">
                                                  <ol>
                                                      <li *ngFor="let n of l.giftDetails">
                                                          {{n.giftName}} --- {{n.giftQty}}
                                                      </li>
                                                  </ol>
                                              </td>
                                              <td *ngIf="l.providerType=='RMP' && invstmentdataSource.remarks!=undefined"> {{l.remarks}} </td>
                                          </tr>
                                      </tbody>
                                  </table>
                    
                              </div>
                    
                          </mat-tab>
                          <mat-tab label="{{this.currentUser.company.lables.vendorLabel}}">
                              <div class="example-container mat-elevation-z8">
                                  <table align="center" class="table div">
                                      <tr class="tr">
                                          <th>{{this.currentUser.company.lables.vendorLabel}} Name</th>
                                          <th>Product Detail</th>
                                          <th>POB </th>
                                          <th> Remarks </th>
                                      </tr>
                                      <tr *ngFor="let l of invstmentdataSource.info" align="center">
                                          <td *ngIf="l.providerType=='Drug'"> {{l.providerinfo.providerName}} </td>
                                             <td *ngIf="l.providerType=='Drug'">
                                              <table>
                                                  <tr *ngFor="let n of l.productDetails">
                                                      <td>  {{n.productName}} --- {{n.productSold}}--- {{n.productFreeQty}}</td>
                                                  </tr>
                                              </table>
                                          </td>
                                          <td *ngIf="l.providerType=='Drug'">
                                            <table>
                                                <tr *ngFor="let n of l.productDetails">
                                                    <td> {{n.pob.toFixed(2)}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                          <td *ngIf="l.providerType=='Drug'"> {{l.remarks}} </td>
                                      </tr>
                                  </table>
                    
                              </div>
                    
                          </mat-tab>
                          <mat-tab label="{{this.currentUser.company.lables.stockistLabel}}">
                              <div class="example-container mat-elevation-z8">
                                  <table align="center" class="table div">
                                      <tr class="tr">
                                          <th>{{this.currentUser.company.lables.vendorLabel}} Name</th>
                                          
                                          <th>Product Detail</th>
                                          <th>POB</th>
                                          <th> Remarks </th>
                                      </tr>
                                      <tr *ngFor="let l of invstmentdataSource.info" align="center">
                                          <td *ngIf="l.providerType=='Stockist'"> {{l.providerinfo.providerName}} </td>
                                          <td *ngIf="l.providerType=='Stockist'">
                                              <table>
                                                  <tr *ngFor="let n of l.productDetails">
                                                      <td>  {{n.productName}} --- {{n.productSold}}--- {{n.productFreeQty}}</td>
                                                  </tr>
                                              </table>
                                          </td>
                                          <td *ngIf="l.providerType=='Stockist'">
                                            <table>
                                                <tr *ngFor="let n of l.productDetails">
                                                    <td>  {{n.pob.toFixed(2)}} </td>
                                                </tr>
                                            </table>
                                        </td>
                                          <td *ngIf="l.providerType=='Stockist'"> {{l.remarks}} </td>
                                      </tr>
                                  </table>
                    
                              </div>
                    
                          </mat-tab>
                          
                      </mat-tab-group>
                    </ng-container>
                    </mat-dialog-content> -->


                    <ng-container mPortletBody *ngIf="showDateWiseDCRReport">
                        <div mPortletBody id="tableId1">
                        <div class="m-portlet">
                            <div class="m-portlet__body m-portlet__body--no-padding">
                                <div class="row m-row--no-padding m-row--col-separator-xl">
                                    <div class="col-xl-12">
                                        <div class="m-widget14">
                                            <div mPortletHeadTitle>
                                                <div class="m-portlet__head-title">
                                                    <h3 class="m-portlet__head-text">
                                                        Investment Details Date Wise Report
                                                    </h3>
                                                </div>
                                            </div>
                                            <br />
                    
                                            <div #target *ngIf="showDateWiseDCRReport">
                                                <div mPortletBody id="tableId1">
                                                    <ng-container mPortletHeadTitle *ngIf="showDateWiseDCRReport">
                                                        <div class="row" [hidden]="!showDateWiseDCRReport">
                                                            <div class="col">
                                                                <span matTooltip="Export To Excel" matTooltipPosition="above"
                                                                    aria-label="Displays a tooltip" style="float: right;"
                                                                    (click)="exporttoExcel()"><i class="fa fa-file-excel"
                                                                        style="cursor:pointer; color: green;font-size: 2em;"
                                                                        aria-hidden="true"></i></span>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                    
                                                    
                                                        <div style="overflow: auto; width :100%; max-height: 90vh;" >
                                                            <table class="table table-striped div">
                                                                <thead>
                                                                    <tr>
                                                                        <th width="10%">S.No.</th>
                                                                        <th width="10%"> Provider Name </th>
                                                                        <th width="15%"> Provider Type </th>
                                                                        <th width="15%"> Qualification </th>
                                                                        <th width="10%"> {{this.currentUser.company.lables.areaLabel}}</th>
                                                                        <th width="15%"> Product Name </th>
                                                                        <th width="15%"> Product Sold </th>
                                                                        <th width="15%"> Product Free </th>
                                                                        <th width="15%"> Product Price </th>
                                                                        <th width="15%"> POB </th>
                                                                         <th width="15%"> Gift Name </th> 
                                                                         <th width="15%"> Gift Qty </th>  
                                                                         <th width="15%"> Gift Price </th> 
                                                                         <th width="10%"> Gift Value </th>
                                                                        <th width="10%"> Visit Date </th> 
                                                                       
                        
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let l of dataSources ; let i=index; " align="center">
                                                                        <td  width="10%">{{i+1 }} </td>
                                                                        <td width="10%"> {{l.providerName}} </td>
                                                                        <td width="10%"> {{l.providerType}} </td>
                                                                        <td width="10%"> {{l.qualification}} </td> 
                                                                        <td width="10%"> {{l.areaName}} </td>             
                                                                        <td width="35%" *ngFor="let k of l.productDetails">
                                                                            <ul *ngFor="let n of k">
                                                                                <li > {{n.productName}},
                                                                                </li>
                                                                            </ul>
                                                                        </td>
                                                                        <td width="35%" *ngFor="let k of l.productDetails">
                                                                            <ul *ngFor="let n of k">
                                                                                <li>{{n.productSold}},
                                                                                </li>
                                                                            </ul>
                                                                        </td>
                                                                        <td width="35%" *ngFor="let k of l.productDetails">
                                                                            <ul *ngFor="let n of k">
                                                                                <li> {{n.productFreeQty}},
                                                                                </li>
                                                                            </ul>
                                                                        </td>
                                                                        <td width="35%" *ngFor="let k of l.productDetails">
                                                                            <ul *ngFor="let n of k">
                                                                                <li>{{n.productPrice}},
                                                                                </li>
                                                                            </ul>
                                                                        </td>
                                                                        <td width="35%" *ngFor="let k of l.productDetails">
                                                                            <ul *ngFor="let n of k">
                                                                                <li> {{n.pob.toFixed(2)}},
                                                                                </li>
                                                                            </ul>
                                                                        </td>
                                                                        <td width="35%" *ngFor="let k of l.giftDetails">
                                                                            <ul *ngFor="let n of k">
                                                                                <li>{{n.giftName}},
                                                                                </li>
                                                                            </ul>
                                                                        </td>
                                                                        <td width="35%" *ngFor="let k of l.giftDetails">
                                                                            <ul *ngFor="let n of k">
                                                                                <li>{{n.giftQty}},
                                                                                </li>
                                                                            </ul>
                                                                        </td>
                                                                        <td width="35%" *ngFor="let k of l.giftDetails">
                                                                        <ul *ngFor="let n of k">
                                                                                <li>{{n.giftPrice}},
                                                                                </li>
                                                                            </ul>
                                                                        </td>
                                                                        <td width="35%" *ngFor="let k of l.giftDetails">
                                                                            <ul *ngFor="let n of k">
                                                                                <li> {{n.giftQty*n.giftPrice}},
                                                                                </li>
                                                                            </ul>
                                                                        </td>
                                                                        <td width="10%"> {{l.submissionDate | date}} </td>
                                                                       
                                                                        
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                    
                    
                    </div>
                    </div>
                                            </div>
                                            </div>
                                        </div>
                                       </div>
                                       </div>
                                       </div>
                                       </ng-container>
<div class="col-xl-12 showProcessing" *ngIf="showProcessing" align="center">
	<mat-spinner strokeWidth="3" [diameter]="60"></mat-spinner>
</div>


