@import '~@angular/material/theming';
th.mat-sort-header-sorted {
    color: black;
}

.table-container {
    height: 400px;
    overflow: auto;
}

.mat-column-select {
    overflow: initial;
}

.example-container {
    height: 400px;
    overflow: auto;
    font-size: 10%;
}

 ::ng-deep .m-widget24 {
    @include mat-elevation(2);
    border-radius: 6px;
    padding-bottom: .5rem !important;
    margin-right: .5rem !important;
    background-color: #fff;
     ::ng-deep {
        .m-widget24__item .m-widget24__stats {
            float: right;
            margin-right: 1.8rem;
            margin-top: -0.43rem !important;
            font-size: 1.55rem;
            font-weight: 600;
        }
        .m-widget24__item .m-widget24__title {
            margin-left: 1.8rem;
            margin-top: 1.8rem !important;
            display: inline-block;
            font-size: 1.1rem;
            font-weight: 600;
        }
    }
}

table {
    width: 100%;
}


/* Zebra striping */

tr:nth-of-type(odd) {
    background: #eee;
}

th {
    padding: 6px;
    text-align: center;
    background: #16a184;
    color: rgb(235, 235, 235);
}

td,
th {
    padding: 0px;
    border: 1px solid #ccc;
    text-align: center;
}

.mat-header-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
}

//------------------Praveen Kumar 09-05-2019-------------------
.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}

.tg .tg-6zbl {
    background-color: #009901;
    color: #ffffff;
    border-color: inherit;
    text-align: left
}

.tg .tg-xldj {
    border-color: inherit;
    text-align: left
}

//-------------------_PK
.foo {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.green {
    background: #00B050;
}

.yellow {
    background: #FFC000;
}

.red {
    background: #FF0000;
}

.goToLeave {
    cursor: pointer;
}

.goToLeave:hover {
    cursor: pointer;
}

.amcharts-title-main {
    font: 200px;
    color: blueviolet;
    background-color: #FF0000;
}