<div *ngIf="showDashobad ">
    <!-- Broadcast UI need to discuss - Backend work has been completed- Anjana Rana -28-08-2019' -->
    <!-- <p *ngFor="let data of broadcastMessage; index as i">
        <marquee direction="left" behavior="loop" style="color:rgb(83, 135, 231);font-weight:bold" scrollamount="3">
            {{i+1}}. {{data.subject}} : {{data.message}}</marquee>
    </p> -->
    <!-- <div class="col-lg-12"> -->


    <!-- <div class="m-portlet" *ngIf="showERPDashboard">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            ERP Dashboard
                        </h3>
                    </div>
                </div>
            </div> -->
    <!-- <div class="m-portlet__body">
                <div class="m-form__section m-form__section--first">
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title">
                            </h4><br> 
                            <span class="m-widget24__stats m--font-info">
                                <a (click)="getERPDashboard()">ERP Dashboard</a>
                            </span>
                            <div class="m--space-10"></div>
                            <div class="progress m-progress--sm">
                                <div class="progress-bar m--bg-info" role="progressbar" style="width: 100%;"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div> 
        </div>   -->
</div>



<!-- <div class="m-portlet" *ngIf="showERPDashboard">
        <div class="m-portlet__body  m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-md-12 col-lg-6 col-xl-4">
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title">
                                #Total Primary Sale
                            </h4><br> 
                            <span class="m-widget24__stats m--font-info">
                                <a (click)="getStateWiseSale('primary')">{{totalPrimCount}}</a>
                            </span>
                            <div class="m--space-10"></div>
                            <div class="progress m-progress--sm">
                                <div class="progress-bar m--bg-info" role="progressbar" style="width: 100%;"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-6 col-xl-4">
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title">
                                #Total Collection
                            </h4><br>
                            <span class="m-widget24__stats m--font-brand">
                                <a (click)="getStateWiseSale('collection')"> {{totalCollecCount}}</a>
                            </span>
                            <div class="m--space-10"></div>
                            <div class="progress m-progress--sm">
                                <div class="progress-bar m--bg-brand" role="progressbar" style="width: 100%;"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-4">
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title">
                                #Total Outstanding

                            </h4><br>
                            <span class="m-widget24__stats m--font-danger">
                                <a (click)="getStateWiseSale('outstanding')">{{totalOutCount}}</a>
                            </span>
                            <div class="m--space-10"></div>
                            <div class="progress m-progress--sm">
                                <div class="progress-bar m--bg-danger" role="progressbar" style="width: 100%;"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div> -->

<!-- Demo Graph 1-->
<!-- <div class="m-portlet" *ngIf="showERPDemoDashboard">

        <div class="m-portlet__body m-portlet__body--no-padding">

            <div class="row m-row--no-padding m-row--col-separator-xl">

                <div class="col-xl-12">

                    <div class="m-widget14">

                        <div class="m-widget14__header">

                            <h3 class="m-widget14__title">

                                Target Vs. Achievement

                            </h3>

                        </div>

                        <div id="targetAchievementGraphDemo1" [style.width.%]="100" [style.height.px]="400"></div>

                    </div>

                </div>

            </div>

        </div>

    </div> -->
<!-- Demo Graph 1 End-->

<style type="text/css">
    input[type="radio"] {
        position: relative;
        outline: none;
        margin: 8px 20px -5px 14px;
        width: 50px;
        height: 18px;
        background: #555;
        -webkit-appearance: none;
        cursor: pointer;
        border-radius: 20px;
        box-shadow: -5px -5px 20px rgba(255, 255, 255, 0.1), 5px 5px 10px rgba(0, 0, 0, 1), inset 2px 2px 5px rgba(255, 255, 255, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.5), 0 0 0 2px #1f1f1f;
    }

    input[type="radio"]:checked {
        background: #20b7ff;
    }

    input[type="radio"]::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 25px;
        height: 19px;
        background: linear-gradient(to top, #222, #777);
        border-radius: 20px;
        box-shadow: 0 0 0 1px #232323;
        transform: scale(0.98, 0.96);
        transition: 0.5s;
    }

    input[type="radio"]:checked::before {
        left: 26px;
    }

    .dz {
        margin: auto;
        font-weight: 400;
    }

    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }

    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }

    .tg .tg-6zbl {
        background-color: #16a184;
        color: #ffffff;
        border-color: inherit;
        text-align: left
    }

    .tg .tg-xldj {
        border-color: inherit;
        text-align: left
    }
</style>
<style>
    .foo {
        float: left;
        width: 20px;
        height: 20px;
        margin: 5px;
        border: 1px solid rgba(0, 0, 0, .2);
    }

    .green {
        background: #A5D6A7;
    }

    .yellow {
        background: #FFF9C4;
    }

    .red {
        background: #ffcdd2;
    }

    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }

    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }

    .tg .tg-j06p {
        background-color: #46a183;
        color: #ffffff;
        border-color: inherit;
        text-align: left;
        font-weight: bold;
    }

    .tg .tg-rdt6 {
        background-color: #46a183;
        color: #ffffff;
        border-color: inherit;
        text-align: left;
        vertical-align: top;
        font-weight: bold;
    }

    .tg .tg-xldj {
        border-color: inherit;
        text-align: left
    }

    .tg .tg-0pky {
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }
</style>
<style>
    .foo {
        float: left;
        width: 20px;
        height: 20px;
        margin: 5px;
        border: 1px solid rgba(0, 0, 0, .2);
    }

    .green {
        background: #A5D6A7;
    }

    .yellow {
        background: #FFF9C4;
    }

    .red {
        background: #ffcdd2;
    }

    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }

    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }

    .tg .tg-j06p {
        background-color: #46a183;
        color: #ffffff;
        border-color: inherit;
        text-align: left;
        font-weight: bold;
    }

    .tg .tg-rdt6 {
        background-color: #46a183;
        color: #ffffff;
        border-color: inherit;
        text-align: left;
        vertical-align: top;
        font-weight: bold;
    }

    .tg .tg-xldj {
        border-color: inherit;
        text-align: left
    }

    .tg .tg-0pky {
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }
</style>
<!-- Demo Graph 2 -->
<!-- company lables on the top -->
<!-- <div class="m-portlet ">
    <div class="m-portlet__body  m-portlet__body--no-padding">
        
    </div>
</div> -->
<div class="row m-row--no-padding m-row--col-separator-xl">

    <div class="col-md-12 col-lg-6 col-xl-3 " *ngIf="currentUser.userInfo[0].designationLevel == 1">
        <!--begin::Total Profit-->
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title">
                    #TP Approval Status
                </h4><br>
                <span class="m-widget24__desc">
                    Current Status
                </span>
                <span class="m-widget24__stats m--font-brand">
                    Yes
                </span>
                <div class="m--space-10"></div>
                <div class="progress m-progress--sm">
                    <div class="progress-bar m--bg-brand" role="progressbar" style="width: 100%;" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
        </div>
        <!--end::Total Profit-->
    </div>
    <div class="col-md-12 col-lg-6 col-xl-3 " *ngIf="this.currentUser.userInfo[0].rL < 1">
        <!--begin::Total Profit-->
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title">
                    #Total Employees
                </h4><br>
                <span class="m-widget24__desc">
                    Total Employees
                </span>
                <span class="m-widget24__stats m--font-brand">
                    {{totalActiveUser}}
                </span>
                <div class="m--space-10"></div>
                <div class="progress m-progress--sm">
                    <div class="progress-bar m--bg-brand" role="progressbar" style="width: 100%;" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
        </div>
        <!--end::Total Profit-->
    </div>
    <!-- logged in today static -->
    <div class="col-md-12 col-lg-6 col-xl-3 " (click)="goToEmployeeCallLogin()"
        style="cursor: pointer; text-decoration: none;" *ngIf="this.currentUser.userInfo[0].rL < 1">
        <!--begin::Total Profit-->
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title">
                    #Active Today
                </h4><br>
                <span class="m-widget24__desc">
                    Logged In Today
                </span>
                <span class="m-widget24__stats m--font-danger">
                    {{totalActiveCount}}
                </span>
                <div class="m--space-10"></div>
                <div class="progress m-progress--sm">
                    <div class="progress-bar m--bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
        </div>
        <!--end::Total Profit-->
    </div>
    <div class="col-md-12 col-lg-6 col-xl-3 goToLeave " (click)="goToEmpLeave()"
        style="cursor: pointer; text-decoration: none;" *ngIf="this.currentUser.userInfo[0].rL < 1">
        <!--begin::New Users-->
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title">
                    #On Leave </h4><br>
                <span class="m-widget24__desc">
                    Employees
                </span>
                <span class="m-widget24__stats m--font-warning">
                    {{onLeave}}
                </span>
                <div class="m--space-10"></div>
                <div class="progress m-progress--sm">
                    <div class="progress-bar m--bg-warning" role="progressbar" style="width: 100%;" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
        </div>
        <!--end::New Users-->
    </div>

    <div class="col-md-12 col-lg-6 col-xl-3 goToLeave " (click)="goToLeaveApproval()"
        style="cursor: pointer; text-decoration: none;" *ngIf="this.currentUser.userInfo[0].rL < 1">
        <!--begin::New Users-->
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title">
                    #Leave Applications </h4><br>
                <span class="m-widget24__desc">
                    Recieved
                </span>
                <span class="m-widget24__stats m--font-brand">
                    {{totalLeaveCount}}
                </span>
                <div class="m--space-10"></div>
                <div class="progress m-progress--sm">
                    <div class="progress-bar m--bg-brand" role="progressbar" style="width: 100%;" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
        </div>
        <!--end::New Users-->
    </div>
    <!-- <div class="col-md-12 col-lg-6 col-xl-3">
            <div class="m-widget24">
                <div class="m-widget24__item">
                    <h4 class="m-widget24__title">
                        #Submitted DCR
                    </h4><br>
                    <span class="m-widget24__desc">
                        Total Submited DCR
                    </span>
                    <span class="m-widget24__stats m--font-info">
                        {{totalSubmittedDCR}}
                    </span>
                    <div class="m--space-10"></div>
                    <div class="progress m-progress--sm">
                        <div class="progress-bar m--bg-info" role="progressbar" style="width: 100%;"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                </div>
            </div>
        </div> -->
    <!-- <div class="col-md-12 col-lg-6 col-xl-3">
            <div class="m-widget24">
                <div class="m-widget24__item">
                    <h4 class="m-widget24__title">
                        #Total Pending DCR

                    </h4><br>
                    <span class="m-widget24__desc">
                        Not Submitted DCR
                    </span>
                    <span class="m-widget24__stats m--font-brand">
                        {{totalPendingDCR}}
                    </span>
                    <div class="m--space-10"></div>
                    <div class="progress m-progress--sm">
                        <div class="progress-bar m--bg-brand" role="progressbar" style="width: 100%;"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                </div>
            </div>
        </div> -->

</div>
<div class="row m-row--no-padding m-row--col-separator-xl mt-4 mb-5">

    <div class="col-md-12 col-lg-6 col-xl-3 " (click)="goToEmployeeCallAverage()"
        style="cursor: pointer; text-decoration: none;">
        <!--begin::New Users-->
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title">
                    # Doctor Call Avg. </h4><br>
                <span class="m-widget24__desc">
                    Current Month
                </span>
                <span class="m-widget24__stats m--font-danger">
                    {{teamDoctorCallAvg}}
                </span>
                <div class="m--space-10"></div>
                <div class="progress m-progress--sm">
                    <div class="progress-bar m--bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <!--end::New Users-->
    </div>

    <div class="col-md-12 col-lg-6 col-xl-3 " (click)="goToEmployeeCallAverage()"
        style="cursor: pointer; text-decoration: none;">
        <!--begin::New Users-->
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title">
                    # {{this.currentUser.company.lables.vendorLabel}} Call Avg. </h4><br>
                <span class="m-widget24__desc">
                    Current Month
                </span>
                <span class="m-widget24__stats m--font-danger">
                    {{teamChemistCallAvg}}
                </span>
                <div class="m--space-10"></div>
                <div class="progress m-progress--sm">
                    <div class="progress-bar m--bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <!--end::New Users-->
    </div>

    <div class="col-md-12 col-lg-6 col-xl-3 " (click)="goToEmployeeCallAverage()"
        style="cursor: pointer; text-decoration: none;">
        <!--begin::New Users-->
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title">
                    # Doctor {{this.currentUser.company.lables.vendorLabel}} POB </h4><br>
                <span class="m-widget24__desc">
                    Current Month
                </span>
                <span class="m-widget24__stats m--font-danger">
                    {{combDocvenPOB.toFixed(1)}}
                </span>
                <div class="m--space-10"></div>
                <div class="progress m-progress--sm">
                    <div class="progress-bar m--bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
        </div>
        <!--end::New Users-->
    </div>

    <div class="col-md-12 col-lg-6 col-xl-3 goToLeave " (click)="goToSponsorshipApproval()"
        style="cursor: pointer; text-decoration: none;" *ngIf="this.currentUser.userInfo[0].rL < 1">
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title">
                    # Sponsorship Approvals </h4><br>
                <span class="m-widget24__desc">
                    CRM Approval Count
                </span>
                <span class="m-widget24__stats m--font-brand">
                    {{sponsorshipApprovalCount}}
                </span>
                <div class="m--space-10"></div>
                <div class="progress m-progress--sm">
                    <div class="progress-bar m--bg-brand" role="progressbar" style="width: 100%;" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
        </div>
        <!--end::New Users-->
    </div>
</div>

<div class="row m-row--no-padding m-row--col-separator-xl mt-4 mb-5">

    <div class="col-md-12 col-lg-6 col-xl-3 goToLeave " (click)="goToEmployeeCallAverage()"
        style="cursor: pointer; text-decoration: none;">
        <!--begin::New Users-->
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title">
                    #Doctor POB </h4><br>
                <span class="m-widget24__desc">
                    Doctor POB
                </span>
                <span class="m-widget24__stats m--font-warning">
                    {{drPOB.toFixed(1)}}
                </span>
                <div class="m--space-10"></div>
                <div class="progress m-progress--sm">
                    <div class="progress-bar m--bg-warning" role="progressbar" style="width: 100%;" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
            <!--end::New Users-->
        </div>
        <!--end::New Users-->
    </div>

    <div class="col-md-12 col-lg-6 col-xl-3 goToLeave " (click)="goToEmployeeCallAverage()"
        style="cursor: pointer; text-decoration: none;">
        <!--begin::New Users-->
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title">
                    # {{this.currentUser.company.lables.vendorLabel}} POB </h4><br>
                <span class="m-widget24__desc">
                    Vendor POB
                </span>
                <span class="m-widget24__stats m--font-danger">
                    {{venPOB.toFixed(1)}}
                </span>
                <div class="m--space-10"></div>
                <div class="progress m-progress--sm">
                    <div class="progress-bar m--bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-6 col-xl-3 goToLeave " (click)="goToEmployeeCallAverage()"
        style="cursor: pointer; text-decoration: none;">
        <!--begin::New Users-->
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title">
                    #Stockist POB </h4><br>
                <span class="m-widget24__desc">
                    Stockist POB
                </span>
                <span class="m-widget24__stats m--font-danger">
                    {{stkPOB.toFixed(1)}}
                </span>
                <div class="m--space-10"></div>
                <div class="progress m-progress--sm">
                    <div class="progress-bar m--bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-6 col-xl-3 goToLeave " (click)="goToEmployeeCallAverage()"
        style="cursor: pointer; text-decoration: none;">
        <!--begin::New Users-->
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title">
                    #Total POB </h4><br>
                <span class="m-widget24__desc">
                    Total POB
                </span>
                <span class="m-widget24__stats m--font-danger">
                    {{totalPOB.toFixed(1)}}
                </span>
                <div class="m--space-10"></div>
                <div class="progress m-progress--sm">
                    <div class="progress-bar m--bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
        </div>
    </div>



</div>



<!-- mahender start code 07/01/2021-->
<div class="row m-row--no-padding m-row--col-separator-xl mt-4 mb-5">
    <div class="col-md-12 col-lg-6 col-xl-3 goToLeave " (click)="getUserattendence('Yes')"
        style="cursor: pointer; text-decoration: none;">
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title">
                    #Dcr Reminder </h4><br>
                <span class="m-widget24__desc">
                    Dcr Reminder
                </span>
                <span class="m-widget24__stats m--font-warning">
                    {{dcrgetRemenderCalls.toFixed(1)}}
                </span>
                <div class="m--space-10"></div>
                <div class="progress m-progress--sm">
                    <div class="progress-bar m--bg-warning" role="progressbar" style="width: 100%;" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-6 col-xl-3 goToLeave " (click)="getUserTpPending()"
        style="cursor: pointer; text-decoration: none;">
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title">
                    #TP Pending </h4><br>
                <span class="m-widget24__desc">
                    TP Pending
                </span>
                <span class="m-widget24__stats m--font-danger">
                    {{tppendding.toFixed(1)}}
                </span>
                <div class="m--space-10"></div>
                <div class="progress m-progress--sm">
                    <div class="progress-bar m--bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
        </div>
    </div>


    <div class="col-md-12 col-lg-6 col-xl-3 goToLeave " (click)="lastDatepob()"
        style="cursor: pointer; text-decoration: none;">
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title">
                    #Last Date POB </h4><br>
                <span class="m-widget24__desc">
                    Last Date POB
                </span>
                <span class="m-widget24__stats m--font-danger">
                    {{totalDayPob.toFixed(1)}}
                </span>
                <div class="m--space-10"></div>
                <div class="progress m-progress--sm">
                    <div class="progress-bar m--bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-6 col-xl-3 goToLeave " (click)="lastMonthtarget()"
        style="cursor: pointer; text-decoration: none;">
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title">
                    #Target Vs. Achievement </h4><br>
                <span class="m-widget24__desc">
                    Target Vs. Achievement
                </span>
                <!-- <span class="m-widget24__stats m--font-danger">
                    {{totalDayPob.toFixed(1)}}
                </span> -->
                <div class="m--space-10"></div>
                <div class="progress m-progress--sm">
                    <div class="progress-bar m--bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
        </div>
    </div>

</div>


<!-- mahender start code 07/01/2021-->
<div class="row m-row--no-padding m-row--col-separator-xl mt-4 mb-5">
    <div class="col-md-12 col-lg-6 col-xl-3 goToLeave " (click)="AreaNotification()"
        style="cursor: pointer; text-decoration: none;">
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title">
                    #Area Notification </h4><br>
                <span class="m-widget24__desc m--font-danger">
                  <b>  Area Addition Request {{ dataSources1 ? dataSources1?.areaApproveReq : 0}}</b> 
                </span><br>
                <span class="m-widget24__desc m--font-danger">
                  <b>  Area Deletion Request {{ dataSources1 ? dataSources1?.areaDeletionReq: 0}}</b> 
                </span>
                <div class="m--space-10"></div>
                <div class="progress m-progress--sm">
                    <div class="progress-bar m--bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-6 col-xl-3 goToLeave " (click)="DoctorNotification()"
        style="cursor: pointer; text-decoration: none;">
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title">
                    #Doctor Notification </h4><br>
                <span class="m-widget24__desc m--font-danger">
                  <b> Doctor Addition Request {{ dataSources1 ? dataSources1.doctorApproveReq : 0}}</b> 
                </span> <br>
                <span class="m-widget24__desc m--font-danger"> 
                   <b>Doctor Deletion Request  {{ dataSources1 ? dataSources1.doctorDeletionReq : 0}}</b> 
                </span>
                <div class="m--space-10"></div>
                <div class="progress m-progress--sm">
                    <div class="progress-bar m--bg-warning" role="progressbar" style="width: 100%;" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
        </div>
    </div>


    <div class="col-md-12 col-lg-6 col-xl-3 goToLeave " (click)="ChemistNotification()"
        style="cursor: pointer; text-decoration: none;">
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title">
                    #Chemist Notification</h4><br>
                <span class="m-widget24__desc  m--font-danger">
                    <b> Chemist Addition Request {{ dataSources1 ? dataSources1.vendorApproveReq : 0}}</b>
                </span><br>
                <span class="m-widget24__desc  m--font-danger">
                    <b>Chemist Deletion Request {{ dataSources1 ? dataSources1.vendorDeletionReq: 0}}</b>
                </span>
                
                <div class="m--space-10"></div>
                <div class="progress m-progress--sm">
                    <div class="progress-bar m--bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-6 col-xl-3 goToLeave " (click)="TourProgramtarget()"
        style="cursor: pointer; text-decoration: none;">
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title">
                    #TourProgram Notification</h4><br>
                <span class="m-widget24__desc">
                    TourProgram Notification
                </span>
                <div class="m--space-10"></div>
                <div class="progress m-progress--sm">
                    <div class="progress-bar m--bg-warning" role="progressbar" style="width: 100%;" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
        </div>
    </div>

</div>


<div class="m-portlet" *ngIf="getRemenderCallsTable">

    <div class="m-portlet__body">
        <div class="m-form__section m-form__section--first">
            <!-- <m-calender-utility></m-calender-utility> -->
            <!-- <span>
                <h4>To Check Dcr Reminder Call Please Click</h4>  
                <button mat-flat-button color="warn" (click)="getUserattendence('Yes')">Dcr Reminder</button>
            </span> -->
            <br>
            <br>

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource3">
                    <ng-container matColumnDef="sno">
                        <th mat-header-cell *matHeaderCellDef>S.No </th>
                        <td mat-cell *matCellDef="let element  let i = index"> {{ i + 1 }}</td>
                    </ng-container>

                    <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef>Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.Name}}</td>
                    </ng-container>

                    <ng-container matColumnDef="Pending">
                        <th mat-header-cell *matHeaderCellDef> Pending </th>
                        <td mat-cell *matCellDef="let element">{{element.dcrDate.length}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="Date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element">
                            <li *ngFor="let link of element.dcrDate">{{link}}</li>
                        </td>
                    </ng-container>



                    <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<div class="m-portlet" *ngIf="gettprecode">

    <div class="m-portlet__body">
        <div class="m-form__section m-form__section--first">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource4">

                    <ng-container matColumnDef="sno">
                        <th mat-header-cell *matHeaderCellDef>S.No </th>
                        <td mat-cell *matCellDef="let element  let i = index"> {{ i + 1 }}</td>
                    </ng-container>

                    <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="designation">
                        <th mat-header-cell *matHeaderCellDef>designation</th>
                        <td mat-cell *matCellDef="let element">{{element.designation}}</td>
                    </ng-container>



                    <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<!-- mahender end code  -->

<ng-container mPortletBody *ngIf="showERPDemoDashboard && currentUser.userInfo[0].designationLevel!=1">

    <div class="row">
        <div class="col-lg-6">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Target Vs. Achievement HQ Wise : {{stateNameForTargetDemo}}
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="m-form__section m-form__section--first">
                    <div id="targetAchievementHqGraphDemo2"
                        style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                </div>

            </div>

        </div>

    </div>

    <div class="col-lg-6">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Hq Wise Sale {{currentMonthName}}'{{currentYear}} : {{stateNameForTargetDemo}}
                        </h3>
                    </div>
                </div>
            </div>

            <div class="m-portlet__body">
                <div class="m-form__section m-form__section--first">
                    <div style=" height: 401px; overflow: auto;">
                        <table class="tg" style="table-layout: fixed; width: 405px">
                            <colgroup>
                                <col style="width: 147px">
                                <col style="width: 87px">
                                <col style="width: 78px">
                                <col style="width: 93px">
                            </colgroup>
                            <tr>
                                <th class="tg-6zbl">Headquarter Name</th>
                                <th class="tg-6zbl">Target</th>
                                <th class="tg-6zbl">Primary</th>
                                <th class="tg-6zbl">Secondary</th>
                            </tr>
                            <tr *ngFor="let data of hqDataSource">
                                <td class="tg-xldj"><b><a href="JavaScript:void(0);"
                                            (click)="showParty(data.headquarter)">{{data.headquarter}}</a></b>
                                </td>
                                <td class="tg-xldj">{{data.target}}</td>
                                <td class="tg-xldj">{{data.primary}}</td>
                                <td class="tg-xldj">{{data.secondary}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container mPortletBody *ngIf="showPartyData">
    <div class="row">
        <div class="col-lg-6">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Partywise Sale {{currentMonthName}}'{{currentYear}} : {{hqNameForTargetDemo}}
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="m-portlet__body">
                    <div class="m-form__section m-form__section--first">
                        <div style=" height: 401px; overflow: auto;margin-left: 40px;">
                            <!-- Table here -->
                            <table class="tg" style="table-layout: fixed; width: 405px">
                                <colgroup>
                                    <col style="width: 247px">
                                    <col style="width: 87px">
                                    <col style="width: 78px">
                                    <col style="width: 93px">
                                </colgroup>
                                <tr>
                                    <th class="tg-6zbl">Party Name</th>
                                    <th class="tg-6zbl">Amount</th>
                                </tr>
                                <tr *ngFor="let data of partWiseDataSource">
                                    <td class="tg-xldj"><b>{{data.partyName}}</b></td>
                                    <td class="tg-xldj">{{data.partyAmount}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Partywise Secondary Sale {{currentMonthName}}'{{currentYear}} : {{hqNameForTargetDemo}}
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="m-portlet__body">
                    <div class="m-form__section m-form__section--first">
                        <div style=" height: 401px; overflow: auto; margin-left: 40px;">
                            <!-- Table here -->
                            <table class="tg" style="table-layout: fixed; width: 405px">
                                <colgroup>
                                    <col style="width: 247px">
                                    <col style="width: 87px">
                                    <col style="width: 78px">
                                    <col style="width: 93px">
                                </colgroup>
                                <tr>
                                    <th class="tg-6zbl">Party Name</th>
                                    <th class="tg-6zbl">Amount</th>
                                </tr>
                                <tr *ngFor="let data of partWiseSecondaryDataSource">
                                    <td class="tg-xldj"><b>{{data.partyName}}</b></td>
                                    <td class="tg-xldj">{{data.partyAmount}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>


<m-portlet [options]="{enableSticky: false}"
    *ngIf="currentUser.userInfo[0].designationLevel!==1 && (currentUser.companyId=='5b2e22083225df01ba7d6059' || currentUser.userInfo[0].userId=='5cd47bc3a37aa250db0337e6')">
    <!-- use ng-container[mPortletHeadTitle] for the title -->

    <ng-container mPortletHeadTitle>

        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Employees Performance Report
            </h3>
        </div>
    </ng-container>
    <!-- <div class="foo green"></div>>=90&nbsp;&nbsp;
<div class="foo yellow"></div>>=80 -
&gt;89&nbsp;&nbsp; <div class="foo red">
</div>
&lt80 -->
    <ng-container mPortletHeadTools>
        <div style="font-weight: 600;">Score</div>&nbsp;&nbsp;
        <div class="foo green"></div>>= 90&nbsp;&nbsp;
        <div class="foo yellow"></div>>= 80 &amp; &lt;= 89&nbsp;&nbsp;
        <div class="foo red">
        </div>
        <span class="material-icons">
            keyboard_arrow_left
        </span> 80
    </ng-container>

    <ng-container mPortletBody>
        <!-- ---------------------GOURAV---------------------------------------------------- -->
        <form [formGroup]='trafficLightForm'>
            <div class="row" style="margin-left:7px;">
                <div class="col-lg-3">
                    <mat-form-field style="width:100%; ">
                        <mat-select placeholder="All"
                            (selectionChange)="getSelectedTypeForEmployeePerformance($event.value)"
                            formControlName='mainSelection'>
                            <mat-option value="all"> ALL </mat-option>
                            <mat-option value="state">State Wise </mat-option>
                            <mat-option value="hq">Head Quarter Wise </mat-option>
                            <mat-option value="employee">Employee </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-lg-3">
                    <div *ngIf="showEmp==true">
                        <mat-form-field style="width:100%;">
                            <mat-label>select Employee</mat-label>
                            <mat-select formControlName='employeeSelect'>
                                <mat-option *ngFor="let data of dataSourceForTrafficLight" [value]="data.employeeName">
                                    {{data.employeeName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="showHq == true">
                        <mat-form-field style="width:100%;">
                            <mat-label>select Headquarter</mat-label>
                            <mat-select formControlName='districtSelect'>
                                <mat-option *ngFor="let data of dataSourceForTrafficLight" [value]="data.district">
                                    {{data.district}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="showState==true">
                        <mat-form-field style="width:100%;">
                            <mat-label>select state</mat-label>
                            <mat-select formControlName='stateSelect'>
                                <mat-option *ngFor="let data of dataSourceForTrafficLight" [value]="data.state">
                                    {{data.state}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-2">
                    <button mat-raised-button color="primary" (click)="generateTrafficLightReport()">Generate
                        Report</button>
                </div>
            </div>
        </form>

        <!-- ---------------------GOURAV---------------------------------------------------- -->


        <!-- ---------------------GOURAV---------------------------------------------------- -->



        <!-- comment employee performance report -->

        <div style="height: 390px; overflow: auto; margin-left: 16px;">



            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource1">
                    <ng-container matColumnDef="employeeName">
                        <th mat-header-cell *matHeaderCellDef> EmployeeName </th>
                        <td mat-cell *matCellDef="let element" [style.background-color]="'#'+element.rowColor">
                            {{element.employeeName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="state">
                        <th mat-header-cell *matHeaderCellDef> State </th>
                        <td mat-cell *matCellDef="let element" [style.background-color]="'#'+element.rowColor">
                            {{element.state}} </td>
                    </ng-container>

                    <ng-container matColumnDef="district">
                        <th mat-header-cell *matHeaderCellDef> District </th>
                        <td mat-cell *matCellDef="let element" [style.background-color]="'#'+element.rowColor">
                            {{element.district}} </td>
                    </ng-container>

                    <ng-container matColumnDef="target">
                        <th mat-header-cell *matHeaderCellDef> Target </th>
                        <td mat-cell *matCellDef="let element" [style.background-color]="'#'+element.rowColor">
                            {{element.target}} </td>
                    </ng-container>

                    <ng-container matColumnDef="primary">
                        <th mat-header-cell *matHeaderCellDef> Primary </th>
                        <td mat-cell *matCellDef="let element" [style.background-color]="'#'+element.rowColor">
                            {{element.primary}} </td>
                    </ng-container>

                    <ng-container matColumnDef="secondary">
                        <th mat-header-cell *matHeaderCellDef> Secondary </th>
                        <td mat-cell *matCellDef="let element" [style.background-color]="'#'+element.rowColor">
                            {{element.secondary}} </td>
                    </ng-container>

                    <ng-container matColumnDef="drCallAvg">
                        <th mat-header-cell *matHeaderCellDef> Dr. Call Avg </th>
                        <td mat-cell *matCellDef="let element" [style.background-color]="'#'+element.rowColor">
                            {{element.drCallAvg}} </td>
                    </ng-container>

                    <ng-container matColumnDef="score">
                        <th mat-header-cell *matHeaderCellDef> Score </th>
                        <td mat-cell *matCellDef="let element" [style.background-color]="'#'+element.rowColor">
                            {{element.score}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                </table>
            </div>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </ng-container>
</m-portlet>
<!-- Demo Graph 2 End -->

<div class="m-portlet" *ngIf="currentUser.userInfo[0].designationLevel==0">

    <div class="m-portlet__body m-portlet__body--no-padding">

        <div class="row m-row--no-padding m-row--col-separator-xl">

            <div class="col-xl-12">

                <div class="m-widget14">

                    <div class="m-widget14__header col-xl-12">

                        <div class="col-xl-6">
                            <h3 class="m-widget14__title">

                                Target Vs. Achievement

                            </h3>
                        </div>
                        
                    </div>



                    <div id="targetAchievementGraph" [style.width.%]="100" [style.height.px]="400"></div>

                </div>

            </div>

        </div>

    </div>


</div>


<ng-container mPortletBody *ngIf="currentUser.userInfo[0].designationLevel==0">
    <div class="row">
        <div class="col-lg-6">

            <div class="m-portlet">

                <div class="m-portlet__head">

                    <div class="m-portlet__head-caption">

                        <div class="m-portlet__head-title">

                            <span class="m-portlet__head-icon m--hide">

                                <i class="la la-gear"></i>

                            </span>

                            <h3 class="m-portlet__head-text">

                                Target Vs. Achievement HQ Wise : {{stateNameForTarget}}

                            </h3>

                        </div>

                    </div>

                </div>



                <div class="m-portlet__body">
                    <div id="targetAchievementHqGraph"
                        style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                </div>

            </div>

        </div>
        <div class="col-lg-6">

            <div class="m-portlet">

                <div class="m-portlet__head">

                    <div class="m-portlet__head-caption">

                        <div class="m-portlet__head-title">

                            <span class="m-portlet__head-icon m--hide">

                                <i class="la la-gear"></i>

                            </span>


                            <h3 class="m-portlet__head-text">

                                Hq Wise Sale {{currentMonthName}}'{{currentYear}} : {{stateNameForTarget}}

                            </h3>


                        </div>

                    </div>

                </div>



                <div class="m-portlet__body">

                    <div class="m-form__section m-form__section--first">

                        <div style=" height: 401px; overflow: auto;" class="mat-elevation-z8">

                            <table style="width: 100%;" mat-table [dataSource]="dataSource">

                                <!-- Position Column -->



                                <ng-container matColumnDef="sno">



                                    <th mat-header-cell *matHeaderCellDef> No. </th>



                                    <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}}. </td>



                                </ng-container>



                                <ng-container matColumnDef="headquarter">



                                    <th mat-header-cell *matHeaderCellDef> Headquarter </th>



                                    <td mat-cell *matCellDef="let element"> {{element?.districtName}} </td>



                                </ng-container>

                                <!-- Name Column -->



                                <ng-container matColumnDef="target">



                                    <th mat-header-cell *matHeaderCellDef> Target </th>



                                    <td mat-cell *matCellDef="let element"> {{element?.districtTarget}} </td>



                                </ng-container>



                                <!-- Weight Column -->



                                <ng-container matColumnDef="primary">



                                    <th mat-header-cell *matHeaderCellDef> Primary </th>



                                    <td mat-cell *matCellDef="let element"> {{element?.districtPrimary}} </td>



                                </ng-container>



                                <!-- Symbol Column -->



                                <ng-container matColumnDef="secondary">



                                    <th mat-header-cell *matHeaderCellDef> Secondary </th>



                                    <td mat-cell *matCellDef="let element"> {{element?.districtSecondary}} </td>



                                </ng-container>



                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>



                                <tr mat-row *matRowDef="let row; columns: displayedColumns;  let i = index;"></tr>



                            </table>



                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

</ng-container>
<h4 class="m-widget24__title">
    {{currentMonthName}}'{{currentYear}}
</h4><br>
<!-- <div class="m-portlet ">
	<div class="m-portlet__body  m-portlet__body--no-padding">

		<div class="row m-row--no-padding m-row--col-separator-xl">

			<div class="col-md-12 col-lg-6 col-xl-3" *ngIf="currentUser.userInfo[0].designationLevel == 1">
				<div class="m-widget24">
					<div class="m-widget24__item">
						<h4 class="m-widget24__title">
							#TP Approval Status
						</h4><br>
						<span class="m-widget24__desc">
							Current Status
						</span>
						<span class="m-widget24__stats m--font-brand">
							Yes
						</span>
						<div class="m--space-10"></div>
						<div class="progress m-progress--sm">
							<div class="progress-bar m--bg-brand" role="progressbar" style="width: 100%;"
								aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>

					</div>
				</div>
			</div> -->
<!-- <div class="col-md-12 col-lg-6 col-xl-3" *ngIf="currentUser.userInfo[0].designationLevel !== 1">
				<div class="m-widget24">
					<div class="m-widget24__item">
						<h4 class="m-widget24__title">
							#Total Employees
						</h4><br>
						<span class="m-widget24__desc">
							All Active User
						</span>
						<span class="m-widget24__stats m--font-brand">
							{{totalActiveUser}}
						</span>
						<div class="m--space-10"></div>
						<div class="progress m-progress--sm">
							<div class="progress-bar m--bg-brand" role="progressbar" style="width: 100%;"
								aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>

					</div>
				</div>
			</div>
			 <div class="col-md-12 col-lg-6 col-xl-3">
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title">
                                #Submitted DCR
                            </h4><br>
                            <span class="m-widget24__desc">
                                Total Submited DCR
                            </span>
                            <span class="m-widget24__stats m--font-info">
                                {{totalSubmittedDCR}}
                            </span>
                            <div class="m--space-10"></div>
                            <div class="progress m-progress--sm">
                                <div class="progress-bar m--bg-info" role="progressbar" style="width: 100%;"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                        </div>
                    </div>
                </div> -->
<!-- <div class="col-md-12 col-lg-6 col-xl-3">
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title">
                                #Total Pending DCR


                        </div>
                    </div>
                </div> -->
<!-- <div class="col-md-12 col-lg-6 col-xl-3">
				<div class="m-widget24">
					<div class="m-widget24__item">
						<h4 class="m-widget24__title">
							#Total Dr. Call Avg. </h4><br>
						<span class="m-widget24__desc">
							Doctor Call Avg.
						</span>
						<span class="m-widget24__stats m--font-danger">
							{{teamDoctorCallAvg}}
						</span>
						<div class="m--space-10"></div>
						<div class="progress m-progress--sm">
							<div class="progress-bar m--bg-danger" role="progressbar" style="width: 100%;"
								aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-md-12 col-lg-6 col-xl-3 goToLeave" (click)="goToLeaveApproval()"
				style="cursor: pointer; text-decoration: none;">
				<div class="m-widget24">
					<div class="m-widget24__item">
						<h4 class="m-widget24__title">
							#Total Leave Approvals </h4><br>
						<span class="m-widget24__desc">
							Leave Approval Count
						</span>
						<span class="m-widget24__stats m--font-warning">
							{{totalLeaveCount}}
						</span>
						<div class="m--space-10"></div>
						<div class="progress m-progress--sm">
							<div class="progress-bar m--bg-warning" role="progressbar" style="width: 100%;"
								aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-md-12 col-lg-6 col-xl-3 goToLeave" (click)="goToSponsorshipApproval()"
				style="cursor: pointer; text-decoration: none;">
				<div class="m-widget24">
					<div class="m-widget24__item">
						<h4 class="m-widget24__title">
							# Sponsorship Approvals </h4><br>
						<span class="m-widget24__desc">
							CRM Approval Count
						</span>
						<span class="m-widget24__stats m--font-danger">
							{{sponsorshipApprovalCount}}
						</span>
						<div class="m--space-10"></div>
						<div class="progress m-progress--sm">
							<div class="progress-bar m--bg-danger" role="progressbar" style="width: 100%;"
								aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>

					</div>
				</div>
			</div> -->

<!-- -----------erp code-------- -->
<!-- <div class="col-md-12 col-lg-6 col-xl-3"> -->
<!--begin::New Feedbacks-->
<!-- <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title">
                                #Primary
                            </h4><br>
                            <span class="m-widget24__desc">
                                Total Primary
                            </span>
                            <span class="m-widget24__stats m--font-info">
                                {{totalPrimCount}}
                            </span>
                            <div class="m--space-10"></div>
                            <div class="progress m-progress--sm">
                                <div class="progress-bar m--bg-info" role="progressbar" style="width: 100%;"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                        </div>
                    </div> -->
<!--end::New Feedbacks-->
<!-- </div> -->
<!-- <div class="col-md-12 col-lg-6 col-xl-3"> -->
<!--begin::New Feedbacks-->
<!-- <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title">
                                #Collection
                            </h4><br>
                            <span class="m-widget24__desc">
                                Total Collection
                            </span>
                            <span class="m-widget24__stats m--font-info">
                                {{totalCollecCount}}
                            </span>
                            <div class="m--space-10"></div>
                            <div class="progress m-progress--sm">
                                <div class="progress-bar m--bg-info" role="progressbar" style="width: 100%;"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                        </div>
                    </div> -->
<!--end::New Feedbacks-->
<!-- </div> -->
<!-- <div class="col-md-12 col-lg-6 col-xl-3"> -->
<!--begin::New Feedbacks-->
<!-- <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title">
                                #Outstanding
                            </h4><br>
                            <span class="m-widget24__desc">
                                Total Outstanding
                            </span>
                            <span class="m-widget24__stats m--font-info">
                                {{totalOutCount}}
                            </span>
                            <div class="m--space-10"></div>
                            <div class="progress m-progress--sm">
                                <div class="progress-bar m--bg-info" role="progressbar" style="width: 100%;"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                        </div>
                    </div> -->
<!--end::New Feedbacks-->
<!-- </div> -->
<!-- /------------------ -->
<!-- </div>
	</div>
</div> -->
<!-- <div class="m-portlet " *ngIf="this.currentUser.userInfo[0].rL !== 1">
        <div class="m-portlet__body  m-portlet__body--no-padding">

            <div class="row m-row--no-padding m-row--col-separator-xl">



            </div>
        </div>
    </div> -->
<div class="m-portlet" *ngIf="currentUser.userInfo[0].designationLevel!==1">
    <div class="m-portlet__body m-portlet__body--no-padding">
        <div class="row m-row--no-padding m-row--col-separator-xl">
            <div class="col-xl-12">
                <div class="m-widget14">
                    <div class="m-widget14__header">
                        <h3 class="m-widget14__title">
                            {{this.currentUser.company.lables.doctorLabel}} and
                            {{this.currentUser.company.lables.vendorLabel}} Call Average
                        </h3>
                    </div>
                    <div id="chartdiv" [style.width.%]="100" [style.height.px]="400"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="m-portlet" *ngIf="currentUser.userInfo[0].designationLevel!==1">
    <div class="m-portlet__body m-portlet__body--no-padding">
        <div class="row m-row--no-padding m-row--col-separator-xl">
            <div class="col-xl-12">
                <div class="m-widget14">
                    <div class="m-widget14__header">
                        <h3 class="m-widget14__title">
                            {{this.currentUser.company.lables.doctorLabel}}/{{this.currentUser.company.lables.vendorLabel}}/{{this.currentUser.company.lables.stockistLabel}}
                            Avg. Month Wise
                        </h3>
                    </div>
                    <div id="chartDivAvgMonthWise" [style.width.%]="100" [style.height.px]="400"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="currentUser.userInfo[0].designationLevel!==1">
    <div class="col-lg-6">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Tour Program Status : {{currentMonthName}}'{{currentYear}}
                        </h3>
                    </div>
                </div>
            </div>

            <div class="m-portlet__body">
                <div class="m-form__section m-form__section--first">
                    <div id="chartdiv6" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Daily Call Report Status : {{currentMonthName}}'{{currentYear}}
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="m-form__section m-form__section--first">
                    <div id="dcrStatus" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" *ngIf="currentUser.userInfo[0].designationLevel!=1">
    <div class="col-lg-8">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Month On Month Trend
                            <mat-form-field style="width: 100%;">
                                <mat-select [(value)]="selectedValueForMonthOnMonthTrendGraph"
                                    (selectionChange)="onChangeForMonthOnMonth($event)">
                                    <!-- <mat-option value="option1">#Total Visited Provider </mat-option> -->
                                    <mat-option value="option2">#Total Visited
                                        {{this.currentUser.company.lables.doctorLabel}} </mat-option>
                                    <mat-option value="option3">#Total Visited
                                        {{this.currentUser.company.lables.vendorLabel}} </mat-option>
                                    <mat-option value="option4">#Total Visited
                                        {{this.currentUser.company.lables.stockistLabel}} </mat-option>
                                    <!-- <mat-option value="option5">#Total Distinct Visited Provider </mat-option> -->
                                    <mat-option value="option6">#Total Distinct Visited
                                        {{this.currentUser.company.lables.doctorLabel}} </mat-option>
                                    <mat-option value="option7">#Total Distinct Visited
                                        {{this.currentUser.company.lables.vendorLabel}} </mat-option>
                                    <mat-option value="option8">#Total Distinct Visited
                                        {{this.currentUser.company.lables.stockistLabel}} </mat-option>
                                    <mat-option value="option9">#{{this.currentUser.company.lables.doctorLabel}} Call
                                        Avarage </mat-option>
                                    <mat-option value="option10">#{{this.currentUser.company.lables.vendorLabel}} Call
                                        Avarage </mat-option>
                                    <mat-option value="option11">#{{this.currentUser.company.lables.stockistLabel}} Call
                                        Avarage </mat-option>
                                    <!-- <mat-option value="option12">#Over All Providers Call Avarage </mat-option> -->
                                </mat-select>
                            </mat-form-field>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="m-portlet__body">
                <div class="m-form__section m-form__section--first">
                    <div id="monthOnMonthProgressDiv"
                        style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4">

        <!--begin:: Widgets/Authors Profit-->

        <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">

            <div class="m-portlet__head">

                <div class="m-portlet__head-caption">

                    <div class="m-portlet__head-title">

                        <h3 class="m-portlet__head-text">

                            {{viewTitle}}

                        </h3>

                    </div>

                </div>



            </div>

            <div class="m-portlet__body">

                <div class="m-widget4">

                    <div class="m-widget4__item">



                        <div class="m-widget4__info">

                            <span class="m-widget4__title m--font-warning">

                                {{dataSourceForMonthOnMonthTrendTable[0]?.type}}

                            </span><br>

                            <span class="m-widget4__sub">

                            </span>

                        </div>

                        <span class="m-widget4__ext">

                            <span
                                class="m-widget4__number m--font-brand">{{dataSourceForMonthOnMonthTrendTable[0]?.value}}</span>

                        </span>

                    </div>

                    <div class="m-widget4__item">



                        <div class="m-widget4__info">

                            <span class="m-widget4__title m--font-info">

                                {{dataSourceForMonthOnMonthTrendTable[1]?.type}}

                            </span><br>

                            <span class="m-widget4__sub">



                            </span>

                        </div>

                        <span class="m-widget4__ext">

                            <span
                                class="m-widget4__number m--font-brand">{{dataSourceForMonthOnMonthTrendTable[1]?.value}}</span>

                        </span>

                    </div>

                    <div class="m-widget4__item">



                        <div class="m-widget4__info">

                            <span class="m-widget4__title m--font-primary">

                                {{dataSourceForMonthOnMonthTrendTable[2]?.type}}

                            </span><br>

                            <span class="m-widget4__sub">

                            </span>

                        </div>

                        <span class="m-widget4__ext">

                            <span
                                class="m-widget4__number m--font-brand">{{dataSourceForMonthOnMonthTrendTable[2]?.value}}</span>

                        </span>

                    </div>

                    <div class="m-widget4__item">



                        <div class="m-widget4__info">

                            <span class="m-widget4__title m--font-accent">

                                {{dataSourceForMonthOnMonthTrendTable[3]?.type}}

                            </span><br>

                            <span class="m-widget4__sub">

                            </span>

                        </div>

                        <span class="m-widget4__ext">

                            <span
                                class="m-widget4__number m--font-brand">{{dataSourceForMonthOnMonthTrendTable[3]?.value}}</span>

                        </span>

                    </div>

                    <div class="m-widget4__item">



                        <div class="m-widget4__info">

                            <span class="m-widget4__title m--font-danger">

                                {{dataSourceForMonthOnMonthTrendTable[4]?.type}}

                            </span><br>

                            <span class="m-widget4__sub">

                            </span>

                        </div>

                        <span class="m-widget4__ext">

                            <span
                                class="m-widget4__number m--font-brand">{{dataSourceForMonthOnMonthTrendTable[4]?.value}}</span>

                        </span>

                    </div>

                    <div class="m-widget4__item">



                        <div class="m-widget4__info">

                            <span class="m-widget4__title m--font-focus">

                                {{dataSourceForMonthOnMonthTrendTable[5]?.type}}

                            </span><br>

                            <span class="m-widget4__sub">

                            </span>

                        </div>

                        <span class="m-widget4__ext">

                            <span
                                class="m-widget4__number m--font-brand">{{dataSourceForMonthOnMonthTrendTable[5]?.value}}
                            </span>

                        </span>

                    </div>

                </div>

            </div>

        </div>



    </div>

</div>


<div *ngIf="showMDSRDashobard">
    <!-- BEGIN PAGE HEADER-->

    <h3 class="page-title"> Select An Index </h3>
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT -->
    <div>
        <i class="fa fa-hand-o-left fa-3x"></i>
        <h4>To begin, select an index on the left menu</h4>
    </div>
    <!-- END MAIN CONTENT -->
    <!-- BEGIN MAIN JS & CSS -->
    <script>
        // Dashboard.init();
    </script>
    <!-- BEGIN MAIN JS & CSS -->

</div>
<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
                    <i class="la la-gear"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    Calendar Utility
                </h3>
            </div>
        </div>
        <!-- <div class="m-portlet__head-tools">
				<div _ngcontent-c23="" mportletheadtools="">
					<div _ngcontent-c23="">
						<label class="dz" >Month <input type="radio" [checked] = "Mdate" (change)="toggleCalenderEvent_1('Month')" value="Month" name="date-selection">&nbsp;&nbsp;&nbsp; </label>
                        <label class="dz" > <input type="radio" [checked] = "Tdate" (change)="toggleCalenderEvent_1('Today')" value="Today" name="date-selection"> Today</label>
					</div>
				</div>
			</div> -->
    </div>
    <div class="m-portlet__body">
        <div class="m-form__section m-form__section--first">
            <!-- <m-calender-utility></m-calender-utility> -->
            <m-calender></m-calender>
        </div>
    </div>
</div>