<div class="row">
    <div class="col-xl-3 col-lg-4">
        <div class="m-portlet m-portlet--full-height">
            <div class="m-portlet__body">
                <div class="m-card-profile">
                    <div class="m-card-profile__title m--hide">
                        Your Profile
                    </div>
                    <div class="m-card-profile__pic">
                        <div class="m-card-profile__pic-wrapper">
                            <img [src]="imageToShow" style="width: 100px;height: 100px">
                            <!-- <img src="./assets/app/media/img/users/user4.jpg" style="width: 100px;height: 100px" alt=""> -->
                        </div>
                    </div>
                    <div class="m-card-profile__details">
                        <span class="m-card-profile__name">{{this.currentUser?.name}}</span>
                        <span class="m-card-profile__details">{{this.currentUser.userInfo[0]?.designation}}</span>
                    </div>
                    <br>
                    <div align="center">
                        <input style="display: none" type="file" name="imageName" (click)="methodToSameFileSelected($event)" (change)="selectFile($event)" #selectedFile>

                        <button type="button" (click)="selectedFile.click()" class="btn m-btn--pill  m-btn--air btn-outline-success active  btn-sm">
                                    Select Image &nbsp;
                                    <span><i class="fa fa-upload"></i></span>
                                </button>

                        <!-- <button type="button" *ngIf="showEditDeleteImageButton" (click)="selectedFile.click()" class="btn m-btn--pill m-btn--air btn-outline-metal active btn-sm">
                                        Change
                                        <span><i class="la la-edit"></i></span>
        
                        </button> &nbsp;
                        <button type="button" (click)="removeImage()" *ngIf="showEditDeleteImageButton" class="btn m-btn--pill  m-btn--air btn-outline-danger active btn-sm">
                                    Cancel
                     <span><i class="la 	la-trash"></i></span>   
                     
                    </button> -->
                        <br>

                        <br>
                        <div class="progress m-progress--sm" style="height: 15px;" *ngIf="isImageSelected">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="imageProgress" aria-valuenow="imageProgress" aria-valuemin="0" aria-valuemax="100"><b>{{imageProgress}}%</b></div>
                        </div>
                        <button type="button" (click)="updateUserImage()" *ngIf="isImageSelected" class="btn m-btn--pill  m-btn--air btn-outline-success active btn-sm">
                        Upload Image
         <span><i class="la 	la-upload"></i></span>       
        </button>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-9 col-lg-8">
        <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
            <!-- <pre>{{userForm.value | json}}</pre> -->


            <div class="m-portlet__body">
                <mat-tab-group mat-align-tabs="center">
                    <mat-tab label="Personal Information">
                        <form class="m-form m-form--fit m-form--label-align-right" [formGroup]='userForm' (ngSubmit)="updatePersonalInformations(userForm)">
                            <div class="m-portlet__body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <mat-form-field style="width:100%;">
                                            <mat-label>Name</mat-label>
                                            <input matInput required formControlName="name" placeholder="Name">
                                            <mat-icon matSuffix>person</mat-icon>
                                            <mat-error>Name is Required</mat-error>

                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4">
                                        <mat-form-field style="width: 100%;">
                                            <mat-label>Mobile</mat-label>
                                            <input type="string" matInput required formControlName='mobile' placeholder="Mobile">
                                            <mat-icon matSuffix>phone</mat-icon>
                                            <mat-error>
                                                <span *ngIf="mobile.touched && mobile.errors?.required">Mobile number is required!!!</span>
                                                <span *ngIf="mobile.touched && mobile.errors?.minlength ">Mobile number must have 10 digit only</span>
                                                <span *ngIf="mobile.touched && mobile.errors?.maxlength ">Mobile number must have max 10 digit only </span>
                                                <span *ngIf="mobile.touched && mobile.errors?.unique">{{mobile.errors?.message}}</span>

                                            </mat-error>

                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4">
                                        <mat-form-field style="width:100%;">
                                            <mat-label>Email *</mat-label>
                                            <input matInput type="email" required formControlName="email" placeholder="Email *">
                                            <mat-icon matSuffix>email</mat-icon>
                                            <mat-error>
                                                <span *ngIf="email.touched && email.errors?.required">Email is required!!!</span>
                                                <span *ngIf="email.touched && email.errors?.email">Email must be a valid email address</span>
                                                <span *ngIf="email.touched && email.errors?.unique">{{email.errors?.message}}</span>
                                            </mat-error>

                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <mat-form-field style="width: 100%;">
                                            <mat-label>Date Of Anniversary</mat-label>
                                            <input matInput [matDatepicker]="pickerDOA" formControlName='dateOfAnniversary' placeholder="Date Of Anniversary">
                                            <mat-datepicker-toggle matSuffix [for]="pickerDOA"></mat-datepicker-toggle>
                                            <mat-datepicker #pickerDOA></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4">
                                        <mat-form-field style="width: 100%;">
                                            <mat-label>Date Of Birth</mat-label>
                                            <input matInput [matDatepicker]="pickerDOB" formControlName='dateOfBirth' placeholder="Date Of Birth">
                                            <mat-datepicker-toggle matSuffix [for]="pickerDOB"></mat-datepicker-toggle>
                                            <mat-datepicker #pickerDOB></mat-datepicker>
                                            <mat-error>Date Of Birth is Required</mat-error>

                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4">
                                        <mat-form-field style="width:100%;">
                                            <mat-label>Address</mat-label>
                                            <textarea matInput formControlName='address' placeholder="Address"></textarea>
                                            <mat-icon matSuffix>event_note</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <legend style="font-size: 14px;">Gender</legend>
                                        <mat-radio-group formControlName='gender'>
                                            <mat-radio-button value="Male">Male</mat-radio-button>
                                            <mat-radio-button value="Female">Female</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    <div class="col-lg-4">
                                        <mat-form-field style="width:100%;">
                                            <mat-label>Aadhaar</mat-label>
                                            <input type="number" matInput formControlName='aadhaar' placeholder="Aadhaar">
                                            <mat-icon matSuffix>credit_card</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4">
                                        <mat-form-field style="width:100%;">
                                            <mat-label>PAN</mat-label>
                                            <input matInput formControlName='PAN' placeholder="PAN">
                                            <mat-icon matSuffix>credit_card</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-4">
                                            <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom">Save changes</button>&nbsp;&nbsp;
                                        </div>
                                        <div class="col-lg-4"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </mat-tab>
                    <mat-tab label="Change Password">
                        <form class="m-form m-form--fit m-form--label-align-right" [formGroup]='loginCredentialForm' (ngSubmit)="updateLoginCredentials(loginCredentialForm)">
                            <div class="m-portlet__body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <mat-form-field style="width:100%;">
                                            <mat-label>Current Password</mat-label>
                                            <input type="password" matInput required formControlName="currentPassword" placeholder="Current Password">
                                            <mat-icon matSuffix>lock</mat-icon>
                                            <mat-error>Password is required!!!</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4">
                                        <mat-form-field style="width:100%;">
                                            <mat-label>New Password</mat-label>
                                            <input type="password" matInput required formControlName="password" placeholder="New Password">
                                            <mat-icon matSuffix>eye</mat-icon>
                                            <mat-error>Password is required!!!</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4">
                                        <mat-form-field style="width:100%;">
                                            <mat-label>Confirm Password</mat-label>
                                            <input type="password" matInput required formControlName="confirmPassword" placeholder="Confirm Password">
                                            <mat-icon matSuffix>remove_red_eye</mat-icon>
                                            <mat-error>
                                                <span *ngIf="confirmPassword.errors?.required">Confirm Password is required!!!</span>
                                                <span *ngIf="confirmPassword.touched && confirmPassword.errors?.isMatch">{{confirmPassword.errors?.message}}</span>
                                            </mat-error>
                                        </mat-form-field>

                                    </div>
                                </div>
                            </div>

                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-4">
                                            <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom">Save changes</button>&nbsp;&nbsp;
                                        </div>
                                        <div class="col-lg-4"></div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </mat-tab>
                </mat-tab-group>

            </div>
        </div>
    </div>
</div>