<m-portlet [options]="{enableSticky: true}">

  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Bulk Edit-Listed Doctor
      </h3>
    </div>
  </ng-container>

  <ng-container mPortletBody>

    <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="providerFilter" (ngSubmit)="viewReport()">

      <div class="m-portlet__body">
        <div class="row" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'">
          <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
        </div>
        <div class="row">
          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row" [hidden]=!showAdminAndMGRLevelFilter>

                <div class="col-lg-3 m-form__group-sub">
                  <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                </div>

                <div class="col-lg-4 m-form__group-sub" [hidden]="!isShowDivision">
                  <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent></m-division>
                </div> 

                <div class="col-lg-3 m-form__group-sub" *ngIf="showState">
                  <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent></m-state>
                </div>

                <div class="col-lg-3 m-form__group-sub" *ngIf="showDistrict">
                  <m-district [check]=true (valueChange)="getDistrictValue($event)" #callDistrictComponent></m-district>
                </div>

                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                  <m-designation (valueChange)="getDesignation($event)" #callMonthComponent [check]=true>
                  </m-designation>
                </div>

                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                  <m-employee [check]=true (valueChange)="getEmployeeValue($event)" #callEmployeeComponent></m-employee>
                </div>

                <div class="col-lg-3 m-form__group-sub">
                  <mat-form-field style="width:100%;">
                    <mat-label class="form-control-label">* Field:</mat-label>
                    <mat-select formControlName="search" (selectionChange)="getSearch($event.value)" multiple={{check}}>
                      <mat-option *ngFor="let search of searchinglist" [value]="search.value">
                        {{search.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-lg-3 m-form__group-sub">
                  <mat-form-field style="width:100%;">
                    <mat-label class="form-control-label">* Search By:</mat-label>
                    <mat-select formControlName="searchBy" (selectionChange)="getSearchBy($event.value)">
                      <mat-option *ngFor="let searchBy of searchbylist" [value]="searchBy.value">
                        {{searchBy.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-lg-3 m-form__group-sub">
                  <mat-form-field style="width:100%;">
                    <mat-label class="form-control-label">* Searched value:</mat-label>
                    <mat-select formControlName="searchedValue" placeholder="searchedValue" multiple={{check}}>
                      <mat-option *ngFor="let val of data" [value]="val">
                        {{val}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 m-form__group-sub">
          <div class="m-form__control">
            <button mat-raised-button color="accent" [disabled]="!providerFilter.valid">
              <span><i class="la la-check"></i></span>View Report</button>
          </div>
        </div>
      </div>
    </form>
  </ng-container>

</m-portlet>

<ng-container>
  <div class="m-portlet" [hidden] = "showReport">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-xl-12">
          <div class="m-widget14">

            <ng-container mPortletHeadTitle>
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Bulk Listed Doctor
                </h3>
              </div>
            </ng-container>
            <hr />
            <br />

            <!-- <pre>{{providerUpdateForm.value |json}}</pre> -->
            <form [formGroup]="providerUpdateForm" (ngSubmit)="updateButton(providerUpdateForm.value)">

              <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Products">
              </mat-form-field>
              <div class="table-container mat-elevation-z">
                <!-- *ngFor=" let data of providerUpdateForm.get('formarray')">  -->
                <!-- -----------------GOURAV --------------------- -->
                <table mat-table matSort [dataSource]="dataSource" formArrayName="formarray">

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>
                  <!-- -----------------GOURAV --------------------- -->
                  <ng-container matColumnDef="stateId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>State </th>
                    <td mat-cell *matCellDef="let element"> {{element.state}} </td>
                  </ng-container>

                  <ng-container matColumnDef="area">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Area </th>
                    <td mat-cell *matCellDef="let element"> {{element.area}} </td>
                  </ng-container>

                  <ng-container matColumnDef="districtId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>HeadQuater </th>
                    <td mat-cell *matCellDef="let element"> {{element.headquarters}} </td>
                  </ng-container>


                  <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Category </th>
                    <td mat-cell *matCellDef="let element; let i=index" [formGroupName]='i'>
                      <mat-form-field floatLabel="never" style="margin-top: 2%;margin-right: 2%;margin-left: 2%;">
                        <mat-select placeholder="Select Category" formControlName='category'>
                          <mat-option *ngFor="let categorys of category" value={{categorys}}>{{categorys}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="Degree">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Degree</th>
                    <td mat-cell *matCellDef="let element; let i=index" [formGroupName]='i'>
                      <mat-form-field floatLabel="never" style="margin-top: 2%;margin-right: 2%;margin-left: 2%;">
                        <mat-select placeholder="Select Degree" formControlName='degree'>
                          <mat-option *ngFor="let degrees of degree" value={{degrees}}> {{degrees}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="specialization">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Specialization</th>
                    <td mat-cell *matCellDef="let element; let i=index" [formGroupName]='i'>
                      <mat-form-field floatLabel="never" style="margin-top: 2%;margin-right: 2%;margin-left: 2%;">
                        <mat-select placeholder="Select Specialization" formControlName="specialization">
                          <mat-option *ngFor="let specializations of specialization" value={{specializations}}>
                            {{specializations}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </ng-container>    
                  <!-- Mahender-->
                  <ng-container matColumnDef="mrName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Mr Name</th>
                    <td mat-cell *matCellDef="let element; let i=index" [formGroupName]='i'>
                      <mat-form-field floatLabel="never" style="margin-top: 2%;margin-right: 2%;margin-left: 2%;" formControlName="mrName">
                        <!-- <mat-select placeholder="Select Specialization" formControlName="MrNAme">
                          <mat-option *ngFor="let specializations of specialization" value={{specializations}}>
                            {{element.user.name}}
                          </mat-option>
                        </mat-select> -->
                        <input type="text" disabled  />
                      </mat-form-field>
                    </td>
                  </ng-container> 
                 <!-- End-->
                  <ng-container matColumnDef="doa">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>DOA</th>
                    <td mat-cell *matCellDef="let element; let i=index" [formGroupName]='i'>
                      <mat-form-field floatLabel="never" style="margin-top: 2%;margin-right: 2%;margin-left: 2%;">
                        <input matInput [matDatepicker]="picker" placeholder="Select DOA" formControlName="doa">
                        <mat-datepicker-toggle matSuffix [for]="picker" [value]="doa"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="dob">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>DOB</th>
                    <td mat-cell *matCellDef="let element; let i=index" [formGroupName]='i'>
                      <mat-form-field floatLabel="never" style="margin-top: 2%;margin-right: 2%;margin-left: 2%;">
                        <input matInput [matDatepicker]="picker" placeholder="Select DOB" formControlName="dob">
                        <mat-datepicker-toggle matSuffix [for]="picker" [value]="dob"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="frequencyVisit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Freqency Visit</th>
                    <td mat-cell *matCellDef="let element; let i=index" [formGroupName]='i'>
                        <input matInput placeholder="Freqency" formControlName="frequencyVisit">
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="licenceNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Licence Number</th>
                    <td mat-cell *matCellDef="let element; let i=index" [formGroupName]='i'>
                        <input matInput placeholder="Licence" formControlName="licenceNumber">
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
                    <td mat-cell *matCellDef="let element; let i=index" [formGroupName]='i'>
                        <input matInput placeholder="Address" formControlName="address">
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="aadhar">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Aadhar</th>
                    <td mat-cell *matCellDef="let element; let i=index" [formGroupName]='i'>
                        <input matInput placeholder="Aadhar" formControlName="aadhar">
                    </td>
                  </ng-container>


                  <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>

                <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" formArrayName = "formarray"> 

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name. </th>
                    <td mat-cell *matCellDef="let element; let i=index;"> 
                      <label>{{element.name}}</label>
                    </td>
                  </ng-container>
                
                  
                  <ng-container matColumnDef="mobile">
                    <th mat-header-cell *matHeaderCellDef> Mobile </th>
                    <td mat-cell *matCellDef="let element; let i=index;" [formGroupName]='i'> 
                      <input type='text' formControlName="mobile">
                    </td>
                  </ng-container>
                
                 
                  <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef> Address </th>
                    <td mat-cell *matCellDef="let element;let i=index;"> 
                      <label>{{element.address}}</label>
                    </td>
                  </ng-container>
                
                 
                  <ng-container matColumnDef="area">
                    <th mat-header-cell *matHeaderCellDef> Area </th>
                    <td mat-cell *matCellDef="let element let i=index;"> 
                      <label>{{element.area}}</label>
                    </td>  
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table> -->

              </div>
              <mat-paginator #paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
              <br>

              <div class="row">
                <div class="col-lg-3 m-form__group-sub">
                  <label class="form-control-label">&nbsp; </label>
                  <button mat-raised-button color="accent">Update</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container>
  <div class="col-xl-12" *ngIf="showProcessing" align="center">
    <img src="assets/app/media/img/processing/loading.gif">
  </div>
</ng-container>