<m-portlet [options]="{enableSticky: true}">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Modify Expense Form {{data.element.dcrDate | date:'dd-MMM-yyyy'}}
            </h3>
        </div>
    </ng-container>

    <ng-container mPortletBody>
        <!-- <pre>{{expenseModifyForm.value|json}}</pre> -->
        <div>
                <form [formGroup]='expenseModifyForm'>
                    <div>
                        <!-- <div class="row"> -->
                            <!-- <div> -->
                                <div  >
                                    <!-- will edit the data according to the visited block -->
                                    <!--  *ngIf="visitedBlock.length>0" -->
                                    <div class="row" style="font-weight: 600;">
                                        <span class="col-lg-3" style="width:100%;"> From Area</span>
                                        <span class="col-lg-3" style="width:100%;">To Area</span>
                                        <span class="col-lg-3" style="width:100%;"> Distance</span>
                                        <span class="col-lg-3" style="width:100%;">Rate</span>
                                        <!--  <span class="col-lg-2" style="width:100%;">Fare</span> --> 

                                    </div>
                                    <!-- <div *ngIf='!divData && visitedBlock.length>0' class="row" style="font-weight: 600;">
                                        <span class="col-lg-3" style="width:100%;"> From Area</span>
                                        <span class="col-lg-3" style="width:100%;">To Area</span>
                                        <span class="col-lg-3" style="width:100%;"> Distance</span>
                                        <span class="col-lg-3" style="width:100%;">Rate</span>
                                        <span class="col-lg-2" style="width:100%;">Fare</span> -
                                    </div> -->
                                    <div *ngIf="visitedBlock.length>0" formArrayName="visitedBlock">
                                    <div *ngFor="let block of expenseModifyForm.get('visitedBlock').controls; let i = index" >
                                        <div [formGroupName]="i" class="row">

                                        <!-- <div class="col-lg-3 m-form__group-sub"> -->
                                            <mat-form-field appearance="outline"  class="col-lg-3" style="width:100%;" floatLabel="always">
                                                <input matInput  formControlName="fromArea"  readonly>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline"  class="col-lg-3" style="width:100%;" floatLabel="always">
                                                <input matInput  formControlName="toArea"  readonly>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline"   class="col-lg-3" style="width:100%;" floatLabel="always">
                                                <input matInput type="number"(blur)="getDistance($event)" formControlName="distanceMgr">
                                            </mat-form-field>
                                            <!-- <mat-form-field *ngIf="this.currentUser.userInfo[0].rL == 0" appearance="outline"  class="col-lg-3" style="width:100%;" floatLabel="always">
                                                <input matInput type="number" formControlName="distanceAdmin">
                                            </mat-form-field> -->
                                            <mat-form-field appearance="outline"  class="col-lg-3" style="width:100%;" floatLabel="always" [hideRequiredMarker]=checkValue>
                                                <input matInput type="number" formControlName="rateMgr">
                                            </mat-form-field>
                                            <!-- <mat-form-field appearance="outline"  class="col-lg-2" style="width:100%;" floatLabel="always">
                                                <input matInput type="number" formControlName="fareMgr" readonly>
                                            </mat-form-field> -->
                                         </div> 
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 m-form__group-sub">
                                        <mat-label>Total Distance</mat-label>
                                        <mat-form-field appearance="outline"  style="width:100%;" floatLabel="always">
                                            <input matInput type="number" formControlName="distanceMgr" readonly>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub">
                                        <mat-label>Rate</mat-label>
                                        <mat-form-field style="width:100%;" appearance="outline" floatLabel="always">
                                            <input matInput type="number" formControlName="adminRate">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub">
                                        <mat-label>Total Fare</mat-label>
                                        <mat-form-field  style="width:100%;" floatLabel="always">
                                            <input matInput type="number" formControlName="fareMgr" readonly>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 m-form__group-sub" style="font-weight: 600;position: relative;
                                    top: 2rem;">
                                    <!-- <button mat-raised-button color="accent" (click)="getVisitBlockData()">Change Fare</button> -->
                                    <button mat-raised-button color="accent" (click)="getVisitBlockData()">Change Fare</button>
                                  
                                   </div>

                                </div>
                                    <div class="form-group m-form__group row mt-2">
                                        
                                        <!-- <div class="col-lg-3 m-form__group-sub">
                                            <mat-form-field style="width:100%;" floatLabel="always">
                                                <input matInput type="number" formControlName="distanceMgr" placeholder="Enter the Distanec">
                                            </mat-form-field>
                                        </div>

                                        <div class="col-lg-3 m-form__group-sub">
                                            <mat-form-field style="width:100%;" floatLabel="always" [hideRequiredMarker]=checkValue>
                                                <input matInput type="number" formControlName="fareMgr" placeholder="Enter the Fare">
                                            </mat-form-field>
                                        </div> -->
                                        <div class="col-lg-3 m-form__group-sub">
                                            <mat-label>Daily Allowances</mat-label>

                                            <mat-form-field appearance="outline"  style="width:100%;" floatLabel="always">
                                                <input matInput type="number"  formControlName="daMgr" placeholder="Enter the DA">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-3 m-form__group-sub">
                                            <mat-label>Misc. Expenses</mat-label>

                                            <mat-form-field appearance="outline"  style="width:100%;" floatLabel="always">
                                                <input matInput type="number"  formControlName="miscExpenseMgr" placeholder="Enter Misc Expense">
                                            </mat-form-field>
                                        </div>
                                    </div>



                                    
                                    <div class="form-group m-form__group row" *ngIf="details.length>0">
                                        <div class="col-lg-3 m-form__group-sub" *ngFor="let item of details">
                                            <mat-form-field style="width:100%;" floatLabel="always">
                                                <input matInput type="number" formControlName="{{item.key}}" placeholder="Enter {{item.label}}">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        

                                        <div class="col-lg-3 m-form__group-sub" *ngIf="this.currentUser.userInfo[0].designationLevel =='0'">
                                            <mat-label>Additional Amount</mat-label>

                                            <mat-form-field style="width:100%;" appearance="outline" floatLabel="always">
                                                <input matInput type="number" formControlName="sumExpAdm">
                                            </mat-form-field>
                                        </div>

                                        <div class="col-lg-3 m-form__group-sub" *ngIf="this.currentUser.userInfo[0].designationLevel =='0'">
                                            <mat-label>Subtraction Amount</mat-label>

                                            <mat-form-field style="width:100%;" appearance="outline" floatLabel="always">
                                                <input matInput type="number" formControlName="subtExpeAdm">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-6 m-form__group-sub">
                                            <mat-label>Remarks</mat-label>

                                            <mat-form-field appearance="outline" style="width:100%;" floatLabel="always">
                                                <textarea matInput formControlName="remarksMgr"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            <!-- </div> -->
                        <!-- </div> -->
                    </div>
                </form>
            <div class="row">
                <button mat-raised-button color="accent" (click)="submitForm()" [disabled]="!expenseModifyForm.valid"><span><i class="la la-check"></i></span>Modify Expense</button>
            </div>
        </div>
    </ng-container>
</m-portlet>