.example-card {
    max-width: 100%;
    max-height:350px; 
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }