
tr:nth-of-type(odd) {
	background: #eee;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 24px !important;
}

.dtl-btn {
	margin: 36px 0px 0px 0px;
}

.highlight {
	background: #eee;
  }
  
.w-75{
    max-width: 75px;
}
  .mat-column-select {
	  overflow: initial;
  }
  .dlt {
	margin: 0px 0px 0px 29px;
  }
  
  .buttons {
	display: content !important;
  }
  .check-boxes {
      position: relative;
      top: 9px;
      right: 10px;
  }
  .mat-table {
	overflow: auto;
	max-height: 28em;
  }
  
  .paddingDiv{
	background: #fff;
	padding: 2em;
  }
  .buttons_position{
	padding: 0 1.4em;
	margin-top: -4.8em;
  }