<m-portlet [options]="{enableSticky: true}">
	<!-- use ng-container[mPortletHeadTitle] for the title -->
	<div mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				STP Migration Form
			</h3>
		</div>
	</div>

	<div mPortletHeadTools>
		<div>
			<mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
		</div>
	</div>

	<div mPortletBody [hidden]="!isToggled">

		<form [formGroup]='stpMigrate' class="m-form m-form--label-align-left">
			<div class="m-portlet__body">

				<div class="row">
					<div class="col-xl-12 ">
						<div class="m-form__section m-form__section--first">
							<div class="form-group m-form__group row">
								<div class="col-lg-4 m-form__group-sub" [hidden]="!isShowDivision">
									<m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent [check]=false></m-division>
									<!-- <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type> -->
								</div>
								<div class="col-lg-3 m-form__group-sub">
									<m-state (valueChange)="getStateValue($event)" [check]=false #callStateComponent></m-state>
								</div>
								<div class="col-lg-3 m-form__group-sub">
									<m-employee [check]=false [type]="'From'" (valueChange)="getEmployeeValue($event)" #callEmployeeComponent></m-employee>
								</div>
								<div class="col-lg-3 m-form__group-sub">
									<m-employee [check]=false [type]="'To'" (valueChange)="getEmployeeValueTo($event)" #callEmployeeComponent1></m-employee>
								</div>
								<div class="col-lg-3 m-form__group-sub">
									<button mat-raised-button color="accent" [disabled]="!stpMigrate.valid" (click)="getSTPDetails()"><span><i class="la la-check"></i></span>View
										Details
									</button>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>


</m-portlet>


<div [hidden]="!isShowData">
	<form [formGroup]="stpDetailsForm">
		<div class="table-container mat-elevation-z8">
			<mat-table [dataSource]="dataSource2" matSort #sort2="matSort" formArrayName="formArray" #tableExport>
				<ng-container matColumnDef="select">
					<th mat-header-cell *matHeaderCellDef>
						<mat-checkbox class="check-boxes" (change)="$event ? masterToggle() : null" 
						[checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
						</mat-checkbox>&nbsp;&nbsp;
					</th>
					<td mat-cell *matCellDef="let row;let i=index" [formGroupName]="i">
						<mat-checkbox class="check-boxes" formControlName="checked" (click)="$event.stopPropagation()"
						 (change)="getSelectionValue($event,i,row)" [checked]="selection.isSelected(row)">
						</mat-checkbox>&nbsp;&nbsp;
					</td>
				</ng-container>
				<ng-container matColumnDef="sn">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>SN.</th>
					<td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
				</ng-container>

				<ng-container matColumnDef="fromArea">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;From
						{{currentUser.company.lables.areaLabel}}
					</th>
					<td mat-cell *matCellDef="let element"> {{element.fromArea.areaName}} </td>
				</ng-container>

				<ng-container matColumnDef="toArea">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;To
						{{currentUser.company.lables.areaLabel}}</th>
					<td mat-cell *matCellDef="let element"> {{element.toArea.areaName}} </td>
				</ng-container>

				<ng-container matColumnDef="type">
					<th class="w-75" mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Type</th>
					<!-- <th class="w-75" mat-header-cell *matHeaderCellDef>Type</th> -->
					<td class="w-75" mat-cell *matCellDef="let element; let i=index" [formGroupName]="i">
						<mat-form-field style="width:100%">
							<mat-select formControlName="type" [value]="element.type">
								<mat-option value="HQ">HQ</mat-option>
								<mat-option value="OUT">OUT</mat-option>
								<mat-option value="EX">EX</mat-option>
							</mat-select>
						</mat-form-field>
					</td>
				</ng-container>

				<ng-container matColumnDef="distance">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Distance</th>
					<td mat-cell *matCellDef="let element; let i=index" [formGroupName]="i">
						<input matInput type="number" formControlName="distance" [value]="element.distance"> </td>
				</ng-container>
				<ng-container matColumnDef="freqVisit">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Freq Visit</th>
					<td mat-cell *matCellDef="let element"> {{element.freqVisit}} </td>
				</ng-container>

				<ng-container matColumnDef="appByMgr">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Manager Approved?</th>
					<td mat-cell *matCellDef="let element"> {{element.appByMgr === '' ? 'No' : 'Yes'}} </td>
				</ng-container>
				<ng-container matColumnDef="appByAdm">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Admin Approved?</th>
					<td mat-cell *matCellDef="let element"> {{element.appByAdm === '' ? 'No' : 'Yes'}} </td>
				</ng-container>
				<ng-container matColumnDef="submissionDate">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Submission Date</th>
					<td mat-cell *matCellDef="let element"> {{element.createdAt | date}} </td>
				</ng-container>
				<ng-container matColumnDef="mgrAppDate">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Manager Approved Date</th>
					<td mat-cell *matCellDef="let element">
						{{element.appByMgr === '' ? '---' : element.mgrAppDate | date}} </td>
				</ng-container>
				<ng-container matColumnDef="finalAppDate">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Admin Approved Date</th>
					<td mat-cell *matCellDef="let element">
						{{element.appByAdm === '' ? '---' : element.finalAppDate | date}} </td>
				</ng-container>

				<ng-container matColumnDef="loading">
					<mat-footer-cell *matFooterCellDef>
						Loading data...
					</mat-footer-cell>
				</ng-container>
				<tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
				<mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource2!=null}"></mat-footer-row>
			</mat-table>
			<mat-paginator [pageSizeOptions]=[5,10,20,50] [pageSize]="10" showFirstLastButtons></mat-paginator>
			<mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
				<mat-progress-spinner color="primary" mode="indeterminate">
				</mat-progress-spinner>
			</mat-card>
		</div>
		<div class="row" align="center">
			<div class="col-lg-12 dtl-btn">
				<button mat-raised-button color="primary"  (click)="migrateSTP(); stpDetailsForm.reset() ">Migrate
					STP</button>
				&nbsp;&nbsp;&nbsp;
				<button mat-raised-button color="primary" (click)="transferSTP() ; stpDetailsForm.reset() ">Transfer
					STP</button>
			</div>
		</div>
	</form>
</div>

<div class="col-xl-12" *ngIf="showProcessing" align="center">
	<img src="assets/app/media/img/processing/loading.gif">
</div>
