<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Daily Allowance Form
            </h3>
        </div>
    </ng-container>

    <!-- Form Generation -->
    <ng-container mPortletBody>
        <form [formGroup]='daForm' class="m-form m-form--label-align-left" (ngSubmit)="createDA()">
            <fieldset>
                <legend>Daily Allowance</legend>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                                    <m-division (valueChange)="setDivisionValue($event)" [check]="isDivisionMultiple">
                                    </m-division>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowCategory">
                                    <m-dacategory (valueChange)="setCategoryValue($event)" [placeholder]="placeholder">
                                    </m-dacategory>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowState">
                                    <m-state (valueChange)="getStateValue($event)" [check]=check></m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDistrict">
                                    <m-district (valueChange)="setDistrictValue($event)" [check]=check></m-district>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDesignation">
                                    <m-designation #designationComponent (valueChange)="getDesignation($event)"
                                        [check]="check"></m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowEmployees">
                                    <m-employee #designationComponent (valueChange)="setEmployees($event)"
                                        [check]="check"></m-employee>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <mat-form-field>
                                        <input type="number" matInput formControlName="daHQ" placeholder="Enter HQ DA">
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <mat-form-field>
                                        <input type="number" matInput formControlName="daEX" placeholder="Enter EX DA">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <mat-form-field>
                                        <input type="number" matInput formControlName="daOUT"
                                            placeholder="Enter Out DA">
                                    </mat-form-field>
                                </div>
                                <hr />
                                <!-- <div class="form-group m-form__group row"> -->
                                <div class="col-lg-12 m-form__group-sub">
                                    <h5>Fix Expense Details</h5>
                                </div>
                                <!-- </div> -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <mat-form-field>
                                        <input type="number" matInput formControlName="mobileAllowance"
                                            placeholder="Enter Moblie Allowances">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <mat-form-field>
                                        <input type="number" matInput formControlName="netAllowance"
                                            placeholder="Enter Net Allowances">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <mat-form-field>
                                        <input type="number" matInput formControlName="specialAllowance"
                                            placeholder={{placeholderSpecialAllowance}}>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent" [disabled]="!daForm.valid"><span><i
                                                class="la la-check"></i></span>Create
                                        Daily Allowance</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </ng-container>
</m-portlet>

<ng-container>
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</ng-container>

<m-portlet>
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Daily Allowance
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
                style="float: right;" class="col-sm-1" (click)="exporttoExcel()"><i class="fa fa-file-excel"
                    style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i></span>
        </div>
    </div>

    
    <ng-container  mPortletBody>
        

        <div class="table-container mat-elevation-z8">
            <table id="tableId1" #table class="table-responsive" mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="sn">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>S.No.</th>
                    <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>

                </ng-container>
                <ng-container matColumnDef="division">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Division </th>
                    <td mat-cell *matCellDef="let element"> {{element?.divisionMaster?.divisionName}} </td>
                </ng-container>

                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Category </th>
                    <td mat-cell *matCellDef="let element"> {{element?.category}} </td>
                </ng-container>

                <ng-container matColumnDef="stateName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;State </th>
                    <td mat-cell *matCellDef="let element"> {{element?.state?.stateName}} </td>
                </ng-container>
                <ng-container matColumnDef="district">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;District </th>
                    <td mat-cell *matCellDef="let element"> {{element?.district?.districtName}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Name </th>
                    <td mat-cell *matCellDef="let element"> {{element?.userInfo?.name}} </td>
                </ng-container>
                <ng-container matColumnDef="designation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Designation </th>
                    <td mat-cell *matCellDef="let element"> {{element?.designation}} </td>
                </ng-container>


                <ng-container matColumnDef="hq_da">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;HQ DA </th>
                    <td mat-cell *matCellDef="let element"> {{element.daHQ}} </td>
                </ng-container>

                <ng-container matColumnDef="ex_da">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;EX DA </th>
                    <td mat-cell *matCellDef="let element"> {{element?.daEX}} </td>
                </ng-container>
                <ng-container matColumnDef="out_da">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;OUT DA </th>
                    <td mat-cell *matCellDef="let element"> {{element?.daOUT}} </td>
                </ng-container>
                <ng-container matColumnDef="mobileAllowance">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp; Mobile Allowance </th>
                    <td mat-cell *matCellDef="let element"> {{element?.mobileAllowance}} </td>
                </ng-container>
                <ng-container matColumnDef="netAllowance">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp; Net Allowance </th>
                    <td mat-cell *matCellDef="let element"> {{element?.netAllowance}} </td>
                </ng-container>
            
               
               
                <ng-container matColumnDef="special_allowance">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp; Special Allowance </th>
                    <td mat-cell *matCellDef="let element"> {{element?.specialAllowance}} </td>
                </ng-container>

              
                <ng-container matColumnDef="editDLA">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Edit Details</th>
					<td mat-cell *matCellDef="let row;let i=index"> <button mat-button color="accent"
							(click)="editDA($event,i,row)">
							<i class="material-icons" style="color: #f44336;">edit</i></button> </td>
				</ng-container>
                <ng-container matColumnDef="deleteDLA">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;Delete</th>
					<td mat-cell *matCellDef="let row;let i=index"> <button m mat-mini-fab color="warn"
							(click)="deleteDA($event,i,row)">
							<i class="material-icons" >delete</i></button> </td>
				</ng-container>

                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef>
                        Loading data...
                    </mat-footer-cell>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
            </table>
            <mat-paginator [pageSizeOptions]=[5,20,50,100] [pageSize]="70" showFirstLastButtons></mat-paginator>
            <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
                <mat-progress-spinner color="primary" mode="indeterminate">
                </mat-progress-spinner>
            </mat-card>
        </div>
    
    </ng-container>

</m-portlet>