
fieldset {
    width: 100%;
    margin: 10px;
    padding: 20px;
    border: 1px solid #999;
    border-radius: 8px;
    box-shadow: 0 0 10px #999;
}

// legend {
//     background: #fff;
//     font-size: 18px;
//     font-weight: normal;
//     padding-left: 1.3em;
//     color: #7b7e8a;
// }
legend {
	display: flex;
    justify-content: center;
    border: 1px solid #bababa;
    border-radius: 15px;
    background: #46a284;
    color: #515151;
    background-color: white;
    box-shadow: 0px 0px 5px 2px #bcbcbc;
}

tr:nth-of-type(odd) {
    background: #eee;
}

