h3 {
    margin: 0 0 10px;
}

pre {
    background-color: #f5f5f5;
    padding: 15px;
}

.rcorners2 {
    //  border-radius: 25px;
    // border: 2px solid rgb(42, 46, 46);
    //// padding: 5px; 
    // width: 50px;
    // height: 30px;  
    margin-top: 3px;
    // margin-left: 10px;
    display: inline-block;
    //  min-width: 10px;
    padding: 5px 7px;
    font-size: 13px;
    //font-weight: 700;
    //line-height: 1;
    // width: 50%;
    color: white;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
    margin: 6px;
}

 ::ng-deep .cal-month-view .cal-cell-top {
    min-height: 10px !important;
}

 ::ng-deep .cal-month-view .cal-open-day-events {
    background-color: rgb(148, 156, 152);
}

 ::ng-deep .cal-month-view .cal-header .cal-cell {
    background-color: rgb(225, 228, 227);
}

 ::ng-deep .m-portlet .m-portlet__body {
    color: #000000
}

::ng-deep small,
.small {
    background: beige;
}