<mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate" (viewDateChange)="fetchEvents()" (viewChange)="fetchEvents()" (changedValues)="getValue($event)">
</mwl-demo-utils-calendar-header>

<ng-template #loading>
    <div class="text-center">
        <i class="fa fa-spin fa-spinner fa-5x"></i>
        <br> Loading events...
    </div>
</ng-template>
<ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <!-- <small style="margin: 5px" *ngFor="let data of day.events ">
       <span class="rcorners2" *ngIf="day.badgeTotal > 0 && this.currentUser.userInfo[0].rL==0" style="background-color: goldenrod">  {{ data.meta.film.totalDCR }}</span>
        <span class="rcorners2" *ngIf="day.badgeTotal > 0 && this.currentUser.userInfo[0].rL==0" style="background-color: rgb(204, 96, 57);">{{ data.meta.film.workingDCR }}</span><br/>
        <span class="rcorners2" *ngIf="day.badgeTotal > 0 && this.currentUser.userInfo[0].rL==0" style="background-color: rgb(99, 121, 194);">0</span>
        <span class="rcorners2" *ngIf="day.badgeTotal > 0 && this.currentUser.userInfo[0].rL==0" style="background-color: rgb(54, 161, 90);"> {{ data.meta.film.doctorCall }}</span><br/>
        <span class="rcorners2" *ngIf="day.badgeTotal > 0 && this.currentUser.userInfo[0].rL==0" style="background-color: rgb(185, 89, 185);">  {{ data.meta.film.vendorCall }}</span>
        <span class="rcorners2" *ngIf="day.badgeTotal > 0 && this.currentUser.userInfo[0].rL==0" style="background-color: rgb(78, 171, 247);" >{{ data.meta.film.productPob }}</span>
    </small>-->

    <small *ngFor="let data of day.events">
        <span class="rcorners2" *ngIf="day.badgeTotal > 0 && (this.currentUser.userInfo[0].rL==0 || this.currentUser.userInfo[0].rL>1) && (this.userId=='All' || this.userId=='' || this.userId==undefined) " style="background-color: goldenrod;">  {{ data.meta.film.totalDCR }}</span>
        <span class="rcorners2" *ngIf="day.badgeTotal > 0 && (this.currentUser.userInfo[0].rL==0 || this.currentUser.userInfo[0].rL>1) && (this.userId=='All' || this.userId=='' || this.userId==undefined)" style="background-color: rgb(204, 96, 57);">{{ data.meta.film.workingDCR }}</span>
        <span class="rcorners2" *ngIf="day.badgeTotal > 0 && (this.currentUser.userInfo[0].rL==0 || this.currentUser.userInfo[0].rL>1) && (this.userId=='All' || this.userId=='' || this.userId==undefined)" style="background-color: rgb(99, 121, 194);">0</span>
        <span class="rcorners2" *ngIf="day.badgeTotal > 0 && (this.currentUser.userInfo[0].rL==0 || this.currentUser.userInfo[0].rL>1) && (this.userId=='All' || this.userId=='' || this.userId==undefined)" style="background-color: rgb(54, 161, 90);"> {{ data.meta.film.doctorCall }}</span>
        <span class="rcorners2" *ngIf="day.badgeTotal > 0 && (this.currentUser.userInfo[0].rL==0 || this.currentUser.userInfo[0].rL>1) && (this.userId=='All' || this.userId=='' || this.userId==undefined)" style="background-color: rgb(185, 89, 185);">  {{ data.meta.film.vendorCall }}</span>
        <span class="rcorners2" *ngIf="day.badgeTotal > 0 && (this.currentUser.userInfo[0].rL==0 || this.currentUser.userInfo[0].rL>1) && (this.userId=='All' || this.userId=='' || this.userId==undefined)" style="background-color: rgb(78, 171, 247);" >{{ data.meta.film.productPob }}</span>
    </small>
</ng-template>

<div *ngIf="events$ | async; else loading; let events">
    <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="eventClicked($event.event)" [cellTemplate]="customCellTemplate" (beforeViewRender)="beforeMonthViewRender($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" (eventClicked)="eventClicked($event.event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" (eventClicked)="eventClicked($event.event)">
        </mwl-calendar-day-view>
    </div>
</div>