<m-portlet [options]="{enableSticky: true}">
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Stock-Sales & Statement Filter
      </h3>
    </div>
  </ng-container>

  <!-- use ng-container[mPortletHeadTools] for the top right toolbar content -->

  <!-- use ng-container[mPortletBody] for the body content -->
  <ng-container mPortletBody>
    <form [formGroup]='sssViewForm' class="m-form m-form--label-align-left- m-form--state" (ngSubmit)="getSubmittedSSSDetail()">
      <div class="m-portlet__body">
        <div class="row">
          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">
                <div [hidden]=!showState class="col-lg-3 m-form__group-sub">
                  <m-state (valueChange)="getStateValue($event)" [check]=false></m-state>
                </div>
                <div [hidden]=!showDistrict class="col-lg-3 m-form__group-sub">
                  <div class="m-form__control">
                    <m-district (valueChange)="getDistrictValue($event)" #callDistrictComponent [check]=false></m-district>
                  </div>
                </div>

                <div [hidden]=!showEmployee class="col-lg-3 m-form__group-sub">
                  <div class="m-form__control">
                    <m-employee (valueChange)="getStockists($event)" #callEmployeeComponent [check]=false></m-employee>
                  </div>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <div class="m-form__control">
                    <m-mapped-stockist (valueChange)="setStockistValue($event)" #callMappedStockistComponent [check]=false></m-mapped-stockist>
                  </div>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <m-month (valueChange)="getMonth($event)" #callMonthComponent></m-month>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <m-year (valueChange)="getYear($event)" #callYearComponent></m-year>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">
                <div class="col-lg-4 m-form__group-sub">
                  <mat-radio-button class="form-control-label" (change)="saleType('primarySale')">
                    * Primary Sale
                  </mat-radio-button>
                  <mat-radio-button class="form-control-label" (change)="saleType('returnSale')">
                    * Sale Return
                  </mat-radio-button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">
                <div class="col-lg-3 m-form__group-sub">
                  <div><label class="form-control-label">&nbsp; </label></div>
                  <button mat-raised-button color="accent" [disabled]="!sssViewForm.valid"><span><i class="la la-check"></i></span>View
                    SSS</button>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <div><label class="form-control-label">&nbsp; </label></div>
                  <button type="button" mat-raised-button color="accent" [disabled]="!sssViewForm.valid" (click)="editSSSDetail();"><span><i
                        class="la la-check"></i></span>Edit
                    SSS</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</m-portlet>
<m-portlet [options]="{enableSticky: false}" *ngIf="isShowSSSForm">
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h5 class="m-portlet__head-text">
        Stock-Sales & Statement View
      </h5>
    </div>
  </ng-container>
  <ng-container mPortletBody>
    <div class="row">
      <div class="col-xl-12">
        <div class="table-container mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let element">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null"
                  [checked]="selection.isSelected(element)"></mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="sn">
              <th mat-header-cell *matHeaderCellDef>S. No. </th>
              <td mat-cell *matCellDef="let row;let i = index;"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="productName">
              <th mat-header-cell *matHeaderCellDef>Product Name </th>
              <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
            </ng-container>
            <ng-container matColumnDef="partyName">
              <th mat-header-cell *matHeaderCellDef>Party Name </th>
              <td mat-cell *matCellDef="let element"> {{element.partyName}} </td>
            </ng-container>
            <ng-container matColumnDef="month">
              <th mat-header-cell *matHeaderCellDef>Month </th>
              <td mat-cell *matCellDef="let element"> {{element.month}} </td>
            </ng-container>
            <ng-container matColumnDef="year">
              <th mat-header-cell *matHeaderCellDef>Year </th>
              <td mat-cell *matCellDef="let element"> {{element.year}} </td>
            </ng-container>
            <ng-container matColumnDef="opening" *ngIf="isShowPriColumn">
              <th mat-header-cell *matHeaderCellDef>Opening </th>
              <td mat-cell *matCellDef="let element"> {{element.opening}} </td>
            </ng-container>
            <ng-container matColumnDef="totalPrimaryQty" *ngIf="isShowPriColumn">
              <th mat-header-cell *matHeaderCellDef>Primary Qty </th>
              <td mat-cell *matCellDef="let element"> {{element.totalPrimaryQty}} </td>
            </ng-container>
            <ng-container matColumnDef="totalPrimaryAmt" *ngIf="isShowPriColumn">
              <th mat-header-cell *matHeaderCellDef>Primary Amount </th>
              <td mat-cell *matCellDef="let element"> {{element.totalPrimaryAmt}} </td>
            </ng-container>
            <ng-container matColumnDef="totalSaleReturnQty" *ngIf="isShowReturnColumn">
              <th mat-header-cell *matHeaderCellDef>Return Qty </th>
              <td mat-cell *matCellDef="let element"> {{element.totalSaleReturnQty}} </td>
            </ng-container>
            <ng-container matColumnDef="totalSaleReturnAmt" *ngIf="isShowReturnColumn">
              <th mat-header-cell *matHeaderCellDef>Return Amount </th>
              <td mat-cell *matCellDef="let element"> {{element.totalSaleReturnAmt}} </td>
            </ng-container>
            <!-- <ng-container matColumnDef="breakage" *ngIf="isShowReturnColumn">
              <th mat-header-cell *matHeaderCellDef>Breakage</th>
              <td mat-cell *matCellDef="let element"> {{element.breakage}} </td>
            </ng-container>
            <ng-container matColumnDef="saleable" *ngIf="isShowReturnColumn">
              <th mat-header-cell *matHeaderCellDef>Saleable</th>
              <td mat-cell *matCellDef="let element"> {{element.saleable}} </td>
            </ng-container>
            <ng-container matColumnDef="other" *ngIf="isShowReturnColumn">
              <th mat-header-cell *matHeaderCellDef>Other</th>
              <td mat-cell *matCellDef="let element"> {{element.other}} </td>
            </ng-container>-->
            <ng-container matColumnDef="delActions">
              <th mat-header-cell *matHeaderCellDef>Delete </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Delete" (click)="deleteProduct(element)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div class="m-separator m-separator--dashed m-separator--lg"></div>
      </div>
    </div>
  </ng-container>
</m-portlet>

<m-portlet [options]="{enableSticky: false}" *ngIf="isShowEditSSSForm">
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Stock-Sales & Statement Edit
      </h3>
    </div>
  </ng-container>

  <!-- use ng-container[mPortletHeadTools] for the top right toolbar content -->

  <!-- use ng-container[mPortletBody] for the body content -->
  <ng-container mPortletBody *ngIf="isShowEditSSSForm">
    <form [formGroup]="myform" (ngSubmit)="editSSS()">
      <table class="table table-striped tableWidth" formArrayName="resultList">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Net Rate</th>
            <th>Spl Rate</th>
            <th *ngIf="isShowPriColumn">Opening</th>
            <th *ngIf="isShowPriColumn">Primary Sale</th>
            <!--<th *ngIf="isShowReturnColumn">Return Sale</th>-->
            <th *ngIf="isShowReturnColumn">Breakage Return</th>
            <th *ngIf="isShowReturnColumn">Saleable Return</th>
            <th *ngIf="isShowReturnColumn">Other Return</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of productList; let i = index" [formGroupName]=i>
            <td>
              <input type="text" disabled formControlName="productName" [value]="item.productName">
            </td>
            <td>
              <input type="number" disabled formControlName="netRate" [value]="item.netRate">
            </td>
            <td>
              <input type="number" formControlName="splRate" [value]="item.splRate">
            </td>
            <td *ngIf="isShowPriColumn">
              <input type="number" formControlName="opening" [value]="item.opening">
            </td>
            <td *ngIf="isShowPriColumn">
              <input type="number" formControlName="primarySale" [value]="item.primarySale">
            </td>
           <!-- <td *ngIf="isShowReturnColumn">
              <input type="number" formControlName="returnSale" [value]="item.returnSale">
            </td>-->
            <td *ngIf="isShowReturnColumn">
              <input type="number" formControlName="breakage" [value]="item.breakage">
            </td>
            <td *ngIf="isShowReturnColumn">
              <input type="number" formControlName="saleable" [value]="item.saleable">
            </td>
            <td *ngIf="isShowReturnColumn">
              <input type="number" formControlName="other" [value]="item.other">
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-lg-3 m-form__group-sub">
          <label class="form-control-label">&nbsp; </label>
          <button mat-raised-button color="accent"><span><i class="la la-check"></i></span>Edit</button>
        </div>
      </div>
    </form>
  </ng-container>
</m-portlet>