table {
	width: 100%;	
}

.tableWidth {
	width: 70%;	
}


th.mat-sort-header-sorted {
	color: black;
	display: inline-flex;
}

.table-container {
	height: 400px;
	overflow: auto;
}

.mat-column-select {
	overflow: initial;
}

input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 120px;
}


