<m-portlet [options]="{enableSticky: true}">
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Company Creation Form
      </h3>
    </div>
   
  </ng-container>
  <ng-container mPortletBody>
    <form [formGroup]='' class="m-form m-form--label-align-left- m-form--state-">
      <div class="row">
        <div class="col-lg-4">
          <mat-form-field style="width: 100%;">
            <mat-label>Company Name</mat-label>
            <input matInput required formControlName="companyName" placeholder="Company Name" value="">
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-form-field style="width: 100%;">
            <mat-label>Maximum User</mat-label>
            <input type="number" matInput required formControlName="maxUser" placeholder="Maximum User" value="">
          </mat-form-field>
        </div>

      </div>
      <br>

    
      <br>
      <div class="row">
        <div class="m-form__heading">
          <h4 class="m-form__heading-title">Labels Information</h4>
        </div>

      </div>
      <div class="row">
        <div class="col-xl-12">
          <div class="m-form__section m-form__section--first">
            <fieldset>
              <div class="form-group m-form__group row">
                <div class="col-md-2">
                  <mat-form-field style="width:100%">
                    <input matInput required formControlName="doctor" placeholder="Doctor label" value="">
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field style="width:100%">
                    <input matInput required formControlName="chemist" placeholder="Chemist label" value="">
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field style="width:100%">
                    <input matInput required formControlName="stockist" placeholder="Stockist label" value="">
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field style="width:100%">
                    <input matInput required formControlName="area" placeholder="Area label" value="">
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field style="width:100%">
                    <input matInput required formControlName="headquarter" placeholder="Headquarter label" value="">
                  </mat-form-field>
                </div>
              </div>

            </fieldset>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="m-form__heading">
          <h4 class="m-form__heading-title">Validations</h4>
        </div>

      </div>
      <div class="row">
          <div class="col-lg-4">
            <legend style="font-size: 14px;">Stock and Sales Type</legend>
            <mat-radio-group formControlName='pool'>
              <mat-radio-button value="pool">Pool</mat-radio-button>
              <mat-radio-button value="noPool">No Pool</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-lg-4">
              <legend style="font-size: 14px;">Approval Level</legend>
              <mat-radio-group formControlName='approvalLevel'>
                <mat-radio-button value="1">Level 1</mat-radio-button>
                <mat-radio-button value="2">Level 2</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-lg-4">
                <legend style="font-size: 14px;">POB</legend>
                <mat-radio-group formControlName='pob'>
                  <mat-radio-button value="true">True</mat-radio-button>
                  <mat-radio-button value="false">False</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col-lg-4">
                  <legend style="font-size: 14px;">Enable Geo Fancing</legend>
                  <mat-radio-group formControlName='geo'>
                    <mat-radio-button value="true">yes</mat-radio-button>
                    <mat-radio-button value="false">No</mat-radio-button>
                  </mat-radio-group>
                </div>
                <br>
              <div class="col-lg-4" [hidden]=!showGeo>
                  <mat-form-field style="width: 100%;">
                    <mat-label>Geo Distance</mat-label>
                    <input type="number" matInput required formControlName="geoDistance" placeholder="Geo Distance" value="">
                  </mat-form-field>
              </div>
              <div class="col-lg-4">
                <legend style="font-size: 14px;">Day Plan</legend>
                <mat-radio-group formControlName='dayPlan'>
                  <mat-radio-button value="true">True</mat-radio-button>
                  <mat-radio-button value="false">False</mat-radio-button>
                </mat-radio-group>
              </div>
             
              
        </div>
        <br>
        <div class="row">
          <div class="m-form__heading">
            <h4 class="m-form__heading-title">Target Related Information</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <legend style="font-size: 14px;">Target Submission</legend>
            <mat-radio-group formControlName='targetSubmission'>
              <mat-radio-button value="Employeewise">Employee Wise</mat-radio-button>
              <mat-radio-button value="Headquarterwise">Headquarter Wise</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-lg-4">
            <legend style="font-size: 14px;">Duration</legend>
            <mat-radio-group formControlName='targetDuration'>
              <mat-radio-button value="Monthly">Monthly</mat-radio-button>
              <mat-radio-button value="Quarterly">Quarterly</mat-radio-button>
              <mat-radio-button value="Yearly">Yearly</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-lg-4">
            <legend style="font-size: 14px;">Type</legend>
            <mat-radio-group formControlName='targetType'>
              <mat-radio-button value="amountwise">Amount Wise</mat-radio-button>
              <mat-radio-button value="productwise">Product Wise</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-lg-4">
            <legend style="font-size: 14px;">Enable Manager Wise</legend>
            <mat-radio-group formControlName='targetManagerWise'>
              <mat-radio-button value="true">True</mat-radio-button>
              <mat-radio-button value="false">False</mat-radio-button>
            </mat-radio-group>
          </div> 

        </div>
        <br>
        <div class="row">
          <div class="m-form__heading">
            <h4 class="m-form__heading-title">Other Information</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <mat-form-field>
                <mat-label>Select Degree</mat-label>
                <mat-select placeholder="Select Degree" formControlName='degree'>
                    <mat-option value="">
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-form-field>
              <mat-label>Select Qualification</mat-label>
              <mat-select placeholder="Select Qualification" formControlName='qualification'>
                  <mat-option value="">
                  </mat-option>
              </mat-select>
          </mat-form-field>
      </div>
      <div class="col-lg-3">
        <mat-form-field>
            <mat-label>Select Category</mat-label>
            <mat-select placeholder="Select category" formControlName='category'>
                <mat-option value="">
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-lg-4">
      <legend style="font-size: 14px;">Division</legend>
      <mat-radio-group formControlName='division'>
        <mat-radio-button value="true">True</mat-radio-button>
        <mat-radio-button value="false">False</mat-radio-button>
      </mat-radio-group>
    </div> 
    <div class="col-lg-4">
      <legend style="font-size: 14px;">DCR Progessive</legend>
      <mat-radio-group formControlName='dcrProgressive'>
        <mat-radio-button value="true">True</mat-radio-button>
        <mat-radio-button value="false">False</mat-radio-button>
      </mat-radio-group>
    </div> 
    


        </div>

    </form>
  </ng-container>
</m-portlet>