<m-portlet [options]="{enableSticky: true}">
  <div mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        {{currentUser.company.lables.doctorLabel+'  '+currentUser.company.lables.vendorLabel}} Linking
      </h3>
    </div>
  </div>
  <div mPortletBody>
    <div class="row">
      <div class="col-lg-3" [hidden]="hideDivisionFilter">
        <m-division (valueChange)="getDivisionValue($event)" [check]=true [required]=false #callDivisionComponent>
        </m-division>
      </div>
      <div class="col-lg-3">
        <m-designation [check]=false (valueChange)="getDesignation($event)" [required]=false #callDesignationComponent>
        </m-designation>
      </div>
      <div class="col-lg-3">
        <m-employee [check]=false (valueChange)="getEmployee($event)" [required]=false #callEmployeeComponent>
        </m-employee>
      </div>
      <!-- <div class="col-lg-3" >
        <m-status (valueChange)="getStatusValue($event)" [check]=false #callStatusComponent></m-status>
      </div> -->
    </div>
  </div>
</m-portlet>

<m-portlet [hidden]="!(loader == 2)">

  <div mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Linking Data
      </h3>
    </div>
  </div>

  <div mPortletHeadTools>
    <div style="float: right;">
      <!-- <button mat-stroked-button (click)='PrintTableFunction()'>Print</button> -->
      <span matTooltip="Print" matTooltipPosition="above" aria-label="Displays a tooltip"
        (click)="PrintTableFunction()"><i class="fa fa-print"
          style="cursor:pointer; color: blue;font-size: 2em;margin-right: 5px;" aria-hidden="true"></i></span>
      <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
        style="float: right;" (click)="exportAsExcel()"><i class="fa fa-file-excel"
          style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i></span>
    </div>
  </div>

  <div mPortletBody *ngIf="loader == 2">
    <div class="row" id="tableId1" #TABLE>
      <div class="col-lg-6">
        <div class="mat-elevation-z8 p-2">
          <mat-form-field class="mat-form-field-fluid mt-1" floatLabel="never">
            <mat-label>Search {{currentUser.company.lables.doctorLabel}}</mat-label>
            <input matInput (keyup)="applyDoctorFilter($event)" placeholder="Ex. ium">
          </mat-form-field>
          <table mat-table [dataSource]="doctorDataSource">
            <ng-container matColumnDef="checkbox">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggleDoctor() : null"
                  [checked]="selectionDoctor.hasValue() && isAllSelectedDoctor()"
                  [indeterminate]="selectionDoctor.hasValue() && !isAllSelectedDoctor()"
                  [aria-label]="checkboxLabelDoctor()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionDoctor.toggle(row) : null"
                  [checked]="selectionDoctor.isSelected(row)" [aria-label]="checkboxLabelDoctor(row)">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="sn">
              <th mat-header-cell *matHeaderCellDef>S.No.</th>
              <td mat-cell *matCellDef="let element; let i= index">
                {{(doctorPaginator.pageIndex) * doctorPaginator.pageSize + (1 + i)}}</td>
            </ng-container>
            <ng-container matColumnDef="doctorName">
              <th mat-header-cell *matHeaderCellDef>{{currentUser.company.lables.doctorLabel}} Name</th>
              <td mat-cell *matCellDef="let element">{{element.providerName}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="doctorDisplayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: doctorDisplayedColumns;"></tr>
          </table>
          <mat-paginator #doctorPaginator [length]="doctorDataSource?.data?.length || 0"
            [pageSizeOptions]="[5, 10, 50,100,200,500]" [pageSize]="5" showFirstLastButtons>
          </mat-paginator>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="mat-elevation-z8 p-2">
          <mat-form-field class="mat-form-field-fluid mt-1" floatLabel="never">
            <mat-label>Search {{currentUser.company.lables.vendorLabel}}</mat-label>
            <input matInput (keyup)="applyChemistFilter($event)" placeholder="Ex. ium">
          </mat-form-field>
          <table mat-table [dataSource]="chemistDataSource">
            <ng-container matColumnDef="checkbox">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggleChemist() : null"
                  [checked]="selectionChemist.hasValue() && isAllSelectedChemist()"
                  [indeterminate]="selectionChemist.hasValue() && !isAllSelectedChemist()"
                  [aria-label]="checkboxLabelChemist()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionChemist.toggle(row) : null"
                  [checked]="selectionChemist.isSelected(row)" [aria-label]="checkboxLabelChemist(row)">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="sn">
              <th mat-header-cell *matHeaderCellDef>S.No.</th>
              <td mat-cell *matCellDef="let element; let i= index">
                {{(chemistPaginator.pageIndex) * chemistPaginator.pageSize + (1 + i)}}</td>
            </ng-container>
            <ng-container matColumnDef="chemistName">
              <th mat-header-cell *matHeaderCellDef>{{currentUser.company.lables.vendorLabel}} Name</th>
              <td mat-cell *matCellDef="let element">{{element.providerName}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="chemistDisplayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: chemistDisplayedColumns;"></tr>
          </table>
          <div>
            <mat-paginator #chemistPaginator [length]="chemistDataSource?.data?.length || 0"
              [pageSizeOptions]="[5, 10, 50,100,200,500]" [pageSize]="5" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-12 mt-4">
        <button class="btn btn-primary"
          [disabled]="!(this.selectionDoctor.selected.length && this.selectionChemist.selected.length)"
          (click)="submitData()">
          Submit
        </button>
      </div>
    </div>
  </div>
</m-portlet>

<div class="loader" *ngIf="loader < 2">
  <img src="assets/app/media/img/processing/loading.gif">
</div>