<mat-form-field style="width: 100%;">
    <mat-select [(ngModel)]="selectedValue" placeholder="Select Designation" [(value)]="selectedValue" [required]="required" (selectionChange)='changedValue($event.value)' multiple={{check}}>
        <mat-option *ngFor="let desg of desgInfo" [value]="desg">
            {{desg.fullName}}
        </mat-option>
    </mat-select>
    <mat-error>Designation is required</mat-error>
</mat-form-field>