.formly {
  /* style your forms however you like */
  //margin-bottom: 16px;
  border:1px;
}

.formly-field {
  /* for example, give some space between your fields */
  //margin-bottom: 16px;
  border:1px;
}

::ng-deep .form-control {
   // width:30%;
    background: beige;
    border-color: rgb(168, 166, 166);
}
formly-group{
  border: 2px;
  border-color: cadetblue;
}
.radio {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
}

.custom {
   background: beige;
    border-color: rgb(168, 166, 166);
}
/*.ng-select ::ng-deep .ng-select-container  {            
    background: beige;
    border-color: #a8a6a6;
    border-radius: .25rem;
    font-family: sans-serif, Arial;
    height: calc(2.95rem + 2px);
    padding: .85rem 1.15rem;
    font-size: 1rem;
    line-height: 1.25;
    border: 1px solid #ced4da;
}*/
    
::ng-deep .ng-select>.ng-select-container {
  border: 1px solid #ced4da;
  line-height: 1.25;
  padding: .85rem 1.15rem;
  height: calc(2.95rem + 2px);
  font-family: sans-serif, Arial;
  border-radius: .25rem;
  border-color: #a8a6a6;
  background: beige;
    border-color: #a8a6a6;
}