<form [formGroup]="form">
    <!-- <pre>{{this.model | json}}</pre> -->

    <mat-horizontal-stepper #matHorizontalStepper #stepper>
        <mat-step *ngFor="let step of steps; let index = index; let last = last;">
            <ng-template matStepLabel>{{ step.label }}</ng-template>
            <formly-form [form]="form.at(index)" [model]="model" [fields]="step.fields" [options]="options[index]">
            </formly-form>
            <br/>
            <div *ngIf="last">
                <m-dcr-preview #callDcrPreviewComponent [hidden]="showDCRSummary"></m-dcr-preview>
            </div>
            <div>
                <button *ngIf="index !== 0" matStepperPrevious class="btn btn-primary" type="button" (click)="prevStep(index)" style="background-color: blue">Back</button>&nbsp;&nbsp;
                <button *ngIf="!last" class="btn btn-primary" type="button" [disabled]="!form.at(index).valid" (click)="nextStep(index,stepper)">Next</button>&nbsp;&nbsp;
                <button *ngIf="last" class="btn btn-primary" [disabled]="!form.valid" (click)="submit(stepper)">Final Submit</button>
            </div>
        </mat-step>

    </mat-horizontal-stepper> 

</form>