<m-portlet [options]="{enableSticky: true}">
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle>
      <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
              Product Sub Group Form
          </h3>
      </div>
  </ng-container>
 

<div mPortletBody >
    <form [formGroup]='ProductgroupForm' class="m-form m-form--label-align-left" (ngSubmit)="SubmitGroup()">
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-xl-12 ">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group m-form__group row">

                          <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                            <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent >
                            </m-division>
                        </div>
                        
                            <div class="col-lg-3 m-form__group-sub">
                                <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                                </m-state>
                            </div>

                            <div class="col-lg-3 m-form__group-sub">
                                <m-product-group-filter (valueChange)="getProductGroupData($event)" [check]=false #callProductGroup>
                                </m-product-group-filter>
                            </div>
                            
                            <div class="col-lg-3 m-form__group-sub">
                                <m-products (valueChange)="getProductsDataForGroup($event)" [check]=true #callProductComponent>
                                </m-products>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width: 100% !important;">
                                    <input matInput formControlName="productSubGroupName" placeholder="Sub Group Name*">
                                    <mat-error>Name is required !!!</mat-error>
                                </mat-form-field>
                            </div>
                                    <div class="col-lg-3 m-form__group-sub">
                                        <button mat-raised-button [disabled]="!ProductgroupForm.valid" color="accent"><span><i
                                                    class="la la-check"></i></span>Submit Group</button>
                                    </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
  </m-portlet>

  <m-portlet [options]="{enableSticky: true}"  *ngIf="showProductGroupDetails" >
    <ng-container mPortletHeadTitle>
                       <div class="m-portlet__head-title">
                           <h3 class="m-portlet__head-text"> 
                            Product Group Report
                           </h3>
                          
                       </div>
                    
                   </ng-container>
  <ng-container mPortletBody>
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)"
          placeholder="Search Products">
     </mat-form-field>
    <div style="overflow-x:auto; height: 400px;">
      <div class="m-portlet__body m-portlet__body--no-padding">
        <div class="row m-row--no-padding m-row--col-separator-xl">
            <div class="col-xl-12">
                <div class="m-widget14" #TABLE>
                     
                    <table mat-table [dataSource]="dataSource"  id="tableId2">
                        <ng-container matColumnDef="srno">
                            <th mat-header-cell *matHeaderCellDef>S.No.</th>
                            <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                        </ng-container>
                        <ng-container matColumnDef="divisionName">
                            <th mat-header-cell *matHeaderCellDef>Division</th>
                            <td mat-cell *matCellDef="let element"> {{element.divisionName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="stateName">
                            <th mat-header-cell *matHeaderCellDef>State</th>
                            <td mat-cell *matCellDef="let element"> {{element.stateName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="productGroupName">
                            <th mat-header-cell *matHeaderCellDef>Group Name</th>
                            <td mat-cell *matCellDef="let element"> {{element.productGroupName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="productSubGroupName">
                            <th mat-header-cell *matHeaderCellDef>Group Sub Name</th>
                            <td mat-cell *matCellDef="let element"> {{element.productSubGroupName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="prodName">
                            <th mat-header-cell *matHeaderCellDef>Product Name</th>
                            <td mat-cell *matCellDef="let element"> 
                              <ng-container *ngFor="let productName of element.ProductInfo">
                                <tr><td> {{productName.productName}}----{{productName.productType}}</td></tr>
                              </ng-container>
                              </td>
                          </ng-container>
                          <ng-container matColumnDef="pts">
                            <th mat-header-cell *matHeaderCellDef>PTW</th>
                            <td mat-cell *matCellDef="let element"> 
                              <ng-container *ngFor="let pts of element.ProductInfo">
                                <tr><td> {{pts.ptw}}</td></tr>
                              </ng-container>
                              </td>
                          </ng-container>
            
                          <ng-container matColumnDef="ptr">
                            <th mat-header-cell *matHeaderCellDef>PTR</th>
                            <td mat-cell *matCellDef="let element"> 
                              <ng-container *ngFor="let ptr of element.ProductInfo">
                                <tr><td> {{ptr.ptr}}</td></tr>
                              </ng-container>
                              </td>
                          </ng-container>

                          <ng-container matColumnDef="mrp">
                            <th mat-header-cell *matHeaderCellDef>MRP</th>
                            <td mat-cell *matCellDef="let element"> 
                              <ng-container *ngFor="let mrp of element.ProductInfo">
                                <tr><td> {{mrp.mrp}}</td></tr>
                              </ng-container>
                              </td>
                          </ng-container>

                          <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Edit</th>
                            <td mat-cell *matCellDef="let element">
                              <button mat-icon-button color="accent" (click)="editProductGroup(element)">
                                <mat-icon>create</mat-icon>
                              </button>
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="action1">
                            <th mat-header-cell *matHeaderCellDef>Delete</th>
                            <td mat-cell *matCellDef="let element">
                              <button mat-icon-button color="warn"  (click)="deleteProductGroup(element)">
                                <mat-icon>delete_outline</mat-icon>
                              </button>
                            </td>
                          </ng-container>

                          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </ng-container>
                </m-portlet>
