<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                User-{{this.currentUser.company.lables.stockistLabel}} Mapping
            </h3>
        </div>
    </ng-container>

    <!-- use ng-container[mPortletHeadTools] for the top right toolbar content -->

	<!-- use ng-container[mPortletBody] for the body content -->
	<ng-container mPortletBody>
		<form [formGroup]='linkingForm' class="m-form m-form--label-align-left- m-form--state" >
			<div class="m-portlet__body">
				<div class="row">
					<div class="col-xl-6">
						<div class="m-portlet__head-title">
							<h5 class="m-portlet__head-text">
								Filter For Stockist Selection
							</h5>
						</div>
						<div>&nbsp;</div>
						<div class="m-form__section m-form__section--first">
							<div class="form-group m-form__group row">
								<div class="col-lg-5 m-form__group-sub">
									<m-state [check]=false (valueChange)="getStateValue($event)" #callStateComponent></m-state>
								</div>
								<div class="col-lg-5 m-form__group-sub">
									<m-district [check]=true (valueChange)="getStockiestToBeMapped($event)" #callDistrictComponent></m-district>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6 ">
						<div class="m-portlet__head-title">
							<h5 class="m-portlet__head-text">
									Filter For Employee Selection
							</h5>
						</div>
						<div>&nbsp;</div>
						<div class="m-form__section m-form__section--first">
							<div class="form-group m-form__group row">
								<div class="col-lg-5 m-form__group-sub">
									<m-state [check]=false (valueChange)="getStateValueAgain($event)" #callStateComponentAgain></m-state>
								</div>
								<div class="col-lg-5 m-form__group-sub">
									<m-district [check]=true (valueChange)="getEmployeeValue($event)" #callDistrictComponentAgain></m-district>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</ng-container>
</m-portlet>
<m-portlet *ngIf="isShowToBeMappedStockist || isShowMappedStockist">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                User-{{this.currentUser.company.lables.stockistLabel}} Mapping
            </h3>
        </div>
    </ng-container>
<ng-container mPortletBody>
    <div class="row">
        <div class="col-xl-6" *ngIf="isShowToBeMappedStockist">
            <ng-container mPortletHeadTitle>
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Stockist's To Be Mapped
                    </h3>
                </div>
            </ng-container>
            <div class="table-container mat-elevation-z8">
                <table mat-table [dataSource]="dataSource1">
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            Select
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-radio-button (click)="$event.stopPropagation()" (change)="getRadioValue(element)" [checked]=""></mat-radio-button>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="districtName">
                        <th mat-header-cell *matHeaderCellDef>{{this.currentUser.company.lables.hqLabel}} Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="stockiestName">
                        <th mat-header-cell *matHeaderCellDef>{{this.currentUser.company.lables.stockistLabel}} Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.stockiestName}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                </table>
                <mat-paginator #paginator [length]="dataSource1?.data?.length || 0"
                [pageSizeOptions]="[5, 10, 50]" [pageSize]="5" showFirstLastButtons>
            </mat-paginator>
            </div>
            <div class="row">
                <div class="col-lg-3 m-form__group-sub">
                    <label class="form-control-label">&nbsp; </label>
                    <button mat-raised-button color="accent" (click)="mapStockiests(selection._selected)" [disabled]="!selection._selected">Map
						Stockiest's</button>

                </div>
            </div>
        </div>
        <div class="col-xl-6" *ngIf="isShowMappedStockist">
            <ng-container mPortletHeadTitle>
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Employees List
                    </h3>
                </div>
            </ng-container>
            <div class="table-container mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null" [checked]="selection.isSelected(element)"></mat-checkbox>
                        </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="districtName">
                        <th mat-header-cell *matHeaderCellDef>{{this.currentUser.company.lables.hqLabel}} Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>user Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #paginator1 [length]="dataSource?.data?.length || 0"
                [pageSizeOptions]="[5, 10, 50]" [pageSize]="5" showFirstLastButtons>
            </mat-paginator>
            </div>
        </div>
    </div>
</ng-container>
</m-portlet>