<!-- <m-portlet [options]="{enableSticky: true}">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                SSS Consoldiate Summary
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletBody>
        <form [formGroup]='sssConsolidate' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewRecords()">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="col-lg-4 " [hidden]="!showDivisionFilter">
                            <m-division (valueChange)="getDivisionValue($event)" [check]=false #callDivisionComponent>
                            </m-division>
                        </div>
                        <div class="col-lg-3 m-form__group-sub" [hidden]=!stateFilter>
                            <label class="form-control-label">* State:</label>
                            <m-state (valueChange)="getStateValue($event)" [check]=false></m-state>
                        </div>
                        <div class="col-lg-3 m-form__group-sub">
                            <m-district (valueChange)="getDistrictValue($event)" #callDistrictComponent
                                [check]=false></m-district>
                       </div>
                        <div class="col-lg-3 m-form__group-sub" [hidden]=!districtFilter>
                            <label class="form-control-label">* {{this.currentUser.company.lables.hqLabel}}:</label>
                            <m-district [check]=true (valueChange)="getEmployeeValue($event)" #callDistrictComponent></m-district>
                        </div>
                        <div class="col-lg-3 m-form__group-sub" [hidden]=!employeeFilter>
                            <label class="form-control-label">* Employee Name:</label>
                            <m-employee [check]=true (valueChange)="getStockists($event)" #callEmployeeComponent></m-employee>
                        </div>
                        <div class="col-lg-3">
                            <button mat-raised-button color="accent" [disabled]="!viewProvider.valid"><span><i
                                        class="la la-check"></i></span>View
                            </button>
                        </div>
                    </div>
                  </div>
                  </div>
        </form>
</ng-container>
</m-portlet> -->
