<h2 mat-dialog-title style="margin: 10px !important">{{whichFilter}}</h2>
<mat-card style="margin: 10px !important">
    <form [formGroup]="filterForm">
        <!-- <pre>{{filterForm.value.employee | json}}</pre> -->
        <div class="row">
            <div class="col-12">
                <mat-radio-group style="width:100%; display: flex; justify-content: space-between;" (change)="getReportType($event)">
                    <mat-radio-button *ngIf="isDivisionExist" value="division">Division</mat-radio-button>
                    <mat-radio-button value="state">State</mat-radio-button>
                    <mat-radio-button value="district">{{this.currentUser.company.lables.hqLabel}}</mat-radio-button>
                    <mat-radio-button value="employee">Employee</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <br>
        <div class="row" *ngIf="!showDivisionFilter && !showStateFilter && !showDistrictFilter && !showDesignationFilter && !showEmployeeFilter">
            <div class="col-12">
                Please Select Radio Button To Select Employee
            </div>
        </div>
        <div class="row">
            <div class="col-4" [hidden]="!showDivisionFilter">
                <m-division (valueChange)="getDivisionValue($event)" [check]=true #callDivisionComponent></m-division>
            </div>
            <div class="col-4" [hidden]="!showStateFilter">
                <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent></m-state>
            </div>
            <div class="col-4" [hidden]="!showDistrictFilter">
                <m-district [check]=true (valueChange)="getDistrictValue($event)" #callDistrictComponent></m-district>
            </div>
            <div class="col-4" [hidden]="!showDesignationFilter">
                <m-designation [check]=true (valueChange)="getDesignation($event)" #callDesignationComponent></m-designation>
            </div>
            <div class="col-4" [hidden]="!showEmployeeFilter">
                <mat-form-field class="mat-form-field-fluid">

                    <!-- <mat-select [(value)]="selected" placeholder="Select Employee" formControlName="employee" multiple=true>
                        <mat-option #allSelected (click)="toggleAllSelection()" [value]="0">All</mat-option>
                        <mat-optgroup *ngFor="let emp of empData | keyvalue" [label]="emp.key">
                            <mat-option [value]="em" *ngFor="let em of emp.value;" #matOption (click)="togglePerEmp(matOption,matOption.selected)">{{em.name}} - ({{em.districtName}})</mat-option>

                        </mat-optgroup>
                    </mat-select> -->


                    <mat-select placeholder="Select Employee" formControlName="employee" multiple=true>
                        <mat-option #allSelected (click)="toggleAllSelection()" [value]="0">All</mat-option>
                        <mat-optgroup *ngFor="let emp of empData | keyvalue" [label]="emp.key">
                            <ng-container *ngFor="let em of emp.value;">
                                <mat-option *ngIf="em.districtId !== ''" [value]="em" #matOption (click)="togglePerEmp(matOption,matOption.selected)">{{em.name}}({{em.designation}}) - {{em.districtName}}</mat-option>
                                <mat-option *ngIf="em.districtId === ''" [value]="em" #matOption (click)="togglePerEmp(matOption,matOption.selected)">{{em.name}}({{em.designation}})</mat-option>

                            </ng-container>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-card>

<mat-dialog-actions align="end" style="margin-right: 10px">
    <button class="mat-raised-button" mat-dialog-close>Cancel</button>
    <button class="mat-raised-button" [mat-dialog-close]="filterForm.value.employee" cdkFocusInitial [disabled]="!filterForm.valid">Select</button>
</mat-dialog-actions>