<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Sample and Gift Issue
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='sampleAndGift' class="m-form m-form--label-align-left- m-form--state-"
            (ngSubmit)="viewSampleAndGiftDetail()">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class=" col-lg-12 form-group m-form__group row">
                                <div class=" m-form__group-sub" [hidden]=!showEmpReportType>
                                    <mat-radio-button class="form-control-label" [checked]='true'
                                        (change)="reportType('Employeewise')" name="reportTypeName"
                                        value="Employeewise">
                                        * User wise
                                    </mat-radio-button>
                                </div>
                                <div class=" m-form__group-sub" [hidden]=!showStateReportType>
                                    <mat-radio-button class="form-control-label" (change)="reportType('Statewise')"
                                        name="reportTypeName">
                                        * State wise
                                    </mat-radio-button>
                                </div>
                                <div class=" m-form__group-sub" [hidden]=!showHqReportType>
                                    <mat-radio-button class="form-control-label"
                                        (change)="reportType('Headquarterwise')" name="reportTypeName">
                                        * {{this.currentUser.company.lables.hqLabel}} wise
                                    </mat-radio-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!stateFilter>
                                    <m-state (valueChange)="getStateValue($event)" [check]=false #callStateComponent></m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!districtFilter>
                                    <m-district [check]=false (valueChange)="getEmployeeValue($event)"
                                        #callDistrictComponent>
                                    </m-district>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!districtFilterForMulti>
                                    <m-district [check]=true (valueChange)="getEmployeeValue($event)"
                                        #callDistrictComponentAgainForMulti>
                                    </m-district>
                                </div>
                                <div class="col-lg-3" [hidden]=!designationFilterForUserwiseOnly>
                                    <mat-form-field style="width: 100% !important;">
                                        <mat-label>Select Designation</mat-label>
                                        <mat-select placeholder="Select Deaignation" formControlName='designation'
                                            (selectionChange)="getEmployeeValue($event.value)">
                                            <mat-option *ngFor="let designation of designationData"
                                                value="{{designation._id.designationLevel}}">
                                                {{designation._id.designation}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>Designation is required!!!</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3" [hidden]=!designationFilter>
                                    <mat-form-field style="width: 100% !important;">
                                        <mat-label>Select Designation</mat-label>
                                        <mat-select placeholder="Select Deaignation" formControlName='designation'>
                                            <mat-option *ngFor="let designation of designationData"
                                                value="{{designation._id.designationLevel}}">
                                                {{designation._id.designation}}
                                            </mat-option>
                                        </mat-select>
                                        <!--<mat-error>Designation is required!!!</mat-error>-->
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!employeeFilter>
                                    <m-employee [check]=true (valueChange)="setEmployeeDetail($event)"
                                        #callEmployeeComponent>
                                    </m-employee>
                                </div>
                                <div class="col-lg-3 m-form__group-sub mt-3" [hidden]=!moduleType>
                                    <mat-radio-button class="form-control-label" name="moduleTypeName"
                                        (change)="moduleSubmitType('sample')">
                                        * Sample
                                    </mat-radio-button>
                                    <mat-radio-button class="form-control-label" name="moduleTypeName"
                                        (change)="moduleSubmitType('gift')">
                                        * Gift
                                    </mat-radio-button>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent" [disabled]="!sampleAndGift.valid"><span><i
                                                class="la la-check"></i></span>Issue
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>
<br>
<m-portlet [options]="{enableSticky: false}" *ngIf="isShowIssueSample">
    <ng-container mPortletHeadTitle *ngIf="isShowIssueSample">
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Sample Issue Form
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletBody *ngIf="isShowIssueSample">
        <form [formGroup]="sample" (ngSubmit)="issueSample()">
            <table class="table table-striped tableWidth " formArrayName="resultList">
                <thead>
                    <tr class="tr">
                        <th>Sr.No.</th>
                        <th>Sample Name</th>
                        <th>Sample Type</th>
                        <th>Sample Code</th>
                        <th>Reciept</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let item of productListForSample; let i = index" [formGroupName]=i>
                        <td>
                            {{i+1}}
                        </td>
                        <td>
                            <b>{{item.productName}}</b>
                        </td>
                        <td>
                            <b>{{item.productType}}</b>
                        </td>
                        <td>
                            <b>{{item.productCode}}</b>
                        </td>
                        <td>
                            <input type="number" formControlName="quantity" [value]="item.quantity">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-lg-3 m-form__group-sub">
                    <label class="form-control-label">&nbsp; </label>
                    <button mat-raised-button color="accent"><span><i class="la la-check"></i></span>Issue
                        Sample</button>
                </div>
            </div>
        </form>
    </ng-container>
</m-portlet>
<m-portlet [options]="{enableSticky: false}" *ngIf="isShowIssueGift">
    <ng-container mPortletHeadTitle *ngIf="isShowIssueGift">
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Gift Issue Form
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletBody *ngIf="isShowIssueGift">
        <form [formGroup]="gift" (ngSubmit)="issueGift()">
            <table class="table table-striped tableWidth" formArrayName="resultList1">
                <thead>
                    <tr class="tr">
                        <th>Sr.No.</th>
                        <th>Gift Name</th>
                        <th>Gift Code</th>
                        <th>Reciept</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of productListForGift; let i = index" [formGroupName]=i>
                        <td>
                            {{i+1}}
                        </td>
                        <td>
                            <b>{{item.giftName}}</b>
                        </td>
                        <td>
                            <b>{{item.giftCode}}</b>
                        </td>
                        <td>
                            <input type="number" formControlName="quantity" value="item.quantity">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-lg-3 m-form__group-sub">
                    <label class="form-control-label">&nbsp; </label>
                    <button mat-raised-button color="accent"><span><i class="la la-check"></i></span>Issue Gift</button>
                </div>
            </div>
        </form>
    </ng-container>
</m-portlet>