<m-portlet>
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Tour Program
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletBody>
        <div class="row">
            <div class="col-xl-12">
                <div class="m-form__section m-form__section--first">
                    <div class="form-group m-form__group row">
                        <div class="col-lg-5 m-form__group-sub">

                            <!-- <p-calendar [(ngModel)]="datesSelected" [inline]=true [utc]="true" selectionMode="multiple"></p-calendar> -->
                            <p-calendar [(ngModel)]="datesSelected" [disabledDates]="invalidDates" [inline]="true" [selectionMode]="selectionMode" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" (onSelect)="onSelectDate($event)" (onMonthChange)="monthChange($event)"
                                (onYearChange)="yearChange($event)"></p-calendar>
                        </div>
                        <div class="col-lg-7 m-form__group-sub">
                            <form [formGroup]="form" (ngSubmit)="submit(model)">
                                <formly-form [form]="form" [fields]="fields" [model]="model">
                                    <br />
                                    <button type="submit" [disabled]="!form.valid" mat-raised-button color="primary">Submit TP</button>
                                </formly-form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</m-portlet>
<m-portlet>
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Tour Program Details
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletBody>
        <div class="row">
            <div class="col-xl-12 ">
                <div class="m-form__section m-form__section--first">
                    <div class="form-group m-form__group row">
                        <div class="col-lg-12 m-form__group-sub">
                            <m-tour-program-details #tpDetailsComponent [urlPath]="urlPath" [myInput]="myInput"></m-tour-program-details>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</m-portlet>