<m-portlet [options]="{enableSticky: true}">
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Sample Detail Report Click Wise
      </h3>
    </div>
  </ng-container>
  <div mPortletHeadTools>
    <div>
      <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
  </div>
  <div mPortletBody [hidden]="!isToggled">
    <form [formGroup]='sampleForm' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewRecords()">
      <div class="m-portlet__body">
        <div class="row col-xl-12" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'">
          <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
        </div>
        <div class="row">
          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row" [hidden]=!showAdminAndMGRLevelFilter>

                <div class="col-lg-3 m-form__group-sub">
                  <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                </div>
                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                  <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent>
                  </m-division>
                  <!-- <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type> -->
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="showState">
                  <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                  </m-state>
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="showDistrict">
                  <m-district [check]=true (valueChange)="getDistrictValue($event)" #callDistrictComponent></m-district>
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                  <m-designation (valueChange)="getDesignation($event)" #callMonthComponent [check]=true>
                  </m-designation>
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                  <m-employee [check]=true (valueChange)="getEmployeeValue($event)" #callEmployeeComponent></m-employee>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <button mat-raised-button color="accent" [disabled]="!sampleForm.valid"><span><i
                        class="la la-check"></i></span>View
                    Status</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-portlet__foot m-portlet__foot--fit">
      </div>
    </form>
  </div>
</m-portlet>
<div mPortletBody *ngIf="showReport">
  <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip" class="col-sm-1"
    (click)="exporttoExcel()"><i class="fa fa-file-excel" style="cursor:pointer; color: green;font-size: 2em;"
      aria-hidden="true"></i></span>
</div>
<div class="example-container" style="margin: 0 11px;" *ngIf="showReport">
  <mat-form-field>
    <mat-label>Search Provider</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search..." #input>
  </mat-form-field>
  <div style="max-height: 25rem; overflow: auto;">
    <table mat-table [dataSource]="dataSource" class="table-striped" matSort id="tableId1">
      <ng-container matColumnDef="sn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </th>
        <td mat-cell *matCellDef="let element; let i = index;">
          {{(paginator.pageIndex) * paginator.pageSize + (1 + i)}} </td>
      </ng-container>
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
        <td mat-cell *matCellDef="let element"> {{element?.stateName !== '' ? element?.stateName : "---"}}
        </td>
      </ng-container>
      <ng-container matColumnDef="hq">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Headquarter </th>
        <td mat-cell *matCellDef="let element"> {{element?.districtName !== '' ? element?.districtName : "---"}}
        </td>
      </ng-container>

      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
        <td mat-cell *matCellDef="let element"> {{element?.userName !== '' ? element?.userName : "---"}}
        </td>
      </ng-container>

      <ng-container matColumnDef="providerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Provider Name </th>
        <td mat-cell *matCellDef="let element" class='btn btn-outline-success' style="color: #3f51b5; cursor:pointer; font-weight: 400; 
        font-size: 1.19rem;" (click)="getProviderDetail(element)"> {{element?.providerName !== '' ? element?.providerName : "---"}}
        </td>
      </ng-container>
      <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Area </th>
        <td mat-cell *matCellDef="let element" > {{element?.blockName !== '' ? element?.blockName : "---"}}
        </td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
        <td mat-cell *matCellDef="let element"> {{element?.category !== '' ? element?.category : "---"}}
        </td>
      </ng-container>
      <ng-container matColumnDef="visit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit </th>
        <td mat-cell *matCellDef="let element"> {{element?.totalVisit !== '' ? element?.totalVisit : "---"}}
        </td>
      </ng-container>
      <ng-container matColumnDef="visitDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit Date </th>
        <td mat-cell *matCellDef="let element"> {{element?.visitDates !== '' ? element?.visitDates : "---"}}
        </td>
      </ng-container>
      <ng-container matColumnDef="pob">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> POB </th>
        <td mat-cell *matCellDef="let element"> {{element?.productPob !== '' ? element?.productPob : "---"}}
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div>
    <mat-paginator #paginator [length]="dataSource?.length || 0" [pageSizeOptions]="[5, 10, 20, 50,100]" [pageSize]="50"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</div>

<div class="example-container" style="margin:20px;" *ngIf="isShowProviderTable">
    <table mat-table [dataSource]="dataSource2" class="table-striped" matSort id="tableId1">
      <ng-container matColumnDef="providerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Provider Name </th>
        <td mat-cell *matCellDef="let element"> {{element?.providerName !== '' ? element?.providerName : "---"}}
        </td>
      </ng-container>
      <ng-container matColumnDef="visit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit </th>
        <td mat-cell *matCellDef="let element"> {{element?.totalVisit !== '' ? element?.totalVisit : "---"}}
        </td>
      </ng-container>
      <ng-container matColumnDef="noOfMgrVisit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No of Mgr Visit </th>
        <td mat-cell *matCellDef="let element"> {{element?.mgrVisit !== '' ? element?.mgrVisit : "---"}}
        </td>
      </ng-container>
      <ng-container matColumnDef="pob">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> POB </th>
        <td mat-cell *matCellDef="let element"> {{element?.productPob !== '' ? element?.productPob : "---"}}
        </td>
      </ng-container>
      <ng-container matColumnDef="noOfProducts">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No of Samples </th>
        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
          <ul style="list-style: none;">
              <li *ngFor="let pro of element.products">
                 {{pro.productQuantity}}
              </li>
          </ul>
      </td>
      </ng-container>
      <ng-container matColumnDef="givenProducts">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Details</th>
        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
          <ul style="list-style: none;">
              <li *ngFor="let pro of element.products">
                 {{pro.productName}}
              </li>
          </ul>
      </td>
      </ng-container>
      
      <ng-container matColumnDef="qty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> MRP</th>
        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
          <ul style="list-style: none;">
              <li *ngFor="let pro of element.products">
                 {{pro.productPrice}}
              </li>
          </ul>
      </td>
      </ng-container>
    

      <ng-container matColumnDef="gift">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Given Gifts </th>
        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
          <ul style="list-style: none;">
              <li *ngFor="let gift of element.gifts">
                 {{gift.giftName}}
              </li>
          </ul>
      </td>
      </ng-container>
    
      <ng-container matColumnDef="giftQty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No of Gifts</th>
        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
          <ul style="list-style: none;">
              <li *ngFor="let gift of element.gifts">
                 {{gift.giftQty}}
              </li>
          </ul>
      </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>
</div>



<div class="col-xl-12" *ngIf="showProcessing" align="center">
  <img src="assets/app/media/img/processing/loading.gif">
</div>