
  .table { 
    width: 100%; 
    border-collapse: collapse; 
    border: 0ch;
  }
  .tables { 
    width: 80%; 
    border-collapse: collapse; 
  }
  .ol {
    overflow-x:hidden;
    white-space:nowrap;
      display: inline-block;
      padding: 0;
      margin: 0;
      vertical-align: top;
  }
  .ul {
    overflow-x:hidden;
    white-space:nowrap;
      display: inline-block;
      padding: 0;
      margin: 0;
      vertical-align: top;
  }

  .li {
    display:inline;
    text-decoration: none;
  }
  
  .label {
      display: inline-block;
      vertical-align: top;
  }


  .div{
    border: 1px solid rgb(160, 160, 160); 

  }
  label{
    font-weight: bold;
  }
  p{
    color: rgb(235, 235, 235); 
    background: #16a184;

  }

  .mat-tab-body-content {
    padding-top: 0 !important;
}
ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: left;
  list-style: none;
}

.left_align{
  text-align: left !important;
}

tr:nth-of-type(odd) {
    background: #f4f5f8;
}
.table th {
  font-weight: 600;
  position: sticky;
  font-size: 14px;
  top: 0;
}
.table td {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #f4f5f8;
  font-weight: 400;
  font-size: 13px;
}