<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Consolidated Tour Program
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletBody>

        <form [formGroup]='tpFilter' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewRecords()">
            <div class="m-portlet__body">
                <div class="row" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'">
                    <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
                </div>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row" [hidden]=!showAdminAndMGRLevelFilter>

                                <div class="col-lg-4 m-form__group-sub">
                                    <label class="form-control-label">* Type:</label>
                                    <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                                </div>
                                <div class="col-lg-4 m-form__group-sub" *ngIf="showState">
                                    <label class="form-control-label">* State:</label>
                                    <m-state (valueChange)="getStateValue($event)" [check]=true></m-state>
                                </div>
                                <div class="col-lg-4 m-form__group-sub" *ngIf="showDistrict">
                                    <label class="form-control-label">* {{this.currentUser.company.lables.hqLabel}}:</label>
                                    <m-district [check]=true (valueChange)="getDistrictValue($event)" #callDistrictComponent></m-district>
                                </div>

                                <div class="col-lg-4 m-form__group-sub" *ngIf="showEmployee">
                                    <label class="form-control-label">* Designation:</label>
                                    <m-designation (valueChange)="getDesignation($event)" #callMonthComponent></m-designation>
                                </div>
                                <div class="col-lg-4 m-form__group-sub" *ngIf="showEmployee">
                                    <label class="form-control-label">* Status:</label>
                                    <m-status [check]=true (valueChange)="getStatusValue($event)" #callStatusComponent></m-status>
                                </div>

                                <div class="col-lg-4 m-form__group-sub" *ngIf="showEmployee">
                                    <label class="form-control-label">* Employee Name:</label>
                                    <m-employee [check]=true (valueChange)="getEmployeeValue($event)" #callEmployeeComponent></m-employee>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">

                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">* Month:</label>
                                    <m-month (valueChange)="getMonth($event)" #callMonthComponent></m-month>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">* Year:</label>
                                    <m-year (valueChange)="getYear($event)" #callYearComponent></m-year>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-form__actions m-form__actions">
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-6">
                            <button mat-raised-button color="accent" [disabled]="!tpFilter.valid"><span><i class="la la-check"></i></span>View Status</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>

        <ng-container mPortletHeadTitle *ngIf="showTPDetails">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    {{this.currentUser.company.lables.doctorLabel}} Visit Details
                </h3>
            </div>
        </ng-container>
        <ng-container>
            <div class="col-xl-12" *ngIf="showProcessing" align="center">
                <img src="assets/app/media/img/processing/loading.gif">
            </div>
        </ng-container>
        <br>

        <div style="overflow:auto; width:100%;" class="container" [hidden]="!showTPDetails">

            <table #dataTable class="display" style="width:100%">

            </table>
        </div>
    </ng-container>
</m-portlet>