<!-- ----------------------------------Gourav---------------------------------------------- -->

<m-portlet>
  <div mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Target View Financial Year Wise
      </h3>
    </div>
  </div>
  <div mPortletHeadTools>
    <div>
      <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
  </div>

  <div mPortletBody [hidden]="!isToggled">
    <form [formGroup]="targetForm" class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewRecords()">
      <div class="m-portlet__body">
        <div class="row">
          <div class="col-lg-3">
            <mat-radio-button (change)="toggleFunction('unit')" [checked]=true>Unit Wise
            </mat-radio-button>
          </div>
          <div class="col-lg-3">
            <mat-radio-button (change)="toggleFunction('amount')">Amount Wise
            </mat-radio-button>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <div class="row">
          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">
                <!-- <div class="col-lg-3 m-form__group-sub">
                  <mat-form-field class="mat-form-field-fluid">
                    <mat-select formControlName="reportType" placeholder="Select Type" required
                      (selectionChange)='getData($event.value)' multiple="false">

                      <mat-option *ngFor="let data of catagory" [value]="data">
                        {{data}}
                      </mat-option>
                    </mat-select>
                    <mat-error>required!!!</mat-error>
                  </mat-form-field>
                </div> -->
                <!-- Amount and Product Filter -->

                <div class="col-lg-3 m-form__group-sub">
                  <mat-form-field class="mat-form-field-fluid">
                    <mat-select formControlName="catagory" placeholder="Select Type" required
                      (selectionChange)='getCatagory($event.value)' multiple="false">

                      <mat-option *ngFor="let data of type" [value]="data">
                        {{data}}
                      </mat-option>
                    </mat-select>
                    <mat-error>required!!!</mat-error>
                  </mat-form-field>
                </div> <!-- Catagory -->

                <div class="col-lg-3 m-form__group-sub" *ngIf="state==true">
                  <mat-form-field class="mat-form-field-fluid">
                    <mat-select #select formControlName="stateInfo" placeholder="Select State" required
                      (selectionChange)='getStateValue($event.value)' multiple="true">

                      <mat-option [value]="0" (click)="toggleAllSelection()" style="background-color: #16a184;
                      color: white;">Select All</mat-option>
                      <mat-option *ngFor="let state of stateData" [value]="state.id">
                        {{state.stateName}}
                      </mat-option>
                    </mat-select>
                    <mat-error>State is required!!!</mat-error>
                  </mat-form-field>
                </div><!-- State Filter -->

                <div class="col-lg-3 m-form__group-sub" [hidden]="!headquarter">
                  <mat-form-field class="mat-form-field-fluid">
                    <mat-select #selectHQ formControlName="Hqinfo" placeholder="Select Headquarter" required
                      (selectionChange)='getHeadquarterValue($event.value)' multiple="true">

                      <mat-option [value]="0" (click)="toggleAllSelectionForHQ()" style="background-color: #16a184;
                      color: white;">Select All</mat-option>
                      <mat-option *ngFor="let data of districtData" [value]="data.id">
                        {{data.districtName}}
                      </mat-option>
                    </mat-select>
                    <mat-error>Headquarter is required!!!</mat-error>
                  </mat-form-field>
                </div><!-- HeadquarterFilter -->

                <div class="col-lg-3 m-form__group-sub" [hidden]='!employee'>
                  <mat-form-field class="mat-form-field-fluid">
                    <mat-select formControlName="designation" placeholder="Select Designation" required
                      (selectionChange)='getDesignation($event.value)' multiple="false">

                      <mat-option *ngFor="let desig of designationData" [value]="desig">
                        {{desig.designation}}
                      </mat-option>
                    </mat-select>
                    <mat-error>Designation is required!!!</mat-error>
                  </mat-form-field>
                </div><!-- Employee Designation -->


                <div class="col-lg-3 m-form__group-sub" [hidden]='!employee'>
                  <mat-form-field class="mat-form-field-fluid">
                    <mat-select formControlName="empName" placeholder="Select Employee" required
                      (selectionChange)='setEmployeeDetail($event.value)' multiple="false">
                      <mat-option *ngFor="let data of employeeData" [value]="data.userId">
                        {{data.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error>Employee Name is required!!!</mat-error>
                  </mat-form-field>
                </div><!-- Employee Name -->

                <div class="col-lg-3 m-form__group-sub">
                  <mat-form-field class="mat-form-field-fluid">
                    <mat-select formControlName="year" placeholder="Select Finantial Year" required
                      (selectionChange)='setFinantialYear($event.value)' multiple="false">

                      <mat-option *ngFor="let year of yearList" [value]="year.value">
                        {{year.view}}
                      </mat-option>
                    </mat-select>
                    <mat-error>Finantial Year is required!!!</mat-error>
                  </mat-form-field>
                </div><!-- Finantial Year Filter -->

                <div class="col-lg-3 m-form__group-sub">
                  <button mat-raised-button color="accent"><span>
                      <i class="la la-check"></i></span>
                    View Report
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</m-portlet>


<ng-container mPortletBody *ngIf="showData">
  <m-portlet>
    <ng-container mPortletHeadTitle>
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Target View Financial Year Wise
        </h3>
        <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
          style="float: right;" class="col-sm-1" (click)="exporttoExcel()"><i class="fa fa-file-excel"
            style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i></span>
      </div>
    </ng-container>
    <ng-container mPortletBody>
      <div style="overflow:auto; max-height: 26rem;" id="tableId1">
        <table class="GeneratedTable">
          <thead>
            <tr>
              <th *ngIf="showStateName">State</th>
              <th *ngIf="showEmpName">User Name</th>
              <th *ngIf="showHQName">Headquarter Name</th>
              <th>Product Name</th>
              <th>APR</th>
              <th>MAY</th>
              <th>JUN</th>
              <th>JUL</th>
              <th>AUG</th>
              <th>SEP</th>
              <th>OCT</th>
              <th>NOV</th>
              <th>DEC</th>
              <th>JAN</th>
              <th>FEB</th>
              <th>MAR</th>
              <th>Total</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let data of dataSource; index as i">
              <td *ngIf="showStateName">
                {{data.stateName}}
              </td>
              <td *ngIf="showEmpName">
                {{data.userName}}
              </td>
              <td *ngIf="showHQName">
                {{data.districtName}}
              </td>

              <td>{{data.productName}}</td>
              <ng-container *ngFor="let monthdata of data.data">
                <td>{{monthdata.targetQty}}</td>
              </ng-container>
              <td>{{data.totalTarget}}</td>
            </tr>
          </tbody>

        </table>
      </div>
    </ng-container>

  </m-portlet>
</ng-container>



<!-- ----------------------------------Gourav---------------------------------------------- -->