table.GeneratedTable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #080808;
    border-style: solid;
    color: #0e0e0ef2;
    font-weight: 400;
}

table.GeneratedTable td,
table.GeneratedTable th {
    border-width: 1px;
    border-color: #a5a5a5;
    border-style: solid;
    padding: 0.6em 1em;
}

table.GeneratedTable thead {
    background-color: #16a184;
}

.nameStyle{
    color: #3f51b5;
    font-weight: 600;
    text-align: left;
    position: sticky;
    z-index: 9999;
    left: 0;
    background:#fff;
}
.select-all{
    margin: 5px 17px;
  }

  .stylH{
    position: sticky;
    z-index: 9999;
    left: 0;
    background: #16a184;
}



table {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #080808;
    border-style: solid;
    color: #0e0e0ef2;
    font-weight: 400;
    font-size: 1.2rem;
}
 /* Zebra striping */
 tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    padding: 10px; 
    text-align: center;
    background: #16a184;
    color: rgb(235, 235, 235); 
    border-width: 1px;
    border-color: #a5a5a5;
    border-style: solid;
    padding: 0.6em 1em;
    position: sticky;
    top: 0;
  }
  td{ 
    padding: 5px; 
    border: 1px solid #ccc; 
    text-align: center; 
  }

  
.mat-radio-button {
  margin-top: 1rem !important;
}
