
.m-portlet__head-text{
    font-size: 1.2em;
    margin-top: -1em;
  }
  .buttons_position {
    margin-top: -4.1em;
  }
  
  mat-header-cell {
    /* padding: 0px; */
    text-align: center;
    background: #16a184;
    justify-content: center;
    color: white;
    border: none;
    font-size: 14px;
  }
  mat-header-row {
    min-height: 5.2em !important;
  }
  // mat-footer-row, mat-row {
  //   max-height: 3.3em !important;
  // }
  
  .mat-cell {
    font-size: 14px;
    justify-content: center;
    border: 1px solid #dededecc;
  }
  .mat-row {
    min-height: 3.5em !important;
    padding: 0;
    height: 100px;
  }
  
  
  .mat-column-username {
    flex: 0 0 25%;
  }
  
  .mat-column-districtName {
    flex: 0 0 15%;
  }
  
  
  .mat-column-drCall {
    flex: 0 0 10%;
  }
  
  
  .mat-column-drAvg {
    flex: 0 0 15%;
  }
  
  
  .mat-column-chemCalls {
    flex: 0 0 15%;
  }
  
  
  .mat-column-chemAvg {
    flex: 0 0 15%;
  }
  
  
  .mat-column-stkCalls {
    flex: 0 0 15%;
  }
  
  
  .mat-column-stkAvg {
    flex: 0 0 15%;
  }
  
  
  .mat-column-doctorPOB {
    flex: 0 0 15%;
  }
  
  
  .mat-column-vendorPOB {
    flex: 0 0 15%;
  }
  
  
  
  .mat-column-stockistPOB {
    flex: 0 0 15%;
  }
  
  
  .mat-column-sn {
    flex: 0 0 15%;
  }
  
  
  
  
  
  .highlight {
    background: #f9f9f9;
  }
  .mat-footer-cell {
    font-size: 14px;
    justify-content: center;
  }
  .margin_buttons {
    margin: 1em 1em 0 0;
  }
  
  
  