th.mat-sort-header-sorted {
    color: black;
}

.table-container {
    height: 400px;
    overflow: auto;
}

.mat-column-select {
    overflow: initial;
}

.example-container {
    height: 400px;
    overflow: auto;
    font-size: 10%;
}

table {
    width: 100%;
}


/* Zebra striping */

tr:nth-of-type(odd) {
    background: #eee;
}

th {
    padding: 6px;
    text-align: center;
    background: #16a184;
    color: rgb(235, 235, 235);
}

td,
th {
    padding: 0px;
    border: 1px solid #ccc;
    text-align: center;
}

.mat-header-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
}

.foo {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.green {
    background: #A5D6A7;
}

.yellow {
    background: #FFF9C4;
}

.red {
    background: #ffcdd2;
}