<div class="m-portlet ">
    <div class="m-portlet__body  m-portlet__body--no-padding">
        <div class="row m-row--no-padding m-row--col-separator-xl">
            <div class="col-md-12 col-lg-6 col-xl-3">
                <!--begin::Total Profit-->
                <div class="m-widget24">
                    <div class="m-widget24__item">
                        <h4 class="m-widget24__title">
                            #Total Employees
                        </h4><br>
                        <span class="m-widget24__desc">
				            All Active User
				        </span>
                        <span class="m-widget24__stats m--font-brand">
				            87
				        </span>
                        <div class="m--space-10"></div>
                        <div class="progress m-progress--sm">
                            <div class="progress-bar m--bg-brand" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                    </div>
                </div>
                <!--end::Total Profit-->
            </div>
            <div class="col-md-12 col-lg-6 col-xl-3">
                <!--begin::New Feedbacks-->
                <div class="m-widget24">
                    <div class="m-widget24__item">
                        <h4 class="m-widget24__title">
                            #Total Active User
                        </h4><br>
                        <span class="m-widget24__desc">
				           Which has Day Plan Today 
				        </span>
                        <span class="m-widget24__stats m--font-info">
				            49
				        </span>
                        <div class="m--space-10"></div>
                        <div class="progress m-progress--sm">
                            <div class="progress-bar m--bg-info" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                    </div>
                </div>
                <!--end::New Feedbacks-->
            </div>
            <div class="col-md-12 col-lg-6 col-xl-3">
                <!--begin::New Orders-->
                <div class="m-widget24">
                    <div class="m-widget24__item">
                        <h4 class="m-widget24__title">
                            #On Leave

                        </h4><br>
                        <span class="m-widget24__desc">
				            Total User on Leave
				        </span>
                        <span class="m-widget24__stats m--font-brand">
				            10
				        </span>
                        <div class="m--space-10"></div>
                        <div class="progress m-progress--sm">
                            <div class="progress-bar m--bg-brand" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                    </div>
                </div>
                <!--end::New Orders-->
            </div>
            <div class="col-md-12 col-lg-6 col-xl-3">
                <!--begin::New Users-->
                <div class="m-widget24">
                    <div class="m-widget24__item">
                        <h4 class="m-widget24__title">
                            #Absent
                        </h4><br>
                        <span class="m-widget24__desc">
				            User does'nt have Day Plan
				        </span>
                        <span class="m-widget24__stats m--font-danger">
				            28 
				        </span>
                        <div class="m--space-10"></div>
                        <div class="progress m-progress--sm">
                            <div class="progress-bar m--bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                    </div>
                </div>
                <!--end::New Users-->
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                        <h3 class="m-portlet__head-text">
                            User Status
                            <mat-form-field style="width: 100%;">

                                <mat-select  (selectionChange)="onChangeForMonthOnMonth($event)">

                                    <mat-option value="option9">#{{this.currentUser.company.lables.doctorLabel}} Call Avarage </mat-option>
                                    <mat-option value="option10">#{{this.currentUser.company.lables.vendorLabel}} Call Avarage </mat-option>
                                    <mat-option value="option11">#{{this.currentUser.company.lables.stockistLabel}} Call Avarage </mat-option>

                                    <mat-option value="option12">#Over All Providers Call Avarage </mat-option>

                                </mat-select>
                            </mat-form-field>
                        </h3>



                    </div>
                </div>
            </div>

            <div class="m-portlet__body">
                <div class="m-form__section m-form__section--first">
                    <div id="scatteredChart" [style.width.%]="100" [style.height.px]="400"></div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="m-portlet">
    <div class="m-portlet__body m-portlet__body--no-padding">
        <div class="row m-row--no-padding m-row--col-separator-xl">
            <div class="col-xl-12">
                <div class="m-widget14">
                    <div class="m-widget14__header">
                        <h3 class="m-widget14__title">
                            Target Vs. Achievement
                        </h3>
                    </div>
                    <div id="targetAchievementGraphMeyer" [style.width.%]="100" [style.height.px]="400"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-container mPortletBody>
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
          <i class="la la-gear"></i>
        </span>
                    <h3 class="m-portlet__head-text">
                        Target Vs. Achievement HQ Wise : Bihar
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">

                <div id="targetAchievementHqGraphMeyer" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto;"></div>

            </div>
            <div class="col-xl-6">
                <div class="m-form__section m-form__section--first">
                    <div style=" height: 330px; width: 90%; overflow: auto;">
                        <table style="width: 100%;" border="1" mat-table [dataSource]="dataSource">
                            <!-- Position Column -->

                            <ng-container matColumnDef="sno">

                                <th mat-header-cell *matHeaderCellDef> No. </th>

                                <td mat-cell *matCellDef="let element"> {{element.sno}} </td>

                            </ng-container>

                            <ng-container matColumnDef="headquarter">

                                <th mat-header-cell *matHeaderCellDef> Headquarter </th>

                                <td mat-cell *matCellDef="let element"> {{element.headquarter}} </td>

                            </ng-container>
                            <!-- Name Column -->

                            <ng-container matColumnDef="target">

                                <th mat-header-cell *matHeaderCellDef> Target </th>

                                <td mat-cell *matCellDef="let element"> {{element.target}} </td>

                            </ng-container>

                            <!-- Weight Column -->

                            <ng-container matColumnDef="primary">

                                <th mat-header-cell *matHeaderCellDef> Primary </th>

                                <td mat-cell *matCellDef="let element"> {{element.primary}} </td>

                            </ng-container>

                            <!-- Symbol Column -->

                            <ng-container matColumnDef="secondary">

                                <th mat-header-cell *matHeaderCellDef> Secondary </th>

                                <td mat-cell *matCellDef="let element"> {{element.secondary}} </td>

                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>


<m-portlet [options]="{enableSticky: false}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Employee Performance Report
            </h3>
        </div>
        <!-- <div class="foo green"></div>>=90&nbsp;&nbsp;
        <div class="foo yellow"></div>>=80 -
        &gt;89&nbsp;&nbsp; <div class="foo red">
        </div>
        &lt80 -->
    </ng-container>
    <ng-container mPortletHeadTools>

        <div class="foo green"></div>>=90&nbsp;&nbsp;
        <div class="foo yellow"></div>>=80 -
        &gt;89&nbsp;&nbsp; <div class="foo red">
        </div>
        &lt;80
    </ng-container>

                <!-- use ng-container[mPortletHeadTools] for the top right toolbar content -->
                <ng-container mPortletHeadTools>


                </ng-container>
                <!-- use ng-container[mPortletBody] for the body content -->

                <ng-container mPortletBody>

                    <div class="example-container mat-elevation-z8">

                        <table mat-table [dataSource]="dataSourceForTrafficLight">
                            <ng-container matColumnDef="employeeName">
                                <th mat-header-cell *matHeaderCellDef> Employee Name </th>
                                <td mat-cell *matCellDef="let element" [style.background-color]="'#' + element.rowColor"> {{element?.employeeName}} </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                            </ng-container>
                            <ng-container matColumnDef="state">
                                <th mat-header-cell *matHeaderCellDef>State </th>
                                <td mat-cell *matCellDef="let element" [style.background-color]="'#' + element.rowColor"> {{element?.state}} </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                            </ng-container>
                            <ng-container matColumnDef="district">
                                <th mat-header-cell *matHeaderCellDef>District</th>
                                <td mat-cell *matCellDef="let element" [style.background-color]="'#' + element.rowColor"> {{element?.district}} </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                            </ng-container>
                            <ng-container matColumnDef="target">
                                <th mat-header-cell *matHeaderCellDef>Target</th>
                                <td mat-cell *matCellDef="let element" [style.background-color]="'#' + element.rowColor"> {{element?.target}} </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                            </ng-container>
                            <ng-container matColumnDef="primary">
                                <th mat-header-cell *matHeaderCellDef>Primary</th>
                                <td mat-cell *matCellDef="let element" [style.background-color]="'#' + element.rowColor"> {{element?.primary}} </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                            </ng-container>
                            <ng-container matColumnDef="secondary">
                                <th mat-header-cell *matHeaderCellDef>Secondary</th>
                                <td mat-cell *matCellDef="let element" [style.background-color]="'#' + element.rowColor"> {{element?.secondary}} </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                            </ng-container>
                            <ng-container matColumnDef="drCallAvg">
                                <th mat-header-cell *matHeaderCellDef>Dr. Call Avg.</th>
                                <td mat-cell *matCellDef="let element" [style.background-color]="'#' + element.rowColor"> {{element?.drCallAvg}} </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                            </ng-container>
                            <ng-container matColumnDef="score">
                                <th mat-header-cell *matHeaderCellDef>Score </th>
                                <td mat-cell *matCellDef="let element" [style.background-color]="'#' + element.rowColor"> {{element?.score}} </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                            </ng-container>

                            <!--
              <ng-container matColumnDef="tpDeviationColor">
                  <th mat-header-cell *matHeaderCellDef> Color</th>
                  <td mat-cell *matCellDef="let element" [style.background-color]="'#' + element.tpDeviationColor"> {{element.tpDeviationColor}} </td>
              </ng-container>
          -->

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsForTrafficLight; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsForTrafficLight;"></tr>
                        </table>

                    </div>



                </ng-container>
</m-portlet>