<m-portlet>
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <div mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Transfer Master Data
      </h3>
    </div>
  </div>

  <div mPortletHeadTools>
    <div>
      <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
  </div>

  <div mPortletBody [hidden]="!isToggled">

    <form [formGroup]='transferMasterData' class="m-form m-form--label-align-left">
      <div class="m-portlet__body">
        <div class="row">
          <div class="col-xl-12">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">
                <div class="col-lg-2 m-form__group-sub">
                  <mat-radio-button class="form-control-label" [checked]='true' (change)="transferType('Area')">
                    {{this.currentUser.company.lables.areaLabel}}
                  </mat-radio-button>
                </div>
                <div class="col-lg-2 m-form__group-sub">
                  <mat-radio-button class="form-control-label" (change)="transferType('RMP')">
                    {{this.currentUser.company.lables.doctorLabel}}
                  </mat-radio-button>
                </div>
                <div class="col-lg-2 m-form__group-sub">
                  <mat-radio-button class="form-control-label" (change)="transferType('Drug')">
                    {{this.currentUser.company.lables.vendorLabel}}
                  </mat-radio-button>
                </div>
                <div class="col-lg-2 m-form__group-sub">
                  <mat-radio-button class="form-control-label" (change)="transferType('Stockist')">
                    {{this.currentUser.company.lables.stockistLabel}}
                  </mat-radio-button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>

        <div class="row" [hidden]=!showTransfer>
          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">
                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                  <!-- <label class="form-control-label">* Division:</label> -->
                  <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent [check]=false>
                  </m-division>
                  <!-- <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type> -->
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="showState">
                  <m-state (valueChange)="getStateValue($event)" [check]=false #callStateComponent></m-state>
                </div>
                <!-- <div class="col-lg-3 m-form__group-sub">
                  <m-state [check]="false" (valueChange)="getStateValue($event)" [check]=true></m-state>
                </div> -->
                <!-- <div class="col-lg-3 m-form__group-sub" [hidden]=!showHq>
                  <m-district (valueChange)="getDistrictValue($event)" #callDistrictComponent [check]=false></m-district>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <m-designation (valueChange)="getDesignation($event)" #callMonthComponent [check]=false></m-designation>
                </div> -->
                <div class="col-lg-3 m-form__group-sub" [hidden]=!showEmp>
                  <m-employee [check]=false [type]="'From'" (valueChange)="getEmployeeValue($event)"
                    #callEmployeeComponent></m-employee>
                </div>
                <div class="col-lg-3 m-form__group-sub" [hidden]=!showEmp>
                  <m-employee [check]=false [type]="'To'" (valueChange)="getEmployeeValueTo($event)"
                    #callEmployeeComponent1></m-employee>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <button mat-raised-button color="accent" [disabled]="!transferMasterData.valid"
                    (click)="getDetails()"><span><i class="la la-check"></i></span>View
                    Details
                  </button>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

    </form>
  </div>

</m-portlet>

<!-- use ng-container[mPortletHeadTitle] for the title -->
<div *ngIf="showTransferData">
  <m-portlet>
    <ng-container mPortletHeadTitle>
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Transfer Data
        </h3>
      </div>
    </ng-container>
    <div mPortletBody>
      <div class="row">
        <div class="col-xl-4 table-container">
          <div class=" mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null"
                    [checked]="selection.isSelected(element)"></mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="areaName">
                <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.areaLabel}} Name </th>
                <td mat-cell *matCellDef="let element"> {{element.areaName}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
            </table>
          </div>
          <div class="row">
            <div class="col-lg-3 m-form__group-sub">
              <label class="form-control-label">&nbsp; </label>
              <button mat-raised-button color="accent" (click)="TransferArea(selection._selected)"
                [disabled]="!selection._selected">Transfer
                {{this.currentUser.company.lables.areaLabel}}</button>
            </div>
          </div>
        </div>
        <!-- <div class="col-xl-9" *ngIf="showTransferData">
        <ng-container mPortletBody>
            <form [formGroup]='masterDataForm' class="m-form m-form--label-align-left- m-form--state" (ngSubmit)="getUsers()">
                <div class="m-portlet__body">
                            <div class="m-form__section m-form__section--first">
                                <div class="form-group m-form__group row">
                                    <div class="col-lg-6 m-form__group-sub" >
                                        <m-employee [check]=false (valueChange)="getEmployeeValue($event)" #callEmployeeComponent></m-employee>
                                    </div>
                                       <div class="col-lg-3 m-form__group-sub">
                                        <button mat-raised-button color="accent" [disabled]="!masterDataForm.valid" (click)="getDetails();"><span><i
                                             ></i></span>Transfer Data
                                        </button>
                                      </div>   
                                </div>
                            </div>
                </div>
            </form>
          </ng-container>
      </div> -->
      </div>
    </div>
  </m-portlet>
</div>

<div *ngIf="showTransferProviders">
  <m-portlet>
    <ng-container mPortletHeadTitle>
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Transfer Data
        </h3>
      </div>
    </ng-container>
    <ng-container mPortletBody>
      <div class="row">
        <div class="col-xl-4 table-container" *ngIf="showTransferProviders">
          <div class=" mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let element">
                  <mat-radio-button class="form-control-label" (change)="TransferProvider(element)"></mat-radio-button>
                </td>
              </ng-container>
              <ng-container matColumnDef="areaName">
                <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.areaLabel}} Name </th>
                <td mat-cell *matCellDef="let element"> {{element.areaName}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
            </table>
          </div>
        </div>
        <div class="col-xl-4 " *ngIf="showTransferProvidersData">
          <div class=" mat-elevation-z8 table-container">
            <table mat-table [dataSource]="dataSource1">
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle1() : null"
                    [checked]="selection1.hasValue() && isAllSelected1()"
                    [indeterminate]="selection1.hasValue() && !isAllSelected1()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection1.toggle(element) : null"
                    [checked]="selection1.isSelected(element)"></mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="providerName">
                <th mat-header-cell *matHeaderCellDef> Provider Name </th>
                <td mat-cell *matCellDef="let element"> {{element.providerName}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div class="row d-inline-flex">
            <div class="col-lg-3 m-form__group-sub" style="left: 50%;">
              <label class="form-control-label">&nbsp; </label>
              <button mat-raised-button color="accent" (click)="TransferProviderData(selection1._selected)"
                [disabled]="!selection1._selected">Transfer
                Data</button>
            </div>
          </div>
        </div>
        <div class="col-xl-4 table-container" *ngIf="newUserArea">
          <div class=" mat-elevation-z8">
            <table mat-table [dataSource]="dataSource2">
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let element">
                  <mat-radio-button class="form-control-label" (change)="newUserAreaId(element.id)"></mat-radio-button>
                </td>
              </ng-container>
              <ng-container matColumnDef="providerName">
                <th mat-header-cell *matHeaderCellDef> Transfer Into Areas </th>
                <td mat-cell *matCellDef="let element"> {{element.areaName}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
    </ng-container>
  </m-portlet>
</div>