table {
	width: 100%;
}

th.mat-sort-header-sorted {
	color: black;
}

.table-container {
	height: 400px;
	overflow: auto;
}

.mat-column-select {
	overflow: initial;
}

.header {
	background: #31b196;
}
.header-data {
	font-size: 1.3rem;
    color: #fdfdfd;
}