<m-portlet [options]="{enableSticky: true}">

	<div mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				District Mapping
			</h3>
		</div>
	</div>

	<div mPortletHeadTools>
		<div>
			<mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
		</div>
	</div>

	<div mPortletBody [hidden]="!isToggled">
		<form [formGroup]='districtForm' class="m-form m-form--label-align-left- m-form--state"
			(ngSubmit)="getDistricts()">
			<div class="m-portlet__body">
				<div class="row">
					<div class="col-xl-12 ">
						<div class="m-form__section m-form__section--first">
							<div class="form-group m-form__group row">
								<div class="col-lg-3 m-form__group-sub">
									<m-state [check]=false (valueChange)="getStateValue($event)"></m-state>
								</div>
								<div class="col-lg-3 m-form__group-sub">
									<label class="form-control-label">&nbsp; </label>
									<button mat-raised-button color="accent" [disabled]="!districtForm.valid"><span><i
												class="la la-check"></i></span>&nbsp;Get District's</button>
								</div>
								<div class="col-lg-3 m-form__group-sub">
									<h3>OR</h3>
								</div>
								<div class="col-lg-3 m-form__group-sub">
									<label class="form-control-label">&nbsp; </label>
									<a mat-raised-button color="accent" routerLink="/master/createDistrict">Create New
										District's</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</m-portlet>

<ng-container mPortletBody>
	<div class="row">
		<div class="col-xl-6" *ngIf="isShowToBeMappedDistrict">
			<ng-container mPortletHeadTitle>
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Districts To Be Mapped
					</h3>
				</div>
			</ng-container>
			<div class="table-container mat-elevation-z8">
				<table mat-table [dataSource]="dataSource1">
					<ng-container matColumnDef="select">
						<th mat-header-cell *matHeaderCellDef>
							<mat-checkbox (change)="$event ? masterToggle1() : null"
								[checked]="selection1.hasValue() && isAllSelected1()"
								[indeterminate]="selection1.hasValue() && !isAllSelected1()">
							</mat-checkbox>
						</th>
						<td mat-cell *matCellDef="let element">
							<mat-checkbox (click)="$event.stopPropagation()"
								(change)="$event ? selection1.toggle(element) : null"
								[checked]="selection1.isSelected(element)"></mat-checkbox>
						</td>
					</ng-container>
					<ng-container matColumnDef="stateName">
						<th mat-header-cell *matHeaderCellDef>
						</th>
						<td mat-cell *matCellDef="let element">
						</td>
					</ng-container>
					<ng-container matColumnDef="districtName">
						<th mat-header-cell *matHeaderCellDef class="header-data">District Name </th>
						<td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
					</ng-container>
					<tr mat-header-row class="header" *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
				</table>
			</div>
			<div class="row">
				<div class="col-lg-3 m-form__group-sub">
					<label class="form-control-label">&nbsp; </label>
					<button mat-raised-button color="accent" (click)="mapDistricts(selection1._selected)"
						[disabled]="!selection1._selected">Map Districts</button>
				</div>
			</div>
		</div>
		<div class="col-xl-6" *ngIf="isShowMappedDistrict">
			<ng-container mPortletHeadTitle>
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Mapped Districts
					</h3>
				</div>
			</ng-container>
			<div class="table-container mat-elevation-z8">
				<table mat-table [dataSource]="dataSource">
					<ng-container matColumnDef="select">
						<th mat-header-cell *matHeaderCellDef>
							<mat-checkbox (change)="$event ? masterToggle() : null"
								[checked]="selection.hasValue() && isAllSelected()"
								[indeterminate]="selection.hasValue() && !isAllSelected()">
							</mat-checkbox>
						</th>
						<td mat-cell *matCellDef="let element">
							<mat-checkbox (click)="$event.stopPropagation()"
								(change)="$event ? selection.toggle(element) : null"
								[checked]="selection.isSelected(element)"></mat-checkbox>
						</td>
					</ng-container>
					<ng-container matColumnDef="districtName">
						<th mat-header-cell *matHeaderCellDef class="header-data">District Name </th>
						<td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
					</ng-container>
					<tr mat-header-row class="header" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
			</div>
			<div class="row">
				<div class="col-lg-3 m-form__group-sub">
					<label class="form-control-label">&nbsp; </label>
					<button mat-raised-button color="accent" (click)="removeMappedDistricts(selection._selected)"
						[disabled]="!selection._selected">Remove Mapped Districts</button>
				</div>
			</div>
		</div>
	</div>
</ng-container>