<m-portlet [options]="{enableSticky: true}">
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle>
      <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
              Joint Field Work Report
          </h3>
      </div>
  </ng-container>

  <ng-container mPortletBody>

      <form [formGroup]='mgrJointForm' class="m-form m-form--label-align-left" (ngSubmit)="generateReport()">
          <div class="m-portlet__body">
              <div class="row">
                  <div class="col-xl-12 ">
                      <div class="m-form__section m-form__section--first">
                          <div class="form-group m-form__group row">

                              <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                                  <m-division (valueChange)="getDivisionValue($event)" [check]=true
                                      #callDivisionComponent>
                                  </m-division>
                              </div>
                              <div class="col-lg-3 m-form__group-sub">
                                  <m-designation #callDesignationComponent (valueChange)="getDesignationLevel($event)"
                                      [check]="check"></m-designation>
                              </div>
                              <div class="col-lg-3 m-form__group-sub">
                                  <m-status [check]="isStatus" (valueChange)="getStatus($event)" #callStatusComponent>
                                  </m-status>
                              </div>

                              <div class="col-lg-3 m-form__group-sub">
                                  <m-employee #callEmployeeComponent (valueChange)="getEmployee($event)"
                                      [check]="false"></m-employee>
                              </div>
                              <div class="col-lg-3 m-form__group-sub">
                                <m-month #monthComponent (valueChange)="getFromDate($event)"></m-month>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <m-year #yearComponent (valueChange)="getToDate($event)"></m-year>
                            </div>

                              <div class="col-lg-3 m-form__group-sub">
                                  <label class="form-control-label">&nbsp; </label>
                                  <button mat-raised-button color="accent" [disabled]="!mgrJointForm.valid"><span><i
                                              class="la la-check"></i></span>Generate
                                      Report</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </form>
  </ng-container>
  <br>
  <ng-container mPortletBody>
    <table #dataTable class="display" style="width:100%">
    </table>
  
</ng-container>
</m-portlet>
<div class="col-xl-12" *ngIf="showProcessing" align="center">
  <img src="assets/app/media/img/processing/loading.gif">
</div>

