<div mPortletBody *ngIf="showUserWise">
  <div class="m-portlet">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-xl-12">
          <div class="m-widget14">
            <ng-container mPortletHeadTitle>
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text" style="color: #120e63d1;
                              font-size: large;">
                  Employee Call Average Details
                </h3>
              </div>

              <div mPortletBody>
                <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="expenseUpdateForm"
                  (ngSubmit)="generateReport()">

                  <div class="col-lg-3 m-form__group-sub" align="center">

                    <m-month #monthComponent (valueChange)="getFromDate($event)"></m-month>
                    <m-year #yearComponent (valueChange)="getToDate($event)"></m-year>
                  </div>
                  <div class="col-lg-3 m-form__group-sub">
                    <label class="form-control-label">&nbsp; </label>
                    <button mat-raised-button color="accent" [disabled]="!expenseUpdateForm.valid"><span><i
                          class="la la-check"></i></span>Generate
                      Report</button>
                  </div>
                </form>
              </div>
            </ng-container>

            <div mPortletHeadTools class="mt-4">

              <span align="right" matTooltip="Print" matTooltipPosition="above" aria-label="Displays a tooltip"
                (click)="onPreviewClick()"><i class="fa fa-print" style="float: right;"
                  style="cursor:pointer; color: blue;font-size: 2em;" aria-hidden="true"></i></span>

              <span align="right" matTooltip="Excel" matTooltipPosition="above" aria-label="Displays a tooltip" class="pl-3"
                (click)="exportToExcel()"><i class="fa fa-file-excel"
                  style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i></span>

            </div>

            <mat-form-field>
              <mat-label>Search</mat-label>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Employee">
            </mat-form-field>
            <div style="max-height: 25rem; overflow: auto;" id="tableId1">

              <mat-table [dataSource]="dataSource" matSort class="table-striped" #MatTable>
                <ng-container matColumnDef="sn">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;SN.
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element; let i = index;">
                    {{paginator.pageSize * paginator.pageIndex +i + 1 }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="username">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Employee Name
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.emploeeName.toUpperCase()}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="districtName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;District Name
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.districtName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="totalWorkingDay">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Total working Days
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.TotalWorkingDays}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="drCall">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Total Doctor Calls
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.RMPCalls}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="drAvg">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Doctor Call Avg.
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.drCallAvg != null
                    ?(element.drCallAvg).toFixed(2):'---'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="chemCalls">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Chemist Call
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.chemistCalls != null
                    ?(element.chemistCalls).toFixed(2):'---'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="chemAvg">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Chemist Call Avg.
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.venCallAvg != null
                    ?(element.venCallAvg).toFixed(2):'---'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="stkCalls">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Stockist Call
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.StockistCalls != null
                    ?(element.StockistCalls).toFixed(2):'---'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="stkAvg">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Stckist Call Avg.
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.stkCallAvg != null
                    ?(element.stkCallAvg).toFixed(2):'---'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="doctorPOB">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Doctor POB
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.DoctorPOB}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="vendorPOB">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Vendor POB
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.VendorPOB}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="stockistPOB">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;Stockist POB
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.stockistPOB}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row [ngClass]="{'highlight': index%2 == 1}"
                  *matRowDef="let row; columns: displayedColumns;let index = index"></mat-row>
              </mat-table>

            </div>
            <mat-paginator #paginator [length]="dataSource?.data?.length || 0" [pageSizeOptions]="[5, 20, 50, 100]"
              [pageSize]="20" showFirstLastButtons>
            </mat-paginator>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-12" *ngIf="showProcessing" align="center">
    <img src="assets/app/media/img/processing/loading.gif">
  </div>
</div>