<div class="m-widget14">
	<div class="m-widget14__header">
		<h3 class="m-widget14__title">
			Doctor and Vendor Call Average
		</h3>
		<span class="m-widget14__desc">
		Doctor/Vendor Call Avg. Oct'2018
		</span>
	</div>
	<canvas baseChart
			[datasets]="barChartData"
			[labels]="barChartLabels"
			[options]="barChartOptions"
			[legend]="barChartLegend"
			[chartType]="barChartType"
			(chartHover)="chartHovered($event)"
			(chartClick)="chartClicked($event)"></canvas>
</div>