<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Tour Program Status
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <!-- use ng-container[mPortletHeadTools] for the top right toolbar content -->

    <!-- use ng-container[mPortletBody] for the body content -->
    <div mPortletBody [hidden]="!isToggled">
        <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="tpFilter" (ngSubmit)="showReport()">
            <!--begin: Form Body -->
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                                    <m-division (valueChange)="getDivisionValue($event)" [check]=true #callDivisionComponent>
                                    </m-division>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent></m-state>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="m-form__control">
                                        <m-district [check]=true (valueChange)="getDistrictValue($event)" #callDistrictComponent [check]=false></m-district>
                                    </div>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="m-form__control">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-select placeholder="Is Submitted?" formControlName="submitted" (selectionChange)="submittedStatus($event.value)" multiple required>
                                                <mat-option value="Yes">Yes</mat-option>
                                                <mat-option value="No">No</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-month (valueChange)="getMonth($event)" #callMonthComponent></m-month> 
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-year (valueChange)="getYear($event)" #callYearComponent></m-year>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent" [disabled]="!tpFilter.valid"><span><i class="la la-check"></i></span>View Status</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>

    </div>
</m-portlet>




<div class="m-portlet" [hidden]="!showTPDetails">
    <div class="m-portlet__body m-portlet__body--no-padding">
        <div class="row m-row--no-padding m-row--col-separator-xl">
            <div class="col-xl-12">
                <div class="m-widget14">
                    <ng-container mPortletHeadTitle>
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Tour Program Details
                            </h3>
                        </div>

                    </ng-container>
                    <hr /><br />

                    <table #dataTable class="display" style="width:100%">

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="m-portlet" [hidden]="!showCompleteTPDetails">
    <div class="m-portlet__body m-portlet__body--no-padding">
        <div class="row m-row--no-padding m-row--col-separator-xl">
            <div class="col-xl-12">
                <div class="m-widget14">
                    <ng-container mPortletHeadTitle>
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Tour Program Detail
                            </h3>
                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit">
                        </div>
                    </ng-container>
                    <div style="margin: 1em 0;">
                        <table class="display" style="width:100%">
                            <thead>
                                <tr class="thColor">
                                    <th width="10%">Submission Date :</th>
                                    <th width="10%">Approval Date :</th>
                                    <th width="10%">Approved By :</th>
                                    <th width="10%">User Name :</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="10%">{{tpSubmittionDate | date }}</td>
                                    <td width="10%">{{tpApprovalDate | date }}</td>
                                    <td width="10%">{{tpApprovedBy}}</td>
                                    <td width="10%">{{employeeName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit" style="margin-bottom: 1em;">
                    </div>
                    <table #dataTableForTPInDetail class="display" style="width:100%"></table>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <ng-container>
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</ng-container> 
