::ng-deep .dataTables_scrollHeadInner table {
    background: #16a184;
}
::ng-deep .drop {
    text-transform: none;
    height: 26px;
    width: 153px;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    outline: none;
}
.table-container{
    max-height: 350px;
    overflow: overlay;
}
 
.table-custom {
    background: #32ac95;
}

::ng-deep .table-container thead {
    background: #329a89;
}
::ng-deep .mat-dialog-container {
    height: 260px;
    width: 600px;
}
th, td {
    width: 300px;
}
.mat-cell{
    padding: 6px;
}

.mat-header-cell {
    color: #ffffff;
}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 193px);
}
.nodata {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 190px);
    background: white;
    border-radius: 6px;
    font-weight: 700;
}
.search {
    outline: none;
    width: 100%;
    padding: 7px;
    margin: 0px 0px 11px 0px;
    border: 1px solid #b7b7b7;
    border-radius: 2px;
    font-size: 1.1rem;
    color: #575962;
}