<m-portlet [hidden]="(currentUser.designation === 'MR')">
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Doctor Vendor Mapping
      </h3>
    </div>
  </ng-container>
  <ng-container mPortletBody>
    <div class="row">
      <div class="col-lg-3" [hidden]="!currentUser.company.isDivisionExist">
        <m-division #division  (valueChange)="getDivision($event)" [check]="true"></m-division>
      </div>
      <div class="col-lg-3">
        <m-state #state (valueChange)="getState($event)" [check]="false"></m-state>
      </div>
      <div class="col-lg-3">
        <m-district (valueChange)="getDistrict($event)" [check]="false" #getDistricts></m-district>
      </div>
      <div class="col-lg-3" >
        <m-designation (valueChange)="getDesignation($event)" [check]="false"></m-designation>
      </div>
      <div class="col-lg-3">
        <m-employee #employeeControl (valueChange)="getEmployee($event)" [check]="false"></m-employee>
      </div>
    </div>
      <button mat-raised-button color="accent" color="primary" (click)="getList()" [disabled]="!employeeSelected">Get
        List</button>
  </ng-container>

</m-portlet>

<div class="loader" *ngIf="(currentUser.designation === 'MR' && showLoader)">
  <img src="assets/app/media/img/processing/loading.gif" >
</div>
<div class="nodata" *ngIf="showNoData">
  <span>No Data Found</span>
</div>

<div class="m-portlet" [hidden]="showTable">
  <div class="m-portlet__body m-portlet__body--no-padding">
    <div class="row m-row--no-padding m-row--col-separator-xl">
      <div class="col-xl-12">
        <div class="m-widget14">
          <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Doctor Vendors Table
              </h3>
            </div>
          </ng-container>
          <hr /><br />
          <div class="row">
            <div class="col-lg-4">
              <input class="search"  type="text" placeholder="Search Doctor " (keyup)="searchDoctor($event)">
            </div>
          </div>
          <div class="table-container">
            <table mat-table [dataSource]="doctorsList" class="mat-elevation-z8" style="width: 100%;">

              <ng-container matColumnDef="providerName">
                <th mat-header-cell *matHeaderCellDef>{{currentUser.company.lables.doctorLabel}}</th>
                <td mat-cell *matCellDef="let element"> {{element.providerName}} </td>
              </ng-container>

              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef>Category</th>
                <td mat-cell *matCellDef="let element"> {{element.category}} </td>
              </ng-container>
              
              <ng-container matColumnDef="chemist">
                <th mat-header-cell *matHeaderCellDef>{{currentUser.company.lables.vendorLabel}}</th>
                <td mat-cell *matCellDef="let element">
                  {{(element.chemistString)?element.chemistString:'---'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="stockist">
                <th mat-header-cell *matHeaderCellDef>{{currentUser.company.lables.stockistLabel}}</th>
                <td mat-cell *matCellDef="let element">
                  {{(element.stockistString)?element.stockistString:'---'}}
                </td>
              </ng-container>
            
              <ng-container matColumnDef="Assign">
                <th mat-header-cell *matHeaderCellDef> Assign {{currentUser.company.lables.vendorLabel}}/{{currentUser.company.lables.stockistLabel}} </th>
                <td mat-cell *matCellDef="let element">
                  <button class="btn btn-warning btn-sm" (click)="assignVendors(element)">Assign</button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>