th{
    align-items: center;
    align-content: center;
}

td{
    text-align: center;
    margin: 5px;
    align-items: center;
    align-content: center;
}

.dz{
    position: sticky;
    left:0;

    background: #fff;
}

.dz1{
    position: sticky;
    left:0;
}

