<m-portlet [options]="{enableSticky: true}">
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Provider's Location Tagged Report
      </h3>
    </div>
  </ng-container>
  <div mPortletHeadTools>
    <div>
      <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
  </div>
  <div mPortletBody [hidden]="!isToggled">
    <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="providerLocationForm"
      (ngSubmit)="providerLocation()">
      <!--begin: Form Body -->
      <div class="m-portlet__body">
        <div class="row">
          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">

              <div class="form-group m-form__group row">

                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                  <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent></m-division>
                </div>

                <div class="col-lg-3 m-form__group-sub">
                  <m-designation (valueChange)="getDesignation($event)" #callDesignationComponent [check]=false>
                  </m-designation>
                </div>

                <div class="col-lg-3 m-form__group-sub">
                  <m-employee [check]=false (valueChange)="getEmployeeValue($event)" #callEmployeeComponent
                    [check]=false></m-employee>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <button mat-raised-button color="accent" [disabled]="!providerLocationForm.valid"><span><i
                        class="la la-check"></i></span>Submit</button>
                </div>
                <!-- <div class="col-lg-4 m-form__group-sub"> 
    <label class="form-control-label">State:</label>
    <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent></m-state>
    </div>
       <div class="col-lg-3 m-form__group-sub">
        <label class="form-control-label">Headquarter:</label>
        <m-district (valueChange)="getDistrictValue($event)" #callDistrictComponent [check]=true></m-district>
      </div>  -->

              </div>

              <!-- <div class="form-group m-form__group row">
      
  </div> -->


            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</m-portlet>

<ng-container mPortletBody >
  <div style="overflow-x:auto; height: 400px;" *ngIf="isShowUsersInfo">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-xl-12">
          <div class="m-widget14">
            <ng-container mPortletHeadTitle>
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Provider's Location Tagged Report
                </h3>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field>
                    <mat-label>Search Provider</mat-label>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Provider">
                  </mat-form-field>
                </div>
              </div>
            </ng-container>
            <table mat-table [dataSource]="dataSource" id="tableId2">
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle1() : null"
                    [checked]="selection.hasValue() && isAllSelected1()"
                    [indeterminate]="selection.hasValue() && !isAllSelected1()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox *ngIf="element.geoLocation.length != 0" (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(element) : null" [checked]="selection.isSelected(element)">
                  </mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="srno">
                <th mat-header-cell *matHeaderCellDef>S.No.</th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
              </ng-container>
              <ng-container matColumnDef="stateName">
                <th mat-header-cell *matHeaderCellDef>State</th>
                <td mat-cell *matCellDef="let element"> {{element.stateName}} </td>
              </ng-container>
              <ng-container matColumnDef="districtName">
                <th mat-header-cell *matHeaderCellDef>District</th>
                <td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
              </ng-container>
              <ng-container matColumnDef="areaName">
                <th mat-header-cell *matHeaderCellDef>Area</th>
                <td mat-cell *matCellDef="let element"> {{element.areaName}} </td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Employee Name</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
              <ng-container matColumnDef="providerName">
                <th class ="dz1" mat-header-cell *matHeaderCellDef>Provider Name</th>
                <td class="dz" mat-cell *matCellDef="let element"> {{element.providerName}} </td>
              </ng-container>
              <ng-container matColumnDef="providerCode">
                <th mat-header-cell *matHeaderCellDef>Provider Code</th>
                <td mat-cell *matCellDef="let element"> {{element.providerCode}} </td>
              </ng-container>

              <ng-container matColumnDef="providerType">
                <th mat-header-cell *matHeaderCellDef>Provider Type</th>
                <td mat-cell *matCellDef="let element"> {{element.providerType}} </td>
              </ng-container>
              <ng-container matColumnDef="degree">
                <th mat-header-cell *matHeaderCellDef>Degree</th>
                <td mat-cell *matCellDef="let element"> {{element.degree}} </td>
              </ng-container>
              <ng-container matColumnDef="specialization">
                <th mat-header-cell *matHeaderCellDef>Specialization</th>
                <td mat-cell *matCellDef="let element"> {{element.specialization}} </td>
              </ng-container>
              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef>Category</th>
                <td mat-cell *matCellDef="let element"> {{element.category}} </td>
              </ng-container>
              <ng-container *ngIf="status == false" matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef>Address</th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
              </ng-container>

              <ng-container *ngIf="status == true" matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef>Address</th>
                <td mat-cell *matCellDef="let element" style="font-weight: 10;"> {{element.latlong}} </td>
              </ng-container>

              <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef>Phone</th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
              </ng-container>

              <ng-container matColumnDef="frequencyVisit">
                <th mat-header-cell *matHeaderCellDef>Frequency Visit</th>
                <td mat-cell *matCellDef="let element"> {{element.frequencyVisit}} </td>
              </ng-container>

              <ng-container matColumnDef="dcrDate">
                <th mat-header-cell *matHeaderCellDef>DCR Date</th>
                <td mat-cell *matCellDef="let element"> {{element.dcrDate | date:'EEE, MMM d, y'}} </td>
              </ng-container>

              <ng-container matColumnDef="workingAddress">
                <th mat-header-cell *matHeaderCellDef>Working Address</th>
                <td mat-cell *matCellDef="let element">
                  <ng-container *ngFor="let addr of element.workingAddress">
                    <tr>
                      <td> {{addr.address}}</td>
                    </tr>
                  </ng-container>
                </td>
              </ng-container>
              <ng-container matColumnDef="workingAddressTime">
                <th mat-header-cell *matHeaderCellDef>Working Time</th>
                <td mat-cell *matCellDef="let element">
                  <ng-container *ngFor="let addr of element.workingAddress">
                    <tr>
                      <td> {{addr.time}}</td>
                    </tr>

                  </ng-container>
                </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Edit </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button color="accent" *ngIf="element.geoLocation.length != 0"
                    (click)="unTaggedProvider(element)">
                    <mat-icon>create</mat-icon>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <!-- <table #userDataTable class="display" style="width:100%">

                  </table> -->
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="isShowUsersInfo">
    <div class="col-auto m-form__group-sub">
      <button mat-raised-button color="accent" center (click)="Untagget(selection.selected)"
        [disabled]="!selection.selected">Untagged
      </button>
    </div>
  </div>
</ng-container>

<ng-container>
  <div class="col-xl-12" *ngIf="showProcessing" align="center">
    <img src="assets/app/media/img/processing/loading.gif">
  </div>
</ng-container>