<m-portlet [options]="{enableSticky: true}">
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle>
      <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
              Product Group Form
          </h3>
      </div>
  </ng-container>
  <div mPortletHeadTools>
    <div>
        <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
</div>

<div mPortletBody [hidden]="!isToggled">
    <form [formGroup]='assignProductForm' class="m-form m-form--label-align-left" (ngSubmit)="SubmitGroup()">
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-xl-12 ">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group m-form__group row">

                          <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                            <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent>
                            </m-division>
                        </div>

                        <div class="col-lg-3 m-form__group-sub">
                            <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                            </m-state>
                        </div>
                        
                        <div class="col-lg-3 m-form__group-sub">
                            <m-products (valueChange)="getProductsDataForGroup($event)" [check]=true #callProductComponent>
                            </m-products>
                        </div>
                        <div class="col-lg-3 m-form__group-sub">
                          <mat-form-field style="width:100%;">
                              <mat-label>Group Name</mat-label>
                              
                              <input matInput required formControlName="groupName" readonly value={{data.val.proGrpName}}>

                          </mat-form-field>
                      </div>
                                    <div class="col-lg-3 m-form__group-sub">
                                        <button mat-raised-button [disabled]="!assignProductForm.valid" color="accent"><span><i
                                                    class="la la-check"></i></span>Issue</button>
                                    </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
  </m-portlet>