<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Manager Analysis Report
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='mgrAnalysisForm' class="m-form m-form--label-align-left" (ngSubmit)="generateReport()">
            <div class="m-portlet__body">

                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                                    <m-division (valueChange)="getDivisionValue($event)" [check]=true
                                        #callDivisionComponent>
                                    </m-division>
                                </div>
                                <!-- <div class="col-lg-3 m-form__group-sub">
                                    <m-designation #designationComponent (valueChange)="getDesignationLevel($event)"
                                        [check]=false></m-designation>
								</div>
								<div class="col-lg-3 m-form__group-sub">
                                    <m-employee #employeeComponent (valueChange)="getEmployee($event)"
                                        [check]="isMultipleEmp"></m-employee>
								</div> -->

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-designation [check]=false (valueChange)="getDesignation($event)"
                                        #callDesignationComponent></m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-employee [check]=false (valueChange)="getEmployee($event)"
                                        #callEmployeeComponent></m-employee>
                                </div>

 								<div class="col-lg-3 m-form__group-sub" >
                                    <m-status [check]=false (valueChange)="getStatusValue($event)" #callStatusComponent></m-status>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <!-- <label class="form-control-label">* Date:</label>
                                <br> -->
                                    <mat-form-field class="custom-mat-range-datepicker">
                                        <input matInput [max]="currentDate" [matRangeDatepicker]="resultPicker"
                                            formControlName="dateRange" placeholder="From - To Date"
                                            (valueChange)="hideTable()">
                                        <mat-datepicker-toggle matSuffix [for]="resultPicker"></mat-datepicker-toggle>
                                        <mat-range-datepicker #resultPicker [rangeMode]="true">
                                        </mat-range-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent"
                                        [disabled]="!mgrAnalysisForm.valid"><span><i
                                                class="la la-check"></i></span>Generate Report</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>
<ng-container>
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</ng-container>

<m-portlet *ngIf="showReport">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                {{this.currentUser.company.lables.doctorLabel}} Call Average Report
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
        style="float: right;" class="col-sm-1" (click)="exportToExcel()"><i class="fa fa-file-excel"
            style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i></span>
    </div>
    <ng-container mPortletBody>
        <div style="overflow-x:auto;">
            <table class="GeneratedTable" id="tableId1" #tableData>
                <thead>
                    <tr>
                        <th>Attendance Details</th>
                        <th style="text-align: center" *ngFor="let month of dynamicTableHeader">{{month}}</th>
                        <!-- <th colspan="16" style="text-align: center">Total</th> -->
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let wt of data.FinalWorkingType; let $index = index">
                        <td>
                            {{wt.type}}
                        </td>
                        <td style="text-align: center" *ngFor="let md of wt.monthData">
                            {{md.totalDays}}
                        </td>
                    </tr>
                    <tr style="background-color: #e6e6ff">
                        <th>Total No of Dates</th>
                        <th style="text-align: center" *ngFor="let td of data.FinalTotalNumberOfDayInMonth">
                            {{td}}
                        </th>
                    </tr>
                    <tr>
                        <td>Unique {{this.currentUser.company.lables.doctorLabel}} Met</td>
                        <td style="text-align: center" *ngFor="let pd of data.FinalProviderData.listedDoctorCall">
                            {{pd.listedDoctorCall}}
                        </td>
                    </tr>
                    <tr>
                        <td>Total No Of {{this.currentUser.company.lables.doctorLabel}} Met</td>
                        <td style="text-align: center" *ngFor="let pd of data.FinalProviderData.doctorCall">
                            {{pd.doctorCall}}
                        </td>
                    </tr>
                    <tr style="background-color: #e6e6ff">
                        <th>{{this.currentUser.company.lables.doctorLabel}} Call Average</th>
                        <th style="text-align: center" *ngFor="let pd of data.FinalProviderData.listedDoctorCallAvg">
                            {{pd.listedDoctorCallAvg}}
                        </th>
                    </tr>
                    <tr>
                        <td>Total TP Deviation</td>
                        <td style="text-align: center" *ngFor="let pd of data.FinalProviderData.totalDeviation">
                            {{pd.totalDeviation}}
                        </td>
                    </tr>
                    <tr>
                        <td>No of Joint Work Days</td>
                        <td style="text-align: center" *ngFor="let pd of data.FinalProviderData.totalJointWork">
                            {{pd.totalJointWork}}
                        </td>
                    </tr>
                    <tr>
                        <td>Total No Of {{this.currentUser.company.lables.vendorLabel}} Met</td>
                        <td style="text-align: center" *ngFor="let pd of data.FinalProviderData.listedVendorCall">
                            {{pd.listedVendorCall}}
                        </td>
                    </tr>
                    <tr style="background-color: #e6e6ff">
                        <th>{{this.currentUser.company.lables.vendorLabel}} Call Average</th>
                        <th style="text-align: center" *ngFor="let pd of data.FinalProviderData.listedVendorCallAvg">
                            {{pd.listedVendorCallAvg}}
                        </th>
                    </tr>
                    <tr style="background-color: #ffcc66">
                        <th>Joint Work Details</th>
                        <th style="text-align: center" *ngFor="let month of dynamicTableHeader">{{month}}</th>
                    </tr>
                    <tr>
                        <td>Individual Work</td>
                        <td style="text-align: center" *ngFor="let pd of data.FinalProviderData.totalIndividualWork">
                            {{pd.totalIndividualWork}}
                        </td>
                    </tr>
                    <tr *ngFor="let jw of data.FinalJointWorkData">
                        <td>
                            {{jw.emp}}
                        </td>
                        <td style="text-align: center" *ngFor="let vst of jw.visit">
                            {{vst.totalVisit}}
                        </td>
                    </tr>

                </tbody>
            </table>


        </div>
    </ng-container>
</m-portlet>
