table.GeneratedTable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #080808;
    border-style: solid;
    color: #000000;
}

table.GeneratedTable td,
table.GeneratedTable th {
    border-width: 1px;
    border-color: #161615;
    border-style: solid;
    padding: 3px;
}

table.GeneratedTable thead {
    background-color: #16a184;
    color: white;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.md-datepicker-input-container {
    width: 100px;
}