<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                {{this.currentUser.company.lables.doctorLabel}} / {{this.currentUser.company.lables.vendorLabel}} /
                {{this.currentUser.company.lables.stockistLabel}} Report
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='providerForm' class="m-form m-form--label-align-left- m-form--state-"
            (ngSubmit)="viewRecords()">
            <div class="m-portlet__body">
                <div class="row mb-2 col-xl-12" [hidden]="!showReportType">
                    <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
                </div>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">

                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showType">
                                    <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                                    <m-division (valueChange)="getDivisionValue($event)" [check]=true
                                        #callDivisionComponent>
                                    </m-division>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showState">
                                    <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                                    </m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDistrict">
                                    <m-district [check]=true (valueChange)="getDistrictValue($event)"
                                        #callDistrictComponent></m-district>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showArea">
                                    <m-area [check]=true (valueChange)="getAreaValue($event)" #callAreaComponent>
                                    </m-area>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDesignation"
                                    *ngIf="isShowTeamInfo">
                                    <m-designation [check]=false (valueChange)="getDesignation($event)"
                                        #callDesignationComponent></m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showEmployee" *ngIf="isShowTeamInfo">
                                    <m-employee [check]=true (valueChange)="getEmployeeValue($event)"
                                        #callEmployeeComponent></m-employee>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-status class="checkbox-margin" [check]=false
                                        (valueChange)="getStatusValue($event)"></m-status>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <mat-form-field style="width: 100%">
                                        <mat-select multiple placeholder="Get Report Of *" formControlName="providerType">
                                            <mat-option *ngFor="let n of providerTypes" (onSelectionChange)="updateChkbxArray(n,$event.source._selected)" value="n">
                                                {{n}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">* Get Report Of :</label>
                                    <p *ngFor="let n of providerTypes" formArrayName="providerType">
                                        <mat-checkbox class="checkbox-margin"
                                            (change)="updateChkbxArray(n,$event.checked)" value="n">{{n}}</mat-checkbox>
                                    </p>
                                </div> -->
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showCategory">
                                    <m-category (valueChange)="getCategory($event)" #callMefComponent></m-category>
                                </div>


                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent" [disabled]="!providerForm.valid"><span><i
                                                class="la la-check"></i></span>View
                                        Status</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>

    </div>
</m-portlet>

<ng-container>
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</ng-container>


<m-portlet [hidden]="!showReport">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">

            <h3 class="m-portlet__head-text">
                {{this.currentUser.company.lables.doctorLabel}} / {{this.currentUser.company.lables.vendorLabel}} /
                {{this.currentUser.company.lables.stockistLabel}} Details
            </h3>
        </div>
    </ng-container>
    <br>
    <ng-container mPortletBody>

	     <table #dataTable class="display" style="width:100%;">
		</table>
	<!-- </div> -->
        <div style="color: rgb(255, 0, 0);">
            *Only current active {{this.currentUser.company.lables.areaLabel}}'s providers are showing except unlisted
            provider.
        </div>
    </ng-container>
</m-portlet>
