<m-portlet [options]="{enableSticky: true}">
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Camp Status Report
      </h3>
    </div>
  </ng-container>
  <div mPortletHeadTools>
    <div>
      <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
  </div>
  <div mPortletBody [hidden]="!isToggled">

    <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="dcrstatusForm"
      (ngSubmit)="dcrStatusReport()">
      <div class="m-portlet__body">
        <div class="row" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'">
          <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
        </div>
        <div class="row">
          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row" [hidden]=!showAdminAndMGRLevelFilter>

                <div class="col-lg-3 m-form__group-sub">
                  <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                </div>
                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                  <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent></m-division>
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="showState">
                  <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent></m-state>
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="showDistrict">
                  <m-district [check]=true (valueChange)="getDistrictValue($event)" #callDistrictComponent></m-district>
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                  <m-designation (valueChange)="getDesignation($event)" #callMonthComponent [check]=true>
                  </m-designation>
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                  <m-employee [check]=true (valueChange)="getEmployeeValue($event)" #callEmployeeComponent></m-employee>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <button mat-raised-button color="accent" [disabled]="!dcrstatusForm.valid">
                    <span><i class="la la-check"></i></span> DCR Status Report</button>
                </div>



              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="m-portlet__foot m-portlet__foot--fit">
      </div>
    </form>
  </div>

</m-portlet>



<div class="m-portlet" [hidden]="!isShowUsersInfo">
  <div class="m-portlet__body m-portlet__body--no-padding">
    <div class="row m-row--no-padding m-row--col-separator-xl">
      <div class="col-xl-12">
        <div class="m-widget14">
          <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Camp Status Report
              </h3>
            </div>
          </ng-container>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.UserName}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Headquarter </th>
              <td mat-cell *matCellDef="let element"> {{element.Headquarter}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Designation </th>
              <td mat-cell *matCellDef="let element"> {{element.UserDesignation}} </td>
            </ng-container>
            <ng-container matColumnDef="Camp">
              <th mat-header-cell *matHeaderCellDef> Camp TotalDCR </th>
              <td mat-cell *matCellDef="let element"> {{element.totalDCR.length ? element.totalDCR.length : 0}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Camp Date </th>
              <ul *matCellDef="let element">
                <li *ngFor="let event of element.totalDCR; let i = index">
                  {{ event | date: 'dd/MM/yyyy' }}
                </li>
              </ul>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>