<div>
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <!-- <div>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Company Edit Form
      </h3>
    </div>
  </div>
  <div> -->
    <!-- <ng-container mPortletHeadTitle>
      <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
             Company Edit Form
          </h3>
      </div> -->
  <!-- </ng-container> -->
  <div class="d-flex justify-content-between">
    <h1 mat-dialog-title>Company Edit Form</h1>
  </div>
    <div mat-dialog-content>
    <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="companyEditForm">

      <div class="row">
        <div class="col-xl-12 ">
          <div class="m-form__section m-form__section--first">
            <div class="form-group m-form__group row">
              <!-- <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="width:100%;">
                  <mat-label>Company Name</mat-label>

                  <input matInput required formControlName="name" placeholder="Name" >
                  <mat-error>Name is required!!!</mat-error>

                </mat-form-field>
              </div> -->
              <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="width:100%;">
                  <mat-label>Select Status</mat-label>
                  <mat-select placeholder="Select Status" formControlName='status'>
                    <mat-option [value]="true">
                      Active
                    </mat-option>
                    <mat-option [value]="false">
                      InActive
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="width:100%;">
                  <mat-label>Max Users</mat-label>
                  <input type="number" matInput required formControlName="maxUser" placeholder="">
                </mat-form-field>
              </div>
            </div>
          </div>

        </div>

      </div>
      <!-- <div mat-dialog-actions>
        <button mat-raised-button color="accent" (click)="updateCompany()">Save</button>
        <button mat-raised-button color="accent" (click)="closeModel(false)">Cancel</button>

      </div> -->
    </form>
    </div>
    <span class="buttons">
      <button mat-raised-button color="accent" [disabled]="disableButtons" (click)="updateCompany()">Save</button>
    </span>
    <span class="buttons">
      <button mat-raised-button (click)="closeModel(false)" color="accent" [disabled]="disableButtons" tabindex="-1">Cancel</button>
    </span>
    
</div>