
  .table { 
    width: 100%; 
    border-collapse: collapse; 
    border: 0ch;
  }
  .tables { 
    width: 80%; 
    border-collapse: collapse; 
  }
  .childtable { 
   border: 0px;
   // border-collapse: collapse; 
  }
  .ol {
    overflow-x:hidden;
    white-space:nowrap;
      display: inline-block;
      padding: 0;
      margin: 0;
      vertical-align: top;
  }
  .ul {
    overflow-x:hidden;
    white-space:nowrap;
      display: inline-block;
      padding: 0;
      margin: 0;
      vertical-align: top;
  }
  
  .li {
    display:inline;
  }
  
  .label {
      display: inline-block;
      vertical-align: top;
  }
  /* Zebra striping */
  .tr { 
    padding: 6px; 
    text-align: center;
    background: #16a184;
    color: rgb(235, 235, 235); 
    border: 1px solid #ccc; 
    text-align: center; 
   // font-weight: bold; 
  }
  .header{
    background: #16a184;
  }
  .example-card {
    max-width: 100%;
  }
  .div{
    border: 1px solid rgb(160, 160, 160); 

  }
  label{
    font-weight: bold;
  }
  p{
    color: rgb(235, 235, 235); 
    background: #16a184;

  }
 