
  <ng-container mPortletHeadTitle  *ngIf=showGeoReportType>
      <br/>
   
    <div style="margin-left: 10px;margin-right: 10px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 mat-dialog-title align="left">DCR Preview </h1>
                </div>
                <!-- <div class="col-lg-4">
                    <mat-dialog-actions align="end">
                         <button  mat-dialog-close class="btn btn-danger navbar-btn">Cancel</button>&nbsp;&nbsp;
                         <button [mat-dialog-close]="true" cdkFocusInitial class="btn btn-info active">Submit</button>&nbsp;
                    </mat-dialog-actions>
                </div> -->
            </div>
     

    </div>

    <hr/>
  </ng-container>
<mat-dialog-content class="mat-typography"  *ngIf=showGeoReportType>
<ng-container mPortletBody>


    <div class="row example-card" style="background-color: #16a184;height: 33px;margin-left: 10px;margin-right: 10px;">
        <h4 style="color: rgb(235, 235, 235)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DCR Basic Info </h4>
    </div>
    <div class="row">
        <br/>
    </div>
    <div class="row example-card"  *ngIf=showGeoReportType style="margin-left: 10px;margin-right: 10px;">

        <div class="col-lg-3 m-form__group-sub">
            <label class="form-control-label"> DCR Date : &nbsp;</label> {{dataSource.dcrDate | date}}
        </div>
        <div class="col-lg-3 m-form__group-sub">
            <label class="form-control-label"> Name : &nbsp; </label> {{dataSource.userInfo.name }}
        </div>
        <div class="col-lg-3 m-form__group-sub">
            <label class="form-control-label">DCR Status: &nbsp; </label> {{dataSource.workingStatus }}
        </div>
        <div class="col-lg-3 m-form__group-sub">
            <label class="form-control-label">Remarks :  &nbsp; </label>
            <span *ngIf="dataSource.remarks!=undefined">{{dataSource.remarks}}</span>
        </div>
        <div class="row">
            <br/> <br/><br/>
        </div>

        <div class="col-lg-3 m-form__group-sub">
            <label class="form-control-label">
                        Work With : &nbsp;</label>
           <ul class="ul">
                <li *ngFor="let l of dataSource.jointWork" class="li">
                    {{l.Name}}
                </li>
            </ul>
        </div>
 
        <div class="col-lg-6 m-form__group-sub">
            <label class="form-control-label">{{this.currentUser.company.lables.areaLabel}} :  &nbsp;</label>
            <ol class="ol">
                <li *ngFor="let l of dataSource.visitedBlock">
                    {{l.from}} --- {{l.to}}
                </li>
            </ol>
        </div>


    </div>




    <div class="m-separator m-separator--dashed m-separator--lg"></div>



    <mat-tab-group *ngIf=showGeoReportType>
         <mat-tab label="{{this.currentUser.company.lables.doctorLabel}}">
            <div class="example-container mat-elevation-z8">
                <table align="center" class="table table-striped div">
                    <thead>

                        <tr class="tr">
                           <!-- <th>{{this.currentUser.company.lables.areaLabel}} Name </th> -->
                            <th> {{this.currentUser.company.lables.doctorLabel}} Name </th>
                            <th> Joint Work With </th>
                            <th> Detailing Status </th>
                            <th> Qty Placed </th>
                            <th> Product Detail </th>
                            <th> Gift Detail </th>
                            <th> Remarks </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let l of dataSource.info" align="center">
                            <!--  <td *ngIf="l.providerType=='RMP' && l.block!=undefined"> {{l.block.areaName}} </td> -->
                            <td *ngIf="l.providerType=='RMP'"> {{l.providerinfo.providerName}} </td>
                            <td *ngIf="l.providerType=='RMP'">
                                <ol>
                                    <li *ngFor="let n of l.jointWorkWithId">
                                        {{n.Name}}
                                    </li>
                                </ol>

                            </td>
                            <td *ngIf="l.providerType=='RMP'"> {{l.detailingDone}} </td>
                            <td *ngIf="l.providerType=='RMP'"> {{l.purchasedQty}} </td>
                            <td *ngIf="l.providerType=='RMP'">
                                <ol>
                                    <li *ngFor="let n of l.productDetails">
                                        {{n.productName}} --- {{n.productQuantity}}
                                    </li>
                                </ol>
                            </td>
                            <td *ngIf="l.providerType=='RMP'">
                                <ol>
                                    <li *ngFor="let n of l.giftDetails">
                                        {{n.giftName}} --- {{n.giftQty}}
                                    </li>
                                </ol>
                            </td>
                            <td *ngIf="l.providerType=='RMP' && dataSource.remarks!=undefined"> {{l.remarks}} </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </mat-tab>
        <mat-tab label="{{this.currentUser.company.lables.vendorLabel}}">
            <div class="example-container mat-elevation-z8">
                <table align="center" class="table div">
                    <tr class="tr">
                        <!--  <th>{{this.currentUser.company.lables.areaLabel}} Name </th>-->
                        <th>{{this.currentUser.company.lables.vendorLabel}} Name</th>
                        <th>Qty Placed</th>
                        <th>Product Detail</th>
                        <th> Remarks </th>
                    </tr>
                    <tr *ngFor="let l of dataSource.info" align="center">
                       <!--   <td *ngIf="l.providerType=='Drug' && l.block!=undefined"> {{l.block.areaName}} </td> -->
                        <td *ngIf="l.providerType=='Drug'"> {{l.providerinfo.providerName}} </td>


                        <td *ngIf="l.providerType=='Drug'"> {{l.purchasedQty}} </td>
                        <td *ngIf="l.providerType=='Drug'">
                            <table>
                                <tr *ngFor="let n of l.productDetails">
                                    <td> {{n.productName}} --- {{n.productQuantity}}</td>
                                </tr>
                            </table>
                        </td>
                        <td *ngIf="l.providerType=='Drug'"> {{l.remarks}} </td>
                    </tr>
                </table>

            </div>

        </mat-tab>
        <mat-tab label="{{this.currentUser.company.lables.stockistLabel}}">
            <div class="example-container mat-elevation-z8">
                <table align="center" class="table div">
                    <tr class="tr">
                        <!--  <th>{{this.currentUser.company.lables.areaLabel}} Name </th>-->

                        <th>{{this.currentUser.company.lables.vendorLabel}} Name</th>
                        <th>Qty Placed</th>
                        <th>Product Detail</th>
                        <th> Remarks </th>
                    </tr>
                    <tr *ngFor="let l of dataSource.info" align="center">
                       <!--   <td *ngIf="l.providerType=='Stockist' && l.block!=undefined"> {{l.block.areaName}} </td> -->
                        <td *ngIf="l.providerType=='Stockist'"> {{l.providerinfo.providerName}} </td>
                        <td *ngIf="l.providerType=='Stockist'"> {{l.purchasedQty}} </td>
                        <td *ngIf="l.providerType=='Stockist'">
                            <table>
                                <tr *ngFor="let n of l.productDetails">
                                    <td> {{n.productName}} --- {{n.productQuantity}}</td>
                                </tr>
                            </table>
                        </td>
                        <td *ngIf="l.providerType=='Stockist'"> {{l.remarks}} </td>
                    </tr>
                </table>

            </div>

        </mat-tab>
        <mat-tab label="Meeting">
            <div class="example-container mat-elevation-z8">
                <table align="center" class="table div">
                    <tr class="tr">
                        <th class="th">Meeting With</th>
                        <th class="th">Meeting Subject</th>
                        <th class="th">Remarks</th>

                    </tr>
                    <tr *ngFor="let l of dataSource.dcrMeetings" align="center">
                        <td> {{l.meetingWith}} </td>
                        <td> {{l.subject}} </td>
                        <td> {{l.remarks}} </td>
                    </tr>
                </table>

            </div>

        </mat-tab>
        <mat-tab label="Misc. Expense">
            <div class="example-container mat-elevation-z8">
                <table align="center" class="table div">
                    <tr class="tr">
                        <th class="th">Expense Type</th>
                        <th class="th">Amount</th>
                        <th class="th">Remarks</th>

                    </tr>
                    <tr *ngFor="let l of dataSource.dcrExpense" align="center">
                        <td> {{l.expenseType}} </td>
                        <td> {{l.amount}} </td>
                        <td> {{l.remarks}} </td>
                    </tr>
                </table>

            </div>

        </mat-tab>
    </mat-tab-group>
</ng-container>
</mat-dialog-content>
<!-- <mat-dialog-actions align="end"  *ngIf=showGeoReportType>
  <button  mat-dialog-close class="btn btn-danger navbar-btn">Cancel</button>&nbsp;&nbsp;&nbsp;
  <button  [mat-dialog-close]="true" cdkFocusInitial class="btn btn-info active">Submit</button>&nbsp;
</mat-dialog-actions> -->