<m-portlet [options]="{enableSticky: true}">
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle>
      <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
              CRM {{dataViewFor}} ROI Details
          </h3>
      </div>
  </ng-container>
  <ng-container mPortletBody>
      <form [formGroup]='SponserDoctorROIFilterForm' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewRecords()">
          <div class="m-portlet__body">
              <div class="row">
                  <div class="col-xl-12 ">
                      <div class="m-form__section m-form__section--first">
                          <div class="form-group m-form__group row">
                              <div class="col-lg-4 m-form__group-sub">
                                  <m-fiscal-year (valueChange)="getFiscalType($event)"></m-fiscal-year>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-xl-12 ">
                      <div class="m-form__section m-form__section--first">
                          <div class="form-group m-form__group row">

                              <div class="col-lg-3 m-form__group-sub">
                                  <label class="form-control-label">* Designation:</label>
                                  <m-designation [check]=false (valueChange)="getDesignation($event)" #callMonthComponent></m-designation>
                              </div>
                              <div class="col-lg-3 m-form__group-sub">
                                  <label class="form-control-label">* Status:</label>
                                  <m-status [check]=true (valueChange)="getStatusValue($event)" #callStatusComponent></m-status>
                              </div>
                              <div class="col-lg-3 m-form__group-sub">
                                  <label class="form-control-label">* Employee Name:</label>
                                  <m-employee [check]=false (valueChange)="getEmployeeValue($event)" #callEmployeeComponent></m-employee>
                              </div>
                              <div class="col-lg-3 m-form__group-sub" [hidden]=!showYearFilter>
                                  <label class="form-control-label">* Year:</label>
                                  <m-year (valueChange)="getYear($event)"></m-year>
                              </div>
                              <div class="col-lg-3 m-form__group-sub" [hidden]=!showFinancialFilter>
                                  <label class="form-control-label">*Financial Year:</label>
                                  <m-financial-year (valueChange)="getYear($event)"></m-financial-year>
                              </div>

                          </div>

                      </div>
                  </div>
              </div>

              <div class="m-form__actions m-form__actions">
                  <div class="row">
                      <div class="col-lg-5"></div>
                      <div class="col-lg-6">
                          <button mat-raised-button color="accent" [disabled]="!SponserDoctorROIFilterForm.valid"><span><i class="la la-check"></i></span>View Status</button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="m-portlet__foot m-portlet__foot--fit">
          </div>
      </form>
<ng-container>
  <div class="col-xl-12" *ngIf="showProcessing" align="center">
      <img src="assets/app/media/img/processing/loading.gif">
  </div>
</ng-container>
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle *ngIf="showReport">
      <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
              {{dataViewFor}} Visit Detail
          </h3>
      </div>
  </ng-container>
      <div style="overflow:auto; width:100%;" class="container" [hidden]="!showReport">
          <table #dataTable class="display" style="width:100%">
          </table>
         
      </div>
  </ng-container>
</m-portlet>