table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.table-container {
    height: 400px;
    overflow: auto;
}

.mat-column-select {
    overflow: initial;
}

.example-container {
    height: 400px;
    overflow: auto;
    font-size: 10%;
}

table {
    width: 100%;
}

::ng-deep table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: bold;
    background-color: #16a184;
    color: white;
}


/* Zebra striping */

tr:nth-of-type(odd) {
    background: #eee;
}

th {
    padding: 6px;
    text-align: center;
    background: #16a184;
    color: rgb(235, 235, 235);
}

td,
th {
    padding: 0px;
    border: 1px solid #ccc;
    text-align: center;
}

.mat-header-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
}