<m-portlet [options]="{enableSticky: true}">

	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				Gift Creation
			</h3>
		</div>
	</ng-container>
	<div mPortletHeadTools>
		<div>
			<mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
		</div>
	</div>
	<div mPortletBody [hidden]="!isToggled">
		<form [formGroup]='giftForm' class="m-form m-form--label-align-left" (ngSubmit)="showGift()">
			<div class="m-portlet__body">
				<div class="row">
					<div class="col-xl-12 ">
						<div class="m-form__section m-form__section--first">
							<div class="form-group m-form__group row">

								<div class="col-lg-3 m-form__group-sub">
									<mat-form-field style="width: 100% !important;">
										<input matInput formControlName="giftName" placeholder="Gift Name*">
										<mat-error>Name is required !!!</mat-error>
									</mat-form-field>
								</div>

								<div class="col-lg-3 m-form__group-sub">
									<mat-form-field style="width: 100% !important;">
										<input matInput formControlName="giftCode" placeholder="Gift Code*">
										<mat-error>Gift code is required !!!</mat-error>
									</mat-form-field>
								</div>

								<div class="col-lg-3 m-form__group-sub">
									<mat-form-field style="width: 100% !important;">
										<input matInput (keypress)="numberOnly($event)" formControlName="giftMrp"
											placeholder="Gift MRP*">
										<mat-error>MRP is required !!!</mat-error>
									</mat-form-field>
								</div>
								<div class="col-lg-3 m-form__group-sub" style="width: 100% !important;">
									<label class="form-control-label">&nbsp; </label>
									<button mat-raised-button color="accent" [disabled]="!giftForm.valid"><span><i
												class="la la-check"></i></span>Create
										Gift</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</form>
	</div>
</m-portlet>

<!-- <m-portlet [options]="{enableSticky: true}" *ngIf="showGiftDetails">
	<ng-container mPortletBody>
		<div class="row">
			<div class="col-xl-12">
				<ng-container mPortletHeadTitle>
					<div class="m-portlet__head-title">
						<h3 class="m-portlet__head-text">
							Gift Details
						</h3>
					</div>
				</ng-container>
				<div class="table-container mat-elevation-z8 col-xl-12">
					<table mat-table [dataSource]="dataSource">

						<ng-container matColumnDef="giftName">
							<th mat-header-cell *matHeaderCellDef>Gift Name </th>
							<td mat-cell *matCellDef="let element"> {{element.giftName}} </td>
						</ng-container>

						<ng-container matColumnDef="giftCode">
							<th mat-header-cell *matHeaderCellDef>Gift Code </th>
							<td mat-cell *matCellDef="let element"> {{element.giftCode}} </td>
						</ng-container>

						<ng-container matColumnDef="giftCost">
							<th mat-header-cell *matHeaderCellDef> Gift Cost </th>
							<td mat-cell *matCellDef="let element"> {{element.giftCost}} </td>
						</ng-container>

						<ng-container matColumnDef="status">
							<th mat-header-cell *matHeaderCellDef>Status</th>
							<td mat-cell *matCellDef="let element"> {{element.status}} </td>
						</ng-container>

						<ng-container matColumnDef="action">
							<th mat-header-cell *matHeaderCellDef> Edit </th>
							<td mat-cell *matCellDef="let element">
								<button mat-icon-button color="accent" (click)="editGift(element)">
									<mat-icon>create</mat-icon>
								</button>
							</td>
						</ng-container>

						<ng-container matColumnDef="action1">
							<th mat-header-cell *matHeaderCellDef> Delete </th>
							<td mat-cell *matCellDef="let element">
								<button mat-icon-button color="accent" (click)="deleteGift(element)">
									<mat-icon>delete_outline</mat-icon>
								</button>
							</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					</table>
				</div>
			</div>
		</div>
	</ng-container>
</m-portlet> -->

<div class="m-portlet" *ngIf="showGiftDetails">
	<div class="m-portlet__body m-portlet__body--no-padding">
		<div class="row m-row--no-padding m-row--col-separator-xl">
			<div class="col-xl-12">
				<div class="m-widget14">
					<ng-container mPortletHeadTitle>
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Gift Details
							</h3>
						</div>
					</ng-container>
					<hr /><br />

					<div class="table-container  col-lg-12">
						<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

							<ng-container matColumnDef="giftName">
								<th mat-header-cell *matHeaderCellDef>Gift Name </th>
								<td mat-cell *matCellDef="let element"> {{element.giftName}} </td>
							</ng-container>

							<ng-container matColumnDef="giftCode">
								<th mat-header-cell *matHeaderCellDef>Gift Code </th>
								<td mat-cell *matCellDef="let element"> {{element.giftCode}} </td>
							</ng-container>

							<ng-container matColumnDef="giftCost">
								<th mat-header-cell *matHeaderCellDef> Gift Cost </th>
								<td mat-cell *matCellDef="let element"> {{element.giftCost}} </td>
							</ng-container>

							<ng-container matColumnDef="status">
								<th mat-header-cell *matHeaderCellDef>Status</th>
								<td mat-cell *matCellDef="let element"> {{element.status}} </td>
							</ng-container>

							<ng-container matColumnDef="action">
								<th mat-header-cell *matHeaderCellDef> Edit </th>
								<td mat-cell *matCellDef="let element">
									<button mat-icon-button color="accent" (click)="editGift(element)">
										<mat-icon>create</mat-icon>
									</button>
								</td>
							</ng-container>

							<ng-container matColumnDef="action1">
								<th mat-header-cell *matHeaderCellDef> Delete </th>
								<td mat-cell *matCellDef="let element">
									<button mat-icon-button color="accent" style="color: red;" (click)="deleteGift(element)">
										<mat-icon>delete_outline</mat-icon>
									</button>
								</td>
							</ng-container>

							<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
							<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>