

<div class="m-portlet" *ngIf="currentUser.userInfo[0].designationLevel==0">

  <div class="m-portlet__body m-portlet__body--no-padding">

      <div class="row m-row--no-padding m-row--col-separator-xl">

          <div class="col-xl-12">

              <div class="m-widget14">

                  <div class="m-widget14__header col-xl-12">

                    <ng-container mPortletHeadTitle>
                      <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text" style="color: #120e63d1;
                                      font-size: large;">
                     Target Vs. Achievement    </h3>
                      </div>
                    
                      <div mPortletBody>
                        <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="expenseUpdateForm"
                          (ngSubmit)="generateReport()">
                    
                          <div class="col-lg-3 m-form__group-sub" align="center">
                    
                            <m-month #monthComponent (valueChange)="getFromDate($event)"></m-month>
                            <m-year #yearComponent (valueChange)="getToDate($event)"></m-year>
                          </div>
                          <div class="col-lg-3 m-form__group-sub">
                            <label class="form-control-label">&nbsp; </label>
                            <button mat-raised-button color="accent" ><span><i
                                  class="la la-check"></i></span>Generate
                              Report</button>
                          </div>
                        </form>
                      </div>
                    </ng-container>


                  </div>



                  <div id="targetAchievementGraph" [style.width.%]="100" [style.height.px]="400"></div>

              </div>

          </div>

      </div>

  </div>


</div>
