<m-portlet>
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        New Reports
      </h3>
    </div>
  </ng-container>
  <ng-container mPortletBody>
    <div *ngIf="dataSource?.length == 0" class="noDataAssign">
      <img width="500" src="assets/app/media/img/noDataFound.png" />
    </div>
    <div class="m-timeline-3" *ngIf="dataSource?.length > 0">
      <div class="m-timeline-3__items notification">
        <marquee loop="infinite" onmouseover="stop()" onmouseout="start()" Scrollamount="3" behavior="scroll"
          height="330" direction="up">
          <div class="m-timeline-3__item m-timeline-3__item--info" *ngFor="let data of dataSource">
            <div class="item_card"  [routerLink]="data.routerLink">
              <span class="m-timeline-3__item-time">
                {{data.createdAt | date}}
              </span>
              <div class="m-timeline-3__item-desc">
                <span class="m-link m-timeline-3__item-text title" >
                  {{ data.title }}
                </span>
                <br />
                <span class="m-link m-timeline-3__item-text description">
                  {{ data.description }}
                </span>
                <br />
                <!-- <span class="m-timeline-3__item-user-name">
                  <a href="#" class="m-link m-link--metal m-timeline-3__item-link">
                    By Admin
                  </a>
                </span> -->
              </div>
            </div>
          </div>
        </marquee>
      </div>
    </div>
  </ng-container>
</m-portlet>