@import '~@angular/material/theming';

.m-timeline-3 .m-timeline-3__item {
    display: table;
    margin-bottom: 2rem !important;
    position: relative;
	margin: 1rem 0;
	&:hover
	{
		@include mat-elevation(5);
		@include mat-elevation-transition;
	}
}
.m-timeline-3 .m-timeline-3__item:before {
	height: 70%;
	left: 9rem;
	top: 1rem;
	content: "";
}
.m-timeline-3 .m-timeline-3__item .m-timeline-3__item-time {
	width: 9rem !important;
	padding-top: 1.5rem !important;
}
.m-timeline-3 .m-timeline-3__item .m-timeline-3__item-desc {
	padding-left: 11rem !important;
}
.m-timeline-3 .m-timeline-3__item:before {
	left: 10rem !important;
}
.item_card{
	@include mat-elevation(3);
	cursor: pointer;
	padding: 1rem 0 !important;
}

.description {
	font-size: 1.1rem !important;
	cursor: pointer;
	text-align: justify;
}
.title {
	cursor: pointer;
	font-size: 1.2rem !important;
	font-weight: 500 !important;
	color: #16a184 !important;
	text-align: justify;
}
.noDataAssign {
	text-align: center !important;
}
