<m-portlet [options]="{enableSticky: true}">
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				Working Addresses
			</h3>
		</div>
	</ng-container>
	<ng-container mPortletBody>
		<form>
            <div *ngFor="let data of workingadd.workingAddress">
                <div class="row">
                    <mat-form-field *ngIf='status == false' appearance="outline"  class="col-lg-6" style="width:100%;" floatLabel="always" >
                    <mat-label>Tagged Address</mat-label>
                        <input matInput [value]="data.address" readonly>
                    </mat-form-field>
                    <mat-form-field *ngIf='status == true' appearance="outline"  class="col-lg-6" style="width:100%;" floatLabel="always" >
                        <mat-label>Tagged Address</mat-label>
                            <input matInput [value]="data.latLong.lat" readonly><br/>
                            <input matInput [value]="data.latLong.long" readonly>
                        </mat-form-field>
                    <mat-form-field appearance="outline"  class="col-lg-3" style="width:100%;" floatLabel="always">
                    <mat-label>Tagged Date</mat-label>
                        <input matInput [value]="data.time" readonly>
                    </mat-form-field>
                     <button style="margin-top: 10px; height:50%" mat-raised-button color="accent" (click)="UnTagged(data)">UnTagged</button>
                </div>
            </div>

		</form>
	</ng-container>
</m-portlet>
