<!-- GOURAV -->

<m-portlet [options]="{enableSticky: true}">
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Sample Distributed Issued Balance Details
      </h3>
    </div>
  </ng-container>
  <div mPortletHeadTools>
    <div>
      <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
  </div>
  <div mPortletBody [hidden]="!isToggled">
    <form [formGroup]='editSampleAndGift' class="m-form m-form--label-align-left- m-form--state-"
      (ngSubmit)="viewSampleAndGiftDetail()">
      <div class="m-portlet__body">

        <div class="row">
          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">
                <div>
                  <m-state (valueChange)="getStateValue($event)" [check]=false #callStateComponent>
                  </m-state>
                </div>

                <div class="col-lg-3">
                  <mat-form-field>
                    <mat-select placeholder="Select Designation" formControlName='designation'
                      (valueChange)="getEmployeeValue($event)">
                      <mat-option *ngFor="let designation of designationData"
                        [value]="designation._id.designationLevel">
                        {{designation._id.designation}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-lg-3 m-form__group-sub">
                  <m-employee [check]=true (valueChange)="setEmployeeDetail($event)" #callEmployeeComponent>
                  </m-employee>
                </div>

                <div class="col-lg-3 m-form__group-sub">
                  <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                </div>

                <div class="col-lg-3 m-form__group-sub mt-3">
                  <mat-radio-button class="form-control-label" name="moduleTypeName"
                    (change)="moduleSubmitType('sample')">
                    * Sample
                  </mat-radio-button>
                  <mat-radio-button class="form-control-label" name="moduleTypeName"
                    (change)="moduleSubmitType('gift')">
                    * Gift
                  </mat-radio-button>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <button mat-raised-button color="accent"><span>
                      <i class="la la-check"></i></span>Edit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="m-portlet__foot m-portlet__foot--fit">
      </div>
    </form>
  </div>
</m-portlet>

<m-portlet *ngIf="isShowIssueSample">
  <ng-container mPortletHeadTitle *ngIf="isShowIssueSample">
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Result according {{editSampleAndGift.value.moduleTypeName}}
      </h3>
    </div>
    <div class="m-portlet__head-title">
      <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
        style="float: right;" class="col-sm-1" (click)="exportToExcel()"><i class="fa fa-file-excel"
          style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i>
      </span>
    </div>
  </ng-container>
  <ng-container mPortletBody *ngIf="isShowIssueSample">

    <div class="table-container mat-elevation-z">

      <table mat-table [dataSource]="resultData" id="tableId1">

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>Username</th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <ng-container matColumnDef="district">
          <th mat-header-cell *matHeaderCellDef>District </th>
          <td mat-cell *matCellDef="let element"> {{element.district}} </td>
        </ng-container>

        <ng-container matColumnDef="distributed">
          <th mat-header-cell *matHeaderCellDef>Distributed</th>
          <td mat-cell *matCellDef="let element"> {{element.distributed}} </td>
        </ng-container>

        <ng-container matColumnDef="receipt">
          <th mat-header-cell *matHeaderCellDef>Receipt</th>
          <td mat-cell *matCellDef="let element"> {{element.receipt}} </td>
        </ng-container>

        <ng-container matColumnDef="balance">
          <th mat-header-cell *matHeaderCellDef>Balance</th>
          <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
      </table>
      <div>
        <mat-paginator #paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </div>



  </ng-container>
</m-portlet>

<!-- GOURAV -->