<!-- <script src="/home/lenovo/PraveenWorkspace/GitProject/Git/mrreporting-webapp/src/assets/amchart/plugins/export/libs/FileSaver.js/FileSaver.js" type="text/javascript"></script> -->

<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Employee Attendance Report
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='attendanceForm' class="m-form m-form--label-align-left- m-form--state-"
            (ngSubmit)="viewRecords()">
            <div class="m-portlet__body">
                <div class="row col-lg-12" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'">
                    <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
                </div>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row" [hidden]=!showAdminAndMGRLevelFilter>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                                    <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent>
                                    </m-division>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showState">
                                    <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                                    </m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showDistrict">
                                    <m-district [check]=true (valueChange)="getDistrictValue($event)"
                                        #callDistrictComponent></m-district>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                                    <m-designation (valueChange)="getDesignation($event)" #callMonthComponent>
                                    </m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                                    <m-employee [check]=true (valueChange)="getEmployeeValue($event)"
                                        #callEmployeeComponent></m-employee>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <mat-form-field style="width: 100%">
                                        <mat-select #select multiple placeholder="Get Report Of *"
                                            (click)="toastrInfo()" formArrayName="selectedWorkingTypes">
                                            <mat-option [value]="0" (click)="toggleAllSelection()" style="background-color: #16a184;
                                            color: white;">Select All</mat-option>
                                            <mat-option *ngFor="let obj of workingType"
                                                (onSelectionChange)="updateChkbxArray(obj,$event.source._selected)"
                                                value="obj.name">
                                                {{obj.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-status [check]=true (valueChange)="getStatusValue($event)" #callStatusComponent>
                                    </m-status>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-month (valueChange)="getMonth($event)" #callMonthComponent></m-month>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-year (valueChange)="getYear($event)" #callYearComponent></m-year>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent" [disabled]="!attendanceForm.valid"><span><i
                                                class="la la-check"></i></span>View Status</button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="col-lg-12 m-form__group-sub">
                                <p *ngFor="let obj of workingType" formArrayName="selectedWorkingTypes">
                                    <mat-checkbox class="popular-category" (change)="updateChkbxArray(obj,$event.checked)" value="obj.name">{{obj.name}}</mat-checkbox>
                                </p>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>





        <!-- <div style="overflow:auto; width:100%;" [hidden]="!showReport">
            <table #dataTable class="display nowrap" style="width:100%">

            </table>
        </div>  -->
    </div>

</m-portlet>

<ng-container>
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</ng-container>

<m-portlet *ngIf="showReport">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Attendance Detail
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>

            <span matTooltip="Print" matTooltipPosition="above" aria-label="Displays a tooltip"
                (click)="onPreviewClick()"><i class="fa fa-print" style="float: right;"
                    style="cursor:pointer; color: blue;font-size: 2em;" aria-hidden="true"></i></span>

            <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
                style="float: right;" class="col-sm-1" (click)="exporttoExcel()"><i class="fa fa-file-excel"
                    style="cursor:pointer; color: rgb(155, 168, 155);font-size: 2em;" aria-hidden="true"></i></span>
        </div>
    </div>
    <div mPortletBody>
        <div class="table-responsive" id="tabledivId1">
            <table class="GeneratedTable " id="tableId1">
                <thead>
                    <tr>
                        <th>S. No.</th>
                        <th *ngIf="isShowDivision">Division</th>
                        <th>State Name</th>
                        <th>District Name</th>
                        <th>Employee Code</th>
                        <th class="stylH">Name</th>
                        <th>Designation</th>
                        <th>Date Of Joining</th>
                        <th *ngFor="let column of columns">{{column}}</th>
                        <!-- <th>Total Doctor Calls</th> -->
                        <!-- <th>Total Chemist Calls</th> -->
                        <!-- <th>Total Stockist Calls</th> -->
                        <th>Total Working Days</th>
                        <th>Total Holiday</th>
                        <th>Total Leave</th>
                        <th>Total Absent</th>
                        <!-- <th>Total Sunday</th> -->

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of dataSource ; let i=index">
                        <td>{{i+1}}</td>
                        <td *ngIf="isShowDivision">{{data.division}}</td>
                        <td>
                            {{data.stateName}}
                        </td>
                        <td>
                            {{data.districtName}}
                        </td>
                        <td>
                            {{data.employeeCode}}
                        </td>
                        <td class="nameStyle ">
                            {{data.name}}
                        </td>

                        <td>
                            {{data.designation}}
                        </td>
                        <td>
                            {{data.dateOfJoining | date : 'd MMM, y'}}
                        </td>

                        <ng-container *ngFor="let date of data.dateArray">
                            <td *ngIf="date.sunday == true &&( date.value=='H' ||date.value=='--') "
                                style="background-color:rgb(66, 100, 60);"><b> Sun</b></td>
                            <td *ngIf="date.sunday == true &&( date.value!='H' && date.value!='--')"
                                style="background-color:rgb(52, 224, 17);"><b> {{date.value}}</b></td>
                            <td *ngIf="date.sunday == false && (date.value == 'WFO') && fusion"
                                [ngStyle]="{'background-color': (date.value == 'L') ? 'rgb(247, 147, 122)' : '#ffffff'}">
                                {{date.value}} <br /> <span>Day Start: {{date.logIn}} </span></td>
                            <td *ngIf="date.sunday == false && (date.value == 'W') && fusion"
                                [ngStyle]="{'background-color': (date.value == 'L') ? 'rgb(247, 147, 122)' : '#ffffff'}">
                                {{date.value}} <br /> <span>Day Start: {{date.logIn}} </span></td>
                            <td *ngIf="date.sunday == false && (date.value == 'W') && !fusion && !alenVision"
                                [ngStyle]="{'background-color': (date.value == 'L') ? 'rgb(247, 147, 122)' : '#ffffff'}">
                                {{date.value}} <br /></td>
                            <td *ngIf="date.sunday == false && (date.value == 'W') && !fusion && alenVision"
                                [ngStyle]="{'background-color': (date.value == 'L') ? 'rgb(247, 147, 122)' : '#ffffff'}">
                                {{date.value}} <br /><span>{{date.dayEnd ? date.dayEnd : 'Day End - NO'}}</span></td>
                            <td *ngIf="date.sunday == false && (date.value != 'W') && (date.value !== 'WFO') && fusion"
                                [ngStyle]="{'background-color': (date.value == 'L') ? 'rgb(247, 147, 122)' : '#ffffff'}">
                                {{date.value}} <br /> </td>
                            <td *ngIf="date.sunday == false && (date.value != 'W') && (date.value !== 'WFO') && !fusion"
                                [ngStyle]="{'background-color': (date.value == 'L') ? 'rgb(247, 147, 122)' : '#ffffff'}">
                                {{date.value}} </td>
                        </ng-container>
                        <!-- <td>
                            {{data.doctorCalls}}
                        </td> -->
                        <!-- <td>
                            {{data.chemistCalls}}
                        </td> -->
                        <!-- <td>
                            {{data.stockistCalls}}
                        </td> -->

                        <td>
                            {{data.working}}
                        </td>
                        <td>
                            {{data.holiday}}
                        </td>

                        <td>{{data.leave}}</td>
                        <td>{{data.absent}}</td>
                        <!-- <ng-container *ngFor="let date of data.dateArray; let i=index">
                            <td *ngIf="date.value == 'L'">
                                {{i+1}}
                            </td>
                        </ng-container> 
                        <ng-container *ngFor="let date of data.dateArray; let i=index">
                            <td *ngIf="date.value == 'A'">
                                {{i+1}}
                            </td>
                        </ng-container> -->
                        <!-- <td>
                            {{data.totalLeaves}}
                        </td>
                        <td>
                            {{data.totalAbsent}}
                        </td>
                        <td>
                            {{data.totalSunday}}
                        </td> -->
                    </tr>

                </tbody>
            </table>
            <br>

        </div>
    </div>
</m-portlet>
<!-- <ng-container mPortletBody *ngIf="showReport">
    <div class="m-portlet">
        <div class="m-portlet__body m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-12">
                    <div class="m-widget14">
                        <ng-container mPortletHeadTitle>
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Attendance Detail
                                </h3>
                            </div>
                        </ng-container>
                        <hr /><br />
                        <div class="table-responsive">
                            <table class="GeneratedTable " id="tableId1">
                                <thead>
                                    <tr>
                                        <th *ngIf="isShowDivision">Division</th>
                                        <th>State Name</th>
                                        <th>District Name</th>
                                        <th>Name</th>
                                        <th *ngFor="let column of columns">{{column}}</th>
                                        <th>Total Working Days</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of dataSource">
                                        <td *ngIf="isShowDivision">{{data.divisionName}}</td>
                                        <td>
                                            {{data.stateName}}
                                        </td>
                                        <td>
                                            {{data.districtName}}
                                        </td>
                                        <td>
                                            {{data.name}}
                                        </td>
                                        <ng-container *ngFor="let date of data.dateArray">
                                            <td *ngIf="date.sunday == true &&( date.value=='H' ||date.value=='--') "
                                                style="background-color:rgb(247, 147, 122);"><b> Sun</b></td>
                                            <td *ngIf="date.sunday == true &&( date.value!='H' && date.value!='--')"
                                                style="background-color:rgb(52, 224, 17);"><b> {{date.value}}</b></td>

                                            <td *ngIf="date.sunday == false"> {{date.value}}</td>
                                        </ng-container>
                                        <td>
                                            {{data.totalWorkingDCR}}
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <br>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container> -->