<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Target Vs Achievement Report
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletBody>
        <form [formGroup]='sssConsolidate' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewRecords()">
            <div class="m-portlet__body">
                <div class="row" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'">
                    <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
                </div>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row" [hidden]=!showAdminAndMGRLevelFilter>

                                <div class="col-lg-4 m-form__group-sub">
                                    <label class="form-control-label">* Type:</label>
                                    <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                                </div>
                                <div class="col-lg-4 m-form__group-sub" [hidden]="!isShowDivision">
                                    <label class="form-control-label">* Division:</label>
                                    <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent></m-division>
                                    <!-- <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type> -->
                                </div>
                                <div class="col-lg-4 m-form__group-sub" *ngIf="showState">
                                    <label class="form-control-label">* State:</label>
                                    <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent></m-state>
                                </div>
                                <div class="col-lg-4 m-form__group-sub" *ngIf="showDistrict">
                                    <label class="form-control-label">* {{this.currentUser.company.lables.hqLabel}}:</label>
                                    <m-district [check]=true (valueChange)="getDistrictValue($event)"
                                        #callDistrictComponent></m-district>
                                </div>
                                <div class="col-lg-4 m-form__group-sub" *ngIf="showEmployee">
                                    <label class="form-control-label">* Designation:</label>
                                    <m-designation (valueChange)="getDesignation($event)" #callMonthComponent [check]=true></m-designation>
                                </div>
                                <div class="col-lg-4 m-form__group-sub" *ngIf="showEmployee">
                                    <label class="form-control-label">* Employee Name:</label>
                                    <m-employee [check]=true (valueChange)="getEmployeeValue($event)"
                                        #callEmployeeComponent></m-employee>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-4 m-form__group-sub">
                                    <label class="form-control-label">* From Date:</label>
                                    <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                                </div>
                                <div class="col-lg-4 m-form__group-sub">
                                    <label class="form-control-label">* To Date:</label>
                                    <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-form__actions m-form__actions">
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-6">

                            <button mat-raised-button color="accent" [disabled]="!sssConsolidate.valid"><span><i class="la la-check"></i></span>View
                                Report</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>


    </ng-container>
    <ng-container>
        <div class="col-xl-12" *ngIf="showProcessing" align="center">
            <img src="assets/app/media/img/processing/loading.gif">
        </div>
    </ng-container>
    <ng-container mPortletBody *ngIf="showReport">
        <div style="overflow-x:auto; height: 400px;">

            <table class="table-responsive-sm" id="tableId1">
                <thead>
                    <tr>
                        <th class="border" rowspan="2">State</th>
                        <th class="border" rowspan="2">Headquater</th>
                        <th class="border" colspan="2" style="text-align: center" *ngFor="let month of dynamicTableHeader">{{month}}</th>
                        <th class="border" [attr.colspan]="dynamicTableHeader?.length+1" style="text-align: center">Total</th>
                    </tr>
                    <tr>

                        <ng-container *ngFor="let month of dynamicTableHeader">
                            <th class="border">Target</th>
                            <th class="border">Primary</th>
                        </ng-container>
                        <th class="border" style="text-align: center">Target
                            Total</th>
                        <th class="border"  style="text-align: center">Primary
                            Total</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of data; let $index = index">
                        <td>
                            {{d.stateName}}
                        </td>
                        <td>
                            {{d.hqName}}
                        </td>

                        <ng-container *ngFor="let dd of d.details">
                            <td>{{dd.targetData}}</td>
                            <td>{{dd.primaryData}}</td>
                        </ng-container>
                        <td >
                            {{d.totalAmtTarget}}
                        </td>
                        <td >
                            {{d.totalAmtPrimary}}
                        </td>

                    </tr>
                </tbody>
            </table>


        </div>
        <br>
        <div align="center">
            <button mat-raised-button color="accent" (click)="this.exporttoExcel();">
                <span>
                    <i class="la la-download"></i>
                </span>Download</button>
        </div>
    </ng-container>
</m-portlet>