<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <div mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Modify Hierarchy
            </h3>
        </div>
    </div>

    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>

    <!-- use ng-container[mPortletHeadTools] for the top right toolbar content -->

    <!-- use ng-container[mPortletBody] for the body content -->
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='hierarchyForm' class="m-form m-form--label-align-left- m-form--state"
            (ngSubmit)="getHierarchy()">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-designation [check]=false (valueChange)="getDesignation($event)"
                                        #callDesignationComponent></m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-state [check]=true (valueChange)="getStateValue($event)" #callStateComponent>
                                    </m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-employee (valueChange)="getEmployees($event)" #callEmployeeComponent
                                        [check]=false></m-employee>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">&nbsp; </label>
                                    <button mat-raised-button color="accent" [disabled]="!hierarchyForm.valid"><span><i
                                                class="la la-check"></i></span>Get
                                        Hierarchy</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>
<ng-container mPortletBody *ngIf="isShowMappedData">
    <div class="row">
        <div class="col-xl-12">
            <ng-container mPortletHeadTitle>
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Manager Hierarchy
                    </h3>
                </div>
            </ng-container>
            <div class="table-container mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(element) : null"
                                [checked]="selection.isSelected(element)"></mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="sn">
                        <th mat-header-cell *matHeaderCellDef> S.N. </th>
                        <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="stateName">
                        <th mat-header-cell *matHeaderCellDef>State Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.stateName}} </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="districtName">
                        <th mat-header-cell *matHeaderCellDef>{{this.currentUser.company.lables.hqLabel}} Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="designation">
                        <th mat-header-cell *matHeaderCellDef>Designation </th>
                        <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-3 m-form__group-sub">
                    <label class="form-control-label">&nbsp; </label>
                    <button mat-raised-button color="accent" (click)="deleteHierarchy(selection._selected)"
                        [disabled]="!selection._selected">Delete
                        Hierarchy</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>