<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                User Edit Form
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletBody>


        <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="userEditForm">
            <div class="row">
                <div class="m-form__heading col-lg-12">
                    <h5 class="m-form__heading-title col-lg-12">
                        General Information
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 ">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>Employee Code</mat-label>

                                    <input matInput required formControlName="employeeCode" placeholder="Employee Code"
                                        value={{data.obj.employeeCode}}>
                                    <mat-error>Employee Code is required!!!</mat-error>

                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>Name</mat-label>

                                    <input matInput required formControlName="name" placeholder="Name"
                                        value={{data.obj.name}}>
                                    <mat-error>Name is required!!!</mat-error>

                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>Mobile</mat-label>

                                    <input type="number" matInput required formControlName="mobile" placeholder="mobile"
                                        value={{data.obj.mobile}}>
                                    <mat-error>Mobile is required!!!</mat-error>

                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>Email</mat-label>

                                    <input matInput required formControlName="email" placeholder="email"
                                        value={{data.obj.email}}>
                                    <mat-error>Email is required!!!</mat-error>

                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>Address</mat-label>

                                    <input matInput required formControlName="address" placeholder="address"
                                        value={{data.obj.address}}>
                                </mat-form-field>
                            </div>



                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>Designation</mat-label>
                                    <mat-select placeholder="Select Designation" formControlName='designation'
                                        (valueChange)="getDesignationValue($event)">
                                        <mat-option *ngFor="let designation of designationData"
                                            [value]="designation.designation">
                                            {{designation.designation}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                                <m-division (valueChange)="getDivisionValue($event)" [check]=true
                                    #callDivisionComponent>
                                </m-division>
                            </div>

                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>District</mat-label>

                                    <input matInput required readonly formControlName="district" placeholder="District"
                                        value={{data.obj.districtName}}>
                                </mat-form-field>
                            </div>


                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>Select Reporting Manager</mat-label>
                                    <mat-select placeholder="Select Reporting Manager" formControlName='immediateSupervisorName'
                                    (selectionChange)='getManagerDetails($event.value)'>
                                        <!-- Multiple selection Removed By Gourav, 
                                        Not handled from End point, Please check once before enableing multiple selection -->
                                        <mat-option *ngFor="let manager of managerData"
                                            [value]="manager">
                                            {{manager.name}} - {{manager.designation}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>Select Status</mat-label>
                                    <mat-select placeholder="Select Status" formControlName='status'>
                                        <mat-option [value]="true">
                                            Active
                                        </mat-option>
                                        <mat-option [value]="false">
                                            InActive
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>Locking period</mat-label>
                                    <input type="number" matInput required formControlName="lockingPeriod"
                                        placeholder="Locking Period" value={{data.obj.lockingPeriod}}>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>Edit Locking period</mat-label>
                                    <input type="number" matInput required formControlName="editLockingPeriod"
                                        placeholder="Edit Locking Period" value={{data.obj.editLockingPeriod}}>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>Aadhaar</mat-label>
                                    <input type="number" matInput required formControlName="aadhaar"
                                        placeholder="aadhaar" value={{data.obj.aadhaar}}>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>PAN</mat-label>
                                    <input matInput required formControlName="pan" placeholder="pan"
                                        value={{data.obj.PAN}}>
                                </mat-form-field>
                            </div>



                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>User Name</mat-label>
                                    <input matInput required formControlName="username" required placeholder="username"
                                        value={{data.obj.username}} (change)="userNameCheckUnique()">

                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>Password</mat-label>
                                    <input matInput required formControlName="password" placeholder="password"
                                        value={{data.obj.password}}>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Date Of Birth</mat-label>
                                    <input matInput [matDatepicker]="pickerDOB" formControlName='dateOfBirth'
                                        placeholder="Date Of Birth">
                                    <mat-datepicker-toggle matSuffix [for]="pickerDOB"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerDOB></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Date Of Anniversary</mat-label>
                                    <input matInput [matDatepicker]="pickerEditDOA" formControlName='dateOfAnniversary'
                                        placeholder="Date Of Anniversary" value={{data.obj.dateOfAnniversary}}>
                                    <mat-datepicker-toggle matSuffix [for]="pickerEditDOA"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerEditDOA></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Date Of Joining</mat-label>
                                    <input matInput [matDatepicker]="pickerEditDOJ" formControlName='dateOfJoining'
                                        placeholder="Date Of Joining" value={{data.obj.dateOfJoining}}>
                                    <mat-datepicker-toggle matSuffix [for]="pickerEditDOJ"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerEditDOJ></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Date Of Reporting Start</mat-label>
                                    <input matInput [matDatepicker]="pickerEditreportingDate"
                                        formControlName='reportingDate' placeholder="Date Of Reporting Start"
                                        value={{data.obj.dateOfJoining}}>
                                    <mat-datepicker-toggle matSuffix [for]="pickerEditreportingDate">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #pickerEditreportingDate></mat-datepicker>
                                </mat-form-field>
                            </div>



                        </div>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="m-form__heading col-lg-12">
                    <h5 class="m-form__heading-title col-lg-12">
                        Bank Details
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>Bank Name</mat-label>
                                    <input matInput required formControlName="bankName" placeholder="Bank Name"
                                        value={{data.obj.bankName}}>
                                    <mat-error>Bank Name is required!!!</mat-error>

                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>Bank Account No.</mat-label>
                                    <input matInput required formControlName="bankAccountNumber" placeholder="Bank Account No."
                                        value={{data.obj.bankAccountNumber}}>
                                    <mat-error>Bank Account no. is required!!!</mat-error>

                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>Bank IFSC</mat-label>
                                    <input matInput required formControlName="ifsc" placeholder="Bank IFSC"
                                        value={{data.obj.ifsc}}>
                                    <mat-error>Bank IFSC is required!!!</mat-error>

                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div mat-dialog-actions>
                <button mat-raised-button color="accent" [mat-dialog-close]="1"
                    [disabled]="usernameAlreadyExist == false" (click)="userEdit()">Save</button>
                <button mat-raised-button (click)="onNoClick()" color="warn" tabindex="-1">Cancel</button>

            </div>
        </form>
    </ng-container>
</m-portlet>