<m-portlet [options]="{enableSticky: true}">
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Target & SSS Report
      </h3>
    </div>
  </ng-container>
  <ng-container mPortletBody>
    <div class="row">
      <div class="col-lg-12 ">
        <mat-radio-group class="example-radio-group d-inline-block" (change)="reportType($event.value)">
          <mat-radio-button class="form-control-label" checked value="Headquarterwise">
            * Headquarterwise
          </mat-radio-button>
          <mat-radio-button class="form-control-label" value="Employeewise">
            * Teamwise
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <form [formGroup]="DumpPrimaryandSecondary">
      <!-- District wise Div  -->
      <div class="row">
        <div class="col-lg-3 ">
          <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent>
          </m-division>
        </div>
        <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDiv">
          <mat-form-field class="mat-form-field-fluid">
            <mat-select #select formControlName="stateInfo" placeholder="Select State" required
              (selectionChange)='getStateValue($event.value)' multiple="true">
              <!-- <mat-option [value]="0" (click)="toggleAllSelection()" style="background-color: #16a184;
              color: white;">Select All</mat-option>  -->
              <mat-option *ngFor="let state of stateData" [value]="state">
                {{state.stateName}}
              </mat-option>
            </mat-select>
            <mat-error>State is required!!!</mat-error>
          </mat-form-field>
        </div> <!-- State Data Multiple Select -->

        <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDiv">
          <mat-form-field class="mat-form-field-fluid">
            <mat-select #selectHQ formControlName="districtInfo" placeholder="Select Headquater" required
              (selectionChange)='getDistrictValue($event.value)' multiple="true">
              <mat-option [value]="0" (click)="toggleAllSelectionForHQ()" style="background-color: #16a184;
              color: white;">Select All</mat-option>
              <mat-option *ngFor="let district of HqData" [value]="district">
                {{district.districtName}}
              </mat-option>
            </mat-select>
            <mat-error>Headquater is required!!!</mat-error>
          </mat-form-field>
        </div><!-- HQ -->

        <div class="col-lg-3 m-form__group-sub" [hidden]="isShowDiv">
          <m-designation [check]=false (valueChange)="getDesignation($event)" #designationComponent></m-designation>
        </div>

        <div class="col-lg-3 m-form__group-sub" [hidden]="isShowDiv">
          <m-employee [check]=false (valueChange)="getEmployee($event)" #callEmployeeComponent></m-employee>
        </div>

        <div class="col-lg-3 m-form__group-sub">
          <mat-form-field class="mat-form-field-fluid">
            <mat-select placeholder="Select Product" formControlName="product" multiple="true"
              (selectionChange)="getProduct($event.value)">
              <!-- <mat-option [value]="0" (click)="toggleAllSelection()" style="background-color: #16a184;
                      color: white;">Select All</mat-option> -->
              <mat-option *ngFor="let product of data" [value]="product.productCode">
                {{product.productName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- <div class="col-lg-3 m-form__group-sub">
          <m-month (valueChange)="getMonth($event)" #callMonthComponent></m-month>
        </div>
        <div class="col-lg-3 m-form__group-sub">
          <m-year (valueChange)="getYear($event)" #callYearComponent></m-year>
        </div> -->

        <div class="col-lg-3 m-form__group-sub">
          <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
        </div>
        <div class="col-lg-3 m-form__group-sub">
          <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
        </div>

        <br>
        <br>

        <div class="col-md-3">
          <button type="button" mat-raised-button color="primary"
            [disabled]="isDisabledBtn || !DumpPrimaryandSecondary.valid || div || month"
            (click)="getsssDetails()">Generate Excel</button>
        </div>
        <div class="col-md-3" *ngIf="showTable">
          <button type="button" mat-raised-button color="accent" (click)="exportTable()" [disabled]="isButtonDisabled">
            <span>
              <i class="la la-download"></i>
            </span>Download Excel</button>
        </div>

        <div class="position-relative d-inline-block" *ngIf="showProcessing">
          <div class="grey-spinner">
            <mat-progress-spinner class="position-absolute" mode="determinate" [strokeWidth]="4" [diameter]="85"
              [value]="100">
            </mat-progress-spinner>
          </div>
          <mat-progress-spinner color="primary" mode="determinate" [strokeWidth]="4" [diameter]="85"
            [value]="progressValue">
          </mat-progress-spinner>
          <div class="position-absolute" style="
          													top: 50%;
          													left: 50%;
          													transform: translate(
          														-50%,
          														-50%
          													);
          												">
            {{progressValue}}%
          </div>
        </div>
      </div>
      <!-- END District wise Div -->
    </form>
  </ng-container>
</m-portlet>
<ng-container>
  <div class="col-md-12" [hidden]="!showDownloadProcessing" align="center">
    <img src="assets/app/media/img/processing/loading1.gif">
  </div>
</ng-container>