<!-- ------------------------------------GOURAV-------------------------------------------------- -->

<m-portlet>
  <div mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Target vs Achivement ERP Report
      </h3>
    </div>
  </div>
  <div mPortletHeadTools>
    <div>
      <mat-slide-toggle [checked]="isToggle" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
  </div>
  <div mPortletBody [hidden]='!isToggle'>
    <form [formGroup]='erpForm' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewRecords()">
      <div class="m-portlet__body">
        <div class="row">
          <div class="col-lg-3">
            <mat-radio-button (change)="toggleFunction('unit')">Unit Wise
            </mat-radio-button>
          </div>
          <div class="col-lg-3">
            <mat-radio-button (change)="toggleFunction('amount')">Amount Wise
            </mat-radio-button>
          </div>
        </div>
      </div>

      <div class="m-portlet__body">
        <div class="row col-lg-12">
          <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
        </div>
        <div class="row">
          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">
                <div class="col-lg-3 m-form__group-sub">
                  <mat-form-field *ngIf="select1">
                    <mat-label>Select Type</mat-label>
                    <mat-select disableRipple formControlName="type" (selectionChange)="getTypeValue($event.value)">
                      <mat-option *ngFor="let data of ddValue" [value]="data">
                        {{data}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field *ngIf="!select1">
                    <mat-label>Select Type</mat-label>
                    <mat-select disableRipple formControlName="type" (selectionChange)="getTypeValue($event.value)">
                      <mat-option *ngFor="let data of ddValue2" [value]="data">
                        {{data}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                
                <div class="col-lg-3 m-form__group-sub" *ngIf="!select1">
                  <mat-form-field class="mat-form-field-fluid">
                    <mat-select formControlName="designation" placeholder="Select Designation" required
                      (selectionChange)='getDesignation($event.value)' multiple="false">

                      <mat-option *ngFor="let desig of desigData" [value]="desig.code">
                        {{desig.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error>Designation is required!!!</mat-error>
                  </mat-form-field>
                </div><!-- Manager -->

                <div class="col-lg-3 m-form__group-sub" *ngIf="!select1">
                  <mat-form-field class="mat-form-field-fluid">
                    <mat-select formControlName="employeeId" placeholder="Select Employee" required multiple="false">
                      <mat-option *ngFor="let manager of managerData" [value]="manager.code">
                        {{manager.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error>Manager is required!!!</mat-error>
                  </mat-form-field>
                </div><!-- ManagerData -->
                <div class="col-lg-3 m-form__group-sub" *ngIf="(select1 == true)">
                  <mat-form-field class="mat-form-field-fluid">
                    <mat-select #select formControlName="stateInfo" placeholder="Select State" required
                      (selectionChange)='getStateValue($event.value)' multiple="true">
                      <mat-option [value]="0" (click)="toggleAllSelection()" style="background-color: #16a184;
                      color: white;">Select All</mat-option>
                      <mat-option *ngFor="let state of stateData" [value]="state.code">
                        {{state.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error>State is required!!!</mat-error>
                  </mat-form-field>
                </div> <!-- State Data Multiple Select -->

                <div class="col-lg-3 m-form__group-sub" *ngIf="hqShow">
                  <mat-form-field class="mat-form-field-fluid">
                    <mat-select #selectHQ formControlName="HqInfo" placeholder="Select Headquater" required
                      (selectionChange)='getDistrictValue($event.value)' multiple="true">
                      <mat-option [value]="0" (click)="toggleAllSelectionForHQ()" style="background-color: #16a184;
                      color: white;">Select All</mat-option>
                      <mat-option *ngFor="let district of HqData" [value]="district.code">
                        {{district.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error>Headquater is required!!!</mat-error>
                  </mat-form-field>
                </div><!-- HQ -->

                <div class="col-lg-3 m-form__group-sub">
                  <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <button mat-raised-button color="accent"><span>
                      <i class="la la-check"></i></span>
                    View Sale
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </form>

  </div>
</m-portlet>

<style>
  .dz {
    font-weight: bold;
  }
</style>

<ng-container mPortletBody *ngIf="showReport">
  <div class="m-portlet">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-xl-12">
          <div class="m-widget14">
            <ng-container mPortletHeadTitle>
              <div class="m-portlet__head-title">

                <h3 class="m-portlet__head-text">
                  Target vs Achivement Data
                </h3>
                <br />
                <mat-form-field *ngIf="showFinalReport">
                  <mat-label>Filter</mat-label>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Products">
                </mat-form-field>
                <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
                  style="float: right;" class="col-sm-1" (click)="exporttoExcel()" *ngIf="showFinalReport"><i
                    class="fa fa-file-excel" style="cursor:pointer; color: green;font-size: 2em;"
                    aria-hidden="true"></i></span>

                <mat-form-field *ngIf='hqResult'>
                  <mat-label>Filter</mat-label>
                  <input matInput (keyup)="applyFilter1($event.target.value)" placeholder="Search Products">
                </mat-form-field>
                <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
                  style="float: right;" class="col-sm-1" (click)="exporttoExcel1()" *ngIf='hqResult'><i
                    class="fa fa-file-excel" style="cursor:pointer; color: green;font-size: 2em;"
                    aria-hidden="true"></i></span>
              </div>
            </ng-container>
            <div mPortletBody>
              <hr /><br />
              
              <div class="mat-elevation-z8" id="tableId1" *ngIf="showFinalReport">
                <table mat-table [dataSource]="dataSource">
                  <ng-container matColumnDef="headquarterName" *ngIf="showHeadquarterName">
                    <th mat-header-cell *matHeaderCellDef> Headquarter Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.headquarterName}} </td>
                    <td mat-footer-cell class="total dz" *matFooterCellDef> TOTAL </td>
                  </ng-container>

                  <ng-container matColumnDef="headquarterName" *ngIf="showStateName">
                    <th mat-header-cell *matHeaderCellDef> State Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.stateName}} </td>
                    <td mat-footer-cell class="total dz" *matFooterCellDef> TOTAL </td>
                  </ng-container>

                  <ng-container matColumnDef="headquarterName" *ngIf="showEmpName">
                    <th mat-header-cell *matHeaderCellDef> Employee Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                    <td mat-footer-cell class="total dz" *matFooterCellDef> TOTAL </td>
                  </ng-container>

                  <ng-container matColumnDef="productName">
                    <th mat-header-cell *matHeaderCellDef> Product Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
                    <td mat-footer-cell class="total dz" *matFooterCellDef> </td>
                  </ng-container>

                  <ng-container matColumnDef="targetAmount">
                    <th mat-header-cell *matHeaderCellDef> Target </th>
                    <td mat-cell *matCellDef="let element"> {{element.targetAmount}} </td>
                    <td mat-footer-cell class="total dz" *matFooterCellDef> {{totalTarget }} </td>
                  </ng-container>

                  <ng-container matColumnDef="primaryAmount">
                    <th mat-header-cell *matHeaderCellDef> Primary </th>
                    <td mat-cell *matCellDef="let element"> {{element.primaryAmount}} </td>
                    <td mat-footer-cell class="total dz" *matFooterCellDef> {{totalPrimary }} </td>
                  </ng-container>

                  <ng-container matColumnDef="achievementAmount">
                    <th mat-header-cell *matHeaderCellDef> %Achievement </th>
                    <td mat-cell *matCellDef="let element"> {{element.achievementAmount}} </td>
                    <td mat-footer-cell class="total dz" *matFooterCellDef> {{totalAchivement}}% </td>
                  </ng-container>

                  <ng-container matColumnDef="closingAmount">
                    <th mat-header-cell *matHeaderCellDef> Closing </th>
                    <td mat-cell *matCellDef="let element"> {{element.closingAmount}} </td>
                    <td mat-footer-cell class="total dz" *matFooterCellDef> {{totalClosing }} </td>
                  </ng-container>

                  <ng-container matColumnDef="secondaryAmount">
                    <th mat-header-cell *matHeaderCellDef> Secondary </th>
                    <td mat-cell *matCellDef="let element"> {{element.secondaryAmount}} </td>
                    <td mat-footer-cell class="total dz" *matFooterCellDef> {{totalSecondary }} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>

                </table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                </mat-paginator>
              </div>

              <div class="table-container" style="overflow-x: auto;" *ngIf='hqResult'>
                <div class="mat-elevation-z8" id="tableId2">
                  <table mat-table [dataSource]='dataSource2'>
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Headquarter </th>
                      <td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
                      <td mat-footer-cell class="total dz" *matFooterCellDef> TOTAL </td>
                    </ng-container>

                    <ng-container matColumnDef="No">
                      <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Headquarter</th>
                    </ng-container>

                    <ng-container matColumnDef="hq">
                      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Product Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
                      <td mat-footer-cell class="total dz" *matFooterCellDef> --- </td>
                    </ng-container>

                    <ng-container matColumnDef="dist">
                      <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Product Name</th>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="tQuantity">
                      <th mat-header-cell *matHeaderCellDef>  Qty </th>
                      <td mat-cell *matCellDef="let element"> {{element.targetQty}} </td>
                      <td mat-footer-cell class="total dz" *matFooterCellDef> {{totalTargetQty}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="tValue">
                      <th mat-header-cell *matHeaderCellDef>  Val </th>
                      <td mat-cell *matCellDef="let element"> {{element.targetAmount}} </td>
                      <td mat-footer-cell class="total dz" *matFooterCellDef> {{totalTarget}} </td>
                    </ng-container>

                    <ng-container matColumnDef="header-row-second-group">
                      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Target </th>
                    </ng-container>


                    <ng-container matColumnDef="pQuantity">
                      <th mat-header-cell *matHeaderCellDef>  Qty</th>
                      <td mat-cell *matCellDef="let element"> {{element.primaryQty}} </td>
                      <td mat-footer-cell class="total dz" *matFooterCellDef> {{totalPrimaryQty}} </td>
                    </ng-container>


                    <ng-container matColumnDef="pValue">
                      <th mat-header-cell *matHeaderCellDef>  Val </th>
                      <td mat-cell *matCellDef="let element"> {{element.primaryAmount}} </td>
                      <td mat-footer-cell class="total dz" *matFooterCellDef> {{totalPrimary}} </td>
                    </ng-container>

                    <ng-container matColumnDef="header-row-third-group">
                      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Primary </th>
                    </ng-container>

                    <ng-container matColumnDef="sQuantity">
                      <th mat-header-cell *matHeaderCellDef> Qty</th>
                      <td mat-cell *matCellDef="let element"> {{element.secondaryQty}} </td>
                      <td mat-footer-cell class="total dz" *matFooterCellDef> {{secondaryQty}} </td>
                    </ng-container>


                    <ng-container matColumnDef="sValue">
                      <th mat-header-cell *matHeaderCellDef>  Val </th>
                      <td mat-cell *matCellDef="let element"> {{(element.secondaryAmount).toFixed(2)}} </td>
                      <td mat-footer-cell class="total dz" *matFooterCellDef> {{totalSecondary}} </td>
                    </ng-container>

                    <ng-container matColumnDef="header-row-forth-group">
                      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Secondary </th>
                    </ng-container>

                    <ng-container matColumnDef="acQuantity">
                      <th mat-header-cell *matHeaderCellDef>  Qty % </th>
                      <td mat-cell *matCellDef="let element"> {{element.achievementQty}} </td>
                      <td mat-footer-cell class="total dz" *matFooterCellDef> {{AchivQty}} </td>
                    </ng-container>


                    <ng-container matColumnDef="acValue">
                      <th mat-header-cell *matHeaderCellDef>  Val % </th>
                      <td mat-cell *matCellDef="let element"> {{element.achievementAmount}} </td>
                      <td mat-footer-cell class="total dz" *matFooterCellDef> {{totalAchivement}} </td>
                    </ng-container>

                    <ng-container matColumnDef="header-row-fifth-group">
                      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Achivement % </th>
                    </ng-container>

                    <ng-container matColumnDef="cQuantity">
                      <th mat-header-cell *matHeaderCellDef>  Qty </th>
                      <td mat-cell *matCellDef="let element"> {{element.totalClosingQty}} </td>
                      <td mat-footer-cell class="total dz" *matFooterCellDef> {{closingQty}} </td>
                    </ng-container>


                    <ng-container matColumnDef="cValue">
                      <th mat-header-cell *matHeaderCellDef>  Val </th>
                      <td mat-cell *matCellDef="let element"> {{(element.closingAmount).toFixed(2)}} </td>
                      <td mat-footer-cell class="total dz" *matFooterCellDef> {{totalClosing}} </td>
                    </ng-container>

                    <ng-container matColumnDef="header-row-sixth-group">
                      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Closing </th>
                    </ng-container>


                    <tr mat-header-row
                      *matHeaderRowDef="['No','dist', 'header-row-second-group', 'header-row-third-group','header-row-forth-group','header-row-fifth-group','header-row-sixth-group']">
                    </tr>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns1; sticky: true"></tr>
                  </table>
                </div>
                <mat-paginator #paginator1 [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container>
  <div class="col-xl-12" *ngIf="showProcessing" align="center">
    <img src="assets/app/media/img/processing/loading.gif">
  </div>
</ng-container>

<!-- ------------------------------------GOURAV-------------------------------------------------- -->