<!-- <m-portlet [options]="{enableSticky: true}">
   use ng-container[mPortletHeadTitle] for the title 
  <ng-container mPortletHeadTitle>
      <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
              Stock-Sales & Statement Filter
          </h3>
      </div>
  </ng-container>

   use ng-container[mPortletHeadTools] for the top right toolbar content -->

  <!-- use ng-container[mPortletBody] for the body content 
  <ng-container mPortletBody>
      <form [formGroup]='sssClosingForm' class="m-form m-form--label-align-left- m-form--state" (ngSubmit)="getSubmittedSSSClosing()">
          <div class="m-portlet__body">
              <div class="row">
                  <div class="col-xl-12 ">
                      <div class="m-form__section m-form__section--first">
                          <div class="form-group m-form__group row">
                              
                              <div class="col-lg-3 m-form__group-sub">
                                  <div class="m-form__control">
                                      <m-mapped-stockist (valueChange)="setStockistValue($event)"
                                          #callMappedStockistComponent [check]=false></m-mapped-stockist>
                                  </div>
                              </div>
                              <div class="col-lg-3 m-form__group-sub">
                                  <m-month (valueChange)="getMonth($event)" #callMonthComponent></m-month>
                              </div>
                              <div class="col-lg-3 m-form__group-sub">
                                  <m-year (valueChange)="getYear($event)" #callYearComponent></m-year>
                              </div>
                              <div class="col-lg-3 m-form__group-sub">
                                  <button mat-raised-button color="accent" [disabled]="!sssClosingForm.valid"><span><i
                                              class="la la-check"></i></span>Submit
                                      Sale</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </form>
  </ng-container>
</m-portlet> -->