<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Finalize Expense
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='finalizeExpnesForm' class="m-form m-form--label-align-left- m-form--state-"
            (ngSubmit)="generatereport()">
            <div class="m-portlet__body">

                <div class="row col-lg-12" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'">
                    <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
                </div>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                                    <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent>
                                    </m-division>
                                    <!-- <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type> -->
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showState">
                                    <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                                    </m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showDesignation">
                                    <m-designation [check]=false (valueChange)="getDesignation($event)"
                                        #callMonthComponent>
                                    </m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showDistrict">
                                    <m-district [check]=true (valueChange)="getDistrictValue($event)"
                                        #callDistrictComponent></m-district>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-status [check]=false (valueChange)="getStatusValue($event)" #callStatusComponent>
                                    </m-status>
                                </div>


                                <!-- <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
									<label class="form-control-label">* Employee Name:</label>
									<m-employee [check]=false (valueChange)="getEmployeeValue($event)" #callEmployeeComponent></m-employee>
								</div> -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-month (valueChange)="getMonth($event)" #callMonthComponent></m-month>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-year (valueChange)="getYear($event)" #callYearComponent></m-year>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent"
                                        [disabled]="!finalizeExpnesForm.valid"><span><i
                                                class="la la-check"></i></span>Generate Report</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>

<div *ngIf="isShowReportExpense">
    <m-portlet>
        <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Finalize Expense Report
                </h3>
            </div>
        </ng-container>
        <div mPortletHeadTools>
            <div>
                <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
                    style="float: right;" class="col-sm-1" (click)="exporttoExcel()"><i class="fa fa-file-excel"
                        style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i></span>
            </div>
        </div>
        <ng-container mPortletBody>
            <div class="table-container mat-elevation-z8">
                <table class="tableWidth table-responsive" #table1 mat-table [dataSource]="dataSource2" matSort
                    id="tableId1">
                    <ng-container matColumnDef="sn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> S.N. </th>
                        <td mat-cell *matCellDef="let element; let i = index;">
                            {{(paginator2.pageIndex) * paginator2.pageSize + (1 + i)}}</td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="expense(element)" style="font: weight 500;" routerLink=".">
                                {{element?.__data?.name}} </a>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="desig">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
                        <td mat-cell *matCellDef="let element">
                            {{element?.__data.designation}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="appByMgr">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>App By Mgr</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.hasOwnProperty("appByMgr")===true?(element.appByMgr.length>0?"Yes":"No"):"---"}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="appByAdm">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>App By Admin</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.hasOwnProperty("appByAdm")===true?(element.appByAdm.length>0?"Yes":"No"):"---"}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="distance">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Distance</th>
                        <td mat-cell *matCellDef="let element">

                            {{element.hasOwnProperty("distance")===true?element.distance:"---"}}

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="da">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>DA</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.hasOwnProperty("da")===true?(element.da).toFixed(2):"---"}}
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="daMgr">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>DA Mgr</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.hasOwnProperty("daMgr")===true?(element.daMgr).toFixed(2):"---"}}
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="daAdmin">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>DA Admin</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.hasOwnProperty("daAdmin")===true?(element.daAdmin).toFixed(2):"---"}}

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="fare">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fare</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.hasOwnProperty("fare")===true?(element.fare).toFixed(2):"---"}}

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="fareMgr">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fare Mgr</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.hasOwnProperty("fareMgr")===true?(element.fareMgr).toFixed(2):"---"}}

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="fareAdmin">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fare Admin</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.hasOwnProperty("fareAdmin")===true?(element.fareAdmin).toFixed(2):"---"}}

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="miscExpense">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Misc Expense</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.hasOwnProperty("miscExpense")===true?(element.miscExpense).toFixed(2):"---"}}

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="miscExpenseMgr">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Misc Expense Mgr</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.hasOwnProperty("miscExpenseMgr")===true?(element.miscExpenseMgr).toFixed(2):"---"}}

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="miscExpenseAdmin">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Misc Expense Admin</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.hasOwnProperty("miscExpenseAdmin")===true?(element.miscExpenseAdmin).toFixed(2):"---"}}

                        </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="totalFixedExpense">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fixed Expense</th>
                    <td mat-cell *matCellDef="let element">{{element.totalFixedExpense}}</td>
                </ng-container> -->
                    <!-- // by nipun => for now (temporarily) we are calculating total expense at frontend 03-JUN--2020 -->
                    <ng-container matColumnDef="totalExpense">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Expense</th>
                        <td mat-cell *matCellDef="let element">
                            <!-- {{element.hasOwnProperty("totalExpense")===true?element.totalExpense:"---"}} -->
                            {{element.hasOwnProperty('totalExpense')===true?(element.totalExpense):'---'}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="totalExpenseMgr">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Expense Mgr</th>
                        <td mat-cell *matCellDef="let element">
                            <!-- {{element.hasOwnProperty("totalExpenseMgr")===true?element.totalExpenseMgr:"---"}} -->
                            {{element.hasOwnProperty('totalExpenseMgr')===true?(element.totalExpenseMgr):'---'}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="totalExpenseAdmin">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Expense Admin</th>
                        <td mat-cell *matCellDef="let element">
                            <!-- {{element.hasOwnProperty("totalExpenseAdmin")===true?element.totalExpenseAdmin:"---"}} -->
                            {{element.hasOwnProperty('totalExpenseAdmin')===true?(element.totalExpenseAdmin):'---'}}
                        </td>
                    </ng-container>
                    <!-- // by nipun  03-JUN--2020 END -->

                    <ng-container matColumnDef="approveButton">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Approve Expense</th>
                        <td mat-cell *matCellDef="let element">
                            <span
                                *ngIf="(element.hasOwnProperty('da')===true && element.appByAdm.length===0 && element.appByMgr.length===0 && currentUser.userInfo[0].rL>1)">
                                <a mat-button color="primary" (click)="finalizeExpense(element.__data.userId)"
                                    routerLink=".">Approve</a>
                            </span>
                            <span
                                *ngIf="(element.hasOwnProperty('da')===true && element.appByAdm.length===0 && currentUser.userInfo[0].rL===0)">
                                <a mat-button color="primary" (click)="finalizeExpense(element.__data.userId)"
                                    routerLink=".">Approve</a>
                            </span>
                            <span *ngIf="element.hasOwnProperty('da')===false" style="text-align: center;">
                                ---
                            </span>

                        </td>
                    </ng-container>


                    <ng-container matColumnDef="loading">
                        <mat-footer-cell *matFooterCellDef>
                            Loading data...
                        </mat-footer-cell>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource2!=null}">
                    </mat-footer-row>
                </table>
                <mat-paginator #paginator2 [length]="dataSource2?.data?.length || 0" [pageSizeOptions]=[5,10,20,50]
                    [pageSize]="10" showFirstLastButtons></mat-paginator>
                <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
                    <mat-progress-spinner color="primary" mode="indeterminate">
                    </mat-progress-spinner>

                </mat-card>
            </div>
        </ng-container>
    </m-portlet>
</div>



<div *ngIf="isShowReport">
    <m-portlet>
        <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Finalize Expense User Wise
                </h3>
            </div>
        </ng-container>
        <div mPortletHeadTools>
            <div style="float: right;">
                <!-- <button mat-stroked-button (click)='PrintTableFunction()'>Print</button> -->
                <span matTooltip="Print" matTooltipPosition="above" aria-label="Displays a tooltip"
                    (click)="PrintTableFunction()"><i class="fa fa-print"
                        style="cursor:pointer; color: blue;font-size: 2em;" aria-hidden="true"></i></span>
                <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
                    (click)="exporttoExcel2()"><i class="fa fa-file-excel"
                        style="cursor:pointer; color: green;font-size: 2em;margin-left: 1.5rem;"
                        aria-hidden="true"></i></span>
            </div>


        </div>
        <ng-container mPortletBody>


            <mat-card class="mb-2">
                <mat-grid-list cols="3" rowHeight="35px;">

                    <mat-grid-tile>
                        <div class="row width100">

                            <span class="text-left">Name : {{approveExpenseUserId.__data.name}}</span>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="row width100">

                            <span class="text-left">Designation : {{approveExpenseUserId.__data.designation}}</span>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="row width100" *ngIf="approvedByMgr==='Yes'">

                            <span class="text-left">Manager Name : {{approveExpenseUserId.mgrName}}</span>
                        </div>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <div class="row width100">

                            <span class="text-left">Month : {{finalizeExpnesForm.value.month.monthName }}</span>
                        </div>

                    </mat-grid-tile>
                   
                    <mat-grid-tile>
                        <div class="row width100">

                            <span class="text-left">Year : {{finalizeExpnesForm.value.year }}</span>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="row width100" *ngIf="approvedByMgr==='Yes'">

                            <span class="text-left">Approved Date :
                                {{approveExpenseUserId.appMgrDate | date:'medium'}}</span>
                        </div>

                    </mat-grid-tile>

                </mat-grid-list>
                <mat-grid-list cols="3" rowHeight="35px;" style="border: solid 1px #000;">
                    <mat-grid-tile>
                        <div class="row width100">

                            <span class="text-left">HQ : {{DAValue[0].daHQ }}</span>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="row width100">

                            <span class="text-left">EX : {{DAValue[0].daEX }}</span>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="row width100">

                            <span class="text-left">OUT : {{DAValue[0].daOUT }}</span>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="2" rowHeight="40px;">
                    <mat-grid-tile>
                        <div style="font-size:12px;">
                            <span class="dot"></span> Modified By Manager & Admin
                            <span class="dot1"></span> Modified By Manager
                            <span class="dot2"></span> Modified By Admin
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile><span style="color:red;">Approved By Manager : {{approvedByMgr}} &nbsp; Approved By
                            Admin : {{approvedByAdmin}}</span></mat-grid-tile>
                </mat-grid-list>
            </mat-card>

            <div class="table-container">

                <table #table class="tableWidth2 table-responsive" mat-table [dataSource]="dataSource" matSort
                    id="tableId2">
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
                        <td mat-cell *matCellDef="let element;">
                            <button mat-icon-button [disabled]=isDisableButton color="accent"
                                (click)="modifyExpense(element)">
                                <mat-icon color='warn'>edit</mat-icon>
                            </button>
                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>

                    </ng-container>

                    <ng-container matColumnDef="dcrDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element;">
                            {{element?.dcrDate | date:'dd-MM-yyyy'}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="userName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element;">
                            {{element?.userLogin?.name}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>

                    </ng-container>

                    <ng-container matColumnDef="workingStatus">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Working Status
                        </th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
                                    {{element.workingStatus}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>

                    </ng-container>

                    <ng-container matColumnDef="plannedBlock">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Planned From --- Planned To
                        </th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
                            <ul style="list-style: none;">
                                <li *ngFor="let block of element.visitedBlock">
                                    {{block.from}} --- {{block.to}}
                                </li>
                            </ul>
                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>

                    </ng-container>
                    <ng-container matColumnDef="visitedBlock">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Visited From --- Visited To
                        </th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
                            <ul style="list-style: none;">
                                <li *ngFor="let block of element.visitedAreaAsPerProviderVisit">
                                    {{block.fromArea}} --- {{block.toArea}}
                                </li>
                            </ul>
                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="expenseType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Misc. Expense Type
                        </th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
                            <div *ngIf="element.miscExpenseType ;  else elseBlock" class="d-flex">
                                <ul style="list-style: none;">
                                    <li *ngFor="let type of element.miscExpenseType">
                                        {{type}}
                                    </li>
                                </ul>
                            </div>
                            <ng-template #elseBlock>----</ng-template>
                        </td>
                        <td mat-footer-cell *matFooterCellDef> Total </td>

                    </ng-container>
                    <ng-container matColumnDef="distance">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Distance User</th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
                            {{element.distance.toFixed(2)}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef>{{ (totalDistance).toFixed(2) }}</td>

                    </ng-container>
                    <ng-container matColumnDef="distanceMgr">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Distance MGR</th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
                            {{element.hasOwnProperty("distanceMgr") == true ? element.distanceMgr : "---" }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef>{{ (totalDistanceMgr).toFixed(2) }}</td>

                    </ng-container>
                    <ng-container matColumnDef="distanceAdmin">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Distance Admin</th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
                            {{element.hasOwnProperty("distanceAdmin") == true ? element.distanceAdmin : "---" }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef>{{ (totalDistanceAdmin).toFixed(2) }}</td>

                    </ng-container>
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type </th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
                            {{element.hasOwnProperty("type")===true?element.type:"---" | uppercase}} </td>
                        <td mat-footer-cell *matFooterCellDef> &nbsp; </td>

                    </ng-container>



                    <ng-container matColumnDef="da">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>DA </th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
                            {{ element.hasOwnProperty("da")===true?element.da:"---"}}
                        </td>
                        <!-- <td mat-footer-cell *matFooterCellDef> {{totalDa }} </td> -->
                        <td mat-footer-cell *matFooterCellDef>{{ (totalDa).toFixed(2) }}</td>

                    </ng-container>
                    <ng-container matColumnDef="daMgr">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>DA Mgr </th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
                            {{ element.hasOwnProperty("daMgr")===true?element.daMgr:"---"}}
                        </td>
                        <!-- <td mat-footer-cell *matFooterCellDef> {{totalDaMgr }} </td> -->
                        <td mat-footer-cell *matFooterCellDef>{{ (totalDaMgr).toFixed(2) }}</td>

                    </ng-container>
                    <ng-container matColumnDef="daAdmin">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>DA Admin </th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
                            {{ element.hasOwnProperty("daAdmin")===true?element.daAdmin:"---"}}

                        </td>
                        <!-- <td mat-footer-cell *matFooterCellDef> {{totalDaAdmin }} </td> -->
                        <td mat-footer-cell *matFooterCellDef>{{ (totalDaAdmin).toFixed(2) }}</td>

                    </ng-container>


                    <ng-container matColumnDef="fare">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fare </th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
                            {{ element.hasOwnProperty("fare")===true?element.fare:"---"}}

                        </td>
                        <!-- <td mat-footer-cell *matFooterCellDef> {{totalFare }} </td> -->
                        <td mat-footer-cell *matFooterCellDef>{{ totalFare.toFixed(2) }}</td>

                    </ng-container>
                    <ng-container matColumnDef="fareMgr">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fare Mgr</th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
                            {{ element.hasOwnProperty("fareMgr") === true ? (element.fareMgr) : "---"}}

                        </td>
                        <!-- <td mat-footer-cell *matFooterCellDef> {{totalFareMgr }} </td> -->
                        <td mat-footer-cell *matFooterCellDef>{{ (totalFareMgr).toFixed(2) }}</td>

                    </ng-container>
                    <ng-container matColumnDef="fareAdmin">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fare Admin</th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
                            {{ element.hasOwnProperty("fareAdmin")===true?element.fareAdmin:"---"}}

                        </td>
                        <!-- <td mat-footer-cell *matFooterCellDef> {{totalFareAdmin }} </td> -->
                        <td mat-footer-cell *matFooterCellDef>{{ (totalFareAdmin).toFixed(2) }}</td>

                    </ng-container>
                    <ng-container matColumnDef="miscExpense">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Misc Expense </th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
                            {{ element.hasOwnProperty("miscExpense")===true?element.miscExpense:"---"}}

                        </td>
                        <!-- <td mat-footer-cell *matFooterCellDef> {{totalMiscExpense }} </td> -->
                        <td mat-footer-cell *matFooterCellDef>{{ (totalMiscExpense).toFixed(2) }}</td>

                    </ng-container>

                    <ng-container matColumnDef="miscExpenseMgr">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Misc Expense Mgr</th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
                            {{ element.hasOwnProperty("miscExpenseMgr")===true?element.miscExpenseMgr:"---"}}

                        </td>
                        <!-- <td mat-footer-cell *matFooterCellDef> {{totalMiscExpenseMgr }} </td> -->
                        <td mat-footer-cell *matFooterCellDef>{{(totalMiscExpenseMgr).toFixed(2) }}</td>

                    </ng-container>
                    <ng-container matColumnDef="miscExpenseAdmin">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Misc Expense Admin </th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
                            {{ element.hasOwnProperty("miscExpenseAdmin")===true?element.miscExpenseAdmin:"---"}}

                        </td>
                        <!-- <td mat-footer-cell *matFooterCellDef> {{totalMiscExpenseAdmin }} </td> -->
                        <td mat-footer-cell *matFooterCellDef>{{ (totalMiscExpenseAdmin).toFixed(2) }}</td>

                    </ng-container>
                    <!-- // by nipun => for now (temporarily) we are calculating total expense at frontend 03-JUN--2020 -->
                    <ng-container matColumnDef="totalExpense">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Expense </th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
                            <!-- {{ element.hasOwnProperty("totalExpense")===true?element.totalExpense:"---"}} -->
                            {{element.totalExpenseCalculated?element.totalExpenseCalculated:"---"}}

                        </td>
                        <td mat-footer-cell *matFooterCellDef> {{sumByKey('totalExpenseCalculated').toFixed(2) }} </td>
                        <!-- <td mat-footer-cell *matFooterCellDef>{{ (totalExpenseCalculated).toFixed() }}</td> -->

                    </ng-container>
                    <ng-container matColumnDef="totalExpenseMgr">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Expense Mgr </th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
                            <!-- {{ element.hasOwnProperty("totalExpenseMgr")===true?element.totalExpenseMgr:"---"}} -->
                            {{element.totalExpenseCalculatedMgr?element.totalExpenseCalculatedMgr:"---"}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> {{sumByKey('totalExpenseCalculatedMgr').toFixed(2) }} </td>
                        <!-- <td mat-footer-cell *matFooterCellDef>{{ (totalExpenseMgr).toFixed() }}</td> -->

                    </ng-container>
                    <ng-container matColumnDef="totalExpenseAdmin">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Expense Admin</th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
                            <!-- {{ element.hasOwnProperty("totalExpenseAdmin")===true?element.totalExpenseAdmin:"---"}} -->
                            <!-- totalExpenseCalculatedAdmin REmoved because changes not reflect on portel Gourav 16-09-2021 -->
                            {{element.totalExpenseAdmin?element.totalExpenseAdmin:"---"}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef>{{sumByKey('totalExpenseAdmin').toFixed(2) }} </td>
                        <!-- <td mat-footer-cell *matFooterCellDef>{{ (totalExpenseAdmin).toFixed() }}</td> -->

                    </ng-container>
                    <!-- // by nipun 03-JUN--2020  END -->

                    <ng-container matColumnDef="remarks">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Remarks </th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
                            {{ element.hasOwnProperty("remarks")===true &&
                            element.remarksAdmin!=""?element.remarks:"---"}}

                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>

                    </ng-container>
                    <ng-container matColumnDef="remarksMgr">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Remarks Mgr</th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
                            {{ element.hasOwnProperty("remarksMgr")===true &&
                            element.remarksAdmin!=""?element.remarksMgr:"---"}}

                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>

                    </ng-container>
                    <ng-container matColumnDef="remarksAdmin">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Remarks Admin </th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
                            {{ element.hasOwnProperty("remarksAdmin")===true &&
                            element.remarksAdmin!=""?element.remarksAdmin:"---"}}

                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>

                    </ng-container>

                    <!-- <ng-container matColumnDef="doctorCalls">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Doctor Calls </th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element"> {{element?.doctorCalls}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="chemistCalls">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Chemist Calls </th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element"> {{element?.chemistCalls}} </td>
                    </ng-container> -->

                    <ng-container matColumnDef="jointWork">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Joint Work </th>
                        <td mat-cell [style.background-color]="'#' + element?.color" *matCellDef="let element">
                            {{element.hasOwnProperty("jointWork")===true?element.jointWork:"---"}} </td>
                        <td mat-footer-cell *matFooterCellDef> </td>

                    </ng-container>
                    <ng-container matColumnDef="uploadPicture">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Uploaded Picture </th>
                        <td mat-cell *matCellDef="let element">
                            <div *ngIf="element.modifiedFileName ;  else elseBlock" class="d-flex">
                                <ul *ngFor="let id of element.modifiedFileName" style="list-style:none">
                                    <li>
                                        <a (click)="showImage(id)"
                                            style="font-size:250%; cursor:pointer; color:rgb(18, 70, 2);"><i
                                                class='la la-image' style="font-size: 80%;"></i></a>
                                        <mat-icon (click)="downloadAttachedFile(id)">get_app</mat-icon>
                                    </li>
                                </ul>
                            </div>
                            <ng-template #elseBlock>----</ng-template>
                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>


                    <!-- <ng-container  matColumnDef="uploadPicture">
                       <th mat-header-cell *matHeaderCellDef mat-sort-header> Uploaded Picture </th>
                         <td mat-cell  *matCellDef="let element">
                            <ul *ngFor="let id of element.fileId">
                                <li>
                                    <a (click)="showImage(id)" style="font-size:250%; cursor:pointer; color:rgb(18, 70, 2);"><i
                                                        class='la la-image' style="font-size: 80%;"></i></a>
                                </li>
                            </ul>
                        </td>
                          <td mat-cell *ngIf="!element.fileId" *matCellDef="let element">
                            --------
                        </td>
                          <td mat-footer-cell *matFooterCellDef> </td> 
                    </ng-container>  -->


                    <!-- <ng-container matColumnDef="loading">
                        <mat-footer-cell *matFooterCellDef>
                            Loading data...
                        </mat-footer-cell>
                    </ng-container> -->

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns sticky: true"></tr>

                    <!-- <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row> -->
                </table>

                <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
                    <mat-progress-spinner color="primary" mode="indeterminate">
                    </mat-progress-spinner>

                </mat-card>

            </div>

            <ng-container mPortletBody>
                <div class="m-portlet__body">
                    <div class="row">
                        <div class="col-xl-12 ">
                            <div class="m-form__section m-form__section--first">
                                <div class="form-group m-form__group row" *ngIf="isShowReport" align="center">

                                    <div class="col-lg-12 m-form__group-sub">
                                        <table border="1">
                                            <thead>
                                                <tr>
                                                    <th style="color:white">Fix Expense</th>
                                                    <th style="color:white">Amount</th>
                                                    <th style="color:white">Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <!-- <tr *ngFor="let fix of dataSourceFixed">
                                                    <td>{{(fix?.fixExpense)? fix.fixExpense : '---'}}</td>
                                                    <td>{{(fix?.amount)? fix.amount : '---'}}</td>
                                                </tr> -->
                                                <tr>
                                                    <td>Mobile</td>
                                                    <td>{{(dataSourceFixed && dataSourceFixed[0] &&
                                                        dataSourceFixed[0]?.mobileAllowance>0 && dataSourceFixed[0]?.mobileAllowance != null)?
                                                        (dataSourceFixed[0]?.mobileAllowance): '---'}}
                                                    </td>
                                                    <td>
                                                        <input type="text" [(ngModel)]="MobileRemarks"
                                                            placeholder="Enter Remarks" size="30">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Net Allowance</td>
                                                    <td>{{(dataSourceFixed && dataSourceFixed[0] &&
                                                        dataSourceFixed[0]?.netAllowance)?
                                                        (dataSourceFixed[0]?.netAllowance) : '---'}}
                                                    </td>
                                                    <td>
                                                        <input type="text" [(ngModel)]="NetRemarks"
                                                            placeholder="Enter Remarks" size="30">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>Special Allounces</td>
                                                    <td>{{(dataSourceFixed && dataSourceFixed[0] &&dataSourceFixed[0]?.specialAllowance != null) ? (dataSourceFixed[0]?.specialAllowance) : '---'}}
                                                    </td>
                                                    <td></td>
                                                   
                                                </tr>

                                                <tr>
                                                    <td>Addition</td>
                                                    <td><input type="number" [(ngModel)]="IncrementAmount" size="4">
                                                    </td>
                                                    <td>
                                                        <input type="text" [(ngModel)]="IncrementRemarks"
                                                            placeholder="Enter Remarks" size="30">
                                                    </td>


                                                </tr>
                                                <tr>
                                                    <td>Deduction</td>
                                                    <td><input type="number" [(ngModel)]="deductionAmount" size="4">
                                                    </td>
                                                    <td>
                                                        <input type="text" [(ngModel)]="deductionRemarks"
                                                            placeholder="Enter Remarks" size="30">
                                                    </td>


                                                </tr>
                                                <tr [hidden]="hideachievement">
                                                    <td>Achievements</td>
                                                    <td><input type="number" [(ngModel)]="achievementsAmount" size="4">
                                                    </td>
                                                    <td>
                                                        <input type="text" [(ngModel)]="achievementsRemarks"
                                                            placeholder="Enter Remarks" size="30">
                                                    </td>


                                                </tr>
                                                
                                                <tr style="font-weight: bold;">
                                                    <td>Grand Total</td>
                                                    <!-- <td>{{total}}</td> -->
                                                    <td>{{total -deductionAmount + IncrementAmount
                                                        }}
                                                    </td>
                                                    <td>
                                                        <input type="text" [(ngModel)]="TotalRemarks"
                                                            placeholder="Enter Remarks" size="30">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </ng-container>
            <div style="text-align: center;" *ngIf="isShowReport">
                <button mat-raised-button color="warn" [disabled]="approveExpenseUserId.appByAdm.length>0?true:false"
                    (click)="finalizeExpense(approveExpenseUserId.__data.userId)">Approve Expense</button>
            </div>
        </ng-container>
    </m-portlet>
</div>


<div class="col-xl-12" *ngIf="showProcessing" align="center">
    <img src="assets/app/media/img/processing/loading.gif">
</div>