ul {
	padding: 0;
}

li {
	background-repeat: no-repeat;
	background-position: 100% 0.4em;
}

// modified by manager & Admin
.dot {
	height: 15px;
	width: 15px;
	background-color: #ffe0b2;
	border-radius: 50%;
	display: inline-block;
}

//modified Manager
.dot1 {
	height: 15px;
	width: 15px;
	background-color: #f8bbd0;
	border-radius: 50%;
	display: inline-block;
}

// modifed by admin
.dot2 {
	height: 15px;
	width: 15px;
	background-color: #c8e6c9;
	border-radius: 50%;
	display: inline-block;
}

.text-left {
	width: 100%;
	height: 30px;
	margin-left: 20px;
	font-weight: bold;
	font-size: 12px;
}

.mat-footer-cell {
	font-size: 1.1rem;
	font-weight: 500;
}
.tableWidth2 {
	height: 33rem;
}