<m-portlet [options]="{enableSticky: true}">
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Approval Master
      </h3>
    </div>
  </ng-container>
  <ng-container mPortletBody>
    <div class="row" *ngIf="isShowOnLoadTable">
      <div class="col-xl-6">
        <ng-container mPortletHeadTitle>
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Addition Requests
            </h3>
          </div>
        </ng-container>
          <table class="table table-striped tableWidth">
            <thead>
              <tr >
                <th class="mat-header-cell">Request For</th>
                <th class="mat-header-cell">Count</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  {{this.currentUser.company.lables.areaLabel}}
                </td>
                <td><b><a href="javascript:void(0);" (click)="approveEmployeewiseRequests(this.currentUser.company.lables.areaLabel)">
                   {{ dataSource1[0].areaApproveReq}}
                  </a></b>
                </td>
              </tr>
              <tr>
                <td>
                  {{this.currentUser.company.lables.doctorLabel}}
                </td>
                <td>
                    <b><a href="javascript:void(0);" (click)="approveEmployeewiseRequests(this.currentUser.company.lables.doctorLabel)">
                      {{ dataSource1[0].doctorApproveReq}}
                    </a></b>
                </td>
              </tr>
              <tr>
                <td *ngIf="!this.currentUser.company.lables.other">
                  {{this.currentUser.company.lables.vendorLabel}}
                </td>
                <td *ngIf="this.currentUser.company.lables.other">
                  {{this.currentUser.company.lables.other}}
                </td>
                <td *ngIf="!this.currentUser.company.lables.other">
                    <b><a href="javascript:void(0);" (click)="approveEmployeewiseRequests(this.currentUser.company.lables.vendorLabel)">
                    {{ dataSource1[0].vendorApproveReq}}
                  </a></b>
                </td>
                <td *ngIf="this.currentUser.company.lables.other">
                    <b><a href="javascript:void(0);" (click)="approveEmployeewiseRequests(this.currentUser.company.lables.other)">
                    {{ dataSource1[0].vendorApproveReq}}
                    </a>
                  </b>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col-xl-6">
          <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                  Deletion Requests
              </h3>
            </div>
          </ng-container>
            <table class="table table-striped tableWidth">
              <thead>
                <tr>
                  <th class="mat-header-cell">Request For</th>
                  <th class="mat-header-cell">Count</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    {{this.currentUser.company.lables.areaLabel}}
                  </td>
                  <td>
                    <b><a href="javascript:void(0);" (click)="deleteEmployeewiseRequests(this.currentUser.company.lables.areaLabel)">
                      {{ dataSource1[0].areaDeletionReq}}
                    </a> 
                    </b>
                  </td>
                </tr>
                <tr>
                  <td>
                    {{this.currentUser.company.lables.doctorLabel}}
                  </td>
                  <td>
                      <b><a href="javascript:void(0);" (click)="deleteEmployeewiseRequests(this.currentUser.company.lables.doctorLabel)">
                      {{ dataSource1[0].doctorDeletionReq}}
                    </a>
                    </b>
                  </td>
                </tr>
                <tr>
                  <td *ngIf="!this.currentUser.company.lables.other">
                    {{this.currentUser.company.lables.vendorLabel}}
                  </td>
                  <td *ngIf="this.currentUser.company.lables.other">
                    {{this.currentUser.company.lables.other}}
                  </td>
                  <td *ngIf="!this.currentUser.company.lables.other">
                      <b><a href="javascript:void(0);" (click)="deleteEmployeewiseRequests(this.currentUser.company.lables.vendorLabel)">
                      {{ dataSource1[0].vendorDeletionReq}}
                    </a>
                    </b>
                  </td>
                  <td *ngIf="this.currentUser.company.lables.other">
                      <b><a href="javascript:void(0);" (click)="deleteEmployeewiseRequests(this.currentUser.company.lables.other)">
                      {{ dataSource1[0].vendorDeletionReq}}
                    </a>
                    </b>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
  </ng-container> 
</m-portlet>
<ng-container mPortletBody>
    <div class="row" *ngIf="employeewiseCount">
      <div class="col-xl-12">
        <ng-container mPortletHeadTitle>
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              User`s {{this.approvalType}} {{this.header}} Requests
            </h3>
          </div>
        </ng-container>
        <div class="table-container mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
           
            <ng-container matColumnDef="sn">
                <th mat-header-cell *matHeaderCellDef>SN.</th>
                <td mat-cell *matCellDef="let element; let i = index;">  {{i+1}} </td>
              </ng-container>
            <ng-container matColumnDef="stateName">
              <th mat-header-cell *matHeaderCellDef>State Name </th>
              <td mat-cell *matCellDef="let element"> {{element._id.stateName}} </td>
            </ng-container>
            <ng-container matColumnDef="districtName">
              <th mat-header-cell *matHeaderCellDef>District Name </th>
              <td mat-cell *matCellDef="let element"> {{element._id.District}} </td>
            </ng-container>
            <ng-container matColumnDef="userName">
              <th mat-header-cell *matHeaderCellDef>User Name </th>
              <td mat-cell *matCellDef="let element"> {{element._id.userName}} </td>
            </ng-container>
            <ng-container matColumnDef="count" *ngIf="isShowApprove">
              <th mat-header-cell *matHeaderCellDef> Total Request</th>
              <td mat-cell *matCellDef="let element"> <a href="javascript:void(0);" class="font-weight-bold" (click)="approveRequests(element._id.userId,this.approvalType)">{{element.total}} </a></td>
            </ng-container>
            <ng-container matColumnDef="count" *ngIf="isShowDelete">
                <th mat-header-cell *matHeaderCellDef> Total Request</th>
                <td mat-cell *matCellDef="let element"> <a href="javascript:void(0);" class="font-weight-bold" (click)="deleteRequests(element._id.userId,this.approvalType)">{{element.total}} </a></td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
          </table>
        </div>
      </div>
    </div>
  </ng-container>
<br>
<ng-container mPortletBody>
  <div class="row" *ngIf="showData">
    <div class="col-xl-12">
      <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
              {{this.approvalType}} List
          </h3>
        </div>
      </ng-container>
      <div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource2">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null"
                [checked]="selection.isSelected(element)"></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="stateName">
            <th mat-header-cell *matHeaderCellDef>State Name </th>
            <td mat-cell *matCellDef="let element"> {{element?.stateName}} </td>
          </ng-container>
          <ng-container matColumnDef="districtName">
            <th mat-header-cell *matHeaderCellDef>District Name </th>
            <td mat-cell *matCellDef="let element"> {{element?.districtName}} </td>
          </ng-container>
          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef>User Name </th>
            <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
          </ng-container>
          <ng-container matColumnDef="areaName">
            <th mat-header-cell *matHeaderCellDef> {{this.currentUser.company.lables.areaLabel}} Name </th>
            <td mat-cell *matCellDef="let element"> {{element.areaName}} </td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type </th>
            <td mat-cell *matCellDef="let element"> {{element?.type | uppercase }} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
          <ng-container matColumnDef="deleteReason">
            <th mat-header-cell *matHeaderCellDef>Reason </th>
            <td mat-cell *matCellDef="let element"> {{element.deleteReason}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <br>
      <div class="row" [hidden]=!showApproveButton>
        <div class="col-auto m-form__group-sub">
          <label class="form-control-label">&nbsp; </label>
          <button mat-raised-button color="accent" (click)="approveDeleteAreaAndMapping(selection._selected,'approve')"
            [disabled]="!selection._selected">Approve
          </button>
        </div>
        <div class="col-auto m-form__group-sub">
          <button mat-raised-button color="accent" (click)="approveDeleteAreaAndMapping(selection._selected,'reject')"
            [disabled]="!selection._selected">Reject</button>
        </div>
      </div>
      <div class="row" [hidden]=!showDeletetButton>
        <div class="col-lg-3 m-form__group-sub">
          <label class="form-control-label">&nbsp; </label>
          <button mat-raised-button color="warn" (click)="approveDeleteAreaAndMapping(selection._selected,'delete')"
            [disabled]="!selection._selected">Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container mPortletBody>
  <div class="row" *ngIf="showRMPData">
    <div class="col-xl-12">
      <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
              {{this.approvalType}} Requests
          </h3>
        </div>
      </ng-container>
      <div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceForRMP">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle1() : null" [checked]="selection.hasValue() && isAllSelected1()"
                [indeterminate]="selection.hasValue() && !isAllSelected1()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null"
                [checked]="selection.isSelected(element)"></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="providerstateName">
            <th mat-header-cell *matHeaderCellDef>State Name </th>
            <td mat-cell *matCellDef="let element"> {{element?.providerstateName}} </td>
          </ng-container>
          <ng-container matColumnDef="providerdistrictName">
            <th mat-header-cell *matHeaderCellDef>District Name </th>
            <td mat-cell *matCellDef="let element"> {{element.providerdistrictName}} </td>
          </ng-container>
          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef>User Name </th>
            <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
          </ng-container>
          <ng-container matColumnDef="providerblockName">
            <th mat-header-cell *matHeaderCellDef>{{this.currentUser.company.lables.areaLabel}} Name </th>
            <td mat-cell *matCellDef="let element"> {{element.providerblockName}} </td>
          </ng-container>
          <ng-container matColumnDef="providerName">
            <th mat-header-cell *matHeaderCellDef>{{this.approvalType}} Name </th>
            <td mat-cell *matCellDef="let element"> {{element.providerName}} </td>
          </ng-container>
          <ng-container matColumnDef="providerCode">
            <th mat-header-cell *matHeaderCellDef>{{this.approvalType}} Code </th>
            <td mat-cell *matCellDef="let element"> {{element.providerCode}} </td>
          </ng-container>
          <ng-container matColumnDef="providerCity">
            <th mat-header-cell *matHeaderCellDef>City</th>
            <td mat-cell *matCellDef="let element"> {{element.providerCity}} </td>
          </ng-container>

          <ng-container matColumnDef="providerAddress">
            <th mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let element"> {{element.providerAddress}} </td>
          </ng-container>

          <ng-container matColumnDef="providerEmail">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element"> {{element.providerEmail}} </td>
          </ng-container>

          <ng-container matColumnDef="providerphone">
            <th mat-header-cell *matHeaderCellDef>Mobile No.</th>
            <td mat-cell *matCellDef="let element"> {{element.providerphone}} </td>
          </ng-container>
          <ng-container matColumnDef="deleteReason">
            <th mat-header-cell *matHeaderCellDef>Reason</th>
            <td mat-cell *matCellDef="let element"> {{element.deleteReason}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <br>
      <div class="row" [hidden]=!showApproveButton>

        <div class="col-auto m-form__group-sub">
          <button mat-raised-button color="accent" (click)="approveDeleteRejectProvider(selection._selected,'approve')"
            [disabled]="!selection._selected">Approve
          </button>
        </div>

        <div class="col-auto m-form__group-sub">
          <button mat-raised-button color="accent" (click)="approveDeleteRejectProvider(selection._selected,'reject')"
            [disabled]="!selection._selected">Reject</button>
        </div>

      </div>
      <div class="row" [hidden]=!showDeletetButton>
        <div class="col-auto m-form__group-sub">
          <label class="form-control-label">&nbsp; </label>
          <button mat-raised-button color="warn" (click)="approveDeleteRejectProvider(selection._selected,'delete')"
            [disabled]="!selection._selected">Delete
          </button>
        </div>
        <div class="col-auto m-form__group-sub">
          <button mat-raised-button color="accent" (click)="approveDeleteRejectProvider(selection._selected,'reject')"
            [disabled]="!selection._selected">Reject</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<br/>
<ng-container>
  <div class="col-xl-12" *ngIf="showProcessing" align="center">
      <img src="assets/app/media/img/processing/loading.gif">
  </div>
</ng-container> 

