<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Upload Data
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div *ngIf="this.selectedType!==''">
            <a class="btn m-btn--pill  m-btn--air btn-outline-success active btn-sm" target="_self"
                href="{{this.downloadUrl}}" download="{{this.downloadFileName}}" style="text-align: right"><b>Download
                    {{this.selectedType}}<span ><i class="la 	la-download font-weight-bold"></i></span></b> </a>
        </div>
    </div>
    <ng-container mPortletBody>
        <form [formGroup]='uploadingData' class="m-form m-form--label-align-left- m-form--state-"
            (ngSubmit)="UploadData()">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <!-- <div class="col-lg-3 m-form__group-sub">
                                <label class="form-control-label">*  Type:</label>
                                  <mat-form-field>
                                      <mat-select placeholder="Select Type" (valueChange)="getType($event)">
                                          <mat-option value="Area">Area</mat-option>
                                          <mat-option value="Doctor">Doctor</mat-option>
                                          <mat-option value="Vendor">Vendor</mat-option>
                                          <mat-option value="Holiday">Holiday</mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div> -->
                                <div class="col-lg-3 m-form__group-sub">
                                    <!-- <label class="form-control-label">*  Type:</label> -->
                                    <mat-list-item class="primary-imenu-item" role="listitem">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-select placeholder="Select Type" (valueChange)="getType($event)">
                                                <mat-option value="Employee">Employee</mat-option>
                                                <mat-option value="Doctor">{{this.currentUser.company.lables.doctorLabel}}</mat-option>
                                                <mat-option value="Chemist">{{this.currentUser.company.lables.vendorLabel}}</mat-option>
                                                <mat-option value="Stockist">{{this.currentUser.company.lables.stockistLabel}}</mat-option>
                                                <mat-option value="Product">Product</mat-option>
                                                <mat-option value="Holiday">Holiday</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-list-item>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                                    <!-- <label class="form-control-label">*  Division:</label> -->
                                    <m-division (valueChange)="getDivisionValue($event)" [check]=false
                                        #callDivisionComponent></m-division>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showState">
                                    <!-- <label class="form-control-label">* State:</label> -->
                                    <m-state (valueChange)="getStateValue($event)" [check]=false #callStateComponent>
                                    </m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!multipleStatus">
                                    <!-- <label class="form-control-label">* State:</label> -->
                                    <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                                    </m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDistrict">
                                    <!-- <label class="form-control-label">* {{this.currentUser.company.lables.hqLabel}}:</label> -->
                                    <m-district [check]=false (valueChange)="getDistrictValue($event)"
                                        #callDistrictComponent></m-district>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showEmployee">
                                    <!-- <label class="form-control-label">* Employee Name:</label> -->
                                    <m-employee [check]=false (valueChange)="getEmployeeValue($event)"
                                        #callEmployeeComponent></m-employee>
                                </div>

                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showUpload">
                                    <!-- <label class="form-control-label">* Upload :</label> -->
                                    <input type="file" #file style="display: inline-block;" (click)="file.value = null" (change)="incomingfile($event)"
                                        placeholder="Upload file" accept=".xlsx">
                                        
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <!-- <label class="form-control-label">&nbsp; </label> -->
                                    <button mat-raised-button color="accent" [disabled]="!uploadingData.valid || (!fileSelected)"><span><i
                                                class="la la-check"></i></span>Upload Data</button>

                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="dataUploading">
                                    <div class="position-relative d-inline-block">
                                        <div class="grey-spinner">
                                            <mat-progress-spinner class="position-absolute" mode="determinate" [strokeWidth]="6" [diameter]="65"
                                                [value]="totalExcelData">
                                            </mat-progress-spinner>
                                        </div>
                                        <mat-progress-spinner color="primary" mode="determinate" [strokeWidth]="6" [diameter]="65"
                                            [value]="ressCount">
                                        </mat-progress-spinner>
                                        <div class="position-absolute" style="
                                                top: 50%;
                                                left: 50%;
                                                transform: translate(
                                                    -50%,
                                                    -50%
                                                );
                                            ">
                                            {{ ressCount }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <!-- <div class="col-xl-12 " style="text-align: right;" *ngIf="this.selectedType!==''">
                        <a class="btn m-btn--pill  m-btn--air btn-outline-success active btn-sm" target="_self" href="{{this.downloadUrl}}" download="{{this.downloadFileName}}" style="text-align: right"><b>Download {{this.selectedType}}<span><i class="la 	la-download"></i></span></b> </a>
                    </div> -->
                </div>
            </div>
        </form>
    </ng-container>
</m-portlet>


<div class="col-xl-12" *ngIf="showProcessing" align="center">
    <img src="assets/app/media/img/processing/loading.gif">
</div>

<div class="m-portlet" [hidden]="!viewTable">
    <div class="m-portlet__body m-portlet__body--no-padding">
        <div class="row m-row--no-padding m-row--col-separator-xl">
            <div class="col-xl-12">
                <div class="m-widget14">
                    <ng-container mPortletHeadTitle>
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Wrong Details in Excel Sheet 
                            </h3>
                        </div>

                    </ng-container>
                    <hr /><br />
                    <table #dataTable class="display" style="width:100%;">
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>