<div class="form-container">
  <div class="d-flex justify-content-between">
    <h1 mat-dialog-title>Edit Form</h1>
  </div>
  <div mat-dialog-content>
    <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="editFareRateCard">

      <div class="row">
        <div class="col-xl-12 ">
          <div class="m-form__section m-form__section--first">
            <div class="form-group m-form__group row">
              <div class="col-lg-3 m-form__group-sub" *ngIf="previousData.isShowDesignation">
                <mat-form-field style="display: inline-block;">
                  <mat-label>Designation</mat-label>
                  <input matInput required formControlName="designation" placeholder="" readonly>
                </mat-form-field>
              </div>
              <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="display: inline-block;">
                  <mat-label>From Distance</mat-label>
                  <input type="number" matInput required formControlName="fromDistance" placeholder="">
                </mat-form-field>
              </div>
              <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="display: inline-block;">
                  <mat-label>To Distance</mat-label>
                  <input type="number" matInput required formControlName="toDistance" placeholder="">
                </mat-form-field>
              </div>
              <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="display: inline-block;">
                  <mat-label>Allowance To Be Get</mat-label>
                  <input matInput required formControlName="allounceToBeGet" placeholder="" readonly>
                </mat-form-field>
              </div>

              <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="display: inline-block;">
                  <mat-label>Applicable To</mat-label>
                  <mat-select formControlName="applicableTo"
                  placeholder="Select Applicable To">
                  <mat-option value="hq">HQ</mat-option>
                  <mat-option value="ex">Ex</mat-option>
                  <mat-option value="out">Out</mat-option>
                </mat-select>
                </mat-form-field>
              </div>

              <!-- <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="display: inline-block;">
                  <mat-label>Applicable To</mat-label>
                  <input matInput required formControlName="applicableTo" placeholder="" readonly>
                </mat-form-field>
              </div> -->
              <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="display: inline-block;">
                  <mat-label>Fare</mat-label>
                  <input type="number" matInput required formControlName="rate" placeholder="">
                </mat-form-field>
              </div>
              <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="display: inline-block;">
                  <mat-label>Description</mat-label>
                  <input matInput required formControlName="description" placeholder="">
                </mat-form-field>
              </div>
              <div class="col-lg-3 m-form__group-sub">
                <mat-form-field style="display: inline-block;">
                  <mat-label>FRC Code</mat-label>
                  <input matInput required formControlName="frcCode" placeholder="">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="buttton-container">
    <span class="buttons">
      <button mat-raised-button color="accent" (click)="updateAndClose()">Save</button>
    </span>
    <span class="buttons">
      <button mat-raised-button (click)="closeModel(false)" color="accent" tabindex="-1">Cancel</button>
    </span>
  </div>
</div>