<m-portlet [options]="{enableSticky: true}">
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        {{currentUser.company.lables.doctorLabel+' & '+currentUser.company.lables.vendorLabel}} wise Sale
      </h3>
    </div>
  </ng-container>
  <div mPortletHeadTools>
    <div>
      <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
  </div>
  <!-- use ng-container[mPortletHeadTools] for the top right toolbar content -->

  <!-- use ng-container[mPortletBody] for the body content -->
  <div mPortletBody [hidden]="!isToggled">
    <form [formGroup]='providerSaleForm' class="m-form m-form--label-align-left- m-form--state"
      (ngSubmit)="getProductDetails()">
      <div class="m-portlet__body">
        <div class="row">
          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">
                <div [hidden]=!showState class="col-lg-3 m-form__group-sub">
                  <m-state (valueChange)="getStateValue($event)" [check]=false></m-state>
                </div>
                <div [hidden]=!showDistrict class="col-lg-3 m-form__group-sub">
                  <div class="m-form__control">
                    <m-district (valueChange)="getDistrictValue($event)" #callDistrictComponent [check]=false>
                    </m-district>
                  </div>
                </div>

                <div [hidden]=!showEmployee class="col-lg-3 m-form__group-sub">
                  <div class="m-form__control">
                    <m-employee (valueChange)="getProviders($event)" #callEmployeeComponent [check]=false></m-employee>
                  </div>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <div class="m-form__control">
                    <m-providers (valueChange)="setProviderValue($event)" #callProvidersComponent [check]=false>
                    </m-providers>
                  </div>
                </div>

                <div class="col-lg-3 m-form__group-sub">
                  <m-month (valueChange)="getMonth($event)" #callMonthComponent></m-month>
                </div>

                <div class="col-lg-3 m-form__group-sub">
                  <m-year (valueChange)="getYear($event)" #callYearComponent></m-year>
                </div>

                <div class="col-lg-3 m-form__group-sub">
                  <button mat-raised-button color="accent" [disabled]="!providerSaleForm.valid"><span><i
                        class="la la-check"></i></span>Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</m-portlet>

<m-portlet [options]="{enableSticky: true}" *ngIf="isShowTable">
  <div mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        {{currentUser.company.lables.doctorLabel+'  '+currentUser.company.lables.vendorLabel}} Linked Details
      </h3>
    </div>
  </div>
  <div mPortletBody>
    <div class="row">
      <div class="col-lg-5">
        <mat-form-field>
          <!-- <mat-label>Filter</mat-label> -->
          <input matInput (keyup)="applyFilter($event)" placeholder="Search Doctor Wise">
        </mat-form-field>
      </div>
    </div>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> S No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
      </ng-container>
      <ng-container matColumnDef="doctor">
        <th mat-header-cell *matHeaderCellDef> {{currentUser.company.lables.doctorLabel}} </th>
        <td mat-cell *matCellDef="let element"> {{element.doctorName}} </td>
      </ng-container>
      <ng-container matColumnDef="chemists">
        <th mat-header-cell *matHeaderCellDef>{{currentUser.company.lables.vendorLabel+'s'}} </th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-list>
            <mat-chip *ngFor="let el of element.chemistList" [removable]="removable" (removed)="remove(element, el)">
              {{el.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>
      <ng-container matColumnDef="Total Sale">
        <th mat-header-cell *matHeaderCellDef> Total Sale </th>
        <td mat-cell *matCellDef="let element">{{totalSaleAmt}}  </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <div *ngIf="dataSource?.length === 0 && loader == 2 ">No records found</div>
    <mat-paginator #paginator [pageSizeOptions]=[5,20,50,100] [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</m-portlet>


<m-portlet [options]="{enableSticky: false}" *ngIf="isShowTable">
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Productwise Sale Submission
      </h3>
    </div>
  </ng-container>
  <!-- use ng-container[mPortletBody] for the body content -->
  <ng-container mPortletBody>
    <form [formGroup]="productwiseSale" (ngSubmit)="submitDetails()">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-lg-5">
              <mat-form-field>
                <!-- <mat-label>Filter</mat-label> -->
                <input matInput (keyup)="applyFilter($event)" placeholder="Search">
              </mat-form-field>
            </div>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th colspan="2">CRM Details </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Enrolled Points
                </td>
                <td>
                  <input type="number" (keyup)="differencePoints()" [formControl]="investment" placeholder="Enter Enrolled">
                </td>
              </tr>
              <tr>
                <td>
                  Acheived Points
                </td>
                <td>
                  <input type="number" (keyup)="differencePoints()" [formControl]="acheived" placeholder="Enter Acheived">
                </td>
              </tr>
              <tr>
                <td>
                  Difference Points
                </td>
                <td>
                  {{differenceValue}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-lg-5">
              <mat-form-field style="width: 100%;">
                <!-- <mat-label>Filter</mat-label> -->
                <input matInput (keyup)="applyFilter($event)" placeholder="Search Product">
              </mat-form-field>
            </div>
          </div>
          <div formArrayName="products" style="overflow-y: auto;height: 300px;">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>S.No.</th>
                  <th>Product Name </th>
                  <th>Sale</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let products of productwiseSale.get('products').controls; let i = index" [formGroupName]=i>
                  <td>
                    {{i+1}}
                  </td>
                  <td>
                    {{products.controls.productName.value}}
                  </td>
                  <td>
                    <input type="number" (keyup)="totalSaleValue()" formControlName="sale" placeholder="Enter Sale">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 m-form__group-sub">
          <label class="form-control-label">&nbsp; </label>
          <button mat-raised-button color="accent"><span><i class="la la-check"></i></span>Submit</button>
        </div>
      </div>
    </form>
  </ng-container>
</m-portlet>



<div class="loader" *ngIf="loader < 2">
  <img src="assets/app/media/img/processing/loading.gif">
</div>