<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Product Edit Form
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletBody>
        <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="productEditForm">
            <!--begin: Form Body -->
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div [hidden]="currentUser.company.isDivisionExist===false" class="col-lg-3 m-form__group-sub" >
                                    <label class="form-control-label">* Division:</label>
                                    <m-division  (valueChange)="getDivisionValue($event)" #callDivisionComponent [check]=true>
                                    </m-division>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">* State:</label>
                                    <m-state  (valueChange)="getStateValue($event)" #callStateComponent [check]=true>
                                    </m-state>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            <br>
            <div class="row col-lg-12">
                <div class="m-form__heading">
                    <h3 class="m-form__heading-title">Product Information</h3>
                </div>

            </div>

            <div class="row">
                <div class="col-xl-12 ">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group m-form__group row">

                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>Product Name</mat-label>
                                    <input matInput required formControlName="productName" placeholder="Name" value={{data.EditDataValues.productName}}>
                                    <mat-error>Product Name is required!!!</mat-error>

                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>Product Code</mat-label>
                                    <input matInput formControlName="productCode" placeholder="Code" value={{data.EditDataValues.productCode}}>

                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>Product Type</mat-label>
                                    <input matInput formControlName="productType" placeholder="Type" value={{data.EditDataValues.productType}}>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>Product Short Name</mat-label>
                                    <input matInput formControlName="productShortName" placeholder="Short Name" value={{data.EditDataValues.productShortName}}>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>Product Package Size</mat-label>
                                    <input matInput formControlName="productPackageSize" placeholder="Package Size"
                                        value={{data.EditDataValues.productPackageSize}}>

                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>Sample Package Size</mat-label>
                                    <input matInput formControlName="samplePackageSize" placeholder="Sample Package Size"
                                        value={{data.EditDataValues.samplePackageSize}}>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <br>
            <div class="row col-lg-12">
                <div class="m-form__heading">
                    <h3 class="m-form__heading-title">Product Rate Information</h3>
                </div>

            </div>
            <div class="row">
                <div class="col-xl-12 ">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>PTW</mat-label>
                                    <input matInput required formControlName="ptw" placeholder="PTW" value={{data.EditDataValues.ptw}}>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>PTR</mat-label>
                                    <input matInput required formControlName="ptr" placeholder="PTR" value={{data.EditDataValues.ptr}}>

                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>MRP</mat-label>
                                    <input matInput required formControlName="mrp" placeholder="MRP" value={{data.EditDataValues.mrp}}>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>Sample Rate</mat-label>
                                    <input matInput formControlName="sampleRate" placeholder="Sample Rate" value={{data.EditDataValues.sampleRate}}>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <mat-form-field style="width:100%;">
                                    <mat-label>Include VAT</mat-label>
                                    <input matInput formControlName="includeVat" placeholder="Include VAT" value={{data.EditDataValues.includeVat}}>
                                </mat-form-field>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="row col-lg-12">
                        <div mat-dialog-actions>
                            <button mat-raised-button color="accent" [mat-dialog-close]="1" (click)="updateProduct()">Update</button>
                            <button mat-raised-button (click)="onNoClick()" color="accent" tabindex="-1">Cancel</button>
                        </div>
                    </div>
            </div>

        </form>
    </ng-container>
</m-portlet>