<m-portlet>
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Provider location view and edit
      </h3>
    </div>
  </ng-container>

  <div mPortletHeadTools>
    <div>
      <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
  </div>

  <ng-container mPortletBody>
    <form [formGroup]='dcrStatus' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)='getRecords()'>
      <div class="m-portlet__body">
        <div class="row">
          <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
        </div>

        <div class="row">
          <div class="col-xl-12">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">
                <div class="col-lg-3 m-form__group-sub">
                  <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                </div> <!-- TYPE FILTER -->

                <div class="col-lg-3 m-form__group-sub" [hidden]='!showDivisionFilter'>
                  <m-division (valueChange)="getDivisionValue($event)" [check]=true #callDivisionComponent>
                  </m-division>
                </div> <!-- DIVIDION FILTER -->

                <div class="col-lg-3 m-form__group-sub" [hidden]='!stateFilter'>
                  <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                  </m-state>
                </div> <!-- STATE FILTER -->

                <div class="col-lg-3 m-form__group-sub" [hidden]='!showHeadquarter'>
                  <m-district (valueChange)="getDistrict($event)" [check]=true #callDistrictComponent>
                  </m-district>
                </div> <!-- HeadQuarter FILTER -->

                <div class="col-lg-3 m-form__group-sub" [hidden]='!employeeFilter'>
                  <m-designation (valueChange)="getDesignation($event)" [check]=true #callDesignationComponent>
                  </m-designation>
                </div> <!-- designation FILTER -->

                <div class="col-lg-3 m-form__group-sub" [hidden]='!employeeFilter'>
                  <m-employee (valueChange)="getEmployee($event)" [check]=true #callEmployeeComponent>
                  </m-employee>
                </div> <!-- Employee FILTER -->



                <div class="col-lg-3 m-form__group-sub">
                  <button mat-raised-button color="accent" [disabled]="!dcrStatus.valid"><span><i
                        class="la la-check"></i></span>View Details</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</m-portlet>


<ng-container>
  <div class="m-portlet" [hidden]="!show">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-xl-12">
          <div class="m-widget14">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Filter">
            </mat-form-field>
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource">
          
                <!-- Position Column -->
          
                <!-- <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> <mat-checkbox class="example-margin"></mat-checkbox>
                </td>
              </ng-container> -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                     [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-checkbox (click)="$event.stopPropagation()"
                     (change)="$event ? selection.toggle(element) : null"
                     [checked]="selection.isSelected(element) || element.showAddGeoLoc === 'yes'"></mat-checkbox>
                  </td>
                            <!-- [checked]="element.showAddGeoLoc === 'yes'" -->

                </ng-container>
                <!-- Name Column -->
          
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Doctor Name </th>
                  <td [ngClass]="element.showAddGeoLoc === 'yes' ? 'is-white' : null" mat-cell *matCellDef="let element">
                    {{element.providerName}} </td>
                </ng-container>
          
                <ng-container matColumnDef="address">
                  <th mat-header-cell *matHeaderCellDef> Address </th>
                  <td [ngClass]="element.showAddGeoLoc === 'yes' ? 'is-white' : null" mat-cell *matCellDef="let element">
                    {{element.address}} </td>
                </ng-container>
          
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Specialization </th>
                  <td [ngClass]="element.showAddGeoLoc === 'yes' ? 'is-white' : null" mat-cell *matCellDef="let element">
                    {{element.specialization}} </td>
                </ng-container>
                <!-- Weight Column -->
                <ng-container matColumnDef="user">
                  <th mat-header-cell *matHeaderCellDef> User </th>
                  <td [ngClass]="element.showAddGeoLoc === 'yes' ? 'is-white' : null" mat-cell *matCellDef="let element">
                    {{element.user.name}} </td>
                </ng-container>
                <!-- Weight Column -->
                <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef> Category </th>
                  <td [ngClass]="element.showAddGeoLoc === 'yes' ? 'is-white' : null" mat-cell *matCellDef="let element">
                    {{element.category}} </td>
                </ng-container>
                <ng-container matColumnDef="districtName">
                  <th mat-header-cell *matHeaderCellDef> DistrictName </th>
                  <td [ngClass]="element.showAddGeoLoc === 'yes' ? 'is-white' : null" mat-cell *matCellDef="let element">
                    {{element.district.districtName}} </td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> Mobile </th>
                  <td [ngClass]="element.showAddGeoLoc === 'yes' ? 'is-white' : null" mat-cell *matCellDef="let element">
                    {{element.phone}} </td>
                </ng-container>
          
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
          
          
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
            </mat-paginator>
            <!-- <pre>{{selection._selected}}</pre> -->
            <div class="row">
              <div class="col-lg-3 m-form__group-sub updates">
                <label class="form-control-label">&nbsp; </label>
                <button mat-raised-button color="accent" (click)="update(selection.selected)"
                  [disabled]="!selection.selected">Update</button>
                <button mat-raised-button color="warn" (click)="Remove(selection.selected)"
                  [disabled]="!selection.selected">Remove</button>
          
              </div>
            </div>
            </div></div></div></div>
   
  </div>
</ng-container>

<div class="col-xl-12" *ngIf="showProcessing" align="center">
  <img src="assets/app/media/img/processing/loading.gif">
</div>