<m-portlet [options]="{enableSticky: true}">
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Modify Standard Tour Program
      </h3>
    </div>
  </ng-container>
  <ng-container mPortletBody>
    <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="stpEditForm" (ngSubmit)="updateSTP()">



      <mat-card>
        <div class="row">
          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">

                <div class="col-lg-2 m-form__group-sub">
                  <mat-form-field style="width:100%">
                    <mat-select formControlName="fromArea" placeholder="Select From">
                      <mat-option *ngFor="let area of areas" value="{{area.areaId}}">{{area.areaName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-2 m-form__group-sub">
                  <mat-form-field style="width:100%">
                    <mat-select formControlName="toArea" placeholder="Select To">
                      <mat-option *ngFor="let area of areas" value="{{area.areaId}}">{{area.areaName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>


                <div class="col-lg-2 m-form__group-sub">
                  <mat-form-field style="width:100%">
                    <mat-select formControlName="type" placeholder="Select Type">
                      <mat-option value="hq">HQ</mat-option>
                      <mat-option value="ex">Ex</mat-option>
                      <mat-option value="out">Out</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-lg-2 m-form__group-sub">
                  <mat-form-field style="width:100%">
                    <input type="number" matInput formControlName="distance" placeholder="Enter Distance in KM">
                  </mat-form-field>
                </div>

                <div class="col-lg-2 m-form__group-sub">
                  <mat-form-field style="width:100%">
                    <input type="number" matInput formControlName="freqVisit" placeholder="Enter Freq. Visit">
                  </mat-form-field>
                </div>
              </div>
            </div>

          </div>

        </div>
      </mat-card><br />
      <div mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close]="1" [disabled]="!stpEditForm.valid" (click)="updateSTP()" color="primary">Modify
          STP</button>
      </div>

    </form>
  </ng-container>
</m-portlet>