<m-portlet [options]="{enableSticky: true}">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                User Creation Form
            </h3>
        </div>

    </ng-container>
    <div mPortletHeadTools>
        <div class="m-portlet__head-data">
            <h4>Allowed Users:{{allowedUsers}} &nbsp;</h4>
            <h4>Active Users: {{alreadyCreatedUser}}</h4>
        </div>
    </div>
    <ng-container mPortletBody>
        <form [formGroup]='userForm' (ngSubmit)="send()">
            <div class="row">
                <div class="col-lg-3">
                    <mat-form-field style="width:100%;">
                        <mat-label>Select State</mat-label>
                        <mat-select placeholder="Select State" required formControlName='stateId'
                            (valueChange)=getStateValue($event)>
                            <mat-option *ngFor="let st of stateData" [value]="st.id">
                                {{st.stateName}}
                            </mat-option>
                        </mat-select>
                        <mat-error>State is required!!!</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field style="width:100%;">
                        <mat-label>Select {{obj.company.lables.hqLabel}}</mat-label>
                        <mat-select placeholder="Select {{obj.company.lables.hqLabel}}" required
                            formControlName='districtId'>
                            <mat-option *ngFor="let dist of districtData" [value]="dist.id">
                                {{dist.districtName}}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{obj.company.lables.hqLabel}} is required!!!</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3" [hidden]="!showDivisionFilter">
                    <mat-form-field style="width:100%;">
                        <mat-label>Select Division</mat-label>
                        <mat-select placeholder="Select Division" [required]='obj.company.isDivisionExist'
                            formControlName='divisionId' multiple>
                            <mat-option *ngFor="let div of divisionData" [value]="div.id">
                                {{div.divisionName}}
                            </mat-option>
                        </mat-select>
                        <mat-error>Division is required!!!</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3" [hidden]="!showDACategoryFilter">
                    <mat-form-field style="width:100%;">
                        <mat-label>Select DA Category</mat-label>
                        <mat-select placeholder="Select Category" 
                            formControlName='daCategory' >
                            <mat-option *ngFor="let div of CategoryData" [value]="div.category">
                                {{div.category}}
                            </mat-option>
                        </mat-select>
                        <mat-error>Category is required!!!</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field style="width:100%;">
                        <mat-label>Select Designation</mat-label>
                        <mat-select placeholder="Select Deaignation" required formControlName='designation'>
                            <mat-option *ngFor="let designation of designationData" [value]="designation">
                                {{designation.designation}}
                            </mat-option>
                        </mat-select>
                        <mat-error>Designation is required!!!</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field style="width:100%;">
                        <mat-label>Select Reporting Manager</mat-label>
                        <mat-select placeholder="Select Reporting Manager"  formControlName='reportingManager'>
                            <mat-option *ngFor="let reportingManager of reportingManagerData"
                                [value]="reportingManager">
                                {{reportingManager.name}} - {{reportingManager.designation}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field style="width:100%;">
                        <mat-label>Locking Period</mat-label>
                        <input type="number" matInput required formControlName="lockingPeriod"
                            placeholder="Locking Period">
                        <mat-icon matSuffix>lock_open</mat-icon>
                        <mat-error>Locking Period is required!!!</mat-error>

                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field style="width:100%;">
                        <input matInput [matDatepicker]="picker" [max]="maxDate" required
                            formControlName="dateOfJoining" placeholder="Date Of Joining" readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error>Date Of Joining is required!!!</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field style="width:100%;">
                        <input matInput [matDatepicker]="pickerDOR" [max]="maxDate" required
                            formControlName="dateOfReporting" placeholder="Start Reporting Date" readonly>
                        <mat-datepicker-toggle matSuffix [for]="pickerDOR"></mat-datepicker-toggle>
                        <mat-datepicker #pickerDOR></mat-datepicker>
                        <mat-error>Date Of Start Reporting is required!!!</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field style="width:100%;">
                        <mat-label>User Code</mat-label>
                        <input matInput formControlName='employeeCode' placeholder="User Code">
                        <mat-icon matSuffix>credit_card</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="m-form__heading col-lg-12">
                    <h4 class="m-form__heading-title">Personal Information</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <mat-form-field style="width:100%;">
                        <mat-label>Name</mat-label>
                        <input matInput required formControlName="name" placeholder="Name" value=""
                        onkeypress="return String.fromCharCode(event.charCode).match(/[0-9]/g) === null">
                        <mat-icon matSuffix>person_add</mat-icon>
                        <mat-error>Name is required!!!</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Mobile</mat-label>
                        <input matInput required formControlName='mobile' placeholder="Mobile"
                            onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                        <mat-icon matSuffix>phone</mat-icon>
                        <mat-error>
                            <span *ngIf="mobile.touched && mobile.errors?.required">Mobile number is required</span>
                            <span *ngIf="mobile.touched && mobile.errors?.unique">{{mobile.errors?.message}}</span>
                            <span
                                *ngIf="mobile.touched && (mobile.errors?.minlength || mobile.errors?.maxlength)">Mobile
                                number must have 10 digit only</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field style="width:100%;">
                        <mat-label>Email *</mat-label>
                        <input matInput type="email" formControlName="email" placeholder="Email *" value="">
                        <mat-icon matSuffix>email</mat-icon>
                        <mat-error>
                            <span *ngIf="email.touched && email.errors?.required">Email is required!!!</span>
                            <span *ngIf="email.touched && email.errors?.email">Email must be a valid email
                                address</span>
                            <span *ngIf="email.touched && email.errors?.unique">{{email.errors?.message}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Date Of Anniversary</mat-label>
                        <input matInput [matDatepicker]="pickerDOA" [max]="maxDate" formControlName='dateOfAnniversary'
                            placeholder="Date Of Anniversary" readonly>
                        <mat-datepicker-toggle matSuffix [for]="pickerDOA"></mat-datepicker-toggle>
                        <mat-datepicker #pickerDOA></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Date Of Birth</mat-label>
                        <input matInput [matDatepicker]="pickerDOB" [max]="maxDate"
                            formControlName='dateOfBirth' placeholder="Date Of Birth" readonly>
                        <mat-datepicker-toggle matSuffix [for]="pickerDOB"></mat-datepicker-toggle>
                        <mat-datepicker #pickerDOB></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field style="width:100%;">
                        <mat-label>Select Religion</mat-label>
                        <mat-select placeholder="Select Religion"  formControlName='religion'>
                            <mat-option *ngFor="let reg of religionData" [value]="reg">
                                {{reg}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error>Religion is required!!!</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field style="width:100%;">
                        <mat-label>Aadhaar</mat-label>
                        <input matInput formControlName='aadhaar' placeholder="Aadhaar"
                            onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                        <mat-icon matSuffix>credit_card</mat-icon>
                        <mat-error>
                            <!-- <span *ngIf="userForm.controls.aadhaar.touched && userForm.controls.aadhaar.errors?.required">
                                Aadhaar number is required!!!</span> -->
                            <span
                                *ngIf="userForm.controls.aadhaar.touched && userForm.controls.aadhaar.errors?.pattern">
                                Aadhaar number must be 12 digit number!!!</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field style="width:100%;">
                        <mat-label>PAN</mat-label>
                        <input matInput formControlName='PAN' placeholder="PAN">
                        <mat-icon matSuffix>credit_card</mat-icon>
                        <mat-error>
                            <!-- <span *ngIf="userForm.controls.PAN.touched && userForm.controls.PAN.errors?.required"> PAN
                                number is required!!!</span> -->
                            <span *ngIf="userForm.controls.PAN.touched && userForm.controls.PAN.errors?.pattern"> PAN
                                number should like ABCDE1234F!!!</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field style="width:100%;">
                        <mat-label>Address</mat-label>
                        <textarea matInput formControlName='address' required 
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"
                        placeholder="Address"></textarea>
                        <mat-icon matSuffix>event_note</mat-icon>
                        <mat-error>Address is required!!!</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field style="width:100%;">
                        <mat-label>Bank Name</mat-label>
                        <input matInput formControlName='bank' placeholder="Enter Bank Name">
                        <mat-icon matSuffix>credit_card</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field style="width:100%;">
                        <mat-label>Bank Account Number</mat-label>
                        <input matInput formControlName='account' onkeypress="return String.fromCharCode(event.charCode).match(/[^0-15]/g) === null"
                         placeholder="Enter Bank Account Number">
                        <mat-icon matSuffix>credit_card</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field style="width:100%;">
                        <mat-label>IFSC Code</mat-label>
                        <input matInput formControlName='ifsc' placeholder="Enter IFSC Code">
                        <mat-icon matSuffix>credit_card</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <legend style="font-size: 14px;">Gender</legend>
                    <mat-radio-group formControlName='gender'>
                        <mat-radio-button value="Male">Male</mat-radio-button>
                        <mat-radio-button value="Female">Female</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <br />

            <div class="row" *ngIf="currentUser.company.expense.daType == 'employee wise'">
                <div class="m-form__heading col-lg-12">
                    <h4 class="m-form__heading-title">Daily Allowance</h4>
                </div>
            </div>
            <div class="row" *ngIf="currentUser.company.expense.daType == 'employee wise'">
                <div class="col-lg-3">
                    <mat-form-field class="mat-form-field">
                        <input type="number" matInput formControlName="daHQ" placeholder="Enter HQ DA">
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field class="mat-form-field">
                        <input type="number" matInput formControlName="daEX" placeholder="Enter EX DA">
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field class="mat-form-field">
                        <input type="number" matInput formControlName="daOUT" placeholder="Enter OUT DA">
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="currentUser.company.expense.daType == 'employee wise'">
                <div class="m-form__heading col-lg-12">
                    <h4 class="m-form__heading-title">Fix Expense Details</h4>
                </div>
            </div>
            <div class="row" *ngIf="currentUser.company.expense.daType == 'employee wise'">
                <div class="col-lg-3">
                    <mat-form-field class="mat-form-field">
                        <input type="number" matInput formControlName="mobileAllowance"
                            placeholder="Enter Moblie Allowances">
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field class="mat-form-field">
                        <input type="number" matInput formControlName="netAllowance"
                            placeholder="Enter Net Allowances">
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field class="mat-form-field">
                        <input type="number" matInput formControlName="specialAllowance"
                            placeholder="Enter Special Allowance">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="m-form__heading col-lg-12">
                    <h4 class="m-form__heading-title">Login Information</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <mat-form-field style="width:100%;">
                        <mat-label>User Name</mat-label>
                        <input matInput required formControlName='username' placeholder="User Name">
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-error>
                            <span *ngIf="username.touched && username.errors?.required">Username is required!!!</span>
                            <span
                                *ngIf="username.touched && username.errors?.unique">{{username.errors?.message}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field style="width:100%;">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput required formControlName="password" placeholder="Password"
                            value="">
                        <mat-icon matSuffix>lock</mat-icon>
                        <mat-error>Password is required!!!</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field style="width:100%;">
                        <mat-label>Confirm Password</mat-label>
                        <input type="password" matInput required formControlName="confirmPassword"
                            placeholder="Confirm Password" value="">
                        <mat-icon matSuffix>assignment_turned_in</mat-icon>
                        <mat-error>
                            <span *ngIf="confirmPassword.touched && confirmPassword.errors?.required">Confirm Password
                                is required!!!</span>
                            <span
                                *ngIf="confirmPassword.touched && confirmPassword.errors?.isMatch">{{confirmPassword.errors?.message}}</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div><br />
            <div>
                <button type="submit" [disabled]="!userForm.valid" class="btn btn-primary">Save User</button>
            </div>
        </form>
    </ng-container>
</m-portlet>