
.mat-error {
    display: block;
    font-size: 12px;
}

.m-portlet__head-data {
    display: inline-flex;
    align-items: center;
    margin-top: 5px;
}
h4, .h4 {
    font-size: 1.3rem;
    color: #575962;
}

.content {
    position: absolute;
    right: 25px;
}

@media only screen and (max-width: 500px) {
    .m-portlet__head-data {
        display: block;
        margin: 0px 0px 0px 14px;
    }
}