<m-portlet [options]="{enableSticky: true}">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Gift Issue Detail Report Date Wise
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="giftForm" (ngSubmit)="giftDetails()">
            <!--begin: Form Body -->
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">

                            <div class="form-group m-form__group row">

                                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                                    <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent></m-division>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-designation (valueChange)="getDesignation($event)" #callDesignationComponent [check]=false>
                                    </m-designation>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-employee (valueChange)="getEmployeeValue($event)" #callEmployeeComponent [check]=false></m-employee>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-year #yearComponent (valueChange)="getToDate($event)"></m-year>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent" [disabled]="!giftForm.valid"><span><i class="la la-check"></i></span>View Data</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>

<m-portlet *ngIf="isShowUsersInfo">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Gift Issue Detail Report Yearly
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletBody>
        <div style="overflow-x:auto;">
            <table class="GeneratedTable" id="tableId1">
                <thead>
                    <tr>
                        <th rowspan="2">Gift Name</th>
                        <th colspan="3" style="text-align: center" *ngFor="let month of dynamicTableHeader">
                            {{month}}
                        </th>
                    </tr>
                    <tr style="text-align: center">
                        <ng-container *ngFor="let month of dynamicTableHeader">
                            <th>R</th>
                            <th>O</th>
                            <th>I</th>
                            <th>B</th>
                        </ng-container>
                    </tr>

                </thead>
                <tbody>
                    <ng-container *ngFor="let dt of data; let $index = index">
                        <tr style="border-style: solid">
                            <td>
                                {{dt.giftName}}
                            </td>
                            <ng-container *ngFor="let giftDetails of dt.details; let $index = index">
                                <td style="text-align: center">
                                    {{giftDetails.receipt}}
                                </td>
                                <td style="text-align: center">
                                    {{giftDetails.opening}}
                                </td>
                                <td style="text-align: center">
                                    {{giftDetails.receipt+giftDetails.opening-giftDetails.balance}}
                                </td>
                                <td style="text-align: center">
                                    {{giftDetails.balance}}
                                </td>
                            </ng-container>

                        </tr>
                    </ng-container>
                </tbody>
            </table>


        </div>
    </ng-container>
</m-portlet>

<ng-container>
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</ng-container>