<div>
    Upload Image
    <div class="m-card-profile__pic">
        <div class="m-card-profile__pic-wrapper">
            <img *ngFor="let iTS of imageToShow" [src]="iTS" class="rounded mb-3" style="width: 100px;height: 100px">
        </div>
    </div>

    <div align="center">
        <input style="display: none" type="file" multiple name="imageName" (click)="methodToSameFileSelected($event)" (change)="selectFile($event)" #selectedFile>
        <button type="button" (click)="selectedFile.click()" class="btn m-btn--pill  m-btn--air btn-outline-success active  btn-sm">Select Image <span><i class="fa fa-upload"></i></span></button>
        <button type="button" (click)="updateUserImage()" class="btn m-btn--pill  m-btn--air btn-outline-success active btn-sm">Upload Image<span><i class="la 	la-upload"></i></span></button>

    </div>
</div>