<mat-form-field style="width: 100%;">
  <mat-select [(ngModel)]="selecteddata" placeholder="Select Stockist" required (selectionChange)='changedValue($event.value)' multiple={{check}}>
    <mat-option *ngFor="let stockist of stockistData" [value]="stockist"  >
      {{stockist.stkName}}
    </mat-option>
  </mat-select>
</mat-form-field>
