<m-portlet [options]="{enableSticky: true}">
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Transfer User
      </h3>
    </div>
  </ng-container>
  <ng-container mPortletBody>
  <form [formGroup]='transferData' class="m-form m-form--label-align-left">
      <div class="row">
        <div class="col-xl-12">
          <div class="m-form__section m-form__section--first">
            <div class="form-group m-form__group row">
                <div class="col-lg-2 m-form__group-sub">
                    <mat-radio-button class="form-control-label" (change)="transferType('withData')"[checked]='true'>
                     With Data
                    </mat-radio-button>
                  </div>
                  <div class="col-lg-2 m-form__group-sub">
                    <mat-radio-button class="form-control-label" (change)="transferType('withoutData')">
                      Without Data
                    </mat-radio-button>
                  </div>
                </div>
                
            </div>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">
                <div class="col-lg-4 m-form__group-sub" [hidden]="!isShowDivision">
                  <label class="form-control-label">* Division:</label>
                  <m-division (valueChange)="getDivisionValue($event)" [check]=false #callDivisionComponent></m-division>
              </div>
              <div class="col-lg-4 m-form__group-sub" >
                  <label class="form-control-label">* Designation:</label>
                  <m-designation (valueChange)="getDesignation($event)" #callMonthComponent [check]=false></m-designation>
              </div>
              <div class="col-lg-4 m-form__group-sub" >
                  <label class="form-control-label">* Employee Name:</label>
                  <m-employee [check]=false (valueChange)="getEmployeeValue($event)"
                      #callEmployeeComponent></m-employee>
              </div>
                <!-- <div class="col-lg-4 m-form__group-sub" [hidden]=!showEmp>
                  <label class="form-control-label">* Transfer In</label>
                  <m-employee [check]=false (valueChange)="getEmployeeValueTo($event)" #callEmployeeComponent1></m-employee>
                </div> -->
            

              </div>
            </div>
          </div>
        </div>
        <br>     

        <div class="row" [hidden]=!showReport>
            <ng-container mPortletHeadTitle>
                <div class="m-portlet__head-title">
                  <h5 class="m-portlet__head-text">
                    Transfer In:
                  </h5>
                </div>
              </ng-container>
            </div> 
           <div class="row" [hidden]=!showReport>
            <div class="col-xl-12 ">
              <div class="m-form__section m-form__section--first">
                <div class="form-group m-form__group row">
                 
                    <div class="col-lg-4 m-form__group-sub" *ngIf="showState" >
                        <label class="form-control-label">* State:</label>
                        <m-state (valueChange)="getStateValue($event)" [check]=false  #callStateComponent></m-state>
                    </div>
                    <div class="col-lg-4 m-form__group-sub">
                        <label class="form-control-label">* {{this.currentUser.company.lables.hqLabel}}:</label>
                        <m-district [check]=false (valueChange)="getDistrictValue($event)"
                            #callDistrictComponent></m-district>
                    </div>
  
                </div>
              </div>
            </div>
          </div>
        <div class="m-form__actions m-form__actions">
            <div class="row">
                <div class="col-lg-5"></div>
                <div class="col-lg-6">

                    <button mat-raised-button color="accent" [disabled]="!transferData.valid" (click)="Transfer()"><span><i class="la la-check"></i></span>Transfer
                        </button>
                </div>
            </div>
        </div>
  </form>
  </ng-container>
</m-portlet>