<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                MEF Modify Form
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletBody>
        <form [formGroup]='editMefFormMain' class="m-form m-form--label-align-left- m-form--state-">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub">
                                    <!--<m-fromdate (valueChange)="getMEFDate($event)" #fromDate></m-fromdate>-->
                                    <mat-form-field style="width: 100%;">
                                        <input matInput [matDatepicker]="pickerStart2" placeholder="Choose Date" (dateChange)="getMEFDate($event.value)" formControlName="mainMefDate" readonly disabled="false">
                                        <mat-datepicker-toggle matSuffix [for]="pickerStart2"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerStart2></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <mat-select placeholder="Select Doctor" formControlName="editProvider" (selectionChange)="getEditFormInfo($event.value)">
                                            <mat-option *ngFor="let provider of providersForm" value="{{provider._id}}">
                                                {{provider.providerName}}-({{provider.areaName}})</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </ng-container>
    <ng-container mPortletBody *ngIf="editForm">
        <form [formGroup]='editMefForm' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="modifyMefForm()">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">* Date:</label>
                                    <!--<m-fromdate (valueChange)="getMEFDate($event)" #fromDate></m-fromdate>-->
                                    <mat-form-field style="width: 100%;">
                                        <input matInput [matDatepicker]="pickerStart" placeholder="Choose Date" (dateChange)="getMEFDateChild($event.value)" formControlName="mefDate" readonly disabled="false">
                                        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerStart></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!designationFilter>
                                    <m-designation #designationComponent (valueChange)="getMgrEmployee($event)" [check]="false">
                                    </m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!employeeFilter>
                                    <mat-form-field style="width:100%">
                                        <mat-select placeholder="Select User" formControlName="jointWork" (selectionChange)="getUserMappedAreas($event.value)">
                                            <mat-option *ngFor="let userDatas of userData" value="{{userDatas.userId}}">{{userDatas.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <mat-select placeholder="Select Area" [(value)]="areaSelected" formControlName="area" (selectionChange)="getProvider($event.value)">
                                            <mat-option *ngFor="let area of areas" value="{{area.areaId}}">{{area.areaName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <mat-select placeholder="Select Doctor" [value]="providerSelected" formControlName="provider" (selectionChange)="getFocusProduct($event.value)">
                                            <mat-option *ngFor="let provider of providers" value="{{provider.id}}">{{provider.providerName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <input type="text" matInput formControlName="competitorProduct" placeholder="Competitor Product He is using *">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3">
                                    <mat-form-field style="width:100%">
                                        <mat-select placeholder="Code and Name Of our Product Discussed *" multiple formControlName="focusProduct" (selectionChange)="setFocusProduct($event.value)">
                                            <mat-option *ngFor="let focusProduct of focusProducts" value="{{focusProduct.id}}">
                                                {{focusProduct.productName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-4">
                                    <mat-form-field style="width:100%">
                                        <input type="text" matInput formControlName="DrFacingProduct" placeholder="What is the problem Dr. is facing with comp. Product *">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4">
                                    <mat-form-field style="width:100%">
                                        <input type="text" matInput formControlName="solutionOurProduct" placeholder="What solution I have given by telling our product *">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4">
                                    <mat-form-field style="width:100%">
                                        <input type="text" matInput formControlName="drFeedback" placeholder="What is Drs feedback/query about our product *">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-4">
                                    <label class="form-control-label">Have I given him solution to his query? *</label>
                                    <mat-radio-group aria-label="Select an option" name="solutionToHisQry" (change)="getSolutionToHisQry($event.value)" formControlName="solutionToHisQry">
                                        <mat-radio-button value="yes">Yes</mat-radio-button>
                                        <mat-radio-button value="no">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-lg-3" [hidden]=!isShowSpecified>
                                    <mat-form-field style="width:100%">
                                        <input type="text" matInput formControlName="ifYesSpecified" placeholder="If yes then specified">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3" [hidden]=!isShowNeedFromSr>
                                    <mat-form-field style="width:100%">
                                        <input type="text" matInput formControlName="helpNeedFromSr" placeholder="What help I need from senior?">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-4" [hidden]=!isShowInformedHim>
                                    <label class="form-control-label">Have I informed him?</label><br>
                                    <mat-radio-group aria-label="Select an option" (change)="getHaveInformed($event.value)" formControlName="haveInformed">
                                        <mat-radio-button value="yes">Yes</mat-radio-button>
                                        <mat-radio-button value="no">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-lg-4" [hidden]=!isShowSrGivenSol>
                                    <label class="form-control-label">Has Senior given solution?</label><br>
                                    <mat-radio-group aria-label="Select an option" (change)="getSrGivenSolution($event.value)" formControlName="srGivenSolution">
                                        <mat-radio-button value="yes">Yes</mat-radio-button>
                                        <mat-radio-button value="no">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-lg-3" [hidden]=!isShowSolutionGiven>
                                    <mat-form-field style="width:100%">
                                        <input type="text" matInput formControlName="solutionGiven" placeholder="Solution given?">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-4">
                                    <label class="form-control-label">Quotation Given? *</label><br>
                                    <mat-radio-group aria-label="Select an option" (change)="getQuotationGiven($event.value)" formControlName="quotation">
                                        <mat-radio-button value="yes">Yes</mat-radio-button>
                                        <mat-radio-button value="no">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!isShowQuotationDate>
                                    <!--<m-fromdate (valueChange)="getQuotationDate($event)" #fromDate>
                  </m-fromdate>-->
                                    <mat-form-field style="width: 100%;">
                                        <input matInput [matDatepicker]="pickerStart1" placeholder="Choose Quote Date" (dateChange)="getQuoteDate($event.value)" formControlName="quotationDate" readonly disabled="false">
                                        <mat-datepicker-toggle matSuffix [for]="pickerStart1"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerStart1></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3" [hidden]=!isShowQuotationStatus>
                                    <mat-form-field style="width:100%">
                                        <mat-select placeholder="Quotation Status" [(value)]="quotationStatusSelected" formControlName="quotationStatus" (selectionChange)="getQuotationStatus($event.value)">
                                            <mat-option *ngFor="let quotationStatuss of quotationStatus" value="{{quotationStatuss.value}}">
                                                {{quotationStatuss.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-4">
                                    <label class="form-control-label">Conversion Done or Not *</label><br>
                                    <mat-radio-group aria-label="Select an option" (change)="getconversion($event.value)" formControlName="conversion">
                                        <mat-radio-button value="yes">Yes</mat-radio-button>
                                        <mat-radio-button value="no">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-lg-3" [hidden]=!isShowConversionDone>
                                    <mat-form-field style="width:100%">
                                        <input type="text" matInput formControlName="notReason" placeholder="If not Reason">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3" [hidden]=!isShowQuotationOther>
                                    <mat-form-field style="width:100%">
                                        <input type="text" matInput formControlName="quotationOther" placeholder="Mention Reason">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-form__actions m-form__actions">
                    <div class="row">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-6">
                            <button mat-raised-button color="accent" [disabled]="!editMefForm.valid"><span><i
                    class="la la-check"></i></span>Save and Modify
              </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </ng-container>
</m-portlet>