<m-portlet [options]="{enableSticky: true}">
	<div mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				User Access
			</h3>
		</div>
	</div>
	<div mPortletHeadTools>
		<div>
			<mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
		</div>
	</div>
	<div mPortletBody>
		<form [formGroup]='userFilterForm' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewuserAccess()">
			<div class="m-portlet__body" [hidden]="!isToggled">
				<div class="row">
					<div class="col-xl-12 ">
						<div class="m-form__section m-form__section--first">
							<div class="form-group m-form__group row">

								<div class="col-lg-3 m-form__group-sub">
									<m-designation (valueChange)="getDesignation($event)" #callDesignationComponent [check]=true></m-designation>
								</div>
								<div class="col-lg-3 m-form__group-sub">
									<m-employee [check]=false (valueChange)="getEmployeeValue($event)" #callEmployeeComponent></m-employee>
								</div>
								<div class="col-lg-3 m-form__group-sub">
									<button mat-raised-button color="accent"><span><i class="la la-check"></i></span> View
										Status</button> </div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</form>
	</div>
</m-portlet>

<div *ngIf="showUserAccessForm">
  <m-portlet [options]="{enableSticky: false}">
    <ng-container mPortletHeadTitle>
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Choose Menus & Sub-Menus
        </h3>
      </div>
    </ng-container>
    <ng-container mPortletBody >
      <div class="row">
        <div class="col-xl-12 ">
          <div style="overflow-x:auto; height:400px;">
            <fieldset>
              <div class="col-12">
                <m-nested-list [(list)]="list"></m-nested-list>
              </div>
  
            </fieldset>
          </div>
          <br>
  
        </div>
      </div>
  
    </ng-container>
  
  
  </m-portlet>
  
  
  <ng-container mPortletBody>
	<div class="row buttons_position" align="center">
	  <div class="col-lg-12">
		<button mat-raised-button color="primary" *ngIf="createButton" (click)="addAccess()">Add UserAccess</button>&nbsp;&nbsp;
		<button mat-raised-button color="primary" *ngIf="updateButton" (click)="updateUserAccess()">Update UserAccess</button>
	  </div>
	</div>
  </ng-container>
</div>
