
/*This will work on every browser but Chrome Browser*/
// .table-fixed thead {
//   position: sticky;
//   position: -webkit-sticky;
//   top: 0;

// }

/*This will work on every browser*/
// .table-fixed thead th {
//     position: sticky;
//     position: -webkit-sticky;
//     top: 0;

// }

.table-fixed {
  width: 100%;
}

/*This will work on every browser but Chrome Browser*/
// .table-fixed thead {
//   position: sticky;
//   position: -webkit-sticky;
//   top: 0;

// }

/*This will work on every browser*/
.table-fixed thead th {
  position: sticky;
  top: 0;
  background: #16a184;
  z-index: 3;
}

// tr:nth-of-type(odd) {
//   background-color: #f4f5f8;
// }
// tr:nth-of-type(even) {
//   background-color: #fff;
// }
// .table.table-striped tbody td
tbody tr:nth-of-type(odd) {
  td:nth-child(2) {
    background: #f4f5f8;
  }
}
tbody tr:nth-of-type(even) {
  td:nth-child(2) {
    background: #fff;
  }
}
.col-design-2{
  min-width: 19rem;
  white-space: break-spaces;
  left: 0;
  position: sticky;
  z-index: 2;
}

.col-design-3{
  position: sticky;
  left: 19rem;
  white-space: break-spaces;
  z-index: 2;
}


@media all and (max-width: 500px){
  .table-fixed thead th {
    position: relative;
    background: #16a184;
  }

  .col-design-2{
    min-width: 10rem;
    position: relative;
  }

  .col-design-3{
    min-width: 10rem;
    left: auto;
  }

}

