<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Stock-Sales & Statement Filter
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <!-- use ng-container[mPortletHeadTools] for the top right toolbar content -->

    <!-- use ng-container[mPortletBody] for the body content -->
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='sssClosingForm' class="m-form m-form--label-align-left- m-form--state"
            (ngSubmit)="getSubmittedSSSClosing()">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3" [hidden]="this.currentUser.userInfo[0].rL != '2'">
                                    <m-type (valueChange)="getMgrReportType($event)" #callTypeComponent></m-type>
                                </div>
                                <div [hidden]=!showState class="col-lg-3 m-form__group-sub">
                                    <m-state (valueChange)="getStateValue($event)" [check]=false></m-state>
                                </div>
                                <div [hidden]=!showDistrict class="col-lg-3 m-form__group-sub">
                                    <div class="m-form__control">
                                        <m-district (valueChange)="getDistrictValue($event)" #callDistrictComponent
                                            [check]=false></m-district>
                                    </div>
                                </div>

                                <div [hidden]=!showEmployee class="col-lg-3 m-form__group-sub">
                                    <div class="m-form__control">
                                        <m-employee (valueChange)="getStockists($event)" #callEmployeeComponent
                                            [check]=false></m-employee>
                                    </div>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <div class="m-form__control">
                                        <m-mapped-stockist (valueChange)="setStockistValue($event)"
                                            #callMappedStockistComponent [check]=false></m-mapped-stockist>
                                    </div>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-month (valueChange)="getMonth($event)" #callMonthComponent></m-month>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-year (valueChange)="getYear($event)" #callYearComponent></m-year>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="currentUser.company.sssType===1">
                                    <button mat-raised-button color="accent" [disabled]="!sssClosingForm.valid"><span><i
                                                class="la la-check"></i></span>Submit
                                        Closing</button>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="currentUser.company.sssType===0">
                                    <button mat-raised-button color="accent" [disabled]="!sssClosingForm.valid"><span><i
                                                class="la la-check"></i></span>Submit
                                        SSS</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</m-portlet>
<m-portlet [options]="{enableSticky: false}" *ngIf="isShowSSSClosingForm">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Stock-Sales & Statement Submit Closing
            </h3>
        </div>
    </ng-container>

    <!-- use ng-container[mPortletHeadTools] for the top right toolbar content -->

    <!-- use ng-container[mPortletBody] for the body content -->
    <ng-container mPortletBody *ngIf="isShowSSSClosingForm">
        <form [formGroup]="myform" (ngSubmit)="submitClosing()">

            <table class="table table-striped" formArrayName="resultList">
                <thead>
                    <tr>
                        <th>Product Name </th>
                        <th>Total Primary Sale</th>
                        <th>Total Return Sale</th>
                        <th>Closing</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of productList; let i = index" [formGroupName]=i>
                        <td>
                            {{item.productName}}
                        </td>

                        <td>
                            {{item.totalPrimarySale}}
                        </td>

                        <td>
                            {{item.totalRetuenSale}}
                        </td>
                        <td>
                            <input type="number" formControlName="closing" [value]="item.closing"
                                placeholder="Enter Closing">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-lg-3 m-form__group-sub">
                    <label class="form-control-label">&nbsp; </label>
                    <button mat-raised-button color="accent"><span><i class="la la-check"></i></span>Submit</button>
                </div>
            </div>
        </form>
    </ng-container>
</m-portlet>



<m-portlet [options]="{enableSticky: false}" *ngIf="isShowSingleUserSSS">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Stock-Sales & Statement
            </h3>
        </div>
    </ng-container>

    <!-- use ng-container[mPortletBody] for the body content -->
    <ng-container mPortletBody *ngIf="isShowSingleUserSSS">
        <form [formGroup]="sinleUserSSS" (ngSubmit)="submitSingleUserSSS()" >
            <div style="overflow-x:auto; height:500px;">
            <table class="table table-striped tableWidth table-fixed" formArrayName="resultList"   >
                <thead>
                    <tr>
                        <th class="col-design-1" style="z-index: 20;">S.No</th>
                        <th class="col-design-2" style="z-index: 20;">Product Name</th>
                        <th class="col-design-3" style="z-index: 20;">Net Rate</th>
                        <th hidden="hideColumn">Spl Rate</th>
                        <th>Opening</th>
                        <th>Primary</th>
                        <th >Scheme</th>
                        <th >Breakage Return</th>
                      
                        <th  >Saleable Return</th>
                       
                        
                        <th >Retailer &nbsp;Return</th>
                    <th>Sales Return</th>
                    <th hidden="hideColumn">Breakage Quantity</th>
                    <th hidden="hideColumn">Expiry Quantity</th>
                    <th hidden="hideColumn">Batch Recall Qty</th>
                        <th>Closing</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let item of productListForSingle; let i = index" [formGroupName]=i>
                        <td class="col-design-1" style="background-color: #fff;">{{i+1}}</td>
                        <td *ngIf="currentUser.company.validation.prodTypeStatus==true" class="col-design-2" style="background-color: #fff">
                            {{item.productName}}({{item.productType}})
                            <!-- <input type="text" disabled formControlName="productName" [value]="item.productName">-->
                        </td>
                        <td *ngIf="currentUser.company.validation.prodTypeStatus==false" class="col-design-2">
                            {{item.productName}}
                            <!-- <input type="text" disabled formControlName="productName" [value]="item.productName">-->
                        </td>
                        <td class="col-design-3" style="background-color: #fff;">
                            <input type="number" disabled formControlName="netRate" [value]="item.netRate">
                        </td>
                        <td hidden="hideColumn">
                            <input type="number" formControlName="splRate" [value]="item.splRate">
                        </td>
                        <td>
                            <input type="number" formControlName="opening" [value]="item.opening">
                        </td>
                        <td>
                            <input type="number" formControlName="primarySale" [value]="item.primarySale">
                        </td>
                        <td >
                            <input type="number" formControlName="scheme" [value]="item.scheme">
                        </td>
                        <td>
                            <input type="number" formControlName="breakage" [value]="item.breakage"
                                (keypress)="valuechange(sinleUserSSS)">
                        </td>
                        <td >
                            <input type="number" formControlName="saleable" [value]="item.saleable">
                        </td>
                        <td >
                            <input type="number" formControlName="other" [value]="item.other">
                        </td>
                    <td >
    <input type="number" formControlName="returnSale" [value]="item.returnSale">
    </td>
    <td hidden="hideColumn">
        <input type="number"  formControlName="breakageQty" [value]="item.breakageQty">
        </td>
        <td hidden="hideColumn">
            <input type="number" formControlName="expiryQty" [value]="item.expiryQty">
            </td>
            <td hidden="hideColumn">
                <input type="number" formControlName="batchRecallQty" [value]="item.batchRecallQty">
                </td>
                        <td>
                            <input type="number" formControlName="closing" [value]="item.closing">
                        </td>
                    </tr>
                </tbody>
            </table>
           </div>
            <div class="row">
                <div class="col-lg-3 m-form__group-sub">
                    <label class="form-control-label">&nbsp; </label>
                    <button mat-raised-button color="accent"><span><i class="la la-check"></i></span>Submit</button>
                </div>
            </div>
        </form>
    </ng-container>
</m-portlet>
