<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <div mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Target Modify
            </h3>
        </div>
    </div>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='target' class="m-form m-form--label-align-left- m-form--state-"
            (ngSubmit)="modifyTargetDetail()">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-2 m-form__group-sub"
                                    *ngIf="this.currentUser.company.target.targetInfo=='Employeewise'||this.currentUser.company.target.targetInfo=='all'">
                                    <mat-radio-button class="form-control-label" [checked]=checkedVarEmp
                                        (change)="reportType('Employeewise')" name="reportTypeName">
                                        * User wise
                                    </mat-radio-button>
                                </div>
                                <div class="col-lg-2 m-form__group-sub"
                                    *ngIf="this.currentUser.company.target.targetInfo=='Headquarterwise'||this.currentUser.company.target.targetInfo=='all'">
                                    <mat-radio-button class="form-control-label" [checked]=checkedVarHq
                                        (change)="reportType('Headquarterwise')" name="reportTypeName">
                                        * {{this.currentUser.company.lables.hqLabel}} wise
                                    </mat-radio-button>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!stateFilter>
                                    <m-state (valueChange)="getStateValue($event)" [check]=false #callStateComponent>
                                    </m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-district [check]=false (valueChange)="getDistrictValue($event)"
                                        #callDistrictComponent></m-district>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!employeeFilter>
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>Select Employee</mat-label>
                                        <mat-select placeholder="Select Employee" formControlName="userInfo"
                                            (selectionChange)='setEmployeeDetail($event.value)' multiple=false>
                                            <mat-option *ngFor="let employee of userData" [value]="employee.userId">
                                                {{employee.name}}<b> - ({{employee.designation}})</b>
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>Employee is required!!!</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-2 m-form__group-sub"
                                    *ngIf="this.currentUser.company.target.targetDuration=='Quarterly'||this.currentUser.company.target.targetDuration=='all'">
                                    <mat-radio-button class="form-control-label" [checked]=checkedVarQuarterly
                                        name="yearlyTypeName" (change)="yearlyType('Quarterly')">
                                        * Quarterly
                                    </mat-radio-button>
                                </div>
                                <div class="col-lg-2 m-form__group-sub"
                                    *ngIf="this.currentUser.company.target.targetDuration=='Monthly'||this.currentUser.company.target.targetDuration=='all'">
                                    <mat-radio-button class="form-control-label" name="yearlyTypeName"
                                        [checked]=checkedVarMonthly (change)="yearlyType('Monthly')">
                                        * Monthly
                                    </mat-radio-button>
                                </div>
                                <div class="col-lg-2 m-form__group-sub"
                                    *ngIf="this.currentUser.company.target.targetDuration=='Yearly'||this.currentUser.company.target.targetDuration=='all'">
                                    <mat-radio-button class="form-control-label" name="yearlyTypeName"
                                        [checked]=checkedVarYearly (change)="yearlyType('Yearly')">
                                        * Yearly
                                    </mat-radio-button>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!quarterly>
                                    <mat-form-field>
                                        <mat-select placeholder="Select Quarter" formControlName="quarterType"
                                            (valueChange)="getQuarter($event)">
                                            <mat-option *ngFor="let Quarter of Quarters" [value]="Quarter.value">
                                                {{Quarter.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <!--<div class="col-lg-3 m-form__group-sub" [hidden]=!showMonthFilter>
                  <m-month (valueChange)="getMonth($event)" #callMonthComponent></m-month>
                </div>-->
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!showYearFilter>
                                    <m-year (valueChange)="getYear($event)" #callYearComponent></m-year>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-2 m-form__group-sub"
                                    *ngIf="this.currentUser.company.target.targetType=='productwise'||this.currentUser.company.target.targetType=='all'">
                                    <mat-radio-button class="form-control-label" name="targetSubmitTypeName"
                                        [checked]=checkedVarProduct (change)="targetSubmitType('productwise')">
                                        * Product Wise
                                    </mat-radio-button>
                                </div>
                                <div class="col-lg-2 m-form__group-sub"
                                    *ngIf="this.currentUser.company.target.targetType=='amountwise'||this.currentUser.company.target.targetType=='all'">
                                    <mat-radio-button class="form-control-label" name="targetSubmitTypeName"
                                        [checked]=checkedVarAmount (change)="targetSubmitType('amountwise')">
                                        * Amount Wise
                                    </mat-radio-button>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent" [disabled]="!target.valid"><span><i
                                                class="la la-check"></i></span>Modify Target
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>
<br>
<m-portlet [options]="{enableSticky: false}" *ngIf="isShowTargetDetail">
    <ng-container mPortletHeadTitle *ngIf="isShowTargetDetail">
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Target Modify Form
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletBody *ngIf="isShowTargetDetailProductwise">
        <form [formGroup]="target1" (ngSubmit)="modifyTargetProductwise()">
            <div style="overflow: auto;">
                <table class="table table-striped tableWidth" formArrayName="resultList">
                    <thead>
                        <tr class="tr">
                            <th>Product</th>
                            <th *ngIf="firstQuarter">Jan</th>
                            <th *ngIf="firstQuarter">Feb</th>
                            <th *ngIf="firstQuarter">March</th>
                            <th *ngIf="secondQuarter">April</th>
                            <th *ngIf="secondQuarter">May</th>
                            <th *ngIf="secondQuarter">June</th>
                            <th *ngIf="thirdQuarter">July</th>
                            <th *ngIf="thirdQuarter">Aug</th>
                            <th *ngIf="thirdQuarter">Sep</th>
                            <th *ngIf="fourthQuarter">Oct</th>
                            <th *ngIf="fourthQuarter">Nov</th>
                            <th *ngIf="fourthQuarter">Dec</th>
                            <th *ngIf="yearlyTarget">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of productListForSingle; let i = index" [formGroupName]=i>
                            <td>
                                <!--<input class="input" type="text" disabled formControlName="productName" [value]="item.productName">-->
                                <b>{{item.productName}}</b>
                            </td>
                            <td *ngIf="firstQuarter">
                                <input type="number" formControlName="Jan" [value]="item.Jan">
                            </td>
                            <td *ngIf="firstQuarter">
                                <input type="number" formControlName="Feb" [value]="item.Feb">
                            </td>
                            <td *ngIf="firstQuarter">
                                <input type="number" formControlName="March" [value]="item.March">
                            </td>
                            <td *ngIf="secondQuarter">
                                <input type="number" formControlName="April" [value]="item.April">
                            </td>
                            <td *ngIf="secondQuarter">
                                <input type="number" formControlName="May" [value]="item.May">
                            </td>
                            <td *ngIf="secondQuarter">
                                <input type="number" formControlName="June" [value]="item.June">
                            </td>
                            <td *ngIf="thirdQuarter">
                                <input type="number" formControlName="July" [value]="item.July">
                            </td>
                            <td *ngIf="thirdQuarter">
                                <input type="number" formControlName="Aug" [value]="item.Aug">
                            </td>
                            <td *ngIf="thirdQuarter">
                                <input type="number" formControlName="Sep" [value]="item.Sep">
                            </td>
                            <td *ngIf="fourthQuarter">
                                <input type="number" formControlName="Oct" [value]="item.Oct">
                            </td>
                            <td *ngIf="fourthQuarter">
                                <input type="number" formControlName="Nov" [value]="item.Nov">
                            </td>
                            <td *ngIf="fourthQuarter">
                                <input type="number" formControlName="Dec" [value]="item.Dec">
                            </td>
                            <td *ngIf="yearlyTarget">
                                <input type="number" formControlName="quantity" [value]="item.quantity">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-3 m-form__group-sub">
                    <label class="form-control-label">&nbsp; </label>
                    <button mat-raised-button color="accent"><span><i class="la la-check"></i></span>Modify</button>
                </div>
            </div>
        </form>
    </ng-container>
    <ng-container mPortletBody *ngIf="isShowTargetDetailAmountwise">
        <form [formGroup]="target2" (ngSubmit)="modifyTargetAmountwise()">
            <div style="overflow: auto;">
                <table class="table table-striped tableWidth" formArrayName="resultList1">
                    <thead>
                        <tr>
                            <th *ngIf="firstQuarter">Jan</th>
                            <th *ngIf="firstQuarter">Feb</th>
                            <th *ngIf="firstQuarter">March</th>
                            <th *ngIf="secondQuarter">April</th>
                            <th *ngIf="secondQuarter">May</th>
                            <th *ngIf="secondQuarter">June</th>
                            <th *ngIf="thirdQuarter">July</th>
                            <th *ngIf="thirdQuarter">Aug</th>
                            <th *ngIf="thirdQuarter">Sep</th>
                            <th *ngIf="fourthQuarter">Oct</th>
                            <th *ngIf="fourthQuarter">Nov</th>
                            <th *ngIf="fourthQuarter">Dec</th>
                            <th *ngIf="yearlyTarget">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of productListForSingleAmountwise; let i = index" [formGroupName]=i>
                            <td *ngIf="firstQuarter">
                                <input type="number" formControlName="Jan" [value]="item.Jan">
                            </td>
                            <td *ngIf="firstQuarter">
                                <input type="number" formControlName="Feb" [value]="item.Feb">
                            </td>
                            <td *ngIf="firstQuarter">
                                <input type="number" formControlName="March" [value]="item.March">
                            </td>
                            <td *ngIf="secondQuarter">
                                <input type="number" formControlName="April" [value]="item.April">
                            </td>
                            <td *ngIf="secondQuarter">
                                <input type="number" formControlName="May" [value]="item.May">
                            </td>
                            <td *ngIf="secondQuarter">
                                <input type="number" formControlName="June" [value]="item.June">
                            </td>
                            <td *ngIf="thirdQuarter">
                                <input type="number" formControlName="July" [value]="item.July">
                            </td>
                            <td *ngIf="thirdQuarter">
                                <input type="number" formControlName="Aug" [value]="item.Aug">
                            </td>
                            <td *ngIf="thirdQuarter">
                                <input type="number" formControlName="Sep" [value]="item.Sep">
                            </td>
                            <td *ngIf="fourthQuarter">
                                <input type="number" formControlName="Oct" [value]="item.Oct">
                            </td>
                            <td *ngIf="fourthQuarter">
                                <input type="number" formControlName="Nov" [value]="item.Nov">
                            </td>
                            <td *ngIf="fourthQuarter">
                                <input type="number" formControlName="Dec" [value]="item.Dec">
                            </td>
                            <td *ngIf="yearlyTarget">
                                <input type="number" formControlName="quantity" [value]="item.quantity">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-3 m-form__group-sub">
                    <label class="form-control-label">&nbsp; </label>
                    <button mat-raised-button color="accent"><span><i class="la la-check"></i></span>Modify</button>
                </div>
            </div>
        </form>
    </ng-container>
</m-portlet>