<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Provider Visit Analysis Report
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='ProviderVisitAnalysisFilterForm' class="m-form m-form--label-align-left- m-form--state-"
            (ngSubmit)="viewRecords()">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-12 m-form__group-sub">
                                    <m-fiscal-year (valueChange)="getFiscalType($event)"></m-fiscal-year>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                                    <m-division (valueChange)="getDivisionValue($event)" [check]=true
                                        #callDivisionComponent>
                                    </m-division>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-designation [check]=false (valueChange)="getDesignation($event)"
                                        #callDesignationComponent></m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-status [check]=false (valueChange)="getStatusValue($event)" #callStatusComponent>
                                    </m-status>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-employee [check]=false (valueChange)="getEmployeeValue($event)"
                                        #callEmployeeComponent></m-employee>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showForMGROnly">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>Select Team</mat-label>
                                        <mat-select placeholder="Select Option"
                                            (selectionChange)='getTeamType($event.value)'>
                                            <mat-option value="withTeam">
                                                With Team
                                            </mat-option>
                                            <mat-option value="withourTeam">
                                                Without Team
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showForTeamSelectionOnly">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>Select Team</mat-label>
                                        <mat-select placeholder="Select Employee"
                                            (selectionChange)='getHierachyData($event.value)' multiple>
                                            <mat-option *ngFor="let user of hierarchyResult" [value]="user">
                                                {{user.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>Employee name is required!!!</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!showYearFilter>
                                    <m-year (valueChange)="getYear($event)"></m-year>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!showFinancialFilter>
                                    <m-financial-year (valueChange)="getYear($event)"></m-financial-year>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <mat-radio-group formControlName="viewFor" (change)="setTableHeading($event)">
                                        <mat-radio-button value="RMP">
                                            {{this.currentUser.company.lables.doctorLabel}}</mat-radio-button>
                                        <mat-radio-button value="Drug">
                                            {{(this.otherTypeLablesExist == true) ? this.currentUser.company.lables.other : this.currentUser.company.lables.vendorLabel + '/' + this.currentUser.company.lables.stockistLabel }}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showCategory">
                                    <m-category [categorySelected]="selectedCategory"
                                        (valueChange)="getCategory($event)" #callCategoryComponent></m-category>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showFromDate">
                                    <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showToDate">
                                    <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent"
                                        [disabled]="!ProviderVisitAnalysisFilterForm.valid"><span><i
                                                class="la la-check"></i></span>View Status</button>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>

<ng-container>
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</ng-container>

<div class="m-portlet" *ngIf="showReport">
    <div class="m-portlet__body m-portlet__body--no-padding">
        <div class="row m-row--no-padding m-row--col-separator-xl">
            <div class="col-xl-12">
                <div class="m-widget14">
                    <ng-container mPortletHeadTitle>
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                {{dataViewFor}} Visit Detail
                            </h3>
                        </div>
                    </ng-container>
                    <hr /><br />
                    <!-- <table #dataTable class="display" style="width:100%">

                    </table> -->
                    <ng-container mPortletHeadTools>
                        <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
                        (click)="export()"><i class="fa fa-file-excel"
                        style="cursor:pointer; color: green;font-size: 2em;"   aria-hidden="true"></i></span>
                    
                    
                    
                        <!-- <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
                            style="float: right;" (click)="export()"><i class="fa fa-file-excel"
                                style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i></span> -->
                    </ng-container>
                     <div style="overflow-x:auto; height: 400px;"  id="tabledivId1">
                      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
                    
                        <ng-container matColumnDef="State">
                          <th mat-header-cell *matHeaderCellDef> State Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.stateName}} </td>
                        </ng-container>
                          <ng-container matColumnDef="Headquater">
                          <th mat-header-cell *matHeaderCellDef> Headquater </th>
                          <td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="Area">
                          <th mat-header-cell *matHeaderCellDef> Area </th>
                          <td mat-cell *matCellDef="let element">{{element.areaName}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="AreaCurrent">
                          <th mat-header-cell *matHeaderCellDef> Area Current Stutas </th>
                          <td mat-cell *matCellDef="let element"> {{element.areaStatus}} </td>
                        </ng-container>
                    
                          <ng-container matColumnDef="Doctor">
                            <th mat-header-cell *matHeaderCellDef> Doctor Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.providerName}} </td>
                          </ng-container>
                    
                          <ng-container matColumnDef="DoctorCode">
                            <th mat-header-cell *matHeaderCellDef> Doctor Code </th>
                            <td mat-cell *matCellDef="let element"> {{element.providerCode}} </td>
                          </ng-container>
                          <ng-container matColumnDef="DoctorType">
                            <th mat-header-cell *matHeaderCellDef> Doctor Type </th>
                            <td mat-cell *matCellDef="let element"> {{element.providerTypeUpdated}} </td>
                          </ng-container>
                          <ng-container matColumnDef="Category">
                            <th mat-header-cell *matHeaderCellDef> Category </th>
                            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                          </ng-container>
                          <ng-container matColumnDef="Specialization">
                            <th mat-header-cell *matHeaderCellDef> Specialization </th>
                            <td mat-cell *matCellDef="let element"> {{element.specialization}} </td>
                          </ng-container>
                          <ng-container matColumnDef="degree">
                            <th mat-header-cell *matHeaderCellDef> degree </th>
                            <td mat-cell *matCellDef="let element"> {{element.degree}} </td>
                          </ng-container>
                          <ng-container matColumnDef="doctorCurrentStutas">
                            <th mat-header-cell *matHeaderCellDef> Doctor Current Stutas </th>
                            <td mat-cell *matCellDef="let element"> {{element.providerStatus}} </td>
                          </ng-container>
                          <ng-container matColumnDef="april">
                            <th mat-header-cell *matHeaderCellDef> April </th>
                            <td mat-cell *matCellDef="let element"> {{element.data[0]}} </td>
                          </ng-container>
                          
                          <ng-container matColumnDef="may">
                            <th mat-header-cell *matHeaderCellDef> May</th>
                            <td mat-cell *matCellDef="let element"> {{element.data[1]}} </td>
                          </ng-container>
                          <ng-container matColumnDef="june">
                            <th mat-header-cell *matHeaderCellDef> June</th>
                            <td mat-cell *matCellDef="let element"> {{element.data[2]}} </td>
                          </ng-container>
                          <ng-container matColumnDef="july">
                            <th mat-header-cell *matHeaderCellDef> July </th>
                            <td mat-cell *matCellDef="let element"> {{element.data[3]}} </td>
                          </ng-container>
                          <ng-container matColumnDef="august">
                            <th mat-header-cell *matHeaderCellDef> August </th>
                            <td mat-cell *matCellDef="let element"> {{element.data[4]}} </td>
                          </ng-container>
                          <ng-container matColumnDef="september">
                            <th mat-header-cell *matHeaderCellDef>September </th>
                            <td mat-cell *matCellDef="let element"> {{element.data[5]}} </td>
                          </ng-container>
                          <ng-container matColumnDef="october">
                            <th mat-header-cell *matHeaderCellDef> October </th>
                            <td mat-cell *matCellDef="let element"> {{element.data[6]}} </td>
                          </ng-container>
                          <ng-container matColumnDef="november">
                            <th mat-header-cell *matHeaderCellDef> November </th>
                            <td mat-cell *matCellDef="let element"> {{element.data[7]}} </td>
                          </ng-container>
                          <ng-container matColumnDef="december">
                            <th mat-header-cell *matHeaderCellDef> December </th>
                            <td mat-cell *matCellDef="let element"> {{element.data[8]}} </td>
                          </ng-container>
                          <ng-container matColumnDef="january">
                            <th mat-header-cell *matHeaderCellDef> January </th>
                            <td mat-cell *matCellDef="let element"> {{element.data[9]}} </td>
                          </ng-container>
                          <ng-container matColumnDef="february">
                            <th mat-header-cell *matHeaderCellDef> February </th>
                            <td mat-cell *matCellDef="let element"> {{element.data[10]}} </td>
                          </ng-container>
                          <ng-container matColumnDef="march">
                            <th mat-header-cell *matHeaderCellDef> March </th>
                            <td mat-cell *matCellDef="let element"> {{element.data[11]}} </td>
                          </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table> 
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- mahender -->
 
  
<!-- end code  -->

<m-portlet class="mat-elevation-z8" *ngIf="showReportHirearchyWise">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                {{dataViewFor}} Visit Detail
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletBody>
        <div style="overflow: auto; width :100%; max-height: 90vh;">
            <table class="table table-striped" id="tableId1">
                <thead>
                    <tr>
                        <th *ngIf="isShowDivision" rowspan="2">Division</th>
                        <th rowspan="2">Employee Name</th>
                        <th rowspan="2">State Name</th>
                        <th rowspan="2">District Name</th>
                        <th rowspan="2">Area Name</th>
                        <th rowspan="2">Provider Name</th>
                        <th rowspan="2">Provider Code</th>
                        <th rowspan="2">Provider Type</th>
                        <th rowspan="2">Category</th>
                        <th rowspan="2">Specialization</th>
                        <th rowspan="2">Degree</th>
                        <th rowspan="2">Provider Status</th>
                        <th rowspan="2">Area Status</th>
                        <th style="text-align: center" *ngFor="let month of dynamicTableHeader">{{month}}</th>
                        <!-- <th colspan="16" style="text-align: center">Total</th> -->
                    </tr>

                </thead>
                

                <tbody>
                    <tr *ngFor="let d of data; let $index = index">
                        <td *ngIf="isShowDivision">{{d.divisionName}}</td>
                        <td>
                            {{d.userName}}
                        </td>
                        <td>
                            {{d.stateName}}
                        </td>
                        <td>
                            {{d.districtName}}
                        </td>
                        <td>
                            {{d.areaName}}
                        </td>
                        <td>
                            {{d.providerName}}
                        </td>
                        <td>
                            {{d.providerCode}}
                        </td>
                        <td style="text-align: center">{{d.providerTypeUpdated}}</td>

                        <td>
                            {{d.category}}
                        </td>
                        <td>
                            {{d.specialization}}
                        </td>
                        <td>
                            {{d.degree}}
                        </td>
                        <td>
                            {{d.providerStatus}}
                        </td>
                        <td>
                            {{d.areaStatus}}
                        </td>
                        <td style="text-align: center" *ngFor="let DD-MMM-YYYY of d.data">{{DD-MMM-YYYY}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div align="center">
            <button mat-raised-button color="accent" (click)="this.exporttoExcel();">
                <span>
                    <i class="la la-download"></i>
                </span>Download</button>
        </div>
    </ng-container>
</m-portlet>