<div>
    <m-portlet>
        <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Sponsorship Filter
                </h3>
            </div>
        </ng-container>
        <ng-container mPortletBody>
            <form [formGroup]="sponsorshipForm" (ngSubmit)="getLinkedProvider()">
                <div class="row">
                    <div class="col-md-3">
                        <m-month (valueChange)="getMonth($event)" #callMonthComponent></m-month>
                    </div>
                    <div class="col-md-3">
                        <m-year (valueChange)="getYear($event)" #callYearComponent></m-year>
                    </div>
                    <div class="col-md-3">
                        <button mat-raised-button color="primary">Submit</button>
                    </div>
                </div>
            </form>
        </ng-container>
    </m-portlet>
</div>
<div *ngIf="showLinkedProviderDetail">
    <m-portlet>
        <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Linked Provider Details
                </h3>
            </div>
        </ng-container>
        <ng-container mPortletBody>
            <div class="filter">
                <mat-form-field>
                    <mat-label>Search Client</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Search..." #input>
                </mat-form-field>
            </div>
            <div class="example-container mat-elevation-z8">
                <form>
                    <div style="overflow:auto; max-height:25rem">
                        <table mat-table [dataSource]="dataSource"
                            class="table-bordered table-striped" matSort>

                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                                [checked]="selection.hasValue() && isAllSelected()"
                                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                                  </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                  <mat-checkbox (click)="$event.stopPropagation()"
                                                (change)="$event ? selection.toggle(row) : null"
                                                [checked]="selection.isSelected(row)">
                                  </mat-checkbox>
                                </td>
                              </ng-container>

                            <ng-container matColumnDef="sn">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </th>
                                <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                            </ng-container>

                            <ng-container matColumnDef="providerName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element?.providerName !== '' ? element?.providerName : '---'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="providerCode">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element?.providerCode !== '' ? (element?.providerCode | titlecase) : '---'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="specialization">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Speciality </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element?.specialization !== '' ? element?.specialization : '---'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="degree">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Degree </th>
                                <td mat-cell *matCellDef="let element"> {{element.degree ? element?.degree : '---'}}
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;"
                                [ngClass]="{gray:even}"></tr>
                        </table>
                    </div>
                    <div>
                        <mat-paginator #paginator [length]="dataSource?.data?.length || 0"
                            [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="5" showFirstLastButtons>
                        </mat-paginator>
                        <div class="row buttons_position">
                            <div class="col-lg-6">
                                <button mat-raised-button color="primary" [disabled]=""
                                    (click)="showSponsorship()">Next</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </ng-container>
    </m-portlet>
</div>

<div *ngIf="showSponsorshipTable">
    <m-portlet>
        <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Sponsorship Form
                </h3>
            </div>
        </ng-container>
        <ng-container mPortletBody>
            <div class="example-container mat-elevation-z8">
                <form [formGroup]="sponsorshipForm">
                    <div style="overflow-y: hidden;">
                        <table mat-table [dataSource]="dataSource2" formArrayName="sponsorshipArray">
                            <ng-container matColumnDef="sn">
                                <th mat-header-cell *matHeaderCellDef> S.No. </th>
                                <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                            </ng-container>

                            <ng-container matColumnDef="providerName" sticky>
                                <th mat-header-cell *matHeaderCellDef class="z-index"> Name </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element?.providerName !== '' ? element?.providerName : '---'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="providerCode">
                                <th mat-header-cell *matHeaderCellDef> Code </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element?.providerCode !== '' ? (element?.providerCode | titlecase) : '---'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="investmentType">
                                <th mat-header-cell *matHeaderCellDef> Investment Type </th>
                                <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
                                    <mat-form-field [floatLabel]="'never'">
                                        <mat-select formControlName="investmentType" placeholder="Investment Type">
                                            <mat-option *ngFor="let investment of investmentTypes"
                                                [value]=investment.value>
                                                {{investment.viewValue}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="investmentAmount">
                                <th mat-header-cell *matHeaderCellDef> Investment Amount </th>
                                <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
                                    <mat-form-field [floatLabel]="'never'">
                                        <input matInput placeholder="Investment Amount"
                                            formControlName="investmentAmount">
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="investmentMonth">
                                <th mat-header-cell *matHeaderCellDef> Investment Month </th>
                                <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
                                    <m-month (valueChange)="getinvestmentMonth($event,i)" #callMonthComponent></m-month>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="expectedBusiness">
                                <th mat-header-cell *matHeaderCellDef> Expected Business During Investment </th>
                                <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
                                    <mat-form-field [floatLabel]="'never'">
                                        <input matInput placeholder="Expected Business"
                                            formControlName="expectedBusiness">
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="monthOfNextInvestment">
                                <th mat-header-cell *matHeaderCellDef> Expected Month of Next Investment </th>
                                <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
                                    <m-month (valueChange)="getMonthOfNextInvestment($event,i)" #callMonthComponent>
                                    </m-month>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="lastYearInvestment">
                                <th mat-header-cell *matHeaderCellDef> Last Year Investment </th>
                                <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="i">
                                    <mat-form-field [floatLabel]="'never'">
                                        <input matInput placeholder="Last Year Investment"
                                            formControlName="lastYearInvestment">
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                        </table>
                    </div>
                    <div>
                        <mat-paginator #paginator [length]="dataSource2?.data?.length || 0"
                            [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="5" showFirstLastButtons>
                        </mat-paginator>
                        <div class="row buttons_position">
                            <div class="col-lg-6">
                                <button mat-raised-button color="primary" [disabled]="!sponsorshipForm.valid"
                                    (click)="submitCrmSponsorship()">Submit Sponsorship</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </ng-container>
    </m-portlet>
</div>


<div class="col-xl-12" *ngIf="showProcessing" align="center">
    <mat-spinner strokeWidth="4" [diameter]="60"></mat-spinner>
</div>