table {
	width: 100%;
}
::ng-deep .mat-header-row,
th {
	background: #16a184 !important;
	.mat-header-cell {
		color: #f9f8f8 !important;
		font-size: larger !important;
		letter-spacing: 0.8px !important;
		font-weight: 500 !important;
		text-align: center !important;
		border: 2px solid #f9f8f8 !important;
	}
}

td.mat-cell {
	font-size: 15px !important;
	font-weight: 400 !important;
	letter-spacing: 0.5px !important;
	text-align: center !important;
	// border: 1px solid #16a083b3  !important;
}
.buttons_position {
	margin: -3.5em 0em 1em 0em;
}

.gray{
	background: #f5f5f5;
}
.filter .mat-form-field {
	font-size: 14px;
	width: 100%;
	position: relative;
	top: 0;
}
// .mat-form-field {
//     position: relative;
// 	top: 1rem;
// }
::ng-deep .mat-sort-header-arrow {
	color: #e1efec !important;
	opacity: 0.8 !important;
}
::ng-deep .mat-sort-header-container {
    display: inline-flex !important;
}
::ng-deep .z-index {
	z-index: 301 !important;
}
@media (max-width: 768px) {
	.buttons_position {
		margin: 0em 0em 0em 0em;
		padding: 1rem 0;
	}
	button {
		width: 100%;
	}
}