<m-portlet [options]="{enableSticky: true}">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                POB Report Product Wise
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="POBProductWiseForm"
            (ngSubmit)="viewRecords()">
            <!-- <pre>{{dataSource}}</pre> -->
            <div class="m-portlet__body">
                
                <div class="row">
                    <div class="row col-xl-12" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'">
                        <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
                    </div>
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                                </div>
                               
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showState">
                                    <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                                    </m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                                    <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent>
                                    </m-division>
                                    <!-- <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type> -->
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showDistrict">
                                    <m-district [check]=true (valueChange)="getDistrictValue($event)"
                                        #callDistrictComponent></m-district>
                                </div>
                              
                                <div class="col-lg-3 m-form__group-sub"  *ngIf="showEmployee">
                                    <m-designation [check]=false (valueChange)="getDesignation($event)"
                                        #callDesignationComponent></m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                                    <m-employee (valueChange)="getEmployees($event)" #callEmployeeComponent
                                        [check]=false></m-employee>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent"
                                        [disabled]="!POBProductWiseForm.valid"><span><i
                                                class="la la-check"></i></span>View
                                        Report</button> </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>


<ng-container mPortletBody *ngIf="isShowReport">
    <div class="m-portlet">
      <div class="m-portlet__body m-portlet__body--no-padding">
        <div class="row m-row--no-padding m-row--col-separator-xl">
          <div class="col-xl-12">
            <div class="m-widget14">
              <ng-container mPortletHeadTitle>
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    POB Report Product Wise
                  </h3>
                </div>
              </ng-container>
              <hr /><br />
              <table #dataTable class="display" style="width:100%"></table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
<div class="col-xl-12" *ngIf="showProcessing" align="center">
    <img src="assets/app/media/img/processing/loading.gif">
</div>
