<div class="px-4 py-5">

    <div class="d-flex justify-content-between">
        <h1 mat-dialog-title>View Daily Call Report</h1>
        <div>
            <button mat-raised-button (click)="onNoClick()" color="accent" tabindex="-1">Cancel</button>
        </div>
    </div>
    <!-- <div mat-dialog-actions>
    
        
        </div> -->

    <div mat-dialog-content>
        <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="dcrForm" (ngSubmit)="showReport()">
            <!--begin: Form Body -->
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
    
                                <div class="col-lg-4 m-form__group-sub">
                                    <label class="form-control-label">* From Date:</label>
                                    <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                                </div>
                                <div class="col-lg-4 m-form__group-sub">
                                    <label class="form-control-label">* To Date:</label>
                                    <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                                </div>
    
    
                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">&nbsp;</label>
                                    <div class="m-form__control">
                                        <button mat-raised-button color="accent" [disabled]="!dcrForm.valid">
                                            <span>
                                                <i class="la la-check"></i>
                                            </span>View Report</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="px-5 mt-3" [hidden]="!showReport1">
            <table #userDataTable class="display" style="width:100%">
            </table>
        </div>
        <div class="mat-elevation-z8" [hidden]="showDCRSummary">
            <m-user-complete-dcrinfo #callUserCompleteDCR [hidden]="showDCRSummary"></m-user-complete-dcrinfo>
        </div>
    </div>
   
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
   
</div>