<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Update Expense
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='expenseUpdateForm' class="m-form m-form--label-align-left" (ngSubmit)="generateReport()">

            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                                    <m-division (valueChange)="getDivisionValue($event)" [check]=true
                                        #callDivisionComponent>
                                    </m-division>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showState">
                                    <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                                    </m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-designation [check]=false (valueChange)="getDesignation($event)"
                                        #designationComponent></m-designation>
                                </div>
                               
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-employee [check]=false (valueChange)="getEmployee($event)"
                                        #callEmployeeComponent></m-employee>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-status [check]=false (valueChange)="getStatusValue($event)" #callStatusComponent>
                                    </m-status>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-month #monthComponent (valueChange)="getFromDate($event)"></m-month>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-year #yearComponent (valueChange)="getToDate($event)"></m-year>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">&nbsp; </label>
                                    <button mat-raised-button color="accent"
                                        [disabled]="!expenseUpdateForm.valid"><span><i
                                                class="la la-check"></i></span>Generate
                                        Report</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>
