.mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.mat-panel-description {
    justify-content: space-between !important;
    //align-items: center !important;
    display: flex;
    width: 100%;
}

.mat-expansion-panel-header-title {
    display: flex;
    flex-grow: unset;
    margin-right: 16px;
    width: 200px;
}

.mailDetails {
    display: flex;
    justify-content: space-between;
    max-width: 250px
}

.margin-top-10 {
    margin-top: 10px
}