/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";
@import "~mat-range-datepicker/theming";
//@import "~bootstrap/dist/css/bootstrap.min.css";
.mat-table__wrapper {
  width: 100%;
  overflow-x: auto;
  mat-cell,
  mat-header-cell {
    min-height: 100%;
  }
}

.initCap {
  text-transform: capitalize;
}

.mat-table__wrapper .mat-table {
  min-width: 1000px;
  width: 100%;
}

.mat-table__wrapper--dashboard .mat-table {
  min-width: 600px !important;
}

.mat-table__wrapper .mat-table .email-cell {
  word-wrap: normal;
  width: 180px;
  flex: auto;
}

.m-mat-dialog-container__wrapper .mat-dialog-container {
  padding: 0;
  overflow-x: hidden;
  .m-portlet {
    margin-bottom: 0;
  }
  .alert {
    border-radius: 0 !important;
    width: 1032px;
  }
}

.mat-table__wrapper--sub .mat-table {
  min-width: 400px;
  .mat-cell:last-child {
    flex: 0 0 100px;
  }
  .mat-header-cell:last-child {
    flex: 0 0 100px;
  }
}

.ml-auto {
  margin-left: auto;
}

.example-full-width {
  width: 100%;
}

mat-radio-button {
  padding-right: 16px;
}

.m-form--alert {
  margin-top: 30px;
}

.mat-column-checkbox {
  flex: 0 0 68px;
}

.mat-column-id {
  flex: 0 0 68px;
}

.mat-column-main {
  flex: 0 0 568px;
}

.mat-column-actions {
  flex: 0 0 160px;
}

.mat-table__bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mat-column-vinCode {
  flex: 0 0 170px;
}

.m-portlet-mx-0 {
  margin: -1.1rem -2.2rem 0;
  overflow-x: hidden;
}

.mat-table__wrapper .mat-table .mat-row-editing.mat-row-inactive {
  height: 0;
  min-height: 0;
  padding: 0 !important;
  border-bottom: 0 !important;
}

.hide {
  display: none;
}

.hide {
  display: none;
}

mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}

.width100 {
  width: 100%;
}

// Praveen kumar, not marged yet, Nov 1 2019
.mat-datepicker-content {
  height: auto !important;
  width: auto !important;
  .mat-calendar {
    height: auto !important;
  }
  .end-date-sec,
  .from-date-sec {
    height: auto;
  }
  .mat-calendar-controls {
    margin: 0 !important;
  }
  .quick-select-sec {
    line-height: 1 !important;
    height: auto !important;
  }
  .calendar-button-sec {
    line-height: 45px !important;
  }
  .mat-calendar-body-label {
    padding-top: 4% !important;
    padding-bottom: 4% !important;
  }
  .mat-calendar-body-cell {
    padding-top: 4% !important;
    padding-bottom: 4% !important;
  }
}

// Praveen kumar, End
// DATATABLE GLOBAL STYLE

table.dataTable thead th,
table.dataTable thead td {
  // padding: 15px 30px;
  border-bottom: 1px solid #111111;
  white-space: nowrap !important;
}

table.dataTable td {
  // width: 1px !important;
  white-space: nowrap !important;
  font-weight: 400;
}

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 10px 15px !important;
}
table {
  border-collapse: collapse;
  white-space: pre;
  text-align: center;
  width: 100%;
}
th {
    padding: 6px;
    text-align: center;
    background: #16a184;
    color: rgb(255, 255, 255);
    // font-weight: bold; 
}

/************************************************
***************** MAT-CALENDAR ******************
*************************************************/ 
.mat-calendar-table-header th {
  text-align: center;
  padding: 6px 0px 0px 0 !important;
}
.mat-calendar-table-header-divider::after {
  content: '';
  position: absolute;
  top: 0;
  left: -8px;
  right: -8px;
  height: 0px !important;
  background: none !important;
}
.mat-calendar-body-today:not(.mat-calendar-body-selected) {
  background: #16a184 !important;
  color: white !important;
}
.mat-calendar-body-selected {
  background-color: #16a184;
  color: #fff;
}
.mat-calendar-table-header-divider::after {
  background: none !important;
}
/************************************************
***************** MAT-CALENDAR ******************
*************************************************/ 

.m-portlet .m-portlet__head {
  height: 3.2em !important;
}
.m-portlet .m-portlet__body {
  color: #2e3035 !important;
}
.m-portlet__head-text{
  font-size: 1.2em;
  margin-top: -1em;
  color: #575962;
}
table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: bold;
    background-color: #16a184;
    color: white;
}
// GLOBAL CSS FOR MAT-TABLE
mat-header-row {
  min-height: 3.2em !important;
}
mat-row {
    min-height: 2.5em !important;
}


tr.mat-footer-row, tr.mat-row {
  height: 3.2em;
}
tr.mat-header-row {
  height: 3.2em !important;
}


th.mat-header-cell, mat-header-cell {
  /* padding: 0px; */
  text-align: center !important;
  background: #16a184 !important;
  justify-content: center !important;
  color: white !important;
  border: none !important;
  font-size: 14px !important;
}
  
mat-footer-row, mat-row {
  max-height: 3.3em !important;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding: 0px 0.5em !important;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
}

// /* Zebra striping */

// tr:nth-of-type(odd) {
//     background: #eee;
// }
.thColor th {
  color: #575962;
  background: white;
}


// showProcessing
.showProcessing {
  margin-top: 5em !important;
}
// showProcessing


ul li {
  text-align: left;
}

/**
input placeholder STYLE
*/
.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-empty.mat-form-field-label {
  display: block;
  font-weight: 400;
  color: black;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
/**
input placeholder STYLE
*/

// @media (min-width: 1025px){
//   .m-aside-left--fixed .m-aside-left.m-aside-left--skin-dark .ps>.ps__rail-y>.ps__thumb-y {
//     background: #5f6386;
//     opacity: 0.1;
//     width: 0.9em !important;
//   }

//   .m-scroller:not(.m-scrollable--track)>.ps__rail-y, .m-scrollable:not(.m-scrollable--track)>.ps__rail-y {
//     right: 4px !important;
//     opacity: 0.7 !important;
//     width: 0.9em !important;
// }
// }

.mat-form-field-appearance-outline .mat-form-field-outline {
	color: #16a184 !important;
}