<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Manager Team Performance Report
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='mgrTeamForm' class="m-form m-form--label-align-left" (ngSubmit)="generateReport()">

            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                                    <m-division (valueChange)="getDivisionValue($event)" [check]=true #callDivisionComponent>
                                    </m-division>
								</div>
					        <!-- <div class="col-lg-3 m-form__group-sub">
                                    <m-designation #designationComponent (valueChange)="getDesignationLevel($event)" [check]="check"></m-designation>
								</div> -->

								<div class="col-lg-3 m-form__group-sub">
                                    <m-designation [check]=false (valueChange)="getDesignation($event)"
                                        #callDesignationComponent></m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-employee [check]=false (valueChange)="getEmployee($event)"
                                        #callEmployeeComponent></m-employee>
								</div>

                                <!-- <div class="col-lg-3 m-form__group-sub">
                                    <m-status [check]="isStatus" (valueChange)="getStatus($event)" #callStatusComponent></m-status>
								</div> -->

								<div class="col-lg-3 m-form__group-sub" >
                                    <m-status [check]=false (valueChange)="getStatusValue($event)" #callStatusComponent></m-status>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-month #monthComponent (valueChange)="getFromDate($event)"></m-month>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-year #yearComponent (valueChange)="getToDate($event)"></m-year>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <label class="form-control-label">&nbsp; </label>
                                    <button mat-raised-button color="accent" [disabled]="!mgrTeamForm.valid"><span><i class="la la-check"></i></span>Generate
                    Report</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>
<ng-container>
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</ng-container>

<div mPortletBody [hidden]="!isShowReport">
    <div class="m-portlet">
        <div class="m-portlet__body m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-12">
                    <div class="m-widget14">
                        <ng-container mPortletHeadTitle>
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Performance Report
                                </h3>
                            </div>
                        </ng-container>
                        <hr /><br />
                        <table #dataTable class="display" style="width:100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <ng-container mPortletBody *ngIf="isShowReport">
    <div style="overflow:auto; width:100%;" class="container" >
        <table #dataTable class="display" style="width:100%"></table>
    </div>
</ng-container> -->
<ng-container>
    <!-- <div class="table-container mat-elevation-z8" *ngIf="isShowReport">

        <table #table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="sn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>SN.</th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>

            </ng-container>


            <ng-container matColumnDef="district">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{currentUser.company.lables.hqLabel}} </th>
                <td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>


            <ng-container matColumnDef="designation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
                <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
            </ng-container>

            <ng-container matColumnDef="workingDCR">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Working DCR </th>
                <td mat-cell *matCellDef="let element"> {{element?.workingDCR}} </td>
            </ng-container>

            <ng-container matColumnDef="otherDCR">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Other DCR </th>
                <td mat-cell *matCellDef="let element"> {{element.otherDCR}} </td>
            </ng-container>

            <ng-container matColumnDef="pendingDCR">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Pending DCR </th>
                <td mat-cell *matCellDef="let element"> {{element.totalPendingDCR}} </td>
            </ng-container>

            <ng-container matColumnDef="incompleteDCR">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Incomplete DCR </th>
                <td mat-cell *matCellDef="let element"> {{element.incompleteDCR}} </td>
            </ng-container>

            <ng-container matColumnDef="tpSubmitted">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> TP Submitted </th>
                <td mat-cell *matCellDef="let element"> {{element.submitted}} </td>
            </ng-container>

            <ng-container matColumnDef="tpApproved">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> TP Approved </th>
                <td mat-cell *matCellDef="let element"> {{element.approved}} </td>
            </ng-container>

            <ng-container matColumnDef="totalDoctor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{currentUser.company.lables.doctorLabel}} </th>
                <td mat-cell *matCellDef="let element"> {{element.totalDoctors}} </td>
            </ng-container>

            <ng-container matColumnDef="totalDoctorTimePeriod">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Active {{currentUser.company.lables.doctorLabel}} on Selected Time Period </th>
                <td mat-cell *matCellDef="let element"> {{element.totalActiveDoctorOnSelectedTimePeriod}} </td>
            </ng-container>


            <ng-container matColumnDef="totalChemist">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{currentUser.company.lables.vendorLabel}}/{{currentUser.company.lables.stockistLabel}} </th>
                <td mat-cell *matCellDef="let element"> {{element.totalChemists}} </td>
            </ng-container>

            <ng-container matColumnDef="drCall">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{currentUser.company.lables.doctorLabel}} Calls </th>
                <td mat-cell *matCellDef="let element"> {{element.doctorCall}} </td>
            </ng-container>

            <ng-container matColumnDef="drCallAvg">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{currentUser.company.lables.doctorLabel}} Call Avg </th>
                <td mat-cell *matCellDef="let element"> {{element.drCallAvg | number : '1.2'}} </td>
            </ng-container>

            <ng-container matColumnDef="listedDoctorCall">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Listed {{currentUser.company.lables.doctorLabel}} Calls </th>
                <td mat-cell *matCellDef="let element"> {{element.listedDoctorCall }} </td>
            </ng-container>

            <ng-container matColumnDef="listedDoctorCallAvg">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Listed {{currentUser.company.lables.doctorLabel}} Calls Avg</th>
                <td mat-cell *matCellDef="let element"> {{element.listedDoctorCallAvg | number :'1.2'}} </td>
            </ng-container>

            <ng-container matColumnDef="listedDoctorCoverage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Listed {{currentUser.company.lables.doctorLabel}} Coverage</th>
                <td mat-cell *matCellDef="let element"> {{element.listedDoctorCoverage | number :'1.2'}} </td>
            </ng-container>

            <ng-container matColumnDef="listedActiveDoctorCoverage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Active Listed {{currentUser.company.lables.doctorLabel}} Coverage on Time Period</th>
                <td mat-cell *matCellDef="let element"> {{element.listedActiveDoctorCoverage}} </td>
            </ng-container>

            <ng-container matColumnDef="listedVendorCall">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Listed {{currentUser.company.lables.vendorLabel}}/{{currentUser.company.lables.stockistLabel}} Call</th>
                <td mat-cell *matCellDef="let element"> {{element.listedVendorCall}} </td>
            </ng-container>

            <ng-container matColumnDef="listedVendorCallAvg">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Listed {{currentUser.company.lables.vendorLabel}}/{{currentUser.company.lables.stockistLabel}} Call Average</th>
                <td mat-cell *matCellDef="let element"> {{element.listedVendorCallAvg | number :'1.2'}} </td>
            </ng-container>

            <ng-container matColumnDef="listedVendorCoverage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Listed {{currentUser.company.lables.vendorLabel}}/{{currentUser.company.lables.stockistLabel}} Coverage</th>
                <td mat-cell *matCellDef="let element"> {{element.listedVendorCoverage | number :'1.2'}} </td>
            </ng-container>

            <ng-container matColumnDef="untouchedProvider">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> UnTouched {{currentUser.company.lables.doctorLabel}}</th>
                <td mat-cell *matCellDef="let element"> <span *ngIf="element.totalDoctors>0">{{element.totalDoctors -
            element.listedDoctorCall}}</span> <span *ngIf="element.totalDoctors<=0">0</span></td>
            </ng-container>
            <ng-container matColumnDef="untouchedProvider1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> UnTouched {{currentUser.company.lables.doctorLabel}} Seelcted Time Period</th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.totalActiveDoctorOnSelectedTimePeriod>0">{{element.totalActiveDoctorOnSelectedTimePeriod
            - element.listedDoctorCall}}</span>
                    <span *ngIf="element.totalActiveDoctorOnSelectedTimePeriod<=0">0</span>
                </td>
            </ng-container>


            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef>
                    Loading data...
                </mat-footer-cell>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
        </table>
        <mat-paginator [pageSizeOptions]=[5,20,50,100] [pageSize]="20" showFirstLastButtons></mat-paginator>
        <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </mat-card>

    </div> -->
</ng-container>
