<m-portlet [options]="{enableSticky: true}">
  <!-- use ng-container[mPortletHeadTitle] for the title -->
  <ng-container mPortletHeadTitle>
      <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
              Summary (M.I.S) Report
          </h3>
      </div>    
  </ng-container>
  <div mPortletHeadTools>
      <div>
          <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
      </div>
  </div>
  <!-- use ng-container[mPortletHeadTools] for the top right toolbar content -->

  <!-- use ng-container[mPortletBody] for the body content -->
  <div mPortletBody [hidden]="!isToggled">
      <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="SummaryPOB" (ngSubmit)="showReport()">
          <!--begin: Form Body -->
          <div class="m-portlet__body">
              <div class="row">
                  <div class="col-xl-12 ">
                      <div class="m-form__section m-form__section--first">
                          <div class="form-group m-form__group row">
                              <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                                  <m-division (valueChange)="getDivisionValue($event)" [check]=true #callDivisionComponent>
                                  </m-division>
                              </div>
                              <div class="col-lg-3 m-form__group-sub">
                                  <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent></m-state>
                              </div>

                              <div class="col-lg-3 m-form__group-sub">
                                  <div class="m-form__control">
                                      <m-district [check]=true (valueChange)="getDistrictValue($event)" #callDistrictComponent [check]=false></m-district>
                                  </div>
                              </div>
                              <div class="col-lg-3 m-form__group-sub">
                                <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                            </div>
                            <div class="col-lg-3 m-form__group-sub">
                                <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                            </div>
                              <div class="col-lg-3 m-form__group-sub">
                                  <button mat-raised-button color="accent" [disabled]="!SummaryPOB.valid"><span><i class="la la-check"></i></span>View Status</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="m-portlet__foot m-portlet__foot--fit">
          </div>
      </form>

  </div>
</m-portlet>

<div mPortletBody *ngIf="showData">
    <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
      class="col-sm-1" (click)="exporttoExcel()"><i class="fa fa-file-excel"
        style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i></span>
  </div>
  <div class="example-container" style="margin: 0 11px;" *ngIf="showData">
		
      <div style="max-height: 25rem; overflow: auto;">
        <table mat-table [dataSource]="dataSource" class="table-striped" matSort  id="tableId1">
          <ng-container matColumnDef="sn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </th>
            <td mat-cell *matCellDef="let element; let i = index;">
              {{(paginator.pageIndex) * paginator.pageSize + (1 + i)}} </td>
          </ng-container>
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
            <td mat-cell *matCellDef="let element"> {{element?.state !== '' ? element?.state : "---"}}
            </td>
          </ng-container>
          <ng-container matColumnDef="hq">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Headquarter </th>
            <td mat-cell *matCellDef="let element"> {{element?.district !== '' ? element?.district : "---"}}
            </td>
          </ng-container>

          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Manager Name </th>
            <td mat-cell *matCellDef="let element"> {{element?.MgrName !== '' ? element?.MgrName : "---"}}
            </td>
          </ng-container>
          <ng-container matColumnDef="team">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>No of TSM/SE </th>
            <td mat-cell *matCellDef="let element"> {{element?.team !== '' ? element?.team : "---"}}
            </td>
          </ng-container>
         
          <ng-container matColumnDef="statusDated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status Dated</th>
            <td mat-cell *matCellDef="let element"> {{element?.statusDate !== '' ? element?.statusDate : "---"}}
            </td>
          </ng-container>

          <ng-container matColumnDef="TC">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TC</th>
            <td mat-cell *matCellDef="let element"> {{element?.totalCallsLastDate !== '' ? (element?.totalCallsLastDate): 0}}
            </td>
          </ng-container>

          <ng-container matColumnDef="PC">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> PC </th>
            <td mat-cell *matCellDef="let element">
              {{element?.productiveCallsLastDate !== '' ? element?.productiveCallsLastDate : 0}} </td>
          </ng-container>
          <ng-container matColumnDef="POB">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Team POB </th>
            <td mat-cell *matCellDef="let element"> {{element.totalLastDatePOB ? element?.totalLastDatePOB.toFixed(2) : 0}} </td>
          </ng-container>
          <ng-container matColumnDef="SOB">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Team SOB</th>
            <td mat-cell *matCellDef="let element"> {{element.totalLastDateSOB ? element?.totalLastDateSOB.toFixed(2) : 0}} </td>
          </ng-container>
          <ng-container matColumnDef="stockistForwarded">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Stockist Forwarded </th>
            <td mat-cell *matCellDef="let element">
            <ul style="list-style: none;" *ngFor="let data of element.stockistName">
              <li>{{data}}</li>
            </ul>  
            </td>
          </ng-container>
          <ng-container matColumnDef="workWith">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Joint Work With </th>
            <td mat-cell *matCellDef="let element">
            <ul style="list-style: none;" *ngFor="let data of element.workWith">
              <li>{{data}}</li>
            </ul>  
            </td>
          </ng-container>

          <ng-container matColumnDef="totalTC">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Progressive Calls </th>
            <td mat-cell *matCellDef="let element"> {{element.totalCalls ? element?.totalCalls : 0}} </td>
          </ng-container>
          <ng-container matColumnDef="totalPC">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Progressive Productive Calls </th>
            <td mat-cell *matCellDef="let element"> {{element.productiveCalls ? element?.productiveCalls : 0}} </td>
          </ng-container>
          <ng-container matColumnDef="totalPOB">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Progressive POB </th>
            <td mat-cell *matCellDef="let element"> {{element.totalPOB ? element?.totalPOB.toFixed(2) : 0}} </td>
          </ng-container>
          <ng-container matColumnDef="totalSOB">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Progressive SOB </th>
            <td mat-cell *matCellDef="let element"> {{element.totalSOB ? element?.totalSOB : 0}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div>
        <mat-paginator #paginator [length]="dataSource?.length || 0" [pageSizeOptions]="[5, 10, 20, 50,100]"
          [pageSize]="50" showFirstLastButtons>
        </mat-paginator>
      </div>
  </div>
