<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Missed Porvider Details 
            </h3>
        </div>
</ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='form' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewRecords()">
            <div class="m-portlet__body">
                <div class="row mb-2" [hidden]="!showReportType">
                    <div class="col-xl-12 ">
                        <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showType">
                                    <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                                    <m-division (valueChange)="getDivisionValue($event)" [check]=true
                                        #callDivisionComponent>
                                    </m-division>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showState">
                                    <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                                    </m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDistrict">
                                    <m-district [check]=true (valueChange)="getDistrictValue($event)"
                                        #callDistrictComponent></m-district>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDesignation"
                                    *ngIf="isShowTeamInfo">
                                    <m-designation [check]=false (valueChange)="getDesignation($event)"
                                        #callDesignationComponent></m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showEmployee" *ngIf="isShowTeamInfo">
                                    <m-employee [check]=true (valueChange)="getEmployeeValue($event)"
                                        #callEmployeeComponent></m-employee>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-status (valueChange)="getStatusValue($event)" [check]=false #setStatus>
                                    </m-status>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <mat-form-field class="custom-mat-range-datepicker">
                                        <input matInput [max]="currentDate" [matRangeDatepicker]="resultPicker"
                                            formControlName="dateRange" placeholder="From - To Date"
                                            (valueChange)="hideTable()">
                                        <mat-datepicker-toggle matSuffix [for]="resultPicker"></mat-datepicker-toggle>
                                        <mat-range-datepicker #resultPicker [rangeMode]="true">
                                        </mat-range-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent" [disabled]="!form.valid"><span><i
                                                class="la la-check"></i></span>View
                                        Status</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>

<ng-container>
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</ng-container>
<m-portlet [hidden]="!showReport">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                {{this.currentUser.company.lables.doctorLabel}} Call Average Report
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <span matTooltip="Export To Excel" matTooltipPosition="above" aria-label="Displays a tooltip"
        style="float: right;" class="col-sm-1" (click)="exportToExcel()"><i class="fa fa-file-excel"
            style="cursor:pointer; color: green;font-size: 2em;" aria-hidden="true"></i></span>
    </div>

    <ng-container mPortletBody>
        <div style="overflow-x:auto;">
            <table class="GeneratedTable" id="tableId1" #tableData>
                <thead>
                    <tr>
                        <th rowspan="2">S.No.</th>
                        <th *ngIf="showDivisionFilter" rowspan="2">Division</th>
                        <th rowspan="2">State Name</th>
                        <th rowspan="2">District Name</th>
                        <th rowspan="2">Name</th>
                        <th rowspan="2">DOJ</th>
                        <th colspan="6" style="text-align: center" *ngFor="let month of dynamicTableHeader">{{month}}
                        </th>
                        <!-- <th colspan="16" style="text-align: center">Total</th> -->
                    </tr>
                    <tr>
                        <ng-container *ngFor="let month of dynamicTableHeader">
                            <th>Total Doctors</th>
                            <th>Total Doctor Calls</th>
                            <th>Missed Doctor</th>
                            <th>Total Chemist</th>
                            <th>Total Chemist Calls</th>
                            <th>Missed Chemist</th>
                           </ng-container>

                        
                    </tr>
                </thead>
                 <tbody>
                    <tr *ngFor="let d of data; let i=index">
                        <td >{{i+1}}</td>
                        <td *ngIf="showDivisionFilter">{{d.divisionName}}</td>
                        <td>
                            {{d.stateName}}
                        </td>
                        <td>
                            {{d.districtName}}
                        </td>
                        <td>
                            {{d.name}}
                        </td>
                        <td>
                            {{d.empDOJ}}
                        </td>
                        <ng-container *ngFor="let dvData of d.docVenData">
                            <td *ngFor="let dd of dvData.data">
                                {{dd}}
                            </td>
                        </ng-container>

                    </tr>
                </tbody>
            </table>


        </div>
    </ng-container>
</m-portlet>