<m-portlet [options]="{enableSticky: true}">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Manager Wise- MR Quantity Value wise Secondary Sale
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='mgrAnalysisForm' class="m-form m-form--label-align-left" (ngSubmit)="generateReport()">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!showDivisionFilter">
                                    <m-division (valueChange)="getDivisionValue($event)" [check]=true #callDivisionComponent>
                                    </m-division>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-designation #designationComponent (valueChange)="getDesignationLevel($event)" [check]=false></m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-status [check]=false (valueChange)="getStatus($event)" #callStatusComponent>
                                    </m-status>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-employee #employeeComponent (valueChange)="getEmployee($event)" [check]=true>
                                    </m-employee>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <mat-form-field class="custom-mat-range-datepicker">
                                        <input matInput [max]="currentDate" [matRangeDatepicker]="resultPicker" formControlName="dateRange" placeholder="From - To Date" (valueChange)="hideTable()">
                                        <mat-datepicker-toggle matSuffix [for]="resultPicker"></mat-datepicker-toggle>
                                        <mat-range-datepicker #resultPicker [rangeMode]="true">
                                        </mat-range-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent" [disabled]="!mgrAnalysisForm.valid"><span><i class="la la-check"></i></span>
                                        Generate Report</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>


<m-portlet *ngIf="showReport">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Manager Wise-MR Qty Value wise Secondary Sale
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletBody>
        <div style="overflow-x:auto;max-height:22rem;" class="mat-elevation-z2">
            <table class="GeneratedTable" id="tableId1">
                <thead>
                    <tr>
                        <th rowspan="2">MR</th>
                        <th rowspan="2">STK Name</th>
                        <th colspan="2" style="text-align: center" *ngFor="let month of dynamicTableHeader">{{month}}
                        </th>
                        <!-- <th colspan="16" style="text-align: center">Total</th> -->
                    </tr>
                    <tr style="text-align: center" class="second-row">
                        <ng-container *ngFor="let month of dynamicTableHeader">
                            <th>Qty</th>
                            <th>value</th>
                        </ng-container>
                    </tr>

                </thead>
                <tbody>
                    <ng-container *ngFor="let dt of data; let $index = index">
                        <tr style="background: yellow">
                            <td>
                                {{'---'}}
                            </td>
                            <td>
                                {{dt.managerName}}
                            </td>
                            <ng-container *ngFor="let mtq of dt.managerTotalQty let i = index">
                                <td style="text-align: center">
                                    {{mtq | number : '1.0-2'}}
                                </td>
                                <td style="text-align: center">
                                    {{dt.managerTotalSale[i] | number : '1.0-2'}}
                                </td>
                            </ng-container>
                        </tr>
                        <tr *ngFor="let usd of dt.userStkData; let $index = index">
                            <td>
                                {{usd.username}}
                            </td>
                            <td>
                                {{usd.partyName}}
                            </td>
                            <ng-container *ngFor="let md of usd.monthData let i = index">
                                <td style="text-align: center">
                                    {{md.totalSecondrySaleQty | number : '1.0-2'}}
                                </td>
                                <td style="text-align: center">
                                    {{md.totalSecondrySaleAmt | number : '1.0-2'}}
                                </td>
                            </ng-container>
                        </tr>
                    </ng-container>
                </tbody>
            </table>


        </div>
    </ng-container>
</m-portlet>

<div class="col-xl-12" *ngIf="showProcessing" align="center">
    <img src="assets/app/media/img/processing/loading.gif">
</div>