

.mat-error {
    display: block;
    font-size: 12px;
}

fieldset {
    width: 100%;
    margin: 10px;
    padding: 20px;
	border:1px solid #999;
	border-radius:8px;
	box-shadow:0 0 10px #999;
}
legend {
	background:#fff;
}



table {
	width: 100%;
}

.table-container {
	height: 400px;
	overflow: auto;
}


tr:nth-of-type(odd) { 
	background: #eee; 
}

th { 
    padding: 0px; 
    text-align: center;
    background: #16a184;
    color: rgb(255, 255, 255); 
    border: 1px solid #ccc; 

}

td { 
    padding: 0px; 
    border: 1px solid #ccc; 
    text-align: center; 
}