<!--<mat-form-field style="width: 100%;">
    <mat-select placeholder="Select {{this.currentUser.company.lables.hqLabel}}" required (selectionChange)='changedValue($event.value)' multiple={{check}}>
        <mat-option *ngFor="let district of districtData" [value]="district.id">
            {{district.districtName}}
        </mat-option>
    </mat-select>
</mat-form-field>-->
<mat-list-item class="primary-imenu-item" role="listitem">
    <mat-form-field class="mat-form-field-fluid">
        <mat-select [(ngModel)]="districtSelected" [compareWith]="equals" [(value)]="selected"
            placeholder="Select {{this.currentUser.company.lables.hqLabel}}" required
            (selectionChange)='changedValue($event.value)' multiple={{check}} #districtSelect="ngModel">
            <!-- <b *ngIf="check==true && districtIdsLength > 5">  &nbsp; </b> -->
            <div class="d-flex mb-1 sticky-top">
                <button class="mat-primary fill text-sm button button2" (click)="selectAll(districtSelect, districtIds)"
                    *ngIf="check==true && districtIdsLength > 5">
                    Select All
                </button>
                <!-- <b *ngIf="check==true && districtIdsLength > 5">  &nbsp; </b> -->
                <button class="mat-accent fill text-sm button button3" (click)="deselectAll(districtSelect)"
                    *ngIf="check==true && districtIdsLength > 5">
                    Deselect All
                </button>
            </div>
            <mat-option *ngFor="let district of districtData" [value]="district.id">
                {{district.districtName}}
            </mat-option>
        </mat-select>
        <mat-error>{{this.currentUser.company.lables.hqLabel}} is required</mat-error>

    </mat-form-field>
</mat-list-item>