<mat-form-field class="mat-form-field-fluid">
    <mat-label>Select Financial Year</mat-label>
    <mat-select placeholder="Select Financial Year" required (selectionChange)='changedValue($event.value)'>
        <mat-option *ngFor="let year of yearList" [value]="year.value">
            {{year.view}}
        </mat-option>
    </mat-select>
</mat-form-field>