<m-portlet>
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        CRM Doctors Yearly Investment With ROI
      </h3>
    </div>
  </ng-container>

  <div mPortletHeadTools>
    <div>
      <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
  </div>

  <ng-container mPortletBody>
    <form [formGroup]='dcrStatus' class="m-form m-form--label-align-left- m-form--state-"
      (ngSubmit)='getRecords()'>
      <div class="m-portlet__body">
        <div class="row">
          <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
        </div>

        <div class="row">
          <div class="col-xl-12">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">
                <div class="col-lg-3 m-form__group-sub">
                  <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                </div> <!-- TYPE FILTER -->

                <div class="col-lg-3 m-form__group-sub" [hidden]='!showDivisionFilter'>
                  <m-division (valueChange)="getDivisionValue($event)" [check]=true #callDivisionComponent>
                  </m-division>
                </div> <!-- DIVIDION FILTER -->

                <div class="col-lg-3 m-form__group-sub" [hidden]='!stateFilter'>
                  <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                  </m-state>
                </div> <!-- STATE FILTER -->

                <div class="col-lg-3 m-form__group-sub" [hidden]='!showHeadquarter'>
                  <m-district (valueChange)="getDistrict($event)" [check]=true #callDistrictComponent>
                  </m-district>
                </div> <!-- HeadQuarter FILTER -->

                <div class="col-lg-3 m-form__group-sub" [hidden]='!employeeFilter'>
                  <m-designation (valueChange)="getDesignation($event)" [check]=true #callDesignationComponent>
                  </m-designation>
                </div> <!-- designation FILTER -->

                <div class="col-lg-3 m-form__group-sub" [hidden]='!employeeFilter'>
                  <m-employee (valueChange)="getEmployee($event)" [check]=true #callEmployeeComponent>
                  </m-employee>
                </div> <!-- Employee FILTER -->

                <div class="col-lg-3 m-form__group-sub">
                  <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                </div><!-- From Date -->
                <div class="col-lg-3 m-form__group-sub">
                  <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                </div><!-- To Date -->

                <div class="col-lg-3 m-form__group-sub">
                  <button mat-raised-button color="accent" [disabled]="!dcrStatus.valid"><span><i
                        class="la la-check"></i></span>View Details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</m-portlet>
<m-reusable-table [tableData]="tableData" [columnHeader]="columnHeader" [hidden]="!show"></m-reusable-table>