<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Sample and Gift Report
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form [formGroup]='viewSampleAndGift' class="m-form m-form--label-align-left- m-form--state-"
            (ngSubmit)="viewSampleAndGiftDetail()">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="col-lg-12 form-group m-form__group row">
                                <div class="m-form__group-sub" [hidden]=!showEmpReportType>
                                    <mat-radio-button class="form-control-label" [checked]='true'
                                        (change)="reportType('Employeewise')" name="reportTypeName"
                                        value="Employeewise">
                                        * User wise
                                    </mat-radio-button>
                                </div>
                                <div class="m-form__group-sub" [hidden]=!showMgrSelfReportType>
                                    <mat-radio-button class="form-control-label" [checked]='false'
                                        (change)="mgrSelf('self')" name="reportTypeName" value="self">
                                        * Self
                                    </mat-radio-button>
                                </div>
                                <div class="m-form__group-sub" [hidden]=!showStateReportType>
                                    <mat-radio-button class="form-control-label" (change)="reportType('Statewise')"
                                        name="reportTypeName">
                                        * State wise
                                    </mat-radio-button>
                                </div>
                                <div class="m-form__group-sub" [hidden]=!showHqReportType>
                                    <mat-radio-button class="form-control-label"
                                        (change)="reportType('Headquarterwise')" name="reportTypeName">
                                        * {{this.currentUser.company.lables.hqLabel}} wise
                                    </mat-radio-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!stateFilter>
                                    <m-state (valueChange)="getStateValue($event)" [check]=false #callStateComponent></m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!districtFilter>
                                    <m-district [check]=false (valueChange)="getEmployeeValue($event)"
                                        #callDistrictComponent>
                                    </m-district>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!districtFilterForMulti>
                                    <m-district [check]=true (valueChange)="getEmployeeValue($event)"
                                        #callDistrictComponentAgainForMulti>
                                    </m-district>
                                </div>
                                <div class="col-lg-3" [hidden]=!designationFilterForUserwiseOnly>
                                    <mat-form-field>
                                        <mat-label>Select Designation</mat-label>
                                        <mat-select placeholder="Select Designation" formControlName='designation'
                                            (valueChange)="getEmployeeValue($event)">
                                            <mat-option *ngFor="let designation of designationData"
                                                [value]="designation._id.designationLevel">
                                                {{designation._id.designation}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!designationFilterForMgr>
                                    <m-designation #designationComponent (valueChange)="getMgrEmployee($event)"
                                        [check]="false">
                                    </m-designation>
                                </div>
                                <div class="col-lg-3" [hidden]=!designationFilter>
                                    <mat-form-field>
                                        <mat-label>Select Designation</mat-label>
                                        <mat-select placeholder="Select Designation" formControlName='designation'>
                                            <mat-option *ngFor="let designation of designationData"
                                                [value]="designation._id.designationLevel">
                                                {{designation._id.designation}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]=!employeeFilter>
                                    <m-employee [check]=true (valueChange)="setEmployeeDetail($event)"
                                        #callEmployeeComponent>
                                    </m-employee>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-month (valueChange)="getMonth($event)" check=true #callMonthComponent></m-month>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-year (valueChange)="getYear($event)" check=true #callYearComponent></m-year>
                                </div>
                                <div class="col-lg-3 m-form__group-sub  mt-3" [hidden]=!moduleType>
                                    <mat-radio-button class="form-control-label" name="moduleTypeName"
                                        (change)="moduleSubmitType('sample')">
                                        * Sample
                                    </mat-radio-button>
                                    <mat-radio-button class="form-control-label" name="moduleTypeName"
                                        (change)="moduleSubmitType('gift')">
                                        * Gift
                                    </mat-radio-button>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent"
                                        [disabled]="!viewSampleAndGift.valid"><span><i
                                                class="la la-check"></i></span>View
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>
<br>
<m-portlet [options]="{enableSticky: true}" *ngIf="isShowIssueSample">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                {{this.viewSampleAndGift.value.moduleTypeName}} Issued Details
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletBody>
        <!-- <div class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="sno">
                    <th mat-header-cell *matHeaderCellDef> Sr.No. </th>
                    <td mat-cell *matCellDef="let row;let i = index;">{{i+1}} </td>
                </ng-container>

                <ng-container matColumnDef="stateName">
                    <th mat-header-cell *matHeaderCellDef> State </th>
                    <td mat-cell *matCellDef="let element"> {{element.stateName}} </td>
                </ng-container>

                <ng-container matColumnDef="districtName">
                    <th mat-header-cell *matHeaderCellDef> Headquarter </th>
                    <td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
                </ng-container>

                <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef> User Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                </ng-container>

                designation Column 
                <ng-container matColumnDef="productName">
                    <th mat-header-cell *matHeaderCellDef> {{this.viewSampleAndGift.value.moduleTypeName}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
                </ng-container>

                <ng-container matColumnDef="productCode">
                    <th mat-header-cell *matHeaderCellDef> Product Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.productCode}} </td>
                </ng-container>

                <ng-container matColumnDef="opening">
                    <th mat-header-cell *matHeaderCellDef> Opening</th>
                    <td mat-cell *matCellDef="let element"> {{element.opening}} </td>
                </ng-container>

                <ng-container matColumnDef="receipt">
                    <th mat-header-cell *matHeaderCellDef> Receipt</th>
                    <td mat-cell *matCellDef="let element"> {{element.receipt}} </td>
                </ng-container>

                <ng-container matColumnDef="balance">
                    <th mat-header-cell *matHeaderCellDef>Balance</th>
                    <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
                </ng-container>
                <ng-container matColumnDef="issueDate">
                    <th mat-header-cell *matHeaderCellDef>Issued Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.issueDate}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div> -->
        <div style="overflow:auto; width:100%;" class="container">
            <table #dataTable class="display" style="width:100%">
            </table>
        </div>
    </ng-container>
</m-portlet>