<m-portlet [options]="{enableSticky: true}">
    <!-- use ng-container[mPortletHeadTitle] for the title -->
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Day Plan Lock Open
            </h3>
        </div>
    </ng-container>

    <ng-container mPortletBody>
        <!-- <mat-radio-group class="dtpt-option">
        <mat-radio-button value="dp" (click)="changedProgram('dp')" [checked]='true'>Day Program</mat-radio-button>
        <mat-radio-button value="tp" (click)="changedProgram('tp')">Tour Program</mat-radio-button>
    </mat-radio-group> -->
        <form [formGroup]='dayPlanForm' class="m-form m-form--label-align-left- m-form--state-">
            <div class="m-portlet_body">
                <div class="row col-lg-12" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'">
                    <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
                </div>
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="m-form__section m-form__section--first">
                            <div class="form-group m-form__group row" [hidden]=!showAdminAndMGRLevelFilter>

                                <!------------------nipun  -->
                                <div class=" col-lg-3 m-form__group-sub">
                                    <mat-form-field style="width:100%;">
                                        <mat-select required (selectionChange)="changedProgram($event.value)"
                                            [value]="chosenProgram" placeholder="Select program Type">
                                            <mat-option value="dp">
                                                Day Program
                                            </mat-option>
                                            <mat-option value="tp">
                                                Tour Program
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>Program Type is Required !</mat-error>
                                    </mat-form-field>
                                </div>
                                <!------------------nipun (23-01-2020) clock time picker --------------->
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-type [selectedType]="TypeSelected" (valueChange)="getTypeValue($event)"
                                        #callTypeComponent></m-type>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                                    <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent>
                                    </m-division>
                                    <!-- <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type> -->
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showState">
                                    <m-state [stateSelected]="selecetdState" (valueChange)="getStateValue($event)"
                                        [check]=true #callStateComponent></m-state>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showDistrict">
                                    <m-district [check]=true [districtSelected]="selecetdDistricts"
                                        (valueChange)="getDistrictValue($event)" #callDistrictComponent></m-district>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                                    <m-designation (valueChange)="getDesignation($event)" #callMonthComponent
                                        [check]=true></m-designation>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                                    <m-employee [check]=true (valueChange)="getEmployeeValue($event)"
                                        #callEmployeeComponent></m-employee>
                                </div>

                                <div class=" col-lg-3 m-form__group-sub"
                                    *ngIf=" chosenProgram === 'dp'">
                                    <mat-form-field style="width:100%;">
                                        <input matInput [ngxTimepicker]="fullTime" formControlName="lockOpenDate"
                                            placeholder="Lock Open Date" [format]="24" readonly>
                                        <ngx-material-timepicker-toggle [for]="fullTime">
                                        </ngx-material-timepicker-toggle>
                                        <ngx-material-timepicker #fullTime></ngx-material-timepicker>
                                        <mat-error>Date Of Lock Open is required!!!</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class=" col-lg-3 m-form__group-sub" *ngIf="chosenProgram === 'tp'">
                                    <mat-form-field style="width:100%;">
                                        <input matInput placeholder="Lock Open Date" type="number" min="1" max="31"
                                            (keyup)="validatedate()" formControlName="lockOpenDateTp">
                                        <!-- <mat-error>Date Of Lock Open is required!!!</mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="chosenProgram==='dp'">
                                    <button mat-raised-button color="accent" [disabled]="!dayPlanForm.valid"
                                        (click)="updateRecords('dp')"><span><i class="la la-check"></i></span>Update
                                        DP</button>
                                </div>
                                <div class="col-lg-3 m-form__group-sub" *ngIf="chosenProgram==='tp'">
                                    <button mat-raised-button color="accent"
                                        [disabled]="!(dayPlanForm.value.lockOpenDateTp<32 && dayPlanForm.value.lockOpenDateTp > 0) "
                                        (click)="updateRecords('tp')"><span><i class="la la-check"></i></span>Update
                                        TP</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </ng-container>