<mat-form-field class="mat-form-field-fluid">
    <mat-select placeholder="Select {{this.currentUser.company.lables.areaLabel}}" required (selectionChange)='changedValue($event.value)' multiple={{check}}>
        <mat-option *ngFor="let area of areaData" [value]="area.id">
            {{area.areaName}}
        </mat-option>
    </mat-select>
</mat-form-field>