<mat-card style="margin: 10px;">

    <h2 mat-dailog-hearder>Tour Program</h2>
    <br/>
    <mat-card-content>
        <div class="row">
            <div class="col-xl-12">
                <div class="m-form__section m-form__section--first">
                    <div class="form-group m-form__group row">
                        <div class="col-lg-4 m-form__group-sub">

                            <!-- <p-calendar [(ngModel)]="datesSelected" [inline]=true [utc]="true" selectionMode="multiple"></p-calendar> -->
                            <!--[disabledDates]="invalidDates" [inline]="true" [selectionMode]="selectionMode" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" (onSelect)="onSelectDate($event)" (onMonthChange)="monthChange($event)"
                                    (onYearChange)="yearChange($event)"-->
                            <p-calendar [(ngModel)]="datesSelected" [inline]="true" [utc]="true" [minDate]="minDateValue" [maxDate]="maxDateValue" dateFormat="yy-mm-dd" [selectionMode]="selectionMode" [monthNavigator]="false"></p-calendar>
                        </div>
                        <div class="col-lg-8 m-form__group-sub">
                            <form [formGroup]="form" (ngSubmit)="submit()">
                                <formly-form [form]="form" [fields]="fields" [model]="model">
                                    <button type="submit" [disabled]="!form.valid" mat-raised-button color="primary">Update TP</button>
                                </formly-form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>