.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }

  .heading{
    font-size: 30px;
    margin: 20px;
  }
  .user-container{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
  }

  fieldset {
    width: 100%;
    margin: 10px 0;
    padding: 20px;
	border:1px solid #999;
	border-radius:8px;
	box-shadow:0 0 10px #999;
}
legend {
	background:#fff;
}