<m-portlet [options]="{enableSticky: true}">
  <div mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Sales Report
      </h3>
    </div>
  </div>
  <div mPortletHeadTools>
    <div>
      <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
  </div>
  <div mPortletBody>
    <form [formGroup]='dcrForm' class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="viewRecords()">
      <!-- <pre>{{ this.dcrForm.value|json}}</pre> -->
      <div class="m-portlet__body">
        <div class="row col-lg-12" *ngIf="this.currentUser.userInfo[0].designationLevel!='1'">
          <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
        </div>
        <div class="row">
          <div class="col-xl-12 ">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row" [hidden]=!showAdminAndMGRLevelFilter>

                <div class="col-lg-3 m-form__group-sub">
                  <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="showState">
                  <mat-form-field class="mat-form-field-fluid">
                    <mat-select #select formControlName="stateInfo" placeholder="Select State" required
                      (selectionChange)='getStateValue($event.value)' multiple="true">
                      <mat-option [value]="0" (click)="toggleAllSelection()" style="background-color: #16a184;
                      color: white;">Select All</mat-option>
                      <mat-option *ngFor="let state of stateData" [value]="state.code">
                        {{state.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error>State is required!!!</mat-error>
                  </mat-form-field>
                  <!-- <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                  </m-state> -->
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="showDistrict">
                  <mat-form-field class="mat-form-field-fluid">
                    <mat-select #selectHQ formControlName="districtInfo" placeholder="Select Headquater" required
                      (selectionChange)='getDistrictValue($event.value)' multiple="true">
                      <mat-option [value]="0" (click)="toggleAllSelectionForHQ()" style="background-color: #16a184;
                      color: white;">Select All</mat-option>
                      <mat-option *ngFor="let district of districtData" [value]="district.code">
                        {{district.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error>Headquater is required!!!</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                  <mat-form-field class="mat-form-field-fluid">
                    <mat-select formControlName="designation" placeholder="Select Designation" required
                      (selectionChange)='getDesignation($event.value)' multiple="false">
                      
                      <mat-option *ngFor="let desig of desigData" [value]="desig.code">
                        {{desig.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error>Designation is required!!!</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="showEmployee">
                  <mat-form-field class="mat-form-field-fluid">
                    <mat-select formControlName="employeeId" placeholder="Select Manager" required multiple="false">
                      <mat-option *ngFor="let manager of managerData" [value]="manager.code">
                        {{manager.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error>Manager is required!!!</mat-error>
                  </mat-form-field>
                </div>
                <!-- <div class="col-lg-3 m-form__group-sub">
                  <m-status (valueChange)="getStatusValue($event)" [check]="true" #setStatus>
                  </m-status>
                </div> -->
                <div class="col-lg-3 m-form__group-sub">
                  <mat-form-field class="mat-form-field-fluid">
                    <mat-select formControlName="wiseType" placeholder="Select Type" required multiple="false" (selectionChange)='getSaleArray($event.value)'>
                      <mat-option *ngFor="let type of wiseType" [value]="type.value">
                        {{type.value}}
                      </mat-option>
                    </mat-select>
                    <mat-error>Type is required!!!</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="multipleTrue">
                  <mat-form-field class="mat-form-field-fluid">
                    <mat-select formControlName="saleType" placeholder="Select Sale Type" required multiple="true" >
                      <mat-option *ngFor="let type of saleTypeArr" [value]="type.value">
                        {{type.value}}
                      </mat-option>
                    </mat-select>
                    <mat-error>Sale Type is required!!!</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-3 m-form__group-sub" *ngIf="multiple">
                  <mat-form-field class="mat-form-field-fluid">
                    <mat-select formControlName="saleType" placeholder="Select Sale Type" required multiple="false" >
                      <mat-option *ngFor="let type of saleTypeArr" [value]="type.value">
                        {{type.value}}
                      </mat-option>
                    </mat-select>
                    <mat-error>Sale Type is required!!!</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <m-fromdate (valueChange)="getFromDate($event)" #fromDate></m-fromdate>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <m-todate (valueChange)="getToDate($event)" #toDate></m-todate>
                </div>
                <div class="col-lg-3 m-form__group-sub">
                  <button mat-raised-button color="accent" [disabled]="!dcrForm.valid"><span><i
                        class="la la-check"></i></span> View
                    Sale</button> </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="m-portlet__foot m-portlet__foot--fit">
      </div>
    </form>

  </div>
</m-portlet>

<ng-container mPortletBody *ngIf="showReport">
  <div class="m-portlet">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-xl-12">
          <div class="m-widget14">
            <ng-container mPortletHeadTitle>
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Sales View
                </h3>
              </div>
            </ng-container>
            <div mPortletBody [hidden]="!isToggled"></div>
            <hr /><br />
            <!-- <div class="position-relative" style="max-height: 400px;overflow-y: scroll;">
              <div class="table-container">
                <div class="table-responsive">
                  <table class="table table-sm table-bordered table-hover w-100 shadow">
                    <thead class="thead-dark">
                      <tr class="bg-primary">
                        <td>S.No.</td>
                        <td>State</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ans of test; let i=index">
                        <td>{{ans.index}}.</td>
                        <td>{{ans.stateName}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div> -->
            <table #dataTable class="display" style="width:100%"></table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<div class="col-xl-12 showProcessing" *ngIf="showProcessing" align="center">
  <mat-spinner strokeWidth="3" [diameter]="60"></mat-spinner>
</div>
<ng-container mPortletBody *ngIf="isShowHqClick">
  <div class="m-portlet">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-xl-12">
          <div class="m-widget14">
            <ng-container mPortletHeadTitle>
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Headquater Sale
                </h3>
              </div>
            </ng-container>
            <hr /><br />
            <table #dataTableHq class="display" style="width:100%"></table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<div class="col-xl-12 showProcessing" *ngIf="showProcessingHq" align="center">
  <mat-spinner strokeWidth="3" [diameter]="60"></mat-spinner>
</div>
<ng-container mPortletBody *ngIf="isShowPartyClick">
  <div class="m-portlet">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-xl-12">
          <div class="m-widget14">
            <ng-container mPortletHeadTitle>
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Party Sale
                </h3>
              </div>
            </ng-container>
            <hr /><br />
            <table #dataTableParty class="display" style="width:100%"></table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<div class="col-xl-12 showProcessing" *ngIf="showProcessingParty" align="center">
  <mat-spinner strokeWidth="3" [diameter]="60"></mat-spinner>
</div>



<!--Productwise Hq wise Admin-->
<ng-container mPortletBody *ngIf="productWiseReportShowAdminHq">
  <div class="m-portlet">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-xl-12">
          <div class="m-widget14">
            <ng-container mPortletHeadTitle>
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  HeadquaterWise Sales View
                </h3>
              </div>
            </ng-container>
            <div mPortletBody [hidden]="!isToggled"></div>
            <hr /><br />
          <div class="position-relative" style="max-height: 400px;overflow-y: scroll;">
              <div class="table-container">
                <div class="table-responsive">
                  <table class="table-responsive-sm table-bordered table-hover w-100 shadow ">
                    <thead class="thead-dark">
                      <tr class="bg-primary">
                        <th rowspan="2">S.No.</th>
                        <th rowspan="2">Product Name</th>
                        <th colspan="4">ARA</th>
                        <th colspan="4">BEGUSARAI</th>
                        <th colspan="4">BETTIAH</th>
                      </tr>
                      <tr class="bg-primary">
                        <th>Primary</th>
                        <th>Collection</th>
                        <th>Outstanding</th>
                        <th>SalesReturn</th>

                        <th>Primary</th>
                        <th>Collection</th>
                        <th>Outstanding</th>
                        <th>SalesReturn</th>

                        <th>Primary</th>
                        <th>Collection</th>
                        <th>Outstanding</th>
                        <th>SalesReturn</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td>BELIREST SUSP</td>
                        <td>6556</td>
                        <td>943875</td>
                        <td>398434</td>
                        <td>4355</td>
                        <td>7678</td>
                        <td>354089</td>
                        <td>354089</td>
                        <td>2324</td>
                        <td>8765</td>
                        <td>943875</td>
                        <td>354089</td>
                        <td>3242</td>
                      </tr>

                      <tr>
                        <td>2.</td>
                        <td>CLAVOSPEY-625 TAB</td>
                        <td>6555</td>
                        <td>887789</td>
                        <td>577566</td>
                        <td>3345</td>
                        <td>8997</td>
                        <td>656845</td>
                        <td>998890</td>
                        <td>3345</td>
                        <td>9083</td>
                        <td>943875</td>
                        <td>354089</td>
                        <td>2432</td>
                      </tr>

                      <tr>
                        <td>3.</td>
                        <td>CLAVOSPEY-D SYP</td>
                        <td>6556</td>
                        <td>943875</td>
                        <td>398434</td>
                        <td>4355</td>
                        <td>7678</td>
                        <td>354089</td>
                        <td>354089</td>
                        <td>2324</td>
                        <td>8765</td>
                        <td>943875</td>
                        <td>354089</td>
                        <td>3242</td>
                      </tr>

                      <tr>
                        <td>4.</td>
                        <td>CLAVOSPEY-FORTE D SYP</td>
                        <td>8764</td>
                        <td>868990</td>
                        <td>990754</td>
                        <td>2341</td>
                        <td>9778</td>
                        <td>764564</td>
                        <td>452346</td>
                        <td>1126</td>
                        <td>9545</td>
                        <td>905453</td>
                        <td>865656</td>
                        <td>4352</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div> 
           
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>


<!-- <ng-container mPortletBody *ngIf="stockistWiseReportShowAdminHq">
  <div class="m-portlet">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-xl-12">
          <div class="m-widget14">
            <ng-container mPortletHeadTitle>
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Party Wise Sales View
                </h3>
              </div>
            </ng-container>
            <div mPortletBody [hidden]="!isToggled"></div>
            <hr /><br />
          <div class="position-relative" style="max-height: 400px;overflow-y: scroll;">
              <div class="table-container">
                <div class="table-responsive">
                  <table class="table-responsive-sm table-bordered table-hover w-100 shadow ">
                    <thead class="thead-dark">
                      <tr class="bg-primary">
                        <th >S.No.</th>
                        <th >Party Name</th>
                        <th >Headquarter</th>
                        <th>Primary</th>
                        <th>Collection</th>
                        <th>Outstanding</th>
                        <th>SalesReturn</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td>M/S MADHAV PHARMA</td>
                        <td>ARA</td>
                        <td>43873</td>
                        <td>943875</td>
                        <td>398434</td>
                        <td>43983</td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>	M/S R.N. MEDICAL STORE</td>
                        <td>ARA</td>
                        <td>34543</td>
                        <td>796785</td>
                        <td>574545</td>
                        <td>2344</td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td>NIKHIL CHEMIST</td>
                        <td>ARA</td>
                        <td>4563</td>
                        <td>964464</td>
                        <td>346434</td>
                        <td>322</td>
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td>VRINDAVAN PHARMA</td>
                        <td>ARA</td>
                        <td>34534</td>
                        <td>875463</td>
                        <td>765634</td>
                        <td>2345</td>
                      </tr>
                      <tr>
                        <td>5.</td>
                        <td>YAMINI DRUG AGENCY</td>
                        <td>ARA</td>
                        <td>54566</td>
                        <td>966545</td>
                        <td>654576</td>
                        <td>234</td>
                      </tr>



                    </tbody>
                  </table>
                </div>
              </div>
            </div> 
           
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container> -->

<!--Manager Wise Amount wise Admin-->
<!-- <ng-container mPortletBody *ngIf="productWiseReportShowAdminStateAmount">
  <div class="m-portlet">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-xl-12">
          <div class="m-widget14">
            <ng-container mPortletHeadTitle>
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Manager Wise Sales View 
                </h3>
              </div>
            </ng-container>
            <div mPortletBody [hidden]="!isToggled"></div>
            <hr /><br />
          <div class="position-relative" style="max-height: 400px;overflow-y: scroll;">
              <div class="table-container">
                <div class="table-responsive">
                  <table class="table-responsive-sm table-bordered table-hover w-100 shadow ">
                    <thead class="thead-dark">
                      <tr class="bg-primary">
                        <th >S.No.</th>
                        <th>Headquarter</th>
                        <th>Primary</th>
                        <th>Collection</th>
                        <th>Outstanding</th>
                        <th>SalesReturn</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td>FARUKHABAD</td>
                        <td>1125.00</td>
                        <td>168505.0</td>
                        <td>153952.00</td>
                        <td>323</td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>FARUKHABAD</td>
                        <td>2053.00</td>
                        <td>168505.0</td>
                        <td>153952.00</td>
                        <td>756</td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td>FARUKHABAD</td>
                        <td>0.0</td>
                        <td>168505.0</td>
                        <td>153952.00</td>
                        <td>875</td>
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td>KANPUR</td>
                        <td>3278.00</td>
                        <td>123264.0</td>
                        <td>311840.59</td>
                        <td>344</td>
                      </tr>
                      <tr>
                        <td>5.</td>
                        <td>KANNUJ</td>
                        <td>12600.00</td>
                        <td>100000.0</td>
                        <td>158317.97</td>
                        <td>4334</td>
                      </tr>



                    </tbody>
                  </table>
                </div>
              </div>
            </div> 
           
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container> -->


<!--Manager Wise Product wise Admin-->
<!-- <ng-container mPortletBody *ngIf="productWiseReportShowProductAdminMgeWise">
  <div class="m-portlet">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-xl-12">
          <div class="m-widget14">
            <ng-container mPortletHeadTitle>
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Manager Wise Sales View
                </h3>
              </div>
            </ng-container>
            <div mPortletBody [hidden]="!isToggled"></div>
            <hr /><br />
          <div class="position-relative" style="max-height: 400px;overflow-y: scroll;">
              <div class="table-container">
                <div class="table-responsive">
                  <table class="table-responsive-sm table-bordered table-hover w-100 shadow ">
                    <thead class="thead-dark">
                      <tr class="bg-primary">
                        <th >S.No.</th>
                        <th >Product Name</th>
                        <th >Headquarter</th>
                        <th>Primary</th>
                        <th>Collection</th>
                        <th>Outstanding</th>
                        <th>SalesReturn</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td>BELIREST SUSP</td>
                        <td>FARUKHABAD</td>
                        <td>1125</td>
                        <td>168505.0</td>
                        <td>153952.00</td>
                        <td>323</td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>CLAVOSPEY-625 TAB</td>
                        <td>FARUKHABAD</td>
                        <td>2053</td>
                        <td>168505.0</td>
                        <td>153952.00</td>
                        <td>756</td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td>CLAVOSPEY-D SYP</td>
                        <td>FARUKHABAD</td>
                        <td>0</td>
                        <td>168505.0</td>
                        <td>153952.00</td>
                        <td>875</td>
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td>CLAVOSPEY-FORTE D SYP</td>
                        <td>KANPUR</td>
                        <td>3278</td>
                        <td>123264.0</td>
                        <td>311840.59</td>
                        <td>344</td>
                      </tr>
                      <tr>
                        <td>5.</td>
                        <td>DUOTRIPSIN-DP TAB</td>
                        <td>KANNUJ</td>
                        <td>12600</td>
                        <td>100000.0</td>
                        <td>158317.97</td>
                        <td>4334</td>
                      </tr>



                    </tbody>
                  </table>
                </div>
              </div>
            </div> 
           
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container> -->




<!--FOr Manager StateWise Productwise-->
<!-- <ng-container mPortletBody *ngIf="productWiseReportShowMgrState">
  <div class="m-portlet">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-xl-12">
          <div class="m-widget14">
            <ng-container mPortletHeadTitle>
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  StateWise Sales View
                </h3>
              </div>
            </ng-container>
            <div mPortletBody [hidden]="!isToggled"></div>
            <hr /><br />
          <div class="position-relative" style="max-height: 400px;overflow-y: scroll;">
              <div class="table-container">
                <div class="table-responsive">
                  <table class="table-responsive-sm table-bordered table-hover w-100 shadow ">
                    <thead class="thead-dark">
                      <tr class="bg-primary">
                        <th >S.No.</th>
                        <th >Product Name</th>
                        <th >State</th>
                        <th>Primary</th>
                        <th>Collection</th>
                        <th>Outstanding</th>
                        <th>SalesReturn</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td>BELIREST SUSP</td>
                        <td>Uttar Pradesh</td>
                        <td>5445</td>
                        <td>856756</td>
                        <td>234443</td>
                        <td>563</td>
                      </tr>

                      <tr>
                        <td>2.</td>
                        <td>CLAVOSPEY-625 TAB</td>
                        <td>Uttar Pradesh</td>
                        <td>5323</td>
                        <td>987684</td>
                        <td>876564</td>
                        <td>4321</td>
                      </tr>

                      <tr>
                        <td>3.</td>
                        <td>CLAVOSPEY-D SYP</td>
                        <td>Uttar Pradesh</td>
                        <td>9738</td>
                        <td>943875</td>
                        <td>398434</td>
                        <td>1334</td>
                      </tr>

                      <tr>
                        <td>4.</td>
                        <td>CLAVOSPEY-FORTE D SYP</td>
                        <td>Uttar Pradesh</td>
                        <td>6424</td>
                        <td>943875</td>
                        <td>398434</td>
                        <td>4522</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div> 
           
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container> -->

<!--FOr Manager HQWiseProductwise-->
<!-- <ng-container mPortletBody *ngIf="productWiseReportShowMgrHq">
  <div class="m-portlet">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-xl-12">
          <div class="m-widget14">
            <ng-container mPortletHeadTitle>
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  HeadquaterWise Sales View
                </h3>
              </div>
            </ng-container>
            <div mPortletBody [hidden]="!isToggled"></div>
            <hr /><br />
          <div class="position-relative" style="max-height: 400px;overflow-y: scroll;">
              <div class="table-container">
                <div class="table-responsive">
                  <table class="table-responsive-sm table-bordered table-hover w-100 shadow ">
                    <thead class="thead-dark">
                      <tr class="bg-primary">
                        <th rowspan="2">S.No.</th>
                        <th rowspan="2">Product Name</th>
                        <th colspan="4">LUCKNOW</th>
                        <th colspan="4">KANPUR</th>
                        <th colspan="4">AGRA</th>
                      </tr>
                      <tr class="bg-primary">
                        <th>Primary</th>
                        <th>Collection</th>
                        <th>Outstanding</th>
                        <th>SalesReturn</th>

                        <th>Primary</th>
                        <th>Collection</th>
                        <th>Outstanding</th>
                        <th>SalesReturn</th>

                        <th>Primary</th>
                        <th>Collection</th>
                        <th>Outstanding</th>
                        <th>SalesReturn</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td>BELIREST SUSP</td>
                        <td>43873</td>
                        <td>943875</td>
                        <td>398434</td>
                        <td>43983</td>
                        <td>43873</td>
                        <td>943875</td>
                        <td>398434</td>
                        <td>43983</td>
                        <td>43873</td>
                        <td>943875</td>
                        <td>398434</td>
                        <td>43983</td>
                      </tr>

                      <tr>
                        <td>2.</td>
                        <td>CLAVOSPEY-625 TAB</td>
                        <td>43873</td>
                        <td>943875</td>
                        <td>398434</td>
                        <td>43983</td>
                        <td>43873</td>
                        <td>943875</td>
                        <td>398434</td>
                        <td>43983</td>
                        <td>43873</td>
                        <td>943875</td>
                        <td>398434</td>
                        <td>43983</td>
                      </tr>

                      <tr>
                        <td>3.</td>
                        <td>CLAVOSPEY-D SYP</td>
                        <td>43873</td>
                        <td>943875</td>
                        <td>398434</td>
                        <td>43983</td>
                        <td>43873</td>
                        <td>943875</td>
                        <td>398434</td>
                        <td>43983</td>
                        <td>43873</td>
                        <td>943875</td>
                        <td>398434</td>
                        <td>43983</td>
                      </tr>

                      <tr>
                        <td>4.</td>
                        <td>CLAVOSPEY-FORTE D SYP</td>
                        <td>43873</td>
                        <td>943875</td>
                        <td>398434</td>
                        <td>43983</td>
                        <td>43873</td>
                        <td>943875</td>
                        <td>398434</td>
                        <td>43983</td>
                        <td>43873</td>
                        <td>943875</td>
                        <td>398434</td>
                        <td>43983</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div> 
           
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container> -->

<!-- <ng-container mPortletBody *ngIf="stockistWiseReportShowMgrHq">
  <div class="m-portlet">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-xl-12">
          <div class="m-widget14">
            <ng-container mPortletHeadTitle>
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Party Wise Sales View
                </h3>
              </div>
            </ng-container>
            <div mPortletBody [hidden]="!isToggled"></div>
            <hr /><br />
          <div class="position-relative" style="max-height: 400px;overflow-y: scroll;">
              <div class="table-container">
                <div class="table-responsive">
                  <table class="table-responsive-sm table-bordered table-hover w-100 shadow ">
                    <thead class="thead-dark">
                      <tr class="bg-primary">
                        <th >S.No.</th>
                        <th >Party Name</th>
                        <th >Headquarter</th>
                        <th>Primary</th>
                        <th>Collection</th>
                        <th>Outstanding</th>
                        <th>SalesReturn</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td>M/S MADHAV PHARMA</td>
                        <td>LUCKNOW</td>
                        <td>43873</td>
                        <td>943875</td>
                        <td>398434</td>
                        <td>43983</td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>	M/S R.N. MEDICAL STORE</td>
                        <td>KANPUR</td>
                        <td>43873</td>
                        <td>943875</td>
                        <td>398434</td>
                        <td>43983</td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td>NIKHIL CHEMIST</td>
                        <td>AGRA</td>
                        <td>43873</td>
                        <td>943875</td>
                        <td>398434</td>
                        <td>43983</td>
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td>VRINDAVAN PHARMA</td>
                        <td>ARA</td>
                        <td>43873</td>
                        <td>943875</td>
                        <td>398434</td>
                        <td>43983</td>
                      </tr>
                      <tr>
                        <td>5.</td>
                        <td>YAMINI DRUG AGENCY</td>
                        <td>ARA</td>
                        <td>43873</td>
                        <td>943875</td>
                        <td>398434</td>
                        <td>43983</td>
                      </tr>



                    </tbody>
                  </table>
                </div>
              </div>
            </div> 
           
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container> -->


<!--Manager Wise Product wise ManagerLevel-->
<!-- <ng-container mPortletBody *ngIf="productWiseReportShowStateAmountMgr">
  <div class="m-portlet">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-xl-12">
          <div class="m-widget14">
            <ng-container mPortletHeadTitle>
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Manager Wise Sales View
                </h3>
              </div>
            </ng-container>
            <div mPortletBody [hidden]="!isToggled"></div>
            <hr /><br />
          <div class="position-relative" style="max-height: 400px;overflow-y: scroll;">
              <div class="table-container">
                <div class="table-responsive">
                  <table class="table-responsive-sm table-bordered table-hover w-100 shadow ">
                    <thead class="thead-dark">
                      <tr class="bg-primary">
                        <th >S.No.</th>
                        <th >Headquarter</th>
                        <th>Primary</th>
                        <th>Collection</th>
                        <th>Outstanding</th>
                        <th>SalesReturn</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td>AGRA</td>
                        <td>43453.00</td>
                        <td>210000.0</td>
                        <td>354089.09</td>
                        <td>23008.0</td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>JHANSI</td>
                        <td>3053.00</td>
                        <td>210000.0</td>
                        <td>354089.09</td>
                        <td>2877.0</td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td>ALIGARH</td>
                        <td>4353.0</td>
                        <td>179630.0</td>
                        <td>172188.00</td>
                        <td>1530.0</td>
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td>MEERUT</td>
                        <td>0.0</td>
                        <td>179630.0</td>
                        <td>172188.00</td>
                        <td>1607.0</td>
                      </tr>
                      <tr>
                        <td>5.</td>
                        <td>ETAH</td>
                        <td>179630.0</td>
                        <td>100000.0</td>
                        <td>172188.00</td>
                        <td>11108.0</td>
                      </tr>



                    </tbody>
                  </table>
                </div>
              </div>
            </div> 
           
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container> -->


<!--Manager Wise Product wise ManagerLevel-->
<!-- <ng-container mPortletBody *ngIf="productWiseReportShowMgeWise">
  <div class="m-portlet">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-xl-12">
          <div class="m-widget14">
            <ng-container mPortletHeadTitle>
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Manager Wise Sales View
                </h3>
              </div>
            </ng-container>
            <div mPortletBody [hidden]="!isToggled"></div>
            <hr /><br />
          <div class="position-relative" style="max-height: 400px;overflow-y: scroll;">
              <div class="table-container">
                <div class="table-responsive">
                  <table class="table-responsive-sm table-bordered table-hover w-100 shadow ">
                    <thead class="thead-dark">
                      <tr class="bg-primary">
                        <th >S.No.</th>
                        <th >Product Name</th>
                        <th >Headquarter</th>
                        <th>Qty</th>
                        <th>Primary</th>
                        <th>Collection</th>
                        <th>Outstanding</th>
                        <th>SalesReturn</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td>CLAVOSPEY-625 TAB</td>
                        <td>AGRA</td>
                        <td>285</td>
                        <td>43453.00</td>
                        <td>210000.0</td>
                        <td>354089.09</td>
                        <td>23008.0</td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>CLAVOSPEY-D SYP</td>
                        <td>AGRA</td>
                        <td>72</td>
                        <td>3053.00</td>
                        <td>210000.0</td>
                        <td>354089.09</td>
                        <td>2877.0</td>
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td>LESON SYP</td>
                        <td>ALIGARH</td>
                        <td>34</td>
                        <td>4353.0</td>
                        <td>179630.0</td>
                        <td>172188.00</td>
                        <td>1530.0</td>
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td>SPEYZYME TAB</td>
                        <td>ALIGARH</td>
                        <td>119</td>
                        <td>0.0</td>
                        <td>179630.0</td>
                        <td>172188.00</td>
                        <td>1607.0</td>
                      </tr>
                      <tr>
                        <td>5.</td>
                        <td>MATADOR-ADULT SYP</td>
                        <td>ALIGARH</td>
                        <td>4790.0</td>
                        <td>179630.0</td>
                        <td>100000.0</td>
                        <td>172188.00</td>
                        <td>11108.0</td>
                      </tr>



                    </tbody>
                  </table>
                </div>
              </div>
            </div> 
           
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container> -->



<ng-container mPortletBody *ngIf="productWiseReportShowAdminState">
  <div class="m-portlet">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-xl-12">
          <div class="m-widget14">
            <ng-container mPortletHeadTitle>
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Sales View
                </h3>
              </div>
            </ng-container>
            <div mPortletBody [hidden]="!isToggled"></div>
            <hr /><br />
            <!-- <div class="position-relative" style="max-height: 400px;overflow-y: scroll;">
              <div class="table-container">
                <div class="table-responsive">
                  <table class="table table-sm table-bordered table-hover w-100 shadow">
                    <thead class="thead-dark">
                      <tr class="bg-primary">
                        <td>S.No.</td>
                        <td>State</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ans of test; let i=index">
                        <td>{{ans.index}}.</td>
                        <td>{{ans.stateName}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div> -->
            <table #dataTableProdPrimary class="display" style="width:100%"></table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>







