<m-portlet>
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        CRM Doctors Yearly Investment With ROI
      </h3>
    </div>
  </ng-container>

  <div mPortletHeadTools>
    <div>
      <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
    </div>
  </div>

  <ng-container mPortletBody>
    <form [formGroup]='CRMDoctorYearInvestmentWithROI' class="m-form m-form--label-align-left- m-form--state-"
      (ngSubmit)='getRecords()'>
      <div class="m-portlet__body">
        <div class="row">
          <m-reporttype (valueChange)="getReportType($event)"></m-reporttype>
        </div>

        <div class="row">
          <div class="col-xl-12">
            <div class="m-form__section m-form__section--first">
              <div class="form-group m-form__group row">
                <div class="col-lg-3 m-form__group-sub">
                  <m-type (valueChange)="getTypeValue($event)" #callTypeComponent></m-type>
                </div> <!-- TYPE FILTER -->

                <div class="col-lg-3 m-form__group-sub" [hidden]='!showDivisionFilter'>
                  <m-division (valueChange)="getDivisionValue($event)" [check]=true #callDivisionComponent>
                  </m-division>
                </div> <!-- DIVIDION FILTER -->

                <div class="col-lg-3 m-form__group-sub" [hidden]='!stateFilter'>
                  <m-state (valueChange)="getStateValue($event)" [check]=true #callStateComponent>
                  </m-state>
                </div> <!-- STATE FILTER -->

                <div class="col-lg-3 m-form__group-sub" [hidden]='!showHeadquarter'>
                  <m-district (valueChange)="getDistrict($event)" [check]=true #callDistrictComponent>
                  </m-district>
                </div> <!-- HeadQuarter FILTER -->

                <div class="col-lg-3 m-form__group-sub" [hidden]='!employeeFilter'>
                  <m-designation (valueChange)="getDesignation($event)" [check]=true #callDesignationComponent>
                  </m-designation>
                </div> <!-- designation FILTER -->

                <div class="col-lg-3 m-form__group-sub" [hidden]='!employeeFilter'>
                  <m-employee (valueChange)="getEmployee($event)" [check]=true #callEmployeeComponent>
                  </m-employee>
                </div> <!-- Employee FILTER -->

                <div class="col-lg-3 m-form__group-sub">
                  <m-status [check]=true (valueChange)="getStatusValue($event)" #callStatusComponent></m-status>
                </div><!-- STATUS -->

                <div class="col-lg-3 m-form__group-sub">
                  <m-month #monthComponent (valueChange)="getMonth($event)" [check]="true"></m-month>
                </div><!-- Month Filter -->

                <div class="col-lg-3 m-form__group-sub">
                  <m-year #yearComponent (valueChange)="getYear($event)"></m-year>
                </div><!-- Year Filter  -->

                <div class="col-lg-3 m-form__group-sub">
                  <button mat-raised-button color="accent" [disabled]="!CRMDoctorYearInvestmentWithROI.valid"><span><i
                        class="la la-check"></i></span>View Details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</m-portlet>

<ng-container *ngIf="!isToggled">
  <div class="m-portlet">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-xl-12">
          <div class="m-widget14">
            <ng-container mPortletHeadTitle>
              <div class="m-portlet__head-title">

                <h3 class="m-portlet__head-text">
                  CRM Doctors Yearly Investment With ROI
                </h3>
                <br />

              </div>
            </ng-container>
            <div mPortletBody>
              <div class="table">
                <div class="mat-elevation-z8" id="tableId1">
                  <table mat-table [dataSource]='dataSource'>
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> User Name </th>
                      <td mat-cell *matCellDef="let element"> {{element[0].userName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="No">
                      <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">User Name</th>
                    </ng-container>

                    <ng-container matColumnDef="hq">
                      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> </th>
                      <td mat-cell *matCellDef="let element"> {{element[0].providerName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="dist">
                      <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Dr.Name</th>
                    </ng-container>

                    <!-- Name Column  JAN-->
                    <ng-container matColumnDef="INVJan" *ngIf="jan">
                      <th mat-header-cell *matHeaderCellDef> INV </th>
                      <td mat-cell *matCellDef="let element">{{element[0].month.jan ? element.jan.investmentAmount :
                        '---'}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="ROIJan" *ngIf="jan">
                      <th mat-header-cell *matHeaderCellDef> ROI </th>
                      <td mat-cell *matCellDef="let element"> {{(element[0].month.jan && element[0].month.jan.hasOwnProperty('ROI')) ?
                        element[0].month.jan.ROI : '---'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Jan" *ngIf="jan">
                      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> JAN </th>
                    </ng-container>

                    <!-- FEB -->
                    <ng-container matColumnDef="INVFeb" *ngIf="frb">
                      <th mat-header-cell *matHeaderCellDef> INV</th>
                      <td mat-cell *matCellDef="let element"> {{element[0].month.feb ?
                        element[0].month.feb.investmentAmount :
                        '---'}}
                      </td>

                    </ng-container>


                    <ng-container matColumnDef="ROIFeb" *ngIf="frb">
                      <th mat-header-cell *matHeaderCellDef> ROI </th>
                      <td mat-cell *matCellDef="let element"> {{(element[0].month.feb) && element[0].month.feb.hasOwnProperty('ROI') ? element[0].month.feb.ROI :
                        '---'}} </td>

                    </ng-container>

                    <ng-container matColumnDef="Feb" *ngIf="frb">
                      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> FEB </th>
                    </ng-container>

                    <!-- Mar -->
                    <ng-container matColumnDef="INVMar" *ngIf="mar">
                      <th mat-header-cell *matHeaderCellDef> INV</th>
                      <td mat-cell *matCellDef="let element"> {{element[0].month.mar ?
                        element[0].month.mar.investmentAmount :
                        '---'}}
                      </td>

                    </ng-container>


                    <ng-container matColumnDef="ROIMar" *ngIf="mar">
                      <th mat-header-cell *matHeaderCellDef> ROI </th>
                      <td mat-cell *matCellDef="let element"> {{element[0].month.mar && element[0].month.mar.hasOwnProperty('ROI') ? element[0].month.mar.ROI :
                        '---'}} </td>

                    </ng-container>

                    <ng-container matColumnDef="Mar" *ngIf="mar">
                      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> MAR </th>
                    </ng-container> -->

                    <!-- Apr -->
                    <ng-container matColumnDef="INVApr" *ngIf="apr">
                      <th mat-header-cell *matHeaderCellDef> INV </th>
                      <td mat-cell *matCellDef="let element"> {{element[0].month.apr ?
                        element[0].month.apr.investmentAmount :
                        '---'}}
                      </td>

                    </ng-container> -->


                    <ng-container matColumnDef="ROIApr" *ngIf="apr">
                      <th mat-header-cell *matHeaderCellDef> ROI </th>
                      <td mat-cell *matCellDef="let element"> {{element[0].month.apr && element[0].month.apr.hasOwnProperty('ROI') ? element[0].month.apr.ROI :
                        '---'}} </td>

                    </ng-container>

                    <ng-container matColumnDef="Apr" *ngIf="apr">
                      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> APR </th>
                    </ng-container>

                    <!-- May -->
                    <ng-container matColumnDef="INVMay" *ngIf="may">
                      <th mat-header-cell *matHeaderCellDef> INV </th>
                      <td mat-cell *matCellDef="let element"> {{element[0].month.may ?
                        element[0].month.may.investmentAmount :
                        '---'}}
                      </td>

                    </ng-container>


                    <ng-container matColumnDef="ROIMay" *ngIf="may">
                      <th mat-header-cell *matHeaderCellDef> ROI </th>
                      <td mat-cell *matCellDef="let element"> {{element[0].month.may && element[0].month.may.hasOwnProperty('ROI') ? element[0].month.may.ROI :
                        '---'}} </td>

                    </ng-container>

                    <ng-container matColumnDef="May" *ngIf="may">
                      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> MAY </th>
                    </ng-container> -->


                    <!-- June -->
                    <ng-container matColumnDef="INVJun" *ngIf="jun">
                      <th mat-header-cell *matHeaderCellDef> INV </th>
                      <td mat-cell *matCellDef="let element"> {{element[0].month.june ?
                        element[0].month.june.investmentAmount :
                        '---'}} </td>

                    </ng-container>


                    <ng-container matColumnDef="ROIJun" *ngIf="jun">
                      <th mat-header-cell *matHeaderCellDef> ROI </th>
                      <td mat-cell *matCellDef="let element"> {{(element[0].month.june &&
                        element[0].month.june.hasOwnProperty('ROI'))
                        ? element[0].month.june.ROI : '---'}} </td>

                    </ng-container>

                    <ng-container matColumnDef="Jun" *ngIf="jun">
                      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> JUNE </th>
                    </ng-container> -->

                    <!-- July -->
                    <ng-container matColumnDef="INVJul" *ngIf="jul">
                      <th mat-header-cell *matHeaderCellDef> INV </th>
                      <td mat-cell *matCellDef="let element"> {{element[0].month.july ?
                        element[0].month.july.investmentAmount :
                        '---'}} </td>

                    </ng-container>


                    <ng-container matColumnDef="ROIJul" *ngIf="jul">
                      <th mat-header-cell *matHeaderCellDef> ROI </th>
                      <td mat-cell *matCellDef="let element"> {{(element[0].month.july &&
                        element[0].month.july.hasOwnProperty('ROI'))
                        ? element[0].month.july.ROI : '---'}} </td>

                    </ng-container>

                    <ng-container matColumnDef="Jul" *ngIf="jul">
                      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> JUL </th>
                    </ng-container> -->

                    <!-- AUG -->
                    <ng-container matColumnDef="INVAug" ngIf="aug">
                      <th mat-header-cell *matHeaderCellDef> INV </th>
                      <td mat-cell *matCellDef="let element"> {{element[0].month.aug ?
                        element[0].month.aug.investmentAmount :
                        '---'}}
                      </td>

                    </ng-container>


                    <ng-container matColumnDef="ROIAug" *ngIf="aug">
                      <th mat-header-cell *matHeaderCellDef> ROI </th>
                      <td mat-cell *matCellDef="let element">{{element[0].month.aug &&
                        element[0].month.aug.hasOwnProperty('ROI')? element[0].month.aug.ROI : '---'}} </td>

                    </ng-container>

                    <ng-container matColumnDef="Aug" *ngIf="aug">
                      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> AUG </th>
                    </ng-container> -->

                    <!-- SeP -->
                    <ng-container matColumnDef="INVSep" *ngIf="sep">
                      <th mat-header-cell *matHeaderCellDef> INV </th>
                      <td mat-cell *matCellDef="let element"> {{element[0].month.sep ?
                        element[0].month.sep.investmentAmount :
                        '---'}}
                      </td>

                    </ng-container>


                    <ng-container matColumnDef="ROISep" *ngIf="sep">
                      <th mat-header-cell *matHeaderCellDef> ROI </th>
                      <td mat-cell *matCellDef="let element"> {{element[0].month.sep &&
                        element[0].month.sep.hasOwnProperty('ROI')? element[0].month.sep.ROI : '---'}} </td>

                    </ng-container>

                    <ng-container matColumnDef="Sep" *ngIf="sep">
                      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> SEP </th>
                    </ng-container> -->

                    <!-- OCT -->
                    <ng-container matColumnDef="INVOct" *ngIf="oct">
                      <th mat-header-cell *matHeaderCellDef> INV </th>
                      <td mat-cell *matCellDef="let element"> {{element[0].month.oct ?
                        element[0].month.oct.investmentAmount :
                        '---'}}
                      </td>

                    </ng-container>


                    <ng-container matColumnDef="ROIOct" *ngIf="oct">
                      <th mat-header-cell *matHeaderCellDef> ROI </th>
                      <td mat-cell *matCellDef="let element"> {{element[0].month.oct &&
                        element[0].month.oct.hasOwnProperty('ROI') ? element[0].month.oct.ROI : '---'}} </td>

                    </ng-container>

                    <ng-container matColumnDef="Oct" *ngIf="oct">
                      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> OCT </th>
                    </ng-container> -->

                    <!-- NoV -->
                    <ng-container matColumnDef="INVNov" *ngIf="nov">
                      <th mat-header-cell *matHeaderCellDef> INV </th>
                      <td mat-cell *matCellDef="let element"> {{element[0].month.nov ?
                        element[0].month.nov.investmentAmount :
                        '---'}}
                      </td>

                    </ng-container>


                    <ng-container matColumnDef="ROINov" *ngIf="nov">
                      <th mat-header-cell *matHeaderCellDef> ROI </th>
                      <td mat-cell *matCellDef="let element"> {{element[0].month.nov &&
                        element[0].month.nov.hasOwnProperty('ROI')? element[0].month.nov.ROI : '---'}} </td>

                    </ng-container>

                    <ng-container matColumnDef="Nov" *ngIf="nov">
                      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> NOV </th>
                    </ng-container> -->

                    <!-- DEC -->
                    <ng-container matColumnDef="INVDec" *ngIf="dec">
                      <th mat-header-cell *matHeaderCellDef> INV </th>
                      <td mat-cell *matCellDef="let element"> {{element[0].month.dec ?
                        element[0].month.dec.investmentAmount :
                        '---'}}
                      </td>

                    </ng-container>


                    <ng-container matColumnDef="ROIDec" *ngIf="dec">
                      <th mat-header-cell *matHeaderCellDef> ROI </th>
                      <td mat-cell *matCellDef="let element"> {{element[0].month.dec &&
                        element[0].month.dec.hasOwnProperty('ROI')? element[0].month.dec.ROI : '---'}} </td>

                    </ng-container>

                    <ng-container matColumnDef="Dec" *ngIf="dec">
                      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> DEC </th>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef=arr>
                    </tr>
                    <tr mat-header-row *matHeaderRowDef="displayedColoums"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColoums;"></tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-container>

<div class="col-xl-12" *ngIf="showProcessing" align="center">
  <img src="assets/app/media/img/processing/loading.gif" />
</div>