<m-portlet [options]="{enableSticky: true}">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Sample Issue Detail Report Date Wise
            </h3>
        </div>
    </ng-container>
    <div mPortletHeadTools>
        <div>
            <mat-slide-toggle [checked]="isToggled" (change)="toggleFilter($event)">Filter</mat-slide-toggle>
        </div>
    </div>
    <div mPortletBody [hidden]="!isToggled">
        <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="giftForm" (ngSubmit)="giftDetails()">
            <!--begin: Form Body -->
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="m-form__section m-form__section--first">

                            <div class="form-group m-form__group row">

                                <div class="col-lg-3 m-form__group-sub" [hidden]="!isShowDivision">
                                    <m-division (valueChange)="getDivisionValue($event)" #callDivisionComponent></m-division>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-designation (valueChange)="getDesignation($event)" #callDesignationComponent [check]=false>
                                    </m-designation>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-employee (valueChange)="getEmployeeValue($event)" #callEmployeeComponent [check]=false></m-employee>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <mat-form-field style="width: 100%">
                                        <mat-select multiple placeholder="Get Report Of *" formControlName="providerType">
                                            <mat-option *ngFor="let n of providerTypes" (onSelectionChange)="updateChkbxArray(n,$event.source._selected)" value="n">
                                                {{n}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <m-month #monthComponent (valueChange)="getFromDate($event)"></m-month>
                                </div>
                                <div class="col-lg-3 m-form__group-sub">
                                    <m-year #yearComponent (valueChange)="getToDate($event)"></m-year>
                                </div>

                                <div class="col-lg-3 m-form__group-sub">
                                    <button mat-raised-button color="accent" [disabled]="!giftForm.valid"><span><i class="la la-check"></i></span>View Data</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="m-portlet__foot m-portlet__foot--fit">
            </div>
        </form>
    </div>
</m-portlet>
<ng-container>
    <div class="col-xl-12" *ngIf="showProcessing" align="center">
        <img src="assets/app/media/img/processing/loading.gif">
    </div>
</ng-container>
<div class="m-portlet" [hidden]="!isShowUsersInfo">
    <div class="m-portlet__body m-portlet__body--no-padding">
        <div class="row m-row--no-padding m-row--col-separator-xl">
            <div class="col-xl-12">
                <div class="m-widget14">
                    <ng-container mPortletHeadTitle>
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Sample Details
                            </h3>
                        </div>
                    </ng-container>
                    <hr /><br />

                    <table #userDataTable class="display" style="width:100%">

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>